/*
OPERA Cloud Integration Processor API

APIs to get Business Events generated in OPERA Cloud.<br /><br /> Compatible with OPERA Cloud release 22.3.0.0.<br /><br /><p> This document and all content within is available under the Universal Permissive License v 1.0 (https://oss.oracle.com/licenses/upl). Copyright (c) 2020, 2022 Oracle and/or its affiliates.</p>

API version: 22.3.0.0
Contact: hospitality_apis_ww_grp@oracle.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package int

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// IntegrationProcessorApiService IntegrationProcessorApi service
type IntegrationProcessorApiService service

type IntegrationProcessorApiGetBusinessEventsRequest struct {
	ctx context.Context
	ApiService *IntegrationProcessorApiService
	hotelId string
	extSystemCode string
	authorization *string
	xAppKey *string
	xHotelid *string
	limit *int32
	xExternalsystem *string
	acceptLanguage *string
}

// Bearer token that needs to be passed which is generated post user authentication
func (r IntegrationProcessorApiGetBusinessEventsRequest) Authorization(authorization string) IntegrationProcessorApiGetBusinessEventsRequest {
	r.authorization = &authorization
	return r
}

// Client or Partner’s Application Key
func (r IntegrationProcessorApiGetBusinessEventsRequest) XAppKey(xAppKey string) IntegrationProcessorApiGetBusinessEventsRequest {
	r.xAppKey = &xAppKey
	return r
}

// Mandatory parameter to identify the hotel code where the end user is logged in
func (r IntegrationProcessorApiGetBusinessEventsRequest) XHotelid(xHotelid string) IntegrationProcessorApiGetBusinessEventsRequest {
	r.xHotelid = &xHotelid
	return r
}

// Number of messages web service should dequeue from the BE queue.
func (r IntegrationProcessorApiGetBusinessEventsRequest) Limit(limit int32) IntegrationProcessorApiGetBusinessEventsRequest {
	r.limit = &limit
	return r
}

// External system code.
func (r IntegrationProcessorApiGetBusinessEventsRequest) XExternalsystem(xExternalsystem string) IntegrationProcessorApiGetBusinessEventsRequest {
	r.xExternalsystem = &xExternalsystem
	return r
}

// Language code
func (r IntegrationProcessorApiGetBusinessEventsRequest) AcceptLanguage(acceptLanguage string) IntegrationProcessorApiGetBusinessEventsRequest {
	r.acceptLanguage = &acceptLanguage
	return r
}

func (r IntegrationProcessorApiGetBusinessEventsRequest) Execute() (*BusinessEvents, *http.Response, error) {
	return r.ApiService.GetBusinessEventsExecute(r)
}

/*
GetBusinessEvents Get Business Events by External System and Hotel ID

Business Event messages will be placed in a queue. Use this API to fetch the Business Event messages based on External System and Hotel ID. In order to get property specific business event messages, you need to create a unique consumer code (Toolbox > External Database) for the External System and the Property. <p><strong>OperationId:</strong>getBusinessEvents</p>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param hotelId Unique OPERA Hotel code
 @param extSystemCode External system code which will be used to dequeue the events.
 @return IntegrationProcessorApiGetBusinessEventsRequest
*/
func (a *IntegrationProcessorApiService) GetBusinessEvents(ctx context.Context, hotelId string, extSystemCode string) IntegrationProcessorApiGetBusinessEventsRequest {
	return IntegrationProcessorApiGetBusinessEventsRequest{
		ApiService: a,
		ctx: ctx,
		hotelId: hotelId,
		extSystemCode: extSystemCode,
	}
}

// Execute executes the request
//  @return BusinessEvents
func (a *IntegrationProcessorApiService) GetBusinessEventsExecute(r IntegrationProcessorApiGetBusinessEventsRequest) (*BusinessEvents, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *BusinessEvents
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IntegrationProcessorApiService.GetBusinessEvents")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/externalSystem/{extSystemCode}/hotels/{hotelId}/businessEvents"
	localVarPath = strings.Replace(localVarPath, "{"+"hotelId"+"}", url.PathEscape(parameterValueToString(r.hotelId, "hotelId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"extSystemCode"+"}", url.PathEscape(parameterValueToString(r.extSystemCode, "extSystemCode")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if strlen(r.hotelId) < 1 {
		return localVarReturnValue, nil, reportError("hotelId must have at least 1 elements")
	}
	if strlen(r.hotelId) > 2000 {
		return localVarReturnValue, nil, reportError("hotelId must have less than 2000 elements")
	}
	if strlen(r.extSystemCode) < 1 {
		return localVarReturnValue, nil, reportError("extSystemCode must have at least 1 elements")
	}
	if strlen(r.extSystemCode) > 2000 {
		return localVarReturnValue, nil, reportError("extSystemCode must have less than 2000 elements")
	}

	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json;charset=UTF-8", "application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xExternalsystem != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-externalsystem", r.xExternalsystem, "")
	}
	if r.acceptLanguage != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accept-Language", r.acceptLanguage, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type IntegrationProcessorApiGetBusinessEventsByExternalSystemRequest struct {
	ctx context.Context
	ApiService *IntegrationProcessorApiService
	extSystemCode string
	authorization *string
	xAppKey *string
	xHotelid *string
	limit *int32
	xExternalsystem *string
	acceptLanguage *string
}

// Bearer token that needs to be passed which is generated post user authentication
func (r IntegrationProcessorApiGetBusinessEventsByExternalSystemRequest) Authorization(authorization string) IntegrationProcessorApiGetBusinessEventsByExternalSystemRequest {
	r.authorization = &authorization
	return r
}

// Client or Partner’s Application Key
func (r IntegrationProcessorApiGetBusinessEventsByExternalSystemRequest) XAppKey(xAppKey string) IntegrationProcessorApiGetBusinessEventsByExternalSystemRequest {
	r.xAppKey = &xAppKey
	return r
}

// Mandatory parameter to identify the hotel code where the end user is logged in
func (r IntegrationProcessorApiGetBusinessEventsByExternalSystemRequest) XHotelid(xHotelid string) IntegrationProcessorApiGetBusinessEventsByExternalSystemRequest {
	r.xHotelid = &xHotelid
	return r
}

// Number of messages web service should dequeue from the BE queue.
func (r IntegrationProcessorApiGetBusinessEventsByExternalSystemRequest) Limit(limit int32) IntegrationProcessorApiGetBusinessEventsByExternalSystemRequest {
	r.limit = &limit
	return r
}

// External system code.
func (r IntegrationProcessorApiGetBusinessEventsByExternalSystemRequest) XExternalsystem(xExternalsystem string) IntegrationProcessorApiGetBusinessEventsByExternalSystemRequest {
	r.xExternalsystem = &xExternalsystem
	return r
}

// Language code
func (r IntegrationProcessorApiGetBusinessEventsByExternalSystemRequest) AcceptLanguage(acceptLanguage string) IntegrationProcessorApiGetBusinessEventsByExternalSystemRequest {
	r.acceptLanguage = &acceptLanguage
	return r
}

func (r IntegrationProcessorApiGetBusinessEventsByExternalSystemRequest) Execute() (*BusinessEvents, *http.Response, error) {
	return r.ApiService.GetBusinessEventsByExternalSystemExecute(r)
}

/*
GetBusinessEventsByExternalSystem Get Business Events by External System

Business Event messages will be placed in a queue. Use this API to fetch the Business Event messages based on External System. <p><strong>OperationId:</strong>getBusinessEventsByExternalSystem</p>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param extSystemCode External system code which will be used to dequeue the events
 @return IntegrationProcessorApiGetBusinessEventsByExternalSystemRequest
*/
func (a *IntegrationProcessorApiService) GetBusinessEventsByExternalSystem(ctx context.Context, extSystemCode string) IntegrationProcessorApiGetBusinessEventsByExternalSystemRequest {
	return IntegrationProcessorApiGetBusinessEventsByExternalSystemRequest{
		ApiService: a,
		ctx: ctx,
		extSystemCode: extSystemCode,
	}
}

// Execute executes the request
//  @return BusinessEvents
func (a *IntegrationProcessorApiService) GetBusinessEventsByExternalSystemExecute(r IntegrationProcessorApiGetBusinessEventsByExternalSystemRequest) (*BusinessEvents, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *BusinessEvents
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IntegrationProcessorApiService.GetBusinessEventsByExternalSystem")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/externalSystem/{extSystemCode}/businessEvents"
	localVarPath = strings.Replace(localVarPath, "{"+"extSystemCode"+"}", url.PathEscape(parameterValueToString(r.extSystemCode, "extSystemCode")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if strlen(r.extSystemCode) < 1 {
		return localVarReturnValue, nil, reportError("extSystemCode must have at least 1 elements")
	}
	if strlen(r.extSystemCode) > 2000 {
		return localVarReturnValue, nil, reportError("extSystemCode must have less than 2000 elements")
	}

	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json;charset=UTF-8", "application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xExternalsystem != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-externalsystem", r.xExternalsystem, "")
	}
	if r.acceptLanguage != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accept-Language", r.acceptLanguage, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
