/*
OPERA Cloud Front Desk Configuration API

APIs to cater for Front Desk Configuration in OPERA Cloud. Here you can find operations to get, post, put and delete front desk codes such as commission codes, transaction groups, codes & subgroups, articles, payment methods and credit card types.<br /><br /> Compatible with OPERA Cloud release 23.2.<br /><br /><p> This document and all content within is available under the Universal Permissive License v 1.0 (https://oss.oracle.com/licenses/upl). Copyright (c) 2020, 2023 Oracle and/or its affiliates.</p>

API version: 23.2
Contact: hospitality_apis_ww_grp@oracle.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package fofcfg

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"reflect"
)


// CashieringConfigApiService CashieringConfigApi service
type CashieringConfigApiService service

type CashieringConfigApiCalculatePostingRequest struct {
	ctx context.Context
	ApiService *CashieringConfigApiService
	transactionCode string
	hotelId string
	authorization *string
	xAppKey *string
	xHotelid *string
	postingAmount *float32
	taxType *string
	guestBalance *float32
	roomType *string
	xExternalsystem *string
	acceptLanguage *string
}

// Bearer token that needs to be passed which is generated post user authentication
func (r CashieringConfigApiCalculatePostingRequest) Authorization(authorization string) CashieringConfigApiCalculatePostingRequest {
	r.authorization = &authorization
	return r
}

// Client or Partner&#39;s Application Key
func (r CashieringConfigApiCalculatePostingRequest) XAppKey(xAppKey string) CashieringConfigApiCalculatePostingRequest {
	r.xAppKey = &xAppKey
	return r
}

// Mandatory parameter to identify the hotel code where the end user is logged in
func (r CashieringConfigApiCalculatePostingRequest) XHotelid(xHotelid string) CashieringConfigApiCalculatePostingRequest {
	r.xHotelid = &xHotelid
	return r
}

// Base amount to test for posting.
func (r CashieringConfigApiCalculatePostingRequest) PostingAmount(postingAmount float32) CashieringConfigApiCalculatePostingRequest {
	r.postingAmount = &postingAmount
	return r
}

// Specify this criteria if calculation is based on the tax type.
func (r CashieringConfigApiCalculatePostingRequest) TaxType(taxType string) CashieringConfigApiCalculatePostingRequest {
	r.taxType = &taxType
	return r
}

// Specify this criteria if calculation is based on the guest balance.
func (r CashieringConfigApiCalculatePostingRequest) GuestBalance(guestBalance float32) CashieringConfigApiCalculatePostingRequest {
	r.guestBalance = &guestBalance
	return r
}

// Specify this criteria if calculation is based on room type.
func (r CashieringConfigApiCalculatePostingRequest) RoomType(roomType string) CashieringConfigApiCalculatePostingRequest {
	r.roomType = &roomType
	return r
}

// External system code.
func (r CashieringConfigApiCalculatePostingRequest) XExternalsystem(xExternalsystem string) CashieringConfigApiCalculatePostingRequest {
	r.xExternalsystem = &xExternalsystem
	return r
}

// Language code
func (r CashieringConfigApiCalculatePostingRequest) AcceptLanguage(acceptLanguage string) CashieringConfigApiCalculatePostingRequest {
	r.acceptLanguage = &acceptLanguage
	return r
}

func (r CashieringConfigApiCalculatePostingRequest) Execute() (*CalculatedPosting, *http.Response, error) {
	return r.ApiService.CalculatePostingExecute(r)
}

/*
CalculatePosting Operation to CalculatePosting.

Operation to test posting amount. <p><strong>OperationId:</strong>calculatePosting</p>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param transactionCode Transaction Code in OPERA
 @param hotelId Unique ID of the hotel in OPERA
 @return CashieringConfigApiCalculatePostingRequest
*/
func (a *CashieringConfigApiService) CalculatePosting(ctx context.Context, transactionCode string, hotelId string) CashieringConfigApiCalculatePostingRequest {
	return CashieringConfigApiCalculatePostingRequest{
		ApiService: a,
		ctx: ctx,
		transactionCode: transactionCode,
		hotelId: hotelId,
	}
}

// Execute executes the request
//  @return CalculatedPosting
func (a *CashieringConfigApiService) CalculatePostingExecute(r CashieringConfigApiCalculatePostingRequest) (*CalculatedPosting, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CalculatedPosting
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CashieringConfigApiService.CalculatePosting")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/hotels/{hotelId}/transactionCodes/{transactionCode}/chargeSimulations"
	localVarPath = strings.Replace(localVarPath, "{"+"transactionCode"+"}", url.PathEscape(parameterValueToString(r.transactionCode, "transactionCode")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"hotelId"+"}", url.PathEscape(parameterValueToString(r.hotelId, "hotelId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if strlen(r.transactionCode) < 1 {
		return localVarReturnValue, nil, reportError("transactionCode must have at least 1 elements")
	}
	if strlen(r.transactionCode) > 2000 {
		return localVarReturnValue, nil, reportError("transactionCode must have less than 2000 elements")
	}
	if strlen(r.hotelId) < 1 {
		return localVarReturnValue, nil, reportError("hotelId must have at least 1 elements")
	}
	if strlen(r.hotelId) > 2000 {
		return localVarReturnValue, nil, reportError("hotelId must have less than 2000 elements")
	}

	if r.postingAmount != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "postingAmount", r.postingAmount, "")
	}
	if r.taxType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "taxType", r.taxType, "")
	}
	if r.guestBalance != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "guestBalance", r.guestBalance, "")
	}
	if r.roomType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "roomType", r.roomType, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json;charset=UTF-8"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xExternalsystem != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-externalsystem", r.xExternalsystem, "")
	}
	if r.acceptLanguage != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accept-Language", r.acceptLanguage, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CashieringConfigApiChangeCompTypesRequest struct {
	ctx context.Context
	ApiService *CashieringConfigApiService
	authorization *string
	xAppKey *string
	xHotelid *string
	compTypesToBeChanged *ChangeCompTypesRequest
	xExternalsystem *string
	acceptLanguage *string
}

// Bearer token that needs to be passed which is generated post user authentication
func (r CashieringConfigApiChangeCompTypesRequest) Authorization(authorization string) CashieringConfigApiChangeCompTypesRequest {
	r.authorization = &authorization
	return r
}

// Client or Partner&#39;s Application Key
func (r CashieringConfigApiChangeCompTypesRequest) XAppKey(xAppKey string) CashieringConfigApiChangeCompTypesRequest {
	r.xAppKey = &xAppKey
	return r
}

// Mandatory parameter to identify the hotel code where the end user is logged in
func (r CashieringConfigApiChangeCompTypesRequest) XHotelid(xHotelid string) CashieringConfigApiChangeCompTypesRequest {
	r.xHotelid = &xHotelid
	return r
}

// Request object for changing Comp Types.
func (r CashieringConfigApiChangeCompTypesRequest) CompTypesToBeChanged(compTypesToBeChanged ChangeCompTypesRequest) CashieringConfigApiChangeCompTypesRequest {
	r.compTypesToBeChanged = &compTypesToBeChanged
	return r
}

// External system code.
func (r CashieringConfigApiChangeCompTypesRequest) XExternalsystem(xExternalsystem string) CashieringConfigApiChangeCompTypesRequest {
	r.xExternalsystem = &xExternalsystem
	return r
}

// Language code
func (r CashieringConfigApiChangeCompTypesRequest) AcceptLanguage(acceptLanguage string) CashieringConfigApiChangeCompTypesRequest {
	r.acceptLanguage = &acceptLanguage
	return r
}

func (r CashieringConfigApiChangeCompTypesRequest) Execute() (*CompTypesStatus, *http.Response, error) {
	return r.ApiService.ChangeCompTypesExecute(r)
}

/*
ChangeCompTypes Operation to Change Comp Types.

Operation to Change Comp Types. <p><strong>OperationId:</strong>changeCompTypes</p>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return CashieringConfigApiChangeCompTypesRequest
*/
func (a *CashieringConfigApiService) ChangeCompTypes(ctx context.Context) CashieringConfigApiChangeCompTypesRequest {
	return CashieringConfigApiChangeCompTypesRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return CompTypesStatus
func (a *CashieringConfigApiService) ChangeCompTypesExecute(r CashieringConfigApiChangeCompTypesRequest) (*CompTypesStatus, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CompTypesStatus
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CashieringConfigApiService.ChangeCompTypes")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/compTypes"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json;charset=UTF-8"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json;charset=UTF-8"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xExternalsystem != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-externalsystem", r.xExternalsystem, "")
	}
	if r.acceptLanguage != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accept-Language", r.acceptLanguage, "")
	}
	// body params
	localVarPostBody = r.compTypesToBeChanged
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CashieringConfigApiChangeFiscalCommandsRequest struct {
	ctx context.Context
	ApiService *CashieringConfigApiService
	hotelId string
	authorization *string
	xAppKey *string
	xHotelid *string
	changeFiscalCommands *ChangeFiscalCommandsRequest
	xExternalsystem *string
	acceptLanguage *string
}

// Bearer token that needs to be passed which is generated post user authentication
func (r CashieringConfigApiChangeFiscalCommandsRequest) Authorization(authorization string) CashieringConfigApiChangeFiscalCommandsRequest {
	r.authorization = &authorization
	return r
}

// Client or Partner&#39;s Application Key
func (r CashieringConfigApiChangeFiscalCommandsRequest) XAppKey(xAppKey string) CashieringConfigApiChangeFiscalCommandsRequest {
	r.xAppKey = &xAppKey
	return r
}

// Mandatory parameter to identify the hotel code where the end user is logged in
func (r CashieringConfigApiChangeFiscalCommandsRequest) XHotelid(xHotelid string) CashieringConfigApiChangeFiscalCommandsRequest {
	r.xHotelid = &xHotelid
	return r
}

// Request to update existing Fiscal Command.
func (r CashieringConfigApiChangeFiscalCommandsRequest) ChangeFiscalCommands(changeFiscalCommands ChangeFiscalCommandsRequest) CashieringConfigApiChangeFiscalCommandsRequest {
	r.changeFiscalCommands = &changeFiscalCommands
	return r
}

// External system code.
func (r CashieringConfigApiChangeFiscalCommandsRequest) XExternalsystem(xExternalsystem string) CashieringConfigApiChangeFiscalCommandsRequest {
	r.xExternalsystem = &xExternalsystem
	return r
}

// Language code
func (r CashieringConfigApiChangeFiscalCommandsRequest) AcceptLanguage(acceptLanguage string) CashieringConfigApiChangeFiscalCommandsRequest {
	r.acceptLanguage = &acceptLanguage
	return r
}

func (r CashieringConfigApiChangeFiscalCommandsRequest) Execute() (*Status, *http.Response, error) {
	return r.ApiService.ChangeFiscalCommandsExecute(r)
}

/*
ChangeFiscalCommands Change configuration fiscal commands

Use this API to update configuration fiscal commands. <p><strong>OperationId:</strong>changeFiscalCommands</p>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param hotelId Unique ID of hotel.
 @return CashieringConfigApiChangeFiscalCommandsRequest
*/
func (a *CashieringConfigApiService) ChangeFiscalCommands(ctx context.Context, hotelId string) CashieringConfigApiChangeFiscalCommandsRequest {
	return CashieringConfigApiChangeFiscalCommandsRequest{
		ApiService: a,
		ctx: ctx,
		hotelId: hotelId,
	}
}

// Execute executes the request
//  @return Status
func (a *CashieringConfigApiService) ChangeFiscalCommandsExecute(r CashieringConfigApiChangeFiscalCommandsRequest) (*Status, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *Status
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CashieringConfigApiService.ChangeFiscalCommands")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/hotels/{hotelId}/fiscalCommands"
	localVarPath = strings.Replace(localVarPath, "{"+"hotelId"+"}", url.PathEscape(parameterValueToString(r.hotelId, "hotelId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if strlen(r.hotelId) < 1 {
		return localVarReturnValue, nil, reportError("hotelId must have at least 1 elements")
	}
	if strlen(r.hotelId) > 2000 {
		return localVarReturnValue, nil, reportError("hotelId must have less than 2000 elements")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json;charset=UTF-8"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json;charset=UTF-8"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xExternalsystem != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-externalsystem", r.xExternalsystem, "")
	}
	if r.acceptLanguage != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accept-Language", r.acceptLanguage, "")
	}
	// body params
	localVarPostBody = r.changeFiscalCommands
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CashieringConfigApiChangeFiscalPartnersRequest struct {
	ctx context.Context
	ApiService *CashieringConfigApiService
	hotelId string
	authorization *string
	xAppKey *string
	xHotelid *string
	changeFiscalPartners *ChangeFiscalPartnersRequest
	xExternalsystem *string
	acceptLanguage *string
}

// Bearer token that needs to be passed which is generated post user authentication
func (r CashieringConfigApiChangeFiscalPartnersRequest) Authorization(authorization string) CashieringConfigApiChangeFiscalPartnersRequest {
	r.authorization = &authorization
	return r
}

// Client or Partner&#39;s Application Key
func (r CashieringConfigApiChangeFiscalPartnersRequest) XAppKey(xAppKey string) CashieringConfigApiChangeFiscalPartnersRequest {
	r.xAppKey = &xAppKey
	return r
}

// Mandatory parameter to identify the hotel code where the end user is logged in
func (r CashieringConfigApiChangeFiscalPartnersRequest) XHotelid(xHotelid string) CashieringConfigApiChangeFiscalPartnersRequest {
	r.xHotelid = &xHotelid
	return r
}

// Request object to change Fiscal Partners.
func (r CashieringConfigApiChangeFiscalPartnersRequest) ChangeFiscalPartners(changeFiscalPartners ChangeFiscalPartnersRequest) CashieringConfigApiChangeFiscalPartnersRequest {
	r.changeFiscalPartners = &changeFiscalPartners
	return r
}

// External system code.
func (r CashieringConfigApiChangeFiscalPartnersRequest) XExternalsystem(xExternalsystem string) CashieringConfigApiChangeFiscalPartnersRequest {
	r.xExternalsystem = &xExternalsystem
	return r
}

// Language code
func (r CashieringConfigApiChangeFiscalPartnersRequest) AcceptLanguage(acceptLanguage string) CashieringConfigApiChangeFiscalPartnersRequest {
	r.acceptLanguage = &acceptLanguage
	return r
}

func (r CashieringConfigApiChangeFiscalPartnersRequest) Execute() (*Status, *http.Response, error) {
	return r.ApiService.ChangeFiscalPartnersExecute(r)
}

/*
ChangeFiscalPartners Change configuration fiscal partners

Use this API to update configuration fiscal partners. <p><strong>OperationId:</strong>changeFiscalPartners</p>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param hotelId Unique ID of hotel.
 @return CashieringConfigApiChangeFiscalPartnersRequest
*/
func (a *CashieringConfigApiService) ChangeFiscalPartners(ctx context.Context, hotelId string) CashieringConfigApiChangeFiscalPartnersRequest {
	return CashieringConfigApiChangeFiscalPartnersRequest{
		ApiService: a,
		ctx: ctx,
		hotelId: hotelId,
	}
}

// Execute executes the request
//  @return Status
func (a *CashieringConfigApiService) ChangeFiscalPartnersExecute(r CashieringConfigApiChangeFiscalPartnersRequest) (*Status, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *Status
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CashieringConfigApiService.ChangeFiscalPartners")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/hotels/{hotelId}/fiscalPartners"
	localVarPath = strings.Replace(localVarPath, "{"+"hotelId"+"}", url.PathEscape(parameterValueToString(r.hotelId, "hotelId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if strlen(r.hotelId) < 1 {
		return localVarReturnValue, nil, reportError("hotelId must have at least 1 elements")
	}
	if strlen(r.hotelId) > 2000 {
		return localVarReturnValue, nil, reportError("hotelId must have less than 2000 elements")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json;charset=UTF-8"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json;charset=UTF-8"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xExternalsystem != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-externalsystem", r.xExternalsystem, "")
	}
	if r.acceptLanguage != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accept-Language", r.acceptLanguage, "")
	}
	// body params
	localVarPostBody = r.changeFiscalPartners
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CashieringConfigApiChangeFolioTypeLegendMappingConfigRequest struct {
	ctx context.Context
	ApiService *CashieringConfigApiService
	authorization *string
	xAppKey *string
	xHotelid *string
	folioTypeLegendMappingConfigToBeChanged *ChangeFolioTypeLegendMappingConfigRequest
	xExternalsystem *string
	acceptLanguage *string
}

// Bearer token that needs to be passed which is generated post user authentication
func (r CashieringConfigApiChangeFolioTypeLegendMappingConfigRequest) Authorization(authorization string) CashieringConfigApiChangeFolioTypeLegendMappingConfigRequest {
	r.authorization = &authorization
	return r
}

// Client or Partner&#39;s Application Key
func (r CashieringConfigApiChangeFolioTypeLegendMappingConfigRequest) XAppKey(xAppKey string) CashieringConfigApiChangeFolioTypeLegendMappingConfigRequest {
	r.xAppKey = &xAppKey
	return r
}

// Mandatory parameter to identify the hotel code where the end user is logged in
func (r CashieringConfigApiChangeFolioTypeLegendMappingConfigRequest) XHotelid(xHotelid string) CashieringConfigApiChangeFolioTypeLegendMappingConfigRequest {
	r.xHotelid = &xHotelid
	return r
}

// Request object to edit folio type legend mapping information.
func (r CashieringConfigApiChangeFolioTypeLegendMappingConfigRequest) FolioTypeLegendMappingConfigToBeChanged(folioTypeLegendMappingConfigToBeChanged ChangeFolioTypeLegendMappingConfigRequest) CashieringConfigApiChangeFolioTypeLegendMappingConfigRequest {
	r.folioTypeLegendMappingConfigToBeChanged = &folioTypeLegendMappingConfigToBeChanged
	return r
}

// External system code.
func (r CashieringConfigApiChangeFolioTypeLegendMappingConfigRequest) XExternalsystem(xExternalsystem string) CashieringConfigApiChangeFolioTypeLegendMappingConfigRequest {
	r.xExternalsystem = &xExternalsystem
	return r
}

// Language code
func (r CashieringConfigApiChangeFolioTypeLegendMappingConfigRequest) AcceptLanguage(acceptLanguage string) CashieringConfigApiChangeFolioTypeLegendMappingConfigRequest {
	r.acceptLanguage = &acceptLanguage
	return r
}

func (r CashieringConfigApiChangeFolioTypeLegendMappingConfigRequest) Execute() (*FolioTypeLegendMappingConfigStatus, *http.Response, error) {
	return r.ApiService.ChangeFolioTypeLegendMappingConfigExecute(r)
}

/*
ChangeFolioTypeLegendMappingConfig Operation to change folio type legend mappings config.

Operation to change folio type legend mappings config. <p><strong>OperationId:</strong>changeFolioTypeLegendMappingConfig</p>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return CashieringConfigApiChangeFolioTypeLegendMappingConfigRequest
*/
func (a *CashieringConfigApiService) ChangeFolioTypeLegendMappingConfig(ctx context.Context) CashieringConfigApiChangeFolioTypeLegendMappingConfigRequest {
	return CashieringConfigApiChangeFolioTypeLegendMappingConfigRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return FolioTypeLegendMappingConfigStatus
func (a *CashieringConfigApiService) ChangeFolioTypeLegendMappingConfigExecute(r CashieringConfigApiChangeFolioTypeLegendMappingConfigRequest) (*FolioTypeLegendMappingConfigStatus, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *FolioTypeLegendMappingConfigStatus
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CashieringConfigApiService.ChangeFolioTypeLegendMappingConfig")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/folioTypeLegendMappings"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json;charset=UTF-8"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json;charset=UTF-8"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xExternalsystem != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-externalsystem", r.xExternalsystem, "")
	}
	if r.acceptLanguage != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accept-Language", r.acceptLanguage, "")
	}
	// body params
	localVarPostBody = r.folioTypeLegendMappingConfigToBeChanged
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CashieringConfigApiCopyAdjustmentCodesRequest struct {
	ctx context.Context
	ApiService *CashieringConfigApiService
	authorization *string
	xAppKey *string
	xHotelid *string
	adjustmentCodesCopy *CopyAdjustmentCodesRequest
	xExternalsystem *string
	acceptLanguage *string
}

// Bearer token that needs to be passed which is generated post user authentication
func (r CashieringConfigApiCopyAdjustmentCodesRequest) Authorization(authorization string) CashieringConfigApiCopyAdjustmentCodesRequest {
	r.authorization = &authorization
	return r
}

// Client or Partner&#39;s Application Key
func (r CashieringConfigApiCopyAdjustmentCodesRequest) XAppKey(xAppKey string) CashieringConfigApiCopyAdjustmentCodesRequest {
	r.xAppKey = &xAppKey
	return r
}

// Mandatory parameter to identify the hotel code where the end user is logged in
func (r CashieringConfigApiCopyAdjustmentCodesRequest) XHotelid(xHotelid string) CashieringConfigApiCopyAdjustmentCodesRequest {
	r.xHotelid = &xHotelid
	return r
}

// List of the Adjustment Codes to be copied.
func (r CashieringConfigApiCopyAdjustmentCodesRequest) AdjustmentCodesCopy(adjustmentCodesCopy CopyAdjustmentCodesRequest) CashieringConfigApiCopyAdjustmentCodesRequest {
	r.adjustmentCodesCopy = &adjustmentCodesCopy
	return r
}

// External system code.
func (r CashieringConfigApiCopyAdjustmentCodesRequest) XExternalsystem(xExternalsystem string) CashieringConfigApiCopyAdjustmentCodesRequest {
	r.xExternalsystem = &xExternalsystem
	return r
}

// Language code
func (r CashieringConfigApiCopyAdjustmentCodesRequest) AcceptLanguage(acceptLanguage string) CashieringConfigApiCopyAdjustmentCodesRequest {
	r.acceptLanguage = &acceptLanguage
	return r
}

func (r CashieringConfigApiCopyAdjustmentCodesRequest) Execute() (*Status, *http.Response, error) {
	return r.ApiService.CopyAdjustmentCodesExecute(r)
}

/*
CopyAdjustmentCodes Operation to copy AdjustmentCodes.

Operation to copy Adjustment Codes. <p><strong>OperationId:</strong>copyAdjustmentCodes</p>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return CashieringConfigApiCopyAdjustmentCodesRequest
*/
func (a *CashieringConfigApiService) CopyAdjustmentCodes(ctx context.Context) CashieringConfigApiCopyAdjustmentCodesRequest {
	return CashieringConfigApiCopyAdjustmentCodesRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return Status
func (a *CashieringConfigApiService) CopyAdjustmentCodesExecute(r CashieringConfigApiCopyAdjustmentCodesRequest) (*Status, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *Status
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CashieringConfigApiService.CopyAdjustmentCodes")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/hotelAdjustmentCodes/copy"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json;charset=UTF-8"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json;charset=UTF-8"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xExternalsystem != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-externalsystem", r.xExternalsystem, "")
	}
	if r.acceptLanguage != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accept-Language", r.acceptLanguage, "")
	}
	// body params
	localVarPostBody = r.adjustmentCodesCopy
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CashieringConfigApiCopyCustomChargeExemptionsConfigRequest struct {
	ctx context.Context
	ApiService *CashieringConfigApiService
	sourceHotelId string
	authorization *string
	xAppKey *string
	xHotelid *string
	customChargeExemptionsConfigCopy *CopyCustomChargeExemptionsConfigRequest
	xExternalsystem *string
	acceptLanguage *string
}

// Bearer token that needs to be passed which is generated post user authentication
func (r CashieringConfigApiCopyCustomChargeExemptionsConfigRequest) Authorization(authorization string) CashieringConfigApiCopyCustomChargeExemptionsConfigRequest {
	r.authorization = &authorization
	return r
}

// Client or Partner&#39;s Application Key
func (r CashieringConfigApiCopyCustomChargeExemptionsConfigRequest) XAppKey(xAppKey string) CashieringConfigApiCopyCustomChargeExemptionsConfigRequest {
	r.xAppKey = &xAppKey
	return r
}

// Mandatory parameter to identify the hotel code where the end user is logged in
func (r CashieringConfigApiCopyCustomChargeExemptionsConfigRequest) XHotelid(xHotelid string) CashieringConfigApiCopyCustomChargeExemptionsConfigRequest {
	r.xHotelid = &xHotelid
	return r
}

// List of the Custom Charge Exemptions to be copied.
func (r CashieringConfigApiCopyCustomChargeExemptionsConfigRequest) CustomChargeExemptionsConfigCopy(customChargeExemptionsConfigCopy CopyCustomChargeExemptionsConfigRequest) CashieringConfigApiCopyCustomChargeExemptionsConfigRequest {
	r.customChargeExemptionsConfigCopy = &customChargeExemptionsConfigCopy
	return r
}

// External system code.
func (r CashieringConfigApiCopyCustomChargeExemptionsConfigRequest) XExternalsystem(xExternalsystem string) CashieringConfigApiCopyCustomChargeExemptionsConfigRequest {
	r.xExternalsystem = &xExternalsystem
	return r
}

// Language code
func (r CashieringConfigApiCopyCustomChargeExemptionsConfigRequest) AcceptLanguage(acceptLanguage string) CashieringConfigApiCopyCustomChargeExemptionsConfigRequest {
	r.acceptLanguage = &acceptLanguage
	return r
}

func (r CashieringConfigApiCopyCustomChargeExemptionsConfigRequest) Execute() (*Status, *http.Response, error) {
	return r.ApiService.CopyCustomChargeExemptionsConfigExecute(r)
}

/*
CopyCustomChargeExemptionsConfig Operation to copy Custom Charge Exemptions Config.

Operation to copy Custom Charge Exemptions Config. <p><strong>OperationId:</strong>copyCustomChargeExemptionsConfig</p>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param sourceHotelId Unique ID of the hotel in OPERA
 @return CashieringConfigApiCopyCustomChargeExemptionsConfigRequest
*/
func (a *CashieringConfigApiService) CopyCustomChargeExemptionsConfig(ctx context.Context, sourceHotelId string) CashieringConfigApiCopyCustomChargeExemptionsConfigRequest {
	return CashieringConfigApiCopyCustomChargeExemptionsConfigRequest{
		ApiService: a,
		ctx: ctx,
		sourceHotelId: sourceHotelId,
	}
}

// Execute executes the request
//  @return Status
func (a *CashieringConfigApiService) CopyCustomChargeExemptionsConfigExecute(r CashieringConfigApiCopyCustomChargeExemptionsConfigRequest) (*Status, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *Status
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CashieringConfigApiService.CopyCustomChargeExemptionsConfig")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/hotels/{sourceHotelId}/customCharges/exemptions/copy"
	localVarPath = strings.Replace(localVarPath, "{"+"sourceHotelId"+"}", url.PathEscape(parameterValueToString(r.sourceHotelId, "sourceHotelId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if strlen(r.sourceHotelId) < 1 {
		return localVarReturnValue, nil, reportError("sourceHotelId must have at least 1 elements")
	}
	if strlen(r.sourceHotelId) > 2000 {
		return localVarReturnValue, nil, reportError("sourceHotelId must have less than 2000 elements")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json;charset=UTF-8"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json;charset=UTF-8"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xExternalsystem != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-externalsystem", r.xExternalsystem, "")
	}
	if r.acceptLanguage != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accept-Language", r.acceptLanguage, "")
	}
	// body params
	localVarPostBody = r.customChargeExemptionsConfigCopy
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CashieringConfigApiCopyExpenseArrangementCodesRequest struct {
	ctx context.Context
	ApiService *CashieringConfigApiService
	authorization *string
	xAppKey *string
	xHotelid *string
	expenseArrangementCodesCopy *CopyExpenseArrangementCodesRequest
	xExternalsystem *string
	acceptLanguage *string
}

// Bearer token that needs to be passed which is generated post user authentication
func (r CashieringConfigApiCopyExpenseArrangementCodesRequest) Authorization(authorization string) CashieringConfigApiCopyExpenseArrangementCodesRequest {
	r.authorization = &authorization
	return r
}

// Client or Partner&#39;s Application Key
func (r CashieringConfigApiCopyExpenseArrangementCodesRequest) XAppKey(xAppKey string) CashieringConfigApiCopyExpenseArrangementCodesRequest {
	r.xAppKey = &xAppKey
	return r
}

// Mandatory parameter to identify the hotel code where the end user is logged in
func (r CashieringConfigApiCopyExpenseArrangementCodesRequest) XHotelid(xHotelid string) CashieringConfigApiCopyExpenseArrangementCodesRequest {
	r.xHotelid = &xHotelid
	return r
}

// List of the expense arrangement codes to be copied.
func (r CashieringConfigApiCopyExpenseArrangementCodesRequest) ExpenseArrangementCodesCopy(expenseArrangementCodesCopy CopyExpenseArrangementCodesRequest) CashieringConfigApiCopyExpenseArrangementCodesRequest {
	r.expenseArrangementCodesCopy = &expenseArrangementCodesCopy
	return r
}

// External system code.
func (r CashieringConfigApiCopyExpenseArrangementCodesRequest) XExternalsystem(xExternalsystem string) CashieringConfigApiCopyExpenseArrangementCodesRequest {
	r.xExternalsystem = &xExternalsystem
	return r
}

// Language code
func (r CashieringConfigApiCopyExpenseArrangementCodesRequest) AcceptLanguage(acceptLanguage string) CashieringConfigApiCopyExpenseArrangementCodesRequest {
	r.acceptLanguage = &acceptLanguage
	return r
}

func (r CashieringConfigApiCopyExpenseArrangementCodesRequest) Execute() (*Status, *http.Response, error) {
	return r.ApiService.CopyExpenseArrangementCodesExecute(r)
}

/*
CopyExpenseArrangementCodes Operation to copy ExpenseArrangementCodes.

 <p><strong>OperationId:</strong>copyExpenseArrangementCodes</p>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return CashieringConfigApiCopyExpenseArrangementCodesRequest
*/
func (a *CashieringConfigApiService) CopyExpenseArrangementCodes(ctx context.Context) CashieringConfigApiCopyExpenseArrangementCodesRequest {
	return CashieringConfigApiCopyExpenseArrangementCodesRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return Status
func (a *CashieringConfigApiService) CopyExpenseArrangementCodesExecute(r CashieringConfigApiCopyExpenseArrangementCodesRequest) (*Status, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *Status
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CashieringConfigApiService.CopyExpenseArrangementCodes")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/expenseArrangementCodes/copy"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json;charset=UTF-8"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json;charset=UTF-8"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xExternalsystem != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-externalsystem", r.xExternalsystem, "")
	}
	if r.acceptLanguage != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accept-Language", r.acceptLanguage, "")
	}
	// body params
	localVarPostBody = r.expenseArrangementCodesCopy
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CashieringConfigApiCopyFiscalFolioParametersRequest struct {
	ctx context.Context
	ApiService *CashieringConfigApiService
	sourceHotelId string
	authorization *string
	xAppKey *string
	xHotelid *string
	fiscalFolioParametersCopy *CopyFiscalFolioParametersRequest
	xExternalsystem *string
	acceptLanguage *string
}

// Bearer token that needs to be passed which is generated post user authentication
func (r CashieringConfigApiCopyFiscalFolioParametersRequest) Authorization(authorization string) CashieringConfigApiCopyFiscalFolioParametersRequest {
	r.authorization = &authorization
	return r
}

// Client or Partner&#39;s Application Key
func (r CashieringConfigApiCopyFiscalFolioParametersRequest) XAppKey(xAppKey string) CashieringConfigApiCopyFiscalFolioParametersRequest {
	r.xAppKey = &xAppKey
	return r
}

// Mandatory parameter to identify the hotel code where the end user is logged in
func (r CashieringConfigApiCopyFiscalFolioParametersRequest) XHotelid(xHotelid string) CashieringConfigApiCopyFiscalFolioParametersRequest {
	r.xHotelid = &xHotelid
	return r
}

// Request object for copying Fiscal Folio Parameters to other hotel code(s).
func (r CashieringConfigApiCopyFiscalFolioParametersRequest) FiscalFolioParametersCopy(fiscalFolioParametersCopy CopyFiscalFolioParametersRequest) CashieringConfigApiCopyFiscalFolioParametersRequest {
	r.fiscalFolioParametersCopy = &fiscalFolioParametersCopy
	return r
}

// External system code.
func (r CashieringConfigApiCopyFiscalFolioParametersRequest) XExternalsystem(xExternalsystem string) CashieringConfigApiCopyFiscalFolioParametersRequest {
	r.xExternalsystem = &xExternalsystem
	return r
}

// Language code
func (r CashieringConfigApiCopyFiscalFolioParametersRequest) AcceptLanguage(acceptLanguage string) CashieringConfigApiCopyFiscalFolioParametersRequest {
	r.acceptLanguage = &acceptLanguage
	return r
}

func (r CashieringConfigApiCopyFiscalFolioParametersRequest) Execute() (*Status, *http.Response, error) {
	return r.ApiService.CopyFiscalFolioParametersExecute(r)
}

/*
CopyFiscalFolioParameters Operation to copy FiscalFolioParameters.

Operation to copy Fiscal Folio Parameters. <p><strong>OperationId:</strong>copyFiscalFolioParameters</p>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param sourceHotelId Unique ID of the source hotel in OPERA
 @return CashieringConfigApiCopyFiscalFolioParametersRequest
*/
func (a *CashieringConfigApiService) CopyFiscalFolioParameters(ctx context.Context, sourceHotelId string) CashieringConfigApiCopyFiscalFolioParametersRequest {
	return CashieringConfigApiCopyFiscalFolioParametersRequest{
		ApiService: a,
		ctx: ctx,
		sourceHotelId: sourceHotelId,
	}
}

// Execute executes the request
//  @return Status
func (a *CashieringConfigApiService) CopyFiscalFolioParametersExecute(r CashieringConfigApiCopyFiscalFolioParametersRequest) (*Status, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *Status
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CashieringConfigApiService.CopyFiscalFolioParameters")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/hotels/{sourceHotelId}/fiscalFolioParameters/copy"
	localVarPath = strings.Replace(localVarPath, "{"+"sourceHotelId"+"}", url.PathEscape(parameterValueToString(r.sourceHotelId, "sourceHotelId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if strlen(r.sourceHotelId) < 1 {
		return localVarReturnValue, nil, reportError("sourceHotelId must have at least 1 elements")
	}
	if strlen(r.sourceHotelId) > 2000 {
		return localVarReturnValue, nil, reportError("sourceHotelId must have less than 2000 elements")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json;charset=UTF-8"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json;charset=UTF-8"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xExternalsystem != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-externalsystem", r.xExternalsystem, "")
	}
	if r.acceptLanguage != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accept-Language", r.acceptLanguage, "")
	}
	// body params
	localVarPostBody = r.fiscalFolioParametersCopy
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CashieringConfigApiCopyFolioArrangementCodesRequest struct {
	ctx context.Context
	ApiService *CashieringConfigApiService
	authorization *string
	xAppKey *string
	xHotelid *string
	folioArrangementCodesCopy *CopyFolioArrangementCodesRequest
	xExternalsystem *string
	acceptLanguage *string
}

// Bearer token that needs to be passed which is generated post user authentication
func (r CashieringConfigApiCopyFolioArrangementCodesRequest) Authorization(authorization string) CashieringConfigApiCopyFolioArrangementCodesRequest {
	r.authorization = &authorization
	return r
}

// Client or Partner&#39;s Application Key
func (r CashieringConfigApiCopyFolioArrangementCodesRequest) XAppKey(xAppKey string) CashieringConfigApiCopyFolioArrangementCodesRequest {
	r.xAppKey = &xAppKey
	return r
}

// Mandatory parameter to identify the hotel code where the end user is logged in
func (r CashieringConfigApiCopyFolioArrangementCodesRequest) XHotelid(xHotelid string) CashieringConfigApiCopyFolioArrangementCodesRequest {
	r.xHotelid = &xHotelid
	return r
}

// List of folio arrangement codes to be copied.
func (r CashieringConfigApiCopyFolioArrangementCodesRequest) FolioArrangementCodesCopy(folioArrangementCodesCopy CopyFolioArrangementCodesRequest) CashieringConfigApiCopyFolioArrangementCodesRequest {
	r.folioArrangementCodesCopy = &folioArrangementCodesCopy
	return r
}

// External system code.
func (r CashieringConfigApiCopyFolioArrangementCodesRequest) XExternalsystem(xExternalsystem string) CashieringConfigApiCopyFolioArrangementCodesRequest {
	r.xExternalsystem = &xExternalsystem
	return r
}

// Language code
func (r CashieringConfigApiCopyFolioArrangementCodesRequest) AcceptLanguage(acceptLanguage string) CashieringConfigApiCopyFolioArrangementCodesRequest {
	r.acceptLanguage = &acceptLanguage
	return r
}

func (r CashieringConfigApiCopyFolioArrangementCodesRequest) Execute() (*Status, *http.Response, error) {
	return r.ApiService.CopyFolioArrangementCodesExecute(r)
}

/*
CopyFolioArrangementCodes Operation to copy FolioArrangementCodes.

 <p><strong>OperationId:</strong>copyFolioArrangementCodes</p>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return CashieringConfigApiCopyFolioArrangementCodesRequest
*/
func (a *CashieringConfigApiService) CopyFolioArrangementCodes(ctx context.Context) CashieringConfigApiCopyFolioArrangementCodesRequest {
	return CashieringConfigApiCopyFolioArrangementCodesRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return Status
func (a *CashieringConfigApiService) CopyFolioArrangementCodesExecute(r CashieringConfigApiCopyFolioArrangementCodesRequest) (*Status, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *Status
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CashieringConfigApiService.CopyFolioArrangementCodes")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/folioArrangementCodes/copy"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json;charset=UTF-8"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json;charset=UTF-8"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xExternalsystem != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-externalsystem", r.xExternalsystem, "")
	}
	if r.acceptLanguage != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accept-Language", r.acceptLanguage, "")
	}
	// body params
	localVarPostBody = r.folioArrangementCodesCopy
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CashieringConfigApiCopyGroupArrangementCodesRequest struct {
	ctx context.Context
	ApiService *CashieringConfigApiService
	authorization *string
	xAppKey *string
	xHotelid *string
	groupArrangementCodesCopy *CopyGroupArrangementCodesRequest
	xExternalsystem *string
	acceptLanguage *string
}

// Bearer token that needs to be passed which is generated post user authentication
func (r CashieringConfigApiCopyGroupArrangementCodesRequest) Authorization(authorization string) CashieringConfigApiCopyGroupArrangementCodesRequest {
	r.authorization = &authorization
	return r
}

// Client or Partner&#39;s Application Key
func (r CashieringConfigApiCopyGroupArrangementCodesRequest) XAppKey(xAppKey string) CashieringConfigApiCopyGroupArrangementCodesRequest {
	r.xAppKey = &xAppKey
	return r
}

// Mandatory parameter to identify the hotel code where the end user is logged in
func (r CashieringConfigApiCopyGroupArrangementCodesRequest) XHotelid(xHotelid string) CashieringConfigApiCopyGroupArrangementCodesRequest {
	r.xHotelid = &xHotelid
	return r
}

// List of the group arrangement codes to be copied.
func (r CashieringConfigApiCopyGroupArrangementCodesRequest) GroupArrangementCodesCopy(groupArrangementCodesCopy CopyGroupArrangementCodesRequest) CashieringConfigApiCopyGroupArrangementCodesRequest {
	r.groupArrangementCodesCopy = &groupArrangementCodesCopy
	return r
}

// External system code.
func (r CashieringConfigApiCopyGroupArrangementCodesRequest) XExternalsystem(xExternalsystem string) CashieringConfigApiCopyGroupArrangementCodesRequest {
	r.xExternalsystem = &xExternalsystem
	return r
}

// Language code
func (r CashieringConfigApiCopyGroupArrangementCodesRequest) AcceptLanguage(acceptLanguage string) CashieringConfigApiCopyGroupArrangementCodesRequest {
	r.acceptLanguage = &acceptLanguage
	return r
}

func (r CashieringConfigApiCopyGroupArrangementCodesRequest) Execute() (*Status, *http.Response, error) {
	return r.ApiService.CopyGroupArrangementCodesExecute(r)
}

/*
CopyGroupArrangementCodes Operation to copy GroupArrangementCodes.

 <p><strong>OperationId:</strong>copyGroupArrangementCodes</p>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return CashieringConfigApiCopyGroupArrangementCodesRequest
*/
func (a *CashieringConfigApiService) CopyGroupArrangementCodes(ctx context.Context) CashieringConfigApiCopyGroupArrangementCodesRequest {
	return CashieringConfigApiCopyGroupArrangementCodesRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return Status
func (a *CashieringConfigApiService) CopyGroupArrangementCodesExecute(r CashieringConfigApiCopyGroupArrangementCodesRequest) (*Status, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *Status
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CashieringConfigApiService.CopyGroupArrangementCodes")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/groupArrangementCodes/copy"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json;charset=UTF-8"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json;charset=UTF-8"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xExternalsystem != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-externalsystem", r.xExternalsystem, "")
	}
	if r.acceptLanguage != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accept-Language", r.acceptLanguage, "")
	}
	// body params
	localVarPostBody = r.groupArrangementCodesCopy
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CashieringConfigApiCopyPackageArrangementCodesRequest struct {
	ctx context.Context
	ApiService *CashieringConfigApiService
	authorization *string
	xAppKey *string
	xHotelid *string
	packageArrangementCodesCopy *CopyPackageArrangementCodesRequest
	xExternalsystem *string
	acceptLanguage *string
}

// Bearer token that needs to be passed which is generated post user authentication
func (r CashieringConfigApiCopyPackageArrangementCodesRequest) Authorization(authorization string) CashieringConfigApiCopyPackageArrangementCodesRequest {
	r.authorization = &authorization
	return r
}

// Client or Partner&#39;s Application Key
func (r CashieringConfigApiCopyPackageArrangementCodesRequest) XAppKey(xAppKey string) CashieringConfigApiCopyPackageArrangementCodesRequest {
	r.xAppKey = &xAppKey
	return r
}

// Mandatory parameter to identify the hotel code where the end user is logged in
func (r CashieringConfigApiCopyPackageArrangementCodesRequest) XHotelid(xHotelid string) CashieringConfigApiCopyPackageArrangementCodesRequest {
	r.xHotelid = &xHotelid
	return r
}

// List of the package arrangement codes to be copied.
func (r CashieringConfigApiCopyPackageArrangementCodesRequest) PackageArrangementCodesCopy(packageArrangementCodesCopy CopyPackageArrangementCodesRequest) CashieringConfigApiCopyPackageArrangementCodesRequest {
	r.packageArrangementCodesCopy = &packageArrangementCodesCopy
	return r
}

// External system code.
func (r CashieringConfigApiCopyPackageArrangementCodesRequest) XExternalsystem(xExternalsystem string) CashieringConfigApiCopyPackageArrangementCodesRequest {
	r.xExternalsystem = &xExternalsystem
	return r
}

// Language code
func (r CashieringConfigApiCopyPackageArrangementCodesRequest) AcceptLanguage(acceptLanguage string) CashieringConfigApiCopyPackageArrangementCodesRequest {
	r.acceptLanguage = &acceptLanguage
	return r
}

func (r CashieringConfigApiCopyPackageArrangementCodesRequest) Execute() (*Status, *http.Response, error) {
	return r.ApiService.CopyPackageArrangementCodesExecute(r)
}

/*
CopyPackageArrangementCodes Operation to copy PackageArrangementCodes.

 <p><strong>OperationId:</strong>copyPackageArrangementCodes</p>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return CashieringConfigApiCopyPackageArrangementCodesRequest
*/
func (a *CashieringConfigApiService) CopyPackageArrangementCodes(ctx context.Context) CashieringConfigApiCopyPackageArrangementCodesRequest {
	return CashieringConfigApiCopyPackageArrangementCodesRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return Status
func (a *CashieringConfigApiService) CopyPackageArrangementCodesExecute(r CashieringConfigApiCopyPackageArrangementCodesRequest) (*Status, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *Status
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CashieringConfigApiService.CopyPackageArrangementCodes")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/packageArrangementCodes/copy"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json;charset=UTF-8"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json;charset=UTF-8"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xExternalsystem != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-externalsystem", r.xExternalsystem, "")
	}
	if r.acceptLanguage != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accept-Language", r.acceptLanguage, "")
	}
	// body params
	localVarPostBody = r.packageArrangementCodesCopy
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CashieringConfigApiCopyPaymentMethodsRequest struct {
	ctx context.Context
	ApiService *CashieringConfigApiService
	authorization *string
	xAppKey *string
	xHotelid *string
	paymentMethodsCopy *CopyPaymentMethodsRequest
	xExternalsystem *string
	acceptLanguage *string
}

// Bearer token that needs to be passed which is generated post user authentication
func (r CashieringConfigApiCopyPaymentMethodsRequest) Authorization(authorization string) CashieringConfigApiCopyPaymentMethodsRequest {
	r.authorization = &authorization
	return r
}

// Client or Partner&#39;s Application Key
func (r CashieringConfigApiCopyPaymentMethodsRequest) XAppKey(xAppKey string) CashieringConfigApiCopyPaymentMethodsRequest {
	r.xAppKey = &xAppKey
	return r
}

// Mandatory parameter to identify the hotel code where the end user is logged in
func (r CashieringConfigApiCopyPaymentMethodsRequest) XHotelid(xHotelid string) CashieringConfigApiCopyPaymentMethodsRequest {
	r.xHotelid = &xHotelid
	return r
}

// List of payment methods to be copied.
func (r CashieringConfigApiCopyPaymentMethodsRequest) PaymentMethodsCopy(paymentMethodsCopy CopyPaymentMethodsRequest) CashieringConfigApiCopyPaymentMethodsRequest {
	r.paymentMethodsCopy = &paymentMethodsCopy
	return r
}

// External system code.
func (r CashieringConfigApiCopyPaymentMethodsRequest) XExternalsystem(xExternalsystem string) CashieringConfigApiCopyPaymentMethodsRequest {
	r.xExternalsystem = &xExternalsystem
	return r
}

// Language code
func (r CashieringConfigApiCopyPaymentMethodsRequest) AcceptLanguage(acceptLanguage string) CashieringConfigApiCopyPaymentMethodsRequest {
	r.acceptLanguage = &acceptLanguage
	return r
}

func (r CashieringConfigApiCopyPaymentMethodsRequest) Execute() (*Status, *http.Response, error) {
	return r.ApiService.CopyPaymentMethodsExecute(r)
}

/*
CopyPaymentMethods Operation to copy PaymentMethods.

Operation to copy payment methods. <p><strong>OperationId:</strong>copyPaymentMethods</p>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return CashieringConfigApiCopyPaymentMethodsRequest
*/
func (a *CashieringConfigApiService) CopyPaymentMethods(ctx context.Context) CashieringConfigApiCopyPaymentMethodsRequest {
	return CashieringConfigApiCopyPaymentMethodsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return Status
func (a *CashieringConfigApiService) CopyPaymentMethodsExecute(r CashieringConfigApiCopyPaymentMethodsRequest) (*Status, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *Status
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CashieringConfigApiService.CopyPaymentMethods")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/hotelPaymentMethods/copy"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json;charset=UTF-8"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json;charset=UTF-8"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xExternalsystem != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-externalsystem", r.xExternalsystem, "")
	}
	if r.acceptLanguage != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accept-Language", r.acceptLanguage, "")
	}
	// body params
	localVarPostBody = r.paymentMethodsCopy
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CashieringConfigApiCopyRevenueBucketCodesRequest struct {
	ctx context.Context
	ApiService *CashieringConfigApiService
	authorization *string
	xAppKey *string
	xHotelid *string
	revenueBucketCodesCopy *CopyRevenueBucketCodesRequest
	xExternalsystem *string
	acceptLanguage *string
}

// Bearer token that needs to be passed which is generated post user authentication
func (r CashieringConfigApiCopyRevenueBucketCodesRequest) Authorization(authorization string) CashieringConfigApiCopyRevenueBucketCodesRequest {
	r.authorization = &authorization
	return r
}

// Client or Partner&#39;s Application Key
func (r CashieringConfigApiCopyRevenueBucketCodesRequest) XAppKey(xAppKey string) CashieringConfigApiCopyRevenueBucketCodesRequest {
	r.xAppKey = &xAppKey
	return r
}

// Mandatory parameter to identify the hotel code where the end user is logged in
func (r CashieringConfigApiCopyRevenueBucketCodesRequest) XHotelid(xHotelid string) CashieringConfigApiCopyRevenueBucketCodesRequest {
	r.xHotelid = &xHotelid
	return r
}

// Request object for copying one or more Revenue Bucket Codes configurations from one source property to one or more target properties.
func (r CashieringConfigApiCopyRevenueBucketCodesRequest) RevenueBucketCodesCopy(revenueBucketCodesCopy CopyRevenueBucketCodesRequest) CashieringConfigApiCopyRevenueBucketCodesRequest {
	r.revenueBucketCodesCopy = &revenueBucketCodesCopy
	return r
}

// External system code.
func (r CashieringConfigApiCopyRevenueBucketCodesRequest) XExternalsystem(xExternalsystem string) CashieringConfigApiCopyRevenueBucketCodesRequest {
	r.xExternalsystem = &xExternalsystem
	return r
}

// Language code
func (r CashieringConfigApiCopyRevenueBucketCodesRequest) AcceptLanguage(acceptLanguage string) CashieringConfigApiCopyRevenueBucketCodesRequest {
	r.acceptLanguage = &acceptLanguage
	return r
}

func (r CashieringConfigApiCopyRevenueBucketCodesRequest) Execute() (*Status, *http.Response, error) {
	return r.ApiService.CopyRevenueBucketCodesExecute(r)
}

/*
CopyRevenueBucketCodes Operation to copy RevenueBucketCodes.

Operation to copy Revenue Bucket Codes. <p><strong>OperationId:</strong>copyRevenueBucketCodes</p>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return CashieringConfigApiCopyRevenueBucketCodesRequest
*/
func (a *CashieringConfigApiService) CopyRevenueBucketCodes(ctx context.Context) CashieringConfigApiCopyRevenueBucketCodesRequest {
	return CashieringConfigApiCopyRevenueBucketCodesRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return Status
func (a *CashieringConfigApiService) CopyRevenueBucketCodesExecute(r CashieringConfigApiCopyRevenueBucketCodesRequest) (*Status, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *Status
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CashieringConfigApiService.CopyRevenueBucketCodes")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/revenueBucketCodes/copy"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json;charset=UTF-8"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json;charset=UTF-8"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xExternalsystem != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-externalsystem", r.xExternalsystem, "")
	}
	if r.acceptLanguage != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accept-Language", r.acceptLanguage, "")
	}
	// body params
	localVarPostBody = r.revenueBucketCodesCopy
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
[...]
