node_modules

# Cloned repository
hospitality-api-docs

# macOS
.DS_store
.envrc

dist

*.log

src/typescript-fetch/**/*
!src/typescript-fetch/authenticationMiddleware.ts
!src/typescript-fetch/cashierMappingMiddleware.ts
