/*
OPERA Cloud Front Desk Operations Service

APIs to cater for Front Desk Operations and Front Desk Statistic functionality in OPERA Cloud. <br /><br /> Front Desk features some of the most commonly used operations in OPERA Cloud, such as managing guest arrivals, managing in-house guests, and managing guest departures. Some additional tasks you can complete from the Front Desk menu are room searches, room assignments, and quick check outs as well as opening folios, creating registration cards, setting wake up calls, and sending messages to guests.<br /><br /> Compatible with OPERA Cloud release 23.2.<br /><br /><p> This document and all content within is available under the Universal Permissive License v 1.0 (https://oss.oracle.com/licenses/upl). Copyright (c) 2020, 2023 Oracle and/or its affiliates.</p>

API version: 23.2
Contact: hospitality_apis_ww_grp@oracle.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package fof

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"reflect"
)


// FrontDeskOperationsApiService FrontDeskOperationsApi service
type FrontDeskOperationsApiService service

type FrontDeskOperationsApiAddReservationToQueueRequest struct {
	ctx context.Context
	ApiService *FrontDeskOperationsApiService
	reservationId string
	hotelId string
	authorization *string
	xAppKey *string
	xHotelid *string
	queueReservation *AddReservationToQueueRequest
	xExternalsystem *string
	acceptLanguage *string
}

// Bearer token that needs to be passed which is generated post user authentication
func (r FrontDeskOperationsApiAddReservationToQueueRequest) Authorization(authorization string) FrontDeskOperationsApiAddReservationToQueueRequest {
	r.authorization = &authorization
	return r
}

// Client or Partner&#39;s Application Key
func (r FrontDeskOperationsApiAddReservationToQueueRequest) XAppKey(xAppKey string) FrontDeskOperationsApiAddReservationToQueueRequest {
	r.xAppKey = &xAppKey
	return r
}

// Mandatory parameter to identify the hotel code where the end user is logged in
func (r FrontDeskOperationsApiAddReservationToQueueRequest) XHotelid(xHotelid string) FrontDeskOperationsApiAddReservationToQueueRequest {
	r.xHotelid = &xHotelid
	return r
}

// Request to add a reservation to the Queue for Check-In. A reservation can be added to the queue prior to Check-In on the day of arrival.
func (r FrontDeskOperationsApiAddReservationToQueueRequest) QueueReservation(queueReservation AddReservationToQueueRequest) FrontDeskOperationsApiAddReservationToQueueRequest {
	r.queueReservation = &queueReservation
	return r
}

// External system code.
func (r FrontDeskOperationsApiAddReservationToQueueRequest) XExternalsystem(xExternalsystem string) FrontDeskOperationsApiAddReservationToQueueRequest {
	r.xExternalsystem = &xExternalsystem
	return r
}

// Language code
func (r FrontDeskOperationsApiAddReservationToQueueRequest) AcceptLanguage(acceptLanguage string) FrontDeskOperationsApiAddReservationToQueueRequest {
	r.acceptLanguage = &acceptLanguage
	return r
}

func (r FrontDeskOperationsApiAddReservationToQueueRequest) Execute() (*ReservationQueuePriority, *http.Response, error) {
	return r.ApiService.AddReservationToQueueExecute(r)
}

/*
AddReservationToQueue Add reservation to queue

Using this API you can assign reservations to the reservation queue if the guest's room is not ready for assignment or if there are no available rooms of the room type attached to the reservation. Housekeeping staff can use the Queue Rooms functionality to determine if there are guests waiting to check in to a particular room or type of room; if there are, the queue list can provide guidance in determining which rooms need attention first. <p><strong>OperationId:</strong>addReservationToQueue</p>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param reservationId
 @param hotelId
 @return FrontDeskOperationsApiAddReservationToQueueRequest
*/
func (a *FrontDeskOperationsApiService) AddReservationToQueue(ctx context.Context, reservationId string, hotelId string) FrontDeskOperationsApiAddReservationToQueueRequest {
	return FrontDeskOperationsApiAddReservationToQueueRequest{
		ApiService: a,
		ctx: ctx,
		reservationId: reservationId,
		hotelId: hotelId,
	}
}

// Execute executes the request
//  @return ReservationQueuePriority
func (a *FrontDeskOperationsApiService) AddReservationToQueueExecute(r FrontDeskOperationsApiAddReservationToQueueRequest) (*ReservationQueuePriority, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ReservationQueuePriority
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FrontDeskOperationsApiService.AddReservationToQueue")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/hotels/{hotelId}/queuedReservations/{reservationId}"
	localVarPath = strings.Replace(localVarPath, "{"+"reservationId"+"}", url.PathEscape(parameterValueToString(r.reservationId, "reservationId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"hotelId"+"}", url.PathEscape(parameterValueToString(r.hotelId, "hotelId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if strlen(r.reservationId) < 1 {
		return localVarReturnValue, nil, reportError("reservationId must have at least 1 elements")
	}
	if strlen(r.reservationId) > 2000 {
		return localVarReturnValue, nil, reportError("reservationId must have less than 2000 elements")
	}
	if strlen(r.hotelId) < 1 {
		return localVarReturnValue, nil, reportError("hotelId must have at least 1 elements")
	}
	if strlen(r.hotelId) > 2000 {
		return localVarReturnValue, nil, reportError("hotelId must have less than 2000 elements")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json;charset=UTF-8"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json;charset=UTF-8"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xExternalsystem != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-externalsystem", r.xExternalsystem, "")
	}
	if r.acceptLanguage != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accept-Language", r.acceptLanguage, "")
	}
	// body params
	localVarPostBody = r.queueReservation
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type FrontDeskOperationsApiAssignRoomsAIRequest struct {
	ctx context.Context
	ApiService *FrontDeskOperationsApiService
	hotelId string
	authorization *string
	xAppKey *string
	xHotelid *string
	roomsAI *AssignRoomsAIRequest
	xExternalsystem *string
	acceptLanguage *string
}

// Bearer token that needs to be passed which is generated post user authentication
func (r FrontDeskOperationsApiAssignRoomsAIRequest) Authorization(authorization string) FrontDeskOperationsApiAssignRoomsAIRequest {
	r.authorization = &authorization
	return r
}

// Client or Partner&#39;s Application Key
func (r FrontDeskOperationsApiAssignRoomsAIRequest) XAppKey(xAppKey string) FrontDeskOperationsApiAssignRoomsAIRequest {
	r.xAppKey = &xAppKey
	return r
}

// Mandatory parameter to identify the hotel code where the end user is logged in
func (r FrontDeskOperationsApiAssignRoomsAIRequest) XHotelid(xHotelid string) FrontDeskOperationsApiAssignRoomsAIRequest {
	r.xHotelid = &xHotelid
	return r
}

// Request to run AI Room Assignment and allocate rooms to incoming reservations.
func (r FrontDeskOperationsApiAssignRoomsAIRequest) RoomsAI(roomsAI AssignRoomsAIRequest) FrontDeskOperationsApiAssignRoomsAIRequest {
	r.roomsAI = &roomsAI
	return r
}

// External system code.
func (r FrontDeskOperationsApiAssignRoomsAIRequest) XExternalsystem(xExternalsystem string) FrontDeskOperationsApiAssignRoomsAIRequest {
	r.xExternalsystem = &xExternalsystem
	return r
}

// Language code
func (r FrontDeskOperationsApiAssignRoomsAIRequest) AcceptLanguage(acceptLanguage string) FrontDeskOperationsApiAssignRoomsAIRequest {
	r.acceptLanguage = &acceptLanguage
	return r
}

func (r FrontDeskOperationsApiAssignRoomsAIRequest) Execute() (*Status, *http.Response, error) {
	return r.ApiService.AssignRoomsAIExecute(r)
}

/*
AssignRoomsAI AI Assign Rooms

This API runs AI Room Assignment and allocates rooms to incoming reservations. <p><strong>OperationId:</strong>assignRoomsAI</p>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param hotelId
 @return FrontDeskOperationsApiAssignRoomsAIRequest
*/
func (a *FrontDeskOperationsApiService) AssignRoomsAI(ctx context.Context, hotelId string) FrontDeskOperationsApiAssignRoomsAIRequest {
	return FrontDeskOperationsApiAssignRoomsAIRequest{
		ApiService: a,
		ctx: ctx,
		hotelId: hotelId,
	}
}

// Execute executes the request
//  @return Status
func (a *FrontDeskOperationsApiService) AssignRoomsAIExecute(r FrontDeskOperationsApiAssignRoomsAIRequest) (*Status, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *Status
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FrontDeskOperationsApiService.AssignRoomsAI")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/hotels/{hotelId}/reservations/ai/rooms"
	localVarPath = strings.Replace(localVarPath, "{"+"hotelId"+"}", url.PathEscape(parameterValueToString(r.hotelId, "hotelId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if strlen(r.hotelId) < 1 {
		return localVarReturnValue, nil, reportError("hotelId must have at least 1 elements")
	}
	if strlen(r.hotelId) > 2000 {
		return localVarReturnValue, nil, reportError("hotelId must have less than 2000 elements")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json;charset=UTF-8"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json;charset=UTF-8"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xExternalsystem != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-externalsystem", r.xExternalsystem, "")
	}
	if r.acceptLanguage != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accept-Language", r.acceptLanguage, "")
	}
	// body params
	localVarPostBody = r.roomsAI
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type FrontDeskOperationsApiAutoAssignRoomRequest struct {
	ctx context.Context
	ApiService *FrontDeskOperationsApiService
	hotelId string
	authorization *string
	xAppKey *string
	xHotelid *string
	autoAssignRoom *AutoAssignRoomRequest
	xExternalsystem *string
	acceptLanguage *string
}

// Bearer token that needs to be passed which is generated post user authentication
func (r FrontDeskOperationsApiAutoAssignRoomRequest) Authorization(authorization string) FrontDeskOperationsApiAutoAssignRoomRequest {
	r.authorization = &authorization
	return r
}

// Client or Partner&#39;s Application Key
func (r FrontDeskOperationsApiAutoAssignRoomRequest) XAppKey(xAppKey string) FrontDeskOperationsApiAutoAssignRoomRequest {
	r.xAppKey = &xAppKey
	return r
}

// Mandatory parameter to identify the hotel code where the end user is logged in
func (r FrontDeskOperationsApiAutoAssignRoomRequest) XHotelid(xHotelid string) FrontDeskOperationsApiAutoAssignRoomRequest {
	r.xHotelid = &xHotelid
	return r
}

// Request for auto assignment of rooms to reservations.
func (r FrontDeskOperationsApiAutoAssignRoomRequest) AutoAssignRoom(autoAssignRoom AutoAssignRoomRequest) FrontDeskOperationsApiAutoAssignRoomRequest {
	r.autoAssignRoom = &autoAssignRoom
	return r
}

// External system code.
func (r FrontDeskOperationsApiAutoAssignRoomRequest) XExternalsystem(xExternalsystem string) FrontDeskOperationsApiAutoAssignRoomRequest {
	r.xExternalsystem = &xExternalsystem
	return r
}

// Language code
func (r FrontDeskOperationsApiAutoAssignRoomRequest) AcceptLanguage(acceptLanguage string) FrontDeskOperationsApiAutoAssignRoomRequest {
	r.acceptLanguage = &acceptLanguage
	return r
}

func (r FrontDeskOperationsApiAutoAssignRoomRequest) Execute() (*AutoAssignedRoom, *http.Response, error) {
	return r.ApiService.AutoAssignRoomExecute(r)
}

/*
AutoAssignRoom Assign the room automatically

This API can be used to assign the room automatically. <p><strong>OperationId:</strong>autoAssignRoom</p>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param hotelId
 @return FrontDeskOperationsApiAutoAssignRoomRequest
*/
func (a *FrontDeskOperationsApiService) AutoAssignRoom(ctx context.Context, hotelId string) FrontDeskOperationsApiAutoAssignRoomRequest {
	return FrontDeskOperationsApiAutoAssignRoomRequest{
		ApiService: a,
		ctx: ctx,
		hotelId: hotelId,
	}
}

// Execute executes the request
//  @return AutoAssignedRoom
func (a *FrontDeskOperationsApiService) AutoAssignRoomExecute(r FrontDeskOperationsApiAutoAssignRoomRequest) (*AutoAssignedRoom, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AutoAssignedRoom
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FrontDeskOperationsApiService.AutoAssignRoom")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/hotels/{hotelId}/reservations/autoRoomAssignments"
	localVarPath = strings.Replace(localVarPath, "{"+"hotelId"+"}", url.PathEscape(parameterValueToString(r.hotelId, "hotelId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if strlen(r.hotelId) < 1 {
		return localVarReturnValue, nil, reportError("hotelId must have at least 1 elements")
	}
	if strlen(r.hotelId) > 2000 {
		return localVarReturnValue, nil, reportError("hotelId must have less than 2000 elements")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json;charset=UTF-8"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json;charset=UTF-8"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xExternalsystem != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-externalsystem", r.xExternalsystem, "")
	}
	if r.acceptLanguage != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accept-Language", r.acceptLanguage, "")
	}
	// body params
	localVarPostBody = r.autoAssignRoom
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type FrontDeskOperationsApiAutoUnAssignRoomRequest struct {
	ctx context.Context
	ApiService *FrontDeskOperationsApiService
	hotelId string
	authorization *string
	xAppKey *string
	xHotelid *string
	id *[]string
	idExtension *[]int32
	type_ *[]string
	includeDepartureRooms *bool
	limit *int32
	offset *int32
	roomNumberWildcard *string
	useAIRoomAssignment *bool
	useAssociatedProfilePreferences *bool
	hotelRoomStatus *[]string
	hotelFORoomStatus *[]string
	fromRoomNumber *string
	toRoomNumber *string
	startDate *string
	endDate *string
	duration *string
	roomType *[]string
	roomClass *string
	floor *string
	includeDueOut *bool
	departureTime *string
	code *[]string
	description *[]string
	orderSequence *[]float32
	quantity *[]int32
	smokingPreference *string
	includeAllRoomConditions *bool
	includeComponentRooms *bool
	includePseudoRooms *bool
	includeOORoomCheck *bool
	connectingRoomsOnly *bool
	reservationIdId *string
	reservationIdIdExtension *int32
	idContext *string
	reservationIdType *string
	pseudoRoomsOnly *bool
	includeAttendentInRoom *bool
	xExternalsystem *string
	acceptLanguage *string
}

// Bearer token that needs to be passed which is generated post user authentication
func (r FrontDeskOperationsApiAutoUnAssignRoomRequest) Authorization(authorization string) FrontDeskOperationsApiAutoUnAssignRoomRequest {
	r.authorization = &authorization
	return r
}

// Client or Partner&#39;s Application Key
func (r FrontDeskOperationsApiAutoUnAssignRoomRequest) XAppKey(xAppKey string) FrontDeskOperationsApiAutoUnAssignRoomRequest {
	r.xAppKey = &xAppKey
	return r
}

// Mandatory parameter to identify the hotel code where the end user is logged in
func (r FrontDeskOperationsApiAutoUnAssignRoomRequest) XHotelid(xHotelid string) FrontDeskOperationsApiAutoUnAssignRoomRequest {
	r.xHotelid = &xHotelid
	return r
}

// A unique identifying value assigned by the creating system. The ID attribute may be used to reference a primary-key value within a database or in a particular implementation.
func (r FrontDeskOperationsApiAutoUnAssignRoomRequest) Id(id []string) FrontDeskOperationsApiAutoUnAssignRoomRequest {
	r.id = &id
	return r
}

// Additional identifying value assigned by the creating system.
func (r FrontDeskOperationsApiAutoUnAssignRoomRequest) IdExtension(idExtension []int32) FrontDeskOperationsApiAutoUnAssignRoomRequest {
	r.idExtension = &idExtension
	return r
}

// A reference to the type of object defined by the UniqueID element.
func (r FrontDeskOperationsApiAutoUnAssignRoomRequest) Type_(type_ []string) FrontDeskOperationsApiAutoUnAssignRoomRequest {
	r.type_ = &type_
	return r
}

// Indicates if departure rooms are to be included in the auto unassignment.
func (r FrontDeskOperationsApiAutoUnAssignRoomRequest) IncludeDepartureRooms(includeDepartureRooms bool) FrontDeskOperationsApiAutoUnAssignRoomRequest {
	r.includeDepartureRooms = &includeDepartureRooms
	return r
}

// Indicates maximum number of records a Web Service should return.
func (r FrontDeskOperationsApiAutoUnAssignRoomRequest) Limit(limit int32) FrontDeskOperationsApiAutoUnAssignRoomRequest {
	r.limit = &limit
	return r
}

// Index or initial index of the set(page) being requested. If the index goes out of the bounds of the total set count then no data will be returned.
func (r FrontDeskOperationsApiAutoUnAssignRoomRequest) Offset(offset int32) FrontDeskOperationsApiAutoUnAssignRoomRequest {
	r.offset = &offset
	return r
}

func (r FrontDeskOperationsApiAutoUnAssignRoomRequest) RoomNumberWildcard(roomNumberWildcard string) FrontDeskOperationsApiAutoUnAssignRoomRequest {
	r.roomNumberWildcard = &roomNumberWildcard
	return r
}

// If the AI ROOM ASSIGNMENT application parameter is set to Y, this flag when set to true will use the AI Room Assignment algorithm to fetch the results in order of suitability.
func (r FrontDeskOperationsApiAutoUnAssignRoomRequest) UseAIRoomAssignment(useAIRoomAssignment bool) FrontDeskOperationsApiAutoUnAssignRoomRequest {
	r.useAIRoomAssignment = &useAIRoomAssignment
	return r
}

// Indicates if preferences on the profile associated to the reservation should be used to determine the room type. The preferences for FLOOR, SMOKING and ROOM FEATURES will be used.
func (r FrontDeskOperationsApiAutoUnAssignRoomRequest) UseAssociatedProfilePreferences(useAssociatedProfilePreferences bool) FrontDeskOperationsApiAutoUnAssignRoomRequest {
	r.useAssociatedProfilePreferences = &useAssociatedProfilePreferences
	return r
}

// Simple type for room status instructions to be used in requests for fetching housekeeping rooms. Valid status values are Clean, Dirty, Pickup, Inspected, OutOfOrder, OutOfService.
func (r FrontDeskOperationsApiAutoUnAssignRoomRequest) HotelRoomStatus(hotelRoomStatus []string) FrontDeskOperationsApiAutoUnAssignRoomRequest {
	r.hotelRoomStatus = &hotelRoomStatus
	return r
}

// Simple type for front office room status instructions to be used in requests for fetching housekeeping rooms. Valid values are Vacant and Occupied.
func (r FrontDeskOperationsApiAutoUnAssignRoomRequest) HotelFORoomStatus(hotelFORoomStatus []string) FrontDeskOperationsApiAutoUnAssignRoomRequest {
	r.hotelFORoomStatus = &hotelFORoomStatus
	return r
}

func (r FrontDeskOperationsApiAutoUnAssignRoomRequest) FromRoomNumber(fromRoomNumber string) FrontDeskOperationsApiAutoUnAssignRoomRequest {
	r.fromRoomNumber = &fromRoomNumber
	return r
}

func (r FrontDeskOperationsApiAutoUnAssignRoomRequest) ToRoomNumber(toRoomNumber string) FrontDeskOperationsApiAutoUnAssignRoomRequest {
	r.toRoomNumber = &toRoomNumber
	return r
}

func (r FrontDeskOperationsApiAutoUnAssignRoomRequest) StartDate(startDate string) FrontDeskOperationsApiAutoUnAssignRoomRequest {
	r.startDate = &startDate
	return r
}

func (r FrontDeskOperationsApiAutoUnAssignRoomRequest) EndDate(endDate string) FrontDeskOperationsApiAutoUnAssignRoomRequest {
	r.endDate = &endDate
	return r
}

func (r FrontDeskOperationsApiAutoUnAssignRoomRequest) Duration(duration string) FrontDeskOperationsApiAutoUnAssignRoomRequest {
	r.duration = &duration
	return r
}

// The room types of hotel rooms to be fetched.
func (r FrontDeskOperationsApiAutoUnAssignRoomRequest) RoomType(roomType []string) FrontDeskOperationsApiAutoUnAssignRoomRequest {
	r.roomType = &roomType
	return r
}

// The room class of hotel rooms to be fetched.
func (r FrontDeskOperationsApiAutoUnAssignRoomRequest) RoomClass(roomClass string) FrontDeskOperationsApiAutoUnAssignRoomRequest {
	r.roomClass = &roomClass
	return r
}

// The floor of room to be fetched.
func (r FrontDeskOperationsApiAutoUnAssignRoomRequest) Floor(floor string) FrontDeskOperationsApiAutoUnAssignRoomRequest {
	r.floor = &floor
	return r
}

// This flag when set to true will include rooms assigned to due out reservations.
func (r FrontDeskOperationsApiAutoUnAssignRoomRequest) IncludeDueOut(includeDueOut bool) FrontDeskOperationsApiAutoUnAssignRoomRequest {
	r.includeDueOut = &includeDueOut
	return r
}

// When IncludeDueOut is enable,it is the departure time before which to search.
func (r FrontDeskOperationsApiAutoUnAssignRoomRequest) DepartureTime(departureTime string) FrontDeskOperationsApiAutoUnAssignRoomRequest {
	r.departureTime = &departureTime
	return r
}

// A code representing a room feature.
func (r FrontDeskOperationsApiAutoUnAssignRoomRequest) Code(code []string) FrontDeskOperationsApiAutoUnAssignRoomRequest {
	r.code = &code
	return r
}

// A code representing a room feature.
func (r FrontDeskOperationsApiAutoUnAssignRoomRequest) Description(description []string) FrontDeskOperationsApiAutoUnAssignRoomRequest {
	r.description = &description
	return r
}

// Display Order sequence.
func (r FrontDeskOperationsApiAutoUnAssignRoomRequest) OrderSequence(orderSequence []float32) FrontDeskOperationsApiAutoUnAssignRoomRequest {
	r.orderSequence = &orderSequence
	return r
}

// Indicates quantity.
func (r FrontDeskOperationsApiAutoUnAssignRoomRequest) Quantity(quantity []int32) FrontDeskOperationsApiAutoUnAssignRoomRequest {
	r.quantity = &quantity
	return r
}

// The smoking preference of room to be fetched.
func (r FrontDeskOperationsApiAutoUnAssignRoomRequest) SmokingPreference(smokingPreference string) FrontDeskOperationsApiAutoUnAssignRoomRequest {
	r.smokingPreference = &smokingPreference
	return r
}

// This flag when set to true will include all room conditions, when set to false then room with \&quot;General Assignment\&quot; condition type will be excluded from the result.
func (r FrontDeskOperationsApiAutoUnAssignRoomRequest) IncludeAllRoomConditions(includeAllRoomConditions bool) FrontDeskOperationsApiAutoUnAssignRoomRequest {
	r.includeAllRoomConditions = &includeAllRoomConditions
	return r
}

// This flag when set to true will include all component rooms
func (r FrontDeskOperationsApiAutoUnAssignRoomRequest) IncludeComponentRooms(includeComponentRooms bool) FrontDeskOperationsApiAutoUnAssignRoomRequest {
	r.includeComponentRooms = &includeComponentRooms
	return r
}

// This flag when set to true will include all pseudo rooms
func (r FrontDeskOperationsApiAutoUnAssignRoomRequest) IncludePseudoRooms(includePseudoRooms bool) FrontDeskOperationsApiAutoUnAssignRoomRequest {
	r.includePseudoRooms = &includePseudoRooms
	return r
}

// This flag when set to true will work for Available Rooms functionality
func (r FrontDeskOperationsApiAutoUnAssignRoomRequest) IncludeOORoomCheck(includeOORoomCheck bool) FrontDeskOperationsApiAutoUnAssignRoomRequest {
	r.includeOORoomCheck = &includeOORoomCheck
	return r
}

// This flag when set to true will include only connecting rooms.
func (r FrontDeskOperationsApiAutoUnAssignRoomRequest) ConnectingRoomsOnly(connectingRoomsOnly bool) FrontDeskOperationsApiAutoUnAssignRoomRequest {
	r.connectingRoomsOnly = &connectingRoomsOnly
	return r
}

// A unique identifying value assigned by the creating system. The ID attribute may be used to reference a primary-key value within a database or in a particular implementation.
func (r FrontDeskOperationsApiAutoUnAssignRoomRequest) ReservationIdId(reservationIdId string) FrontDeskOperationsApiAutoUnAssignRoomRequest {
	r.reservationIdId = &reservationIdId
	return r
}

// Additional identifying value assigned by the creating system.
func (r FrontDeskOperationsApiAutoUnAssignRoomRequest) ReservationIdIdExtension(reservationIdIdExtension int32) FrontDeskOperationsApiAutoUnAssignRoomRequest {
	r.reservationIdIdExtension = &reservationIdIdExtension
	return r
}

// Used to identify the source of the identifier (e.g., IATA, ABTA).
func (r FrontDeskOperationsApiAutoUnAssignRoomRequest) IdContext(idContext string) FrontDeskOperationsApiAutoUnAssignRoomRequest {
	r.idContext = &idContext
	return r
}

// A reference to the type of object defined by the UniqueID element.
func (r FrontDeskOperationsApiAutoUnAssignRoomRequest) ReservationIdType(reservationIdType string) FrontDeskOperationsApiAutoUnAssignRoomRequest {
	r.reservationIdType = &reservationIdType
	return r
}

// This flag when set to true will include only pseudo rooms
func (r FrontDeskOperationsApiAutoUnAssignRoomRequest) PseudoRoomsOnly(pseudoRoomsOnly bool) FrontDeskOperationsApiAutoUnAssignRoomRequest {
	r.pseudoRoomsOnly = &pseudoRoomsOnly
	return r
}

// This flag when set to true will includes attendent in Rooms
func (r FrontDeskOperationsApiAutoUnAssignRoomRequest) IncludeAttendentInRoom(includeAttendentInRoom bool) FrontDeskOperationsApiAutoUnAssignRoomRequest {
	r.includeAttendentInRoom = &includeAttendentInRoom
	return r
}

// External system code.
func (r FrontDeskOperationsApiAutoUnAssignRoomRequest) XExternalsystem(xExternalsystem string) FrontDeskOperationsApiAutoUnAssignRoomRequest {
	r.xExternalsystem = &xExternalsystem
	return r
}

// Language code
func (r FrontDeskOperationsApiAutoUnAssignRoomRequest) AcceptLanguage(acceptLanguage string) FrontDeskOperationsApiAutoUnAssignRoomRequest {
	r.acceptLanguage = &acceptLanguage
	return r
}

func (r FrontDeskOperationsApiAutoUnAssignRoomRequest) Execute() (*Status, *http.Response, error) {
	return r.ApiService.AutoUnAssignRoomExecute(r)
}

/*
AutoUnAssignRoom Auto unassign room

This API can be used to auto unassign a room. <p><strong>OperationId:</strong>autoUnAssignRoom</p>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param hotelId
 @return FrontDeskOperationsApiAutoUnAssignRoomRequest
*/
func (a *FrontDeskOperationsApiService) AutoUnAssignRoom(ctx context.Context, hotelId string) FrontDeskOperationsApiAutoUnAssignRoomRequest {
	return FrontDeskOperationsApiAutoUnAssignRoomRequest{
		ApiService: a,
		ctx: ctx,
		hotelId: hotelId,
	}
}

// Execute executes the request
//  @return Status
func (a *FrontDeskOperationsApiService) AutoUnAssignRoomExecute(r FrontDeskOperationsApiAutoUnAssignRoomRequest) (*Status, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *Status
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FrontDeskOperationsApiService.AutoUnAssignRoom")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/hotels/{hotelId}/reservations/autoRoomAssignments"
	localVarPath = strings.Replace(localVarPath, "{"+"hotelId"+"}", url.PathEscape(parameterValueToString(r.hotelId, "hotelId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if strlen(r.hotelId) < 1 {
		return localVarReturnValue, nil, reportError("hotelId must have at least 1 elements")
	}
	if strlen(r.hotelId) > 2000 {
		return localVarReturnValue, nil, reportError("hotelId must have less than 2000 elements")
	}

	if r.id != nil {
		t := *r.id
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "id", s.Index(i).Interface(), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "id", t, "multi")
		}
	}
	if r.idExtension != nil {
		t := *r.idExtension
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "idExtension", s.Index(i).Interface(), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "idExtension", t, "multi")
		}
	}
	if r.type_ != nil {
		t := *r.type_
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "type", s.Index(i).Interface(), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "type", t, "multi")
		}
	}
	if r.includeDepartureRooms != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "includeDepartureRooms", r.includeDepartureRooms, "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "")
	}
	if r.roomNumberWildcard != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "roomNumberWildcard", r.roomNumberWildcard, "")
	}
	if r.useAIRoomAssignment != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "useAIRoomAssignment", r.useAIRoomAssignment, "")
	}
	if r.useAssociatedProfilePreferences != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "useAssociatedProfilePreferences", r.useAssociatedProfilePreferences, "")
	}
	if r.hotelRoomStatus != nil {
		t := *r.hotelRoomStatus
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "hotelRoomStatus", s.Index(i).Interface(), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "hotelRoomStatus", t, "multi")
		}
	}
	if r.hotelFORoomStatus != nil {
		t := *r.hotelFORoomStatus
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "hotelFORoomStatus", s.Index(i).Interface(), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "hotelFORoomStatus", t, "multi")
		}
	}
	if r.fromRoomNumber != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fromRoomNumber", r.fromRoomNumber, "")
	}
	if r.toRoomNumber != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "toRoomNumber", r.toRoomNumber, "")
	}
	if r.startDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "startDate", r.startDate, "")
	}
	if r.endDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "endDate", r.endDate, "")
	}
	if r.duration != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "duration", r.duration, "")
	}
	if r.roomType != nil {
		t := *r.roomType
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "roomType", s.Index(i).Interface(), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "roomType", t, "multi")
		}
	}
	if r.roomClass != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "roomClass", r.roomClass, "")
	}
	if r.floor != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "floor", r.floor, "")
	}
	if r.includeDueOut != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "includeDueOut", r.includeDueOut, "")
	}
	if r.departureTime != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "departureTime", r.departureTime, "")
	}
	if r.code != nil {
		t := *r.code
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "code", s.Index(i).Interface(), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "code", t, "multi")
		}
	}
	if r.description != nil {
		t := *r.description
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "description", s.Index(i).Interface(), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "description", t, "multi")
		}
	}
	if r.orderSequence != nil {
		t := *r.orderSequence
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "orderSequence", s.Index(i).Interface(), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "orderSequence", t, "multi")
		}
	}
	if r.quantity != nil {
		t := *r.quantity
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "quantity", s.Index(i).Interface(), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "quantity", t, "multi")
		}
	}
	if r.smokingPreference != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "smokingPreference", r.smokingPreference, "")
	}
	if r.includeAllRoomConditions != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "includeAllRoomConditions", r.includeAllRoomConditions, "")
	}
	if r.includeComponentRooms != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "includeComponentRooms", r.includeComponentRooms, "")
	}
	if r.includePseudoRooms != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "includePseudoRooms", r.includePseudoRooms, "")
	}
	if r.includeOORoomCheck != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "includeOORoomCheck", r.includeOORoomCheck, "")
	}
	if r.connectingRoomsOnly != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "connectingRoomsOnly", r.connectingRoomsOnly, "")
	}
	if r.reservationIdId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "reservationIdId", r.reservationIdId, "")
	}
	if r.reservationIdIdExtension != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "reservationIdIdExtension", r.reservationIdIdExtension, "")
	}
	if r.idContext != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "idContext", r.idContext, "")
	}
	if r.reservationIdType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "reservationIdType", r.reservationIdType, "")
	}
	if r.pseudoRoomsOnly != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pseudoRoomsOnly", r.pseudoRoomsOnly, "")
	}
	if r.includeAttendentInRoom != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "includeAttendentInRoom", r.includeAttendentInRoom, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json;charset=UTF-8"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xExternalsystem != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-externalsystem", r.xExternalsystem, "")
	}
	if r.acceptLanguage != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accept-Language", r.acceptLanguage, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type FrontDeskOperationsApiDeleteAdvanceCheckInRequest struct {
	ctx context.Context
	ApiService *FrontDeskOperationsApiService
	reservationId string
	hotelId string
	authorization *string
	xAppKey *string
	xHotelid *string
	xExternalsystem *string
	acceptLanguage *string
}

// Bearer token that needs to be passed which is generated post user authentication
func (r FrontDeskOperationsApiDeleteAdvanceCheckInRequest) Authorization(authorization string) FrontDeskOperationsApiDeleteAdvanceCheckInRequest {
	r.authorization = &authorization
	return r
}

// Client or Partner&#39;s Application Key
func (r FrontDeskOperationsApiDeleteAdvanceCheckInRequest) XAppKey(xAppKey string) FrontDeskOperationsApiDeleteAdvanceCheckInRequest {
	r.xAppKey = &xAppKey
	return r
}

// Mandatory parameter to identify the hotel code where the end user is logged in
func (r FrontDeskOperationsApiDeleteAdvanceCheckInRequest) XHotelid(xHotelid string) FrontDeskOperationsApiDeleteAdvanceCheckInRequest {
	r.xHotelid = &xHotelid
	return r
}

// External system code.
func (r FrontDeskOperationsApiDeleteAdvanceCheckInRequest) XExternalsystem(xExternalsystem string) FrontDeskOperationsApiDeleteAdvanceCheckInRequest {
	r.xExternalsystem = &xExternalsystem
	return r
}

// Language code
func (r FrontDeskOperationsApiDeleteAdvanceCheckInRequest) AcceptLanguage(acceptLanguage string) FrontDeskOperationsApiDeleteAdvanceCheckInRequest {
	r.acceptLanguage = &acceptLanguage
	return r
}

func (r FrontDeskOperationsApiDeleteAdvanceCheckInRequest) Execute() (*Status, *http.Response, error) {
	return r.ApiService.DeleteAdvanceCheckInExecute(r)
}

/*
DeleteAdvanceCheckIn Reverse Advance Checkin 

Reverse an advance check in for a reservation. <p><strong>OperationId:</strong>deleteAdvanceCheckIn</p>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param reservationId
 @param hotelId
 @return FrontDeskOperationsApiDeleteAdvanceCheckInRequest
*/
func (a *FrontDeskOperationsApiService) DeleteAdvanceCheckIn(ctx context.Context, reservationId string, hotelId string) FrontDeskOperationsApiDeleteAdvanceCheckInRequest {
	return FrontDeskOperationsApiDeleteAdvanceCheckInRequest{
		ApiService: a,
		ctx: ctx,
		reservationId: reservationId,
		hotelId: hotelId,
	}
}

// Execute executes the request
//  @return Status
func (a *FrontDeskOperationsApiService) DeleteAdvanceCheckInExecute(r FrontDeskOperationsApiDeleteAdvanceCheckInRequest) (*Status, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *Status
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FrontDeskOperationsApiService.DeleteAdvanceCheckIn")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/hotels/{hotelId}/reservations/{reservationId}/advanceCheckIns"
	localVarPath = strings.Replace(localVarPath, "{"+"reservationId"+"}", url.PathEscape(parameterValueToString(r.reservationId, "reservationId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"hotelId"+"}", url.PathEscape(parameterValueToString(r.hotelId, "hotelId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if strlen(r.reservationId) < 1 {
		return localVarReturnValue, nil, reportError("reservationId must have at least 1 elements")
	}
	if strlen(r.reservationId) > 2000 {
		return localVarReturnValue, nil, reportError("reservationId must have less than 2000 elements")
	}
	if strlen(r.hotelId) < 1 {
		return localVarReturnValue, nil, reportError("hotelId must have at least 1 elements")
	}
	if strlen(r.hotelId) > 2000 {
		return localVarReturnValue, nil, reportError("hotelId must have less than 2000 elements")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json;charset=UTF-8"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xExternalsystem != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-externalsystem", r.xExternalsystem, "")
	}
	if r.acceptLanguage != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accept-Language", r.acceptLanguage, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type FrontDeskOperationsApiDeleteAssignRoomRequest struct {
	ctx context.Context
	ApiService *FrontDeskOperationsApiService
	reservationId string
	hotelId string
	authorization *string
	xAppKey *string
	xHotelid *string
	unAssignRoomCriteria *DeleteAssignRoomRequest
	xExternalsystem *string
	acceptLanguage *string
}

// Bearer token that needs to be passed which is generated post user authentication
func (r FrontDeskOperationsApiDeleteAssignRoomRequest) Authorization(authorization string) FrontDeskOperationsApiDeleteAssignRoomRequest {
	r.authorization = &authorization
	return r
}

// Client or Partner&#39;s Application Key
func (r FrontDeskOperationsApiDeleteAssignRoomRequest) XAppKey(xAppKey string) FrontDeskOperationsApiDeleteAssignRoomRequest {
	r.xAppKey = &xAppKey
	return r
}

// Mandatory parameter to identify the hotel code where the end user is logged in
func (r FrontDeskOperationsApiDeleteAssignRoomRequest) XHotelid(xHotelid string) FrontDeskOperationsApiDeleteAssignRoomRequest {
	r.xHotelid = &xHotelid
	return r
}

// Request to the remove a room(unassign) from a reserved reservation.
func (r FrontDeskOperationsApiDeleteAssignRoomRequest) UnAssignRoomCriteria(unAssignRoomCriteria DeleteAssignRoomRequest) FrontDeskOperationsApiDeleteAssignRoomRequest {
	r.unAssignRoomCriteria = &unAssignRoomCriteria
	return r
}

// External system code.
func (r FrontDeskOperationsApiDeleteAssignRoomRequest) XExternalsystem(xExternalsystem string) FrontDeskOperationsApiDeleteAssignRoomRequest {
	r.xExternalsystem = &xExternalsystem
	return r
}

// Language code
func (r FrontDeskOperationsApiDeleteAssignRoomRequest) AcceptLanguage(acceptLanguage string) FrontDeskOperationsApiDeleteAssignRoomRequest {
	r.acceptLanguage = &acceptLanguage
	return r
}

func (r FrontDeskOperationsApiDeleteAssignRoomRequest) Execute() (*UnAssignedRoom, *http.Response, error) {
	return r.ApiService.DeleteAssignRoomExecute(r)
}

/*
DeleteAssignRoom Remove an assigned room

This API will allow you to remove an assigned room from a reservation in reserved status. <p><strong>OperationId:</strong>deleteAssignRoom</p>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param reservationId
 @param hotelId
 @return FrontDeskOperationsApiDeleteAssignRoomRequest
*/
func (a *FrontDeskOperationsApiService) DeleteAssignRoom(ctx context.Context, reservationId string, hotelId string) FrontDeskOperationsApiDeleteAssignRoomRequest {
	return FrontDeskOperationsApiDeleteAssignRoomRequest{
		ApiService: a,
		ctx: ctx,
		reservationId: reservationId,
		hotelId: hotelId,
	}
}

// Execute executes the request
//  @return UnAssignedRoom
func (a *FrontDeskOperationsApiService) DeleteAssignRoomExecute(r FrontDeskOperationsApiDeleteAssignRoomRequest) (*UnAssignedRoom, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *UnAssignedRoom
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FrontDeskOperationsApiService.DeleteAssignRoom")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/hotels/{hotelId}/reservations/{reservationId}/rooms"
	localVarPath = strings.Replace(localVarPath, "{"+"reservationId"+"}", url.PathEscape(parameterValueToString(r.reservationId, "reservationId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"hotelId"+"}", url.PathEscape(parameterValueToString(r.hotelId, "hotelId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if strlen(r.reservationId) < 1 {
		return localVarReturnValue, nil, reportError("reservationId must have at least 1 elements")
	}
	if strlen(r.reservationId) > 2000 {
		return localVarReturnValue, nil, reportError("reservationId must have less than 2000 elements")
	}
	if strlen(r.hotelId) < 1 {
		return localVarReturnValue, nil, reportError("hotelId must have at least 1 elements")
	}
	if strlen(r.hotelId) > 2000 {
		return localVarReturnValue, nil, reportError("hotelId must have less than 2000 elements")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json;charset=UTF-8"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json;charset=UTF-8"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xExternalsystem != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-externalsystem", r.xExternalsystem, "")
	}
	if r.acceptLanguage != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accept-Language", r.acceptLanguage, "")
	}
	// body params
	localVarPostBody = r.unAssignRoomCriteria
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type FrontDeskOperationsApiDeleteCheckinRequest struct {
	ctx context.Context
	ApiService *FrontDeskOperationsApiService
	reservationId string
	hotelId string
	authorization *string
	xAppKey *string
	xHotelid *string
	roomStatus *string
	unassignRoom *bool
	xExternalsystem *string
	acceptLanguage *string
}

// Bearer token that needs to be passed which is generated post user authentication
func (r FrontDeskOperationsApiDeleteCheckinRequest) Authorization(authorization string) FrontDeskOperationsApiDeleteCheckinRequest {
	r.authorization = &authorization
	return r
}

// Client or Partner&#39;s Application Key
func (r FrontDeskOperationsApiDeleteCheckinRequest) XAppKey(xAppKey string) FrontDeskOperationsApiDeleteCheckinRequest {
	r.xAppKey = &xAppKey
	return r
}

// Mandatory parameter to identify the hotel code where the end user is logged in
func (r FrontDeskOperationsApiDeleteCheckinRequest) XHotelid(xHotelid string) FrontDeskOperationsApiDeleteCheckinRequest {
	r.xHotelid = &xHotelid
	return r
}

// Simple type for room status instructions to be used in requests for fetching housekeeping rooms. Valid status values are Clean, Dirty, Pickup, Inspected, OutOfOrder, OutOfService.
func (r FrontDeskOperationsApiDeleteCheckinRequest) RoomStatus(roomStatus string) FrontDeskOperationsApiDeleteCheckinRequest {
	r.roomStatus = &roomStatus
	return r
}

// This option is used when all reservation check-in is reversed and the user wants to choose if the room is to be blocked. If all check-ins are not reversed, this is ignored and a default value false is used.
func (r FrontDeskOperationsApiDeleteCheckinRequest) UnassignRoom(unassignRoom bool) FrontDeskOperationsApiDeleteCheckinRequest {
	r.unassignRoom = &unassignRoom
	return r
}

// External system code.
func (r FrontDeskOperationsApiDeleteCheckinRequest) XExternalsystem(xExternalsystem string) FrontDeskOperationsApiDeleteCheckinRequest {
	r.xExternalsystem = &xExternalsystem
	return r
}

// Language code
func (r FrontDeskOperationsApiDeleteCheckinRequest) AcceptLanguage(acceptLanguage string) FrontDeskOperationsApiDeleteCheckinRequest {
	r.acceptLanguage = &acceptLanguage
	return r
}

func (r FrontDeskOperationsApiDeleteCheckinRequest) Execute() (*Status, *http.Response, error) {
	return r.ApiService.DeleteCheckinExecute(r)
}

/*
DeleteCheckin Revert a checked-in Reservation

Use this API to revert a reservation that has been checked in.  This will return the reservation to a Due in/Arrival status. <p><strong>OperationId:</strong>deleteCheckin</p>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param reservationId
 @param hotelId
 @return FrontDeskOperationsApiDeleteCheckinRequest
*/
func (a *FrontDeskOperationsApiService) DeleteCheckin(ctx context.Context, reservationId string, hotelId string) FrontDeskOperationsApiDeleteCheckinRequest {
	return FrontDeskOperationsApiDeleteCheckinRequest{
		ApiService: a,
		ctx: ctx,
		reservationId: reservationId,
		hotelId: hotelId,
	}
}

// Execute executes the request
//  @return Status
func (a *FrontDeskOperationsApiService) DeleteCheckinExecute(r FrontDeskOperationsApiDeleteCheckinRequest) (*Status, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *Status
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FrontDeskOperationsApiService.DeleteCheckin")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/hotels/{hotelId}/reservations/{reservationId}/checkIns"
	localVarPath = strings.Replace(localVarPath, "{"+"reservationId"+"}", url.PathEscape(parameterValueToString(r.reservationId, "reservationId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"hotelId"+"}", url.PathEscape(parameterValueToString(r.hotelId, "hotelId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if strlen(r.reservationId) < 1 {
		return localVarReturnValue, nil, reportError("reservationId must have at least 1 elements")
	}
	if strlen(r.reservationId) > 2000 {
		return localVarReturnValue, nil, reportError("reservationId must have less than 2000 elements")
	}
	if strlen(r.hotelId) < 1 {
		return localVarReturnValue, nil, reportError("hotelId must have at least 1 elements")
	}
	if strlen(r.hotelId) > 2000 {
		return localVarReturnValue, nil, reportError("hotelId must have less than 2000 elements")
	}

	if r.roomStatus != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "roomStatus", r.roomStatus, "")
	}
	if r.unassignRoom != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "unassignRoom", r.unassignRoom, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json;charset=UTF-8"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xExternalsystem != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-externalsystem", r.xExternalsystem, "")
	}
	if r.acceptLanguage != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accept-Language", r.acceptLanguage, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type FrontDeskOperationsApiDeleteDailyDocketRequest struct {
	ctx context.Context
	ApiService *FrontDeskOperationsApiService
	docketId string
	hotelId string
	authorization *string
	xAppKey *string
	xHotelid *string
	xExternalsystem *string
	acceptLanguage *string
}

// Bearer token that needs to be passed which is generated post user authentication
func (r FrontDeskOperationsApiDeleteDailyDocketRequest) Authorization(authorization string) FrontDeskOperationsApiDeleteDailyDocketRequest {
	r.authorization = &authorization
	return r
}

// Client or Partner&#39;s Application Key
func (r FrontDeskOperationsApiDeleteDailyDocketRequest) XAppKey(xAppKey string) FrontDeskOperationsApiDeleteDailyDocketRequest {
	r.xAppKey = &xAppKey
	return r
}

// Mandatory parameter to identify the hotel code where the end user is logged in
func (r FrontDeskOperationsApiDeleteDailyDocketRequest) XHotelid(xHotelid string) FrontDeskOperationsApiDeleteDailyDocketRequest {
	r.xHotelid = &xHotelid
	return r
}

// External system code.
func (r FrontDeskOperationsApiDeleteDailyDocketRequest) XExternalsystem(xExternalsystem string) FrontDeskOperationsApiDeleteDailyDocketRequest {
	r.xExternalsystem = &xExternalsystem
	return r
}

// Language code
func (r FrontDeskOperationsApiDeleteDailyDocketRequest) AcceptLanguage(acceptLanguage string) FrontDeskOperationsApiDeleteDailyDocketRequest {
	r.acceptLanguage = &acceptLanguage
	return r
}

func (r FrontDeskOperationsApiDeleteDailyDocketRequest) Execute() (*Status, *http.Response, error) {
	return r.ApiService.DeleteDailyDocketExecute(r)
}

/*
DeleteDailyDocket Delete Daily Docket 

Use this API to delete a Daily Docket. <p><strong>OperationId:</strong>deleteDailyDocket</p>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param docketId
 @param hotelId
 @return FrontDeskOperationsApiDeleteDailyDocketRequest
*/
func (a *FrontDeskOperationsApiService) DeleteDailyDocket(ctx context.Context, docketId string, hotelId string) FrontDeskOperationsApiDeleteDailyDocketRequest {
	return FrontDeskOperationsApiDeleteDailyDocketRequest{
		ApiService: a,
		ctx: ctx,
		docketId: docketId,
		hotelId: hotelId,
	}
}

// Execute executes the request
//  @return Status
func (a *FrontDeskOperationsApiService) DeleteDailyDocketExecute(r FrontDeskOperationsApiDeleteDailyDocketRequest) (*Status, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *Status
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FrontDeskOperationsApiService.DeleteDailyDocket")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/hotels/{hotelId}/dailyDocket/{docketId}"
	localVarPath = strings.Replace(localVarPath, "{"+"docketId"+"}", url.PathEscape(parameterValueToString(r.docketId, "docketId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"hotelId"+"}", url.PathEscape(parameterValueToString(r.hotelId, "hotelId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if strlen(r.docketId) < 1 {
		return localVarReturnValue, nil, reportError("docketId must have at least 1 elements")
	}
	if strlen(r.docketId) > 2000 {
		return localVarReturnValue, nil, reportError("docketId must have less than 2000 elements")
	}
	if strlen(r.hotelId) < 1 {
		return localVarReturnValue, nil, reportError("hotelId must have at least 1 elements")
	}
	if strlen(r.hotelId) > 2000 {
		return localVarReturnValue, nil, reportError("hotelId must have less than 2000 elements")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json;charset=UTF-8"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xExternalsystem != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-externalsystem", r.xExternalsystem, "")
	}
	if r.acceptLanguage != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accept-Language", r.acceptLanguage, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type FrontDeskOperationsApiDeleteReservationFromQueueRequest struct {
	ctx context.Context
	ApiService *FrontDeskOperationsApiService
	reservationId string
	hotelId string
	authorization *string
	xAppKey *string
	xHotelid *string
	xExternalsystem *string
	acceptLanguage *string
}

// Bearer token that needs to be passed which is generated post user authentication
func (r FrontDeskOperationsApiDeleteReservationFromQueueRequest) Authorization(authorization string) FrontDeskOperationsApiDeleteReservationFromQueueRequest {
	r.authorization = &authorization
	return r
}

// Client or Partner&#39;s Application Key
func (r FrontDeskOperationsApiDeleteReservationFromQueueRequest) XAppKey(xAppKey string) FrontDeskOperationsApiDeleteReservationFromQueueRequest {
	r.xAppKey = &xAppKey
	return r
}

// Mandatory parameter to identify the hotel code where the end user is logged in
func (r FrontDeskOperationsApiDeleteReservationFromQueueRequest) XHotelid(xHotelid string) FrontDeskOperationsApiDeleteReservationFromQueueRequest {
	r.xHotelid = &xHotelid
	return r
}

// External system code.
func (r FrontDeskOperationsApiDeleteReservationFromQueueRequest) XExternalsystem(xExternalsystem string) FrontDeskOperationsApiDeleteReservationFromQueueRequest {
	r.xExternalsystem = &xExternalsystem
	return r
}

// Language code
func (r FrontDeskOperationsApiDeleteReservationFromQueueRequest) AcceptLanguage(acceptLanguage string) FrontDeskOperationsApiDeleteReservationFromQueueRequest {
	r.acceptLanguage = &acceptLanguage
	return r
}

func (r FrontDeskOperationsApiDeleteReservationFromQueueRequest) Execute() (*Status, *http.Response, error) {
	return r.ApiService.DeleteReservationFromQueueExecute(r)
}

/*
DeleteReservationFromQueue Delete reservation from queue

Use this API to remove a reservation that is already set as a Queued Reservation. <p><strong>OperationId:</strong>deleteReservationFromQueue</p>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param reservationId
 @param hotelId
 @return FrontDeskOperationsApiDeleteReservationFromQueueRequest
*/
func (a *FrontDeskOperationsApiService) DeleteReservationFromQueue(ctx context.Context, reservationId string, hotelId string) FrontDeskOperationsApiDeleteReservationFromQueueRequest {
	return FrontDeskOperationsApiDeleteReservationFromQueueRequest{
		ApiService: a,
		ctx: ctx,
		reservationId: reservationId,
		hotelId: hotelId,
	}
}

// Execute executes the request
//  @return Status
func (a *FrontDeskOperationsApiService) DeleteReservationFromQueueExecute(r FrontDeskOperationsApiDeleteReservationFromQueueRequest) (*Status, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *Status
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FrontDeskOperationsApiService.DeleteReservationFromQueue")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/hotels/{hotelId}/queuedReservations/{reservationId}"
	localVarPath = strings.Replace(localVarPath, "{"+"reservationId"+"}", url.PathEscape(parameterValueToString(r.reservationId, "reservationId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"hotelId"+"}", url.PathEscape(parameterValueToString(r.hotelId, "hotelId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if strlen(r.reservationId) < 1 {
		return localVarReturnValue, nil, reportError("reservationId must have at least 1 elements")
	}
	if strlen(r.reservationId) > 2000 {
		return localVarReturnValue, nil, reportError("reservationId must have less than 2000 elements")
	}
	if strlen(r.hotelId) < 1 {
		return localVarReturnValue, nil, reportError("hotelId must have at least 1 elements")
	}
	if strlen(r.hotelId) > 2000 {
		return localVarReturnValue, nil, reportError("hotelId must have less than 2000 elements")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json;charset=UTF-8"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xExternalsystem != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-externalsystem", r.xExternalsystem, "")
	}
	if r.acceptLanguage != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accept-Language", r.acceptLanguage, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type FrontDeskOperationsApiDeleteRoomKeyRequest struct {
	ctx context.Context
	ApiService *FrontDeskOperationsApiService
	reservationId string
	hotelId string
	authorization *string
	xAppKey *string
	xHotelid *string
	xExternalsystem *string
	acceptLanguage *string
}

// Bearer token that needs to be passed which is generated post user authentication
func (r FrontDeskOperationsApiDeleteRoomKeyRequest) Authorization(authorization string) FrontDeskOperationsApiDeleteRoomKeyRequest {
	r.authorization = &authorization
	return r
}

// Client or Partner&#39;s Application Key
func (r FrontDeskOperationsApiDeleteRoomKeyRequest) XAppKey(xAppKey string) FrontDeskOperationsApiDeleteRoomKeyRequest {
	r.xAppKey = &xAppKey
	return r
}

// Mandatory parameter to identify the hotel code where the end user is logged in
func (r FrontDeskOperationsApiDeleteRoomKeyRequest) XHotelid(xHotelid string) FrontDeskOperationsApiDeleteRoomKeyRequest {
	r.xHotelid = &xHotelid
	return r
}

// External system code.
func (r FrontDeskOperationsApiDeleteRoomKeyRequest) XExternalsystem(xExternalsystem string) FrontDeskOperationsApiDeleteRoomKeyRequest {
	r.xExternalsystem = &xExternalsystem
	return r
}

// Language code
func (r FrontDeskOperationsApiDeleteRoomKeyRequest) AcceptLanguage(acceptLanguage string) FrontDeskOperationsApiDeleteRoomKeyRequest {
	r.acceptLanguage = &acceptLanguage
	return r
}

func (r FrontDeskOperationsApiDeleteRoomKeyRequest) Execute() (*Status, *http.Response, error) {
	return r.ApiService.DeleteRoomKeyExecute(r)
}

/*
DeleteRoomKey Delete room key

This API will delete room keys on a reservation. <p><strong>OperationId:</strong>deleteRoomKey</p>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param reservationId
 @param hotelId
 @return FrontDeskOperationsApiDeleteRoomKeyRequest
*/
func (a *FrontDeskOperationsApiService) DeleteRoomKey(ctx context.Context, reservationId string, hotelId string) FrontDeskOperationsApiDeleteRoomKeyRequest {
	return FrontDeskOperationsApiDeleteRoomKeyRequest{
		ApiService: a,
		ctx: ctx,
		reservationId: reservationId,
		hotelId: hotelId,
	}
}

// Execute executes the request
//  @return Status
func (a *FrontDeskOperationsApiService) DeleteRoomKeyExecute(r FrontDeskOperationsApiDeleteRoomKeyRequest) (*Status, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *Status
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FrontDeskOperationsApiService.DeleteRoomKey")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/hotels/{hotelId}/reservations/{reservationId}/roomKeys"
	localVarPath = strings.Replace(localVarPath, "{"+"reservationId"+"}", url.PathEscape(parameterValueToString(r.reservationId, "reservationId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"hotelId"+"}", url.PathEscape(parameterValueToString(r.hotelId, "hotelId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if strlen(r.reservationId) < 1 {
		return localVarReturnValue, nil, reportError("reservationId must have at least 1 elements")
	}
	if strlen(r.reservationId) > 2000 {
		return localVarReturnValue, nil, reportError("reservationId must have less than 2000 elements")
	}
	if strlen(r.hotelId) < 1 {
		return localVarReturnValue, nil, reportError("hotelId must have at least 1 elements")
	}
	if strlen(r.hotelId) > 2000 {
		return localVarReturnValue, nil, reportError("hotelId must have less than 2000 elements")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json;charset=UTF-8"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xExternalsystem != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-externalsystem", r.xExternalsystem, "")
	}
	if r.acceptLanguage != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accept-Language", r.acceptLanguage, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type FrontDeskOperationsApiDeleteServiceRequestsRequest struct {
	ctx context.Context
	ApiService *FrontDeskOperationsApiService
	serviceRequestId string
	hotelId string
	authorization *string
	xAppKey *string
	xHotelid *string
	xExternalsystem *string
	acceptLanguage *string
}

// Bearer token that needs to be passed which is generated post user authentication
func (r FrontDeskOperationsApiDeleteServiceRequestsRequest) Authorization(authorization string) FrontDeskOperationsApiDeleteServiceRequestsRequest {
	r.authorization = &authorization
	return r
}

// Client or Partner&#39;s Application Key
func (r FrontDeskOperationsApiDeleteServiceRequestsRequest) XAppKey(xAppKey string) FrontDeskOperationsApiDeleteServiceRequestsRequest {
	r.xAppKey = &xAppKey
	return r
}

// Mandatory parameter to identify the hotel code where the end user is logged in
func (r FrontDeskOperationsApiDeleteServiceRequestsRequest) XHotelid(xHotelid string) FrontDeskOperationsApiDeleteServiceRequestsRequest {
	r.xHotelid = &xHotelid
	return r
}

// External system code.
func (r FrontDeskOperationsApiDeleteServiceRequestsRequest) XExternalsystem(xExternalsystem string) FrontDeskOperationsApiDeleteServiceRequestsRequest {
	r.xExternalsystem = &xExternalsystem
	return r
}

// Language code
func (r FrontDeskOperationsApiDeleteServiceRequestsRequest) AcceptLanguage(acceptLanguage string) FrontDeskOperationsApiDeleteServiceRequestsRequest {
	r.acceptLanguage = &acceptLanguage
	return r
}

func (r FrontDeskOperationsApiDeleteServiceRequestsRequest) Execute() (*Status, *http.Response, error) {
	return r.ApiService.DeleteServiceRequestsExecute(r)
}

/*
DeleteServiceRequests Delete Service Requests

Use this API to delete any service requests that exist on a reservation. <p><strong>OperationId:</strong>deleteServiceRequests</p>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param serviceRequestId
 @param hotelId
 @return FrontDeskOperationsApiDeleteServiceRequestsRequest
*/
func (a *FrontDeskOperationsApiService) DeleteServiceRequests(ctx context.Context, serviceRequestId string, hotelId string) FrontDeskOperationsApiDeleteServiceRequestsRequest {
	return FrontDeskOperationsApiDeleteServiceRequestsRequest{
		ApiService: a,
		ctx: ctx,
		serviceRequestId: serviceRequestId,
		hotelId: hotelId,
	}
}

// Execute executes the request
//  @return Status
func (a *FrontDeskOperationsApiService) DeleteServiceRequestsExecute(r FrontDeskOperationsApiDeleteServiceRequestsRequest) (*Status, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *Status
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FrontDeskOperationsApiService.DeleteServiceRequests")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/hotels/{hotelId}/serviceRequests/{serviceRequestId}"
	localVarPath = strings.Replace(localVarPath, "{"+"serviceRequestId"+"}", url.PathEscape(parameterValueToString(r.serviceRequestId, "serviceRequestId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"hotelId"+"}", url.PathEscape(parameterValueToString(r.hotelId, "hotelId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if strlen(r.serviceRequestId) < 1 {
		return localVarReturnValue, nil, reportError("serviceRequestId must have at least 1 elements")
	}
	if strlen(r.serviceRequestId) > 2000 {
		return localVarReturnValue, nil, reportError("serviceRequestId must have less than 2000 elements")
	}
	if strlen(r.hotelId) < 1 {
		return localVarReturnValue, nil, reportError("hotelId must have at least 1 elements")
	}
	if strlen(r.hotelId) > 2000 {
		return localVarReturnValue, nil, reportError("hotelId must have less than 2000 elements")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json;charset=UTF-8"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xExternalsystem != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-externalsystem", r.xExternalsystem, "")
	}
	if r.acceptLanguage != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accept-Language", r.acceptLanguage, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

[...]
