/*
OPERA Cloud DataValueMapping Service API

APIs which offer external systems to config and use values different than what are configured in opera<br /><br /> Compatible with OPERA Cloud release 26.2.0.0.<br /><br /><p> This document and all content within is available under the Universal Permissive License v 1.0 (https://oss.oracle.com/licenses/upl). Copyright (c) 2020, 2026 Oracle and/or its affiliates.</p>

API version: 26.2.0.0
Contact: hospitality_apis_ww_grp@oracle.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package dvm

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"reflect"
)


// DataValueMappingAPIService DataValueMappingAPI service
type DataValueMappingAPIService service

type DataValueMappingAPIClearDefaultValueCacheRequest struct {
	ctx context.Context
	ApiService *DataValueMappingAPIService
	authorization *string
	xAppKey *string
	xHotelid *string
	externalData *string
	xRequestId *string
	xOriginatingApplication *string
	xExternalsystem *string
	acceptLanguage *string
}

// Bearer token that needs to be passed which is generated post user authentication
func (r DataValueMappingAPIClearDefaultValueCacheRequest) Authorization(authorization string) DataValueMappingAPIClearDefaultValueCacheRequest {
	r.authorization = &authorization
	return r
}

// Client or Partner&#39;s Application Key
func (r DataValueMappingAPIClearDefaultValueCacheRequest) XAppKey(xAppKey string) DataValueMappingAPIClearDefaultValueCacheRequest {
	r.xAppKey = &xAppKey
	return r
}

// Mandatory parameter to identify the hotel code where the end user is logged in
func (r DataValueMappingAPIClearDefaultValueCacheRequest) XHotelid(xHotelid string) DataValueMappingAPIClearDefaultValueCacheRequest {
	r.xHotelid = &xHotelid
	return r
}

// Pass this header as true, if payload needs DVM
func (r DataValueMappingAPIClearDefaultValueCacheRequest) ExternalData(externalData string) DataValueMappingAPIClearDefaultValueCacheRequest {
	r.externalData = &externalData
	return r
}

// Request Id of an incoming request
func (r DataValueMappingAPIClearDefaultValueCacheRequest) XRequestId(xRequestId string) DataValueMappingAPIClearDefaultValueCacheRequest {
	r.xRequestId = &xRequestId
	return r
}

// Customer&#39;s Integration Application Id
func (r DataValueMappingAPIClearDefaultValueCacheRequest) XOriginatingApplication(xOriginatingApplication string) DataValueMappingAPIClearDefaultValueCacheRequest {
	r.xOriginatingApplication = &xOriginatingApplication
	return r
}

// External system code.
func (r DataValueMappingAPIClearDefaultValueCacheRequest) XExternalsystem(xExternalsystem string) DataValueMappingAPIClearDefaultValueCacheRequest {
	r.xExternalsystem = &xExternalsystem
	return r
}

// Language code
func (r DataValueMappingAPIClearDefaultValueCacheRequest) AcceptLanguage(acceptLanguage string) DataValueMappingAPIClearDefaultValueCacheRequest {
	r.acceptLanguage = &acceptLanguage
	return r
}

func (r DataValueMappingAPIClearDefaultValueCacheRequest) Execute() (*Status, *http.Response, error) {
	return r.ApiService.ClearDefaultValueCacheExecute(r)
}

/*
ClearDefaultValueCache Clear Default Value Cache

This API allows you to delete the default values cache <p><strong>OperationId:</strong>clearDefaultValueCache</p>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return DataValueMappingAPIClearDefaultValueCacheRequest
*/
func (a *DataValueMappingAPIService) ClearDefaultValueCache(ctx context.Context) DataValueMappingAPIClearDefaultValueCacheRequest {
	return DataValueMappingAPIClearDefaultValueCacheRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return Status
func (a *DataValueMappingAPIService) ClearDefaultValueCacheExecute(r DataValueMappingAPIClearDefaultValueCacheRequest) (*Status, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *Status
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DataValueMappingAPIService.ClearDefaultValueCache")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/services/datavaluemapping/defaultValueCache"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json;charset=UTF-8"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "")
	}
	if r.externalData != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "externalData", r.externalData, "")
	}
	if r.xAppKey != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-app-key", r.xAppKey, "")
	}
	if r.xRequestId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-request-id", r.xRequestId, "")
	}
	if r.xOriginatingApplication != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-originating-application", r.xOriginatingApplication, "")
	}
	if r.xHotelid != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-hotelid", r.xHotelid, "")
	}
	if r.xExternalsystem != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-externalsystem", r.xExternalsystem, "")
	}
	if r.acceptLanguage != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accept-Language", r.acceptLanguage, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if a.client.cfg.ResponseMiddleware != nil {
		err = a.client.cfg.ResponseMiddleware(localVarHTTPResponse, localVarBody)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type DataValueMappingAPIDeleteDataValueMappingsRequest struct {
	ctx context.Context
	ApiService *DataValueMappingAPIService
	externalSystem string
	conversionCode string
	mappingIds *[]int32
	authorization *string
	xAppKey *string
	xHotelid *string
	externalData *string
	xRequestId *string
	xOriginatingApplication *string
	acceptLanguage *string
}

// List of Mapping IDs to delete
func (r DataValueMappingAPIDeleteDataValueMappingsRequest) MappingIds(mappingIds []int32) DataValueMappingAPIDeleteDataValueMappingsRequest {
	r.mappingIds = &mappingIds
	return r
}

// Bearer token that needs to be passed which is generated post user authentication
func (r DataValueMappingAPIDeleteDataValueMappingsRequest) Authorization(authorization string) DataValueMappingAPIDeleteDataValueMappingsRequest {
	r.authorization = &authorization
	return r
}

// Client or Partner&#39;s Application Key
func (r DataValueMappingAPIDeleteDataValueMappingsRequest) XAppKey(xAppKey string) DataValueMappingAPIDeleteDataValueMappingsRequest {
	r.xAppKey = &xAppKey
	return r
}

// Mandatory parameter to identify the hotel code where the end user is logged in
func (r DataValueMappingAPIDeleteDataValueMappingsRequest) XHotelid(xHotelid string) DataValueMappingAPIDeleteDataValueMappingsRequest {
	r.xHotelid = &xHotelid
	return r
}

// Pass this header as true, if payload needs DVM
func (r DataValueMappingAPIDeleteDataValueMappingsRequest) ExternalData(externalData string) DataValueMappingAPIDeleteDataValueMappingsRequest {
	r.externalData = &externalData
	return r
}

// Request Id of an incoming request
func (r DataValueMappingAPIDeleteDataValueMappingsRequest) XRequestId(xRequestId string) DataValueMappingAPIDeleteDataValueMappingsRequest {
	r.xRequestId = &xRequestId
	return r
}

// Customer&#39;s Integration Application Id
func (r DataValueMappingAPIDeleteDataValueMappingsRequest) XOriginatingApplication(xOriginatingApplication string) DataValueMappingAPIDeleteDataValueMappingsRequest {
	r.xOriginatingApplication = &xOriginatingApplication
	return r
}

// Language code
func (r DataValueMappingAPIDeleteDataValueMappingsRequest) AcceptLanguage(acceptLanguage string) DataValueMappingAPIDeleteDataValueMappingsRequest {
	r.acceptLanguage = &acceptLanguage
	return r
}

func (r DataValueMappingAPIDeleteDataValueMappingsRequest) Execute() (*DeleteDvmMappingResponse, *http.Response, error) {
	return r.ApiService.DeleteDataValueMappingsExecute(r)
}

/*
DeleteDataValueMappings Remove Conversion Codes Mappings

API to Delete Interface Mapping Conversion Codes by providing one or more Mapping IDs as query parameter. <p><strong>OperationId:</strong>deleteDataValueMappings</p>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param externalSystem External System code
 @param conversionCode Conversion Code
 @return DataValueMappingAPIDeleteDataValueMappingsRequest
*/
func (a *DataValueMappingAPIService) DeleteDataValueMappings(ctx context.Context, externalSystem string, conversionCode string) DataValueMappingAPIDeleteDataValueMappingsRequest {
	return DataValueMappingAPIDeleteDataValueMappingsRequest{
		ApiService: a,
		ctx: ctx,
		externalSystem: externalSystem,
		conversionCode: conversionCode,
	}
}

// Execute executes the request
//  @return DeleteDvmMappingResponse
func (a *DataValueMappingAPIService) DeleteDataValueMappingsExecute(r DataValueMappingAPIDeleteDataValueMappingsRequest) (*DeleteDvmMappingResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *DeleteDvmMappingResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DataValueMappingAPIService.DeleteDataValueMappings")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/externalSystems/{externalSystem}/conversionCodes/{conversionCode}/dataValueMappings"
	localVarPath = strings.Replace(localVarPath, "{"+"externalSystem"+"}", url.PathEscape(parameterValueToString(r.externalSystem, "externalSystem")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"conversionCode"+"}", url.PathEscape(parameterValueToString(r.conversionCode, "conversionCode")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	{
		t := *r.mappingIds
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "mappingIds", s.Index(i).Interface(), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "mappingIds", t, "multi")
		}
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json;charset=UTF-8"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "")
	}
	if r.externalData != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "externalData", r.externalData, "")
	}
	if r.xAppKey != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-app-key", r.xAppKey, "")
	}
	if r.xRequestId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-request-id", r.xRequestId, "")
	}
	if r.xOriginatingApplication != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-originating-application", r.xOriginatingApplication, "")
	}
	if r.xHotelid != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-hotelid", r.xHotelid, "")
	}
	if r.acceptLanguage != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accept-Language", r.acceptLanguage, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if a.client.cfg.ResponseMiddleware != nil {
		err = a.client.cfg.ResponseMiddleware(localVarHTTPResponse, localVarBody)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type DataValueMappingAPIGetConvertedValuesRequest struct {
	ctx context.Context
	ApiService *DataValueMappingAPIService
	operaHotelId string
	extSystemCode string
	authorization *string
	xAppKey *string
	xHotelid *string
	externalHotelId *string
	conversionCode *[]string
	valueToBeConverted *[]string
	masterValue *[]string
	externalData *string
	xRequestId *string
	xOriginatingApplication *string
	xExternalsystem *string
	acceptLanguage *string
}

// Bearer token that needs to be passed which is generated post user authentication
func (r DataValueMappingAPIGetConvertedValuesRequest) Authorization(authorization string) DataValueMappingAPIGetConvertedValuesRequest {
	r.authorization = &authorization
	return r
}

// Client or Partner&#39;s Application Key
func (r DataValueMappingAPIGetConvertedValuesRequest) XAppKey(xAppKey string) DataValueMappingAPIGetConvertedValuesRequest {
	r.xAppKey = &xAppKey
	return r
}

// Mandatory parameter to identify the hotel code where the end user is logged in
func (r DataValueMappingAPIGetConvertedValuesRequest) XHotelid(xHotelid string) DataValueMappingAPIGetConvertedValuesRequest {
	r.xHotelid = &xHotelid
	return r
}

// External value of resort for which conversion is needed.
func (r DataValueMappingAPIGetConvertedValuesRequest) ExternalHotelId(externalHotelId string) DataValueMappingAPIGetConvertedValuesRequest {
	r.externalHotelId = &externalHotelId
	return r
}

// Enumeration of the different conversion codes needed for data value mapping.
func (r DataValueMappingAPIGetConvertedValuesRequest) ConversionCode(conversionCode []string) DataValueMappingAPIGetConvertedValuesRequest {
	r.conversionCode = &conversionCode
	return r
}

// Value to be converted. It can be opera or external value.
func (r DataValueMappingAPIGetConvertedValuesRequest) ValueToBeConverted(valueToBeConverted []string) DataValueMappingAPIGetConvertedValuesRequest {
	r.valueToBeConverted = &valueToBeConverted
	return r
}

// Master value is supposed to be Opera value.
func (r DataValueMappingAPIGetConvertedValuesRequest) MasterValue(masterValue []string) DataValueMappingAPIGetConvertedValuesRequest {
	r.masterValue = &masterValue
	return r
}

// Pass this header as true, if payload needs DVM
func (r DataValueMappingAPIGetConvertedValuesRequest) ExternalData(externalData string) DataValueMappingAPIGetConvertedValuesRequest {
	r.externalData = &externalData
	return r
}

// Request Id of an incoming request
func (r DataValueMappingAPIGetConvertedValuesRequest) XRequestId(xRequestId string) DataValueMappingAPIGetConvertedValuesRequest {
	r.xRequestId = &xRequestId
	return r
}

// Customer&#39;s Integration Application Id
func (r DataValueMappingAPIGetConvertedValuesRequest) XOriginatingApplication(xOriginatingApplication string) DataValueMappingAPIGetConvertedValuesRequest {
	r.xOriginatingApplication = &xOriginatingApplication
	return r
}

// External system code.
func (r DataValueMappingAPIGetConvertedValuesRequest) XExternalsystem(xExternalsystem string) DataValueMappingAPIGetConvertedValuesRequest {
	r.xExternalsystem = &xExternalsystem
	return r
}

// Language code
func (r DataValueMappingAPIGetConvertedValuesRequest) AcceptLanguage(acceptLanguage string) DataValueMappingAPIGetConvertedValuesRequest {
	r.acceptLanguage = &acceptLanguage
	return r
}

func (r DataValueMappingAPIGetConvertedValuesRequest) Execute() (*ConvertedValues, *http.Response, error) {
	return r.ApiService.GetConvertedValuesExecute(r)
}

/*
GetConvertedValues Fetch Converted Values

This API allows you to get the converted values <p><strong>OperationId:</strong>getConvertedValues</p>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param operaHotelId
 @param extSystemCode
 @return DataValueMappingAPIGetConvertedValuesRequest
*/
func (a *DataValueMappingAPIService) GetConvertedValues(ctx context.Context, operaHotelId string, extSystemCode string) DataValueMappingAPIGetConvertedValuesRequest {
	return DataValueMappingAPIGetConvertedValuesRequest{
		ApiService: a,
		ctx: ctx,
		operaHotelId: operaHotelId,
		extSystemCode: extSystemCode,
	}
}

// Execute executes the request
//  @return ConvertedValues
func (a *DataValueMappingAPIService) GetConvertedValuesExecute(r DataValueMappingAPIGetConvertedValuesRequest) (*ConvertedValues, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ConvertedValues
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DataValueMappingAPIService.GetConvertedValues")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/externalSystems/{extSystemCode}/hotels/{operaHotelId}/convertedValues"
	localVarPath = strings.Replace(localVarPath, "{"+"operaHotelId"+"}", url.PathEscape(parameterValueToString(r.operaHotelId, "operaHotelId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"extSystemCode"+"}", url.PathEscape(parameterValueToString(r.extSystemCode, "extSystemCode")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if strlen(r.operaHotelId) < 1 {
		return localVarReturnValue, nil, reportError("operaHotelId must have at least 1 elements")
	}
	if strlen(r.operaHotelId) > 2000 {
		return localVarReturnValue, nil, reportError("operaHotelId must have less than 2000 elements")
	}
	if strlen(r.extSystemCode) < 1 {
		return localVarReturnValue, nil, reportError("extSystemCode must have at least 1 elements")
	}
	if strlen(r.extSystemCode) > 2000 {
		return localVarReturnValue, nil, reportError("extSystemCode must have less than 2000 elements")
	}

	if r.externalHotelId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "externalHotelId", r.externalHotelId, "")
  }
	if r.conversionCode != nil {
		t := *r.conversionCode
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "conversionCode", s.Index(i).Interface(), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "conversionCode", t, "multi")
		}
  }
	if r.valueToBeConverted != nil {
		t := *r.valueToBeConverted
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "valueToBeConverted", s.Index(i).Interface(), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "valueToBeConverted", t, "multi")
		}
  }
	if r.masterValue != nil {
		t := *r.masterValue
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "masterValue", s.Index(i).Interface(), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "masterValue", t, "multi")
		}
  }
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json;charset=UTF-8"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "")
	}
	if r.externalData != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "externalData", r.externalData, "")
	}
	if r.xAppKey != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-app-key", r.xAppKey, "")
	}
	if r.xRequestId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-request-id", r.xRequestId, "")
	}
	if r.xOriginatingApplication != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-originating-application", r.xOriginatingApplication, "")
	}
	if r.xHotelid != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-hotelid", r.xHotelid, "")
	}
	if r.xExternalsystem != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-externalsystem", r.xExternalsystem, "")
	}
	if r.acceptLanguage != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accept-Language", r.acceptLanguage, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if a.client.cfg.ResponseMiddleware != nil {
		err = a.client.cfg.ResponseMiddleware(localVarHTTPResponse, localVarBody)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type DataValueMappingAPIGetDataValueMappingsRequest struct {
	ctx context.Context
	ApiService *DataValueMappingAPIService
	externalSystem string
	conversionCode string
	authorization *string
	xAppKey *string
	hotelId *string
	scope *string
	mappingIds *[]string
	searchText *string
	xRequestId *string
	xOriginatingApplication *string
	acceptLanguage *string
}

// Bearer token that needs to be passed which is generated post user authentication
func (r DataValueMappingAPIGetDataValueMappingsRequest) Authorization(authorization string) DataValueMappingAPIGetDataValueMappingsRequest {
	r.authorization = &authorization
	return r
}

// Client or Partner&#39;s Application Key
func (r DataValueMappingAPIGetDataValueMappingsRequest) XAppKey(xAppKey string) DataValueMappingAPIGetDataValueMappingsRequest {
	r.xAppKey = &xAppKey
	return r
}

// Unique OPERA hotel Id used to identify a Hotel in OPERA.
func (r DataValueMappingAPIGetDataValueMappingsRequest) HotelId(hotelId string) DataValueMappingAPIGetDataValueMappingsRequest {
	r.hotelId = &hotelId
	return r
}

// Fetch data based on scope: Filtered by All(default), Global, hotelId.
func (r DataValueMappingAPIGetDataValueMappingsRequest) Scope(scope string) DataValueMappingAPIGetDataValueMappingsRequest {
	r.scope = &scope
	return r
}

// List of mapping Id&#39;s to filter.
func (r DataValueMappingAPIGetDataValueMappingsRequest) MappingIds(mappingIds []string) DataValueMappingAPIGetDataValueMappingsRequest {
	r.mappingIds = &mappingIds
	return r
}

// Search string to filter by OPERA value, external value, or description.
func (r DataValueMappingAPIGetDataValueMappingsRequest) SearchText(searchText string) DataValueMappingAPIGetDataValueMappingsRequest {
	r.searchText = &searchText
	return r
}

// Request Id of an incoming request
func (r DataValueMappingAPIGetDataValueMappingsRequest) XRequestId(xRequestId string) DataValueMappingAPIGetDataValueMappingsRequest {
	r.xRequestId = &xRequestId
	return r
}

// Customer&#39;s Integration Application Id
func (r DataValueMappingAPIGetDataValueMappingsRequest) XOriginatingApplication(xOriginatingApplication string) DataValueMappingAPIGetDataValueMappingsRequest {
	r.xOriginatingApplication = &xOriginatingApplication
	return r
}

// Language code
func (r DataValueMappingAPIGetDataValueMappingsRequest) AcceptLanguage(acceptLanguage string) DataValueMappingAPIGetDataValueMappingsRequest {
	r.acceptLanguage = &acceptLanguage
	return r
}

func (r DataValueMappingAPIGetDataValueMappingsRequest) Execute() (*FetchDvmMappings, *http.Response, error) {
	return r.ApiService.GetDataValueMappingsExecute(r)
}

/*
GetDataValueMappings Fetch Data Value Mappings for specific conversion code.

Retrieve mappings for a specific conversion code configured for external system, hotelId and Global mappings.<p><strong>OperationId:</strong>getDataValueMappings</p>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param externalSystem Identifier of the external system.
 @param conversionCode Type of Conversion Code configured in OPERA.
 @return DataValueMappingAPIGetDataValueMappingsRequest
*/
func (a *DataValueMappingAPIService) GetDataValueMappings(ctx context.Context, externalSystem string, conversionCode string) DataValueMappingAPIGetDataValueMappingsRequest {
	return DataValueMappingAPIGetDataValueMappingsRequest{
		ApiService: a,
		ctx: ctx,
		externalSystem: externalSystem,
		conversionCode: conversionCode,
	}
}

// Execute executes the request
//  @return FetchDvmMappings
func (a *DataValueMappingAPIService) GetDataValueMappingsExecute(r DataValueMappingAPIGetDataValueMappingsRequest) (*FetchDvmMappings, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *FetchDvmMappings
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DataValueMappingAPIService.GetDataValueMappings")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/externalSystems/{externalSystem}/conversionCodes/{conversionCode}/dataValueMappings"
	localVarPath = strings.Replace(localVarPath, "{"+"externalSystem"+"}", url.PathEscape(parameterValueToString(r.externalSystem, "externalSystem")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"conversionCode"+"}", url.PathEscape(parameterValueToString(r.conversionCode, "conversionCode")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if strlen(r.externalSystem) < 1 {
		return localVarReturnValue, nil, reportError("externalSystem must have at least 1 elements")
	}
	if strlen(r.externalSystem) > 100 {
		return localVarReturnValue, nil, reportError("externalSystem must have less than 100 elements")
	}
	if strlen(r.conversionCode) < 1 {
		return localVarReturnValue, nil, reportError("conversionCode must have at least 1 elements")
	}
	if strlen(r.conversionCode) > 80 {
		return localVarReturnValue, nil, reportError("conversionCode must have less than 80 elements")
	}

	if r.hotelId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "hotelId", r.hotelId, "")
  }
	if r.scope != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "scope", r.scope, "")
  }
	if r.mappingIds != nil {
		t := *r.mappingIds
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "mappingIds", s.Index(i).Interface(), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "mappingIds", t, "multi")
		}
  }
	if r.searchText != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "searchText", r.searchText, "")
  }
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json;charset=UTF-8"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "")
	}
	if r.xAppKey != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-app-key", r.xAppKey, "")
	}
	if r.xRequestId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-request-id", r.xRequestId, "")
	}
	if r.xOriginatingApplication != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-originating-application", r.xOriginatingApplication, "")
	}
	if r.acceptLanguage != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accept-Language", r.acceptLanguage, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if a.client.cfg.ResponseMiddleware != nil {
		err = a.client.cfg.ResponseMiddleware(localVarHTTPResponse, localVarBody)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type DataValueMappingAPIGetDefaultValuesRequest struct {
	ctx context.Context
	ApiService *DataValueMappingAPIService
	operaHotelId string
	extSystemCode string
	authorization *string
	xAppKey *string
	xHotelid *string
	externalData *string
	xRequestId *string
	xOriginatingApplication *string
	xExternalsystem *string
	acceptLanguage *string
}

// Bearer token that needs to be passed which is generated post user authentication
func (r DataValueMappingAPIGetDefaultValuesRequest) Authorization(authorization string) DataValueMappingAPIGetDefaultValuesRequest {
	r.authorization = &authorization
	return r
}

// Client or Partner&#39;s Application Key
func (r DataValueMappingAPIGetDefaultValuesRequest) XAppKey(xAppKey string) DataValueMappingAPIGetDefaultValuesRequest {
	r.xAppKey = &xAppKey
	return r
}

// Mandatory parameter to identify the hotel code where the end user is logged in
func (r DataValueMappingAPIGetDefaultValuesRequest) XHotelid(xHotelid string) DataValueMappingAPIGetDefaultValuesRequest {
	r.xHotelid = &xHotelid
	return r
}

// Pass this header as true, if payload needs DVM
func (r DataValueMappingAPIGetDefaultValuesRequest) ExternalData(externalData string) DataValueMappingAPIGetDefaultValuesRequest {
	r.externalData = &externalData
	return r
}

// Request Id of an incoming request
func (r DataValueMappingAPIGetDefaultValuesRequest) XRequestId(xRequestId string) DataValueMappingAPIGetDefaultValuesRequest {
	r.xRequestId = &xRequestId
	return r
}

// Customer&#39;s Integration Application Id
func (r DataValueMappingAPIGetDefaultValuesRequest) XOriginatingApplication(xOriginatingApplication string) DataValueMappingAPIGetDefaultValuesRequest {
	r.xOriginatingApplication = &xOriginatingApplication
	return r
}

// External system code.
func (r DataValueMappingAPIGetDefaultValuesRequest) XExternalsystem(xExternalsystem string) DataValueMappingAPIGetDefaultValuesRequest {
	r.xExternalsystem = &xExternalsystem
	return r
}

// Language code
func (r DataValueMappingAPIGetDefaultValuesRequest) AcceptLanguage(acceptLanguage string) DataValueMappingAPIGetDefaultValuesRequest {
	r.acceptLanguage = &acceptLanguage
	return r
}

func (r DataValueMappingAPIGetDefaultValuesRequest) Execute() (*DefaultValues, *http.Response, error) {
	return r.ApiService.GetDefaultValuesExecute(r)
}

/*
GetDefaultValues Fetch Default values

This API allows you to get default values <p><strong>OperationId:</strong>getDefaultValues</p>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param operaHotelId
 @param extSystemCode
 @return DataValueMappingAPIGetDefaultValuesRequest
*/
func (a *DataValueMappingAPIService) GetDefaultValues(ctx context.Context, operaHotelId string, extSystemCode string) DataValueMappingAPIGetDefaultValuesRequest {
	return DataValueMappingAPIGetDefaultValuesRequest{
		ApiService: a,
		ctx: ctx,
		operaHotelId: operaHotelId,
		extSystemCode: extSystemCode,
	}
}

// Execute executes the request
//  @return DefaultValues
func (a *DataValueMappingAPIService) GetDefaultValuesExecute(r DataValueMappingAPIGetDefaultValuesRequest) (*DefaultValues, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *DefaultValues
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DataValueMappingAPIService.GetDefaultValues")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/externalSystems/{extSystemCode}/hotels/{operaHotelId}/defaultValues"
	localVarPath = strings.Replace(localVarPath, "{"+"operaHotelId"+"}", url.PathEscape(parameterValueToString(r.operaHotelId, "operaHotelId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"extSystemCode"+"}", url.PathEscape(parameterValueToString(r.extSystemCode, "extSystemCode")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if strlen(r.operaHotelId) < 1 {
		return localVarReturnValue, nil, reportError("operaHotelId must have at least 1 elements")
	}
	if strlen(r.operaHotelId) > 2000 {
		return localVarReturnValue, nil, reportError("operaHotelId must have less than 2000 elements")
	}
	if strlen(r.extSystemCode) < 1 {
		return localVarReturnValue, nil, reportError("extSystemCode must have at least 1 elements")
	}
	if strlen(r.extSystemCode) > 2000 {
		return localVarReturnValue, nil, reportError("extSystemCode must have less than 2000 elements")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json;charset=UTF-8"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "")
	}
	if r.externalData != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "externalData", r.externalData, "")
	}
	if r.xAppKey != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-app-key", r.xAppKey, "")
	}
	if r.xRequestId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-request-id", r.xRequestId, "")
	}
	if r.xOriginatingApplication != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-originating-application", r.xOriginatingApplication, "")
	}
	if r.xHotelid != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-hotelid", r.xHotelid, "")
	}
	if r.xExternalsystem != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-externalsystem", r.xExternalsystem, "")
	}
	if r.acceptLanguage != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accept-Language", r.acceptLanguage, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if a.client.cfg.ResponseMiddleware != nil {
		err = a.client.cfg.ResponseMiddleware(localVarHTTPResponse, localVarBody)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type DataValueMappingAPIGetDvmConversionCodesRequest struct {
	ctx context.Context
	ApiService *DataValueMappingAPIService
	externalSystem string
	authorization *string
	xAppKey *string
	xHotelid *string
	hotelId *string
	group *[]string
	conversionCode *[]string
	configuredOnly *string
	externalData *string
	xRequestId *string
	xOriginatingApplication *string
	xExternalsystem *string
	acceptLanguage *string
}

// Bearer token that needs to be passed which is generated post user authentication
func (r DataValueMappingAPIGetDvmConversionCodesRequest) Authorization(authorization string) DataValueMappingAPIGetDvmConversionCodesRequest {
	r.authorization = &authorization
	return r
}

// Client or Partner&#39;s Application Key
func (r DataValueMappingAPIGetDvmConversionCodesRequest) XAppKey(xAppKey string) DataValueMappingAPIGetDvmConversionCodesRequest {
	r.xAppKey = &xAppKey
	return r
}

// Mandatory parameter to identify the hotel code where the end user is logged in
func (r DataValueMappingAPIGetDvmConversionCodesRequest) XHotelid(xHotelid string) DataValueMappingAPIGetDvmConversionCodesRequest {
	r.xHotelid = &xHotelid
	return r
}

// Unique OPERA internal ID used to identify a Hotel in OPERA.
func (r DataValueMappingAPIGetDvmConversionCodesRequest) HotelId(hotelId string) DataValueMappingAPIGetDvmConversionCodesRequest {
	r.hotelId = &hotelId
	return r
}

// List of XML Types (groups) to filter conversion codes.
func (r DataValueMappingAPIGetDvmConversionCodesRequest) Group(group []string) DataValueMappingAPIGetDvmConversionCodesRequest {
	r.group = &group
	return r
}

// List of specific conversion codes to filter.
func (r DataValueMappingAPIGetDvmConversionCodesRequest) ConversionCode(conversionCode []string) DataValueMappingAPIGetDvmConversionCodesRequest {
	r.conversionCode = &conversionCode
	return r
}

// If &#39;Y&#39;, returns only configured conversion codes for the interface. Otherwise, returns all conversion codes.
func (r DataValueMappingAPIGetDvmConversionCodesRequest) ConfiguredOnly(configuredOnly string) DataValueMappingAPIGetDvmConversionCodesRequest {
	r.configuredOnly = &configuredOnly
	return r
}

// Pass this header as true, if payload needs DVM
func (r DataValueMappingAPIGetDvmConversionCodesRequest) ExternalData(externalData string) DataValueMappingAPIGetDvmConversionCodesRequest {
	r.externalData = &externalData
	return r
}

// Request Id of an incoming request
func (r DataValueMappingAPIGetDvmConversionCodesRequest) XRequestId(xRequestId string) DataValueMappingAPIGetDvmConversionCodesRequest {
	r.xRequestId = &xRequestId
	return r
}

// Customer&#39;s Integration Application Id
func (r DataValueMappingAPIGetDvmConversionCodesRequest) XOriginatingApplication(xOriginatingApplication string) DataValueMappingAPIGetDvmConversionCodesRequest {
	r.xOriginatingApplication = &xOriginatingApplication
	return r
}

// External system code.
func (r DataValueMappingAPIGetDvmConversionCodesRequest) XExternalsystem(xExternalsystem string) DataValueMappingAPIGetDvmConversionCodesRequest {
	r.xExternalsystem = &xExternalsystem
	return r
}

// Language code
func (r DataValueMappingAPIGetDvmConversionCodesRequest) AcceptLanguage(acceptLanguage string) DataValueMappingAPIGetDvmConversionCodesRequest {
	r.acceptLanguage = &acceptLanguage
	return r
}

func (r DataValueMappingAPIGetDvmConversionCodesRequest) Execute() (*FetchDvmConversionCodes, *http.Response, error) {
	return r.ApiService.GetDvmConversionCodesExecute(r)
}

/*
GetDvmConversionCodes Fetch Data Value Mapping Conversion Codes

API to fetch Data Value Mapping Conversion Codes for a given external system. Filters include optional hotelId and group (XML Type).<p><strong>OperationId:</strong>getDvmConversionCodes</p>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param externalSystem Identifier of the external system.
 @return DataValueMappingAPIGetDvmConversionCodesRequest
*/
func (a *DataValueMappingAPIService) GetDvmConversionCodes(ctx context.Context, externalSystem string) DataValueMappingAPIGetDvmConversionCodesRequest {
	return DataValueMappingAPIGetDvmConversionCodesRequest{
		ApiService: a,
		ctx: ctx,
		externalSystem: externalSystem,
	}
}

// Execute executes the request
//  @return FetchDvmConversionCodes
func (a *DataValueMappingAPIService) GetDvmConversionCodesExecute(r DataValueMappingAPIGetDvmConversionCodesRequest) (*FetchDvmConversionCodes, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *FetchDvmConversionCodes
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DataValueMappingAPIService.GetDvmConversionCodes")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/externalSystems/{externalSystem}/conversionCodes"
	localVarPath = strings.Replace(localVarPath, "{"+"externalSystem"+"}", url.PathEscape(parameterValueToString(r.externalSystem, "externalSystem")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if strlen(r.externalSystem) < 1 {
		return localVarReturnValue, nil, reportError("externalSystem must have at least 1 elements")
	}
	if strlen(r.externalSystem) > 100 {
		return localVarReturnValue, nil, reportError("externalSystem must have less than 100 elements")
	}

	if r.hotelId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "hotelId", r.hotelId, "")
  }
	if r.group != nil {
		t := *r.group
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "group", s.Index(i).Interface(), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "group", t, "multi")
		}
  }
	if r.conversionCode != nil {
		t := *r.conversionCode
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "conversionCode", s.Index(i).Interface(), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "conversionCode", t, "multi")
		}
  }
	if r.configuredOnly != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "configuredOnly", r.configuredOnly, "")
  }
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json;charset=UTF-8"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "")
	}
	if r.externalData != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "externalData", r.externalData, "")
	}
	if r.xAppKey != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-app-key", r.xAppKey, "")
	}
	if r.xRequestId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-request-id", r.xRequestId, "")
	}
	if r.xOriginatingApplication != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-originating-application", r.xOriginatingApplication, "")
	}
	if r.xHotelid != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-hotelid", r.xHotelid, "")
	}
	if r.xExternalsystem != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-externalsystem", r.xExternalsystem, "")
	}
	if r.acceptLanguage != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accept-Language", r.acceptLanguage, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if a.client.cfg.ResponseMiddleware != nil {
		err = a.client.cfg.ResponseMiddleware(localVarHTTPResponse, localVarBody)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type DataValueMappingAPIGetOperaHotelCodeRequest struct {
	ctx context.Context
	ApiService *DataValueMappingAPIService
	externalHotelId string
	extSystemCode string
	authorization *string
	xAppKey *string
	xHotelid *string
	operaHotelCode *string
	externalData *string
	xRequestId *string
	xOriginatingApplication *string
	xExternalsystem *string
	acceptLanguage *string
}

// Bearer token that needs to be passed which is generated post user authentication
func (r DataValueMappingAPIGetOperaHotelCodeRequest) Authorization(authorization string) DataValueMappingAPIGetOperaHotelCodeRequest {
	r.authorization = &authorization
	return r
}

// Client or Partner&#39;s Application Key
func (r DataValueMappingAPIGetOperaHotelCodeRequest) XAppKey(xAppKey string) DataValueMappingAPIGetOperaHotelCodeRequest {
	r.xAppKey = &xAppKey
	return r
}

// Mandatory parameter to identify the hotel code where the end user is logged in
func (r DataValueMappingAPIGetOperaHotelCodeRequest) XHotelid(xHotelid string) DataValueMappingAPIGetOperaHotelCodeRequest {
	r.xHotelid = &xHotelid
	return r
}

// Opera Resort for which conversion is needed.
func (r DataValueMappingAPIGetOperaHotelCodeRequest) OperaHotelCode(operaHotelCode string) DataValueMappingAPIGetOperaHotelCodeRequest {
	r.operaHotelCode = &operaHotelCode
	return r
}

// Pass this header as true, if payload needs DVM
func (r DataValueMappingAPIGetOperaHotelCodeRequest) ExternalData(externalData string) DataValueMappingAPIGetOperaHotelCodeRequest {
	r.externalData = &externalData
	return r
}

// Request Id of an incoming request
func (r DataValueMappingAPIGetOperaHotelCodeRequest) XRequestId(xRequestId string) DataValueMappingAPIGetOperaHotelCodeRequest {
	r.xRequestId = &xRequestId
	return r
}

// Customer&#39;s Integration Application Id
func (r DataValueMappingAPIGetOperaHotelCodeRequest) XOriginatingApplication(xOriginatingApplication string) DataValueMappingAPIGetOperaHotelCodeRequest {
	r.xOriginatingApplication = &xOriginatingApplication
	return r
}

// External system code.
func (r DataValueMappingAPIGetOperaHotelCodeRequest) XExternalsystem(xExternalsystem string) DataValueMappingAPIGetOperaHotelCodeRequest {
	r.xExternalsystem = &xExternalsystem
	return r
}

// Language code
func (r DataValueMappingAPIGetOperaHotelCodeRequest) AcceptLanguage(acceptLanguage string) DataValueMappingAPIGetOperaHotelCodeRequest {
	r.acceptLanguage = &acceptLanguage
	return r
}

func (r DataValueMappingAPIGetOperaHotelCodeRequest) Execute() (*ConvertedHotelCode, *http.Response, error) {
	return r.ApiService.GetOperaHotelCodeExecute(r)
}

/*
GetOperaHotelCode Fetch Converted Hotel Code

This API allows you to get the converted hotel code <p><strong>OperationId:</strong>getOperaHotelCode</p>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param externalHotelId
 @param extSystemCode
 @return DataValueMappingAPIGetOperaHotelCodeRequest
*/
func (a *DataValueMappingAPIService) GetOperaHotelCode(ctx context.Context, externalHotelId string, extSystemCode string) DataValueMappingAPIGetOperaHotelCodeRequest {
	return DataValueMappingAPIGetOperaHotelCodeRequest{
		ApiService: a,
		ctx: ctx,
		externalHotelId: externalHotelId,
		extSystemCode: extSystemCode,
	}
}

// Execute executes the request
//  @return ConvertedHotelCode
func (a *DataValueMappingAPIService) GetOperaHotelCodeExecute(r DataValueMappingAPIGetOperaHotelCodeRequest) (*ConvertedHotelCode, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ConvertedHotelCode
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DataValueMappingAPIService.GetOperaHotelCode")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/externalSystems/{extSystemCode}/hotels/{externalHotelId}/conversions"
	localVarPath = strings.Replace(localVarPath, "{"+"externalHotelId"+"}", url.PathEscape(parameterValueToString(r.externalHotelId, "externalHotelId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"extSystemCode"+"}", url.PathEscape(parameterValueToString(r.extSystemCode, "extSystemCode")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if strlen(r.externalHotelId) < 1 {
		return localVarReturnValue, nil, reportError("externalHotelId must have at least 1 elements")
	}
	if strlen(r.externalHotelId) > 2000 {
		return localVarReturnValue, nil, reportError("externalHotelId must have less than 2000 elements")
	}
	if strlen(r.extSystemCode) < 1 {
		return localVarReturnValue, nil, reportError("extSystemCode must have at least 1 elements")
	}
	if strlen(r.extSystemCode) > 2000 {
		return localVarReturnValue, nil, reportError("extSystemCode must have less than 2000 elements")
	}

	if r.operaHotelCode != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "operaHotelCode", r.operaHotelCode, "")
  }
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json;charset=UTF-8"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "")
	}
	if r.externalData != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "externalData", r.externalData, "")
	}
	if r.xAppKey != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-app-key", r.xAppKey, "")
	}
	if r.xRequestId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-request-id", r.xRequestId, "")
	}
	if r.xOriginatingApplication != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-originating-application", r.xOriginatingApplication, "")
	}
	if r.xHotelid != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-hotelid", r.xHotelid, "")
	}
	if r.xExternalsystem != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-externalsystem", r.xExternalsystem, "")
	}
	if r.acceptLanguage != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accept-Language", r.acceptLanguage, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if a.client.cfg.ResponseMiddleware != nil {
		err = a.client.cfg.ResponseMiddleware(localVarHTTPResponse, localVarBody)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type DataValueMappingAPIPingDataValueMappingServiceRequest struct {
	ctx context.Context
	ApiService *DataValueMappingAPIService
	authorization *string
	xAppKey *string
	xHotelid *string
	externalData *string
	xRequestId *string
	xOriginatingApplication *string
	xExternalsystem *string
	acceptLanguage *string
}

// Bearer token that needs to be passed which is generated post user authentication
func (r DataValueMappingAPIPingDataValueMappingServiceRequest) Authorization(authorization string) DataValueMappingAPIPingDataValueMappingServiceRequest {
	r.authorization = &authorization
	return r
}

// Client or Partner&#39;s Application Key
func (r DataValueMappingAPIPingDataValueMappingServiceRequest) XAppKey(xAppKey string) DataValueMappingAPIPingDataValueMappingServiceRequest {
	r.xAppKey = &xAppKey
	return r
}

// Mandatory parameter to identify the hotel code where the end user is logged in
func (r DataValueMappingAPIPingDataValueMappingServiceRequest) XHotelid(xHotelid string) DataValueMappingAPIPingDataValueMappingServiceRequest {
	r.xHotelid = &xHotelid
	return r
}

// Pass this header as true, if payload needs DVM
func (r DataValueMappingAPIPingDataValueMappingServiceRequest) ExternalData(externalData string) DataValueMappingAPIPingDataValueMappingServiceRequest {
	r.externalData = &externalData
	return r
}

// Request Id of an incoming request
func (r DataValueMappingAPIPingDataValueMappingServiceRequest) XRequestId(xRequestId string) DataValueMappingAPIPingDataValueMappingServiceRequest {
	r.xRequestId = &xRequestId
	return r
}

// Customer&#39;s Integration Application Id
func (r DataValueMappingAPIPingDataValueMappingServiceRequest) XOriginatingApplication(xOriginatingApplication string) DataValueMappingAPIPingDataValueMappingServiceRequest {
	r.xOriginatingApplication = &xOriginatingApplication
	return r
}

// External system code.
func (r DataValueMappingAPIPingDataValueMappingServiceRequest) XExternalsystem(xExternalsystem string) DataValueMappingAPIPingDataValueMappingServiceRequest {
	r.xExternalsystem = &xExternalsystem
	return r
}

// Language code
func (r DataValueMappingAPIPingDataValueMappingServiceRequest) AcceptLanguage(acceptLanguage string) DataValueMappingAPIPingDataValueMappingServiceRequest {
	r.acceptLanguage = &acceptLanguage
	return r
}

func (r DataValueMappingAPIPingDataValueMappingServiceRequest) Execute() (*OperaVersion, *http.Response, error) {
	return r.ApiService.PingDataValueMappingServiceExecute(r)
}

/*
PingDataValueMappingService ping Data Value Mapping Service

ping Data Value Mapping Service <p><strong>OperationId:</strong>pingDataValueMappingService</p>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return DataValueMappingAPIPingDataValueMappingServiceRequest
*/
func (a *DataValueMappingAPIService) PingDataValueMappingService(ctx context.Context) DataValueMappingAPIPingDataValueMappingServiceRequest {
	return DataValueMappingAPIPingDataValueMappingServiceRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return OperaVersion
func (a *DataValueMappingAPIService) PingDataValueMappingServiceExecute(r DataValueMappingAPIPingDataValueMappingServiceRequest) (*OperaVersion, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *OperaVersion
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DataValueMappingAPIService.PingDataValueMappingService")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/services/datavaluemapping/status"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json;charset=UTF-8"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "")
	}
	if r.externalData != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "externalData", r.externalData, "")
	}
	if r.xAppKey != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-app-key", r.xAppKey, "")
	}
	if r.xRequestId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-request-id", r.xRequestId, "")
	}
	if r.xOriginatingApplication != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-originating-application", r.xOriginatingApplication, "")
	}
	if r.xHotelid != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-hotelid", r.xHotelid, "")
	}
	if r.xExternalsystem != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-externalsystem", r.xExternalsystem, "")
	}
	if r.acceptLanguage != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accept-Language", r.acceptLanguage, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if a.client.cfg.ResponseMiddleware != nil {
		err = a.client.cfg.ResponseMiddleware(localVarHTTPResponse, localVarBody)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type DataValueMappingAPIPostDataValueMappingsRequest struct {
	ctx context.Context
	ApiService *DataValueMappingAPIService
	externalSystem string
	conversionCode string
	authorization *string
	xAppKey *string
	conversionCodeMappingsToBeCreated *DvmConversionCodeMappingsToBeCreated
	externalData *string
	xRequestId *string
	xOriginatingApplication *string
	acceptLanguage *string
}

// Bearer token that needs to be passed which is generated post user authentication
func (r DataValueMappingAPIPostDataValueMappingsRequest) Authorization(authorization string) DataValueMappingAPIPostDataValueMappingsRequest {
	r.authorization = &authorization
	return r
}

// Client or Partner&#39;s Application Key
func (r DataValueMappingAPIPostDataValueMappingsRequest) XAppKey(xAppKey string) DataValueMappingAPIPostDataValueMappingsRequest {
	r.xAppKey = &xAppKey
	return r
}

// Request Object to Create Conversion Code Mappings.
func (r DataValueMappingAPIPostDataValueMappingsRequest) ConversionCodeMappingsToBeCreated(conversionCodeMappingsToBeCreated DvmConversionCodeMappingsToBeCreated) DataValueMappingAPIPostDataValueMappingsRequest {
	r.conversionCodeMappingsToBeCreated = &conversionCodeMappingsToBeCreated
	return r
}

// Pass this header as true, if payload needs DVM
func (r DataValueMappingAPIPostDataValueMappingsRequest) ExternalData(externalData string) DataValueMappingAPIPostDataValueMappingsRequest {
	r.externalData = &externalData
	return r
}

// Request Id of an incoming request
func (r DataValueMappingAPIPostDataValueMappingsRequest) XRequestId(xRequestId string) DataValueMappingAPIPostDataValueMappingsRequest {
	r.xRequestId = &xRequestId
	return r
}

// Customer&#39;s Integration Application Id
func (r DataValueMappingAPIPostDataValueMappingsRequest) XOriginatingApplication(xOriginatingApplication string) DataValueMappingAPIPostDataValueMappingsRequest {
	r.xOriginatingApplication = &xOriginatingApplication
	return r
}

// Language code
func (r DataValueMappingAPIPostDataValueMappingsRequest) AcceptLanguage(acceptLanguage string) DataValueMappingAPIPostDataValueMappingsRequest {
	r.acceptLanguage = &acceptLanguage
	return r
}

func (r DataValueMappingAPIPostDataValueMappingsRequest) Execute() (*CreatedDvmConversionCodeMappings, *http.Response, error) {
	return r.ApiService.PostDataValueMappingsExecute(r)
}

/*
PostDataValueMappings Create Conversion Code Mappings

API to create Data Value Mapping (DVM) Conversion Codes by External System and Conversion Code. <p><strong>OperationId:</strong>postDataValueMappings</p>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param externalSystem Unique ID used to identify an external system.
 @param conversionCode Type of conversion code configured in the system.
 @return DataValueMappingAPIPostDataValueMappingsRequest
*/
func (a *DataValueMappingAPIService) PostDataValueMappings(ctx context.Context, externalSystem string, conversionCode string) DataValueMappingAPIPostDataValueMappingsRequest {
	return DataValueMappingAPIPostDataValueMappingsRequest{
		ApiService: a,
		ctx: ctx,
		externalSystem: externalSystem,
		conversionCode: conversionCode,
	}
}

// Execute executes the request
//  @return CreatedDvmConversionCodeMappings
func (a *DataValueMappingAPIService) PostDataValueMappingsExecute(r DataValueMappingAPIPostDataValueMappingsRequest) (*CreatedDvmConversionCodeMappings, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CreatedDvmConversionCodeMappings
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DataValueMappingAPIService.PostDataValueMappings")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/externalSystems/{externalSystem}/conversionCodes/{conversionCode}/dataValueMappings"
	localVarPath = strings.Replace(localVarPath, "{"+"externalSystem"+"}", url.PathEscape(parameterValueToString(r.externalSystem, "externalSystem")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"conversionCode"+"}", url.PathEscape(parameterValueToString(r.conversionCode, "conversionCode")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json;charset=UTF-8"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json;charset=UTF-8"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "")
	}
	if r.externalData != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "externalData", r.externalData, "")
	}
	if r.xAppKey != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-app-key", r.xAppKey, "")
	}
	if r.xRequestId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-request-id", r.xRequestId, "")
	}
	if r.xOriginatingApplication != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-originating-application", r.xOriginatingApplication, "")
	}
	if r.acceptLanguage != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accept-Language", r.acceptLanguage, "")
	}
	// body params
	localVarPostBody = r.conversionCodeMappingsToBeCreated
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if a.client.cfg.ResponseMiddleware != nil {
		err = a.client.cfg.ResponseMiddleware(localVarHTTPResponse, localVarBody)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type DataValueMappingAPIPutDataValueMappingsRequest struct {
	ctx context.Context
	ApiService *DataValueMappingAPIService
	externalSystem string
	conversionCode string
	authorization *string
	xAppKey *string
	xHotelid *string
	conversionCodeMappingsToBeUpdated *DvmConversionCodeMappingsToBeUpdated
	externalData *string
	xRequestId *string
	xOriginatingApplication *string
	xExternalsystem *string
	acceptLanguage *string
}

// Bearer token that needs to be passed which is generated post user authentication
func (r DataValueMappingAPIPutDataValueMappingsRequest) Authorization(authorization string) DataValueMappingAPIPutDataValueMappingsRequest {
	r.authorization = &authorization
	return r
}

// Client or Partner&#39;s Application Key
func (r DataValueMappingAPIPutDataValueMappingsRequest) XAppKey(xAppKey string) DataValueMappingAPIPutDataValueMappingsRequest {
	r.xAppKey = &xAppKey
	return r
}

// Mandatory parameter to identify the hotel code where the end user is logged in
func (r DataValueMappingAPIPutDataValueMappingsRequest) XHotelid(xHotelid string) DataValueMappingAPIPutDataValueMappingsRequest {
	r.xHotelid = &xHotelid
	return r
}

// Request to update existing Conversion Code Mappings.
func (r DataValueMappingAPIPutDataValueMappingsRequest) ConversionCodeMappingsToBeUpdated(conversionCodeMappingsToBeUpdated DvmConversionCodeMappingsToBeUpdated) DataValueMappingAPIPutDataValueMappingsRequest {
	r.conversionCodeMappingsToBeUpdated = &conversionCodeMappingsToBeUpdated
	return r
}

// Pass this header as true, if payload needs DVM
func (r DataValueMappingAPIPutDataValueMappingsRequest) ExternalData(externalData string) DataValueMappingAPIPutDataValueMappingsRequest {
	r.externalData = &externalData
	return r
}

// Request Id of an incoming request
func (r DataValueMappingAPIPutDataValueMappingsRequest) XRequestId(xRequestId string) DataValueMappingAPIPutDataValueMappingsRequest {
	r.xRequestId = &xRequestId
	return r
}

// Customer&#39;s Integration Application Id
func (r DataValueMappingAPIPutDataValueMappingsRequest) XOriginatingApplication(xOriginatingApplication string) DataValueMappingAPIPutDataValueMappingsRequest {
	r.xOriginatingApplication = &xOriginatingApplication
	return r
}

// External system code.
func (r DataValueMappingAPIPutDataValueMappingsRequest) XExternalsystem(xExternalsystem string) DataValueMappingAPIPutDataValueMappingsRequest {
	r.xExternalsystem = &xExternalsystem
	return r
}

// Language code
func (r DataValueMappingAPIPutDataValueMappingsRequest) AcceptLanguage(acceptLanguage string) DataValueMappingAPIPutDataValueMappingsRequest {
	r.acceptLanguage = &acceptLanguage
	return r
}

func (r DataValueMappingAPIPutDataValueMappingsRequest) Execute() (*UpdatedDvmConversionCodeMappings, *http.Response, error) {
	return r.ApiService.PutDataValueMappingsExecute(r)
}

/*
PutDataValueMappings Update Conversion Code Mappings

API to update existing Data Value Mapping (DVM) Conversion Code records for a given External System and Conversion Code. <p><strong>OperationId:</strong>putDataValueMappings</p>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param externalSystem Unique Id used to identify an external system.
 @param conversionCode Conversion Code configured in OPERA.
 @return DataValueMappingAPIPutDataValueMappingsRequest
*/
func (a *DataValueMappingAPIService) PutDataValueMappings(ctx context.Context, externalSystem string, conversionCode string) DataValueMappingAPIPutDataValueMappingsRequest {
	return DataValueMappingAPIPutDataValueMappingsRequest{
		ApiService: a,
		ctx: ctx,
		externalSystem: externalSystem,
		conversionCode: conversionCode,
	}
}

// Execute executes the request
//  @return UpdatedDvmConversionCodeMappings
func (a *DataValueMappingAPIService) PutDataValueMappingsExecute(r DataValueMappingAPIPutDataValueMappingsRequest) (*UpdatedDvmConversionCodeMappings, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *UpdatedDvmConversionCodeMappings
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DataValueMappingAPIService.PutDataValueMappings")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/externalSystems/{externalSystem}/conversionCodes/{conversionCode}/dataValueMappings"
	localVarPath = strings.Replace(localVarPath, "{"+"externalSystem"+"}", url.PathEscape(parameterValueToString(r.externalSystem, "externalSystem")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"conversionCode"+"}", url.PathEscape(parameterValueToString(r.conversionCode, "conversionCode")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json;charset=UTF-8"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json;charset=UTF-8"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "")
	}
	if r.externalData != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "externalData", r.externalData, "")
	}
	if r.xAppKey != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-app-key", r.xAppKey, "")
	}
	if r.xRequestId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-request-id", r.xRequestId, "")
	}
	if r.xOriginatingApplication != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-originating-application", r.xOriginatingApplication, "")
	}
	if r.xHotelid != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-hotelid", r.xHotelid, "")
	}
	if r.xExternalsystem != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-externalsystem", r.xExternalsystem, "")
	}
	if r.acceptLanguage != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accept-Language", r.acceptLanguage, "")
	}
	// body params
	localVarPostBody = r.conversionCodeMappingsToBeUpdated
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if a.client.cfg.ResponseMiddleware != nil {
		err = a.client.cfg.ResponseMiddleware(localVarHTTPResponse, localVarBody)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
