/*
OPERA Cloud Accounts Receivables API

APIs to cater for Accounts Receivables functionality in OPERA Cloud. <br /><br The OPERA Cloud Accounts Receivable module enables you to manage debtors' accounts, invoices, and remittance.<br /><br /> Compatible with OPERA Cloud release 23.2.<br /><br /><p> This document and all content within is available under the Universal Permissive License v 1.0 (https://oss.oracle.com/licenses/upl). Copyright (c) 2020, 2023 Oracle and/or its affiliates.</p>

API version: 23.2
Contact: hospitality_apis_ww_grp@oracle.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package ars

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"reflect"
)


// AccountsReceivablesApiService AccountsReceivablesApi service
type AccountsReceivablesApiService service

type AccountsReceivablesApiCompressARInvoicesRequest struct {
	ctx context.Context
	ApiService *AccountsReceivablesApiService
	accountId string
	hotelId string
	authorization *string
	xAppKey *string
	xHotelid *string
	arCompressInvoices *CompressARInvoicesRequest
	xExternalsystem *string
	acceptLanguage *string
}

// Bearer token that needs to be passed which is generated post user authentication
func (r AccountsReceivablesApiCompressARInvoicesRequest) Authorization(authorization string) AccountsReceivablesApiCompressARInvoicesRequest {
	r.authorization = &authorization
	return r
}

// Client or Partner&#39;s Application Key
func (r AccountsReceivablesApiCompressARInvoicesRequest) XAppKey(xAppKey string) AccountsReceivablesApiCompressARInvoicesRequest {
	r.xAppKey = &xAppKey
	return r
}

// Mandatory parameter to identify the hotel code where the end user is logged in
func (r AccountsReceivablesApiCompressARInvoicesRequest) XHotelid(xHotelid string) AccountsReceivablesApiCompressARInvoicesRequest {
	r.xHotelid = &xHotelid
	return r
}

// Request to compress two or more invoices for an Account
func (r AccountsReceivablesApiCompressARInvoicesRequest) ArCompressInvoices(arCompressInvoices CompressARInvoicesRequest) AccountsReceivablesApiCompressARInvoicesRequest {
	r.arCompressInvoices = &arCompressInvoices
	return r
}

// External system code.
func (r AccountsReceivablesApiCompressARInvoicesRequest) XExternalsystem(xExternalsystem string) AccountsReceivablesApiCompressARInvoicesRequest {
	r.xExternalsystem = &xExternalsystem
	return r
}

// Language code
func (r AccountsReceivablesApiCompressARInvoicesRequest) AcceptLanguage(acceptLanguage string) AccountsReceivablesApiCompressARInvoicesRequest {
	r.acceptLanguage = &acceptLanguage
	return r
}

func (r AccountsReceivablesApiCompressARInvoicesRequest) Execute() (*CompressedARInvoices, *http.Response, error) {
	return r.ApiService.CompressARInvoicesExecute(r)
}

/*
CompressARInvoices Combines Account receivable invoices

Use this API to combine two or more invoices into one invoice <p><strong>OperationId:</strong>compressARInvoices</p>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param accountId Unique ID of the account
 @param hotelId Unique ID of the hotel
 @return AccountsReceivablesApiCompressARInvoicesRequest
*/
func (a *AccountsReceivablesApiService) CompressARInvoices(ctx context.Context, accountId string, hotelId string) AccountsReceivablesApiCompressARInvoicesRequest {
	return AccountsReceivablesApiCompressARInvoicesRequest{
		ApiService: a,
		ctx: ctx,
		accountId: accountId,
		hotelId: hotelId,
	}
}

// Execute executes the request
//  @return CompressedARInvoices
func (a *AccountsReceivablesApiService) CompressARInvoicesExecute(r AccountsReceivablesApiCompressARInvoicesRequest) (*CompressedARInvoices, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CompressedARInvoices
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AccountsReceivablesApiService.CompressARInvoices")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/hotels/{hotelId}/accounts/{accountId}/compressInvoices"
	localVarPath = strings.Replace(localVarPath, "{"+"accountId"+"}", url.PathEscape(parameterValueToString(r.accountId, "accountId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"hotelId"+"}", url.PathEscape(parameterValueToString(r.hotelId, "hotelId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if strlen(r.accountId) < 1 {
		return localVarReturnValue, nil, reportError("accountId must have at least 1 elements")
	}
	if strlen(r.accountId) > 2000 {
		return localVarReturnValue, nil, reportError("accountId must have less than 2000 elements")
	}
	if strlen(r.hotelId) < 1 {
		return localVarReturnValue, nil, reportError("hotelId must have at least 1 elements")
	}
	if strlen(r.hotelId) > 2000 {
		return localVarReturnValue, nil, reportError("hotelId must have less than 2000 elements")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json;charset=UTF-8"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json;charset=UTF-8"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xExternalsystem != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-externalsystem", r.xExternalsystem, "")
	}
	if r.acceptLanguage != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accept-Language", r.acceptLanguage, "")
	}
	// body params
	localVarPostBody = r.arCompressInvoices
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AccountsReceivablesApiCopyARAccountRequest struct {
	ctx context.Context
	ApiService *AccountsReceivablesApiService
	accountId string
	hotelId string
	authorization *string
	xAppKey *string
	xHotelid *string
	arAccountCopy *CopyARAccountRequest
	xExternalsystem *string
	acceptLanguage *string
}

// Bearer token that needs to be passed which is generated post user authentication
func (r AccountsReceivablesApiCopyARAccountRequest) Authorization(authorization string) AccountsReceivablesApiCopyARAccountRequest {
	r.authorization = &authorization
	return r
}

// Client or Partner&#39;s Application Key
func (r AccountsReceivablesApiCopyARAccountRequest) XAppKey(xAppKey string) AccountsReceivablesApiCopyARAccountRequest {
	r.xAppKey = &xAppKey
	return r
}

// Mandatory parameter to identify the hotel code where the end user is logged in
func (r AccountsReceivablesApiCopyARAccountRequest) XHotelid(xHotelid string) AccountsReceivablesApiCopyARAccountRequest {
	r.xHotelid = &xHotelid
	return r
}

// Request to copy AR Account
func (r AccountsReceivablesApiCopyARAccountRequest) ArAccountCopy(arAccountCopy CopyARAccountRequest) AccountsReceivablesApiCopyARAccountRequest {
	r.arAccountCopy = &arAccountCopy
	return r
}

// External system code.
func (r AccountsReceivablesApiCopyARAccountRequest) XExternalsystem(xExternalsystem string) AccountsReceivablesApiCopyARAccountRequest {
	r.xExternalsystem = &xExternalsystem
	return r
}

// Language code
func (r AccountsReceivablesApiCopyARAccountRequest) AcceptLanguage(acceptLanguage string) AccountsReceivablesApiCopyARAccountRequest {
	r.acceptLanguage = &acceptLanguage
	return r
}

func (r AccountsReceivablesApiCopyARAccountRequest) Execute() (*Status, *http.Response, error) {
	return r.ApiService.CopyARAccountExecute(r)
}

/*
CopyARAccount Copy account receivable account 

Use this API to create account receivable to multiple hotels by copying from source hotel. <p><strong>OperationId:</strong>copyARAccount</p>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param accountId Unique ID of the account
 @param hotelId Unique ID of the hotel
 @return AccountsReceivablesApiCopyARAccountRequest
*/
func (a *AccountsReceivablesApiService) CopyARAccount(ctx context.Context, accountId string, hotelId string) AccountsReceivablesApiCopyARAccountRequest {
	return AccountsReceivablesApiCopyARAccountRequest{
		ApiService: a,
		ctx: ctx,
		accountId: accountId,
		hotelId: hotelId,
	}
}

// Execute executes the request
//  @return Status
func (a *AccountsReceivablesApiService) CopyARAccountExecute(r AccountsReceivablesApiCopyARAccountRequest) (*Status, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *Status
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AccountsReceivablesApiService.CopyARAccount")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/hotels/{hotelId}/accounts/{accountId}/copyAccount"
	localVarPath = strings.Replace(localVarPath, "{"+"accountId"+"}", url.PathEscape(parameterValueToString(r.accountId, "accountId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"hotelId"+"}", url.PathEscape(parameterValueToString(r.hotelId, "hotelId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if strlen(r.accountId) < 1 {
		return localVarReturnValue, nil, reportError("accountId must have at least 1 elements")
	}
	if strlen(r.accountId) > 2000 {
		return localVarReturnValue, nil, reportError("accountId must have less than 2000 elements")
	}
	if strlen(r.hotelId) < 1 {
		return localVarReturnValue, nil, reportError("hotelId must have at least 1 elements")
	}
	if strlen(r.hotelId) > 2000 {
		return localVarReturnValue, nil, reportError("hotelId must have less than 2000 elements")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json;charset=UTF-8"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json;charset=UTF-8"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xExternalsystem != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-externalsystem", r.xExternalsystem, "")
	}
	if r.acceptLanguage != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accept-Language", r.acceptLanguage, "")
	}
	// body params
	localVarPostBody = r.arAccountCopy
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AccountsReceivablesApiDeleteAccountRequest struct {
	ctx context.Context
	ApiService *AccountsReceivablesApiService
	accountId string
	hotelId string
	authorization *string
	xAppKey *string
	xHotelid *string
	xExternalsystem *string
	acceptLanguage *string
}

// Bearer token that needs to be passed which is generated post user authentication
func (r AccountsReceivablesApiDeleteAccountRequest) Authorization(authorization string) AccountsReceivablesApiDeleteAccountRequest {
	r.authorization = &authorization
	return r
}

// Client or Partner&#39;s Application Key
func (r AccountsReceivablesApiDeleteAccountRequest) XAppKey(xAppKey string) AccountsReceivablesApiDeleteAccountRequest {
	r.xAppKey = &xAppKey
	return r
}

// Mandatory parameter to identify the hotel code where the end user is logged in
func (r AccountsReceivablesApiDeleteAccountRequest) XHotelid(xHotelid string) AccountsReceivablesApiDeleteAccountRequest {
	r.xHotelid = &xHotelid
	return r
}

// External system code.
func (r AccountsReceivablesApiDeleteAccountRequest) XExternalsystem(xExternalsystem string) AccountsReceivablesApiDeleteAccountRequest {
	r.xExternalsystem = &xExternalsystem
	return r
}

// Language code
func (r AccountsReceivablesApiDeleteAccountRequest) AcceptLanguage(acceptLanguage string) AccountsReceivablesApiDeleteAccountRequest {
	r.acceptLanguage = &acceptLanguage
	return r
}

func (r AccountsReceivablesApiDeleteAccountRequest) Execute() (*Status, *http.Response, error) {
	return r.ApiService.DeleteAccountExecute(r)
}

/*
DeleteAccount Delete Account 

Use this API to delete account detail for given unique account id. Use get accounts to find account id. <p><strong>OperationId:</strong>deleteAccount</p>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param accountId Unique ID of the account
 @param hotelId Unique ID of the hotel
 @return AccountsReceivablesApiDeleteAccountRequest
*/
func (a *AccountsReceivablesApiService) DeleteAccount(ctx context.Context, accountId string, hotelId string) AccountsReceivablesApiDeleteAccountRequest {
	return AccountsReceivablesApiDeleteAccountRequest{
		ApiService: a,
		ctx: ctx,
		accountId: accountId,
		hotelId: hotelId,
	}
}

// Execute executes the request
//  @return Status
func (a *AccountsReceivablesApiService) DeleteAccountExecute(r AccountsReceivablesApiDeleteAccountRequest) (*Status, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *Status
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AccountsReceivablesApiService.DeleteAccount")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/hotels/{hotelId}/accounts/{accountId}"
	localVarPath = strings.Replace(localVarPath, "{"+"accountId"+"}", url.PathEscape(parameterValueToString(r.accountId, "accountId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"hotelId"+"}", url.PathEscape(parameterValueToString(r.hotelId, "hotelId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if strlen(r.accountId) < 1 {
		return localVarReturnValue, nil, reportError("accountId must have at least 1 elements")
	}
	if strlen(r.accountId) > 2000 {
		return localVarReturnValue, nil, reportError("accountId must have less than 2000 elements")
	}
	if strlen(r.hotelId) < 1 {
		return localVarReturnValue, nil, reportError("hotelId must have at least 1 elements")
	}
	if strlen(r.hotelId) > 2000 {
		return localVarReturnValue, nil, reportError("hotelId must have less than 2000 elements")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json;charset=UTF-8"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xExternalsystem != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-externalsystem", r.xExternalsystem, "")
	}
	if r.acceptLanguage != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accept-Language", r.acceptLanguage, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AccountsReceivablesApiDeleteAccountCommentRequest struct {
	ctx context.Context
	ApiService *AccountsReceivablesApiService
	accountId string
	hotelId string
	authorization *string
	xAppKey *string
	xHotelid *string
	id *string
	value *string
	hotel *string
	xExternalsystem *string
	acceptLanguage *string
}

// Bearer token that needs to be passed which is generated post user authentication
func (r AccountsReceivablesApiDeleteAccountCommentRequest) Authorization(authorization string) AccountsReceivablesApiDeleteAccountCommentRequest {
	r.authorization = &authorization
	return r
}

// Client or Partner&#39;s Application Key
func (r AccountsReceivablesApiDeleteAccountCommentRequest) XAppKey(xAppKey string) AccountsReceivablesApiDeleteAccountCommentRequest {
	r.xAppKey = &xAppKey
	return r
}

// Mandatory parameter to identify the hotel code where the end user is logged in
func (r AccountsReceivablesApiDeleteAccountCommentRequest) XHotelid(xHotelid string) AccountsReceivablesApiDeleteAccountCommentRequest {
	r.xHotelid = &xHotelid
	return r
}

// A unique identifying value assigned by the creating system. The ID attribute may be used to reference a primary-key value within a database or in a particular implementation.
func (r AccountsReceivablesApiDeleteAccountCommentRequest) Id(id string) AccountsReceivablesApiDeleteAccountCommentRequest {
	r.id = &id
	return r
}

// Property Value
func (r AccountsReceivablesApiDeleteAccountCommentRequest) Value(value string) AccountsReceivablesApiDeleteAccountCommentRequest {
	r.value = &value
	return r
}

// If specified comment belongs to the Hotel, otherwise it is a global comment.
func (r AccountsReceivablesApiDeleteAccountCommentRequest) Hotel(hotel string) AccountsReceivablesApiDeleteAccountCommentRequest {
	r.hotel = &hotel
	return r
}

// External system code.
func (r AccountsReceivablesApiDeleteAccountCommentRequest) XExternalsystem(xExternalsystem string) AccountsReceivablesApiDeleteAccountCommentRequest {
	r.xExternalsystem = &xExternalsystem
	return r
}

// Language code
func (r AccountsReceivablesApiDeleteAccountCommentRequest) AcceptLanguage(acceptLanguage string) AccountsReceivablesApiDeleteAccountCommentRequest {
	r.acceptLanguage = &acceptLanguage
	return r
}

func (r AccountsReceivablesApiDeleteAccountCommentRequest) Execute() (*Status, *http.Response, error) {
	return r.ApiService.DeleteAccountCommentExecute(r)
}

/*
DeleteAccountComment Delete Account Comment

Use this API to delete notes from a given account id. Use get account with an instruction to get note id. <p><strong>OperationId:</strong>deleteAccountComment</p>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param accountId Unique ID of the account
 @param hotelId Unique ID of the hotel
 @return AccountsReceivablesApiDeleteAccountCommentRequest
*/
func (a *AccountsReceivablesApiService) DeleteAccountComment(ctx context.Context, accountId string, hotelId string) AccountsReceivablesApiDeleteAccountCommentRequest {
	return AccountsReceivablesApiDeleteAccountCommentRequest{
		ApiService: a,
		ctx: ctx,
		accountId: accountId,
		hotelId: hotelId,
	}
}

// Execute executes the request
//  @return Status
func (a *AccountsReceivablesApiService) DeleteAccountCommentExecute(r AccountsReceivablesApiDeleteAccountCommentRequest) (*Status, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *Status
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AccountsReceivablesApiService.DeleteAccountComment")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/hotels/{hotelId}/accounts/{accountId}/comments"
	localVarPath = strings.Replace(localVarPath, "{"+"accountId"+"}", url.PathEscape(parameterValueToString(r.accountId, "accountId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"hotelId"+"}", url.PathEscape(parameterValueToString(r.hotelId, "hotelId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if strlen(r.accountId) < 1 {
		return localVarReturnValue, nil, reportError("accountId must have at least 1 elements")
	}
	if strlen(r.accountId) > 2000 {
		return localVarReturnValue, nil, reportError("accountId must have less than 2000 elements")
	}
	if strlen(r.hotelId) < 1 {
		return localVarReturnValue, nil, reportError("hotelId must have at least 1 elements")
	}
	if strlen(r.hotelId) > 2000 {
		return localVarReturnValue, nil, reportError("hotelId must have less than 2000 elements")
	}

	if r.id != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id", r.id, "")
	}
	if r.value != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "value", r.value, "")
	}
	if r.hotel != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "hotel", r.hotel, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json;charset=UTF-8"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xExternalsystem != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-externalsystem", r.xExternalsystem, "")
	}
	if r.acceptLanguage != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accept-Language", r.acceptLanguage, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AccountsReceivablesApiDeleteAccountFixedChargeRequest struct {
	ctx context.Context
	ApiService *AccountsReceivablesApiService
	fixedChargeId string
	accountId string
	hotelId string
	authorization *string
	xAppKey *string
	xHotelid *string
	xExternalsystem *string
	acceptLanguage *string
}

// Bearer token that needs to be passed which is generated post user authentication
func (r AccountsReceivablesApiDeleteAccountFixedChargeRequest) Authorization(authorization string) AccountsReceivablesApiDeleteAccountFixedChargeRequest {
	r.authorization = &authorization
	return r
}

// Client or Partner&#39;s Application Key
func (r AccountsReceivablesApiDeleteAccountFixedChargeRequest) XAppKey(xAppKey string) AccountsReceivablesApiDeleteAccountFixedChargeRequest {
	r.xAppKey = &xAppKey
	return r
}

// Mandatory parameter to identify the hotel code where the end user is logged in
func (r AccountsReceivablesApiDeleteAccountFixedChargeRequest) XHotelid(xHotelid string) AccountsReceivablesApiDeleteAccountFixedChargeRequest {
	r.xHotelid = &xHotelid
	return r
}

// External system code.
func (r AccountsReceivablesApiDeleteAccountFixedChargeRequest) XExternalsystem(xExternalsystem string) AccountsReceivablesApiDeleteAccountFixedChargeRequest {
	r.xExternalsystem = &xExternalsystem
	return r
}

// Language code
func (r AccountsReceivablesApiDeleteAccountFixedChargeRequest) AcceptLanguage(acceptLanguage string) AccountsReceivablesApiDeleteAccountFixedChargeRequest {
	r.acceptLanguage = &acceptLanguage
	return r
}

func (r AccountsReceivablesApiDeleteAccountFixedChargeRequest) Execute() (*Status, *http.Response, error) {
	return r.ApiService.DeleteAccountFixedChargeExecute(r)
}

/*
DeleteAccountFixedCharge Delete fixed charges 

Use this API to delete fixed charges for a given account receivable id. Use getaccounts to find an account id. <p><strong>OperationId:</strong>deleteAccountFixedCharge</p>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param fixedChargeId ID of the fixed charge
 @param accountId Unique ID of the account
 @param hotelId Unique ID of the hotel
 @return AccountsReceivablesApiDeleteAccountFixedChargeRequest
*/
func (a *AccountsReceivablesApiService) DeleteAccountFixedCharge(ctx context.Context, fixedChargeId string, accountId string, hotelId string) AccountsReceivablesApiDeleteAccountFixedChargeRequest {
	return AccountsReceivablesApiDeleteAccountFixedChargeRequest{
		ApiService: a,
		ctx: ctx,
		fixedChargeId: fixedChargeId,
		accountId: accountId,
		hotelId: hotelId,
	}
}

// Execute executes the request
//  @return Status
func (a *AccountsReceivablesApiService) DeleteAccountFixedChargeExecute(r AccountsReceivablesApiDeleteAccountFixedChargeRequest) (*Status, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *Status
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AccountsReceivablesApiService.DeleteAccountFixedCharge")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/hotels/{hotelId}/accounts/{accountId}/fixedCharges/{fixedChargeId}"
	localVarPath = strings.Replace(localVarPath, "{"+"fixedChargeId"+"}", url.PathEscape(parameterValueToString(r.fixedChargeId, "fixedChargeId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"accountId"+"}", url.PathEscape(parameterValueToString(r.accountId, "accountId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"hotelId"+"}", url.PathEscape(parameterValueToString(r.hotelId, "hotelId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if strlen(r.fixedChargeId) < 1 {
		return localVarReturnValue, nil, reportError("fixedChargeId must have at least 1 elements")
	}
	if strlen(r.fixedChargeId) > 2000 {
		return localVarReturnValue, nil, reportError("fixedChargeId must have less than 2000 elements")
	}
	if strlen(r.accountId) < 1 {
		return localVarReturnValue, nil, reportError("accountId must have at least 1 elements")
	}
	if strlen(r.accountId) > 2000 {
		return localVarReturnValue, nil, reportError("accountId must have less than 2000 elements")
	}
	if strlen(r.hotelId) < 1 {
		return localVarReturnValue, nil, reportError("hotelId must have at least 1 elements")
	}
	if strlen(r.hotelId) > 2000 {
		return localVarReturnValue, nil, reportError("hotelId must have less than 2000 elements")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json;charset=UTF-8"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xExternalsystem != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-externalsystem", r.xExternalsystem, "")
	}
	if r.acceptLanguage != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accept-Language", r.acceptLanguage, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AccountsReceivablesApiDeleteAccountTraceRequest struct {
	ctx context.Context
	ApiService *AccountsReceivablesApiService
	accountId string
	hotelId string
	authorization *string
	xAppKey *string
	xHotelid *string
	traceID *string
	traceOn *string
	traceText *string
	xExternalsystem *string
	acceptLanguage *string
}

// Bearer token that needs to be passed which is generated post user authentication
func (r AccountsReceivablesApiDeleteAccountTraceRequest) Authorization(authorization string) AccountsReceivablesApiDeleteAccountTraceRequest {
	r.authorization = &authorization
	return r
}

// Client or Partner&#39;s Application Key
func (r AccountsReceivablesApiDeleteAccountTraceRequest) XAppKey(xAppKey string) AccountsReceivablesApiDeleteAccountTraceRequest {
	r.xAppKey = &xAppKey
	return r
}

// Mandatory parameter to identify the hotel code where the end user is logged in
func (r AccountsReceivablesApiDeleteAccountTraceRequest) XHotelid(xHotelid string) AccountsReceivablesApiDeleteAccountTraceRequest {
	r.xHotelid = &xHotelid
	return r
}

// A unique identifying value assigned by the creating system. The ID attribute may be used to reference a primary-key value within a database or in a particular implementation.
func (r AccountsReceivablesApiDeleteAccountTraceRequest) TraceID(traceID string) AccountsReceivablesApiDeleteAccountTraceRequest {
	r.traceID = &traceID
	return r
}

// Date of the trace.
func (r AccountsReceivablesApiDeleteAccountTraceRequest) TraceOn(traceOn string) AccountsReceivablesApiDeleteAccountTraceRequest {
	r.traceOn = &traceOn
	return r
}

// The information this trace contains.
func (r AccountsReceivablesApiDeleteAccountTraceRequest) TraceText(traceText string) AccountsReceivablesApiDeleteAccountTraceRequest {
	r.traceText = &traceText
	return r
}

// External system code.
func (r AccountsReceivablesApiDeleteAccountTraceRequest) XExternalsystem(xExternalsystem string) AccountsReceivablesApiDeleteAccountTraceRequest {
	r.xExternalsystem = &xExternalsystem
	return r
}

// Language code
func (r AccountsReceivablesApiDeleteAccountTraceRequest) AcceptLanguage(acceptLanguage string) AccountsReceivablesApiDeleteAccountTraceRequest {
	r.acceptLanguage = &acceptLanguage
	return r
}

func (r AccountsReceivablesApiDeleteAccountTraceRequest) Execute() (*Status, *http.Response, error) {
	return r.ApiService.DeleteAccountTraceExecute(r)
}

/*
DeleteAccountTrace This API facilitates deletion of account traces.

 <p><strong>OperationId:</strong>deleteAccountTrace</p>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param accountId Unique ID of the account
 @param hotelId Unique ID of the hotel
 @return AccountsReceivablesApiDeleteAccountTraceRequest
*/
func (a *AccountsReceivablesApiService) DeleteAccountTrace(ctx context.Context, accountId string, hotelId string) AccountsReceivablesApiDeleteAccountTraceRequest {
	return AccountsReceivablesApiDeleteAccountTraceRequest{
		ApiService: a,
		ctx: ctx,
		accountId: accountId,
		hotelId: hotelId,
	}
}

// Execute executes the request
//  @return Status
func (a *AccountsReceivablesApiService) DeleteAccountTraceExecute(r AccountsReceivablesApiDeleteAccountTraceRequest) (*Status, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *Status
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AccountsReceivablesApiService.DeleteAccountTrace")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/hotels/{hotelId}/accounts/{accountId}/traces"
	localVarPath = strings.Replace(localVarPath, "{"+"accountId"+"}", url.PathEscape(parameterValueToString(r.accountId, "accountId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"hotelId"+"}", url.PathEscape(parameterValueToString(r.hotelId, "hotelId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if strlen(r.accountId) < 1 {
		return localVarReturnValue, nil, reportError("accountId must have at least 1 elements")
	}
	if strlen(r.accountId) > 2000 {
		return localVarReturnValue, nil, reportError("accountId must have less than 2000 elements")
	}
	if strlen(r.hotelId) < 1 {
		return localVarReturnValue, nil, reportError("hotelId must have at least 1 elements")
	}
	if strlen(r.hotelId) > 2000 {
		return localVarReturnValue, nil, reportError("hotelId must have less than 2000 elements")
	}

	if r.traceID != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "traceID", r.traceID, "")
	}
	if r.traceOn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "traceOn", r.traceOn, "")
	}
	if r.traceText != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "traceText", r.traceText, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json;charset=UTF-8"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xExternalsystem != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-externalsystem", r.xExternalsystem, "")
	}
	if r.acceptLanguage != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accept-Language", r.acceptLanguage, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AccountsReceivablesApiDeletePaymentsFromInvoiceRequest struct {
	ctx context.Context
	ApiService *AccountsReceivablesApiService
	transactionId string
	invoiceId string
	hotelId string
	trxNo *[]float32
	accountId *string
	authorization *string
	xAppKey *string
	xHotelid *string
	cashierID *float32
	invoiceNo *float32
	xExternalsystem *string
	acceptLanguage *string
}

// Unique Transaction Identifier of the Payment.
func (r AccountsReceivablesApiDeletePaymentsFromInvoiceRequest) TrxNo(trxNo []float32) AccountsReceivablesApiDeletePaymentsFromInvoiceRequest {
	r.trxNo = &trxNo
	return r
}

// A unique identifying value assigned by the creating system. The ID attribute may be used to reference a primary-key value within a database or in a particular implementation.
func (r AccountsReceivablesApiDeletePaymentsFromInvoiceRequest) AccountId(accountId string) AccountsReceivablesApiDeletePaymentsFromInvoiceRequest {
	r.accountId = &accountId
	return r
}

// Bearer token that needs to be passed which is generated post user authentication
func (r AccountsReceivablesApiDeletePaymentsFromInvoiceRequest) Authorization(authorization string) AccountsReceivablesApiDeletePaymentsFromInvoiceRequest {
	r.authorization = &authorization
	return r
}

// Client or Partner&#39;s Application Key
func (r AccountsReceivablesApiDeletePaymentsFromInvoiceRequest) XAppKey(xAppKey string) AccountsReceivablesApiDeletePaymentsFromInvoiceRequest {
	r.xAppKey = &xAppKey
	return r
}

// Mandatory parameter to identify the hotel code where the end user is logged in
func (r AccountsReceivablesApiDeletePaymentsFromInvoiceRequest) XHotelid(xHotelid string) AccountsReceivablesApiDeletePaymentsFromInvoiceRequest {
	r.xHotelid = &xHotelid
	return r
}

// The Cashier ID of the Cashier who is currently processing the transaction(s).
func (r AccountsReceivablesApiDeletePaymentsFromInvoiceRequest) CashierID(cashierID float32) AccountsReceivablesApiDeletePaymentsFromInvoiceRequest {
	r.cashierID = &cashierID
	return r
}

// Invoice No after the folio is generated. Same invoice number may be referred in multiple folios
func (r AccountsReceivablesApiDeletePaymentsFromInvoiceRequest) InvoiceNo(invoiceNo float32) AccountsReceivablesApiDeletePaymentsFromInvoiceRequest {
	r.invoiceNo = &invoiceNo
	return r
}

// External system code.
func (r AccountsReceivablesApiDeletePaymentsFromInvoiceRequest) XExternalsystem(xExternalsystem string) AccountsReceivablesApiDeletePaymentsFromInvoiceRequest {
	r.xExternalsystem = &xExternalsystem
	return r
}

// Language code
func (r AccountsReceivablesApiDeletePaymentsFromInvoiceRequest) AcceptLanguage(acceptLanguage string) AccountsReceivablesApiDeletePaymentsFromInvoiceRequest {
	r.acceptLanguage = &acceptLanguage
	return r
}

func (r AccountsReceivablesApiDeletePaymentsFromInvoiceRequest) Execute() (*Status, *http.Response, error) {
	return r.ApiService.DeletePaymentsFromInvoiceExecute(r)
}

/*
DeletePaymentsFromInvoice Delete payments from invoice

Delete payments from invoice.<br><p><strong><mark>This API is deprecated. Please use removePaymentsFromInvoice instead</mark></strong></p> <p><strong>OperationId:</strong>deletePaymentsFromInvoice</p>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param transactionId Unique ID of the transaction
 @param invoiceId Unique ID of the invoice
 @param hotelId Unique ID of the hotel
 @return AccountsReceivablesApiDeletePaymentsFromInvoiceRequest

Deprecated
*/
func (a *AccountsReceivablesApiService) DeletePaymentsFromInvoice(ctx context.Context, transactionId string, invoiceId string, hotelId string) AccountsReceivablesApiDeletePaymentsFromInvoiceRequest {
	return AccountsReceivablesApiDeletePaymentsFromInvoiceRequest{
		ApiService: a,
		ctx: ctx,
		transactionId: transactionId,
		invoiceId: invoiceId,
		hotelId: hotelId,
	}
}

// Execute executes the request
//  @return Status
// Deprecated
func (a *AccountsReceivablesApiService) DeletePaymentsFromInvoiceExecute(r AccountsReceivablesApiDeletePaymentsFromInvoiceRequest) (*Status, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *Status
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AccountsReceivablesApiService.DeletePaymentsFromInvoice")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/hotels/{hotelId}/invoices/{invoiceId}/transactions/{transactionId}/paymentsFromInvoice"
	localVarPath = strings.Replace(localVarPath, "{"+"transactionId"+"}", url.PathEscape(parameterValueToString(r.transactionId, "transactionId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"invoiceId"+"}", url.PathEscape(parameterValueToString(r.invoiceId, "invoiceId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"hotelId"+"}", url.PathEscape(parameterValueToString(r.hotelId, "hotelId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if strlen(r.transactionId) < 1 {
		return localVarReturnValue, nil, reportError("transactionId must have at least 1 elements")
	}
	if strlen(r.transactionId) > 2000 {
		return localVarReturnValue, nil, reportError("transactionId must have less than 2000 elements")
	}
	if strlen(r.invoiceId) < 1 {
		return localVarReturnValue, nil, reportError("invoiceId must have at least 1 elements")
	}
	if strlen(r.invoiceId) > 2000 {
		return localVarReturnValue, nil, reportError("invoiceId must have less than 2000 elements")
	}
	if strlen(r.hotelId) < 1 {
		return localVarReturnValue, nil, reportError("hotelId must have at least 1 elements")
	}
	if strlen(r.hotelId) > 2000 {
		return localVarReturnValue, nil, reportError("hotelId must have less than 2000 elements")
	}

	{
		t := *r.trxNo
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "trxNo", s.Index(i).Interface(), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "trxNo", t, "multi")
		}
	}
	parameterAddToHeaderOrQuery(localVarQueryParams, "accountId", r.accountId, "")
	if r.cashierID != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "cashierID", r.cashierID, "")
	}
	if r.invoiceNo != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "invoiceNo", r.invoiceNo, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json;charset=UTF-8"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xExternalsystem != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-externalsystem", r.xExternalsystem, "")
	}
	if r.acceptLanguage != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accept-Language", r.acceptLanguage, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AccountsReceivablesApiGetARAgingCyclesRequest struct {
	ctx context.Context
	ApiService *AccountsReceivablesApiService
	hotelId string
	authorization *string
	xAppKey *string
	xHotelid *string
	xExternalsystem *string
	acceptLanguage *string
}

// Bearer token that needs to be passed which is generated post user authentication
func (r AccountsReceivablesApiGetARAgingCyclesRequest) Authorization(authorization string) AccountsReceivablesApiGetARAgingCyclesRequest {
	r.authorization = &authorization
	return r
}

// Client or Partner&#39;s Application Key
func (r AccountsReceivablesApiGetARAgingCyclesRequest) XAppKey(xAppKey string) AccountsReceivablesApiGetARAgingCyclesRequest {
	r.xAppKey = &xAppKey
	return r
}

// Mandatory parameter to identify the hotel code where the end user is logged in
func (r AccountsReceivablesApiGetARAgingCyclesRequest) XHotelid(xHotelid string) AccountsReceivablesApiGetARAgingCyclesRequest {
	r.xHotelid = &xHotelid
	return r
}

// External system code.
func (r AccountsReceivablesApiGetARAgingCyclesRequest) XExternalsystem(xExternalsystem string) AccountsReceivablesApiGetARAgingCyclesRequest {
	r.xExternalsystem = &xExternalsystem
	return r
}

// Language code
func (r AccountsReceivablesApiGetARAgingCyclesRequest) AcceptLanguage(acceptLanguage string) AccountsReceivablesApiGetARAgingCyclesRequest {
	r.acceptLanguage = &acceptLanguage
	return r
}

func (r AccountsReceivablesApiGetARAgingCyclesRequest) Execute() (*ArAgingCycles, *http.Response, error) {
	return r.ApiService.GetARAgingCyclesExecute(r)
}

/*
GetARAgingCycles Get given AR account's aging detail

Use this API to get account receivable profile's aging summary including account name, summary, credit limit, total outstanding balance, etc. per aging bucket. <p><strong>OperationId:</strong>getARAgingCycles</p>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param hotelId Unique ID of the hotel
 @return AccountsReceivablesApiGetARAgingCyclesRequest
*/
func (a *AccountsReceivablesApiService) GetARAgingCycles(ctx context.Context, hotelId string) AccountsReceivablesApiGetARAgingCyclesRequest {
	return AccountsReceivablesApiGetARAgingCyclesRequest{
		ApiService: a,
		ctx: ctx,
		hotelId: hotelId,
	}
}

// Execute executes the request
//  @return ArAgingCycles
func (a *AccountsReceivablesApiService) GetARAgingCyclesExecute(r AccountsReceivablesApiGetARAgingCyclesRequest) (*ArAgingCycles, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ArAgingCycles
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AccountsReceivablesApiService.GetARAgingCycles")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/hotels/{hotelId}/agingCycles"
	localVarPath = strings.Replace(localVarPath, "{"+"hotelId"+"}", url.PathEscape(parameterValueToString(r.hotelId, "hotelId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if strlen(r.hotelId) < 1 {
		return localVarReturnValue, nil, reportError("hotelId must have at least 1 elements")
	}
	if strlen(r.hotelId) > 2000 {
		return localVarReturnValue, nil, reportError("hotelId must have less than 2000 elements")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json;charset=UTF-8"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xExternalsystem != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-externalsystem", r.xExternalsystem, "")
	}
	if r.acceptLanguage != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accept-Language", r.acceptLanguage, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AccountsReceivablesApiGetARCreditCardPaymentsRequest struct {
	ctx context.Context
	ApiService *AccountsReceivablesApiService
	transactionId string
	hotelId string
	authorization *string
	xAppKey *string
	xHotelid *string
	endDate *string
	startDate *string
	limit *int32
	offset *int32
	xExternalsystem *string
	acceptLanguage *string
}

// Bearer token that needs to be passed which is generated post user authentication
func (r AccountsReceivablesApiGetARCreditCardPaymentsRequest) Authorization(authorization string) AccountsReceivablesApiGetARCreditCardPaymentsRequest {
	r.authorization = &authorization
	return r
}

// Client or Partner&#39;s Application Key
func (r AccountsReceivablesApiGetARCreditCardPaymentsRequest) XAppKey(xAppKey string) AccountsReceivablesApiGetARCreditCardPaymentsRequest {
	r.xAppKey = &xAppKey
	return r
}

// Mandatory parameter to identify the hotel code where the end user is logged in
func (r AccountsReceivablesApiGetARCreditCardPaymentsRequest) XHotelid(xHotelid string) AccountsReceivablesApiGetARCreditCardPaymentsRequest {
	r.xHotelid = &xHotelid
	return r
}

// The ending value of the date range.
func (r AccountsReceivablesApiGetARCreditCardPaymentsRequest) EndDate(endDate string) AccountsReceivablesApiGetARCreditCardPaymentsRequest {
	r.endDate = &endDate
	return r
}

// The starting value of the date range.
func (r AccountsReceivablesApiGetARCreditCardPaymentsRequest) StartDate(startDate string) AccountsReceivablesApiGetARCreditCardPaymentsRequest {
	r.startDate = &startDate
	return r
}

// Indicates maximum number of records a Web Service should return.
func (r AccountsReceivablesApiGetARCreditCardPaymentsRequest) Limit(limit int32) AccountsReceivablesApiGetARCreditCardPaymentsRequest {
	r.limit = &limit
	return r
}

// Index or initial index of the set(page) being requested. If the index goes out of the bounds of the total set count then no data will be returned.
func (r AccountsReceivablesApiGetARCreditCardPaymentsRequest) Offset(offset int32) AccountsReceivablesApiGetARCreditCardPaymentsRequest {
	r.offset = &offset
	return r
}

// External system code.
func (r AccountsReceivablesApiGetARCreditCardPaymentsRequest) XExternalsystem(xExternalsystem string) AccountsReceivablesApiGetARCreditCardPaymentsRequest {
	r.xExternalsystem = &xExternalsystem
	return r
}

// Language code
func (r AccountsReceivablesApiGetARCreditCardPaymentsRequest) AcceptLanguage(acceptLanguage string) AccountsReceivablesApiGetARCreditCardPaymentsRequest {
	r.acceptLanguage = &acceptLanguage
	return r
}

func (r AccountsReceivablesApiGetARCreditCardPaymentsRequest) Execute() (*ArCreditCardPayments, *http.Response, error) {
	return r.ApiService.GetARCreditCardPaymentsExecute(r)
}

/*
GetARCreditCardPayments Get account receivable folios which are paid using credit cards

Use this API to get lists of folios for guests who checked out using a credit card payment transaction code that has an account receivable associated with it. It also lists payments made prior to check out if the payment was made using a credit card transaction code that has a an account receivable associated with it. <p><strong>OperationId:</strong>getARCreditCardPayments</p>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param transactionId Unique ID of the transaction
 @param hotelId Unique ID of the hotel
 @return AccountsReceivablesApiGetARCreditCardPaymentsRequest
*/
func (a *AccountsReceivablesApiService) GetARCreditCardPayments(ctx context.Context, transactionId string, hotelId string) AccountsReceivablesApiGetARCreditCardPaymentsRequest {
	return AccountsReceivablesApiGetARCreditCardPaymentsRequest{
		ApiService: a,
		ctx: ctx,
		transactionId: transactionId,
		hotelId: hotelId,
	}
}

// Execute executes the request
//  @return ArCreditCardPayments
func (a *AccountsReceivablesApiService) GetARCreditCardPaymentsExecute(r AccountsReceivablesApiGetARCreditCardPaymentsRequest) (*ArCreditCardPayments, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ArCreditCardPayments
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AccountsReceivablesApiService.GetARCreditCardPayments")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/hotels/{hotelId}/transactions/{transactionId}/creditcard/payments"
	localVarPath = strings.Replace(localVarPath, "{"+"transactionId"+"}", url.PathEscape(parameterValueToString(r.transactionId, "transactionId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"hotelId"+"}", url.PathEscape(parameterValueToString(r.hotelId, "hotelId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if strlen(r.transactionId) < 1 {
		return localVarReturnValue, nil, reportError("transactionId must have at least 1 elements")
	}
	if strlen(r.transactionId) > 2000 {
		return localVarReturnValue, nil, reportError("transactionId must have less than 2000 elements")
	}
	if strlen(r.hotelId) < 1 {
		return localVarReturnValue, nil, reportError("hotelId must have at least 1 elements")
	}
	if strlen(r.hotelId) > 2000 {
		return localVarReturnValue, nil, reportError("hotelId must have less than 2000 elements")
	}

	if r.endDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "endDate", r.endDate, "")
	}
	if r.startDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "startDate", r.startDate, "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json;charset=UTF-8"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xExternalsystem != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-externalsystem", r.xExternalsystem, "")
	}
	if r.acceptLanguage != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accept-Language", r.acceptLanguage, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AccountsReceivablesApiGetARFolioPrintersRequest struct {
	ctx context.Context
	ApiService *AccountsReceivablesApiService
	accountId string
	hotelId string
	authorization *string
	xAppKey *string
	xHotelid *string
	balance *float32
	overrideCreditHoldCheck *bool
	cashierId *float32
	profileId *string
	accountNo *string
	accountName *string
	guestProfileId *string
	guestProfileIdContext *string
	guestProfileType *string
	folioWindowNo *[]int32
	chargeCashierId *[]float32
	chargeTransactionCode *[]string
	articleCode *[]string
	amount *float32
	currencyCode *string
	postingQuantity *[]int32
	postingReference *[]string
	postingRemark *[]string
	checkNumber *[]string
	arrangementCode *[]string
	applyRoutingInstructions *[]bool
	usePackageAllowance *[]bool
	autoPosting *[]bool
	financialTransactionId *[]string
	financialTransactionIdContext *[]string
	financialTransactionType *[]string
	reference *string
	remark *string
	folioType *string
	generateFiscalFolio *bool
	queueName *string
	xExternalsystem *string
	acceptLanguage *string
}

// Bearer token that needs to be passed which is generated post user authentication
func (r AccountsReceivablesApiGetARFolioPrintersRequest) Authorization(authorization string) AccountsReceivablesApiGetARFolioPrintersRequest {
	r.authorization = &authorization
	return r
}

// Client or Partner&#39;s Application Key
func (r AccountsReceivablesApiGetARFolioPrintersRequest) XAppKey(xAppKey string) AccountsReceivablesApiGetARFolioPrintersRequest {
	r.xAppKey = &xAppKey
	return r
}

// Mandatory parameter to identify the hotel code where the end user is logged in
func (r AccountsReceivablesApiGetARFolioPrintersRequest) XHotelid(xHotelid string) AccountsReceivablesApiGetARFolioPrintersRequest {
	r.xHotelid = &xHotelid
	return r
}

func (r AccountsReceivablesApiGetARFolioPrintersRequest) Balance(balance float32) AccountsReceivablesApiGetARFolioPrintersRequest {
	r.balance = &balance
	return r
}

func (r AccountsReceivablesApiGetARFolioPrintersRequest) OverrideCreditHoldCheck(overrideCreditHoldCheck bool) AccountsReceivablesApiGetARFolioPrintersRequest {
	r.overrideCreditHoldCheck = &overrideCreditHoldCheck
	return r
}

// The Cashier ID of the Cashier who is currently processing the transaction(s).
func (r AccountsReceivablesApiGetARFolioPrintersRequest) CashierId(cashierId float32) AccountsReceivablesApiGetARFolioPrintersRequest {
	r.cashierId = &cashierId
	return r
}

// A unique identifying value assigned by the creating system. The ID attribute may be used to reference a primary-key value within a database or in a particular implementation.
func (r AccountsReceivablesApiGetARFolioPrintersRequest) ProfileId(profileId string) AccountsReceivablesApiGetARFolioPrintersRequest {
	r.profileId = &profileId
	return r
}

// Account Number for the AR Account.
func (r AccountsReceivablesApiGetARFolioPrintersRequest) AccountNo(accountNo string) AccountsReceivablesApiGetARFolioPrintersRequest {
	r.accountNo = &accountNo
	return r
}

// Account Name for the AR Account.
func (r AccountsReceivablesApiGetARFolioPrintersRequest) AccountName(accountName string) AccountsReceivablesApiGetARFolioPrintersRequest {
	r.accountName = &accountName
	return r
}

// A unique identifying value assigned by the creating system. The ID attribute may be used to reference a primary-key value within a database or in a particular implementation.
func (r AccountsReceivablesApiGetARFolioPrintersRequest) GuestProfileId(guestProfileId string) AccountsReceivablesApiGetARFolioPrintersRequest {
	r.guestProfileId = &guestProfileId
	return r
}

// Used to identify the source of the identifier (e.g., IATA, ABTA).
func (r AccountsReceivablesApiGetARFolioPrintersRequest) GuestProfileIdContext(guestProfileIdContext string) AccountsReceivablesApiGetARFolioPrintersRequest {
	r.guestProfileIdContext = &guestProfileIdContext
	return r
}

// A reference to the type of object defined by the UniqueID element.
func (r AccountsReceivablesApiGetARFolioPrintersRequest) GuestProfileType(guestProfileType string) AccountsReceivablesApiGetARFolioPrintersRequest {
	r.guestProfileType = &guestProfileType
	return r
}

func (r AccountsReceivablesApiGetARFolioPrintersRequest) FolioWindowNo(folioWindowNo []int32) AccountsReceivablesApiGetARFolioPrintersRequest {
	r.folioWindowNo = &folioWindowNo
	return r
}

// The Cashier ID of the Cashier who is currently processing the transaction(s).
func (r AccountsReceivablesApiGetARFolioPrintersRequest) ChargeCashierId(chargeCashierId []float32) AccountsReceivablesApiGetARFolioPrintersRequest {
	r.chargeCashierId = &chargeCashierId
	return r
}

// Transaction Code to post.
func (r AccountsReceivablesApiGetARFolioPrintersRequest) ChargeTransactionCode(chargeTransactionCode []string) AccountsReceivablesApiGetARFolioPrintersRequest {
	r.chargeTransactionCode = &chargeTransactionCode
	return r
}

// Article ID.
func (r AccountsReceivablesApiGetARFolioPrintersRequest) ArticleCode(articleCode []string) AccountsReceivablesApiGetARFolioPrintersRequest {
	r.articleCode = &articleCode
	return r
}

// A monetary amount.
func (r AccountsReceivablesApiGetARFolioPrintersRequest) Amount(amount float32) AccountsReceivablesApiGetARFolioPrintersRequest {
	r.amount = &amount
	return r
}

// Provides a currency code to reflect the currency in which an amount may be expressed.
func (r AccountsReceivablesApiGetARFolioPrintersRequest) CurrencyCode(currencyCode string) AccountsReceivablesApiGetARFolioPrintersRequest {
	r.currencyCode = &currencyCode
	return r
}

// Quantity to post to the folio.
func (r AccountsReceivablesApiGetARFolioPrintersRequest) PostingQuantity(postingQuantity []int32) AccountsReceivablesApiGetARFolioPrintersRequest {
	r.postingQuantity = &postingQuantity
	return r
}

// User-defined posting reference.
func (r AccountsReceivablesApiGetARFolioPrintersRequest) PostingReference(postingReference []string) AccountsReceivablesApiGetARFolioPrintersRequest {
	r.postingReference = &postingReference
	return r
}

// User-defined posting remark.
func (r AccountsReceivablesApiGetARFolioPrintersRequest) PostingRemark(postingRemark []string) AccountsReceivablesApiGetARFolioPrintersRequest {
	r.postingRemark = &postingRemark
	return r
}

// Indicates the Cheque number.
func (r AccountsReceivablesApiGetARFolioPrintersRequest) CheckNumber(checkNumber []string) AccountsReceivablesApiGetARFolioPrintersRequest {
	r.checkNumber = &checkNumber
	return r
}

// Corrected arrangement code from the package associated to this transaction.
func (r AccountsReceivablesApiGetARFolioPrintersRequest) ArrangementCode(arrangementCode []string) AccountsReceivablesApiGetARFolioPrintersRequest {
	r.arrangementCode = &arrangementCode
	return r
}

// Apply room routing when making this posting.
func (r AccountsReceivablesApiGetARFolioPrintersRequest) ApplyRoutingInstructions(applyRoutingInstructions []bool) AccountsReceivablesApiGetARFolioPrintersRequest {
	r.applyRoutingInstructions = &applyRoutingInstructions
	return r
}

// Use the applicable package allowance when making this posting.
func (r AccountsReceivablesApiGetARFolioPrintersRequest) UsePackageAllowance(usePackageAllowance []bool) AccountsReceivablesApiGetARFolioPrintersRequest {
	r.usePackageAllowance = &usePackageAllowance
	return r
}

// True indicates the Transaction Code is allowed to be posted automatically.
func (r AccountsReceivablesApiGetARFolioPrintersRequest) AutoPosting(autoPosting []bool) AccountsReceivablesApiGetARFolioPrintersRequest {
	r.autoPosting = &autoPosting
	return r
}

// A unique identifying value assigned by the creating system. The ID attribute may be used to reference a primary-key value within a database or in a particular implementation.
func (r AccountsReceivablesApiGetARFolioPrintersRequest) FinancialTransactionId(financialTransactionId []string) AccountsReceivablesApiGetARFolioPrintersRequest {
	r.financialTransactionId = &financialTransactionId
	return r
}

// Used to identify the source of the identifier (e.g., IATA, ABTA).
func (r AccountsReceivablesApiGetARFolioPrintersRequest) FinancialTransactionIdContext(financialTransactionIdContext []string) AccountsReceivablesApiGetARFolioPrintersRequest {
	r.financialTransactionIdContext = &financialTransactionIdContext
	return r
}

// A reference to the type of object defined by the UniqueID element.
func (r AccountsReceivablesApiGetARFolioPrintersRequest) FinancialTransactionType(financialTransactionType []string) AccountsReceivablesApiGetARFolioPrintersRequest {
	r.financialTransactionType = &financialTransactionType
	return r
}

// User-defined invoice reference.
func (r AccountsReceivablesApiGetARFolioPrintersRequest) Reference(reference string) AccountsReceivablesApiGetARFolioPrintersRequest {
	r.reference = &reference
	return r
}

// User-defined invoice remark.
func (r AccountsReceivablesApiGetARFolioPrintersRequest) Remark(remark string) AccountsReceivablesApiGetARFolioPrintersRequest {
	r.remark = &remark
	return r
}

// Folio Type to be assigned to generated folio. This is a country requirement.
func (r AccountsReceivablesApiGetARFolioPrintersRequest) FolioType(folioType string) AccountsReceivablesApiGetARFolioPrintersRequest {
	r.folioType = &folioType
	return r
}

// Fiscal folio flag to call fiscal folio web service after folio generation.
func (r AccountsReceivablesApiGetARFolioPrintersRequest) GenerateFiscalFolio(generateFiscalFolio bool) AccountsReceivablesApiGetARFolioPrintersRequest {
	r.generateFiscalFolio = &generateFiscalFolio
	return r
}

// Folio Queue name.
func (r AccountsReceivablesApiGetARFolioPrintersRequest) QueueName(queueName string) AccountsReceivablesApiGetARFolioPrintersRequest {
	r.queueName = &queueName
	return r
}

// External system code.
func (r AccountsReceivablesApiGetARFolioPrintersRequest) XExternalsystem(xExternalsystem string) AccountsReceivablesApiGetARFolioPrintersRequest {
	r.xExternalsystem = &xExternalsystem
	return r
}

// Language code
func (r AccountsReceivablesApiGetARFolioPrintersRequest) AcceptLanguage(acceptLanguage string) AccountsReceivablesApiGetARFolioPrintersRequest {
	r.acceptLanguage = &acceptLanguage
	return r
}

func (r AccountsReceivablesApiGetARFolioPrintersRequest) Execute() (*ArFolioPrinters, *http.Response, error) {
	return r.ApiService.GetARFolioPrintersExecute(r)
}

/*
GetARFolioPrinters Get list of account receivable folio printers

Use this API to find account receivable folio printers <p><strong>OperationId:</strong>getARFolioPrinters</p>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param accountId Unique ID of the account
 @param hotelId Unique ID of the hotel
 @return AccountsReceivablesApiGetARFolioPrintersRequest
*/
func (a *AccountsReceivablesApiService) GetARFolioPrinters(ctx context.Context, accountId string, hotelId string) AccountsReceivablesApiGetARFolioPrintersRequest {
	return AccountsReceivablesApiGetARFolioPrintersRequest{
		ApiService: a,
		ctx: ctx,
		accountId: accountId,
		hotelId: hotelId,
	}
}

// Execute executes the request
//  @return ArFolioPrinters
func (a *AccountsReceivablesApiService) GetARFolioPrintersExecute(r AccountsReceivablesApiGetARFolioPrintersRequest) (*ArFolioPrinters, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ArFolioPrinters
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AccountsReceivablesApiService.GetARFolioPrinters")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/hotels/{hotelId}/accounts/{accountId}/folioPrinters"
	localVarPath = strings.Replace(localVarPath, "{"+"accountId"+"}", url.PathEscape(parameterValueToString(r.accountId, "accountId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"hotelId"+"}", url.PathEscape(parameterValueToString(r.hotelId, "hotelId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if strlen(r.accountId) < 1 {
		return localVarReturnValue, nil, reportError("accountId must have at least 1 elements")
	}
	if strlen(r.accountId) > 2000 {
		return localVarReturnValue, nil, reportError("accountId must have less than 2000 elements")
	}
	if strlen(r.hotelId) < 1 {
		return localVarReturnValue, nil, reportError("hotelId must have at least 1 elements")
	}
	if strlen(r.hotelId) > 2000 {
		return localVarReturnValue, nil, reportError("hotelId must have less than 2000 elements")
	}

	if r.balance != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "balance", r.balance, "")
	}
	if r.overrideCreditHoldCheck != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "overrideCreditHoldCheck", r.overrideCreditHoldCheck, "")
	}
	if r.cashierId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "cashierId", r.cashierId, "")
	}
	if r.profileId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "profileId", r.profileId, "")
	}
	if r.accountNo != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "accountNo", r.accountNo, "")
	}
	if r.accountName != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "accountName", r.accountName, "")
	}
	if r.guestProfileId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "guestProfileId", r.guestProfileId, "")
	}
	if r.guestProfileIdContext != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "guestProfileIdContext", r.guestProfileIdContext, "")
	}
	if r.guestProfileType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "guestProfileType", r.guestProfileType, "")
	}
	if r.folioWindowNo != nil {
		t := *r.folioWindowNo
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "folioWindowNo", s.Index(i).Interface(), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "folioWindowNo", t, "multi")
		}
	}
	if r.chargeCashierId != nil {
		t := *r.chargeCashierId
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "chargeCashierId", s.Index(i).Interface(), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "chargeCashierId", t, "multi")
		}
	}
	if r.chargeTransactionCode != nil {
		t := *r.chargeTransactionCode
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "chargeTransactionCode", s.Index(i).Interface(), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "chargeTransactionCode", t, "multi")
		}
	}
	if r.articleCode != nil {
		t := *r.articleCode
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "articleCode", s.Index(i).Interface(), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "articleCode", t, "multi")
		}
	}
	if r.amount != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "amount", r.amount, "")
	}
	if r.currencyCode != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "currencyCode", r.currencyCode, "")
	}
	if r.postingQuantity != nil {
		t := *r.postingQuantity
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "postingQuantity", s.Index(i).Interface(), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "postingQuantity", t, "multi")
		}
	}
	if r.postingReference != nil {
		t := *r.postingReference
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "postingReference", s.Index(i).Interface(), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "postingReference", t, "multi")
		}
	}
	if r.postingRemark != nil {
		t := *r.postingRemark
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "postingRemark", s.Index(i).Interface(), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "postingRemark", t, "multi")
		}
	}
	if r.checkNumber != nil {
		t := *r.checkNumber
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "checkNumber", s.Index(i).Interface(), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "checkNumber", t, "multi")
		}
	}
	if r.arrangementCode != nil {
		t := *r.arrangementCode
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "arrangementCode", s.Index(i).Interface(), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "arrangementCode", t, "multi")
		}
	}
	if r.applyRoutingInstructions != nil {
		t := *r.applyRoutingInstructions
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "applyRoutingInstructions", s.Index(i).Interface(), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "applyRoutingInstructions", t, "multi")
		}
	}
	if r.usePackageAllowance != nil {
		t := *r.usePackageAllowance
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "usePackageAllowance", s.Index(i).Interface(), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "usePackageAllowance", t, "multi")
		}
	}
	if r.autoPosting != nil {
		t := *r.autoPosting
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "autoPosting", s.Index(i).Interface(), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "autoPosting", t, "multi")
		}
	}
	if r.financialTransactionId != nil {
		t := *r.financialTransactionId
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "financialTransactionId", s.Index(i).Interface(), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "financialTransactionId", t, "multi")
		}
	}
	if r.financialTransactionIdContext != nil {
		t := *r.financialTransactionIdContext
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "financialTransactionIdContext", s.Index(i).Interface(), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "financialTransactionIdContext", t, "multi")
		}
	}
	if r.financialTransactionType != nil {
		t := *r.financialTransactionType
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "financialTransactionType", s.Index(i).Interface(), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "financialTransactionType", t, "multi")
		}
	}
	if r.reference != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "reference", r.reference, "")
	}
	if r.remark != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "remark", r.remark, "")
	}
	if r.folioType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "folioType", r.folioType, "")
	}
	if r.generateFiscalFolio != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "generateFiscalFolio", r.generateFiscalFolio, "")
	}
	if r.queueName != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "queueName", r.queueName, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json;charset=UTF-8"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xExternalsystem != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-externalsystem", r.xExternalsystem, "")
	}
	if r.acceptLanguage != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accept-Language", r.acceptLanguage, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AccountsReceivablesApiGetARStatementsRequest struct {
	ctx context.Context
	ApiService *AccountsReceivablesApiService
	authorization *string
	xAppKey *string
	xHotelid *string
	hotelId *[]string
	profileId *[]string
	profileIdContext *string
	profileType *string
	accountID *[]string
	accountNo *[]string
	accountName *[]string
	canBeModified *[]bool
	closeDate *[]string
	fiscalBillNo *[]string
	folioDate *[]string
	folioNo *[]float32
	folioStatus *[]string
	folioTypeName *[]string
	internalFolioWindowID *[]string
	invoiceNo *[]float32
	invoiceType *[]string
	postingDate *[]string
	revenueDate *[]string
	statementNo *[]int32
	status *[]string
	transferDate *[]string
	invoiceTransactionCode *[]string
	transactionDate *[]string
	transactionNo *[]float32
	invoiceHotelIds *[]string
	reservationId *string
	reservationIdContext *string
	reservationType *string
	guestProfileId *string
	guestProfileIdContext *string
	guestProfileType *string
	age *[]int32
	guestName *[]string
	originalAmount *float32
	originalAmountCurrencyCode *string
	amount *float32
	currencyCode *string
	paymentsAmount *float32
	paymentsCurrencyCode *string
	balanceAmount *float32
	balanceCurrencyCode *string
	reference *[]string
	remark *[]string
	adjusted *[]bool
	parentInvoiceNo *[]float32
	compressed *[]bool
	compressedDate *[]string
	transferredOut *[]bool
	transferredIn *[]bool
	marketDescription *string
	marketHotelId *string
	marketCode *string
	marketGroup *string
	roomClassDescription *string
	roomClassHotelId *string
	roomClassCode *string
	sourceDescription *string
	sourceHotelId *string
	sourceCode *string
	sourceGroup *string
	cashierId *float32
	cashierName *string
	transactionHotelId *string
	printTrxReceipt *bool
	accountInvoiceTransactionCode *string
	transactionDescription *string
	transactionGroup *string
	transactionSubGroup *string
	universalProductCode *string
	routingInstructionsId *float32
	articleCode *[]string
	articleHotelIds *[]string
	inactive *[]bool
	orderSequence *[]float32
	articleDescription *[]string
	transactionCode *[]string
	articleAmount *float32
	articleCurrencyCode *string
	availableForPostIt *bool
	color *string
	articleUniversalProductCode *[]string
	attachCreditCardToProfile *bool
	cardHolderName *string
	cardNumber *string
	cardNumberLast4Digits *string
[...]
