/*
OPERA Cloud Channel Configuration API

APIs to cater for Channel Management functionality in OPERA Cloud. <br /><br /> Channel Management allows a property to configure and administer channels such as OTAs, and web channels, covering functionality such as channel configuration, availability, inventory and restrictions.<br /><br /> Compatible with OPERA Cloud release 23.2.<br /><br /><p> This document and all content within is available under the Universal Permissive License v 1.0 (https://oss.oracle.com/licenses/upl). Copyright (c) 2020, 2023 Oracle and/or its affiliates.</p>

API version: 23.2
Contact: hospitality_apis_ww_grp@oracle.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package chl

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"reflect"
)


// ChannelApiService ChannelApi service
type ChannelApiService service

type ChannelApiCopyChannelAccountContractsRequest struct {
	ctx context.Context
	ApiService *ChannelApiService
	authorization *string
	xAppKey *string
	xHotelid *string
	channelAccountContractsCopy *CopyChannelAccountContractsRequest
	xExternalsystem *string
	acceptLanguage *string
}

// Bearer token that needs to be passed which is generated post user authentication
func (r ChannelApiCopyChannelAccountContractsRequest) Authorization(authorization string) ChannelApiCopyChannelAccountContractsRequest {
	r.authorization = &authorization
	return r
}

// Client or Partner&#39;s Application Key
func (r ChannelApiCopyChannelAccountContractsRequest) XAppKey(xAppKey string) ChannelApiCopyChannelAccountContractsRequest {
	r.xAppKey = &xAppKey
	return r
}

// Mandatory parameter to identify the hotel code where the end user is logged in
func (r ChannelApiCopyChannelAccountContractsRequest) XHotelid(xHotelid string) ChannelApiCopyChannelAccountContractsRequest {
	r.xHotelid = &xHotelid
	return r
}

// Request object to copy the channel account contract and create a new contract.
func (r ChannelApiCopyChannelAccountContractsRequest) ChannelAccountContractsCopy(channelAccountContractsCopy CopyChannelAccountContractsRequest) ChannelApiCopyChannelAccountContractsRequest {
	r.channelAccountContractsCopy = &channelAccountContractsCopy
	return r
}

// External system code.
func (r ChannelApiCopyChannelAccountContractsRequest) XExternalsystem(xExternalsystem string) ChannelApiCopyChannelAccountContractsRequest {
	r.xExternalsystem = &xExternalsystem
	return r
}

// Language code
func (r ChannelApiCopyChannelAccountContractsRequest) AcceptLanguage(acceptLanguage string) ChannelApiCopyChannelAccountContractsRequest {
	r.acceptLanguage = &acceptLanguage
	return r
}

func (r ChannelApiCopyChannelAccountContractsRequest) Execute() (*ChannelAccountContractsDetailsCopy, *http.Response, error) {
	return r.ApiService.CopyChannelAccountContractsExecute(r)
}

/*
CopyChannelAccountContracts Creates copy of channel account contracts

This API creates copy of channel account contracts. <p><strong>OperationId:</strong>copyChannelAccountContracts</p>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ChannelApiCopyChannelAccountContractsRequest
*/
func (a *ChannelApiService) CopyChannelAccountContracts(ctx context.Context) ChannelApiCopyChannelAccountContractsRequest {
	return ChannelApiCopyChannelAccountContractsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ChannelAccountContractsDetailsCopy
func (a *ChannelApiService) CopyChannelAccountContractsExecute(r ChannelApiCopyChannelAccountContractsRequest) (*ChannelAccountContractsDetailsCopy, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ChannelAccountContractsDetailsCopy
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ChannelApiService.CopyChannelAccountContracts")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/channels/account/contracts/copy"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json;charset=UTF-8"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json;charset=UTF-8"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xExternalsystem != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-externalsystem", r.xExternalsystem, "")
	}
	if r.acceptLanguage != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accept-Language", r.acceptLanguage, "")
	}
	// body params
	localVarPostBody = r.channelAccountContractsCopy
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ChannelApiCopyChannelMarketingTextRequest struct {
	ctx context.Context
	ApiService *ChannelApiService
	authorization *string
	xAppKey *string
	xHotelid *string
	channelMarketingTextCopy *CopyChannelMarketingTextRequest
	xExternalsystem *string
	acceptLanguage *string
}

// Bearer token that needs to be passed which is generated post user authentication
func (r ChannelApiCopyChannelMarketingTextRequest) Authorization(authorization string) ChannelApiCopyChannelMarketingTextRequest {
	r.authorization = &authorization
	return r
}

// Client or Partner&#39;s Application Key
func (r ChannelApiCopyChannelMarketingTextRequest) XAppKey(xAppKey string) ChannelApiCopyChannelMarketingTextRequest {
	r.xAppKey = &xAppKey
	return r
}

// Mandatory parameter to identify the hotel code where the end user is logged in
func (r ChannelApiCopyChannelMarketingTextRequest) XHotelid(xHotelid string) ChannelApiCopyChannelMarketingTextRequest {
	r.xHotelid = &xHotelid
	return r
}

// Request object to copy channel marketing texts.
func (r ChannelApiCopyChannelMarketingTextRequest) ChannelMarketingTextCopy(channelMarketingTextCopy CopyChannelMarketingTextRequest) ChannelApiCopyChannelMarketingTextRequest {
	r.channelMarketingTextCopy = &channelMarketingTextCopy
	return r
}

// External system code.
func (r ChannelApiCopyChannelMarketingTextRequest) XExternalsystem(xExternalsystem string) ChannelApiCopyChannelMarketingTextRequest {
	r.xExternalsystem = &xExternalsystem
	return r
}

// Language code
func (r ChannelApiCopyChannelMarketingTextRequest) AcceptLanguage(acceptLanguage string) ChannelApiCopyChannelMarketingTextRequest {
	r.acceptLanguage = &acceptLanguage
	return r
}

func (r ChannelApiCopyChannelMarketingTextRequest) Execute() (*Status, *http.Response, error) {
	return r.ApiService.CopyChannelMarketingTextExecute(r)
}

/*
CopyChannelMarketingText Allows to copy marketing message to another channel and hotel

Use this API to copy one channel's mapping for marketing messages to another channel and hotel mapping. <p><strong>OperationId:</strong>copyChannelMarketingText</p>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ChannelApiCopyChannelMarketingTextRequest
*/
func (a *ChannelApiService) CopyChannelMarketingText(ctx context.Context) ChannelApiCopyChannelMarketingTextRequest {
	return ChannelApiCopyChannelMarketingTextRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return Status
func (a *ChannelApiService) CopyChannelMarketingTextExecute(r ChannelApiCopyChannelMarketingTextRequest) (*Status, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *Status
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ChannelApiService.CopyChannelMarketingText")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/channels/marketingText/copy"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json;charset=UTF-8"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json;charset=UTF-8"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xExternalsystem != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-externalsystem", r.xExternalsystem, "")
	}
	if r.acceptLanguage != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accept-Language", r.acceptLanguage, "")
	}
	// body params
	localVarPostBody = r.channelMarketingTextCopy
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ChannelApiCopyTotalPricingElementsRequest struct {
	ctx context.Context
	ApiService *ChannelApiService
	authorization *string
	xAppKey *string
	xHotelid *string
	totalPricingElementsCopy *CopyTotalPricingElementsRequest
	xExternalsystem *string
	acceptLanguage *string
}

// Bearer token that needs to be passed which is generated post user authentication
func (r ChannelApiCopyTotalPricingElementsRequest) Authorization(authorization string) ChannelApiCopyTotalPricingElementsRequest {
	r.authorization = &authorization
	return r
}

// Client or Partner&#39;s Application Key
func (r ChannelApiCopyTotalPricingElementsRequest) XAppKey(xAppKey string) ChannelApiCopyTotalPricingElementsRequest {
	r.xAppKey = &xAppKey
	return r
}

// Mandatory parameter to identify the hotel code where the end user is logged in
func (r ChannelApiCopyTotalPricingElementsRequest) XHotelid(xHotelid string) ChannelApiCopyTotalPricingElementsRequest {
	r.xHotelid = &xHotelid
	return r
}

// Request object to copy the total pricing elements into the target properties.
func (r ChannelApiCopyTotalPricingElementsRequest) TotalPricingElementsCopy(totalPricingElementsCopy CopyTotalPricingElementsRequest) ChannelApiCopyTotalPricingElementsRequest {
	r.totalPricingElementsCopy = &totalPricingElementsCopy
	return r
}

// External system code.
func (r ChannelApiCopyTotalPricingElementsRequest) XExternalsystem(xExternalsystem string) ChannelApiCopyTotalPricingElementsRequest {
	r.xExternalsystem = &xExternalsystem
	return r
}

// Language code
func (r ChannelApiCopyTotalPricingElementsRequest) AcceptLanguage(acceptLanguage string) ChannelApiCopyTotalPricingElementsRequest {
	r.acceptLanguage = &acceptLanguage
	return r
}

func (r ChannelApiCopyTotalPricingElementsRequest) Execute() (*Status, *http.Response, error) {
	return r.ApiService.CopyTotalPricingElementsExecute(r)
}

/*
CopyTotalPricingElements Allows to copy total pricing tax and fees to another hotel id

Use this API to copy global distribution system's fee and tax configurations from one hotel to another hotel within same chain/tenant <p><strong>OperationId:</strong>copyTotalPricingElements</p>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ChannelApiCopyTotalPricingElementsRequest
*/
func (a *ChannelApiService) CopyTotalPricingElements(ctx context.Context) ChannelApiCopyTotalPricingElementsRequest {
	return ChannelApiCopyTotalPricingElementsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return Status
func (a *ChannelApiService) CopyTotalPricingElementsExecute(r ChannelApiCopyTotalPricingElementsRequest) (*Status, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *Status
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ChannelApiService.CopyTotalPricingElements")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/hotels/totalPricing/copy"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json;charset=UTF-8"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json;charset=UTF-8"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xExternalsystem != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-externalsystem", r.xExternalsystem, "")
	}
	if r.acceptLanguage != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accept-Language", r.acceptLanguage, "")
	}
	// body params
	localVarPostBody = r.totalPricingElementsCopy
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ChannelApiDeleteAmenitiesMappingRequest struct {
	ctx context.Context
	ApiService *ChannelApiService
	authorization *string
	xAppKey *string
	xHotelid *string
	inactive *bool
	systemCode *string
	systemSubType *string
	systemType *string
	systemName *string
	websiteURL *string
	iconURL *string
	localSystemCode *[]string
	externalSystemCode *[]string
	description *[]string
	startDate *string
	endDate *string
	duration *string
	amenityGroup *[]string
	xExternalsystem *string
	acceptLanguage *string
}

// Bearer token that needs to be passed which is generated post user authentication
func (r ChannelApiDeleteAmenitiesMappingRequest) Authorization(authorization string) ChannelApiDeleteAmenitiesMappingRequest {
	r.authorization = &authorization
	return r
}

// Client or Partner&#39;s Application Key
func (r ChannelApiDeleteAmenitiesMappingRequest) XAppKey(xAppKey string) ChannelApiDeleteAmenitiesMappingRequest {
	r.xAppKey = &xAppKey
	return r
}

// Mandatory parameter to identify the hotel code where the end user is logged in
func (r ChannelApiDeleteAmenitiesMappingRequest) XHotelid(xHotelid string) ChannelApiDeleteAmenitiesMappingRequest {
	r.xHotelid = &xHotelid
	return r
}

// Indicates whether code is inactive or not.
func (r ChannelApiDeleteAmenitiesMappingRequest) Inactive(inactive bool) ChannelApiDeleteAmenitiesMappingRequest {
	r.inactive = &inactive
	return r
}

// External system code such as TRAVELOCITY, EXPEDIA, etc.
func (r ChannelApiDeleteAmenitiesMappingRequest) SystemCode(systemCode string) ChannelApiDeleteAmenitiesMappingRequest {
	r.systemCode = &systemCode
	return r
}

// External system subtype such as GDS, WEB, etc.
func (r ChannelApiDeleteAmenitiesMappingRequest) SystemSubType(systemSubType string) ChannelApiDeleteAmenitiesMappingRequest {
	r.systemSubType = &systemSubType
	return r
}

// External system type such as CHANNEL, OXI, etc.
func (r ChannelApiDeleteAmenitiesMappingRequest) SystemType(systemType string) ChannelApiDeleteAmenitiesMappingRequest {
	r.systemType = &systemType
	return r
}

// External system name.
func (r ChannelApiDeleteAmenitiesMappingRequest) SystemName(systemName string) ChannelApiDeleteAmenitiesMappingRequest {
	r.systemName = &systemName
	return r
}

// Cannel Website URL
func (r ChannelApiDeleteAmenitiesMappingRequest) WebsiteURL(websiteURL string) ChannelApiDeleteAmenitiesMappingRequest {
	r.websiteURL = &websiteURL
	return r
}

// Channel Icon URL
func (r ChannelApiDeleteAmenitiesMappingRequest) IconURL(iconURL string) ChannelApiDeleteAmenitiesMappingRequest {
	r.iconURL = &iconURL
	return r
}

// Code used inside the OPERA System
func (r ChannelApiDeleteAmenitiesMappingRequest) LocalSystemCode(localSystemCode []string) ChannelApiDeleteAmenitiesMappingRequest {
	r.localSystemCode = &localSystemCode
	return r
}

// Code used in the External System
func (r ChannelApiDeleteAmenitiesMappingRequest) ExternalSystemCode(externalSystemCode []string) ChannelApiDeleteAmenitiesMappingRequest {
	r.externalSystemCode = &externalSystemCode
	return r
}

// Detailed Description of the given entity.
func (r ChannelApiDeleteAmenitiesMappingRequest) Description(description []string) ChannelApiDeleteAmenitiesMappingRequest {
	r.description = &description
	return r
}

func (r ChannelApiDeleteAmenitiesMappingRequest) StartDate(startDate string) ChannelApiDeleteAmenitiesMappingRequest {
	r.startDate = &startDate
	return r
}

func (r ChannelApiDeleteAmenitiesMappingRequest) EndDate(endDate string) ChannelApiDeleteAmenitiesMappingRequest {
	r.endDate = &endDate
	return r
}

func (r ChannelApiDeleteAmenitiesMappingRequest) Duration(duration string) ChannelApiDeleteAmenitiesMappingRequest {
	r.duration = &duration
	return r
}

// User defined logical group name for the amenities.
func (r ChannelApiDeleteAmenitiesMappingRequest) AmenityGroup(amenityGroup []string) ChannelApiDeleteAmenitiesMappingRequest {
	r.amenityGroup = &amenityGroup
	return r
}

// External system code.
func (r ChannelApiDeleteAmenitiesMappingRequest) XExternalsystem(xExternalsystem string) ChannelApiDeleteAmenitiesMappingRequest {
	r.xExternalsystem = &xExternalsystem
	return r
}

// Language code
func (r ChannelApiDeleteAmenitiesMappingRequest) AcceptLanguage(acceptLanguage string) ChannelApiDeleteAmenitiesMappingRequest {
	r.acceptLanguage = &acceptLanguage
	return r
}

func (r ChannelApiDeleteAmenitiesMappingRequest) Execute() (*Status, *http.Response, error) {
	return r.ApiService.DeleteAmenitiesMappingExecute(r)
}

/*
DeleteAmenitiesMapping Deletes channel amenities configuration

Use this API to delete channel amenities mapping <p><strong>OperationId:</strong>deleteAmenitiesMapping</p>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ChannelApiDeleteAmenitiesMappingRequest
*/
func (a *ChannelApiService) DeleteAmenitiesMapping(ctx context.Context) ChannelApiDeleteAmenitiesMappingRequest {
	return ChannelApiDeleteAmenitiesMappingRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return Status
func (a *ChannelApiService) DeleteAmenitiesMappingExecute(r ChannelApiDeleteAmenitiesMappingRequest) (*Status, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *Status
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ChannelApiService.DeleteAmenitiesMapping")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/channels/amenities"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.inactive != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "inactive", r.inactive, "")
	}
	if r.systemCode != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "systemCode", r.systemCode, "")
	}
	if r.systemSubType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "systemSubType", r.systemSubType, "")
	}
	if r.systemType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "systemType", r.systemType, "")
	}
	if r.systemName != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "systemName", r.systemName, "")
	}
	if r.websiteURL != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "websiteURL", r.websiteURL, "")
	}
	if r.iconURL != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "iconURL", r.iconURL, "")
	}
	if r.localSystemCode != nil {
		t := *r.localSystemCode
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "localSystemCode", s.Index(i).Interface(), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "localSystemCode", t, "multi")
		}
	}
	if r.externalSystemCode != nil {
		t := *r.externalSystemCode
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "externalSystemCode", s.Index(i).Interface(), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "externalSystemCode", t, "multi")
		}
	}
	if r.description != nil {
		t := *r.description
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "description", s.Index(i).Interface(), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "description", t, "multi")
		}
	}
	if r.startDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "startDate", r.startDate, "")
	}
	if r.endDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "endDate", r.endDate, "")
	}
	if r.duration != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "duration", r.duration, "")
	}
	if r.amenityGroup != nil {
		t := *r.amenityGroup
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "amenityGroup", s.Index(i).Interface(), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "amenityGroup", t, "multi")
		}
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json;charset=UTF-8"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xExternalsystem != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-externalsystem", r.xExternalsystem, "")
	}
	if r.acceptLanguage != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accept-Language", r.acceptLanguage, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ChannelApiDeleteChannelAccountContractsRequest struct {
	ctx context.Context
	ApiService *ChannelApiService
	authorization *string
	xAppKey *string
	xHotelid *string
	id *string
	idExtension *int32
	idContext *string
	type_ *string
	id1 *[]string
	idExtension1 *[]int32
	idContext1 *[]string
	type1 *[]string
	xExternalsystem *string
	acceptLanguage *string
}

// Bearer token that needs to be passed which is generated post user authentication
func (r ChannelApiDeleteChannelAccountContractsRequest) Authorization(authorization string) ChannelApiDeleteChannelAccountContractsRequest {
	r.authorization = &authorization
	return r
}

// Client or Partner&#39;s Application Key
func (r ChannelApiDeleteChannelAccountContractsRequest) XAppKey(xAppKey string) ChannelApiDeleteChannelAccountContractsRequest {
	r.xAppKey = &xAppKey
	return r
}

// Mandatory parameter to identify the hotel code where the end user is logged in
func (r ChannelApiDeleteChannelAccountContractsRequest) XHotelid(xHotelid string) ChannelApiDeleteChannelAccountContractsRequest {
	r.xHotelid = &xHotelid
	return r
}

// A unique identifying value assigned by the creating system. The ID attribute may be used to reference a primary-key value within a database or in a particular implementation.
func (r ChannelApiDeleteChannelAccountContractsRequest) Id(id string) ChannelApiDeleteChannelAccountContractsRequest {
	r.id = &id
	return r
}

// Additional identifying value assigned by the creating system.
func (r ChannelApiDeleteChannelAccountContractsRequest) IdExtension(idExtension int32) ChannelApiDeleteChannelAccountContractsRequest {
	r.idExtension = &idExtension
	return r
}

// Used to identify the source of the identifier (e.g., IATA, ABTA).
func (r ChannelApiDeleteChannelAccountContractsRequest) IdContext(idContext string) ChannelApiDeleteChannelAccountContractsRequest {
	r.idContext = &idContext
	return r
}

// A reference to the type of object defined by the UniqueID element.
func (r ChannelApiDeleteChannelAccountContractsRequest) Type_(type_ string) ChannelApiDeleteChannelAccountContractsRequest {
	r.type_ = &type_
	return r
}

// A unique identifying value assigned by the creating system. The ID attribute may be used to reference a primary-key value within a database or in a particular implementation.
func (r ChannelApiDeleteChannelAccountContractsRequest) Id1(id1 []string) ChannelApiDeleteChannelAccountContractsRequest {
	r.id1 = &id1
	return r
}

// Additional identifying value assigned by the creating system.
func (r ChannelApiDeleteChannelAccountContractsRequest) IdExtension1(idExtension1 []int32) ChannelApiDeleteChannelAccountContractsRequest {
	r.idExtension1 = &idExtension1
	return r
}

// Used to identify the source of the identifier (e.g., IATA, ABTA).
func (r ChannelApiDeleteChannelAccountContractsRequest) IdContext1(idContext1 []string) ChannelApiDeleteChannelAccountContractsRequest {
	r.idContext1 = &idContext1
	return r
}

// A reference to the type of object defined by the UniqueID element.
func (r ChannelApiDeleteChannelAccountContractsRequest) Type1(type1 []string) ChannelApiDeleteChannelAccountContractsRequest {
	r.type1 = &type1
	return r
}

// External system code.
func (r ChannelApiDeleteChannelAccountContractsRequest) XExternalsystem(xExternalsystem string) ChannelApiDeleteChannelAccountContractsRequest {
	r.xExternalsystem = &xExternalsystem
	return r
}

// Language code
func (r ChannelApiDeleteChannelAccountContractsRequest) AcceptLanguage(acceptLanguage string) ChannelApiDeleteChannelAccountContractsRequest {
	r.acceptLanguage = &acceptLanguage
	return r
}

func (r ChannelApiDeleteChannelAccountContractsRequest) Execute() (*Status, *http.Response, error) {
	return r.ApiService.DeleteChannelAccountContractsExecute(r)
}

/*
DeleteChannelAccountContracts Deletes channel account contracts.

This API deletes channel account contracts. <p><strong>OperationId:</strong>deleteChannelAccountContracts</p>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ChannelApiDeleteChannelAccountContractsRequest
*/
func (a *ChannelApiService) DeleteChannelAccountContracts(ctx context.Context) ChannelApiDeleteChannelAccountContractsRequest {
	return ChannelApiDeleteChannelAccountContractsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return Status
func (a *ChannelApiService) DeleteChannelAccountContractsExecute(r ChannelApiDeleteChannelAccountContractsRequest) (*Status, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *Status
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ChannelApiService.DeleteChannelAccountContracts")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/channels/account/contracts"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.id != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id", r.id, "")
	}
	if r.idExtension != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "idExtension", r.idExtension, "")
	}
	if r.idContext != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "idContext", r.idContext, "")
	}
	if r.type_ != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "type", r.type_, "")
	}
	if r.id1 != nil {
		t := *r.id1
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "id1", s.Index(i).Interface(), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "id1", t, "multi")
		}
	}
	if r.idExtension1 != nil {
		t := *r.idExtension1
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "idExtension1", s.Index(i).Interface(), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "idExtension1", t, "multi")
		}
	}
	if r.idContext1 != nil {
		t := *r.idContext1
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "idContext1", s.Index(i).Interface(), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "idContext1", t, "multi")
		}
	}
	if r.type1 != nil {
		t := *r.type1
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "type1", s.Index(i).Interface(), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "type1", t, "multi")
		}
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json;charset=UTF-8"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xExternalsystem != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-externalsystem", r.xExternalsystem, "")
	}
	if r.acceptLanguage != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accept-Language", r.acceptLanguage, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ChannelApiDeleteChannelBillingStatementsRequest struct {
	ctx context.Context
	ApiService *ChannelApiService
	authorization *string
	xAppKey *string
	xHotelid *string
	id *[]string
	idExtension *[]int32
	idContext *[]string
	type_ *[]string
	xExternalsystem *string
	acceptLanguage *string
}

// Bearer token that needs to be passed which is generated post user authentication
func (r ChannelApiDeleteChannelBillingStatementsRequest) Authorization(authorization string) ChannelApiDeleteChannelBillingStatementsRequest {
	r.authorization = &authorization
	return r
}

// Client or Partner&#39;s Application Key
func (r ChannelApiDeleteChannelBillingStatementsRequest) XAppKey(xAppKey string) ChannelApiDeleteChannelBillingStatementsRequest {
	r.xAppKey = &xAppKey
	return r
}

// Mandatory parameter to identify the hotel code where the end user is logged in
func (r ChannelApiDeleteChannelBillingStatementsRequest) XHotelid(xHotelid string) ChannelApiDeleteChannelBillingStatementsRequest {
	r.xHotelid = &xHotelid
	return r
}

// A unique identifying value assigned by the creating system. The ID attribute may be used to reference a primary-key value within a database or in a particular implementation.
func (r ChannelApiDeleteChannelBillingStatementsRequest) Id(id []string) ChannelApiDeleteChannelBillingStatementsRequest {
	r.id = &id
	return r
}

// Additional identifying value assigned by the creating system.
func (r ChannelApiDeleteChannelBillingStatementsRequest) IdExtension(idExtension []int32) ChannelApiDeleteChannelBillingStatementsRequest {
	r.idExtension = &idExtension
	return r
}

// Used to identify the source of the identifier (e.g., IATA, ABTA).
func (r ChannelApiDeleteChannelBillingStatementsRequest) IdContext(idContext []string) ChannelApiDeleteChannelBillingStatementsRequest {
	r.idContext = &idContext
	return r
}

// A reference to the type of object defined by the UniqueID element.
func (r ChannelApiDeleteChannelBillingStatementsRequest) Type_(type_ []string) ChannelApiDeleteChannelBillingStatementsRequest {
	r.type_ = &type_
	return r
}

// External system code.
func (r ChannelApiDeleteChannelBillingStatementsRequest) XExternalsystem(xExternalsystem string) ChannelApiDeleteChannelBillingStatementsRequest {
	r.xExternalsystem = &xExternalsystem
	return r
}

// Language code
func (r ChannelApiDeleteChannelBillingStatementsRequest) AcceptLanguage(acceptLanguage string) ChannelApiDeleteChannelBillingStatementsRequest {
	r.acceptLanguage = &acceptLanguage
	return r
}

func (r ChannelApiDeleteChannelBillingStatementsRequest) Execute() (*Status, *http.Response, error) {
	return r.ApiService.DeleteChannelBillingStatementsExecute(r)
}

/*
DeleteChannelBillingStatements Deletes channel billing statements.

This API deletes channel billing statements. <p><strong>OperationId:</strong>deleteChannelBillingStatements</p>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ChannelApiDeleteChannelBillingStatementsRequest
*/
func (a *ChannelApiService) DeleteChannelBillingStatements(ctx context.Context) ChannelApiDeleteChannelBillingStatementsRequest {
	return ChannelApiDeleteChannelBillingStatementsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return Status
func (a *ChannelApiService) DeleteChannelBillingStatementsExecute(r ChannelApiDeleteChannelBillingStatementsRequest) (*Status, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *Status
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ChannelApiService.DeleteChannelBillingStatements")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/channels/billingStatements"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.id != nil {
		t := *r.id
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "id", s.Index(i).Interface(), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "id", t, "multi")
		}
	}
	if r.idExtension != nil {
		t := *r.idExtension
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "idExtension", s.Index(i).Interface(), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "idExtension", t, "multi")
		}
	}
	if r.idContext != nil {
		t := *r.idContext
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "idContext", s.Index(i).Interface(), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "idContext", t, "multi")
		}
	}
	if r.type_ != nil {
		t := *r.type_
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "type", s.Index(i).Interface(), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "type", t, "multi")
		}
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json;charset=UTF-8"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xExternalsystem != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-externalsystem", r.xExternalsystem, "")
	}
	if r.acceptLanguage != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accept-Language", r.acceptLanguage, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ChannelApiDeleteChannelCardTypeMappingRequest struct {
	ctx context.Context
	ApiService *ChannelApiService
	cardTypeCode string
	channelCode string
	hotelId string
	authorization *string
	xAppKey *string
	xHotelid *string
	channelCardType *string
	xExternalsystem *string
	acceptLanguage *string
}

// Bearer token that needs to be passed which is generated post user authentication
func (r ChannelApiDeleteChannelCardTypeMappingRequest) Authorization(authorization string) ChannelApiDeleteChannelCardTypeMappingRequest {
	r.authorization = &authorization
	return r
}

// Client or Partner&#39;s Application Key
func (r ChannelApiDeleteChannelCardTypeMappingRequest) XAppKey(xAppKey string) ChannelApiDeleteChannelCardTypeMappingRequest {
	r.xAppKey = &xAppKey
	return r
}

// Mandatory parameter to identify the hotel code where the end user is logged in
func (r ChannelApiDeleteChannelCardTypeMappingRequest) XHotelid(xHotelid string) ChannelApiDeleteChannelCardTypeMappingRequest {
	r.xHotelid = &xHotelid
	return r
}

// Used for codes in the OPERA Code tables. Possible values of this pattern are 1, 101, 101.EQP, or 101.EQP.X.
func (r ChannelApiDeleteChannelCardTypeMappingRequest) ChannelCardType(channelCardType string) ChannelApiDeleteChannelCardTypeMappingRequest {
	r.channelCardType = &channelCardType
	return r
}

// External system code.
func (r ChannelApiDeleteChannelCardTypeMappingRequest) XExternalsystem(xExternalsystem string) ChannelApiDeleteChannelCardTypeMappingRequest {
	r.xExternalsystem = &xExternalsystem
	return r
}

// Language code
func (r ChannelApiDeleteChannelCardTypeMappingRequest) AcceptLanguage(acceptLanguage string) ChannelApiDeleteChannelCardTypeMappingRequest {
	r.acceptLanguage = &acceptLanguage
	return r
}

func (r ChannelApiDeleteChannelCardTypeMappingRequest) Execute() (*Status, *http.Response, error) {
	return r.ApiService.DeleteChannelCardTypeMappingExecute(r)
}

/*
DeleteChannelCardTypeMapping Deletes channel credit card mapping for a hotel

Use this API to delete channel mapping for OPERA credit cards to channel for a given hotel id. <p><strong>OperationId:</strong>deleteChannelCardTypeMapping</p>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param cardTypeCode Unique ID that identifies a channel.
 @param channelCode Unique ID that identifies a channel.
 @param hotelId Unique ID that identifies a single hotel property.
 @return ChannelApiDeleteChannelCardTypeMappingRequest
*/
func (a *ChannelApiService) DeleteChannelCardTypeMapping(ctx context.Context, cardTypeCode string, channelCode string, hotelId string) ChannelApiDeleteChannelCardTypeMappingRequest {
	return ChannelApiDeleteChannelCardTypeMappingRequest{
		ApiService: a,
		ctx: ctx,
		cardTypeCode: cardTypeCode,
		channelCode: channelCode,
		hotelId: hotelId,
	}
}

// Execute executes the request
//  @return Status
func (a *ChannelApiService) DeleteChannelCardTypeMappingExecute(r ChannelApiDeleteChannelCardTypeMappingRequest) (*Status, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *Status
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ChannelApiService.DeleteChannelCardTypeMapping")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/hotels/{hotelId}/channels/{channelCode}/cardType/{cardTypeCode}"
	localVarPath = strings.Replace(localVarPath, "{"+"cardTypeCode"+"}", url.PathEscape(parameterValueToString(r.cardTypeCode, "cardTypeCode")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"channelCode"+"}", url.PathEscape(parameterValueToString(r.channelCode, "channelCode")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"hotelId"+"}", url.PathEscape(parameterValueToString(r.hotelId, "hotelId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if strlen(r.cardTypeCode) < 1 {
		return localVarReturnValue, nil, reportError("cardTypeCode must have at least 1 elements")
	}
	if strlen(r.cardTypeCode) > 2000 {
		return localVarReturnValue, nil, reportError("cardTypeCode must have less than 2000 elements")
	}
	if strlen(r.channelCode) < 1 {
		return localVarReturnValue, nil, reportError("channelCode must have at least 1 elements")
	}
	if strlen(r.channelCode) > 2000 {
		return localVarReturnValue, nil, reportError("channelCode must have less than 2000 elements")
	}
	if strlen(r.hotelId) < 1 {
		return localVarReturnValue, nil, reportError("hotelId must have at least 1 elements")
	}
	if strlen(r.hotelId) > 2000 {
		return localVarReturnValue, nil, reportError("hotelId must have less than 2000 elements")
	}

	if r.channelCardType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "channelCardType", r.channelCardType, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json;charset=UTF-8"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xExternalsystem != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-externalsystem", r.xExternalsystem, "")
	}
	if r.acceptLanguage != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accept-Language", r.acceptLanguage, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ChannelApiDeleteChannelCarriersRequest struct {
	ctx context.Context
	ApiService *ChannelApiService
	bookingChannelCodes *[]string
	carriers *[]string
	authorization *string
	xAppKey *string
	xHotelid *string
	xExternalsystem *string
	acceptLanguage *string
}

// Booking channel code of carrier.
func (r ChannelApiDeleteChannelCarriersRequest) BookingChannelCodes(bookingChannelCodes []string) ChannelApiDeleteChannelCarriersRequest {
	r.bookingChannelCodes = &bookingChannelCodes
	return r
}

// Code of carrier.
func (r ChannelApiDeleteChannelCarriersRequest) Carriers(carriers []string) ChannelApiDeleteChannelCarriersRequest {
	r.carriers = &carriers
	return r
}

// Bearer token that needs to be passed which is generated post user authentication
func (r ChannelApiDeleteChannelCarriersRequest) Authorization(authorization string) ChannelApiDeleteChannelCarriersRequest {
	r.authorization = &authorization
	return r
}

// Client or Partner&#39;s Application Key
func (r ChannelApiDeleteChannelCarriersRequest) XAppKey(xAppKey string) ChannelApiDeleteChannelCarriersRequest {
	r.xAppKey = &xAppKey
	return r
}

// Mandatory parameter to identify the hotel code where the end user is logged in
func (r ChannelApiDeleteChannelCarriersRequest) XHotelid(xHotelid string) ChannelApiDeleteChannelCarriersRequest {
	r.xHotelid = &xHotelid
	return r
}

// External system code.
func (r ChannelApiDeleteChannelCarriersRequest) XExternalsystem(xExternalsystem string) ChannelApiDeleteChannelCarriersRequest {
	r.xExternalsystem = &xExternalsystem
	return r
}

// Language code
func (r ChannelApiDeleteChannelCarriersRequest) AcceptLanguage(acceptLanguage string) ChannelApiDeleteChannelCarriersRequest {
	r.acceptLanguage = &acceptLanguage
	return r
}

func (r ChannelApiDeleteChannelCarriersRequest) Execute() (*Status, *http.Response, error) {
	return r.ApiService.DeleteChannelCarriersExecute(r)
}

/*
DeleteChannelCarriers Deletes sub channel configuration

Use this API to delete sub-channel (carrier) configuration for a given channel code. <p><strong>OperationId:</strong>deleteChannelCarriers</p>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ChannelApiDeleteChannelCarriersRequest
*/
func (a *ChannelApiService) DeleteChannelCarriers(ctx context.Context) ChannelApiDeleteChannelCarriersRequest {
	return ChannelApiDeleteChannelCarriersRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return Status
func (a *ChannelApiService) DeleteChannelCarriersExecute(r ChannelApiDeleteChannelCarriersRequest) (*Status, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *Status
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ChannelApiService.DeleteChannelCarriers")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/channels/subChannels"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	{
		t := *r.bookingChannelCodes
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "bookingChannelCodes", s.Index(i).Interface(), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "bookingChannelCodes", t, "multi")
		}
	}
	{
		t := *r.carriers
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "carriers", s.Index(i).Interface(), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "carriers", t, "multi")
		}
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json;charset=UTF-8"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xExternalsystem != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-externalsystem", r.xExternalsystem, "")
	}
	if r.acceptLanguage != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accept-Language", r.acceptLanguage, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ChannelApiDeleteChannelErrorsRequest struct {
	ctx context.Context
	ApiService *ChannelApiService
	authorization *string
	xAppKey *string
	xHotelid *string
	bookingChannelCode *[]string
	error_ *[]string
	xExternalsystem *string
	acceptLanguage *string
}

// Bearer token that needs to be passed which is generated post user authentication
func (r ChannelApiDeleteChannelErrorsRequest) Authorization(authorization string) ChannelApiDeleteChannelErrorsRequest {
	r.authorization = &authorization
	return r
}

// Client or Partner&#39;s Application Key
func (r ChannelApiDeleteChannelErrorsRequest) XAppKey(xAppKey string) ChannelApiDeleteChannelErrorsRequest {
	r.xAppKey = &xAppKey
	return r
}

// Mandatory parameter to identify the hotel code where the end user is logged in
func (r ChannelApiDeleteChannelErrorsRequest) XHotelid(xHotelid string) ChannelApiDeleteChannelErrorsRequest {
	r.xHotelid = &xHotelid
	return r
}

// Booking channel code of error.
func (r ChannelApiDeleteChannelErrorsRequest) BookingChannelCode(bookingChannelCode []string) ChannelApiDeleteChannelErrorsRequest {
	r.bookingChannelCode = &bookingChannelCode
	return r
}

// Code of error.
func (r ChannelApiDeleteChannelErrorsRequest) Error_(error_ []string) ChannelApiDeleteChannelErrorsRequest {
	r.error_ = &error_
	return r
}

// External system code.
func (r ChannelApiDeleteChannelErrorsRequest) XExternalsystem(xExternalsystem string) ChannelApiDeleteChannelErrorsRequest {
	r.xExternalsystem = &xExternalsystem
	return r
}

// Language code
func (r ChannelApiDeleteChannelErrorsRequest) AcceptLanguage(acceptLanguage string) ChannelApiDeleteChannelErrorsRequest {
	r.acceptLanguage = &acceptLanguage
	return r
}

func (r ChannelApiDeleteChannelErrorsRequest) Execute() (*Status, *http.Response, error) {
	return r.ApiService.DeleteChannelErrorsExecute(r)
}

/*
DeleteChannelErrors Deletes channel error codes

Use this API to delete channel error code mapping configurations. <p><strong>OperationId:</strong>deleteChannelErrors</p>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ChannelApiDeleteChannelErrorsRequest
*/
func (a *ChannelApiService) DeleteChannelErrors(ctx context.Context) ChannelApiDeleteChannelErrorsRequest {
	return ChannelApiDeleteChannelErrorsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return Status
func (a *ChannelApiService) DeleteChannelErrorsExecute(r ChannelApiDeleteChannelErrorsRequest) (*Status, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *Status
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ChannelApiService.DeleteChannelErrors")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/channels/errorCodes"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.bookingChannelCode != nil {
		t := *r.bookingChannelCode
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "bookingChannelCode", s.Index(i).Interface(), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "bookingChannelCode", t, "multi")
		}
	}
	if r.error_ != nil {
		t := *r.error_
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "error", s.Index(i).Interface(), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "error", t, "multi")
		}
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json;charset=UTF-8"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xExternalsystem != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-externalsystem", r.xExternalsystem, "")
	}
	if r.acceptLanguage != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accept-Language", r.acceptLanguage, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ChannelApiDeleteChannelGuaranteeCodeMappingRequest struct {
	ctx context.Context
	ApiService *ChannelApiService
	guaranteeCode string
	channelCode string
	hotelId string
	authorization *string
	xAppKey *string
	xHotelid *string
	xExternalsystem *string
	acceptLanguage *string
}

// Bearer token that needs to be passed which is generated post user authentication
func (r ChannelApiDeleteChannelGuaranteeCodeMappingRequest) Authorization(authorization string) ChannelApiDeleteChannelGuaranteeCodeMappingRequest {
	r.authorization = &authorization
	return r
}

// Client or Partner&#39;s Application Key
func (r ChannelApiDeleteChannelGuaranteeCodeMappingRequest) XAppKey(xAppKey string) ChannelApiDeleteChannelGuaranteeCodeMappingRequest {
	r.xAppKey = &xAppKey
	return r
}

// Mandatory parameter to identify the hotel code where the end user is logged in
func (r ChannelApiDeleteChannelGuaranteeCodeMappingRequest) XHotelid(xHotelid string) ChannelApiDeleteChannelGuaranteeCodeMappingRequest {
	r.xHotelid = &xHotelid
	return r
}

// External system code.
func (r ChannelApiDeleteChannelGuaranteeCodeMappingRequest) XExternalsystem(xExternalsystem string) ChannelApiDeleteChannelGuaranteeCodeMappingRequest {
	r.xExternalsystem = &xExternalsystem
	return r
}

// Language code
func (r ChannelApiDeleteChannelGuaranteeCodeMappingRequest) AcceptLanguage(acceptLanguage string) ChannelApiDeleteChannelGuaranteeCodeMappingRequest {
	r.acceptLanguage = &acceptLanguage
	return r
}

func (r ChannelApiDeleteChannelGuaranteeCodeMappingRequest) Execute() (*Status, *http.Response, error) {
	return r.ApiService.DeleteChannelGuaranteeCodeMappingExecute(r)
}

/*
DeleteChannelGuaranteeCodeMapping Deletes channel guarantee code mapping for a hotel

Use this API to delete channel guarantee code mapping to OPERA guarantee code for a given property. <p><strong>OperationId:</strong>deleteChannelGuaranteeCodeMapping</p>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param guaranteeCode Guarantee Code.
 @param channelCode Unique ID that identifies a channel.
 @param hotelId Unique ID that identifies a single hotel property.
 @return ChannelApiDeleteChannelGuaranteeCodeMappingRequest
*/
func (a *ChannelApiService) DeleteChannelGuaranteeCodeMapping(ctx context.Context, guaranteeCode string, channelCode string, hotelId string) ChannelApiDeleteChannelGuaranteeCodeMappingRequest {
	return ChannelApiDeleteChannelGuaranteeCodeMappingRequest{
		ApiService: a,
		ctx: ctx,
		guaranteeCode: guaranteeCode,
		channelCode: channelCode,
		hotelId: hotelId,
	}
}

// Execute executes the request
//  @return Status
func (a *ChannelApiService) DeleteChannelGuaranteeCodeMappingExecute(r ChannelApiDeleteChannelGuaranteeCodeMappingRequest) (*Status, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *Status
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ChannelApiService.DeleteChannelGuaranteeCodeMapping")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/hotels/{hotelId}/channels/{channelCode}/guarantees/{guaranteeCode}"
	localVarPath = strings.Replace(localVarPath, "{"+"guaranteeCode"+"}", url.PathEscape(parameterValueToString(r.guaranteeCode, "guaranteeCode")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"channelCode"+"}", url.PathEscape(parameterValueToString(r.channelCode, "channelCode")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"hotelId"+"}", url.PathEscape(parameterValueToString(r.hotelId, "hotelId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if strlen(r.guaranteeCode) < 1 {
		return localVarReturnValue, nil, reportError("guaranteeCode must have at least 1 elements")
	}
	if strlen(r.guaranteeCode) > 2000 {
		return localVarReturnValue, nil, reportError("guaranteeCode must have less than 2000 elements")
	}
	if strlen(r.channelCode) < 1 {
		return localVarReturnValue, nil, reportError("channelCode must have at least 1 elements")
	}
	if strlen(r.channelCode) > 2000 {
		return localVarReturnValue, nil, reportError("channelCode must have less than 2000 elements")
	}
	if strlen(r.hotelId) < 1 {
		return localVarReturnValue, nil, reportError("hotelId must have at least 1 elements")
	}
	if strlen(r.hotelId) > 2000 {
		return localVarReturnValue, nil, reportError("hotelId must have less than 2000 elements")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json;charset=UTF-8"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xExternalsystem != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-externalsystem", r.xExternalsystem, "")
	}
	if r.acceptLanguage != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accept-Language", r.acceptLanguage, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ChannelApiDeleteChannelHotelLettersRequest struct {
	ctx context.Context
	ApiService *ChannelApiService
	authorization *string
	xAppKey *string
	xHotelid *string
	code *string
	description *string
	hotelId *[]string
	code1 *string
	description1 *string
	letterType *[]string
	xExternalsystem *string
	acceptLanguage *string
}

// Bearer token that needs to be passed which is generated post user authentication
func (r ChannelApiDeleteChannelHotelLettersRequest) Authorization(authorization string) ChannelApiDeleteChannelHotelLettersRequest {
	r.authorization = &authorization
	return r
}

// Client or Partner&#39;s Application Key
func (r ChannelApiDeleteChannelHotelLettersRequest) XAppKey(xAppKey string) ChannelApiDeleteChannelHotelLettersRequest {
	r.xAppKey = &xAppKey
	return r
}

// Mandatory parameter to identify the hotel code where the end user is logged in
func (r ChannelApiDeleteChannelHotelLettersRequest) XHotelid(xHotelid string) ChannelApiDeleteChannelHotelLettersRequest {
	r.xHotelid = &xHotelid
	return r
}

// Code.
func (r ChannelApiDeleteChannelHotelLettersRequest) Code(code string) ChannelApiDeleteChannelHotelLettersRequest {
	r.code = &code
	return r
}

// description.
func (r ChannelApiDeleteChannelHotelLettersRequest) Description(description string) ChannelApiDeleteChannelHotelLettersRequest {
	r.description = &description
	return r
}

// Hotel code which the hotel letters belong to.
func (r ChannelApiDeleteChannelHotelLettersRequest) HotelId(hotelId []string) ChannelApiDeleteChannelHotelLettersRequest {
	r.hotelId = &hotelId
	return r
}

// Code.
func (r ChannelApiDeleteChannelHotelLettersRequest) Code1(code1 string) ChannelApiDeleteChannelHotelLettersRequest {
	r.code1 = &code1
	return r
}

// description.
func (r ChannelApiDeleteChannelHotelLettersRequest) Description1(description1 string) ChannelApiDeleteChannelHotelLettersRequest {
	r.description1 = &description1
	return r
}

// Represents Inquiry Letter Type.
func (r ChannelApiDeleteChannelHotelLettersRequest) LetterType(letterType []string) ChannelApiDeleteChannelHotelLettersRequest {
	r.letterType = &letterType
	return r
}

// External system code.
func (r ChannelApiDeleteChannelHotelLettersRequest) XExternalsystem(xExternalsystem string) ChannelApiDeleteChannelHotelLettersRequest {
	r.xExternalsystem = &xExternalsystem
	return r
}

// Language code
func (r ChannelApiDeleteChannelHotelLettersRequest) AcceptLanguage(acceptLanguage string) ChannelApiDeleteChannelHotelLettersRequest {
	r.acceptLanguage = &acceptLanguage
	return r
}

func (r ChannelApiDeleteChannelHotelLettersRequest) Execute() (*Status, *http.Response, error) {
	return r.ApiService.DeleteChannelHotelLettersExecute(r)
}

/*
DeleteChannelHotelLetters Deletes channel property confirmation letter mapping

Use this API to delete channel property confirmation letter configuration. <p><strong>OperationId:</strong>deleteChannelHotelLetters</p>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ChannelApiDeleteChannelHotelLettersRequest
*/
func (a *ChannelApiService) DeleteChannelHotelLetters(ctx context.Context) ChannelApiDeleteChannelHotelLettersRequest {
	return ChannelApiDeleteChannelHotelLettersRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return Status
func (a *ChannelApiService) DeleteChannelHotelLettersExecute(r ChannelApiDeleteChannelHotelLettersRequest) (*Status, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *Status
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ChannelApiService.DeleteChannelHotelLetters")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/channels/confirmationLetters"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.code != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "code", r.code, "")
	}
	if r.description != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "description", r.description, "")
	}
	if r.hotelId != nil {
		t := *r.hotelId
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "hotelId", s.Index(i).Interface(), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "hotelId", t, "multi")
		}
	}
	if r.code1 != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "code1", r.code1, "")
	}
	if r.description1 != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "description1", r.description1, "")
	}
	if r.letterType != nil {
		t := *r.letterType
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "letterType", s.Index(i).Interface(), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "letterType", t, "multi")
		}
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json;charset=UTF-8"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xExternalsystem != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-externalsystem", r.xExternalsystem, "")
	}
	if r.acceptLanguage != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accept-Language", r.acceptLanguage, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ChannelApiDeleteChannelMarketingTextRequest struct {
	ctx context.Context
	ApiService *ChannelApiService
	authorization *string
	xAppKey *string
	xHotelid *string
	beginDate *[]string
	bookingChannelCode *[]string
	endDate *[]string
	globalTextYN *[]bool
	hotelId *[]string
	marketingText *[]string
	policyDetail *[]string
	policyType *[]string
	transactionType *[]string
	newHotelId *[]string
	newTransactionType *[]string
	newPolicyType *[]string
	newPolicyDetail *[]string
	newBeginDate *[]string
	xExternalsystem *string
	acceptLanguage *string
}

// Bearer token that needs to be passed which is generated post user authentication
func (r ChannelApiDeleteChannelMarketingTextRequest) Authorization(authorization string) ChannelApiDeleteChannelMarketingTextRequest {
	r.authorization = &authorization
	return r
}

// Client or Partner&#39;s Application Key
func (r ChannelApiDeleteChannelMarketingTextRequest) XAppKey(xAppKey string) ChannelApiDeleteChannelMarketingTextRequest {
	r.xAppKey = &xAppKey
	return r
}

// Mandatory parameter to identify the hotel code where the end user is logged in
func (r ChannelApiDeleteChannelMarketingTextRequest) XHotelid(xHotelid string) ChannelApiDeleteChannelMarketingTextRequest {
	r.xHotelid = &xHotelid
	return r
}

func (r ChannelApiDeleteChannelMarketingTextRequest) BeginDate(beginDate []string) ChannelApiDeleteChannelMarketingTextRequest {
	r.beginDate = &beginDate
	return r
}

// The code that identifies a Booking Channel.
func (r ChannelApiDeleteChannelMarketingTextRequest) BookingChannelCode(bookingChannelCode []string) ChannelApiDeleteChannelMarketingTextRequest {
	r.bookingChannelCode = &bookingChannelCode
	return r
}

func (r ChannelApiDeleteChannelMarketingTextRequest) EndDate(endDate []string) ChannelApiDeleteChannelMarketingTextRequest {
	r.endDate = &endDate
	return r
}

func (r ChannelApiDeleteChannelMarketingTextRequest) GlobalTextYN(globalTextYN []bool) ChannelApiDeleteChannelMarketingTextRequest {
	r.globalTextYN = &globalTextYN
	return r
}

// The code that identifies a Hotel.
func (r ChannelApiDeleteChannelMarketingTextRequest) HotelId(hotelId []string) ChannelApiDeleteChannelMarketingTextRequest {
	r.hotelId = &hotelId
	return r
}

func (r ChannelApiDeleteChannelMarketingTextRequest) MarketingText(marketingText []string) ChannelApiDeleteChannelMarketingTextRequest {
	r.marketingText = &marketingText
	return r
}

func (r ChannelApiDeleteChannelMarketingTextRequest) PolicyDetail(policyDetail []string) ChannelApiDeleteChannelMarketingTextRequest {
	r.policyDetail = &policyDetail
	return r
}

func (r ChannelApiDeleteChannelMarketingTextRequest) PolicyType(policyType []string) ChannelApiDeleteChannelMarketingTextRequest {
	r.policyType = &policyType
	return r
}

func (r ChannelApiDeleteChannelMarketingTextRequest) TransactionType(transactionType []string) ChannelApiDeleteChannelMarketingTextRequest {
	r.transactionType = &transactionType
	return r
}

func (r ChannelApiDeleteChannelMarketingTextRequest) NewHotelId(newHotelId []string) ChannelApiDeleteChannelMarketingTextRequest {
	r.newHotelId = &newHotelId
	return r
}

func (r ChannelApiDeleteChannelMarketingTextRequest) NewTransactionType(newTransactionType []string) ChannelApiDeleteChannelMarketingTextRequest {
	r.newTransactionType = &newTransactionType
	return r
}

func (r ChannelApiDeleteChannelMarketingTextRequest) NewPolicyType(newPolicyType []string) ChannelApiDeleteChannelMarketingTextRequest {
	r.newPolicyType = &newPolicyType
	return r
}

func (r ChannelApiDeleteChannelMarketingTextRequest) NewPolicyDetail(newPolicyDetail []string) ChannelApiDeleteChannelMarketingTextRequest {
	r.newPolicyDetail = &newPolicyDetail
	return r
}

func (r ChannelApiDeleteChannelMarketingTextRequest) NewBeginDate(newBeginDate []string) ChannelApiDeleteChannelMarketingTextRequest {
	r.newBeginDate = &newBeginDate
	return r
}

// External system code.
func (r ChannelApiDeleteChannelMarketingTextRequest) XExternalsystem(xExternalsystem string) ChannelApiDeleteChannelMarketingTextRequest {
	r.xExternalsystem = &xExternalsystem
	return r
}

// Language code
func (r ChannelApiDeleteChannelMarketingTextRequest) AcceptLanguage(acceptLanguage string) ChannelApiDeleteChannelMarketingTextRequest {
	r.acceptLanguage = &acceptLanguage
	return r
}

func (r ChannelApiDeleteChannelMarketingTextRequest) Execute() (*Status, *http.Response, error) {
	return r.ApiService.DeleteChannelMarketingTextExecute(r)
}

/*
DeleteChannelMarketingText Deletes channel marketing messages

Use this API to delete channel mapping for marketing messages. <p><strong>OperationId:</strong>deleteChannelMarketingText</p>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ChannelApiDeleteChannelMarketingTextRequest
*/
func (a *ChannelApiService) DeleteChannelMarketingText(ctx context.Context) ChannelApiDeleteChannelMarketingTextRequest {
	return ChannelApiDeleteChannelMarketingTextRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return Status
func (a *ChannelApiService) DeleteChannelMarketingTextExecute(r ChannelApiDeleteChannelMarketingTextRequest) (*Status, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *Status
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ChannelApiService.DeleteChannelMarketingText")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/channels/marketingText"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.beginDate != nil {
		t := *r.beginDate
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "beginDate", s.Index(i).Interface(), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "beginDate", t, "multi")
		}
	}
	if r.bookingChannelCode != nil {
		t := *r.bookingChannelCode
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "bookingChannelCode", s.Index(i).Interface(), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "bookingChannelCode", t, "multi")
		}
	}
	if r.endDate != nil {
		t := *r.endDate
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "endDate", s.Index(i).Interface(), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "endDate", t, "multi")
		}
	}
	if r.globalTextYN != nil {
		t := *r.globalTextYN
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "globalTextYN", s.Index(i).Interface(), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "globalTextYN", t, "multi")
		}
	}
	if r.hotelId != nil {
		t := *r.hotelId
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "hotelId", s.Index(i).Interface(), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "hotelId", t, "multi")
		}
	}
	if r.marketingText != nil {
		t := *r.marketingText
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "marketingText", s.Index(i).Interface(), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "marketingText", t, "multi")
		}
	}
	if r.policyDetail != nil {
		t := *r.policyDetail
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "policyDetail", s.Index(i).Interface(), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "policyDetail", t, "multi")
		}
	}
	if r.policyType != nil {
		t := *r.policyType
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
[...]
