/*
OPERA Cloud Customer Relationship Management API

APIs to cater for Customer Relationship Management (profile) functionality in OPERA Cloud.  There are different types of profiles in OPERA Cloud, including Guest, Company, Travel Agent, Source, Group, and Contact profile types.  A profile can store and display a wide range of information about the guest, company, travel agent etc., depending upon the type of profile.  For example, a guest profile can store the guest name, address, contact information, details on billing, membership benefits, preferences and much more.  All profiles in OPERA when created are assigned a ProfileID.  This ID will be used throughout the CRM APIs.<br /><br /> Compatible with OPERA Cloud release 23.2.<br /><br /><p> This document and all content within is available under the Universal Permissive License v 1.0 (https://oss.oracle.com/licenses/upl). Copyright (c) 2020, 2023 Oracle and/or its affiliates.</p>

API version: 23.2
Contact: hospitality_apis_ww_grp@oracle.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package crm

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"reflect"
)


// ProfileMembershipApiService ProfileMembershipApi service
type ProfileMembershipApiService service

type ProfileMembershipApiCalculateMembershipPointsRequest struct {
	ctx context.Context
	ApiService *ProfileMembershipApiService
	authorization *string
	xAppKey *string
	xHotelid *string
	membershipPointsToCalculate *CalculateMembershipPointsRequest
	xExternalsystem *string
	acceptLanguage *string
}

// Bearer token that needs to be passed which is generated post user authentication
func (r ProfileMembershipApiCalculateMembershipPointsRequest) Authorization(authorization string) ProfileMembershipApiCalculateMembershipPointsRequest {
	r.authorization = &authorization
	return r
}

// Client or Partner&#39;s Application Key
func (r ProfileMembershipApiCalculateMembershipPointsRequest) XAppKey(xAppKey string) ProfileMembershipApiCalculateMembershipPointsRequest {
	r.xAppKey = &xAppKey
	return r
}

// Mandatory parameter to identify the hotel code where the end user is logged in
func (r ProfileMembershipApiCalculateMembershipPointsRequest) XHotelid(xHotelid string) ProfileMembershipApiCalculateMembershipPointsRequest {
	r.xHotelid = &xHotelid
	return r
}

// Request to run membership points calculation job.
func (r ProfileMembershipApiCalculateMembershipPointsRequest) MembershipPointsToCalculate(membershipPointsToCalculate CalculateMembershipPointsRequest) ProfileMembershipApiCalculateMembershipPointsRequest {
	r.membershipPointsToCalculate = &membershipPointsToCalculate
	return r
}

// External system code.
func (r ProfileMembershipApiCalculateMembershipPointsRequest) XExternalsystem(xExternalsystem string) ProfileMembershipApiCalculateMembershipPointsRequest {
	r.xExternalsystem = &xExternalsystem
	return r
}

// Language code
func (r ProfileMembershipApiCalculateMembershipPointsRequest) AcceptLanguage(acceptLanguage string) ProfileMembershipApiCalculateMembershipPointsRequest {
	r.acceptLanguage = &acceptLanguage
	return r
}

func (r ProfileMembershipApiCalculateMembershipPointsRequest) Execute() (*Status, *http.Response, error) {
	return r.ApiService.CalculateMembershipPointsExecute(r)
}

/*
CalculateMembershipPoints Calculate Membership Points

Start Membership Points Calculation process <p><strong>OperationId:</strong>calculateMembershipPoints</p>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ProfileMembershipApiCalculateMembershipPointsRequest
*/
func (a *ProfileMembershipApiService) CalculateMembershipPoints(ctx context.Context) ProfileMembershipApiCalculateMembershipPointsRequest {
	return ProfileMembershipApiCalculateMembershipPointsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return Status
func (a *ProfileMembershipApiService) CalculateMembershipPointsExecute(r ProfileMembershipApiCalculateMembershipPointsRequest) (*Status, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *Status
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProfileMembershipApiService.CalculateMembershipPoints")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/membershipPoints/calculations"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json;charset=UTF-8"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json;charset=UTF-8"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xExternalsystem != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-externalsystem", r.xExternalsystem, "")
	}
	if r.acceptLanguage != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accept-Language", r.acceptLanguage, "")
	}
	// body params
	localVarPostBody = r.membershipPointsToCalculate
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ProfileMembershipApiChangeMembershipClaimRequest struct {
	ctx context.Context
	ApiService *ProfileMembershipApiService
	claimId string
	authorization *string
	xAppKey *string
	xHotelid *string
	membershipClaim *PostMembershipClaimRequest
	xExternalsystem *string
	acceptLanguage *string
}

// Bearer token that needs to be passed which is generated post user authentication
func (r ProfileMembershipApiChangeMembershipClaimRequest) Authorization(authorization string) ProfileMembershipApiChangeMembershipClaimRequest {
	r.authorization = &authorization
	return r
}

// Client or Partner&#39;s Application Key
func (r ProfileMembershipApiChangeMembershipClaimRequest) XAppKey(xAppKey string) ProfileMembershipApiChangeMembershipClaimRequest {
	r.xAppKey = &xAppKey
	return r
}

// Mandatory parameter to identify the hotel code where the end user is logged in
func (r ProfileMembershipApiChangeMembershipClaimRequest) XHotelid(xHotelid string) ProfileMembershipApiChangeMembershipClaimRequest {
	r.xHotelid = &xHotelid
	return r
}

// Request object for changing membership claim information.
func (r ProfileMembershipApiChangeMembershipClaimRequest) MembershipClaim(membershipClaim PostMembershipClaimRequest) ProfileMembershipApiChangeMembershipClaimRequest {
	r.membershipClaim = &membershipClaim
	return r
}

// External system code.
func (r ProfileMembershipApiChangeMembershipClaimRequest) XExternalsystem(xExternalsystem string) ProfileMembershipApiChangeMembershipClaimRequest {
	r.xExternalsystem = &xExternalsystem
	return r
}

// Language code
func (r ProfileMembershipApiChangeMembershipClaimRequest) AcceptLanguage(acceptLanguage string) ProfileMembershipApiChangeMembershipClaimRequest {
	r.acceptLanguage = &acceptLanguage
	return r
}

func (r ProfileMembershipApiChangeMembershipClaimRequest) Execute() (*Status, *http.Response, error) {
	return r.ApiService.ChangeMembershipClaimExecute(r)
}

/*
ChangeMembershipClaim Change membership Claim

Change membership claim details based on the claim number and instructions provided in the request. <p><strong>OperationId:</strong>changeMembershipClaim</p>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param claimId
 @return ProfileMembershipApiChangeMembershipClaimRequest
*/
func (a *ProfileMembershipApiService) ChangeMembershipClaim(ctx context.Context, claimId string) ProfileMembershipApiChangeMembershipClaimRequest {
	return ProfileMembershipApiChangeMembershipClaimRequest{
		ApiService: a,
		ctx: ctx,
		claimId: claimId,
	}
}

// Execute executes the request
//  @return Status
func (a *ProfileMembershipApiService) ChangeMembershipClaimExecute(r ProfileMembershipApiChangeMembershipClaimRequest) (*Status, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *Status
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProfileMembershipApiService.ChangeMembershipClaim")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/membershipClaims/{claimId}"
	localVarPath = strings.Replace(localVarPath, "{"+"claimId"+"}", url.PathEscape(parameterValueToString(r.claimId, "claimId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if strlen(r.claimId) < 1 {
		return localVarReturnValue, nil, reportError("claimId must have at least 1 elements")
	}
	if strlen(r.claimId) > 2000 {
		return localVarReturnValue, nil, reportError("claimId must have less than 2000 elements")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json;charset=UTF-8"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json;charset=UTF-8"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xExternalsystem != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-externalsystem", r.xExternalsystem, "")
	}
	if r.acceptLanguage != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accept-Language", r.acceptLanguage, "")
	}
	// body params
	localVarPostBody = r.membershipClaim
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ProfileMembershipApiDeleteAwardsRequest struct {
	ctx context.Context
	ApiService *ProfileMembershipApiService
	awardNumber *float32
	authorization *string
	xAppKey *string
	xHotelid *string
	reservationCancellationNumber *string
	actualCancelPoints *float32
	xExternalsystem *string
	acceptLanguage *string
}

// An identifying number of the award, assigned by the system when the award was issued.
func (r ProfileMembershipApiDeleteAwardsRequest) AwardNumber(awardNumber float32) ProfileMembershipApiDeleteAwardsRequest {
	r.awardNumber = &awardNumber
	return r
}

// Bearer token that needs to be passed which is generated post user authentication
func (r ProfileMembershipApiDeleteAwardsRequest) Authorization(authorization string) ProfileMembershipApiDeleteAwardsRequest {
	r.authorization = &authorization
	return r
}

// Client or Partner&#39;s Application Key
func (r ProfileMembershipApiDeleteAwardsRequest) XAppKey(xAppKey string) ProfileMembershipApiDeleteAwardsRequest {
	r.xAppKey = &xAppKey
	return r
}

// Mandatory parameter to identify the hotel code where the end user is logged in
func (r ProfileMembershipApiDeleteAwardsRequest) XHotelid(xHotelid string) ProfileMembershipApiDeleteAwardsRequest {
	r.xHotelid = &xHotelid
	return r
}

// Identifies reservation cancellation number.
func (r ProfileMembershipApiDeleteAwardsRequest) ReservationCancellationNumber(reservationCancellationNumber string) ProfileMembershipApiDeleteAwardsRequest {
	r.reservationCancellationNumber = &reservationCancellationNumber
	return r
}

// The amount of points that will be deducted for cancelling the award, from the total guest award points.
func (r ProfileMembershipApiDeleteAwardsRequest) ActualCancelPoints(actualCancelPoints float32) ProfileMembershipApiDeleteAwardsRequest {
	r.actualCancelPoints = &actualCancelPoints
	return r
}

// External system code.
func (r ProfileMembershipApiDeleteAwardsRequest) XExternalsystem(xExternalsystem string) ProfileMembershipApiDeleteAwardsRequest {
	r.xExternalsystem = &xExternalsystem
	return r
}

// Language code
func (r ProfileMembershipApiDeleteAwardsRequest) AcceptLanguage(acceptLanguage string) ProfileMembershipApiDeleteAwardsRequest {
	r.acceptLanguage = &acceptLanguage
	return r
}

func (r ProfileMembershipApiDeleteAwardsRequest) Execute() (*Status, *http.Response, error) {
	return r.ApiService.DeleteAwardsExecute(r)
}

/*
DeleteAwards Delete Awards

Operation to cancel an award already been granted to a member. <p><strong>OperationId:</strong>deleteAwards</p>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ProfileMembershipApiDeleteAwardsRequest
*/
func (a *ProfileMembershipApiService) DeleteAwards(ctx context.Context) ProfileMembershipApiDeleteAwardsRequest {
	return ProfileMembershipApiDeleteAwardsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return Status
func (a *ProfileMembershipApiService) DeleteAwardsExecute(r ProfileMembershipApiDeleteAwardsRequest) (*Status, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *Status
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProfileMembershipApiService.DeleteAwards")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/awards"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	parameterAddToHeaderOrQuery(localVarQueryParams, "awardNumber", r.awardNumber, "")
	if r.reservationCancellationNumber != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "reservationCancellationNumber", r.reservationCancellationNumber, "")
	}
	if r.actualCancelPoints != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "actualCancelPoints", r.actualCancelPoints, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json;charset=UTF-8"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xExternalsystem != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-externalsystem", r.xExternalsystem, "")
	}
	if r.acceptLanguage != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accept-Language", r.acceptLanguage, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ProfileMembershipApiExportMembershipAwardRequest struct {
	ctx context.Context
	ApiService *ProfileMembershipApiService
	membershipId string
	authorization *string
	xAppKey *string
	xHotelid *string
	rateInfoHotelId *string
	totalAvailablePoints *float32
	pointsRequired *float32
	cancelPenaltyPoints *float32
	cancelPenaltyDays *float32
	cancelPenaltyCharge *float32
	cancelPenaltyType *string
	rawIssueKey *string
	awardNumber *float32
	rateCode *string
	rateDescription *string
	roomLabel *string
	roomDescription *string
	roomCategory *string
	stayDate *string
	awardType *string
	productInfoHotelId *string
	productInfoTotalAvailablePoints *float32
	productInfoPointsRequired *float32
	productInfoCancelPenaltyPoints *float32
	productInfoCancelPenaltyDays *float32
	productInfoCancelPenaltyCharge *float32
	productInfoCancelPenaltyType *string
	productInfoRawIssueKey *string
	productInfoAwardNumber *float32
	packageCode *string
	packageDescription *string
	awardValidFrom *string
	awardValidTo *string
	upgradeInfoAwardType *string
	upgradeInfoHotelId *string
	upgradeInfoTotalAvailablePoints *float32
	upgradeInfoPointsRequired *float32
	upgradeInfoCancelPenaltyPoints *float32
	upgradeInfoCancelPenaltyDays *float32
	upgradeInfoCancelPenaltyCharge *float32
	upgradeInfoCancelPenaltyType *string
	upgradeInfoRawIssueKey *string
	upgradeInfoAwardNumber *float32
	fromRoomCategory *string
	toRoomCategory *string
	fromRoomDescription *string
	toRoomDescription *string
	fromRoom *string
	toRoom *string
	upgradeInfoStayDate *string
	otherInfoAwardType *string
	sellBeginDate *string
	sellEndDate *string
	shortDescription *string
	awardValue *float32
	otherInfoTotalAvailablePoints *float32
	otherInfoPointsRequired *float32
	longDescription *string
	otherInfoAwardNumber *float32
	issueAwardsHotelId *string
	externalReservationNumber *string
	confirmationBookingNumber *string
	awardSource *string
	arrivalDate *string
	departureDate *string
	exportInfoAwardNumber *float32
	nameType *string
	name *string
	fullName *string
	namePrefix *string
	givenName *string
	middleName *string
	nameSuffix *string
	nameTitle *string
	phoneNumber *string
	companyName *string
	id *string
	idContext *string
	idType *string
	barCode *string
	createDateTime *string
	creatorId *string
	lastModifierId *string
	lastModifyDateTime *string
	primaryInd *bool
	purgeDate *string
	type_ *string
	typeDescription *string
	updateReservations *bool
	addressLine *[]string
	cityName *string
	postalCode *string
	cityExtension *string
	county *string
	state *string
	code *string
	language *string
	characterUDFsAltName *[]string
	characterUDFsName *[]string
	characterUDFsValue *[]string
	numericUDFsAltName *[]string
	numericUDFsName *[]string
	numericUDFsValue *[]float32
	dateUDFsAltname *[]string
	dateUDFsName *[]string
	dateUDFsValue *[]string
	xExternalsystem *string
	acceptLanguage *string
}

// Bearer token that needs to be passed which is generated post user authentication
func (r ProfileMembershipApiExportMembershipAwardRequest) Authorization(authorization string) ProfileMembershipApiExportMembershipAwardRequest {
	r.authorization = &authorization
	return r
}

// Client or Partner&#39;s Application Key
func (r ProfileMembershipApiExportMembershipAwardRequest) XAppKey(xAppKey string) ProfileMembershipApiExportMembershipAwardRequest {
	r.xAppKey = &xAppKey
	return r
}

// Mandatory parameter to identify the hotel code where the end user is logged in
func (r ProfileMembershipApiExportMembershipAwardRequest) XHotelid(xHotelid string) ProfileMembershipApiExportMembershipAwardRequest {
	r.xHotelid = &xHotelid
	return r
}

// HotelCode where the award will be consumed.
func (r ProfileMembershipApiExportMembershipAwardRequest) RateInfoHotelId(rateInfoHotelId string) ProfileMembershipApiExportMembershipAwardRequest {
	r.rateInfoHotelId = &rateInfoHotelId
	return r
}

// Total award points available for redemption.
func (r ProfileMembershipApiExportMembershipAwardRequest) TotalAvailablePoints(totalAvailablePoints float32) ProfileMembershipApiExportMembershipAwardRequest {
	r.totalAvailablePoints = &totalAvailablePoints
	return r
}

// The number of points that must be redeemed for this award.
func (r ProfileMembershipApiExportMembershipAwardRequest) PointsRequired(pointsRequired float32) ProfileMembershipApiExportMembershipAwardRequest {
	r.pointsRequired = &pointsRequired
	return r
}

// The award points that will be forfeited if the cancel penalty charge is applied.
func (r ProfileMembershipApiExportMembershipAwardRequest) CancelPenaltyPoints(cancelPenaltyPoints float32) ProfileMembershipApiExportMembershipAwardRequest {
	r.cancelPenaltyPoints = &cancelPenaltyPoints
	return r
}

// Number of days before arrival when a reservation may be cancelled without an award points penalty.
func (r ProfileMembershipApiExportMembershipAwardRequest) CancelPenaltyDays(cancelPenaltyDays float32) ProfileMembershipApiExportMembershipAwardRequest {
	r.cancelPenaltyDays = &cancelPenaltyDays
	return r
}

// The cancel penalty charge.
func (r ProfileMembershipApiExportMembershipAwardRequest) CancelPenaltyCharge(cancelPenaltyCharge float32) ProfileMembershipApiExportMembershipAwardRequest {
	r.cancelPenaltyCharge = &cancelPenaltyCharge
	return r
}

// The penalty charge is either a percentage or a flat number of points.
func (r ProfileMembershipApiExportMembershipAwardRequest) CancelPenaltyType(cancelPenaltyType string) ProfileMembershipApiExportMembershipAwardRequest {
	r.cancelPenaltyType = &cancelPenaltyType
	return r
}

// Issue key in format of Raw data.
func (r ProfileMembershipApiExportMembershipAwardRequest) RawIssueKey(rawIssueKey string) ProfileMembershipApiExportMembershipAwardRequest {
	r.rawIssueKey = &rawIssueKey
	return r
}

// An identifying number of the award, assigned by the system when the award was issued.
func (r ProfileMembershipApiExportMembershipAwardRequest) AwardNumber(awardNumber float32) ProfileMembershipApiExportMembershipAwardRequest {
	r.awardNumber = &awardNumber
	return r
}

// Rate code associated with the award.
func (r ProfileMembershipApiExportMembershipAwardRequest) RateCode(rateCode string) ProfileMembershipApiExportMembershipAwardRequest {
	r.rateCode = &rateCode
	return r
}

// Rate code description associated with the award.
func (r ProfileMembershipApiExportMembershipAwardRequest) RateDescription(rateDescription string) ProfileMembershipApiExportMembershipAwardRequest {
	r.rateDescription = &rateDescription
	return r
}

// Code for the room type in which the award was issued.
func (r ProfileMembershipApiExportMembershipAwardRequest) RoomLabel(roomLabel string) ProfileMembershipApiExportMembershipAwardRequest {
	r.roomLabel = &roomLabel
	return r
}

// Description of the Room.
func (r ProfileMembershipApiExportMembershipAwardRequest) RoomDescription(roomDescription string) ProfileMembershipApiExportMembershipAwardRequest {
	r.roomDescription = &roomDescription
	return r
}

// Indicates which room category it belongs.
func (r ProfileMembershipApiExportMembershipAwardRequest) RoomCategory(roomCategory string) ProfileMembershipApiExportMembershipAwardRequest {
	r.roomCategory = &roomCategory
	return r
}

// The date of the reservation associated with the award. There may be more than one date (multiple nights) associated with award.
func (r ProfileMembershipApiExportMembershipAwardRequest) StayDate(stayDate string) ProfileMembershipApiExportMembershipAwardRequest {
	r.stayDate = &stayDate
	return r
}

// Unique code that identifies this award.
func (r ProfileMembershipApiExportMembershipAwardRequest) AwardType(awardType string) ProfileMembershipApiExportMembershipAwardRequest {
	r.awardType = &awardType
	return r
}

// HotelCode where the award will be consumed.
func (r ProfileMembershipApiExportMembershipAwardRequest) ProductInfoHotelId(productInfoHotelId string) ProfileMembershipApiExportMembershipAwardRequest {
	r.productInfoHotelId = &productInfoHotelId
	return r
}

// Total award points available for redemption.
func (r ProfileMembershipApiExportMembershipAwardRequest) ProductInfoTotalAvailablePoints(productInfoTotalAvailablePoints float32) ProfileMembershipApiExportMembershipAwardRequest {
	r.productInfoTotalAvailablePoints = &productInfoTotalAvailablePoints
	return r
}

// The number of points that must be redeemed for this award.
func (r ProfileMembershipApiExportMembershipAwardRequest) ProductInfoPointsRequired(productInfoPointsRequired float32) ProfileMembershipApiExportMembershipAwardRequest {
	r.productInfoPointsRequired = &productInfoPointsRequired
	return r
}

// The award points that will be forfeited if the cancel penalty charge is applied.
func (r ProfileMembershipApiExportMembershipAwardRequest) ProductInfoCancelPenaltyPoints(productInfoCancelPenaltyPoints float32) ProfileMembershipApiExportMembershipAwardRequest {
	r.productInfoCancelPenaltyPoints = &productInfoCancelPenaltyPoints
	return r
}

// Number of days before arrival when a reservation may be cancelled without an award points penalty.
func (r ProfileMembershipApiExportMembershipAwardRequest) ProductInfoCancelPenaltyDays(productInfoCancelPenaltyDays float32) ProfileMembershipApiExportMembershipAwardRequest {
	r.productInfoCancelPenaltyDays = &productInfoCancelPenaltyDays
	return r
}

// The cancel penalty charge.
func (r ProfileMembershipApiExportMembershipAwardRequest) ProductInfoCancelPenaltyCharge(productInfoCancelPenaltyCharge float32) ProfileMembershipApiExportMembershipAwardRequest {
	r.productInfoCancelPenaltyCharge = &productInfoCancelPenaltyCharge
	return r
}

// The penalty charge is either a percentage or a flat number of points.
func (r ProfileMembershipApiExportMembershipAwardRequest) ProductInfoCancelPenaltyType(productInfoCancelPenaltyType string) ProfileMembershipApiExportMembershipAwardRequest {
	r.productInfoCancelPenaltyType = &productInfoCancelPenaltyType
	return r
}

// Issue key in format of Raw data.
func (r ProfileMembershipApiExportMembershipAwardRequest) ProductInfoRawIssueKey(productInfoRawIssueKey string) ProfileMembershipApiExportMembershipAwardRequest {
	r.productInfoRawIssueKey = &productInfoRawIssueKey
	return r
}

// An identifying number of the award, assigned by the system when the award was issued.
func (r ProfileMembershipApiExportMembershipAwardRequest) ProductInfoAwardNumber(productInfoAwardNumber float32) ProfileMembershipApiExportMembershipAwardRequest {
	r.productInfoAwardNumber = &productInfoAwardNumber
	return r
}

// Package/Product code for the award .
func (r ProfileMembershipApiExportMembershipAwardRequest) PackageCode(packageCode string) ProfileMembershipApiExportMembershipAwardRequest {
	r.packageCode = &packageCode
	return r
}

// Description of the product.
func (r ProfileMembershipApiExportMembershipAwardRequest) PackageDescription(packageDescription string) ProfileMembershipApiExportMembershipAwardRequest {
	r.packageDescription = &packageDescription
	return r
}

// The valid time period from when the award can be issued.
func (r ProfileMembershipApiExportMembershipAwardRequest) AwardValidFrom(awardValidFrom string) ProfileMembershipApiExportMembershipAwardRequest {
	r.awardValidFrom = &awardValidFrom
	return r
}

// The valid time to an issued award.
func (r ProfileMembershipApiExportMembershipAwardRequest) AwardValidTo(awardValidTo string) ProfileMembershipApiExportMembershipAwardRequest {
	r.awardValidTo = &awardValidTo
	return r
}

// Unique code that identifies this award.
func (r ProfileMembershipApiExportMembershipAwardRequest) UpgradeInfoAwardType(upgradeInfoAwardType string) ProfileMembershipApiExportMembershipAwardRequest {
	r.upgradeInfoAwardType = &upgradeInfoAwardType
	return r
}

// HotelCode where the award will be consumed.
func (r ProfileMembershipApiExportMembershipAwardRequest) UpgradeInfoHotelId(upgradeInfoHotelId string) ProfileMembershipApiExportMembershipAwardRequest {
	r.upgradeInfoHotelId = &upgradeInfoHotelId
	return r
}

// Total award points available for redemption.
func (r ProfileMembershipApiExportMembershipAwardRequest) UpgradeInfoTotalAvailablePoints(upgradeInfoTotalAvailablePoints float32) ProfileMembershipApiExportMembershipAwardRequest {
	r.upgradeInfoTotalAvailablePoints = &upgradeInfoTotalAvailablePoints
	return r
}

// The number of points that must be redeemed for this award.
func (r ProfileMembershipApiExportMembershipAwardRequest) UpgradeInfoPointsRequired(upgradeInfoPointsRequired float32) ProfileMembershipApiExportMembershipAwardRequest {
	r.upgradeInfoPointsRequired = &upgradeInfoPointsRequired
	return r
}

// The award points that will be forfeited if the cancel penalty charge is applied.
func (r ProfileMembershipApiExportMembershipAwardRequest) UpgradeInfoCancelPenaltyPoints(upgradeInfoCancelPenaltyPoints float32) ProfileMembershipApiExportMembershipAwardRequest {
	r.upgradeInfoCancelPenaltyPoints = &upgradeInfoCancelPenaltyPoints
	return r
}

// Number of days before arrival when a reservation may be cancelled without an award points penalty.
func (r ProfileMembershipApiExportMembershipAwardRequest) UpgradeInfoCancelPenaltyDays(upgradeInfoCancelPenaltyDays float32) ProfileMembershipApiExportMembershipAwardRequest {
	r.upgradeInfoCancelPenaltyDays = &upgradeInfoCancelPenaltyDays
	return r
}

// The cancel penalty charge.
func (r ProfileMembershipApiExportMembershipAwardRequest) UpgradeInfoCancelPenaltyCharge(upgradeInfoCancelPenaltyCharge float32) ProfileMembershipApiExportMembershipAwardRequest {
	r.upgradeInfoCancelPenaltyCharge = &upgradeInfoCancelPenaltyCharge
	return r
}

// The penalty charge is either a percentage or a flat number of points.
func (r ProfileMembershipApiExportMembershipAwardRequest) UpgradeInfoCancelPenaltyType(upgradeInfoCancelPenaltyType string) ProfileMembershipApiExportMembershipAwardRequest {
	r.upgradeInfoCancelPenaltyType = &upgradeInfoCancelPenaltyType
	return r
}

// Issue key in format of Raw data.
func (r ProfileMembershipApiExportMembershipAwardRequest) UpgradeInfoRawIssueKey(upgradeInfoRawIssueKey string) ProfileMembershipApiExportMembershipAwardRequest {
	r.upgradeInfoRawIssueKey = &upgradeInfoRawIssueKey
	return r
}

// An identifying number of the award, assigned by the system when the award was issued.
func (r ProfileMembershipApiExportMembershipAwardRequest) UpgradeInfoAwardNumber(upgradeInfoAwardNumber float32) ProfileMembershipApiExportMembershipAwardRequest {
	r.upgradeInfoAwardNumber = &upgradeInfoAwardNumber
	return r
}

// Indicates room type code for the room prior to the upgrade.
func (r ProfileMembershipApiExportMembershipAwardRequest) FromRoomCategory(fromRoomCategory string) ProfileMembershipApiExportMembershipAwardRequest {
	r.fromRoomCategory = &fromRoomCategory
	return r
}

// Indicates room type code of the upgrade room.
func (r ProfileMembershipApiExportMembershipAwardRequest) ToRoomCategory(toRoomCategory string) ProfileMembershipApiExportMembershipAwardRequest {
	r.toRoomCategory = &toRoomCategory
	return r
}

// Indicates room type Description for the room prior to the upgrade.
func (r ProfileMembershipApiExportMembershipAwardRequest) FromRoomDescription(fromRoomDescription string) ProfileMembershipApiExportMembershipAwardRequest {
	r.fromRoomDescription = &fromRoomDescription
	return r
}

// Indicates room type Description of the upgrade room.
func (r ProfileMembershipApiExportMembershipAwardRequest) ToRoomDescription(toRoomDescription string) ProfileMembershipApiExportMembershipAwardRequest {
	r.toRoomDescription = &toRoomDescription
	return r
}

// Indicates room type code for the room prior to the upgrade.
func (r ProfileMembershipApiExportMembershipAwardRequest) FromRoom(fromRoom string) ProfileMembershipApiExportMembershipAwardRequest {
	r.fromRoom = &fromRoom
	return r
}

// Indicates room type code of the upgrade room.
func (r ProfileMembershipApiExportMembershipAwardRequest) ToRoom(toRoom string) ProfileMembershipApiExportMembershipAwardRequest {
	r.toRoom = &toRoom
	return r
}

// The date of the reservation associated with the award. There may be more than one date (multiple nights) associated with award.
func (r ProfileMembershipApiExportMembershipAwardRequest) UpgradeInfoStayDate(upgradeInfoStayDate string) ProfileMembershipApiExportMembershipAwardRequest {
	r.upgradeInfoStayDate = &upgradeInfoStayDate
	return r
}

// Unique code that identifies this award.
func (r ProfileMembershipApiExportMembershipAwardRequest) OtherInfoAwardType(otherInfoAwardType string) ProfileMembershipApiExportMembershipAwardRequest {
	r.otherInfoAwardType = &otherInfoAwardType
	return r
}

// Beginning date of the award.
func (r ProfileMembershipApiExportMembershipAwardRequest) SellBeginDate(sellBeginDate string) ProfileMembershipApiExportMembershipAwardRequest {
	r.sellBeginDate = &sellBeginDate
	return r
}

// End date that the award will be available.
func (r ProfileMembershipApiExportMembershipAwardRequest) SellEndDate(sellEndDate string) ProfileMembershipApiExportMembershipAwardRequest {
	r.sellEndDate = &sellEndDate
	return r
}

// Descriptive name of the award.
func (r ProfileMembershipApiExportMembershipAwardRequest) ShortDescription(shortDescription string) ProfileMembershipApiExportMembershipAwardRequest {
	r.shortDescription = &shortDescription
	return r
}

// The actual value of the award, in the amount of currency.
func (r ProfileMembershipApiExportMembershipAwardRequest) AwardValue(awardValue float32) ProfileMembershipApiExportMembershipAwardRequest {
	r.awardValue = &awardValue
	return r
}

// Total award points available for redemption.
func (r ProfileMembershipApiExportMembershipAwardRequest) OtherInfoTotalAvailablePoints(otherInfoTotalAvailablePoints float32) ProfileMembershipApiExportMembershipAwardRequest {
	r.otherInfoTotalAvailablePoints = &otherInfoTotalAvailablePoints
	return r
}

// The number of points that must be redeemed for this award.
func (r ProfileMembershipApiExportMembershipAwardRequest) OtherInfoPointsRequired(otherInfoPointsRequired float32) ProfileMembershipApiExportMembershipAwardRequest {
	r.otherInfoPointsRequired = &otherInfoPointsRequired
	return r
}

// Detail description of the award.
func (r ProfileMembershipApiExportMembershipAwardRequest) LongDescription(longDescription string) ProfileMembershipApiExportMembershipAwardRequest {
	r.longDescription = &longDescription
	return r
}

// An identifying number of the award, assigned by the system when the award was issued.
func (r ProfileMembershipApiExportMembershipAwardRequest) OtherInfoAwardNumber(otherInfoAwardNumber float32) ProfileMembershipApiExportMembershipAwardRequest {
	r.otherInfoAwardNumber = &otherInfoAwardNumber
	return r
}

// HotelCode where the award will be consumed.
func (r ProfileMembershipApiExportMembershipAwardRequest) IssueAwardsHotelId(issueAwardsHotelId string) ProfileMembershipApiExportMembershipAwardRequest {
	r.issueAwardsHotelId = &issueAwardsHotelId
	return r
}

// PMS Reservation number.
func (r ProfileMembershipApiExportMembershipAwardRequest) ExternalReservationNumber(externalReservationNumber string) ProfileMembershipApiExportMembershipAwardRequest {
	r.externalReservationNumber = &externalReservationNumber
	return r
}

// ORS Booking number.
func (r ProfileMembershipApiExportMembershipAwardRequest) ConfirmationBookingNumber(confirmationBookingNumber string) ProfileMembershipApiExportMembershipAwardRequest {
	r.confirmationBookingNumber = &confirmationBookingNumber
	return r
}

// The source for the reservation associated with the award.
func (r ProfileMembershipApiExportMembershipAwardRequest) AwardSource(awardSource string) ProfileMembershipApiExportMembershipAwardRequest {
	r.awardSource = &awardSource
	return r
}

// Arrival date of the reservation associated with the award.
func (r ProfileMembershipApiExportMembershipAwardRequest) ArrivalDate(arrivalDate string) ProfileMembershipApiExportMembershipAwardRequest {
	r.arrivalDate = &arrivalDate
	return r
}

// Departure date of the reservation associated with the award.
func (r ProfileMembershipApiExportMembershipAwardRequest) DepartureDate(departureDate string) ProfileMembershipApiExportMembershipAwardRequest {
	r.departureDate = &departureDate
	return r
}

// Award Number to identify member&#39;s information.
func (r ProfileMembershipApiExportMembershipAwardRequest) ExportInfoAwardNumber(exportInfoAwardNumber float32) ProfileMembershipApiExportMembershipAwardRequest {
	r.exportInfoAwardNumber = &exportInfoAwardNumber
	return r
}

// Person&#39;s name in an external system.
func (r ProfileMembershipApiExportMembershipAwardRequest) NameType(nameType string) ProfileMembershipApiExportMembershipAwardRequest {
	r.nameType = &nameType
	return r
}

// Family name, last name or Company Name.
func (r ProfileMembershipApiExportMembershipAwardRequest) Name(name string) ProfileMembershipApiExportMembershipAwardRequest {
	r.name = &name
	return r
}

// Full display Name.
func (r ProfileMembershipApiExportMembershipAwardRequest) FullName(fullName string) ProfileMembershipApiExportMembershipAwardRequest {
	r.fullName = &fullName
	return r
}

// Salutation of honorific (e.g. Mr., Mrs., Ms., Miss, Dr.)
func (r ProfileMembershipApiExportMembershipAwardRequest) NamePrefix(namePrefix string) ProfileMembershipApiExportMembershipAwardRequest {
	r.namePrefix = &namePrefix
	return r
}

// Given name, first name or names.
func (r ProfileMembershipApiExportMembershipAwardRequest) GivenName(givenName string) ProfileMembershipApiExportMembershipAwardRequest {
	r.givenName = &givenName
	return r
}

// The middle name of the person name.
func (r ProfileMembershipApiExportMembershipAwardRequest) MiddleName(middleName string) ProfileMembershipApiExportMembershipAwardRequest {
	r.middleName = &middleName
	return r
}

// Hold various name suffixes and letters (e.g. Jr., Sr., III, Ret., Esq.)
func (r ProfileMembershipApiExportMembershipAwardRequest) NameSuffix(nameSuffix string) ProfileMembershipApiExportMembershipAwardRequest {
	r.nameSuffix = &nameSuffix
	return r
}

// Degree or honors (e.g., Ph.D., M.D.)
func (r ProfileMembershipApiExportMembershipAwardRequest) NameTitle(nameTitle string) ProfileMembershipApiExportMembershipAwardRequest {
	r.nameTitle = &nameTitle
	return r
}

// Phone number
func (r ProfileMembershipApiExportMembershipAwardRequest) PhoneNumber(phoneNumber string) ProfileMembershipApiExportMembershipAwardRequest {
	r.phoneNumber = &phoneNumber
	return r
}

// It returns a Company Name,If the member is associated with a company.
func (r ProfileMembershipApiExportMembershipAwardRequest) CompanyName(companyName string) ProfileMembershipApiExportMembershipAwardRequest {
	r.companyName = &companyName
	return r
}

// A unique identifying value assigned by the creating system. The ID attribute may be used to reference a primary-key value within a database or in a particular implementation.
func (r ProfileMembershipApiExportMembershipAwardRequest) Id(id string) ProfileMembershipApiExportMembershipAwardRequest {
	r.id = &id
	return r
}

// Used to identify the source of the identifier (e.g., IATA, ABTA).
func (r ProfileMembershipApiExportMembershipAwardRequest) IdContext(idContext string) ProfileMembershipApiExportMembershipAwardRequest {
	r.idContext = &idContext
	return r
}

// A reference to the type of object defined by the UniqueID element.
func (r ProfileMembershipApiExportMembershipAwardRequest) IdType(idType string) ProfileMembershipApiExportMembershipAwardRequest {
	r.idType = &idType
	return r
}

// The postal barcode for the address.
func (r ProfileMembershipApiExportMembershipAwardRequest) BarCode(barCode string) ProfileMembershipApiExportMembershipAwardRequest {
	r.barCode = &barCode
	return r
}

// Time stamp of the creation.
func (r ProfileMembershipApiExportMembershipAwardRequest) CreateDateTime(createDateTime string) ProfileMembershipApiExportMembershipAwardRequest {
	r.createDateTime = &createDateTime
	return r
}

// ID of creator. The creator could be a software system identifier or an identifier of an employee resposible for the creation.
func (r ProfileMembershipApiExportMembershipAwardRequest) CreatorId(creatorId string) ProfileMembershipApiExportMembershipAwardRequest {
	r.creatorId = &creatorId
	return r
}

// Identifies the last software system or person to modify a record.
func (r ProfileMembershipApiExportMembershipAwardRequest) LastModifierId(lastModifierId string) ProfileMembershipApiExportMembershipAwardRequest {
	r.lastModifierId = &lastModifierId
	return r
}

// Time stamp of last modification.
func (r ProfileMembershipApiExportMembershipAwardRequest) LastModifyDateTime(lastModifyDateTime string) ProfileMembershipApiExportMembershipAwardRequest {
	r.lastModifyDateTime = &lastModifyDateTime
	return r
}

// When true, indicates a primary information.
func (r ProfileMembershipApiExportMembershipAwardRequest) PrimaryInd(primaryInd bool) ProfileMembershipApiExportMembershipAwardRequest {
	r.primaryInd = &primaryInd
	return r
}

// Date an item will be purged from a database (e.g., from a live database to an archive).
func (r ProfileMembershipApiExportMembershipAwardRequest) PurgeDate(purgeDate string) ProfileMembershipApiExportMembershipAwardRequest {
	r.purgeDate = &purgeDate
	return r
}

// Defines the type of address (e.g. home, business, other).
func (r ProfileMembershipApiExportMembershipAwardRequest) Type_(type_ string) ProfileMembershipApiExportMembershipAwardRequest {
	r.type_ = &type_
	return r
}

// Describes the type code
func (r ProfileMembershipApiExportMembershipAwardRequest) TypeDescription(typeDescription string) ProfileMembershipApiExportMembershipAwardRequest {
	r.typeDescription = &typeDescription
	return r
}

// Indicates whether to update the reservations or not. If true and the address is primary, then all associated active reservations will be updated with the new primary address.
func (r ProfileMembershipApiExportMembershipAwardRequest) UpdateReservations(updateReservations bool) ProfileMembershipApiExportMembershipAwardRequest {
	r.updateReservations = &updateReservations
	return r
}

// When the address is unformatted (FormattedInd&#x3D;\&quot;false\&quot;) these lines will contain free form address details. When the address is formatted and street number and street name must be sent independently, the street number will be sent using StreetNmbr, and the street name will be sent in the first AddressLine occurrence.
func (r ProfileMembershipApiExportMembershipAwardRequest) AddressLine(addressLine []string) ProfileMembershipApiExportMembershipAwardRequest {
	r.addressLine = &addressLine
	return r
}

// City (e.g., Dublin), town, or postal station (i.e., a postal service territory, often used in a military address).
func (r ProfileMembershipApiExportMembershipAwardRequest) CityName(cityName string) ProfileMembershipApiExportMembershipAwardRequest {
	r.cityName = &cityName
	return r
}

// Post Office Code number.
func (r ProfileMembershipApiExportMembershipAwardRequest) PostalCode(postalCode string) ProfileMembershipApiExportMembershipAwardRequest {
	r.postalCode = &postalCode
	return r
}

// Post Office City Extension Code number. City Extension mainly used for UK addresses.
func (r ProfileMembershipApiExportMembershipAwardRequest) CityExtension(cityExtension string) ProfileMembershipApiExportMembershipAwardRequest {
	r.cityExtension = &cityExtension
	return r
}

// County or District Name (e.g., Fairfax). This is read only.
func (r ProfileMembershipApiExportMembershipAwardRequest) County(county string) ProfileMembershipApiExportMembershipAwardRequest {
	r.county = &county
	return r
}

// State or Province name (e.g., Texas).
func (r ProfileMembershipApiExportMembershipAwardRequest) State(state string) ProfileMembershipApiExportMembershipAwardRequest {
	r.state = &state
	return r
}

// Code for a country or a nationality.
func (r ProfileMembershipApiExportMembershipAwardRequest) Code(code string) ProfileMembershipApiExportMembershipAwardRequest {
	r.code = &code
	return r
}

// Language code associated with the address
func (r ProfileMembershipApiExportMembershipAwardRequest) Language(language string) ProfileMembershipApiExportMembershipAwardRequest {
	r.language = &language
	return r
}

// Label of user defined field used by vendors or customers.
func (r ProfileMembershipApiExportMembershipAwardRequest) CharacterUDFsAltName(characterUDFsAltName []string) ProfileMembershipApiExportMembershipAwardRequest {
	r.characterUDFsAltName = &characterUDFsAltName
	return r
}

// Used to hold user defined field of Character Type. It is highly recommended to use UDFC01, UDFC02,...UDFC40 (Total 40) as Character/String UDF names(commonly used on Reservation, Profile etc.). Name is not restricted using enumeration, to provide flexibility of different name usage if required.
func (r ProfileMembershipApiExportMembershipAwardRequest) CharacterUDFsName(characterUDFsName []string) ProfileMembershipApiExportMembershipAwardRequest {
	r.characterUDFsName = &characterUDFsName
	return r
}

// Value of user defined field.
func (r ProfileMembershipApiExportMembershipAwardRequest) CharacterUDFsValue(characterUDFsValue []string) ProfileMembershipApiExportMembershipAwardRequest {
	r.characterUDFsValue = &characterUDFsValue
	return r
}

// Label of user defined field used by vendors or customers.
func (r ProfileMembershipApiExportMembershipAwardRequest) NumericUDFsAltName(numericUDFsAltName []string) ProfileMembershipApiExportMembershipAwardRequest {
	r.numericUDFsAltName = &numericUDFsAltName
	return r
}

// Name of user defined field.
func (r ProfileMembershipApiExportMembershipAwardRequest) NumericUDFsName(numericUDFsName []string) ProfileMembershipApiExportMembershipAwardRequest {
	r.numericUDFsName = &numericUDFsName
	return r
}

// Value of user defined field.
func (r ProfileMembershipApiExportMembershipAwardRequest) NumericUDFsValue(numericUDFsValue []float32) ProfileMembershipApiExportMembershipAwardRequest {
	r.numericUDFsValue = &numericUDFsValue
	return r
}

// Label of user defined field used by vendors or customers.
func (r ProfileMembershipApiExportMembershipAwardRequest) DateUDFsAltname(dateUDFsAltname []string) ProfileMembershipApiExportMembershipAwardRequest {
	r.dateUDFsAltname = &dateUDFsAltname
	return r
}

// Used to hold user defined field of Date Type. It is highly recommended to use UDFD01, UDFD02,...UDFN20 (Total 20) as Date UDF names(commonly used on Reservation, Profile etc.). Name is not restricted using enumeration, to provide flexibility of different name usage if required.
func (r ProfileMembershipApiExportMembershipAwardRequest) DateUDFsName(dateUDFsName []string) ProfileMembershipApiExportMembershipAwardRequest {
	r.dateUDFsName = &dateUDFsName
	return r
}

// Value of user defined field.
func (r ProfileMembershipApiExportMembershipAwardRequest) DateUDFsValue(dateUDFsValue []string) ProfileMembershipApiExportMembershipAwardRequest {
	r.dateUDFsValue = &dateUDFsValue
	return r
}

// External system code.
func (r ProfileMembershipApiExportMembershipAwardRequest) XExternalsystem(xExternalsystem string) ProfileMembershipApiExportMembershipAwardRequest {
	r.xExternalsystem = &xExternalsystem
	return r
}

// Language code
func (r ProfileMembershipApiExportMembershipAwardRequest) AcceptLanguage(acceptLanguage string) ProfileMembershipApiExportMembershipAwardRequest {
	r.acceptLanguage = &acceptLanguage
	return r
}

func (r ProfileMembershipApiExportMembershipAwardRequest) Execute() (*Status, *http.Response, error) {
	return r.ApiService.ExportMembershipAwardExecute(r)
}

/*
ExportMembershipAward Export Membership Award

Export members information for Fulfillment house processing <p><strong>OperationId:</strong>exportMembershipAward</p>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param membershipId
 @return ProfileMembershipApiExportMembershipAwardRequest
*/
func (a *ProfileMembershipApiService) ExportMembershipAward(ctx context.Context, membershipId string) ProfileMembershipApiExportMembershipAwardRequest {
	return ProfileMembershipApiExportMembershipAwardRequest{
		ApiService: a,
		ctx: ctx,
		membershipId: membershipId,
	}
}

// Execute executes the request
//  @return Status
func (a *ProfileMembershipApiService) ExportMembershipAwardExecute(r ProfileMembershipApiExportMembershipAwardRequest) (*Status, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *Status
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProfileMembershipApiService.ExportMembershipAward")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/memberships/{membershipId}/award"
	localVarPath = strings.Replace(localVarPath, "{"+"membershipId"+"}", url.PathEscape(parameterValueToString(r.membershipId, "membershipId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if strlen(r.membershipId) < 1 {
		return localVarReturnValue, nil, reportError("membershipId must have at least 1 elements")
	}
	if strlen(r.membershipId) > 2000 {
		return localVarReturnValue, nil, reportError("membershipId must have less than 2000 elements")
	}

	if r.rateInfoHotelId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "rateInfoHotelId", r.rateInfoHotelId, "")
	}
	if r.totalAvailablePoints != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "totalAvailablePoints", r.totalAvailablePoints, "")
	}
	if r.pointsRequired != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pointsRequired", r.pointsRequired, "")
	}
	if r.cancelPenaltyPoints != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "cancelPenaltyPoints", r.cancelPenaltyPoints, "")
	}
	if r.cancelPenaltyDays != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "cancelPenaltyDays", r.cancelPenaltyDays, "")
	}
	if r.cancelPenaltyCharge != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "cancelPenaltyCharge", r.cancelPenaltyCharge, "")
	}
	if r.cancelPenaltyType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "cancelPenaltyType", r.cancelPenaltyType, "")
	}
	if r.rawIssueKey != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "rawIssueKey", r.rawIssueKey, "")
	}
	if r.awardNumber != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "awardNumber", r.awardNumber, "")
	}
	if r.rateCode != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "rateCode", r.rateCode, "")
	}
	if r.rateDescription != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "rateDescription", r.rateDescription, "")
	}
	if r.roomLabel != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "roomLabel", r.roomLabel, "")
	}
	if r.roomDescription != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "roomDescription", r.roomDescription, "")
	}
	if r.roomCategory != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "roomCategory", r.roomCategory, "")
	}
	if r.stayDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "stayDate", r.stayDate, "")
	}
	if r.awardType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "awardType", r.awardType, "")
	}
	if r.productInfoHotelId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "productInfoHotelId", r.productInfoHotelId, "")
	}
	if r.productInfoTotalAvailablePoints != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "productInfoTotalAvailablePoints", r.productInfoTotalAvailablePoints, "")
	}
	if r.productInfoPointsRequired != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "productInfoPointsRequired", r.productInfoPointsRequired, "")
	}
	if r.productInfoCancelPenaltyPoints != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "productInfoCancelPenaltyPoints", r.productInfoCancelPenaltyPoints, "")
	}
	if r.productInfoCancelPenaltyDays != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "productInfoCancelPenaltyDays", r.productInfoCancelPenaltyDays, "")
	}
	if r.productInfoCancelPenaltyCharge != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "productInfoCancelPenaltyCharge", r.productInfoCancelPenaltyCharge, "")
	}
	if r.productInfoCancelPenaltyType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "productInfoCancelPenaltyType", r.productInfoCancelPenaltyType, "")
	}
	if r.productInfoRawIssueKey != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "productInfoRawIssueKey", r.productInfoRawIssueKey, "")
	}
	if r.productInfoAwardNumber != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "productInfoAwardNumber", r.productInfoAwardNumber, "")
	}
	if r.packageCode != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "packageCode", r.packageCode, "")
	}
	if r.packageDescription != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "packageDescription", r.packageDescription, "")
	}
	if r.awardValidFrom != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "awardValidFrom", r.awardValidFrom, "")
	}
	if r.awardValidTo != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "awardValidTo", r.awardValidTo, "")
	}
	if r.upgradeInfoAwardType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "upgradeInfoAwardType", r.upgradeInfoAwardType, "")
	}
	if r.upgradeInfoHotelId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "upgradeInfoHotelId", r.upgradeInfoHotelId, "")
	}
	if r.upgradeInfoTotalAvailablePoints != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "upgradeInfoTotalAvailablePoints", r.upgradeInfoTotalAvailablePoints, "")
	}
	if r.upgradeInfoPointsRequired != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "upgradeInfoPointsRequired", r.upgradeInfoPointsRequired, "")
	}
	if r.upgradeInfoCancelPenaltyPoints != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "upgradeInfoCancelPenaltyPoints", r.upgradeInfoCancelPenaltyPoints, "")
	}
	if r.upgradeInfoCancelPenaltyDays != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "upgradeInfoCancelPenaltyDays", r.upgradeInfoCancelPenaltyDays, "")
	}
	if r.upgradeInfoCancelPenaltyCharge != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "upgradeInfoCancelPenaltyCharge", r.upgradeInfoCancelPenaltyCharge, "")
	}
	if r.upgradeInfoCancelPenaltyType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "upgradeInfoCancelPenaltyType", r.upgradeInfoCancelPenaltyType, "")
	}
	if r.upgradeInfoRawIssueKey != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "upgradeInfoRawIssueKey", r.upgradeInfoRawIssueKey, "")
	}
	if r.upgradeInfoAwardNumber != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "upgradeInfoAwardNumber", r.upgradeInfoAwardNumber, "")
	}
	if r.fromRoomCategory != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fromRoomCategory", r.fromRoomCategory, "")
	}
	if r.toRoomCategory != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "toRoomCategory", r.toRoomCategory, "")
	}
	if r.fromRoomDescription != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fromRoomDescription", r.fromRoomDescription, "")
	}
	if r.toRoomDescription != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "toRoomDescription", r.toRoomDescription, "")
	}
	if r.fromRoom != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fromRoom", r.fromRoom, "")
	}
	if r.toRoom != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "toRoom", r.toRoom, "")
	}
	if r.upgradeInfoStayDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "upgradeInfoStayDate", r.upgradeInfoStayDate, "")
	}
	if r.otherInfoAwardType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "otherInfoAwardType", r.otherInfoAwardType, "")
	}
	if r.sellBeginDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sellBeginDate", r.sellBeginDate, "")
	}
	if r.sellEndDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sellEndDate", r.sellEndDate, "")
	}
	if r.shortDescription != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "shortDescription", r.shortDescription, "")
	}
	if r.awardValue != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "awardValue", r.awardValue, "")
	}
	if r.otherInfoTotalAvailablePoints != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "otherInfoTotalAvailablePoints", r.otherInfoTotalAvailablePoints, "")
	}
	if r.otherInfoPointsRequired != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "otherInfoPointsRequired", r.otherInfoPointsRequired, "")
	}
	if r.longDescription != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "longDescription", r.longDescription, "")
	}
	if r.otherInfoAwardNumber != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "otherInfoAwardNumber", r.otherInfoAwardNumber, "")
	}
	if r.issueAwardsHotelId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "issueAwardsHotelId", r.issueAwardsHotelId, "")
	}
	if r.externalReservationNumber != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "externalReservationNumber", r.externalReservationNumber, "")
	}
	if r.confirmationBookingNumber != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "confirmationBookingNumber", r.confirmationBookingNumber, "")
	}
	if r.awardSource != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "awardSource", r.awardSource, "")
	}
	if r.arrivalDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "arrivalDate", r.arrivalDate, "")
	}
	if r.departureDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "departureDate", r.departureDate, "")
	}
	if r.exportInfoAwardNumber != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "exportInfoAwardNumber", r.exportInfoAwardNumber, "")
	}
	if r.nameType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "nameType", r.nameType, "")
	}
	if r.name != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name", r.name, "")
	}
	if r.fullName != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fullName", r.fullName, "")
	}
	if r.namePrefix != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "namePrefix", r.namePrefix, "")
	}
	if r.givenName != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "givenName", r.givenName, "")
	}
	if r.middleName != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "middleName", r.middleName, "")
	}
	if r.nameSuffix != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "nameSuffix", r.nameSuffix, "")
	}
	if r.nameTitle != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "nameTitle", r.nameTitle, "")
	}
	if r.phoneNumber != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "phoneNumber", r.phoneNumber, "")
	}
	if r.companyName != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "companyName", r.companyName, "")
	}
	if r.id != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id", r.id, "")
	}
	if r.idContext != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "idContext", r.idContext, "")
	}
	if r.idType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "idType", r.idType, "")
	}
	if r.barCode != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "barCode", r.barCode, "")
	}
	if r.createDateTime != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "createDateTime", r.createDateTime, "")
	}
	if r.creatorId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "creatorId", r.creatorId, "")
	}
	if r.lastModifierId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "lastModifierId", r.lastModifierId, "")
	}
	if r.lastModifyDateTime != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "lastModifyDateTime", r.lastModifyDateTime, "")
	}
	if r.primaryInd != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "primaryInd", r.primaryInd, "")
	}
	if r.purgeDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "purgeDate", r.purgeDate, "")
	}
	if r.type_ != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "type", r.type_, "")
	}
	if r.typeDescription != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "typeDescription", r.typeDescription, "")
	}
	if r.updateReservations != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "updateReservations", r.updateReservations, "")
	}
	if r.addressLine != nil {
		t := *r.addressLine
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "addressLine", s.Index(i).Interface(), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "addressLine", t, "multi")
		}
	}
	if r.cityName != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "cityName", r.cityName, "")
	}
	if r.postalCode != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "postalCode", r.postalCode, "")
	}
	if r.cityExtension != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "cityExtension", r.cityExtension, "")
	}
	if r.county != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "county", r.county, "")
	}
	if r.state != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "state", r.state, "")
	}
	if r.code != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "code", r.code, "")
	}
	if r.language != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "language", r.language, "")
	}
	if r.characterUDFsAltName != nil {
		t := *r.characterUDFsAltName
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "characterUDFsAltName", s.Index(i).Interface(), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "characterUDFsAltName", t, "multi")
		}
	}
	if r.characterUDFsName != nil {
		t := *r.characterUDFsName
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "characterUDFsName", s.Index(i).Interface(), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "characterUDFsName", t, "multi")
		}
	}
	if r.characterUDFsValue != nil {
		t := *r.characterUDFsValue
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "characterUDFsValue", s.Index(i).Interface(), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "characterUDFsValue", t, "multi")
		}
	}
	if r.numericUDFsAltName != nil {
		t := *r.numericUDFsAltName
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "NumericUDFsAltName", s.Index(i).Interface(), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "NumericUDFsAltName", t, "multi")
		}
	}
	if r.numericUDFsName != nil {
		t := *r.numericUDFsName
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "NumericUDFsName", s.Index(i).Interface(), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "NumericUDFsName", t, "multi")
		}
	}
	if r.numericUDFsValue != nil {
		t := *r.numericUDFsValue
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "NumericUDFsValue", s.Index(i).Interface(), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "NumericUDFsValue", t, "multi")
		}
	}
	if r.dateUDFsAltname != nil {
		t := *r.dateUDFsAltname
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "DateUDFsAltname", s.Index(i).Interface(), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "DateUDFsAltname", t, "multi")
		}
	}
	if r.dateUDFsName != nil {
		t := *r.dateUDFsName
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "DateUDFsName", s.Index(i).Interface(), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "DateUDFsName", t, "multi")
		}
	}
	if r.dateUDFsValue != nil {
		t := *r.dateUDFsValue
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "DateUDFsValue", s.Index(i).Interface(), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "DateUDFsValue", t, "multi")
		}
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json;charset=UTF-8"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xExternalsystem != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-externalsystem", r.xExternalsystem, "")
	}
	if r.acceptLanguage != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accept-Language", r.acceptLanguage, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ProfileMembershipApiExtendMemberPointsToExpireRequest struct {
	ctx context.Context
	ApiService *ProfileMembershipApiService
	membershipId string
	authorization *string
	xAppKey *string
	xHotelid *string
	extendMemberPointsToExpire *ExtendMemberPointsToExpireRequest
	xExternalsystem *string
	acceptLanguage *string
}

// Bearer token that needs to be passed which is generated post user authentication
func (r ProfileMembershipApiExtendMemberPointsToExpireRequest) Authorization(authorization string) ProfileMembershipApiExtendMemberPointsToExpireRequest {
	r.authorization = &authorization
	return r
}

// Client or Partner&#39;s Application Key
func (r ProfileMembershipApiExtendMemberPointsToExpireRequest) XAppKey(xAppKey string) ProfileMembershipApiExtendMemberPointsToExpireRequest {
	r.xAppKey = &xAppKey
	return r
}

// Mandatory parameter to identify the hotel code where the end user is logged in
func (r ProfileMembershipApiExtendMemberPointsToExpireRequest) XHotelid(xHotelid string) ProfileMembershipApiExtendMemberPointsToExpireRequest {
	r.xHotelid = &xHotelid
	return r
}

// Request object to extend a member points to expire.
func (r ProfileMembershipApiExtendMemberPointsToExpireRequest) ExtendMemberPointsToExpire(extendMemberPointsToExpire ExtendMemberPointsToExpireRequest) ProfileMembershipApiExtendMemberPointsToExpireRequest {
	r.extendMemberPointsToExpire = &extendMemberPointsToExpire
	return r
}

// External system code.
func (r ProfileMembershipApiExtendMemberPointsToExpireRequest) XExternalsystem(xExternalsystem string) ProfileMembershipApiExtendMemberPointsToExpireRequest {
	r.xExternalsystem = &xExternalsystem
	return r
}

// Language code
func (r ProfileMembershipApiExtendMemberPointsToExpireRequest) AcceptLanguage(acceptLanguage string) ProfileMembershipApiExtendMemberPointsToExpireRequest {
	r.acceptLanguage = &acceptLanguage
	return r
}

func (r ProfileMembershipApiExtendMemberPointsToExpireRequest) Execute() (*Status, *http.Response, error) {
	return r.ApiService.ExtendMemberPointsToExpireExecute(r)
}

/*
ExtendMemberPointsToExpire Extend Member Points set to Expire

This will allow you to extend the expiration date based on the rule defined in the Grace Period in months. <p><strong>OperationId:</strong>extendMemberPointsToExpire</p>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param membershipId
 @return ProfileMembershipApiExtendMemberPointsToExpireRequest
*/
func (a *ProfileMembershipApiService) ExtendMemberPointsToExpire(ctx context.Context, membershipId string) ProfileMembershipApiExtendMemberPointsToExpireRequest {
	return ProfileMembershipApiExtendMemberPointsToExpireRequest{
		ApiService: a,
		ctx: ctx,
		membershipId: membershipId,
	}
}

// Execute executes the request
//  @return Status
func (a *ProfileMembershipApiService) ExtendMemberPointsToExpireExecute(r ProfileMembershipApiExtendMemberPointsToExpireRequest) (*Status, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *Status
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProfileMembershipApiService.ExtendMemberPointsToExpire")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/memberships/{membershipId}/pointsToExpire"
	localVarPath = strings.Replace(localVarPath, "{"+"membershipId"+"}", url.PathEscape(parameterValueToString(r.membershipId, "membershipId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if strlen(r.membershipId) < 1 {
		return localVarReturnValue, nil, reportError("membershipId must have at least 1 elements")
	}
	if strlen(r.membershipId) > 2000 {
		return localVarReturnValue, nil, reportError("membershipId must have less than 2000 elements")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json;charset=UTF-8"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json;charset=UTF-8"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xExternalsystem != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-externalsystem", r.xExternalsystem, "")
	}
	if r.acceptLanguage != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accept-Language", r.acceptLanguage, "")
	}
	// body params
	localVarPostBody = r.extendMemberPointsToExpire
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ProfileMembershipApiGetAirlineTransactionsStatusRequest struct {
	ctx context.Context
	ApiService *ProfileMembershipApiService
	authorization *string
	xAppKey *string
	xHotelid *string
	limit *int32
	offset *int32
	batchId *string
	batchIdType *string
	importDate *string
	xExternalsystem *string
	acceptLanguage *string
}

// Bearer token that needs to be passed which is generated post user authentication
func (r ProfileMembershipApiGetAirlineTransactionsStatusRequest) Authorization(authorization string) ProfileMembershipApiGetAirlineTransactionsStatusRequest {
	r.authorization = &authorization
	return r
}

// Client or Partner&#39;s Application Key
func (r ProfileMembershipApiGetAirlineTransactionsStatusRequest) XAppKey(xAppKey string) ProfileMembershipApiGetAirlineTransactionsStatusRequest {
	r.xAppKey = &xAppKey
	return r
}

// Mandatory parameter to identify the hotel code where the end user is logged in
func (r ProfileMembershipApiGetAirlineTransactionsStatusRequest) XHotelid(xHotelid string) ProfileMembershipApiGetAirlineTransactionsStatusRequest {
	r.xHotelid = &xHotelid
	return r
}

// Indicates maximum number of records a Web Service should return.
func (r ProfileMembershipApiGetAirlineTransactionsStatusRequest) Limit(limit int32) ProfileMembershipApiGetAirlineTransactionsStatusRequest {
	r.limit = &limit
	return r
}

// Index or initial index of the set(page) being requested. If the index goes out of the bounds of the total set count then no data will be returned.
func (r ProfileMembershipApiGetAirlineTransactionsStatusRequest) Offset(offset int32) ProfileMembershipApiGetAirlineTransactionsStatusRequest {
	r.offset = &offset
	return r
}

// A unique identifying value assigned by the creating system. The ID attribute may be used to reference a primary-key value within a database or in a particular implementation.
func (r ProfileMembershipApiGetAirlineTransactionsStatusRequest) BatchId(batchId string) ProfileMembershipApiGetAirlineTransactionsStatusRequest {
	r.batchId = &batchId
	return r
}

// A reference to the type of object defined by the UniqueID element.
func (r ProfileMembershipApiGetAirlineTransactionsStatusRequest) BatchIdType(batchIdType string) ProfileMembershipApiGetAirlineTransactionsStatusRequest {
	r.batchIdType = &batchIdType
	return r
}

// The date when this batch was imported into OPERA
func (r ProfileMembershipApiGetAirlineTransactionsStatusRequest) ImportDate(importDate string) ProfileMembershipApiGetAirlineTransactionsStatusRequest {
	r.importDate = &importDate
	return r
}

// External system code.
func (r ProfileMembershipApiGetAirlineTransactionsStatusRequest) XExternalsystem(xExternalsystem string) ProfileMembershipApiGetAirlineTransactionsStatusRequest {
	r.xExternalsystem = &xExternalsystem
	return r
}

// Language code
func (r ProfileMembershipApiGetAirlineTransactionsStatusRequest) AcceptLanguage(acceptLanguage string) ProfileMembershipApiGetAirlineTransactionsStatusRequest {
	r.acceptLanguage = &acceptLanguage
	return r
}

func (r ProfileMembershipApiGetAirlineTransactionsStatusRequest) Execute() (*AirlineTransactionsStatus, *http.Response, error) {
	return r.ApiService.GetAirlineTransactionsStatusExecute(r)
}

/*
GetAirlineTransactionsStatus Get airline transactions status

Request for fetching membership transactions processed by the airline. <p><strong>OperationId:</strong>getAirlineTransactionsStatus</p>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ProfileMembershipApiGetAirlineTransactionsStatusRequest
*/
func (a *ProfileMembershipApiService) GetAirlineTransactionsStatus(ctx context.Context) ProfileMembershipApiGetAirlineTransactionsStatusRequest {
	return ProfileMembershipApiGetAirlineTransactionsStatusRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return AirlineTransactionsStatus
func (a *ProfileMembershipApiService) GetAirlineTransactionsStatusExecute(r ProfileMembershipApiGetAirlineTransactionsStatusRequest) (*AirlineTransactionsStatus, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AirlineTransactionsStatus
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProfileMembershipApiService.GetAirlineTransactionsStatus")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/airline/transactions"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "")
	}
	if r.batchId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "batchId", r.batchId, "")
	}
	if r.batchIdType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "batchIdType", r.batchIdType, "")
	}
	if r.importDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "importDate", r.importDate, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json;charset=UTF-8"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xExternalsystem != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-externalsystem", r.xExternalsystem, "")
	}
	if r.acceptLanguage != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accept-Language", r.acceptLanguage, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ProfileMembershipApiGetAllMembershipClaimsRequest struct {
	ctx context.Context
	ApiService *ProfileMembershipApiService
	authorization *string
	xAppKey *string
	xHotelid *string
	membershipId *string
	profileId *string
	profileIdContext *string
	profileIdType *string
	name *string
	givenName *string
	membershipType *string
	claimType *string
	source *string
	owner *string
	claimNumber *string
	claimNoContext *string
	claimNoType *string
	hotelId *string
	confirmationNo *string
	submitter *string
	claimStatus *string
	closeDateEnd *string
	closeDateStart *string
	claimDateEnd *string
	claimDateStart *string
	replyByEnd *string
	replyByStart *string
	arrivalEnd *string
	arrivalStart *string
	departureEnd *string
	departureStart *string
	approvalStatus *string
	xExternalsystem *string
	acceptLanguage *string
}

// Bearer token that needs to be passed which is generated post user authentication
func (r ProfileMembershipApiGetAllMembershipClaimsRequest) Authorization(authorization string) ProfileMembershipApiGetAllMembershipClaimsRequest {
	r.authorization = &authorization
	return r
}

// Client or Partner&#39;s Application Key
func (r ProfileMembershipApiGetAllMembershipClaimsRequest) XAppKey(xAppKey string) ProfileMembershipApiGetAllMembershipClaimsRequest {
	r.xAppKey = &xAppKey
	return r
}

// Mandatory parameter to identify the hotel code where the end user is logged in
func (r ProfileMembershipApiGetAllMembershipClaimsRequest) XHotelid(xHotelid string) ProfileMembershipApiGetAllMembershipClaimsRequest {
	r.xHotelid = &xHotelid
	return r
}

// Id to get the claims.
func (r ProfileMembershipApiGetAllMembershipClaimsRequest) MembershipId(membershipId string) ProfileMembershipApiGetAllMembershipClaimsRequest {
	r.membershipId = &membershipId
	return r
}

// A unique identifying value assigned by the creating system. The ID attribute may be used to reference a primary-key value within a database or in a particular implementation.
func (r ProfileMembershipApiGetAllMembershipClaimsRequest) ProfileId(profileId string) ProfileMembershipApiGetAllMembershipClaimsRequest {
	r.profileId = &profileId
	return r
}

// Used to identify the source of the identifier (e.g., IATA, ABTA).
func (r ProfileMembershipApiGetAllMembershipClaimsRequest) ProfileIdContext(profileIdContext string) ProfileMembershipApiGetAllMembershipClaimsRequest {
	r.profileIdContext = &profileIdContext
	return r
}

// A reference to the type of object defined by the UniqueID element.
func (r ProfileMembershipApiGetAllMembershipClaimsRequest) ProfileIdType(profileIdType string) ProfileMembershipApiGetAllMembershipClaimsRequest {
	r.profileIdType = &profileIdType
	return r
}

// Family name, last name or Company Name.
func (r ProfileMembershipApiGetAllMembershipClaimsRequest) Name(name string) ProfileMembershipApiGetAllMembershipClaimsRequest {
	r.name = &name
	return r
}

// Given name, first name or names.
func (r ProfileMembershipApiGetAllMembershipClaimsRequest) GivenName(givenName string) ProfileMembershipApiGetAllMembershipClaimsRequest {
	r.givenName = &givenName
	return r
}

// Membership Type code.
func (r ProfileMembershipApiGetAllMembershipClaimsRequest) MembershipType(membershipType string) ProfileMembershipApiGetAllMembershipClaimsRequest {
	r.membershipType = &membershipType
	return r
}

// Type of user-definable claim to be searched.
func (r ProfileMembershipApiGetAllMembershipClaimsRequest) ClaimType(claimType string) ProfileMembershipApiGetAllMembershipClaimsRequest {
	r.claimType = &claimType
	return r
}

// Source of the membership claim.
func (r ProfileMembershipApiGetAllMembershipClaimsRequest) Source(source string) ProfileMembershipApiGetAllMembershipClaimsRequest {
	r.source = &source
	return r
}

// Unique application user ID of the person responsible for handling the claim.
func (r ProfileMembershipApiGetAllMembershipClaimsRequest) Owner(owner string) ProfileMembershipApiGetAllMembershipClaimsRequest {
	r.owner = &owner
	return r
}

// A unique identifying value assigned by the creating system. The ID attribute may be used to reference a primary-key value within a database or in a particular implementation.
func (r ProfileMembershipApiGetAllMembershipClaimsRequest) ClaimNumber(claimNumber string) ProfileMembershipApiGetAllMembershipClaimsRequest {
	r.claimNumber = &claimNumber
	return r
}

// Used to identify the source of the identifier (e.g., IATA, ABTA).
func (r ProfileMembershipApiGetAllMembershipClaimsRequest) ClaimNoContext(claimNoContext string) ProfileMembershipApiGetAllMembershipClaimsRequest {
	r.claimNoContext = &claimNoContext
	return r
}

// A reference to the type of object defined by the UniqueID element.
func (r ProfileMembershipApiGetAllMembershipClaimsRequest) ClaimNoType(claimNoType string) ProfileMembershipApiGetAllMembershipClaimsRequest {
	r.claimNoType = &claimNoType
	return r
}

// Property where the stay took place.
func (r ProfileMembershipApiGetAllMembershipClaimsRequest) HotelId(hotelId string) ProfileMembershipApiGetAllMembershipClaimsRequest {
	r.hotelId = &hotelId
	return r
}

// Reservation confirmation or booking reference number.
func (r ProfileMembershipApiGetAllMembershipClaimsRequest) ConfirmationNo(confirmationNo string) ProfileMembershipApiGetAllMembershipClaimsRequest {
	r.confirmationNo = &confirmationNo
	return r
}

// Application user ID of the user who entered the claim.
func (r ProfileMembershipApiGetAllMembershipClaimsRequest) Submitter(submitter string) ProfileMembershipApiGetAllMembershipClaimsRequest {
	r.submitter = &submitter
	return r
}

// Status of the claim.(Open, Waiting for Manager, etc.)
func (r ProfileMembershipApiGetAllMembershipClaimsRequest) ClaimStatus(claimStatus string) ProfileMembershipApiGetAllMembershipClaimsRequest {
	r.claimStatus = &claimStatus
	return r
}

// The ending value of the date range.
func (r ProfileMembershipApiGetAllMembershipClaimsRequest) CloseDateEnd(closeDateEnd string) ProfileMembershipApiGetAllMembershipClaimsRequest {
	r.closeDateEnd = &closeDateEnd
	return r
}

// The starting value of the date range.
func (r ProfileMembershipApiGetAllMembershipClaimsRequest) CloseDateStart(closeDateStart string) ProfileMembershipApiGetAllMembershipClaimsRequest {
	r.closeDateStart = &closeDateStart
	return r
}

// The ending value of the date range.
func (r ProfileMembershipApiGetAllMembershipClaimsRequest) ClaimDateEnd(claimDateEnd string) ProfileMembershipApiGetAllMembershipClaimsRequest {
	r.claimDateEnd = &claimDateEnd
	return r
}

// The starting value of the date range.
func (r ProfileMembershipApiGetAllMembershipClaimsRequest) ClaimDateStart(claimDateStart string) ProfileMembershipApiGetAllMembershipClaimsRequest {
	r.claimDateStart = &claimDateStart
	return r
}

// The ending value of the date range.
func (r ProfileMembershipApiGetAllMembershipClaimsRequest) ReplyByEnd(replyByEnd string) ProfileMembershipApiGetAllMembershipClaimsRequest {
	r.replyByEnd = &replyByEnd
	return r
}

// The starting value of the date range.
func (r ProfileMembershipApiGetAllMembershipClaimsRequest) ReplyByStart(replyByStart string) ProfileMembershipApiGetAllMembershipClaimsRequest {
	r.replyByStart = &replyByStart
	return r
}

// The ending value of the date range.
func (r ProfileMembershipApiGetAllMembershipClaimsRequest) ArrivalEnd(arrivalEnd string) ProfileMembershipApiGetAllMembershipClaimsRequest {
	r.arrivalEnd = &arrivalEnd
	return r
}

// The starting value of the date range.
func (r ProfileMembershipApiGetAllMembershipClaimsRequest) ArrivalStart(arrivalStart string) ProfileMembershipApiGetAllMembershipClaimsRequest {
	r.arrivalStart = &arrivalStart
	return r
}

// The ending value of the date range.
func (r ProfileMembershipApiGetAllMembershipClaimsRequest) DepartureEnd(departureEnd string) ProfileMembershipApiGetAllMembershipClaimsRequest {
	r.departureEnd = &departureEnd
	return r
}

// The starting value of the date range.
func (r ProfileMembershipApiGetAllMembershipClaimsRequest) DepartureStart(departureStart string) ProfileMembershipApiGetAllMembershipClaimsRequest {
	r.departureStart = &departureStart
	return r
}

// Claim approve or reject status.
func (r ProfileMembershipApiGetAllMembershipClaimsRequest) ApprovalStatus(approvalStatus string) ProfileMembershipApiGetAllMembershipClaimsRequest {
	r.approvalStatus = &approvalStatus
	return r
}

// External system code.
func (r ProfileMembershipApiGetAllMembershipClaimsRequest) XExternalsystem(xExternalsystem string) ProfileMembershipApiGetAllMembershipClaimsRequest {
	r.xExternalsystem = &xExternalsystem
	return r
}

// Language code
func (r ProfileMembershipApiGetAllMembershipClaimsRequest) AcceptLanguage(acceptLanguage string) ProfileMembershipApiGetAllMembershipClaimsRequest {
	r.acceptLanguage = &acceptLanguage
	return r
}

[...]
