/*
OPERA Cloud CRM Configuration API

APIs for Customer Relationship Management (profile) configuration, such as creating preferences, or address types.  It also includes Membership Configuration, where you can retrieve membership levels that are configured for a property, or create new membership enrollment codes.<br /><br /> Compatible with OPERA Cloud release 21.5.0.0.<br /><br /><p> This document and all content within is available under the Universal Permissive License v 1.0 (https://oss.oracle.com/licenses/upl). Copyright (c) 2020, 2022 Oracle and/or its affiliates.</p>

API version: 21.5.0.0
Contact: hospitality_apis_ww_grp@oracle.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package crmcfg

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"reflect"
)


// MembershipConfigApiService MembershipConfigApi service
type MembershipConfigApiService service

type MembershipConfigApiDeleteMembershipAwardsRequest struct {
	ctx context.Context
	ApiService *MembershipConfigApiService
	membershipAwardsId string
	authorization *string
	xAppKey *string
	xHotelid *string
	membershipType *[]string
	xExternalsystem *string
	acceptLanguage *string
}

// Bearer token that needs to be passed which is generated post user authentication
func (r MembershipConfigApiDeleteMembershipAwardsRequest) Authorization(authorization string) MembershipConfigApiDeleteMembershipAwardsRequest {
	r.authorization = &authorization
	return r
}

// Client or Partner’s Application Key
func (r MembershipConfigApiDeleteMembershipAwardsRequest) XAppKey(xAppKey string) MembershipConfigApiDeleteMembershipAwardsRequest {
	r.xAppKey = &xAppKey
	return r
}

// Mandatory parameter to identify the hotel code where the end user is logged in
func (r MembershipConfigApiDeleteMembershipAwardsRequest) XHotelid(xHotelid string) MembershipConfigApiDeleteMembershipAwardsRequest {
	r.xHotelid = &xHotelid
	return r
}

// Membership type for which awards are defined.
func (r MembershipConfigApiDeleteMembershipAwardsRequest) MembershipType(membershipType []string) MembershipConfigApiDeleteMembershipAwardsRequest {
	r.membershipType = &membershipType
	return r
}

// External system code.
func (r MembershipConfigApiDeleteMembershipAwardsRequest) XExternalsystem(xExternalsystem string) MembershipConfigApiDeleteMembershipAwardsRequest {
	r.xExternalsystem = &xExternalsystem
	return r
}

// Language code
func (r MembershipConfigApiDeleteMembershipAwardsRequest) AcceptLanguage(acceptLanguage string) MembershipConfigApiDeleteMembershipAwardsRequest {
	r.acceptLanguage = &acceptLanguage
	return r
}

func (r MembershipConfigApiDeleteMembershipAwardsRequest) Execute() (*Status, *http.Response, error) {
	return r.ApiService.DeleteMembershipAwardsExecute(r)
}

/*
DeleteMembershipAwards Delete Membership Awards

You can use this API to delete Membership Awards. <p><strong>OperationId:</strong>deleteMembershipAwards</p>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param membershipAwardsId Fetch membershipClasses values based on given membershipClassId
 @return MembershipConfigApiDeleteMembershipAwardsRequest
*/
func (a *MembershipConfigApiService) DeleteMembershipAwards(ctx context.Context, membershipAwardsId string) MembershipConfigApiDeleteMembershipAwardsRequest {
	return MembershipConfigApiDeleteMembershipAwardsRequest{
		ApiService: a,
		ctx: ctx,
		membershipAwardsId: membershipAwardsId,
	}
}

// Execute executes the request
//  @return Status
func (a *MembershipConfigApiService) DeleteMembershipAwardsExecute(r MembershipConfigApiDeleteMembershipAwardsRequest) (*Status, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *Status
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MembershipConfigApiService.DeleteMembershipAwards")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/membershipAwards/{membershipAwardsId}"
	localVarPath = strings.Replace(localVarPath, "{"+"membershipAwardsId"+"}", url.PathEscape(parameterValueToString(r.membershipAwardsId, "membershipAwardsId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if strlen(r.membershipAwardsId) < 1 {
		return localVarReturnValue, nil, reportError("membershipAwardsId must have at least 1 elements")
	}
	if strlen(r.membershipAwardsId) > 2000 {
		return localVarReturnValue, nil, reportError("membershipAwardsId must have less than 2000 elements")
	}

	if r.membershipType != nil {
		t := *r.membershipType
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "membershipType", s.Index(i), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "membershipType", t, "multi")
		}
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json;charset=UTF-8"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xExternalsystem != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-externalsystem", r.xExternalsystem, "")
	}
	if r.acceptLanguage != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accept-Language", r.acceptLanguage, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type MembershipConfigApiDeleteMembershipBenefitProgramsRequest struct {
	ctx context.Context
	ApiService *MembershipConfigApiService
	membershipBenefitProgramsId string
	authorization *string
	xAppKey *string
	xHotelid *string
	membershipType *[]string
	xExternalsystem *string
	acceptLanguage *string
}

// Bearer token that needs to be passed which is generated post user authentication
func (r MembershipConfigApiDeleteMembershipBenefitProgramsRequest) Authorization(authorization string) MembershipConfigApiDeleteMembershipBenefitProgramsRequest {
	r.authorization = &authorization
	return r
}

// Client or Partner’s Application Key
func (r MembershipConfigApiDeleteMembershipBenefitProgramsRequest) XAppKey(xAppKey string) MembershipConfigApiDeleteMembershipBenefitProgramsRequest {
	r.xAppKey = &xAppKey
	return r
}

// Mandatory parameter to identify the hotel code where the end user is logged in
func (r MembershipConfigApiDeleteMembershipBenefitProgramsRequest) XHotelid(xHotelid string) MembershipConfigApiDeleteMembershipBenefitProgramsRequest {
	r.xHotelid = &xHotelid
	return r
}

// Membership type
func (r MembershipConfigApiDeleteMembershipBenefitProgramsRequest) MembershipType(membershipType []string) MembershipConfigApiDeleteMembershipBenefitProgramsRequest {
	r.membershipType = &membershipType
	return r
}

// External system code.
func (r MembershipConfigApiDeleteMembershipBenefitProgramsRequest) XExternalsystem(xExternalsystem string) MembershipConfigApiDeleteMembershipBenefitProgramsRequest {
	r.xExternalsystem = &xExternalsystem
	return r
}

// Language code
func (r MembershipConfigApiDeleteMembershipBenefitProgramsRequest) AcceptLanguage(acceptLanguage string) MembershipConfigApiDeleteMembershipBenefitProgramsRequest {
	r.acceptLanguage = &acceptLanguage
	return r
}

func (r MembershipConfigApiDeleteMembershipBenefitProgramsRequest) Execute() (*Status, *http.Response, error) {
	return r.ApiService.DeleteMembershipBenefitProgramsExecute(r)
}

/*
DeleteMembershipBenefitPrograms Delete Membership Benedict Program

This API will allow you to delete s Membership Benefit Programs of a Membership Type.  <p><strong>OperationId:</strong>deleteMembershipBenefitPrograms</p>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param membershipBenefitProgramsId Fetch membershipClasses values based on given membershipClassId
 @return MembershipConfigApiDeleteMembershipBenefitProgramsRequest
*/
func (a *MembershipConfigApiService) DeleteMembershipBenefitPrograms(ctx context.Context, membershipBenefitProgramsId string) MembershipConfigApiDeleteMembershipBenefitProgramsRequest {
	return MembershipConfigApiDeleteMembershipBenefitProgramsRequest{
		ApiService: a,
		ctx: ctx,
		membershipBenefitProgramsId: membershipBenefitProgramsId,
	}
}

// Execute executes the request
//  @return Status
func (a *MembershipConfigApiService) DeleteMembershipBenefitProgramsExecute(r MembershipConfigApiDeleteMembershipBenefitProgramsRequest) (*Status, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *Status
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MembershipConfigApiService.DeleteMembershipBenefitPrograms")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/membershipBenefitPrograms/{membershipBenefitProgramsId}"
	localVarPath = strings.Replace(localVarPath, "{"+"membershipBenefitProgramsId"+"}", url.PathEscape(parameterValueToString(r.membershipBenefitProgramsId, "membershipBenefitProgramsId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if strlen(r.membershipBenefitProgramsId) < 1 {
		return localVarReturnValue, nil, reportError("membershipBenefitProgramsId must have at least 1 elements")
	}
	if strlen(r.membershipBenefitProgramsId) > 2000 {
		return localVarReturnValue, nil, reportError("membershipBenefitProgramsId must have less than 2000 elements")
	}

	if r.membershipType != nil {
		t := *r.membershipType
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "membershipType", s.Index(i), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "membershipType", t, "multi")
		}
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json;charset=UTF-8"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xExternalsystem != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-externalsystem", r.xExternalsystem, "")
	}
	if r.acceptLanguage != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accept-Language", r.acceptLanguage, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type MembershipConfigApiDeleteMembershipClassesRequest struct {
	ctx context.Context
	ApiService *MembershipConfigApiService
	membershipClassId string
	authorization *string
	xAppKey *string
	xHotelid *string
	xExternalsystem *string
	acceptLanguage *string
}

// Bearer token that needs to be passed which is generated post user authentication
func (r MembershipConfigApiDeleteMembershipClassesRequest) Authorization(authorization string) MembershipConfigApiDeleteMembershipClassesRequest {
	r.authorization = &authorization
	return r
}

// Client or Partner’s Application Key
func (r MembershipConfigApiDeleteMembershipClassesRequest) XAppKey(xAppKey string) MembershipConfigApiDeleteMembershipClassesRequest {
	r.xAppKey = &xAppKey
	return r
}

// Mandatory parameter to identify the hotel code where the end user is logged in
func (r MembershipConfigApiDeleteMembershipClassesRequest) XHotelid(xHotelid string) MembershipConfigApiDeleteMembershipClassesRequest {
	r.xHotelid = &xHotelid
	return r
}

// External system code.
func (r MembershipConfigApiDeleteMembershipClassesRequest) XExternalsystem(xExternalsystem string) MembershipConfigApiDeleteMembershipClassesRequest {
	r.xExternalsystem = &xExternalsystem
	return r
}

// Language code
func (r MembershipConfigApiDeleteMembershipClassesRequest) AcceptLanguage(acceptLanguage string) MembershipConfigApiDeleteMembershipClassesRequest {
	r.acceptLanguage = &acceptLanguage
	return r
}

func (r MembershipConfigApiDeleteMembershipClassesRequest) Execute() (*Status, *http.Response, error) {
	return r.ApiService.DeleteMembershipClassesExecute(r)
}

/*
DeleteMembershipClasses Delete Membership classes

Delete an existing membership class. <p><strong>OperationId:</strong>deleteMembershipClasses</p>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param membershipClassId Fetch membershipClasses values based on given membershipClassId
 @return MembershipConfigApiDeleteMembershipClassesRequest
*/
func (a *MembershipConfigApiService) DeleteMembershipClasses(ctx context.Context, membershipClassId string) MembershipConfigApiDeleteMembershipClassesRequest {
	return MembershipConfigApiDeleteMembershipClassesRequest{
		ApiService: a,
		ctx: ctx,
		membershipClassId: membershipClassId,
	}
}

// Execute executes the request
//  @return Status
func (a *MembershipConfigApiService) DeleteMembershipClassesExecute(r MembershipConfigApiDeleteMembershipClassesRequest) (*Status, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *Status
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MembershipConfigApiService.DeleteMembershipClasses")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/membershipClasses/{membershipClassId}"
	localVarPath = strings.Replace(localVarPath, "{"+"membershipClassId"+"}", url.PathEscape(parameterValueToString(r.membershipClassId, "membershipClassId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if strlen(r.membershipClassId) < 1 {
		return localVarReturnValue, nil, reportError("membershipClassId must have at least 1 elements")
	}
	if strlen(r.membershipClassId) > 2000 {
		return localVarReturnValue, nil, reportError("membershipClassId must have less than 2000 elements")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json;charset=UTF-8"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xExternalsystem != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-externalsystem", r.xExternalsystem, "")
	}
	if r.acceptLanguage != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accept-Language", r.acceptLanguage, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type MembershipConfigApiDeleteMembershipConfigCacheRequest struct {
	ctx context.Context
	ApiService *MembershipConfigApiService
	authorization *string
	xAppKey *string
	xHotelid *string
	xExternalsystem *string
	acceptLanguage *string
}

// Bearer token that needs to be passed which is generated post user authentication
func (r MembershipConfigApiDeleteMembershipConfigCacheRequest) Authorization(authorization string) MembershipConfigApiDeleteMembershipConfigCacheRequest {
	r.authorization = &authorization
	return r
}

// Client or Partner’s Application Key
func (r MembershipConfigApiDeleteMembershipConfigCacheRequest) XAppKey(xAppKey string) MembershipConfigApiDeleteMembershipConfigCacheRequest {
	r.xAppKey = &xAppKey
	return r
}

// Mandatory parameter to identify the hotel code where the end user is logged in
func (r MembershipConfigApiDeleteMembershipConfigCacheRequest) XHotelid(xHotelid string) MembershipConfigApiDeleteMembershipConfigCacheRequest {
	r.xHotelid = &xHotelid
	return r
}

// External system code.
func (r MembershipConfigApiDeleteMembershipConfigCacheRequest) XExternalsystem(xExternalsystem string) MembershipConfigApiDeleteMembershipConfigCacheRequest {
	r.xExternalsystem = &xExternalsystem
	return r
}

// Language code
func (r MembershipConfigApiDeleteMembershipConfigCacheRequest) AcceptLanguage(acceptLanguage string) MembershipConfigApiDeleteMembershipConfigCacheRequest {
	r.acceptLanguage = &acceptLanguage
	return r
}

func (r MembershipConfigApiDeleteMembershipConfigCacheRequest) Execute() (*Status, *http.Response, error) {
	return r.ApiService.DeleteMembershipConfigCacheExecute(r)
}

/*
DeleteMembershipConfigCache  clear cache

Clear Membership Configuration Cache <p><strong>OperationId:</strong>deleteMembershipConfigCache</p>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return MembershipConfigApiDeleteMembershipConfigCacheRequest
*/
func (a *MembershipConfigApiService) DeleteMembershipConfigCache(ctx context.Context) MembershipConfigApiDeleteMembershipConfigCacheRequest {
	return MembershipConfigApiDeleteMembershipConfigCacheRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return Status
func (a *MembershipConfigApiService) DeleteMembershipConfigCacheExecute(r MembershipConfigApiDeleteMembershipConfigCacheRequest) (*Status, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *Status
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MembershipConfigApiService.DeleteMembershipConfigCache")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/services/membershipConfig/cache"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json;charset=UTF-8"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xExternalsystem != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-externalsystem", r.xExternalsystem, "")
	}
	if r.acceptLanguage != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accept-Language", r.acceptLanguage, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type MembershipConfigApiDeleteMembershipEnrollmentGroupsRequest struct {
	ctx context.Context
	ApiService *MembershipConfigApiService
	membershipEnrollmentGroupsId string
	authorization *string
	xAppKey *string
	xHotelid *string
	xExternalsystem *string
	acceptLanguage *string
}

// Bearer token that needs to be passed which is generated post user authentication
func (r MembershipConfigApiDeleteMembershipEnrollmentGroupsRequest) Authorization(authorization string) MembershipConfigApiDeleteMembershipEnrollmentGroupsRequest {
	r.authorization = &authorization
	return r
}

// Client or Partner’s Application Key
func (r MembershipConfigApiDeleteMembershipEnrollmentGroupsRequest) XAppKey(xAppKey string) MembershipConfigApiDeleteMembershipEnrollmentGroupsRequest {
	r.xAppKey = &xAppKey
	return r
}

// Mandatory parameter to identify the hotel code where the end user is logged in
func (r MembershipConfigApiDeleteMembershipEnrollmentGroupsRequest) XHotelid(xHotelid string) MembershipConfigApiDeleteMembershipEnrollmentGroupsRequest {
	r.xHotelid = &xHotelid
	return r
}

// External system code.
func (r MembershipConfigApiDeleteMembershipEnrollmentGroupsRequest) XExternalsystem(xExternalsystem string) MembershipConfigApiDeleteMembershipEnrollmentGroupsRequest {
	r.xExternalsystem = &xExternalsystem
	return r
}

// Language code
func (r MembershipConfigApiDeleteMembershipEnrollmentGroupsRequest) AcceptLanguage(acceptLanguage string) MembershipConfigApiDeleteMembershipEnrollmentGroupsRequest {
	r.acceptLanguage = &acceptLanguage
	return r
}

func (r MembershipConfigApiDeleteMembershipEnrollmentGroupsRequest) Execute() (*Status, *http.Response, error) {
	return r.ApiService.DeleteMembershipEnrollmentGroupsExecute(r)
}

/*
DeleteMembershipEnrollmentGroups Remove Membership enrollment groups

delete an existing membership group. <p><strong>OperationId:</strong>deleteMembershipEnrollmentGroups</p>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param membershipEnrollmentGroupsId Fetch membershipClasses values based on given membershipClassId
 @return MembershipConfigApiDeleteMembershipEnrollmentGroupsRequest
*/
func (a *MembershipConfigApiService) DeleteMembershipEnrollmentGroups(ctx context.Context, membershipEnrollmentGroupsId string) MembershipConfigApiDeleteMembershipEnrollmentGroupsRequest {
	return MembershipConfigApiDeleteMembershipEnrollmentGroupsRequest{
		ApiService: a,
		ctx: ctx,
		membershipEnrollmentGroupsId: membershipEnrollmentGroupsId,
	}
}

// Execute executes the request
//  @return Status
func (a *MembershipConfigApiService) DeleteMembershipEnrollmentGroupsExecute(r MembershipConfigApiDeleteMembershipEnrollmentGroupsRequest) (*Status, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *Status
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MembershipConfigApiService.DeleteMembershipEnrollmentGroups")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/membershipEnrollmentGroups/{membershipEnrollmentGroupsId}"
	localVarPath = strings.Replace(localVarPath, "{"+"membershipEnrollmentGroupsId"+"}", url.PathEscape(parameterValueToString(r.membershipEnrollmentGroupsId, "membershipEnrollmentGroupsId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if strlen(r.membershipEnrollmentGroupsId) < 1 {
		return localVarReturnValue, nil, reportError("membershipEnrollmentGroupsId must have at least 1 elements")
	}
	if strlen(r.membershipEnrollmentGroupsId) > 2000 {
		return localVarReturnValue, nil, reportError("membershipEnrollmentGroupsId must have less than 2000 elements")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json;charset=UTF-8"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xExternalsystem != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-externalsystem", r.xExternalsystem, "")
	}
	if r.acceptLanguage != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accept-Language", r.acceptLanguage, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type MembershipConfigApiDeleteMembershipLevelsRequest struct {
	ctx context.Context
	ApiService *MembershipConfigApiService
	membershipLevelsId string
	authorization *string
	xAppKey *string
	xHotelid *string
	type_ *[]string
	xExternalsystem *string
	acceptLanguage *string
}

// Bearer token that needs to be passed which is generated post user authentication
func (r MembershipConfigApiDeleteMembershipLevelsRequest) Authorization(authorization string) MembershipConfigApiDeleteMembershipLevelsRequest {
	r.authorization = &authorization
	return r
}

// Client or Partner’s Application Key
func (r MembershipConfigApiDeleteMembershipLevelsRequest) XAppKey(xAppKey string) MembershipConfigApiDeleteMembershipLevelsRequest {
	r.xAppKey = &xAppKey
	return r
}

// Mandatory parameter to identify the hotel code where the end user is logged in
func (r MembershipConfigApiDeleteMembershipLevelsRequest) XHotelid(xHotelid string) MembershipConfigApiDeleteMembershipLevelsRequest {
	r.xHotelid = &xHotelid
	return r
}

// Membership type
func (r MembershipConfigApiDeleteMembershipLevelsRequest) Type_(type_ []string) MembershipConfigApiDeleteMembershipLevelsRequest {
	r.type_ = &type_
	return r
}

// External system code.
func (r MembershipConfigApiDeleteMembershipLevelsRequest) XExternalsystem(xExternalsystem string) MembershipConfigApiDeleteMembershipLevelsRequest {
	r.xExternalsystem = &xExternalsystem
	return r
}

// Language code
func (r MembershipConfigApiDeleteMembershipLevelsRequest) AcceptLanguage(acceptLanguage string) MembershipConfigApiDeleteMembershipLevelsRequest {
	r.acceptLanguage = &acceptLanguage
	return r
}

func (r MembershipConfigApiDeleteMembershipLevelsRequest) Execute() (*Status, *http.Response, error) {
	return r.ApiService.DeleteMembershipLevelsExecute(r)
}

/*
DeleteMembershipLevels Delete Membership levels

You can use this API to delete Membership levels. <p><strong>OperationId:</strong>deleteMembershipLevels</p>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param membershipLevelsId Fetch membershipClasses values based on given membershipClassId
 @return MembershipConfigApiDeleteMembershipLevelsRequest
*/
func (a *MembershipConfigApiService) DeleteMembershipLevels(ctx context.Context, membershipLevelsId string) MembershipConfigApiDeleteMembershipLevelsRequest {
	return MembershipConfigApiDeleteMembershipLevelsRequest{
		ApiService: a,
		ctx: ctx,
		membershipLevelsId: membershipLevelsId,
	}
}

// Execute executes the request
//  @return Status
func (a *MembershipConfigApiService) DeleteMembershipLevelsExecute(r MembershipConfigApiDeleteMembershipLevelsRequest) (*Status, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *Status
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MembershipConfigApiService.DeleteMembershipLevels")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/membershipLevels/{membershipLevelsId}"
	localVarPath = strings.Replace(localVarPath, "{"+"membershipLevelsId"+"}", url.PathEscape(parameterValueToString(r.membershipLevelsId, "membershipLevelsId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if strlen(r.membershipLevelsId) < 1 {
		return localVarReturnValue, nil, reportError("membershipLevelsId must have at least 1 elements")
	}
	if strlen(r.membershipLevelsId) > 2000 {
		return localVarReturnValue, nil, reportError("membershipLevelsId must have less than 2000 elements")
	}

	if r.type_ != nil {
		t := *r.type_
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "type", s.Index(i), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "type", t, "multi")
		}
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json;charset=UTF-8"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xExternalsystem != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-externalsystem", r.xExternalsystem, "")
	}
	if r.acceptLanguage != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accept-Language", r.acceptLanguage, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type MembershipConfigApiDeleteMembershipMarketGroupsRequest struct {
	ctx context.Context
	ApiService *MembershipConfigApiService
	membershipMarketGroupId string
	authorization *string
	xAppKey *string
	xHotelid *string
	xExternalsystem *string
	acceptLanguage *string
}

// Bearer token that needs to be passed which is generated post user authentication
func (r MembershipConfigApiDeleteMembershipMarketGroupsRequest) Authorization(authorization string) MembershipConfigApiDeleteMembershipMarketGroupsRequest {
	r.authorization = &authorization
	return r
}

// Client or Partner’s Application Key
func (r MembershipConfigApiDeleteMembershipMarketGroupsRequest) XAppKey(xAppKey string) MembershipConfigApiDeleteMembershipMarketGroupsRequest {
	r.xAppKey = &xAppKey
	return r
}

// Mandatory parameter to identify the hotel code where the end user is logged in
func (r MembershipConfigApiDeleteMembershipMarketGroupsRequest) XHotelid(xHotelid string) MembershipConfigApiDeleteMembershipMarketGroupsRequest {
	r.xHotelid = &xHotelid
	return r
}

// External system code.
func (r MembershipConfigApiDeleteMembershipMarketGroupsRequest) XExternalsystem(xExternalsystem string) MembershipConfigApiDeleteMembershipMarketGroupsRequest {
	r.xExternalsystem = &xExternalsystem
	return r
}

// Language code
func (r MembershipConfigApiDeleteMembershipMarketGroupsRequest) AcceptLanguage(acceptLanguage string) MembershipConfigApiDeleteMembershipMarketGroupsRequest {
	r.acceptLanguage = &acceptLanguage
	return r
}

func (r MembershipConfigApiDeleteMembershipMarketGroupsRequest) Execute() (*Status, *http.Response, error) {
	return r.ApiService.DeleteMembershipMarketGroupsExecute(r)
}

/*
DeleteMembershipMarketGroups Delete Membership market groups

You can use this API to delete Membership market groups. <p><strong>OperationId:</strong>deleteMembershipMarketGroups</p>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param membershipMarketGroupId Fetch membershipClasses values based on given membershipClassId
 @return MembershipConfigApiDeleteMembershipMarketGroupsRequest
*/
func (a *MembershipConfigApiService) DeleteMembershipMarketGroups(ctx context.Context, membershipMarketGroupId string) MembershipConfigApiDeleteMembershipMarketGroupsRequest {
	return MembershipConfigApiDeleteMembershipMarketGroupsRequest{
		ApiService: a,
		ctx: ctx,
		membershipMarketGroupId: membershipMarketGroupId,
	}
}

// Execute executes the request
//  @return Status
func (a *MembershipConfigApiService) DeleteMembershipMarketGroupsExecute(r MembershipConfigApiDeleteMembershipMarketGroupsRequest) (*Status, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *Status
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MembershipConfigApiService.DeleteMembershipMarketGroups")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/membershipMarketGroups/{membershipMarketGroupId}"
	localVarPath = strings.Replace(localVarPath, "{"+"membershipMarketGroupId"+"}", url.PathEscape(parameterValueToString(r.membershipMarketGroupId, "membershipMarketGroupId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if strlen(r.membershipMarketGroupId) < 1 {
		return localVarReturnValue, nil, reportError("membershipMarketGroupId must have at least 1 elements")
	}
	if strlen(r.membershipMarketGroupId) > 2000 {
		return localVarReturnValue, nil, reportError("membershipMarketGroupId must have less than 2000 elements")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json;charset=UTF-8"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xExternalsystem != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-externalsystem", r.xExternalsystem, "")
	}
	if r.acceptLanguage != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accept-Language", r.acceptLanguage, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type MembershipConfigApiDeleteMembershipPropertyGroupsRequest struct {
	ctx context.Context
	ApiService *MembershipConfigApiService
	membershipPropertyGroupsId string
	authorization *string
	xAppKey *string
	xHotelid *string
	xExternalsystem *string
	acceptLanguage *string
}

// Bearer token that needs to be passed which is generated post user authentication
func (r MembershipConfigApiDeleteMembershipPropertyGroupsRequest) Authorization(authorization string) MembershipConfigApiDeleteMembershipPropertyGroupsRequest {
	r.authorization = &authorization
	return r
}

// Client or Partner’s Application Key
func (r MembershipConfigApiDeleteMembershipPropertyGroupsRequest) XAppKey(xAppKey string) MembershipConfigApiDeleteMembershipPropertyGroupsRequest {
	r.xAppKey = &xAppKey
	return r
}

// Mandatory parameter to identify the hotel code where the end user is logged in
func (r MembershipConfigApiDeleteMembershipPropertyGroupsRequest) XHotelid(xHotelid string) MembershipConfigApiDeleteMembershipPropertyGroupsRequest {
	r.xHotelid = &xHotelid
	return r
}

// External system code.
func (r MembershipConfigApiDeleteMembershipPropertyGroupsRequest) XExternalsystem(xExternalsystem string) MembershipConfigApiDeleteMembershipPropertyGroupsRequest {
	r.xExternalsystem = &xExternalsystem
	return r
}

// Language code
func (r MembershipConfigApiDeleteMembershipPropertyGroupsRequest) AcceptLanguage(acceptLanguage string) MembershipConfigApiDeleteMembershipPropertyGroupsRequest {
	r.acceptLanguage = &acceptLanguage
	return r
}

func (r MembershipConfigApiDeleteMembershipPropertyGroupsRequest) Execute() (*Status, *http.Response, error) {
	return r.ApiService.DeleteMembershipPropertyGroupsExecute(r)
}

/*
DeleteMembershipPropertyGroups Delete Membership property groups

You can use this API to delete Membership property groups. <p><strong>OperationId:</strong>deleteMembershipPropertyGroups</p>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param membershipPropertyGroupsId Fetch membershipClasses values based on given membershipClassId
 @return MembershipConfigApiDeleteMembershipPropertyGroupsRequest
*/
func (a *MembershipConfigApiService) DeleteMembershipPropertyGroups(ctx context.Context, membershipPropertyGroupsId string) MembershipConfigApiDeleteMembershipPropertyGroupsRequest {
	return MembershipConfigApiDeleteMembershipPropertyGroupsRequest{
		ApiService: a,
		ctx: ctx,
		membershipPropertyGroupsId: membershipPropertyGroupsId,
	}
}

// Execute executes the request
//  @return Status
func (a *MembershipConfigApiService) DeleteMembershipPropertyGroupsExecute(r MembershipConfigApiDeleteMembershipPropertyGroupsRequest) (*Status, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *Status
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MembershipConfigApiService.DeleteMembershipPropertyGroups")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/membershipPropertyGroups/{membershipPropertyGroupsId}"
	localVarPath = strings.Replace(localVarPath, "{"+"membershipPropertyGroupsId"+"}", url.PathEscape(parameterValueToString(r.membershipPropertyGroupsId, "membershipPropertyGroupsId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if strlen(r.membershipPropertyGroupsId) < 1 {
		return localVarReturnValue, nil, reportError("membershipPropertyGroupsId must have at least 1 elements")
	}
	if strlen(r.membershipPropertyGroupsId) > 2000 {
		return localVarReturnValue, nil, reportError("membershipPropertyGroupsId must have less than 2000 elements")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json;charset=UTF-8"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xExternalsystem != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-externalsystem", r.xExternalsystem, "")
	}
	if r.acceptLanguage != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accept-Language", r.acceptLanguage, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type MembershipConfigApiDeleteMembershipRateGroupsRequest struct {
	ctx context.Context
	ApiService *MembershipConfigApiService
	membershipRateGroupId string
	authorization *string
	xAppKey *string
	xHotelid *string
	xExternalsystem *string
	acceptLanguage *string
}

// Bearer token that needs to be passed which is generated post user authentication
func (r MembershipConfigApiDeleteMembershipRateGroupsRequest) Authorization(authorization string) MembershipConfigApiDeleteMembershipRateGroupsRequest {
	r.authorization = &authorization
	return r
}

// Client or Partner’s Application Key
func (r MembershipConfigApiDeleteMembershipRateGroupsRequest) XAppKey(xAppKey string) MembershipConfigApiDeleteMembershipRateGroupsRequest {
	r.xAppKey = &xAppKey
	return r
}

// Mandatory parameter to identify the hotel code where the end user is logged in
func (r MembershipConfigApiDeleteMembershipRateGroupsRequest) XHotelid(xHotelid string) MembershipConfigApiDeleteMembershipRateGroupsRequest {
	r.xHotelid = &xHotelid
	return r
}

// External system code.
func (r MembershipConfigApiDeleteMembershipRateGroupsRequest) XExternalsystem(xExternalsystem string) MembershipConfigApiDeleteMembershipRateGroupsRequest {
	r.xExternalsystem = &xExternalsystem
	return r
}

// Language code
func (r MembershipConfigApiDeleteMembershipRateGroupsRequest) AcceptLanguage(acceptLanguage string) MembershipConfigApiDeleteMembershipRateGroupsRequest {
	r.acceptLanguage = &acceptLanguage
	return r
}

func (r MembershipConfigApiDeleteMembershipRateGroupsRequest) Execute() (*Status, *http.Response, error) {
	return r.ApiService.DeleteMembershipRateGroupsExecute(r)
}

/*
DeleteMembershipRateGroups Delete Membership rate groups

You can use this API to delete Membership rate groups. <p><strong>OperationId:</strong>deleteMembershipRateGroups</p>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param membershipRateGroupId Fetch membershipClasses values based on given membershipClassId
 @return MembershipConfigApiDeleteMembershipRateGroupsRequest
*/
func (a *MembershipConfigApiService) DeleteMembershipRateGroups(ctx context.Context, membershipRateGroupId string) MembershipConfigApiDeleteMembershipRateGroupsRequest {
	return MembershipConfigApiDeleteMembershipRateGroupsRequest{
		ApiService: a,
		ctx: ctx,
		membershipRateGroupId: membershipRateGroupId,
	}
}

// Execute executes the request
//  @return Status
func (a *MembershipConfigApiService) DeleteMembershipRateGroupsExecute(r MembershipConfigApiDeleteMembershipRateGroupsRequest) (*Status, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *Status
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MembershipConfigApiService.DeleteMembershipRateGroups")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/membershipRateGroups/{membershipRateGroupId}"
	localVarPath = strings.Replace(localVarPath, "{"+"membershipRateGroupId"+"}", url.PathEscape(parameterValueToString(r.membershipRateGroupId, "membershipRateGroupId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if strlen(r.membershipRateGroupId) < 1 {
		return localVarReturnValue, nil, reportError("membershipRateGroupId must have at least 1 elements")
	}
	if strlen(r.membershipRateGroupId) > 2000 {
		return localVarReturnValue, nil, reportError("membershipRateGroupId must have less than 2000 elements")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json;charset=UTF-8"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xExternalsystem != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-externalsystem", r.xExternalsystem, "")
	}
	if r.acceptLanguage != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accept-Language", r.acceptLanguage, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type MembershipConfigApiDeleteMembershipTypeRulesRequest struct {
	ctx context.Context
	ApiService *MembershipConfigApiService
	membershipTypeRulesId string
	authorization *string
	xAppKey *string
	xHotelid *string
	membershipPointsSequence *[]int32
	xExternalsystem *string
	acceptLanguage *string
}

// Bearer token that needs to be passed which is generated post user authentication
func (r MembershipConfigApiDeleteMembershipTypeRulesRequest) Authorization(authorization string) MembershipConfigApiDeleteMembershipTypeRulesRequest {
	r.authorization = &authorization
	return r
}

// Client or Partner’s Application Key
func (r MembershipConfigApiDeleteMembershipTypeRulesRequest) XAppKey(xAppKey string) MembershipConfigApiDeleteMembershipTypeRulesRequest {
	r.xAppKey = &xAppKey
	return r
}

// Mandatory parameter to identify the hotel code where the end user is logged in
func (r MembershipConfigApiDeleteMembershipTypeRulesRequest) XHotelid(xHotelid string) MembershipConfigApiDeleteMembershipTypeRulesRequest {
	r.xHotelid = &xHotelid
	return r
}

// Sequence number of the membership type rule.
func (r MembershipConfigApiDeleteMembershipTypeRulesRequest) MembershipPointsSequence(membershipPointsSequence []int32) MembershipConfigApiDeleteMembershipTypeRulesRequest {
	r.membershipPointsSequence = &membershipPointsSequence
	return r
}

// External system code.
func (r MembershipConfigApiDeleteMembershipTypeRulesRequest) XExternalsystem(xExternalsystem string) MembershipConfigApiDeleteMembershipTypeRulesRequest {
	r.xExternalsystem = &xExternalsystem
	return r
}

// Language code
func (r MembershipConfigApiDeleteMembershipTypeRulesRequest) AcceptLanguage(acceptLanguage string) MembershipConfigApiDeleteMembershipTypeRulesRequest {
	r.acceptLanguage = &acceptLanguage
	return r
}

func (r MembershipConfigApiDeleteMembershipTypeRulesRequest) Execute() (*Status, *http.Response, error) {
	return r.ApiService.DeleteMembershipTypeRulesExecute(r)
}

/*
DeleteMembershipTypeRules Delete Membership type rules

You can use this API to delete Membership type rules. <p><strong>OperationId:</strong>deleteMembershipTypeRules</p>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param membershipTypeRulesId Fetch membershipClasses values based on given membershipClassId
 @return MembershipConfigApiDeleteMembershipTypeRulesRequest
*/
func (a *MembershipConfigApiService) DeleteMembershipTypeRules(ctx context.Context, membershipTypeRulesId string) MembershipConfigApiDeleteMembershipTypeRulesRequest {
	return MembershipConfigApiDeleteMembershipTypeRulesRequest{
		ApiService: a,
		ctx: ctx,
		membershipTypeRulesId: membershipTypeRulesId,
	}
}

// Execute executes the request
//  @return Status
func (a *MembershipConfigApiService) DeleteMembershipTypeRulesExecute(r MembershipConfigApiDeleteMembershipTypeRulesRequest) (*Status, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *Status
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MembershipConfigApiService.DeleteMembershipTypeRules")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/membershipTypeRules/{membershipTypeRulesId}"
	localVarPath = strings.Replace(localVarPath, "{"+"membershipTypeRulesId"+"}", url.PathEscape(parameterValueToString(r.membershipTypeRulesId, "membershipTypeRulesId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if strlen(r.membershipTypeRulesId) < 1 {
		return localVarReturnValue, nil, reportError("membershipTypeRulesId must have at least 1 elements")
	}
	if strlen(r.membershipTypeRulesId) > 2000 {
		return localVarReturnValue, nil, reportError("membershipTypeRulesId must have less than 2000 elements")
	}

	if r.membershipPointsSequence != nil {
		t := *r.membershipPointsSequence
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "membershipPointsSequence", s.Index(i), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "membershipPointsSequence", t, "multi")
		}
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json;charset=UTF-8"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xExternalsystem != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-externalsystem", r.xExternalsystem, "")
	}
	if r.acceptLanguage != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accept-Language", r.acceptLanguage, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type MembershipConfigApiDeleteMembershipTypesRequest struct {
	ctx context.Context
	ApiService *MembershipConfigApiService
	membershipTypeId string
	authorization *string
	xAppKey *string
	xHotelid *string
	xExternalsystem *string
	acceptLanguage *string
}

// Bearer token that needs to be passed which is generated post user authentication
func (r MembershipConfigApiDeleteMembershipTypesRequest) Authorization(authorization string) MembershipConfigApiDeleteMembershipTypesRequest {
	r.authorization = &authorization
	return r
}

// Client or Partner’s Application Key
func (r MembershipConfigApiDeleteMembershipTypesRequest) XAppKey(xAppKey string) MembershipConfigApiDeleteMembershipTypesRequest {
	r.xAppKey = &xAppKey
	return r
}

// Mandatory parameter to identify the hotel code where the end user is logged in
func (r MembershipConfigApiDeleteMembershipTypesRequest) XHotelid(xHotelid string) MembershipConfigApiDeleteMembershipTypesRequest {
	r.xHotelid = &xHotelid
	return r
}

// External system code.
func (r MembershipConfigApiDeleteMembershipTypesRequest) XExternalsystem(xExternalsystem string) MembershipConfigApiDeleteMembershipTypesRequest {
	r.xExternalsystem = &xExternalsystem
	return r
}

// Language code
func (r MembershipConfigApiDeleteMembershipTypesRequest) AcceptLanguage(acceptLanguage string) MembershipConfigApiDeleteMembershipTypesRequest {
	r.acceptLanguage = &acceptLanguage
	return r
}

func (r MembershipConfigApiDeleteMembershipTypesRequest) Execute() (*Status, *http.Response, error) {
	return r.ApiService.DeleteMembershipTypesExecute(r)
}

/*
DeleteMembershipTypes Delete Membership type

Use this API to delete an existing Membership Type <p><strong>OperationId:</strong>deleteMembershipTypes</p>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param membershipTypeId Fetch membershipTypes values based on given membershipTypeId
 @return MembershipConfigApiDeleteMembershipTypesRequest
*/
func (a *MembershipConfigApiService) DeleteMembershipTypes(ctx context.Context, membershipTypeId string) MembershipConfigApiDeleteMembershipTypesRequest {
	return MembershipConfigApiDeleteMembershipTypesRequest{
		ApiService: a,
		ctx: ctx,
		membershipTypeId: membershipTypeId,
	}
}

// Execute executes the request
//  @return Status
func (a *MembershipConfigApiService) DeleteMembershipTypesExecute(r MembershipConfigApiDeleteMembershipTypesRequest) (*Status, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *Status
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MembershipConfigApiService.DeleteMembershipTypes")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/membershipTypes/{membershipTypeId}"
	localVarPath = strings.Replace(localVarPath, "{"+"membershipTypeId"+"}", url.PathEscape(parameterValueToString(r.membershipTypeId, "membershipTypeId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if strlen(r.membershipTypeId) < 1 {
		return localVarReturnValue, nil, reportError("membershipTypeId must have at least 1 elements")
	}
	if strlen(r.membershipTypeId) > 2000 {
		return localVarReturnValue, nil, reportError("membershipTypeId must have less than 2000 elements")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json;charset=UTF-8"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xExternalsystem != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-externalsystem", r.xExternalsystem, "")
	}
	if r.acceptLanguage != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accept-Language", r.acceptLanguage, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type MembershipConfigApiGetMembershipAwardsRequest struct {
	ctx context.Context
	ApiService *MembershipConfigApiService
	authorization *string
	xAppKey *string
	xHotelid *string
	membershipType *string
	awardCodes *[]string
	wildCard *string
	description *string
	validForDate *string
	includeInactive *bool
	includeDetails *bool
	xExternalsystem *string
	acceptLanguage *string
}

// Bearer token that needs to be passed which is generated post user authentication
func (r MembershipConfigApiGetMembershipAwardsRequest) Authorization(authorization string) MembershipConfigApiGetMembershipAwardsRequest {
	r.authorization = &authorization
	return r
}

// Client or Partner’s Application Key
func (r MembershipConfigApiGetMembershipAwardsRequest) XAppKey(xAppKey string) MembershipConfigApiGetMembershipAwardsRequest {
	r.xAppKey = &xAppKey
	return r
}

// Mandatory parameter to identify the hotel code where the end user is logged in
func (r MembershipConfigApiGetMembershipAwardsRequest) XHotelid(xHotelid string) MembershipConfigApiGetMembershipAwardsRequest {
	r.xHotelid = &xHotelid
	return r
}

// Membership type for which awards are defined.
func (r MembershipConfigApiGetMembershipAwardsRequest) MembershipType(membershipType string) MembershipConfigApiGetMembershipAwardsRequest {
	r.membershipType = &membershipType
	return r
}

// Codes to be searched.
func (r MembershipConfigApiGetMembershipAwardsRequest) AwardCodes(awardCodes []string) MembershipConfigApiGetMembershipAwardsRequest {
	r.awardCodes = &awardCodes
	return r
}

// Wildcard search on the code.
func (r MembershipConfigApiGetMembershipAwardsRequest) WildCard(wildCard string) MembershipConfigApiGetMembershipAwardsRequest {
	r.wildCard = &wildCard
	return r
}

// Description for the membership award.
func (r MembershipConfigApiGetMembershipAwardsRequest) Description(description string) MembershipConfigApiGetMembershipAwardsRequest {
	r.description = &description
	return r
}

// Date when membership award is valid.
func (r MembershipConfigApiGetMembershipAwardsRequest) ValidForDate(validForDate string) MembershipConfigApiGetMembershipAwardsRequest {
	r.validForDate = &validForDate
	return r
}

// Flag to decide whether or not to include inactive records in search result set.
func (r MembershipConfigApiGetMembershipAwardsRequest) IncludeInactive(includeInactive bool) MembershipConfigApiGetMembershipAwardsRequest {
	r.includeInactive = &includeInactive
	return r
}

// Fetch operation will return only Membership Award records by default. If Include Details is true, then it will return associated child records like Membership Award Rate/Product/Upgrade/FT as well.
func (r MembershipConfigApiGetMembershipAwardsRequest) IncludeDetails(includeDetails bool) MembershipConfigApiGetMembershipAwardsRequest {
	r.includeDetails = &includeDetails
	return r
}

// External system code.
func (r MembershipConfigApiGetMembershipAwardsRequest) XExternalsystem(xExternalsystem string) MembershipConfigApiGetMembershipAwardsRequest {
	r.xExternalsystem = &xExternalsystem
	return r
}

// Language code
func (r MembershipConfigApiGetMembershipAwardsRequest) AcceptLanguage(acceptLanguage string) MembershipConfigApiGetMembershipAwardsRequest {
	r.acceptLanguage = &acceptLanguage
	return r
}

func (r MembershipConfigApiGetMembershipAwardsRequest) Execute() (*MembershipAwardsInfo, *http.Response, error) {
	return r.ApiService.GetMembershipAwardsExecute(r)
}

/*
GetMembershipAwards Get Membership Awards

You can use this API to get Membership Awards. <p><strong>OperationId:</strong>getMembershipAwards</p>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return MembershipConfigApiGetMembershipAwardsRequest
*/
func (a *MembershipConfigApiService) GetMembershipAwards(ctx context.Context) MembershipConfigApiGetMembershipAwardsRequest {
	return MembershipConfigApiGetMembershipAwardsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return MembershipAwardsInfo
func (a *MembershipConfigApiService) GetMembershipAwardsExecute(r MembershipConfigApiGetMembershipAwardsRequest) (*MembershipAwardsInfo, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *MembershipAwardsInfo
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MembershipConfigApiService.GetMembershipAwards")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/membershipAwards"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.membershipType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "membershipType", r.membershipType, "")
	}
	if r.awardCodes != nil {
		t := *r.awardCodes
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "awardCodes", s.Index(i), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "awardCodes", t, "multi")
		}
	}
	if r.wildCard != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "wildCard", r.wildCard, "")
	}
	if r.description != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "description", r.description, "")
	}
	if r.validForDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "validForDate", r.validForDate, "")
	}
	if r.includeInactive != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "includeInactive", r.includeInactive, "")
	}
	if r.includeDetails != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "includeDetails", r.includeDetails, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json;charset=UTF-8"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xExternalsystem != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-externalsystem", r.xExternalsystem, "")
	}
	if r.acceptLanguage != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accept-Language", r.acceptLanguage, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type MembershipConfigApiGetMembershipBenefitProgramsRequest struct {
	ctx context.Context
	ApiService *MembershipConfigApiService
	authorization *string
	xAppKey *string
	xHotelid *string
	membershipType *string
	code *string
	end *string
	start *string
	minimumLevel *string
	includeInactive *bool
	xExternalsystem *string
	acceptLanguage *string
}

// Bearer token that needs to be passed which is generated post user authentication
func (r MembershipConfigApiGetMembershipBenefitProgramsRequest) Authorization(authorization string) MembershipConfigApiGetMembershipBenefitProgramsRequest {
	r.authorization = &authorization
	return r
}

// Client or Partner’s Application Key
func (r MembershipConfigApiGetMembershipBenefitProgramsRequest) XAppKey(xAppKey string) MembershipConfigApiGetMembershipBenefitProgramsRequest {
	r.xAppKey = &xAppKey
	return r
}

// Mandatory parameter to identify the hotel code where the end user is logged in
func (r MembershipConfigApiGetMembershipBenefitProgramsRequest) XHotelid(xHotelid string) MembershipConfigApiGetMembershipBenefitProgramsRequest {
	r.xHotelid = &xHotelid
	return r
}

// Membership type
func (r MembershipConfigApiGetMembershipBenefitProgramsRequest) MembershipType(membershipType string) MembershipConfigApiGetMembershipBenefitProgramsRequest {
	r.membershipType = &membershipType
	return r
}

// Benefit Code
func (r MembershipConfigApiGetMembershipBenefitProgramsRequest) Code(code string) MembershipConfigApiGetMembershipBenefitProgramsRequest {
	r.code = &code
	return r
}

// The ending value of the date range.
func (r MembershipConfigApiGetMembershipBenefitProgramsRequest) End(end string) MembershipConfigApiGetMembershipBenefitProgramsRequest {
	r.end = &end
	return r
}

// The starting value of the date range.
func (r MembershipConfigApiGetMembershipBenefitProgramsRequest) Start(start string) MembershipConfigApiGetMembershipBenefitProgramsRequest {
	r.start = &start
	return r
}

// Min value for membership level. This is the minimum membership level member gets for enrolling into this program.
func (r MembershipConfigApiGetMembershipBenefitProgramsRequest) MinimumLevel(minimumLevel string) MembershipConfigApiGetMembershipBenefitProgramsRequest {
	r.minimumLevel = &minimumLevel
	return r
}

// Flag to decide whether or not to include inactive records in search result set.
func (r MembershipConfigApiGetMembershipBenefitProgramsRequest) IncludeInactive(includeInactive bool) MembershipConfigApiGetMembershipBenefitProgramsRequest {
	r.includeInactive = &includeInactive
	return r
}

// External system code.
func (r MembershipConfigApiGetMembershipBenefitProgramsRequest) XExternalsystem(xExternalsystem string) MembershipConfigApiGetMembershipBenefitProgramsRequest {
	r.xExternalsystem = &xExternalsystem
	return r
}

// Language code
func (r MembershipConfigApiGetMembershipBenefitProgramsRequest) AcceptLanguage(acceptLanguage string) MembershipConfigApiGetMembershipBenefitProgramsRequest {
	r.acceptLanguage = &acceptLanguage
	return r
}

func (r MembershipConfigApiGetMembershipBenefitProgramsRequest) Execute() (*MembershipBenefitProgramsInfo, *http.Response, error) {
	return r.ApiService.GetMembershipBenefitProgramsExecute(r)
}

/*
GetMembershipBenefitPrograms Retrieve a Membership Benefit Program

This API allows you to fetch Membership Benefit Programs of Membership Type. A Benefit Program is configurable for a Membership Type when OCIS or ORS license is active and Membership Type meets following criteria - primary central setup, not externally controlled and point calculation method is Manual Batch. <p><strong>OperationId:</strong>getMembershipBenefitPrograms</p>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return MembershipConfigApiGetMembershipBenefitProgramsRequest
*/
func (a *MembershipConfigApiService) GetMembershipBenefitPrograms(ctx context.Context) MembershipConfigApiGetMembershipBenefitProgramsRequest {
	return MembershipConfigApiGetMembershipBenefitProgramsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return MembershipBenefitProgramsInfo
func (a *MembershipConfigApiService) GetMembershipBenefitProgramsExecute(r MembershipConfigApiGetMembershipBenefitProgramsRequest) (*MembershipBenefitProgramsInfo, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *MembershipBenefitProgramsInfo
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MembershipConfigApiService.GetMembershipBenefitPrograms")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/membershipBenefitPrograms"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.membershipType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "membershipType", r.membershipType, "")
	}
	if r.code != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "code", r.code, "")
	}
	if r.end != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "end", r.end, "")
	}
	if r.start != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "start", r.start, "")
	}
	if r.minimumLevel != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "minimumLevel", r.minimumLevel, "")
	}
	if r.includeInactive != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "includeInactive", r.includeInactive, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json;charset=UTF-8"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xExternalsystem != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-externalsystem", r.xExternalsystem, "")
	}
	if r.acceptLanguage != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accept-Language", r.acceptLanguage, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type MembershipConfigApiGetMembershipClassesRequest struct {
	ctx context.Context
	ApiService *MembershipConfigApiService
	authorization *string
	xAppKey *string
	xHotelid *string
	fetchInactive *bool
	codes *[]string
	wildCard *string
	description *string
	xExternalsystem *string
	acceptLanguage *string
}

// Bearer token that needs to be passed which is generated post user authentication
func (r MembershipConfigApiGetMembershipClassesRequest) Authorization(authorization string) MembershipConfigApiGetMembershipClassesRequest {
	r.authorization = &authorization
	return r
}

// Client or Partner’s Application Key
func (r MembershipConfigApiGetMembershipClassesRequest) XAppKey(xAppKey string) MembershipConfigApiGetMembershipClassesRequest {
	r.xAppKey = &xAppKey
	return r
}

// Mandatory parameter to identify the hotel code where the end user is logged in
func (r MembershipConfigApiGetMembershipClassesRequest) XHotelid(xHotelid string) MembershipConfigApiGetMembershipClassesRequest {
	r.xHotelid = &xHotelid
	return r
}

// Determines wether to fetch inactive records or not.
func (r MembershipConfigApiGetMembershipClassesRequest) FetchInactive(fetchInactive bool) MembershipConfigApiGetMembershipClassesRequest {
	r.fetchInactive = &fetchInactive
	return r
}

[...]
