/*
OPERA Cloud CRM Configuration API

APIs for Customer Relationship Management (profile) configuration, such as creating preferences, or address types.  It also includes Membership Configuration, where you can retrieve membership levels that are configured for a property, or create new membership enrollment codes.<br /><br /> Compatible with OPERA Cloud release 21.5.0.0.<br /><br /><p> This document and all content within is available under the Universal Permissive License v 1.0 (https://oss.oracle.com/licenses/upl). Copyright (c) 2020, 2022 Oracle and/or its affiliates.</p>

API version: 21.5.0.0
Contact: hospitality_apis_ww_grp@oracle.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package crmcfg

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"reflect"
)


// ProfileConfigurationApiService ProfileConfigurationApi service
type ProfileConfigurationApiService service

type ProfileConfigurationApiCopyExclusivePreferencesRequest struct {
	ctx context.Context
	ApiService *ProfileConfigurationApiService
	authorization *string
	xAppKey *string
	xHotelid *string
	exclusivePreferencesCopy *CopyExclusivePreferencesRequest
	xExternalsystem *string
	acceptLanguage *string
}

// Bearer token that needs to be passed which is generated post user authentication
func (r ProfileConfigurationApiCopyExclusivePreferencesRequest) Authorization(authorization string) ProfileConfigurationApiCopyExclusivePreferencesRequest {
	r.authorization = &authorization
	return r
}

// Client or Partner’s Application Key
func (r ProfileConfigurationApiCopyExclusivePreferencesRequest) XAppKey(xAppKey string) ProfileConfigurationApiCopyExclusivePreferencesRequest {
	r.xAppKey = &xAppKey
	return r
}

// Mandatory parameter to identify the hotel code where the end user is logged in
func (r ProfileConfigurationApiCopyExclusivePreferencesRequest) XHotelid(xHotelid string) ProfileConfigurationApiCopyExclusivePreferencesRequest {
	r.xHotelid = &xHotelid
	return r
}

// Request object for copying template Exclusive preferences to hotel(s).
func (r ProfileConfigurationApiCopyExclusivePreferencesRequest) ExclusivePreferencesCopy(exclusivePreferencesCopy CopyExclusivePreferencesRequest) ProfileConfigurationApiCopyExclusivePreferencesRequest {
	r.exclusivePreferencesCopy = &exclusivePreferencesCopy
	return r
}

// External system code.
func (r ProfileConfigurationApiCopyExclusivePreferencesRequest) XExternalsystem(xExternalsystem string) ProfileConfigurationApiCopyExclusivePreferencesRequest {
	r.xExternalsystem = &xExternalsystem
	return r
}

// Language code
func (r ProfileConfigurationApiCopyExclusivePreferencesRequest) AcceptLanguage(acceptLanguage string) ProfileConfigurationApiCopyExclusivePreferencesRequest {
	r.acceptLanguage = &acceptLanguage
	return r
}

func (r ProfileConfigurationApiCopyExclusivePreferencesRequest) Execute() (*Status, *http.Response, error) {
	return r.ApiService.CopyExclusivePreferencesExecute(r)
}

/*
CopyExclusivePreferences Copy Exclusive Preferences

You can use this API to copy Exclusive Preferences. <p><strong>OperationId:</strong>copyExclusivePreferences</p>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ProfileConfigurationApiCopyExclusivePreferencesRequest
*/
func (a *ProfileConfigurationApiService) CopyExclusivePreferences(ctx context.Context) ProfileConfigurationApiCopyExclusivePreferencesRequest {
	return ProfileConfigurationApiCopyExclusivePreferencesRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return Status
func (a *ProfileConfigurationApiService) CopyExclusivePreferencesExecute(r ProfileConfigurationApiCopyExclusivePreferencesRequest) (*Status, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *Status
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProfileConfigurationApiService.CopyExclusivePreferences")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/exclusivePreferences/copy"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json;charset=UTF-8"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json;charset=UTF-8"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xExternalsystem != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-externalsystem", r.xExternalsystem, "")
	}
	if r.acceptLanguage != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accept-Language", r.acceptLanguage, "")
	}
	// body params
	localVarPostBody = r.exclusivePreferencesCopy
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ProfileConfigurationApiCopyPreferencesRequest struct {
	ctx context.Context
	ApiService *ProfileConfigurationApiService
	authorization *string
	xAppKey *string
	xHotelid *string
	preferencesCopy *CopyPreferencesRequest
	xExternalsystem *string
	acceptLanguage *string
}

// Bearer token that needs to be passed which is generated post user authentication
func (r ProfileConfigurationApiCopyPreferencesRequest) Authorization(authorization string) ProfileConfigurationApiCopyPreferencesRequest {
	r.authorization = &authorization
	return r
}

// Client or Partner’s Application Key
func (r ProfileConfigurationApiCopyPreferencesRequest) XAppKey(xAppKey string) ProfileConfigurationApiCopyPreferencesRequest {
	r.xAppKey = &xAppKey
	return r
}

// Mandatory parameter to identify the hotel code where the end user is logged in
func (r ProfileConfigurationApiCopyPreferencesRequest) XHotelid(xHotelid string) ProfileConfigurationApiCopyPreferencesRequest {
	r.xHotelid = &xHotelid
	return r
}

// Request object for copying template preferences to hotel(s).
func (r ProfileConfigurationApiCopyPreferencesRequest) PreferencesCopy(preferencesCopy CopyPreferencesRequest) ProfileConfigurationApiCopyPreferencesRequest {
	r.preferencesCopy = &preferencesCopy
	return r
}

// External system code.
func (r ProfileConfigurationApiCopyPreferencesRequest) XExternalsystem(xExternalsystem string) ProfileConfigurationApiCopyPreferencesRequest {
	r.xExternalsystem = &xExternalsystem
	return r
}

// Language code
func (r ProfileConfigurationApiCopyPreferencesRequest) AcceptLanguage(acceptLanguage string) ProfileConfigurationApiCopyPreferencesRequest {
	r.acceptLanguage = &acceptLanguage
	return r
}

func (r ProfileConfigurationApiCopyPreferencesRequest) Execute() (*Status, *http.Response, error) {
	return r.ApiService.CopyPreferencesExecute(r)
}

/*
CopyPreferences Copy preferences

Use this API to copy preferences. <p><strong>OperationId:</strong>copyPreferences</p>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ProfileConfigurationApiCopyPreferencesRequest
*/
func (a *ProfileConfigurationApiService) CopyPreferences(ctx context.Context) ProfileConfigurationApiCopyPreferencesRequest {
	return ProfileConfigurationApiCopyPreferencesRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return Status
func (a *ProfileConfigurationApiService) CopyPreferencesExecute(r ProfileConfigurationApiCopyPreferencesRequest) (*Status, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *Status
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProfileConfigurationApiService.CopyPreferences")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/preferences/copy"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json;charset=UTF-8"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json;charset=UTF-8"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xExternalsystem != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-externalsystem", r.xExternalsystem, "")
	}
	if r.acceptLanguage != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accept-Language", r.acceptLanguage, "")
	}
	// body params
	localVarPostBody = r.preferencesCopy
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ProfileConfigurationApiDeleteAddressFormatsRequest struct {
	ctx context.Context
	ApiService *ProfileConfigurationApiService
	formatCodes *[]string
	authorization *string
	xAppKey *string
	xHotelid *string
	xExternalsystem *string
	acceptLanguage *string
}

func (r ProfileConfigurationApiDeleteAddressFormatsRequest) FormatCodes(formatCodes []string) ProfileConfigurationApiDeleteAddressFormatsRequest {
	r.formatCodes = &formatCodes
	return r
}

// Bearer token that needs to be passed which is generated post user authentication
func (r ProfileConfigurationApiDeleteAddressFormatsRequest) Authorization(authorization string) ProfileConfigurationApiDeleteAddressFormatsRequest {
	r.authorization = &authorization
	return r
}

// Client or Partner’s Application Key
func (r ProfileConfigurationApiDeleteAddressFormatsRequest) XAppKey(xAppKey string) ProfileConfigurationApiDeleteAddressFormatsRequest {
	r.xAppKey = &xAppKey
	return r
}

// Mandatory parameter to identify the hotel code where the end user is logged in
func (r ProfileConfigurationApiDeleteAddressFormatsRequest) XHotelid(xHotelid string) ProfileConfigurationApiDeleteAddressFormatsRequest {
	r.xHotelid = &xHotelid
	return r
}

// External system code.
func (r ProfileConfigurationApiDeleteAddressFormatsRequest) XExternalsystem(xExternalsystem string) ProfileConfigurationApiDeleteAddressFormatsRequest {
	r.xExternalsystem = &xExternalsystem
	return r
}

// Language code
func (r ProfileConfigurationApiDeleteAddressFormatsRequest) AcceptLanguage(acceptLanguage string) ProfileConfigurationApiDeleteAddressFormatsRequest {
	r.acceptLanguage = &acceptLanguage
	return r
}

func (r ProfileConfigurationApiDeleteAddressFormatsRequest) Execute() (*Status, *http.Response, error) {
	return r.ApiService.DeleteAddressFormatsExecute(r)
}

/*
DeleteAddressFormats Delete address formats

You can use this API to delete address formats. <p><strong>OperationId:</strong>deleteAddressFormats</p>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ProfileConfigurationApiDeleteAddressFormatsRequest
*/
func (a *ProfileConfigurationApiService) DeleteAddressFormats(ctx context.Context) ProfileConfigurationApiDeleteAddressFormatsRequest {
	return ProfileConfigurationApiDeleteAddressFormatsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return Status
func (a *ProfileConfigurationApiService) DeleteAddressFormatsExecute(r ProfileConfigurationApiDeleteAddressFormatsRequest) (*Status, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *Status
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProfileConfigurationApiService.DeleteAddressFormats")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/addressFormats"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	{
		t := *r.formatCodes
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "formatCodes", s.Index(i), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "formatCodes", t, "multi")
		}
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json;charset=UTF-8"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xExternalsystem != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-externalsystem", r.xExternalsystem, "")
	}
	if r.acceptLanguage != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accept-Language", r.acceptLanguage, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ProfileConfigurationApiDeleteCreditRatingsRequest struct {
	ctx context.Context
	ApiService *ProfileConfigurationApiService
	creditRatings *[]string
	authorization *string
	xAppKey *string
	xHotelid *string
	xExternalsystem *string
	acceptLanguage *string
}

func (r ProfileConfigurationApiDeleteCreditRatingsRequest) CreditRatings(creditRatings []string) ProfileConfigurationApiDeleteCreditRatingsRequest {
	r.creditRatings = &creditRatings
	return r
}

// Bearer token that needs to be passed which is generated post user authentication
func (r ProfileConfigurationApiDeleteCreditRatingsRequest) Authorization(authorization string) ProfileConfigurationApiDeleteCreditRatingsRequest {
	r.authorization = &authorization
	return r
}

// Client or Partner’s Application Key
func (r ProfileConfigurationApiDeleteCreditRatingsRequest) XAppKey(xAppKey string) ProfileConfigurationApiDeleteCreditRatingsRequest {
	r.xAppKey = &xAppKey
	return r
}

// Mandatory parameter to identify the hotel code where the end user is logged in
func (r ProfileConfigurationApiDeleteCreditRatingsRequest) XHotelid(xHotelid string) ProfileConfigurationApiDeleteCreditRatingsRequest {
	r.xHotelid = &xHotelid
	return r
}

// External system code.
func (r ProfileConfigurationApiDeleteCreditRatingsRequest) XExternalsystem(xExternalsystem string) ProfileConfigurationApiDeleteCreditRatingsRequest {
	r.xExternalsystem = &xExternalsystem
	return r
}

// Language code
func (r ProfileConfigurationApiDeleteCreditRatingsRequest) AcceptLanguage(acceptLanguage string) ProfileConfigurationApiDeleteCreditRatingsRequest {
	r.acceptLanguage = &acceptLanguage
	return r
}

func (r ProfileConfigurationApiDeleteCreditRatingsRequest) Execute() (*Status, *http.Response, error) {
	return r.ApiService.DeleteCreditRatingsExecute(r)
}

/*
DeleteCreditRatings Delete credit ratings

You can use this API to delete credit ratings. <p><strong>OperationId:</strong>deleteCreditRatings</p>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ProfileConfigurationApiDeleteCreditRatingsRequest
*/
func (a *ProfileConfigurationApiService) DeleteCreditRatings(ctx context.Context) ProfileConfigurationApiDeleteCreditRatingsRequest {
	return ProfileConfigurationApiDeleteCreditRatingsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return Status
func (a *ProfileConfigurationApiService) DeleteCreditRatingsExecute(r ProfileConfigurationApiDeleteCreditRatingsRequest) (*Status, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *Status
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProfileConfigurationApiService.DeleteCreditRatings")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/creditRatings"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	{
		t := *r.creditRatings
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "creditRatings", s.Index(i), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "creditRatings", t, "multi")
		}
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json;charset=UTF-8"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xExternalsystem != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-externalsystem", r.xExternalsystem, "")
	}
	if r.acceptLanguage != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accept-Language", r.acceptLanguage, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ProfileConfigurationApiDeleteExclusivePreferencesRequest struct {
	ctx context.Context
	ApiService *ProfileConfigurationApiService
	hotelId string
	exclusivePreferenceCode *string
	exclusivePreferenceGroup *string
	authorization *string
	xAppKey *string
	xHotelid *string
	xExternalsystem *string
	acceptLanguage *string
}

// Specifies the Exclusive preference code.
func (r ProfileConfigurationApiDeleteExclusivePreferencesRequest) ExclusivePreferenceCode(exclusivePreferenceCode string) ProfileConfigurationApiDeleteExclusivePreferencesRequest {
	r.exclusivePreferenceCode = &exclusivePreferenceCode
	return r
}

// Specifies the preference group the Exclusive preference belongs to.
func (r ProfileConfigurationApiDeleteExclusivePreferencesRequest) ExclusivePreferenceGroup(exclusivePreferenceGroup string) ProfileConfigurationApiDeleteExclusivePreferencesRequest {
	r.exclusivePreferenceGroup = &exclusivePreferenceGroup
	return r
}

// Bearer token that needs to be passed which is generated post user authentication
func (r ProfileConfigurationApiDeleteExclusivePreferencesRequest) Authorization(authorization string) ProfileConfigurationApiDeleteExclusivePreferencesRequest {
	r.authorization = &authorization
	return r
}

// Client or Partner’s Application Key
func (r ProfileConfigurationApiDeleteExclusivePreferencesRequest) XAppKey(xAppKey string) ProfileConfigurationApiDeleteExclusivePreferencesRequest {
	r.xAppKey = &xAppKey
	return r
}

// Mandatory parameter to identify the hotel code where the end user is logged in
func (r ProfileConfigurationApiDeleteExclusivePreferencesRequest) XHotelid(xHotelid string) ProfileConfigurationApiDeleteExclusivePreferencesRequest {
	r.xHotelid = &xHotelid
	return r
}

// External system code.
func (r ProfileConfigurationApiDeleteExclusivePreferencesRequest) XExternalsystem(xExternalsystem string) ProfileConfigurationApiDeleteExclusivePreferencesRequest {
	r.xExternalsystem = &xExternalsystem
	return r
}

// Language code
func (r ProfileConfigurationApiDeleteExclusivePreferencesRequest) AcceptLanguage(acceptLanguage string) ProfileConfigurationApiDeleteExclusivePreferencesRequest {
	r.acceptLanguage = &acceptLanguage
	return r
}

func (r ProfileConfigurationApiDeleteExclusivePreferencesRequest) Execute() (*Status, *http.Response, error) {
	return r.ApiService.DeleteExclusivePreferencesExecute(r)
}

/*
DeleteExclusivePreferences Delete Exclusive Preferences

You can use this API to delete Exclusive Preferences at hotel Level. <p><strong>OperationId:</strong>deleteExclusivePreferences</p>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param hotelId Unique ID of hotel.
 @return ProfileConfigurationApiDeleteExclusivePreferencesRequest
*/
func (a *ProfileConfigurationApiService) DeleteExclusivePreferences(ctx context.Context, hotelId string) ProfileConfigurationApiDeleteExclusivePreferencesRequest {
	return ProfileConfigurationApiDeleteExclusivePreferencesRequest{
		ApiService: a,
		ctx: ctx,
		hotelId: hotelId,
	}
}

// Execute executes the request
//  @return Status
func (a *ProfileConfigurationApiService) DeleteExclusivePreferencesExecute(r ProfileConfigurationApiDeleteExclusivePreferencesRequest) (*Status, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *Status
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProfileConfigurationApiService.DeleteExclusivePreferences")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/hotels/{hotelId}/exclusivePreferences"
	localVarPath = strings.Replace(localVarPath, "{"+"hotelId"+"}", url.PathEscape(parameterValueToString(r.hotelId, "hotelId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if strlen(r.hotelId) < 1 {
		return localVarReturnValue, nil, reportError("hotelId must have at least 1 elements")
	}
	if strlen(r.hotelId) > 2000 {
		return localVarReturnValue, nil, reportError("hotelId must have less than 2000 elements")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "exclusivePreferenceCode", r.exclusivePreferenceCode, "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "exclusivePreferenceGroup", r.exclusivePreferenceGroup, "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json;charset=UTF-8"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xExternalsystem != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-externalsystem", r.xExternalsystem, "")
	}
	if r.acceptLanguage != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accept-Language", r.acceptLanguage, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ProfileConfigurationApiDeleteHotelAndGlobalPreferencesRequest struct {
	ctx context.Context
	ApiService *ProfileConfigurationApiService
	preferenceCode *string
	preferenceGroup *string
	authorization *string
	xAppKey *string
	xHotelid *string
	hotelId *string
	xExternalsystem *string
	acceptLanguage *string
}

// Specifies the preference code.
func (r ProfileConfigurationApiDeleteHotelAndGlobalPreferencesRequest) PreferenceCode(preferenceCode string) ProfileConfigurationApiDeleteHotelAndGlobalPreferencesRequest {
	r.preferenceCode = &preferenceCode
	return r
}

// Specifies the preference group the preference belongs to.
func (r ProfileConfigurationApiDeleteHotelAndGlobalPreferencesRequest) PreferenceGroup(preferenceGroup string) ProfileConfigurationApiDeleteHotelAndGlobalPreferencesRequest {
	r.preferenceGroup = &preferenceGroup
	return r
}

// Bearer token that needs to be passed which is generated post user authentication
func (r ProfileConfigurationApiDeleteHotelAndGlobalPreferencesRequest) Authorization(authorization string) ProfileConfigurationApiDeleteHotelAndGlobalPreferencesRequest {
	r.authorization = &authorization
	return r
}

// Client or Partner’s Application Key
func (r ProfileConfigurationApiDeleteHotelAndGlobalPreferencesRequest) XAppKey(xAppKey string) ProfileConfigurationApiDeleteHotelAndGlobalPreferencesRequest {
	r.xAppKey = &xAppKey
	return r
}

// Mandatory parameter to identify the hotel code where the end user is logged in
func (r ProfileConfigurationApiDeleteHotelAndGlobalPreferencesRequest) XHotelid(xHotelid string) ProfileConfigurationApiDeleteHotelAndGlobalPreferencesRequest {
	r.xHotelid = &xHotelid
	return r
}

// Specifies the hotel code for which the preference is specified.
func (r ProfileConfigurationApiDeleteHotelAndGlobalPreferencesRequest) HotelId(hotelId string) ProfileConfigurationApiDeleteHotelAndGlobalPreferencesRequest {
	r.hotelId = &hotelId
	return r
}

// External system code.
func (r ProfileConfigurationApiDeleteHotelAndGlobalPreferencesRequest) XExternalsystem(xExternalsystem string) ProfileConfigurationApiDeleteHotelAndGlobalPreferencesRequest {
	r.xExternalsystem = &xExternalsystem
	return r
}

// Language code
func (r ProfileConfigurationApiDeleteHotelAndGlobalPreferencesRequest) AcceptLanguage(acceptLanguage string) ProfileConfigurationApiDeleteHotelAndGlobalPreferencesRequest {
	r.acceptLanguage = &acceptLanguage
	return r
}

func (r ProfileConfigurationApiDeleteHotelAndGlobalPreferencesRequest) Execute() (*Status, *http.Response, error) {
	return r.ApiService.DeleteHotelAndGlobalPreferencesExecute(r)
}

/*
DeleteHotelAndGlobalPreferences Delete preferences

Use this API to delete preferences, this API allows us to delete both the Global and Hotel level preferences. <p><strong>OperationId:</strong>deleteHotelAndGlobalPreferences</p>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ProfileConfigurationApiDeleteHotelAndGlobalPreferencesRequest
*/
func (a *ProfileConfigurationApiService) DeleteHotelAndGlobalPreferences(ctx context.Context) ProfileConfigurationApiDeleteHotelAndGlobalPreferencesRequest {
	return ProfileConfigurationApiDeleteHotelAndGlobalPreferencesRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return Status
func (a *ProfileConfigurationApiService) DeleteHotelAndGlobalPreferencesExecute(r ProfileConfigurationApiDeleteHotelAndGlobalPreferencesRequest) (*Status, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *Status
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProfileConfigurationApiService.DeleteHotelAndGlobalPreferences")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/preference"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	parameterAddToHeaderOrQuery(localVarQueryParams, "preferenceCode", r.preferenceCode, "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "preferenceGroup", r.preferenceGroup, "")
	if r.hotelId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "hotelId", r.hotelId, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json;charset=UTF-8"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xExternalsystem != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-externalsystem", r.xExternalsystem, "")
	}
	if r.acceptLanguage != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accept-Language", r.acceptLanguage, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ProfileConfigurationApiDeletePreferenceGroupsRequest struct {
	ctx context.Context
	ApiService *ProfileConfigurationApiService
	preferenceGroup *string
	authorization *string
	xAppKey *string
	xHotelid *string
	xExternalsystem *string
	acceptLanguage *string
}

// Code identifying the preference group.
func (r ProfileConfigurationApiDeletePreferenceGroupsRequest) PreferenceGroup(preferenceGroup string) ProfileConfigurationApiDeletePreferenceGroupsRequest {
	r.preferenceGroup = &preferenceGroup
	return r
}

// Bearer token that needs to be passed which is generated post user authentication
func (r ProfileConfigurationApiDeletePreferenceGroupsRequest) Authorization(authorization string) ProfileConfigurationApiDeletePreferenceGroupsRequest {
	r.authorization = &authorization
	return r
}

// Client or Partner’s Application Key
func (r ProfileConfigurationApiDeletePreferenceGroupsRequest) XAppKey(xAppKey string) ProfileConfigurationApiDeletePreferenceGroupsRequest {
	r.xAppKey = &xAppKey
	return r
}

// Mandatory parameter to identify the hotel code where the end user is logged in
func (r ProfileConfigurationApiDeletePreferenceGroupsRequest) XHotelid(xHotelid string) ProfileConfigurationApiDeletePreferenceGroupsRequest {
	r.xHotelid = &xHotelid
	return r
}

// External system code.
func (r ProfileConfigurationApiDeletePreferenceGroupsRequest) XExternalsystem(xExternalsystem string) ProfileConfigurationApiDeletePreferenceGroupsRequest {
	r.xExternalsystem = &xExternalsystem
	return r
}

// Language code
func (r ProfileConfigurationApiDeletePreferenceGroupsRequest) AcceptLanguage(acceptLanguage string) ProfileConfigurationApiDeletePreferenceGroupsRequest {
	r.acceptLanguage = &acceptLanguage
	return r
}

func (r ProfileConfigurationApiDeletePreferenceGroupsRequest) Execute() (*Status, *http.Response, error) {
	return r.ApiService.DeletePreferenceGroupsExecute(r)
}

/*
DeletePreferenceGroups Delete preference groups

This will allow you to delete an existing Preference Group. <p><strong>OperationId:</strong>deletePreferenceGroups</p>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ProfileConfigurationApiDeletePreferenceGroupsRequest
*/
func (a *ProfileConfigurationApiService) DeletePreferenceGroups(ctx context.Context) ProfileConfigurationApiDeletePreferenceGroupsRequest {
	return ProfileConfigurationApiDeletePreferenceGroupsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return Status
func (a *ProfileConfigurationApiService) DeletePreferenceGroupsExecute(r ProfileConfigurationApiDeletePreferenceGroupsRequest) (*Status, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *Status
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProfileConfigurationApiService.DeletePreferenceGroups")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/preferenceGroups"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	parameterAddToHeaderOrQuery(localVarQueryParams, "preferenceGroup", r.preferenceGroup, "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json;charset=UTF-8"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xExternalsystem != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-externalsystem", r.xExternalsystem, "")
	}
	if r.acceptLanguage != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accept-Language", r.acceptLanguage, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ProfileConfigurationApiDeletePreferencesRequest struct {
	ctx context.Context
	ApiService *ProfileConfigurationApiService
	hotelId string
	preferenceCode *string
	preferenceGroup *string
	authorization *string
	xAppKey *string
	xHotelid *string
	xExternalsystem *string
	acceptLanguage *string
}

// Specifies the preference code.
func (r ProfileConfigurationApiDeletePreferencesRequest) PreferenceCode(preferenceCode string) ProfileConfigurationApiDeletePreferencesRequest {
	r.preferenceCode = &preferenceCode
	return r
}

// Specifies the preference group the preference belongs to.
func (r ProfileConfigurationApiDeletePreferencesRequest) PreferenceGroup(preferenceGroup string) ProfileConfigurationApiDeletePreferencesRequest {
	r.preferenceGroup = &preferenceGroup
	return r
}

// Bearer token that needs to be passed which is generated post user authentication
func (r ProfileConfigurationApiDeletePreferencesRequest) Authorization(authorization string) ProfileConfigurationApiDeletePreferencesRequest {
	r.authorization = &authorization
	return r
}

// Client or Partner’s Application Key
func (r ProfileConfigurationApiDeletePreferencesRequest) XAppKey(xAppKey string) ProfileConfigurationApiDeletePreferencesRequest {
	r.xAppKey = &xAppKey
	return r
}

// Mandatory parameter to identify the hotel code where the end user is logged in
func (r ProfileConfigurationApiDeletePreferencesRequest) XHotelid(xHotelid string) ProfileConfigurationApiDeletePreferencesRequest {
	r.xHotelid = &xHotelid
	return r
}

// External system code.
func (r ProfileConfigurationApiDeletePreferencesRequest) XExternalsystem(xExternalsystem string) ProfileConfigurationApiDeletePreferencesRequest {
	r.xExternalsystem = &xExternalsystem
	return r
}

// Language code
func (r ProfileConfigurationApiDeletePreferencesRequest) AcceptLanguage(acceptLanguage string) ProfileConfigurationApiDeletePreferencesRequest {
	r.acceptLanguage = &acceptLanguage
	return r
}

func (r ProfileConfigurationApiDeletePreferencesRequest) Execute() (*Status, *http.Response, error) {
	return r.ApiService.DeletePreferencesExecute(r)
}

/*
DeletePreferences Delete preferences

Use this API to delete preferences. <p><strong>OperationId:</strong>deletePreferences</p>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param hotelId Unique ID of hotel.
 @return ProfileConfigurationApiDeletePreferencesRequest
*/
func (a *ProfileConfigurationApiService) DeletePreferences(ctx context.Context, hotelId string) ProfileConfigurationApiDeletePreferencesRequest {
	return ProfileConfigurationApiDeletePreferencesRequest{
		ApiService: a,
		ctx: ctx,
		hotelId: hotelId,
	}
}

// Execute executes the request
//  @return Status
func (a *ProfileConfigurationApiService) DeletePreferencesExecute(r ProfileConfigurationApiDeletePreferencesRequest) (*Status, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *Status
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProfileConfigurationApiService.DeletePreferences")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/hotels/{hotelId}/preferences"
	localVarPath = strings.Replace(localVarPath, "{"+"hotelId"+"}", url.PathEscape(parameterValueToString(r.hotelId, "hotelId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if strlen(r.hotelId) < 1 {
		return localVarReturnValue, nil, reportError("hotelId must have at least 1 elements")
	}
	if strlen(r.hotelId) > 2000 {
		return localVarReturnValue, nil, reportError("hotelId must have less than 2000 elements")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "preferenceCode", r.preferenceCode, "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "preferenceGroup", r.preferenceGroup, "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json;charset=UTF-8"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xExternalsystem != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-externalsystem", r.xExternalsystem, "")
	}
	if r.acceptLanguage != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accept-Language", r.acceptLanguage, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ProfileConfigurationApiDeleteProfileConfigServiceCacheRequest struct {
	ctx context.Context
	ApiService *ProfileConfigurationApiService
	authorization *string
	xAppKey *string
	xHotelid *string
	xExternalsystem *string
	acceptLanguage *string
}

// Bearer token that needs to be passed which is generated post user authentication
func (r ProfileConfigurationApiDeleteProfileConfigServiceCacheRequest) Authorization(authorization string) ProfileConfigurationApiDeleteProfileConfigServiceCacheRequest {
	r.authorization = &authorization
	return r
}

// Client or Partner’s Application Key
func (r ProfileConfigurationApiDeleteProfileConfigServiceCacheRequest) XAppKey(xAppKey string) ProfileConfigurationApiDeleteProfileConfigServiceCacheRequest {
	r.xAppKey = &xAppKey
	return r
}

// Mandatory parameter to identify the hotel code where the end user is logged in
func (r ProfileConfigurationApiDeleteProfileConfigServiceCacheRequest) XHotelid(xHotelid string) ProfileConfigurationApiDeleteProfileConfigServiceCacheRequest {
	r.xHotelid = &xHotelid
	return r
}

// External system code.
func (r ProfileConfigurationApiDeleteProfileConfigServiceCacheRequest) XExternalsystem(xExternalsystem string) ProfileConfigurationApiDeleteProfileConfigServiceCacheRequest {
	r.xExternalsystem = &xExternalsystem
	return r
}

// Language code
func (r ProfileConfigurationApiDeleteProfileConfigServiceCacheRequest) AcceptLanguage(acceptLanguage string) ProfileConfigurationApiDeleteProfileConfigServiceCacheRequest {
	r.acceptLanguage = &acceptLanguage
	return r
}

func (r ProfileConfigurationApiDeleteProfileConfigServiceCacheRequest) Execute() (*Status, *http.Response, error) {
	return r.ApiService.DeleteProfileConfigServiceCacheExecute(r)
}

/*
DeleteProfileConfigServiceCache  clear cache

Clear Profile Configuratoin Cache <p><strong>OperationId:</strong>deleteProfileConfigServiceCache</p>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ProfileConfigurationApiDeleteProfileConfigServiceCacheRequest
*/
func (a *ProfileConfigurationApiService) DeleteProfileConfigServiceCache(ctx context.Context) ProfileConfigurationApiDeleteProfileConfigServiceCacheRequest {
	return ProfileConfigurationApiDeleteProfileConfigServiceCacheRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return Status
func (a *ProfileConfigurationApiService) DeleteProfileConfigServiceCacheExecute(r ProfileConfigurationApiDeleteProfileConfigServiceCacheRequest) (*Status, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *Status
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProfileConfigurationApiService.DeleteProfileConfigServiceCache")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/services/profile/cache"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json;charset=UTF-8"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xExternalsystem != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-externalsystem", r.xExternalsystem, "")
	}
	if r.acceptLanguage != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accept-Language", r.acceptLanguage, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ProfileConfigurationApiDeleteProfileNameValidationsRequest struct {
	ctx context.Context
	ApiService *ProfileConfigurationApiService
	profileType *string
	profileName *string
	authorization *string
	xAppKey *string
	xHotelid *string
	xExternalsystem *string
	acceptLanguage *string
}

// Simple Type for Profile Name Validations Type. e.g. Company,Travel Agent,Source.
func (r ProfileConfigurationApiDeleteProfileNameValidationsRequest) ProfileType(profileType string) ProfileConfigurationApiDeleteProfileNameValidationsRequest {
	r.profileType = &profileType
	return r
}

// Name of the Profile.
func (r ProfileConfigurationApiDeleteProfileNameValidationsRequest) ProfileName(profileName string) ProfileConfigurationApiDeleteProfileNameValidationsRequest {
	r.profileName = &profileName
	return r
}

// Bearer token that needs to be passed which is generated post user authentication
func (r ProfileConfigurationApiDeleteProfileNameValidationsRequest) Authorization(authorization string) ProfileConfigurationApiDeleteProfileNameValidationsRequest {
	r.authorization = &authorization
	return r
}

// Client or Partner’s Application Key
func (r ProfileConfigurationApiDeleteProfileNameValidationsRequest) XAppKey(xAppKey string) ProfileConfigurationApiDeleteProfileNameValidationsRequest {
	r.xAppKey = &xAppKey
	return r
}

// Mandatory parameter to identify the hotel code where the end user is logged in
func (r ProfileConfigurationApiDeleteProfileNameValidationsRequest) XHotelid(xHotelid string) ProfileConfigurationApiDeleteProfileNameValidationsRequest {
	r.xHotelid = &xHotelid
	return r
}

// External system code.
func (r ProfileConfigurationApiDeleteProfileNameValidationsRequest) XExternalsystem(xExternalsystem string) ProfileConfigurationApiDeleteProfileNameValidationsRequest {
	r.xExternalsystem = &xExternalsystem
	return r
}

// Language code
func (r ProfileConfigurationApiDeleteProfileNameValidationsRequest) AcceptLanguage(acceptLanguage string) ProfileConfigurationApiDeleteProfileNameValidationsRequest {
	r.acceptLanguage = &acceptLanguage
	return r
}

func (r ProfileConfigurationApiDeleteProfileNameValidationsRequest) Execute() (*Status, *http.Response, error) {
	return r.ApiService.DeleteProfileNameValidationsExecute(r)
}

/*
DeleteProfileNameValidations Delete Profile Name Validations

You can use this API to delete Profile Name Validations. <p><strong>OperationId:</strong>deleteProfileNameValidations</p>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ProfileConfigurationApiDeleteProfileNameValidationsRequest
*/
func (a *ProfileConfigurationApiService) DeleteProfileNameValidations(ctx context.Context) ProfileConfigurationApiDeleteProfileNameValidationsRequest {
	return ProfileConfigurationApiDeleteProfileNameValidationsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return Status
func (a *ProfileConfigurationApiService) DeleteProfileNameValidationsExecute(r ProfileConfigurationApiDeleteProfileNameValidationsRequest) (*Status, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *Status
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProfileConfigurationApiService.DeleteProfileNameValidations")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/profileNameValidations"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	parameterAddToHeaderOrQuery(localVarQueryParams, "profileType", r.profileType, "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "profileName", r.profileName, "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json;charset=UTF-8"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xExternalsystem != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-externalsystem", r.xExternalsystem, "")
	}
	if r.acceptLanguage != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accept-Language", r.acceptLanguage, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ProfileConfigurationApiDeleteProfileRelationshipsRequest struct {
	ctx context.Context
	ApiService *ProfileConfigurationApiService
	fromType *string
	toType *string
	fromCode *string
	toCode *string
	authorization *string
	xAppKey *string
	xHotelid *string
	xExternalsystem *string
	acceptLanguage *string
}

// From type to process
func (r ProfileConfigurationApiDeleteProfileRelationshipsRequest) FromType(fromType string) ProfileConfigurationApiDeleteProfileRelationshipsRequest {
	r.fromType = &fromType
	return r
}

// To type to process
func (r ProfileConfigurationApiDeleteProfileRelationshipsRequest) ToType(toType string) ProfileConfigurationApiDeleteProfileRelationshipsRequest {
	r.toType = &toType
	return r
}

// From code to process
func (r ProfileConfigurationApiDeleteProfileRelationshipsRequest) FromCode(fromCode string) ProfileConfigurationApiDeleteProfileRelationshipsRequest {
	r.fromCode = &fromCode
	return r
}

// To code to process
func (r ProfileConfigurationApiDeleteProfileRelationshipsRequest) ToCode(toCode string) ProfileConfigurationApiDeleteProfileRelationshipsRequest {
	r.toCode = &toCode
	return r
}

// Bearer token that needs to be passed which is generated post user authentication
func (r ProfileConfigurationApiDeleteProfileRelationshipsRequest) Authorization(authorization string) ProfileConfigurationApiDeleteProfileRelationshipsRequest {
	r.authorization = &authorization
	return r
}

// Client or Partner’s Application Key
func (r ProfileConfigurationApiDeleteProfileRelationshipsRequest) XAppKey(xAppKey string) ProfileConfigurationApiDeleteProfileRelationshipsRequest {
	r.xAppKey = &xAppKey
	return r
}

// Mandatory parameter to identify the hotel code where the end user is logged in
func (r ProfileConfigurationApiDeleteProfileRelationshipsRequest) XHotelid(xHotelid string) ProfileConfigurationApiDeleteProfileRelationshipsRequest {
	r.xHotelid = &xHotelid
	return r
}

// External system code.
func (r ProfileConfigurationApiDeleteProfileRelationshipsRequest) XExternalsystem(xExternalsystem string) ProfileConfigurationApiDeleteProfileRelationshipsRequest {
	r.xExternalsystem = &xExternalsystem
	return r
}

// Language code
func (r ProfileConfigurationApiDeleteProfileRelationshipsRequest) AcceptLanguage(acceptLanguage string) ProfileConfigurationApiDeleteProfileRelationshipsRequest {
	r.acceptLanguage = &acceptLanguage
	return r
}

func (r ProfileConfigurationApiDeleteProfileRelationshipsRequest) Execute() (*Status, *http.Response, error) {
	return r.ApiService.DeleteProfileRelationshipsExecute(r)
}

/*
DeleteProfileRelationships Delete profile relationships

You can use this API to delete profile relationships. <p><strong>OperationId:</strong>deleteProfileRelationships</p>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ProfileConfigurationApiDeleteProfileRelationshipsRequest
*/
func (a *ProfileConfigurationApiService) DeleteProfileRelationships(ctx context.Context) ProfileConfigurationApiDeleteProfileRelationshipsRequest {
	return ProfileConfigurationApiDeleteProfileRelationshipsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return Status
func (a *ProfileConfigurationApiService) DeleteProfileRelationshipsExecute(r ProfileConfigurationApiDeleteProfileRelationshipsRequest) (*Status, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *Status
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProfileConfigurationApiService.DeleteProfileRelationships")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/relationships"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	parameterAddToHeaderOrQuery(localVarQueryParams, "fromType", r.fromType, "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "toType", r.toType, "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "fromCode", r.fromCode, "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "toCode", r.toCode, "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json;charset=UTF-8"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xExternalsystem != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-externalsystem", r.xExternalsystem, "")
	}
	if r.acceptLanguage != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accept-Language", r.acceptLanguage, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ProfileConfigurationApiDeleteTemplateExclusivePreferencesRequest struct {
	ctx context.Context
	ApiService *ProfileConfigurationApiService
	exclusivePreferenceCode *string
	exclusivePreferenceGroup *string
	authorization *string
	xAppKey *string
	xHotelid *string
	xExternalsystem *string
	acceptLanguage *string
}

// Specifies the Exclusive preference code.
func (r ProfileConfigurationApiDeleteTemplateExclusivePreferencesRequest) ExclusivePreferenceCode(exclusivePreferenceCode string) ProfileConfigurationApiDeleteTemplateExclusivePreferencesRequest {
	r.exclusivePreferenceCode = &exclusivePreferenceCode
	return r
}

// Specifies the preference group the Exclusive preference belongs to.
func (r ProfileConfigurationApiDeleteTemplateExclusivePreferencesRequest) ExclusivePreferenceGroup(exclusivePreferenceGroup string) ProfileConfigurationApiDeleteTemplateExclusivePreferencesRequest {
	r.exclusivePreferenceGroup = &exclusivePreferenceGroup
	return r
}

// Bearer token that needs to be passed which is generated post user authentication
func (r ProfileConfigurationApiDeleteTemplateExclusivePreferencesRequest) Authorization(authorization string) ProfileConfigurationApiDeleteTemplateExclusivePreferencesRequest {
	r.authorization = &authorization
	return r
}

// Client or Partner’s Application Key
func (r ProfileConfigurationApiDeleteTemplateExclusivePreferencesRequest) XAppKey(xAppKey string) ProfileConfigurationApiDeleteTemplateExclusivePreferencesRequest {
	r.xAppKey = &xAppKey
	return r
}

// Mandatory parameter to identify the hotel code where the end user is logged in
func (r ProfileConfigurationApiDeleteTemplateExclusivePreferencesRequest) XHotelid(xHotelid string) ProfileConfigurationApiDeleteTemplateExclusivePreferencesRequest {
	r.xHotelid = &xHotelid
	return r
}

// External system code.
func (r ProfileConfigurationApiDeleteTemplateExclusivePreferencesRequest) XExternalsystem(xExternalsystem string) ProfileConfigurationApiDeleteTemplateExclusivePreferencesRequest {
	r.xExternalsystem = &xExternalsystem
	return r
}

// Language code
func (r ProfileConfigurationApiDeleteTemplateExclusivePreferencesRequest) AcceptLanguage(acceptLanguage string) ProfileConfigurationApiDeleteTemplateExclusivePreferencesRequest {
	r.acceptLanguage = &acceptLanguage
	return r
}

func (r ProfileConfigurationApiDeleteTemplateExclusivePreferencesRequest) Execute() (*Status, *http.Response, error) {
	return r.ApiService.DeleteTemplateExclusivePreferencesExecute(r)
}

/*
DeleteTemplateExclusivePreferences Delete template Exclusive Preferences

You can use this API to delete template Exclusive Preferences. <p><strong>OperationId:</strong>deleteTemplateExclusivePreferences</p>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ProfileConfigurationApiDeleteTemplateExclusivePreferencesRequest
*/
func (a *ProfileConfigurationApiService) DeleteTemplateExclusivePreferences(ctx context.Context) ProfileConfigurationApiDeleteTemplateExclusivePreferencesRequest {
	return ProfileConfigurationApiDeleteTemplateExclusivePreferencesRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return Status
func (a *ProfileConfigurationApiService) DeleteTemplateExclusivePreferencesExecute(r ProfileConfigurationApiDeleteTemplateExclusivePreferencesRequest) (*Status, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *Status
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProfileConfigurationApiService.DeleteTemplateExclusivePreferences")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/exclusivePreferences"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	parameterAddToHeaderOrQuery(localVarQueryParams, "exclusivePreferenceCode", r.exclusivePreferenceCode, "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "exclusivePreferenceGroup", r.exclusivePreferenceGroup, "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json;charset=UTF-8"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xExternalsystem != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-externalsystem", r.xExternalsystem, "")
	}
	if r.acceptLanguage != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accept-Language", r.acceptLanguage, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ProfileConfigurationApiDeleteTemplatePreferencesRequest struct {
	ctx context.Context
	ApiService *ProfileConfigurationApiService
	preferenceCode *string
	preferenceGroup *string
	authorization *string
	xAppKey *string
	xHotelid *string
	xExternalsystem *string
	acceptLanguage *string
}

// Specifies the preference code.
func (r ProfileConfigurationApiDeleteTemplatePreferencesRequest) PreferenceCode(preferenceCode string) ProfileConfigurationApiDeleteTemplatePreferencesRequest {
	r.preferenceCode = &preferenceCode
	return r
}

// Specifies the preference group the preference belongs to.
func (r ProfileConfigurationApiDeleteTemplatePreferencesRequest) PreferenceGroup(preferenceGroup string) ProfileConfigurationApiDeleteTemplatePreferencesRequest {
	r.preferenceGroup = &preferenceGroup
	return r
}

// Bearer token that needs to be passed which is generated post user authentication
func (r ProfileConfigurationApiDeleteTemplatePreferencesRequest) Authorization(authorization string) ProfileConfigurationApiDeleteTemplatePreferencesRequest {
	r.authorization = &authorization
	return r
}

// Client or Partner’s Application Key
func (r ProfileConfigurationApiDeleteTemplatePreferencesRequest) XAppKey(xAppKey string) ProfileConfigurationApiDeleteTemplatePreferencesRequest {
	r.xAppKey = &xAppKey
	return r
}

// Mandatory parameter to identify the hotel code where the end user is logged in
func (r ProfileConfigurationApiDeleteTemplatePreferencesRequest) XHotelid(xHotelid string) ProfileConfigurationApiDeleteTemplatePreferencesRequest {
	r.xHotelid = &xHotelid
	return r
}

// External system code.
func (r ProfileConfigurationApiDeleteTemplatePreferencesRequest) XExternalsystem(xExternalsystem string) ProfileConfigurationApiDeleteTemplatePreferencesRequest {
	r.xExternalsystem = &xExternalsystem
	return r
}

// Language code
func (r ProfileConfigurationApiDeleteTemplatePreferencesRequest) AcceptLanguage(acceptLanguage string) ProfileConfigurationApiDeleteTemplatePreferencesRequest {
	r.acceptLanguage = &acceptLanguage
	return r
}

func (r ProfileConfigurationApiDeleteTemplatePreferencesRequest) Execute() (*Status, *http.Response, error) {
	return r.ApiService.DeleteTemplatePreferencesExecute(r)
}

/*
DeleteTemplatePreferences Delete template preferences

You can use this API to delete template preferences. <p><strong>OperationId:</strong>deleteTemplatePreferences</p>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ProfileConfigurationApiDeleteTemplatePreferencesRequest
*/
func (a *ProfileConfigurationApiService) DeleteTemplatePreferences(ctx context.Context) ProfileConfigurationApiDeleteTemplatePreferencesRequest {
	return ProfileConfigurationApiDeleteTemplatePreferencesRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return Status
func (a *ProfileConfigurationApiService) DeleteTemplatePreferencesExecute(r ProfileConfigurationApiDeleteTemplatePreferencesRequest) (*Status, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *Status
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProfileConfigurationApiService.DeleteTemplatePreferences")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/preferences"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	parameterAddToHeaderOrQuery(localVarQueryParams, "preferenceCode", r.preferenceCode, "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "preferenceGroup", r.preferenceGroup, "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json;charset=UTF-8"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xExternalsystem != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-externalsystem", r.xExternalsystem, "")
	}
	if r.acceptLanguage != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accept-Language", r.acceptLanguage, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ProfileConfigurationApiGetAddressFormatsRequest struct {
	ctx context.Context
	ApiService *ProfileConfigurationApiService
	authorization *string
	xAppKey *string
	xHotelid *string
	codes *[]string
	wildCard *string
	xExternalsystem *string
	acceptLanguage *string
}

// Bearer token that needs to be passed which is generated post user authentication
func (r ProfileConfigurationApiGetAddressFormatsRequest) Authorization(authorization string) ProfileConfigurationApiGetAddressFormatsRequest {
	r.authorization = &authorization
	return r
}

// Client or Partner’s Application Key
func (r ProfileConfigurationApiGetAddressFormatsRequest) XAppKey(xAppKey string) ProfileConfigurationApiGetAddressFormatsRequest {
	r.xAppKey = &xAppKey
	return r
}

// Mandatory parameter to identify the hotel code where the end user is logged in
func (r ProfileConfigurationApiGetAddressFormatsRequest) XHotelid(xHotelid string) ProfileConfigurationApiGetAddressFormatsRequest {
	r.xHotelid = &xHotelid
	return r
}

// Codes to be searched.
func (r ProfileConfigurationApiGetAddressFormatsRequest) Codes(codes []string) ProfileConfigurationApiGetAddressFormatsRequest {
	r.codes = &codes
	return r
}

// Wildcard search on the code.
func (r ProfileConfigurationApiGetAddressFormatsRequest) WildCard(wildCard string) ProfileConfigurationApiGetAddressFormatsRequest {
	r.wildCard = &wildCard
	return r
}

// External system code.
func (r ProfileConfigurationApiGetAddressFormatsRequest) XExternalsystem(xExternalsystem string) ProfileConfigurationApiGetAddressFormatsRequest {
	r.xExternalsystem = &xExternalsystem
	return r
}

// Language code
func (r ProfileConfigurationApiGetAddressFormatsRequest) AcceptLanguage(acceptLanguage string) ProfileConfigurationApiGetAddressFormatsRequest {
	r.acceptLanguage = &acceptLanguage
	return r
}

func (r ProfileConfigurationApiGetAddressFormatsRequest) Execute() (*AddressFormats, *http.Response, error) {
	return r.ApiService.GetAddressFormatsExecute(r)
}

/*
GetAddressFormats Get address formats

You can use this API to get address formats. <p><strong>OperationId:</strong>getAddressFormats</p>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ProfileConfigurationApiGetAddressFormatsRequest
*/
func (a *ProfileConfigurationApiService) GetAddressFormats(ctx context.Context) ProfileConfigurationApiGetAddressFormatsRequest {
	return ProfileConfigurationApiGetAddressFormatsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return AddressFormats
func (a *ProfileConfigurationApiService) GetAddressFormatsExecute(r ProfileConfigurationApiGetAddressFormatsRequest) (*AddressFormats, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AddressFormats
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProfileConfigurationApiService.GetAddressFormats")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/addressFormats"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.codes != nil {
		t := *r.codes
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "codes", s.Index(i), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "codes", t, "multi")
		}
	}
	if r.wildCard != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "wildCard", r.wildCard, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json;charset=UTF-8"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xExternalsystem != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-externalsystem", r.xExternalsystem, "")
	}
	if r.acceptLanguage != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accept-Language", r.acceptLanguage, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
[...]
