/*
OPERA Cloud API for Customer Management Service

This API deals with the different aspect of the CustomerManagement.<br /><br /> Compatible with OPERA Cloud release 26.2.0.0.<br /><br /><p> This document and all content within is available under the Universal Permissive License v 1.0 (https://oss.oracle.com/licenses/upl). Copyright (c) 2020, 2026 Oracle and/or its affiliates.</p>

API version: 26.2.0.0
Contact: hospitality_apis_ww_grp@oracle.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package cms

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"reflect"
)


// CustomerManagementAPIService CustomerManagementAPI service
type CustomerManagementAPIService service

type CustomerManagementAPIDeleteTrackItItemsRequest struct {
	ctx context.Context
	ApiService *CustomerManagementAPIService
	hotelId string
	authorization *string
	xAppKey *string
	xHotelid *string
	trackItId *[]string
	trackItIdContext *[]string
	trackItIdType *[]string
	externalData *string
	xRequestId *string
	xOriginatingApplication *string
	xExternalsystem *string
	acceptLanguage *string
}

// Bearer token that needs to be passed which is generated post user authentication
func (r CustomerManagementAPIDeleteTrackItItemsRequest) Authorization(authorization string) CustomerManagementAPIDeleteTrackItItemsRequest {
	r.authorization = &authorization
	return r
}

// Client or Partner&#39;s Application Key
func (r CustomerManagementAPIDeleteTrackItItemsRequest) XAppKey(xAppKey string) CustomerManagementAPIDeleteTrackItItemsRequest {
	r.xAppKey = &xAppKey
	return r
}

// Mandatory parameter to identify the hotel code where the end user is logged in
func (r CustomerManagementAPIDeleteTrackItItemsRequest) XHotelid(xHotelid string) CustomerManagementAPIDeleteTrackItItemsRequest {
	r.xHotelid = &xHotelid
	return r
}

// A unique identifying value assigned by the creating system. The ID attribute may be used to reference a primary-key value within a database or in a particular implementation.
func (r CustomerManagementAPIDeleteTrackItItemsRequest) TrackItId(trackItId []string) CustomerManagementAPIDeleteTrackItItemsRequest {
	r.trackItId = &trackItId
	return r
}

// Used to identify the source of the identifier (e.g., IATA, ABTA).
func (r CustomerManagementAPIDeleteTrackItItemsRequest) TrackItIdContext(trackItIdContext []string) CustomerManagementAPIDeleteTrackItItemsRequest {
	r.trackItIdContext = &trackItIdContext
	return r
}

// A reference to the type of object defined by the UniqueID element.
func (r CustomerManagementAPIDeleteTrackItItemsRequest) TrackItIdType(trackItIdType []string) CustomerManagementAPIDeleteTrackItItemsRequest {
	r.trackItIdType = &trackItIdType
	return r
}

// Pass this header as true, if payload needs DVM
func (r CustomerManagementAPIDeleteTrackItItemsRequest) ExternalData(externalData string) CustomerManagementAPIDeleteTrackItItemsRequest {
	r.externalData = &externalData
	return r
}

// Request Id of an incoming request
func (r CustomerManagementAPIDeleteTrackItItemsRequest) XRequestId(xRequestId string) CustomerManagementAPIDeleteTrackItItemsRequest {
	r.xRequestId = &xRequestId
	return r
}

// Customer&#39;s Integration Application Id
func (r CustomerManagementAPIDeleteTrackItItemsRequest) XOriginatingApplication(xOriginatingApplication string) CustomerManagementAPIDeleteTrackItItemsRequest {
	r.xOriginatingApplication = &xOriginatingApplication
	return r
}

// External system code.
func (r CustomerManagementAPIDeleteTrackItItemsRequest) XExternalsystem(xExternalsystem string) CustomerManagementAPIDeleteTrackItItemsRequest {
	r.xExternalsystem = &xExternalsystem
	return r
}

// Language code
func (r CustomerManagementAPIDeleteTrackItItemsRequest) AcceptLanguage(acceptLanguage string) CustomerManagementAPIDeleteTrackItItemsRequest {
	r.acceptLanguage = &acceptLanguage
	return r
}

func (r CustomerManagementAPIDeleteTrackItItemsRequest) Execute() (*Status, *http.Response, error) {
	return r.ApiService.DeleteTrackItItemsExecute(r)
}

/*
DeleteTrackItItems Deletes track it items

Delete a Track It Item for a property. <p><strong>OperationId:</strong>deleteTrackItItems</p>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param hotelId
 @return CustomerManagementAPIDeleteTrackItItemsRequest
*/
func (a *CustomerManagementAPIService) DeleteTrackItItems(ctx context.Context, hotelId string) CustomerManagementAPIDeleteTrackItItemsRequest {
	return CustomerManagementAPIDeleteTrackItItemsRequest{
		ApiService: a,
		ctx: ctx,
		hotelId: hotelId,
	}
}

// Execute executes the request
//  @return Status
func (a *CustomerManagementAPIService) DeleteTrackItItemsExecute(r CustomerManagementAPIDeleteTrackItItemsRequest) (*Status, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *Status
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CustomerManagementAPIService.DeleteTrackItItems")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/hotels/{hotelId}/trackItems"
	localVarPath = strings.Replace(localVarPath, "{"+"hotelId"+"}", url.PathEscape(parameterValueToString(r.hotelId, "hotelId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if strlen(r.hotelId) < 1 {
		return localVarReturnValue, nil, reportError("hotelId must have at least 1 elements")
	}
	if strlen(r.hotelId) > 2000 {
		return localVarReturnValue, nil, reportError("hotelId must have less than 2000 elements")
	}

	if r.trackItId != nil {
		t := *r.trackItId
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "trackItId", s.Index(i).Interface(), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "trackItId", t, "multi")
		}
  }
	if r.trackItIdContext != nil {
		t := *r.trackItIdContext
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "trackItIdContext", s.Index(i).Interface(), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "trackItIdContext", t, "multi")
		}
  }
	if r.trackItIdType != nil {
		t := *r.trackItIdType
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "trackItIdType", s.Index(i).Interface(), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "trackItIdType", t, "multi")
		}
  }
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json;charset=UTF-8"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "")
	}
	if r.externalData != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "externalData", r.externalData, "")
	}
	if r.xAppKey != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-app-key", r.xAppKey, "")
	}
	if r.xRequestId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-request-id", r.xRequestId, "")
	}
	if r.xOriginatingApplication != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-originating-application", r.xOriginatingApplication, "")
	}
	if r.xHotelid != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-hotelid", r.xHotelid, "")
	}
	if r.xExternalsystem != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-externalsystem", r.xExternalsystem, "")
	}
	if r.acceptLanguage != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accept-Language", r.acceptLanguage, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if a.client.cfg.ResponseMiddleware != nil {
		err = a.client.cfg.ResponseMiddleware(localVarHTTPResponse, localVarBody)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CustomerManagementAPIGetTrackItItemsRequest struct {
	ctx context.Context
	ApiService *CustomerManagementAPIService
	hotelId string
	authorization *string
	xAppKey *string
	xHotelid *string
	ticketId *string
	reservationId *string
	reservationIdContext *string
	reservationIdType *string
	givenName *string
	surname *string
	trackItGroups *[]string
	types *[]string
	locations *[]string
	actions *[]string
	actionStatuses *[]string
	appUserId *string
	appUserIdContext *string
	appUserIdType *string
	assignedStatuses *[]string
	room *string
	followUpDate *string
	createdOn *string
	createdByUserId *string
	createdByUserIdContext *string
	createdByUserIdType *string
	description *string
	externalData *string
	xRequestId *string
	xOriginatingApplication *string
	xExternalsystem *string
	acceptLanguage *string
}

// Bearer token that needs to be passed which is generated post user authentication
func (r CustomerManagementAPIGetTrackItItemsRequest) Authorization(authorization string) CustomerManagementAPIGetTrackItItemsRequest {
	r.authorization = &authorization
	return r
}

// Client or Partner&#39;s Application Key
func (r CustomerManagementAPIGetTrackItItemsRequest) XAppKey(xAppKey string) CustomerManagementAPIGetTrackItItemsRequest {
	r.xAppKey = &xAppKey
	return r
}

// Mandatory parameter to identify the hotel code where the end user is logged in
func (r CustomerManagementAPIGetTrackItItemsRequest) XHotelid(xHotelid string) CustomerManagementAPIGetTrackItItemsRequest {
	r.xHotelid = &xHotelid
	return r
}

// Complete ticket number of the Track It item.
func (r CustomerManagementAPIGetTrackItItemsRequest) TicketId(ticketId string) CustomerManagementAPIGetTrackItItemsRequest {
	r.ticketId = &ticketId
	return r
}

// A unique identifying value assigned by the creating system. The ID attribute may be used to reference a primary-key value within a database or in a particular implementation.
func (r CustomerManagementAPIGetTrackItItemsRequest) ReservationId(reservationId string) CustomerManagementAPIGetTrackItItemsRequest {
	r.reservationId = &reservationId
	return r
}

// Used to identify the source of the identifier (e.g., IATA, ABTA).
func (r CustomerManagementAPIGetTrackItItemsRequest) ReservationIdContext(reservationIdContext string) CustomerManagementAPIGetTrackItItemsRequest {
	r.reservationIdContext = &reservationIdContext
	return r
}

// A reference to the type of object defined by the UniqueID element.
func (r CustomerManagementAPIGetTrackItItemsRequest) ReservationIdType(reservationIdType string) CustomerManagementAPIGetTrackItItemsRequest {
	r.reservationIdType = &reservationIdType
	return r
}

// Given name, first name or names.
func (r CustomerManagementAPIGetTrackItItemsRequest) GivenName(givenName string) CustomerManagementAPIGetTrackItItemsRequest {
	r.givenName = &givenName
	return r
}

// Family name, last name. May also be used for full name if the sending system does not have the ability to separate a full name into its parts, e.g. the surname element may be used to pass the full name.
func (r CustomerManagementAPIGetTrackItItemsRequest) Surname(surname string) CustomerManagementAPIGetTrackItItemsRequest {
	r.surname = &surname
	return r
}

// Group to which the Track It items belong.
func (r CustomerManagementAPIGetTrackItItemsRequest) TrackItGroups(trackItGroups []string) CustomerManagementAPIGetTrackItItemsRequest {
	r.trackItGroups = &trackItGroups
	return r
}

// Track It types based on the Track It group.
func (r CustomerManagementAPIGetTrackItItemsRequest) Types(types []string) CustomerManagementAPIGetTrackItItemsRequest {
	r.types = &types
	return r
}

// Locations for Track It location.
func (r CustomerManagementAPIGetTrackItItemsRequest) Locations(locations []string) CustomerManagementAPIGetTrackItItemsRequest {
	r.locations = &locations
	return r
}

// Track It actions based on Track It groups.
func (r CustomerManagementAPIGetTrackItItemsRequest) Actions(actions []string) CustomerManagementAPIGetTrackItItemsRequest {
	r.actions = &actions
	return r
}

// Action status of the Track It item(Open, Closed).
func (r CustomerManagementAPIGetTrackItItemsRequest) ActionStatuses(actionStatuses []string) CustomerManagementAPIGetTrackItItemsRequest {
	r.actionStatuses = &actionStatuses
	return r
}

// A unique identifying value assigned by the creating system. The ID attribute may be used to reference a primary-key value within a database or in a particular implementation.
func (r CustomerManagementAPIGetTrackItItemsRequest) AppUserId(appUserId string) CustomerManagementAPIGetTrackItItemsRequest {
	r.appUserId = &appUserId
	return r
}

// Used to identify the source of the identifier (e.g., IATA, ABTA).
func (r CustomerManagementAPIGetTrackItItemsRequest) AppUserIdContext(appUserIdContext string) CustomerManagementAPIGetTrackItItemsRequest {
	r.appUserIdContext = &appUserIdContext
	return r
}

// A reference to the type of object defined by the UniqueID element.
func (r CustomerManagementAPIGetTrackItItemsRequest) AppUserIdType(appUserIdType string) CustomerManagementAPIGetTrackItItemsRequest {
	r.appUserIdType = &appUserIdType
	return r
}

// Assignment status of the Track It item(Assigned, Unassigned).
func (r CustomerManagementAPIGetTrackItItemsRequest) AssignedStatuses(assignedStatuses []string) CustomerManagementAPIGetTrackItItemsRequest {
	r.assignedStatuses = &assignedStatuses
	return r
}

// Guest&#39;s room number if ticket associated with a reservation.
func (r CustomerManagementAPIGetTrackItItemsRequest) Room(room string) CustomerManagementAPIGetTrackItItemsRequest {
	r.room = &room
	return r
}

// Follow up date for the ticket.
func (r CustomerManagementAPIGetTrackItItemsRequest) FollowUpDate(followUpDate string) CustomerManagementAPIGetTrackItItemsRequest {
	r.followUpDate = &followUpDate
	return r
}

// Date when the ticket was created.
func (r CustomerManagementAPIGetTrackItItemsRequest) CreatedOn(createdOn string) CustomerManagementAPIGetTrackItItemsRequest {
	r.createdOn = &createdOn
	return r
}

// A unique identifying value assigned by the creating system. The ID attribute may be used to reference a primary-key value within a database or in a particular implementation.
func (r CustomerManagementAPIGetTrackItItemsRequest) CreatedByUserId(createdByUserId string) CustomerManagementAPIGetTrackItItemsRequest {
	r.createdByUserId = &createdByUserId
	return r
}

// Used to identify the source of the identifier (e.g., IATA, ABTA).
func (r CustomerManagementAPIGetTrackItItemsRequest) CreatedByUserIdContext(createdByUserIdContext string) CustomerManagementAPIGetTrackItItemsRequest {
	r.createdByUserIdContext = &createdByUserIdContext
	return r
}

// A reference to the type of object defined by the UniqueID element.
func (r CustomerManagementAPIGetTrackItItemsRequest) CreatedByUserIdType(createdByUserIdType string) CustomerManagementAPIGetTrackItItemsRequest {
	r.createdByUserIdType = &createdByUserIdType
	return r
}

// Description associated with the Track It item.
func (r CustomerManagementAPIGetTrackItItemsRequest) Description(description string) CustomerManagementAPIGetTrackItItemsRequest {
	r.description = &description
	return r
}

// Pass this header as true, if payload needs DVM
func (r CustomerManagementAPIGetTrackItItemsRequest) ExternalData(externalData string) CustomerManagementAPIGetTrackItItemsRequest {
	r.externalData = &externalData
	return r
}

// Request Id of an incoming request
func (r CustomerManagementAPIGetTrackItItemsRequest) XRequestId(xRequestId string) CustomerManagementAPIGetTrackItItemsRequest {
	r.xRequestId = &xRequestId
	return r
}

// Customer&#39;s Integration Application Id
func (r CustomerManagementAPIGetTrackItItemsRequest) XOriginatingApplication(xOriginatingApplication string) CustomerManagementAPIGetTrackItItemsRequest {
	r.xOriginatingApplication = &xOriginatingApplication
	return r
}

// External system code.
func (r CustomerManagementAPIGetTrackItItemsRequest) XExternalsystem(xExternalsystem string) CustomerManagementAPIGetTrackItItemsRequest {
	r.xExternalsystem = &xExternalsystem
	return r
}

// Language code
func (r CustomerManagementAPIGetTrackItItemsRequest) AcceptLanguage(acceptLanguage string) CustomerManagementAPIGetTrackItItemsRequest {
	r.acceptLanguage = &acceptLanguage
	return r
}

func (r CustomerManagementAPIGetTrackItItemsRequest) Execute() (*TrackItItems, *http.Response, error) {
	return r.ApiService.GetTrackItItemsExecute(r)
}

/*
GetTrackItItems Fetches track it items

Retrieve a list of all Track It Items for a property. <p><strong>OperationId:</strong>getTrackItItems</p>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param hotelId
 @return CustomerManagementAPIGetTrackItItemsRequest

Deprecated
*/
func (a *CustomerManagementAPIService) GetTrackItItems(ctx context.Context, hotelId string) CustomerManagementAPIGetTrackItItemsRequest {
	return CustomerManagementAPIGetTrackItItemsRequest{
		ApiService: a,
		ctx: ctx,
		hotelId: hotelId,
	}
}

// Execute executes the request
//  @return TrackItItems
// Deprecated
func (a *CustomerManagementAPIService) GetTrackItItemsExecute(r CustomerManagementAPIGetTrackItItemsRequest) (*TrackItItems, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *TrackItItems
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CustomerManagementAPIService.GetTrackItItems")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/hotels/{hotelId}/trackItems"
	localVarPath = strings.Replace(localVarPath, "{"+"hotelId"+"}", url.PathEscape(parameterValueToString(r.hotelId, "hotelId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if strlen(r.hotelId) < 1 {
		return localVarReturnValue, nil, reportError("hotelId must have at least 1 elements")
	}
	if strlen(r.hotelId) > 2000 {
		return localVarReturnValue, nil, reportError("hotelId must have less than 2000 elements")
	}

	if r.ticketId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ticketId", r.ticketId, "")
  }
	if r.reservationId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "reservationId", r.reservationId, "")
  }
	if r.reservationIdContext != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "reservationIdContext", r.reservationIdContext, "")
  }
	if r.reservationIdType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "reservationIdType", r.reservationIdType, "")
  }
	if r.givenName != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "givenName", r.givenName, "")
  }
	if r.surname != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "surname", r.surname, "")
  }
	if r.trackItGroups != nil {
		t := *r.trackItGroups
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "trackItGroups", s.Index(i).Interface(), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "trackItGroups", t, "multi")
		}
  }
	if r.types != nil {
		t := *r.types
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "types", s.Index(i).Interface(), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "types", t, "multi")
		}
  }
	if r.locations != nil {
		t := *r.locations
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "locations", s.Index(i).Interface(), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "locations", t, "multi")
		}
  }
	if r.actions != nil {
		t := *r.actions
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "actions", s.Index(i).Interface(), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "actions", t, "multi")
		}
  }
	if r.actionStatuses != nil {
		t := *r.actionStatuses
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "actionStatuses", s.Index(i).Interface(), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "actionStatuses", t, "multi")
		}
  }
	if r.appUserId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "appUserId", r.appUserId, "")
  }
	if r.appUserIdContext != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "appUserIdContext", r.appUserIdContext, "")
  }
	if r.appUserIdType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "appUserIdType", r.appUserIdType, "")
  }
	if r.assignedStatuses != nil {
		t := *r.assignedStatuses
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "assignedStatuses", s.Index(i).Interface(), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "assignedStatuses", t, "multi")
		}
  }
	if r.room != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "room", r.room, "")
  }
	if r.followUpDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "followUpDate", r.followUpDate, "")
  }
	if r.createdOn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "createdOn", r.createdOn, "")
  }
	if r.createdByUserId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "createdByUserId", r.createdByUserId, "")
  }
	if r.createdByUserIdContext != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "createdByUserIdContext", r.createdByUserIdContext, "")
  }
	if r.createdByUserIdType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "createdByUserIdType", r.createdByUserIdType, "")
  }
	if r.description != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "description", r.description, "")
  }
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json;charset=UTF-8"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "")
	}
	if r.externalData != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "externalData", r.externalData, "")
	}
	if r.xAppKey != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-app-key", r.xAppKey, "")
	}
	if r.xRequestId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-request-id", r.xRequestId, "")
	}
	if r.xOriginatingApplication != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-originating-application", r.xOriginatingApplication, "")
	}
	if r.xHotelid != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-hotelid", r.xHotelid, "")
	}
	if r.xExternalsystem != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-externalsystem", r.xExternalsystem, "")
	}
	if r.acceptLanguage != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accept-Language", r.acceptLanguage, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if a.client.cfg.ResponseMiddleware != nil {
		err = a.client.cfg.ResponseMiddleware(localVarHTTPResponse, localVarBody)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CustomerManagementAPIPingCustomerManagementServiceRequest struct {
	ctx context.Context
	ApiService *CustomerManagementAPIService
	authorization *string
	xAppKey *string
	xHotelid *string
	externalData *string
	xRequestId *string
	xOriginatingApplication *string
	xExternalsystem *string
	acceptLanguage *string
}

// Bearer token that needs to be passed which is generated post user authentication
func (r CustomerManagementAPIPingCustomerManagementServiceRequest) Authorization(authorization string) CustomerManagementAPIPingCustomerManagementServiceRequest {
	r.authorization = &authorization
	return r
}

// Client or Partner&#39;s Application Key
func (r CustomerManagementAPIPingCustomerManagementServiceRequest) XAppKey(xAppKey string) CustomerManagementAPIPingCustomerManagementServiceRequest {
	r.xAppKey = &xAppKey
	return r
}

// Mandatory parameter to identify the hotel code where the end user is logged in
func (r CustomerManagementAPIPingCustomerManagementServiceRequest) XHotelid(xHotelid string) CustomerManagementAPIPingCustomerManagementServiceRequest {
	r.xHotelid = &xHotelid
	return r
}

// Pass this header as true, if payload needs DVM
func (r CustomerManagementAPIPingCustomerManagementServiceRequest) ExternalData(externalData string) CustomerManagementAPIPingCustomerManagementServiceRequest {
	r.externalData = &externalData
	return r
}

// Request Id of an incoming request
func (r CustomerManagementAPIPingCustomerManagementServiceRequest) XRequestId(xRequestId string) CustomerManagementAPIPingCustomerManagementServiceRequest {
	r.xRequestId = &xRequestId
	return r
}

// Customer&#39;s Integration Application Id
func (r CustomerManagementAPIPingCustomerManagementServiceRequest) XOriginatingApplication(xOriginatingApplication string) CustomerManagementAPIPingCustomerManagementServiceRequest {
	r.xOriginatingApplication = &xOriginatingApplication
	return r
}

// External system code.
func (r CustomerManagementAPIPingCustomerManagementServiceRequest) XExternalsystem(xExternalsystem string) CustomerManagementAPIPingCustomerManagementServiceRequest {
	r.xExternalsystem = &xExternalsystem
	return r
}

// Language code
func (r CustomerManagementAPIPingCustomerManagementServiceRequest) AcceptLanguage(acceptLanguage string) CustomerManagementAPIPingCustomerManagementServiceRequest {
	r.acceptLanguage = &acceptLanguage
	return r
}

func (r CustomerManagementAPIPingCustomerManagementServiceRequest) Execute() (*OperaVersion, *http.Response, error) {
	return r.ApiService.PingCustomerManagementServiceExecute(r)
}

/*
PingCustomerManagementService Operation to ping the customer management service

 <p><strong>OperationId:</strong>pingCustomerManagementService</p>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return CustomerManagementAPIPingCustomerManagementServiceRequest
*/
func (a *CustomerManagementAPIService) PingCustomerManagementService(ctx context.Context) CustomerManagementAPIPingCustomerManagementServiceRequest {
	return CustomerManagementAPIPingCustomerManagementServiceRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return OperaVersion
func (a *CustomerManagementAPIService) PingCustomerManagementServiceExecute(r CustomerManagementAPIPingCustomerManagementServiceRequest) (*OperaVersion, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *OperaVersion
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CustomerManagementAPIService.PingCustomerManagementService")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/services/customerManagement/status"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json;charset=UTF-8"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "")
	}
	if r.externalData != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "externalData", r.externalData, "")
	}
	if r.xAppKey != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-app-key", r.xAppKey, "")
	}
	if r.xRequestId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-request-id", r.xRequestId, "")
	}
	if r.xOriginatingApplication != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-originating-application", r.xOriginatingApplication, "")
	}
	if r.xHotelid != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-hotelid", r.xHotelid, "")
	}
	if r.xExternalsystem != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-externalsystem", r.xExternalsystem, "")
	}
	if r.acceptLanguage != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accept-Language", r.acceptLanguage, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if a.client.cfg.ResponseMiddleware != nil {
		err = a.client.cfg.ResponseMiddleware(localVarHTTPResponse, localVarBody)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CustomerManagementAPIPostTrackItItemsRequest struct {
	ctx context.Context
	ApiService *CustomerManagementAPIService
	hotelId string
	authorization *string
	xAppKey *string
	xHotelid *string
	trackItItems *TrackItItems
	externalData *string
	xRequestId *string
	xOriginatingApplication *string
	xExternalsystem *string
	acceptLanguage *string
}

// Bearer token that needs to be passed which is generated post user authentication
func (r CustomerManagementAPIPostTrackItItemsRequest) Authorization(authorization string) CustomerManagementAPIPostTrackItItemsRequest {
	r.authorization = &authorization
	return r
}

// Client or Partner&#39;s Application Key
func (r CustomerManagementAPIPostTrackItItemsRequest) XAppKey(xAppKey string) CustomerManagementAPIPostTrackItItemsRequest {
	r.xAppKey = &xAppKey
	return r
}

// Mandatory parameter to identify the hotel code where the end user is logged in
func (r CustomerManagementAPIPostTrackItItemsRequest) XHotelid(xHotelid string) CustomerManagementAPIPostTrackItItemsRequest {
	r.xHotelid = &xHotelid
	return r
}

// Request object to create Track It items.
func (r CustomerManagementAPIPostTrackItItemsRequest) TrackItItems(trackItItems TrackItItems) CustomerManagementAPIPostTrackItItemsRequest {
	r.trackItItems = &trackItItems
	return r
}

// Pass this header as true, if payload needs DVM
func (r CustomerManagementAPIPostTrackItItemsRequest) ExternalData(externalData string) CustomerManagementAPIPostTrackItItemsRequest {
	r.externalData = &externalData
	return r
}

// Request Id of an incoming request
func (r CustomerManagementAPIPostTrackItItemsRequest) XRequestId(xRequestId string) CustomerManagementAPIPostTrackItItemsRequest {
	r.xRequestId = &xRequestId
	return r
}

// Customer&#39;s Integration Application Id
func (r CustomerManagementAPIPostTrackItItemsRequest) XOriginatingApplication(xOriginatingApplication string) CustomerManagementAPIPostTrackItItemsRequest {
	r.xOriginatingApplication = &xOriginatingApplication
	return r
}

// External system code.
func (r CustomerManagementAPIPostTrackItItemsRequest) XExternalsystem(xExternalsystem string) CustomerManagementAPIPostTrackItItemsRequest {
	r.xExternalsystem = &xExternalsystem
	return r
}

// Language code
func (r CustomerManagementAPIPostTrackItItemsRequest) AcceptLanguage(acceptLanguage string) CustomerManagementAPIPostTrackItItemsRequest {
	r.acceptLanguage = &acceptLanguage
	return r
}

func (r CustomerManagementAPIPostTrackItItemsRequest) Execute() (*Status, *http.Response, error) {
	return r.ApiService.PostTrackItItemsExecute(r)
}

/*
PostTrackItItems Creates track it items

Create a new Track It Item. Track It manages storage and delivery of guest luggage, parcels, vehicles (valet), and lost items.  They can optionally be linked to a reservation if related or an arrival, in-house or departure reservation. <p><strong>OperationId:</strong>postTrackItItems</p>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param hotelId
 @return CustomerManagementAPIPostTrackItItemsRequest
*/
func (a *CustomerManagementAPIService) PostTrackItItems(ctx context.Context, hotelId string) CustomerManagementAPIPostTrackItItemsRequest {
	return CustomerManagementAPIPostTrackItItemsRequest{
		ApiService: a,
		ctx: ctx,
		hotelId: hotelId,
	}
}

// Execute executes the request
//  @return Status
func (a *CustomerManagementAPIService) PostTrackItItemsExecute(r CustomerManagementAPIPostTrackItItemsRequest) (*Status, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *Status
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CustomerManagementAPIService.PostTrackItItems")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/hotels/{hotelId}/trackItems"
	localVarPath = strings.Replace(localVarPath, "{"+"hotelId"+"}", url.PathEscape(parameterValueToString(r.hotelId, "hotelId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if strlen(r.hotelId) < 1 {
		return localVarReturnValue, nil, reportError("hotelId must have at least 1 elements")
	}
	if strlen(r.hotelId) > 2000 {
		return localVarReturnValue, nil, reportError("hotelId must have less than 2000 elements")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json;charset=UTF-8"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json;charset=UTF-8"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "")
	}
	if r.externalData != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "externalData", r.externalData, "")
	}
	if r.xAppKey != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-app-key", r.xAppKey, "")
	}
	if r.xRequestId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-request-id", r.xRequestId, "")
	}
	if r.xOriginatingApplication != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-originating-application", r.xOriginatingApplication, "")
	}
	if r.xHotelid != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-hotelid", r.xHotelid, "")
	}
	if r.xExternalsystem != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-externalsystem", r.xExternalsystem, "")
	}
	if r.acceptLanguage != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accept-Language", r.acceptLanguage, "")
	}
	// body params
	localVarPostBody = r.trackItItems
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if a.client.cfg.ResponseMiddleware != nil {
		err = a.client.cfg.ResponseMiddleware(localVarHTTPResponse, localVarBody)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CustomerManagementAPIPutTrackItItemsRequest struct {
	ctx context.Context
	ApiService *CustomerManagementAPIService
	hotelId string
	authorization *string
	xAppKey *string
	xHotelid *string
	trackItItems *TrackItItems
	externalData *string
	xRequestId *string
	xOriginatingApplication *string
	xExternalsystem *string
	acceptLanguage *string
}

// Bearer token that needs to be passed which is generated post user authentication
func (r CustomerManagementAPIPutTrackItItemsRequest) Authorization(authorization string) CustomerManagementAPIPutTrackItItemsRequest {
	r.authorization = &authorization
	return r
}

// Client or Partner&#39;s Application Key
func (r CustomerManagementAPIPutTrackItItemsRequest) XAppKey(xAppKey string) CustomerManagementAPIPutTrackItItemsRequest {
	r.xAppKey = &xAppKey
	return r
}

// Mandatory parameter to identify the hotel code where the end user is logged in
func (r CustomerManagementAPIPutTrackItItemsRequest) XHotelid(xHotelid string) CustomerManagementAPIPutTrackItItemsRequest {
	r.xHotelid = &xHotelid
	return r
}

// Request object to update Track It items.
func (r CustomerManagementAPIPutTrackItItemsRequest) TrackItItems(trackItItems TrackItItems) CustomerManagementAPIPutTrackItItemsRequest {
	r.trackItItems = &trackItItems
	return r
}

// Pass this header as true, if payload needs DVM
func (r CustomerManagementAPIPutTrackItItemsRequest) ExternalData(externalData string) CustomerManagementAPIPutTrackItItemsRequest {
	r.externalData = &externalData
	return r
}

// Request Id of an incoming request
func (r CustomerManagementAPIPutTrackItItemsRequest) XRequestId(xRequestId string) CustomerManagementAPIPutTrackItItemsRequest {
	r.xRequestId = &xRequestId
	return r
}

// Customer&#39;s Integration Application Id
func (r CustomerManagementAPIPutTrackItItemsRequest) XOriginatingApplication(xOriginatingApplication string) CustomerManagementAPIPutTrackItItemsRequest {
	r.xOriginatingApplication = &xOriginatingApplication
	return r
}

// External system code.
func (r CustomerManagementAPIPutTrackItItemsRequest) XExternalsystem(xExternalsystem string) CustomerManagementAPIPutTrackItItemsRequest {
	r.xExternalsystem = &xExternalsystem
	return r
}

// Language code
func (r CustomerManagementAPIPutTrackItItemsRequest) AcceptLanguage(acceptLanguage string) CustomerManagementAPIPutTrackItItemsRequest {
	r.acceptLanguage = &acceptLanguage
	return r
}

func (r CustomerManagementAPIPutTrackItItemsRequest) Execute() (*TrackItItems, *http.Response, error) {
	return r.ApiService.PutTrackItItemsExecute(r)
}

/*
PutTrackItItems Updates track it items

Update the details of a Track It Item for a property. <p><strong>OperationId:</strong>putTrackItItems</p>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param hotelId
 @return CustomerManagementAPIPutTrackItItemsRequest
*/
func (a *CustomerManagementAPIService) PutTrackItItems(ctx context.Context, hotelId string) CustomerManagementAPIPutTrackItItemsRequest {
	return CustomerManagementAPIPutTrackItItemsRequest{
		ApiService: a,
		ctx: ctx,
		hotelId: hotelId,
	}
}

// Execute executes the request
//  @return TrackItItems
func (a *CustomerManagementAPIService) PutTrackItItemsExecute(r CustomerManagementAPIPutTrackItItemsRequest) (*TrackItItems, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *TrackItItems
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CustomerManagementAPIService.PutTrackItItems")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/hotels/{hotelId}/trackItems"
	localVarPath = strings.Replace(localVarPath, "{"+"hotelId"+"}", url.PathEscape(parameterValueToString(r.hotelId, "hotelId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if strlen(r.hotelId) < 1 {
		return localVarReturnValue, nil, reportError("hotelId must have at least 1 elements")
	}
	if strlen(r.hotelId) > 2000 {
		return localVarReturnValue, nil, reportError("hotelId must have less than 2000 elements")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json;charset=UTF-8"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json;charset=UTF-8"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "")
	}
	if r.externalData != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "externalData", r.externalData, "")
	}
	if r.xAppKey != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-app-key", r.xAppKey, "")
	}
	if r.xRequestId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-request-id", r.xRequestId, "")
	}
	if r.xOriginatingApplication != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-originating-application", r.xOriginatingApplication, "")
	}
	if r.xHotelid != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-hotelid", r.xHotelid, "")
	}
	if r.xExternalsystem != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-externalsystem", r.xExternalsystem, "")
	}
	if r.acceptLanguage != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accept-Language", r.acceptLanguage, "")
	}
	// body params
	localVarPostBody = r.trackItItems
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if a.client.cfg.ResponseMiddleware != nil {
		err = a.client.cfg.ResponseMiddleware(localVarHTTPResponse, localVarBody)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CustomerManagementAPISearchTrackItItemsRequest struct {
	ctx context.Context
	ApiService *CustomerManagementAPIService
	hotelId string
	authorization *string
	xAppKey *string
	xHotelid *string
	externalData *string
	xRequestId *string
	xOriginatingApplication *string
	xExternalsystem *string
	acceptLanguage *string
	searchTrackItItemsRequest *SearchTrackItItemsRequest
}

// Bearer token that needs to be passed which is generated post user authentication
func (r CustomerManagementAPISearchTrackItItemsRequest) Authorization(authorization string) CustomerManagementAPISearchTrackItItemsRequest {
	r.authorization = &authorization
	return r
}

// Client or Partner&#39;s Application Key
func (r CustomerManagementAPISearchTrackItItemsRequest) XAppKey(xAppKey string) CustomerManagementAPISearchTrackItItemsRequest {
	r.xAppKey = &xAppKey
	return r
}

// Mandatory parameter to identify the hotel code where the end user is logged in
func (r CustomerManagementAPISearchTrackItItemsRequest) XHotelid(xHotelid string) CustomerManagementAPISearchTrackItItemsRequest {
	r.xHotelid = &xHotelid
	return r
}

// Pass this header as true, if payload needs DVM
func (r CustomerManagementAPISearchTrackItItemsRequest) ExternalData(externalData string) CustomerManagementAPISearchTrackItItemsRequest {
	r.externalData = &externalData
	return r
}

// Request Id of an incoming request
func (r CustomerManagementAPISearchTrackItItemsRequest) XRequestId(xRequestId string) CustomerManagementAPISearchTrackItItemsRequest {
	r.xRequestId = &xRequestId
	return r
}

// Customer&#39;s Integration Application Id
func (r CustomerManagementAPISearchTrackItItemsRequest) XOriginatingApplication(xOriginatingApplication string) CustomerManagementAPISearchTrackItItemsRequest {
	r.xOriginatingApplication = &xOriginatingApplication
	return r
}

// External system code.
func (r CustomerManagementAPISearchTrackItItemsRequest) XExternalsystem(xExternalsystem string) CustomerManagementAPISearchTrackItItemsRequest {
	r.xExternalsystem = &xExternalsystem
	return r
}

// Language code
func (r CustomerManagementAPISearchTrackItItemsRequest) AcceptLanguage(acceptLanguage string) CustomerManagementAPISearchTrackItItemsRequest {
	r.acceptLanguage = &acceptLanguage
	return r
}

func (r CustomerManagementAPISearchTrackItItemsRequest) SearchTrackItItemsRequest(searchTrackItItemsRequest SearchTrackItItemsRequest) CustomerManagementAPISearchTrackItItemsRequest {
	r.searchTrackItItemsRequest = &searchTrackItItemsRequest
	return r
}

func (r CustomerManagementAPISearchTrackItItemsRequest) Execute() (*TrackItItems, *http.Response, error) {
	return r.ApiService.SearchTrackItItemsExecute(r)
}

/*
SearchTrackItItems Fetches track it items

Retrieve a list of all Track It Items for a property. <p><strong>OperationId:</strong>searchTrackItItems</p>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param hotelId
 @return CustomerManagementAPISearchTrackItItemsRequest
*/
func (a *CustomerManagementAPIService) SearchTrackItItems(ctx context.Context, hotelId string) CustomerManagementAPISearchTrackItItemsRequest {
	return CustomerManagementAPISearchTrackItItemsRequest{
		ApiService: a,
		ctx: ctx,
		hotelId: hotelId,
	}
}

// Execute executes the request
//  @return TrackItItems
func (a *CustomerManagementAPIService) SearchTrackItItemsExecute(r CustomerManagementAPISearchTrackItItemsRequest) (*TrackItItems, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *TrackItItems
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CustomerManagementAPIService.SearchTrackItItems")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/hotels/{hotelId}/trackItems/searches"
	localVarPath = strings.Replace(localVarPath, "{"+"hotelId"+"}", url.PathEscape(parameterValueToString(r.hotelId, "hotelId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if strlen(r.hotelId) < 1 {
		return localVarReturnValue, nil, reportError("hotelId must have at least 1 elements")
	}
	if strlen(r.hotelId) > 2000 {
		return localVarReturnValue, nil, reportError("hotelId must have less than 2000 elements")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json;charset=UTF-8"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json;charset=UTF-8"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "")
	}
	if r.externalData != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "externalData", r.externalData, "")
	}
	if r.xAppKey != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-app-key", r.xAppKey, "")
	}
	if r.xRequestId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-request-id", r.xRequestId, "")
	}
	if r.xOriginatingApplication != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-originating-application", r.xOriginatingApplication, "")
	}
	if r.xHotelid != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-hotelid", r.xHotelid, "")
	}
	if r.xExternalsystem != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-externalsystem", r.xExternalsystem, "")
	}
	if r.acceptLanguage != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accept-Language", r.acceptLanguage, "")
	}
	// body params
	localVarPostBody = r.searchTrackItItemsRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if a.client.cfg.ResponseMiddleware != nil {
		err = a.client.cfg.ResponseMiddleware(localVarHTTPResponse, localVarBody)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
