/*
OPERA Cloud Block Reservation Asynchronous API

APIs to cater Block Reservation related asynchronous functionality in OPERA.<br /><br /> Compatible with OPERA Cloud release 26.2.0.0.<br /><br /><p> This document and all content within is available under the Universal Permissive License v 1.0 (https://oss.oracle.com/licenses/upl). Copyright (c) 2020, 2026 Oracle and/or its affiliates.</p>

API version: 26.2.0.0
Contact: hospitality_apis_ww_grp@oracle.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package blkasync

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"reflect"
)


// BlockAsyncAPIService BlockAsyncAPI service
type BlockAsyncAPIService service

type BlockAsyncAPIGetAllocationRangesProcessInfoRequest struct {
	ctx context.Context
	ApiService *BlockAsyncAPIService
	hotelId string
	blockId string
	requestId string
	authorization *string
	xAppKey *string
	xHotelid *string
	externalData *string
	xRequestId *string
	xOriginatingApplication *string
	acceptLanguage *string
}

// Bearer token that needs to be passed which is generated post user authentication
func (r BlockAsyncAPIGetAllocationRangesProcessInfoRequest) Authorization(authorization string) BlockAsyncAPIGetAllocationRangesProcessInfoRequest {
	r.authorization = &authorization
	return r
}

// Client or Partner&#39;s Application Key
func (r BlockAsyncAPIGetAllocationRangesProcessInfoRequest) XAppKey(xAppKey string) BlockAsyncAPIGetAllocationRangesProcessInfoRequest {
	r.xAppKey = &xAppKey
	return r
}

// Mandatory parameter to identify the hotel code where the end user is logged in
func (r BlockAsyncAPIGetAllocationRangesProcessInfoRequest) XHotelid(xHotelid string) BlockAsyncAPIGetAllocationRangesProcessInfoRequest {
	r.xHotelid = &xHotelid
	return r
}

// Pass this header as true, if payload needs DVM
func (r BlockAsyncAPIGetAllocationRangesProcessInfoRequest) ExternalData(externalData string) BlockAsyncAPIGetAllocationRangesProcessInfoRequest {
	r.externalData = &externalData
	return r
}

// Request Id of an incoming request
func (r BlockAsyncAPIGetAllocationRangesProcessInfoRequest) XRequestId(xRequestId string) BlockAsyncAPIGetAllocationRangesProcessInfoRequest {
	r.xRequestId = &xRequestId
	return r
}

// Customer&#39;s Integration Application Id
func (r BlockAsyncAPIGetAllocationRangesProcessInfoRequest) XOriginatingApplication(xOriginatingApplication string) BlockAsyncAPIGetAllocationRangesProcessInfoRequest {
	r.xOriginatingApplication = &xOriginatingApplication
	return r
}

// Language code
func (r BlockAsyncAPIGetAllocationRangesProcessInfoRequest) AcceptLanguage(acceptLanguage string) BlockAsyncAPIGetAllocationRangesProcessInfoRequest {
	r.acceptLanguage = &acceptLanguage
	return r
}

func (r BlockAsyncAPIGetAllocationRangesProcessInfoRequest) Execute() (*ProcessDetails, *http.Response, error) {
	return r.ApiService.GetAllocationRangesProcessInfoExecute(r)
}

/*
GetAllocationRangesProcessInfo This API returns information about the set allocation ranges process.

This API will fetch Block allocation ranges warnings for a hotel to allow for overbooking information to be returned as part of the response. <p><strong>OperationId:</strong>getAllocationRangesProcessInfo</p>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param hotelId
 @param blockId Unique OPERA Block ID which is used to find a Block from OPERA. This ID is a primary identification of a Block in OPERA.
 @param requestId
 @return BlockAsyncAPIGetAllocationRangesProcessInfoRequest
*/
func (a *BlockAsyncAPIService) GetAllocationRangesProcessInfo(ctx context.Context, hotelId string, blockId string, requestId string) BlockAsyncAPIGetAllocationRangesProcessInfoRequest {
	return BlockAsyncAPIGetAllocationRangesProcessInfoRequest{
		ApiService: a,
		ctx: ctx,
		hotelId: hotelId,
		blockId: blockId,
		requestId: requestId,
	}
}

// Execute executes the request
//  @return ProcessDetails
func (a *BlockAsyncAPIService) GetAllocationRangesProcessInfoExecute(r BlockAsyncAPIGetAllocationRangesProcessInfoRequest) (*ProcessDetails, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ProcessDetails
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BlockAsyncAPIService.GetAllocationRangesProcessInfo")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/hotels/{hotelId}/blocks/{blockId}/allocationRanges/{requestId}"
	localVarPath = strings.Replace(localVarPath, "{"+"hotelId"+"}", url.PathEscape(parameterValueToString(r.hotelId, "hotelId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"blockId"+"}", url.PathEscape(parameterValueToString(r.blockId, "blockId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"requestId"+"}", url.PathEscape(parameterValueToString(r.requestId, "requestId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if strlen(r.hotelId) < 1 {
		return localVarReturnValue, nil, reportError("hotelId must have at least 1 elements")
	}
	if strlen(r.hotelId) > 2000 {
		return localVarReturnValue, nil, reportError("hotelId must have less than 2000 elements")
	}
	if strlen(r.blockId) < 1 {
		return localVarReturnValue, nil, reportError("blockId must have at least 1 elements")
	}
	if strlen(r.blockId) > 2000 {
		return localVarReturnValue, nil, reportError("blockId must have less than 2000 elements")
	}
	if strlen(r.requestId) < 1 {
		return localVarReturnValue, nil, reportError("requestId must have at least 1 elements")
	}
	if strlen(r.requestId) > 2000 {
		return localVarReturnValue, nil, reportError("requestId must have less than 2000 elements")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json;charset=UTF-8"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "")
	}
	if r.externalData != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "externalData", r.externalData, "")
	}
	if r.xAppKey != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-app-key", r.xAppKey, "")
	}
	if r.xRequestId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-request-id", r.xRequestId, "")
	}
	if r.xOriginatingApplication != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-originating-application", r.xOriginatingApplication, "")
	}
	if r.xHotelid != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-hotelid", r.xHotelid, "")
	}
	if r.acceptLanguage != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accept-Language", r.acceptLanguage, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if a.client.cfg.ResponseMiddleware != nil {
		err = a.client.cfg.ResponseMiddleware(localVarHTTPResponse, localVarBody)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type BlockAsyncAPIGetAllocationRangesProcessStatusRequest struct {
	ctx context.Context
	ApiService *BlockAsyncAPIService
	hotelId string
	blockId string
	requestId string
	authorization *string
	xAppKey *string
	xHotelid *string
	externalData *string
	xRequestId *string
	xOriginatingApplication *string
	acceptLanguage *string
}

// Bearer token that needs to be passed which is generated post user authentication
func (r BlockAsyncAPIGetAllocationRangesProcessStatusRequest) Authorization(authorization string) BlockAsyncAPIGetAllocationRangesProcessStatusRequest {
	r.authorization = &authorization
	return r
}

// Client or Partner&#39;s Application Key
func (r BlockAsyncAPIGetAllocationRangesProcessStatusRequest) XAppKey(xAppKey string) BlockAsyncAPIGetAllocationRangesProcessStatusRequest {
	r.xAppKey = &xAppKey
	return r
}

// Mandatory parameter to identify the hotel code where the end user is logged in
func (r BlockAsyncAPIGetAllocationRangesProcessStatusRequest) XHotelid(xHotelid string) BlockAsyncAPIGetAllocationRangesProcessStatusRequest {
	r.xHotelid = &xHotelid
	return r
}

// Pass this header as true, if payload needs DVM
func (r BlockAsyncAPIGetAllocationRangesProcessStatusRequest) ExternalData(externalData string) BlockAsyncAPIGetAllocationRangesProcessStatusRequest {
	r.externalData = &externalData
	return r
}

// Request Id of an incoming request
func (r BlockAsyncAPIGetAllocationRangesProcessStatusRequest) XRequestId(xRequestId string) BlockAsyncAPIGetAllocationRangesProcessStatusRequest {
	r.xRequestId = &xRequestId
	return r
}

// Customer&#39;s Integration Application Id
func (r BlockAsyncAPIGetAllocationRangesProcessStatusRequest) XOriginatingApplication(xOriginatingApplication string) BlockAsyncAPIGetAllocationRangesProcessStatusRequest {
	r.xOriginatingApplication = &xOriginatingApplication
	return r
}

// Language code
func (r BlockAsyncAPIGetAllocationRangesProcessStatusRequest) AcceptLanguage(acceptLanguage string) BlockAsyncAPIGetAllocationRangesProcessStatusRequest {
	r.acceptLanguage = &acceptLanguage
	return r
}

func (r BlockAsyncAPIGetAllocationRangesProcessStatusRequest) Execute() (*http.Response, error) {
	return r.ApiService.GetAllocationRangesProcessStatusExecute(r)
}

/*
GetAllocationRangesProcessStatus This API returns the status of asynchronous process scheduled for given id.

 <p><strong>OperationId:</strong>getAllocationRangesProcessStatus</p>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param hotelId
 @param blockId Unique OPERA Block ID which is used to find a Block from OPERA. This ID is a primary identification of a Block in OPERA.
 @param requestId
 @return BlockAsyncAPIGetAllocationRangesProcessStatusRequest
*/
func (a *BlockAsyncAPIService) GetAllocationRangesProcessStatus(ctx context.Context, hotelId string, blockId string, requestId string) BlockAsyncAPIGetAllocationRangesProcessStatusRequest {
	return BlockAsyncAPIGetAllocationRangesProcessStatusRequest{
		ApiService: a,
		ctx: ctx,
		hotelId: hotelId,
		blockId: blockId,
		requestId: requestId,
	}
}

// Execute executes the request
func (a *BlockAsyncAPIService) GetAllocationRangesProcessStatusExecute(r BlockAsyncAPIGetAllocationRangesProcessStatusRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodHead
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BlockAsyncAPIService.GetAllocationRangesProcessStatus")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/hotels/{hotelId}/blocks/{blockId}/allocationRanges/{requestId}"
	localVarPath = strings.Replace(localVarPath, "{"+"hotelId"+"}", url.PathEscape(parameterValueToString(r.hotelId, "hotelId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"blockId"+"}", url.PathEscape(parameterValueToString(r.blockId, "blockId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"requestId"+"}", url.PathEscape(parameterValueToString(r.requestId, "requestId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if strlen(r.hotelId) < 1 {
		return nil, reportError("hotelId must have at least 1 elements")
	}
	if strlen(r.hotelId) > 2000 {
		return nil, reportError("hotelId must have less than 2000 elements")
	}
	if strlen(r.blockId) < 1 {
		return nil, reportError("blockId must have at least 1 elements")
	}
	if strlen(r.blockId) > 2000 {
		return nil, reportError("blockId must have less than 2000 elements")
	}
	if strlen(r.requestId) < 1 {
		return nil, reportError("requestId must have at least 1 elements")
	}
	if strlen(r.requestId) > 2000 {
		return nil, reportError("requestId must have less than 2000 elements")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json;charset=UTF-8"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "")
	}
	if r.externalData != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "externalData", r.externalData, "")
	}
	if r.xAppKey != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-app-key", r.xAppKey, "")
	}
	if r.xRequestId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-request-id", r.xRequestId, "")
	}
	if r.xOriginatingApplication != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-originating-application", r.xOriginatingApplication, "")
	}
	if r.xHotelid != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-hotelid", r.xHotelid, "")
	}
	if r.acceptLanguage != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accept-Language", r.acceptLanguage, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if a.client.cfg.ResponseMiddleware != nil {
		err = a.client.cfg.ResponseMiddleware(localVarHTTPResponse, localVarBody)
		if err != nil {
			return localVarHTTPResponse, err
		}
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarHTTPResponse, newErr
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type BlockAsyncAPIGetBlockAllocationProcessInfoRequest struct {
	ctx context.Context
	ApiService *BlockAsyncAPIService
	hotelId string
	blockId string
	requestId string
	authorization *string
	xAppKey *string
	xHotelid *string
	externalData *string
	xRequestId *string
	xOriginatingApplication *string
	acceptLanguage *string
}

// Bearer token that needs to be passed which is generated post user authentication
func (r BlockAsyncAPIGetBlockAllocationProcessInfoRequest) Authorization(authorization string) BlockAsyncAPIGetBlockAllocationProcessInfoRequest {
	r.authorization = &authorization
	return r
}

// Client or Partner&#39;s Application Key
func (r BlockAsyncAPIGetBlockAllocationProcessInfoRequest) XAppKey(xAppKey string) BlockAsyncAPIGetBlockAllocationProcessInfoRequest {
	r.xAppKey = &xAppKey
	return r
}

// Mandatory parameter to identify the hotel code where the end user is logged in
func (r BlockAsyncAPIGetBlockAllocationProcessInfoRequest) XHotelid(xHotelid string) BlockAsyncAPIGetBlockAllocationProcessInfoRequest {
	r.xHotelid = &xHotelid
	return r
}

// Pass this header as true, if payload needs DVM
func (r BlockAsyncAPIGetBlockAllocationProcessInfoRequest) ExternalData(externalData string) BlockAsyncAPIGetBlockAllocationProcessInfoRequest {
	r.externalData = &externalData
	return r
}

// Request Id of an incoming request
func (r BlockAsyncAPIGetBlockAllocationProcessInfoRequest) XRequestId(xRequestId string) BlockAsyncAPIGetBlockAllocationProcessInfoRequest {
	r.xRequestId = &xRequestId
	return r
}

// Customer&#39;s Integration Application Id
func (r BlockAsyncAPIGetBlockAllocationProcessInfoRequest) XOriginatingApplication(xOriginatingApplication string) BlockAsyncAPIGetBlockAllocationProcessInfoRequest {
	r.xOriginatingApplication = &xOriginatingApplication
	return r
}

// Language code
func (r BlockAsyncAPIGetBlockAllocationProcessInfoRequest) AcceptLanguage(acceptLanguage string) BlockAsyncAPIGetBlockAllocationProcessInfoRequest {
	r.acceptLanguage = &acceptLanguage
	return r
}

func (r BlockAsyncAPIGetBlockAllocationProcessInfoRequest) Execute() (*ProcessDetails, *http.Response, error) {
	return r.ApiService.GetBlockAllocationProcessInfoExecute(r)
}

/*
GetBlockAllocationProcessInfo This API returns information about the set allocation process.

This API will fetch Block allocation warnings for a hotel to allow for overbooking information to be returned as part of the response. <p><strong>OperationId:</strong>getBlockAllocationProcessInfo</p>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param hotelId
 @param blockId Unique OPERA Block ID which is used to find a Block from OPERA. This ID is a primary identification of a Block in OPERA.
 @param requestId
 @return BlockAsyncAPIGetBlockAllocationProcessInfoRequest
*/
func (a *BlockAsyncAPIService) GetBlockAllocationProcessInfo(ctx context.Context, hotelId string, blockId string, requestId string) BlockAsyncAPIGetBlockAllocationProcessInfoRequest {
	return BlockAsyncAPIGetBlockAllocationProcessInfoRequest{
		ApiService: a,
		ctx: ctx,
		hotelId: hotelId,
		blockId: blockId,
		requestId: requestId,
	}
}

// Execute executes the request
//  @return ProcessDetails
func (a *BlockAsyncAPIService) GetBlockAllocationProcessInfoExecute(r BlockAsyncAPIGetBlockAllocationProcessInfoRequest) (*ProcessDetails, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ProcessDetails
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BlockAsyncAPIService.GetBlockAllocationProcessInfo")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/hotels/{hotelId}/blocks/{blockId}/allocation/{requestId}"
	localVarPath = strings.Replace(localVarPath, "{"+"hotelId"+"}", url.PathEscape(parameterValueToString(r.hotelId, "hotelId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"blockId"+"}", url.PathEscape(parameterValueToString(r.blockId, "blockId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"requestId"+"}", url.PathEscape(parameterValueToString(r.requestId, "requestId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if strlen(r.hotelId) < 1 {
		return localVarReturnValue, nil, reportError("hotelId must have at least 1 elements")
	}
	if strlen(r.hotelId) > 2000 {
		return localVarReturnValue, nil, reportError("hotelId must have less than 2000 elements")
	}
	if strlen(r.blockId) < 1 {
		return localVarReturnValue, nil, reportError("blockId must have at least 1 elements")
	}
	if strlen(r.blockId) > 2000 {
		return localVarReturnValue, nil, reportError("blockId must have less than 2000 elements")
	}
	if strlen(r.requestId) < 1 {
		return localVarReturnValue, nil, reportError("requestId must have at least 1 elements")
	}
	if strlen(r.requestId) > 2000 {
		return localVarReturnValue, nil, reportError("requestId must have less than 2000 elements")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json;charset=UTF-8"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "")
	}
	if r.externalData != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "externalData", r.externalData, "")
	}
	if r.xAppKey != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-app-key", r.xAppKey, "")
	}
	if r.xRequestId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-request-id", r.xRequestId, "")
	}
	if r.xOriginatingApplication != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-originating-application", r.xOriginatingApplication, "")
	}
	if r.xHotelid != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-hotelid", r.xHotelid, "")
	}
	if r.acceptLanguage != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accept-Language", r.acceptLanguage, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if a.client.cfg.ResponseMiddleware != nil {
		err = a.client.cfg.ResponseMiddleware(localVarHTTPResponse, localVarBody)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type BlockAsyncAPIGetBlockAllocationProcessStatusRequest struct {
	ctx context.Context
	ApiService *BlockAsyncAPIService
	hotelId string
	blockId string
	requestId string
	authorization *string
	xAppKey *string
	xHotelid *string
	externalData *string
	xRequestId *string
	xOriginatingApplication *string
	acceptLanguage *string
}

// Bearer token that needs to be passed which is generated post user authentication
func (r BlockAsyncAPIGetBlockAllocationProcessStatusRequest) Authorization(authorization string) BlockAsyncAPIGetBlockAllocationProcessStatusRequest {
	r.authorization = &authorization
	return r
}

// Client or Partner&#39;s Application Key
func (r BlockAsyncAPIGetBlockAllocationProcessStatusRequest) XAppKey(xAppKey string) BlockAsyncAPIGetBlockAllocationProcessStatusRequest {
	r.xAppKey = &xAppKey
	return r
}

// Mandatory parameter to identify the hotel code where the end user is logged in
func (r BlockAsyncAPIGetBlockAllocationProcessStatusRequest) XHotelid(xHotelid string) BlockAsyncAPIGetBlockAllocationProcessStatusRequest {
	r.xHotelid = &xHotelid
	return r
}

// Pass this header as true, if payload needs DVM
func (r BlockAsyncAPIGetBlockAllocationProcessStatusRequest) ExternalData(externalData string) BlockAsyncAPIGetBlockAllocationProcessStatusRequest {
	r.externalData = &externalData
	return r
}

// Request Id of an incoming request
func (r BlockAsyncAPIGetBlockAllocationProcessStatusRequest) XRequestId(xRequestId string) BlockAsyncAPIGetBlockAllocationProcessStatusRequest {
	r.xRequestId = &xRequestId
	return r
}

// Customer&#39;s Integration Application Id
func (r BlockAsyncAPIGetBlockAllocationProcessStatusRequest) XOriginatingApplication(xOriginatingApplication string) BlockAsyncAPIGetBlockAllocationProcessStatusRequest {
	r.xOriginatingApplication = &xOriginatingApplication
	return r
}

// Language code
func (r BlockAsyncAPIGetBlockAllocationProcessStatusRequest) AcceptLanguage(acceptLanguage string) BlockAsyncAPIGetBlockAllocationProcessStatusRequest {
	r.acceptLanguage = &acceptLanguage
	return r
}

func (r BlockAsyncAPIGetBlockAllocationProcessStatusRequest) Execute() (*http.Response, error) {
	return r.ApiService.GetBlockAllocationProcessStatusExecute(r)
}

/*
GetBlockAllocationProcessStatus This API returns the status of asynchronous process scheduled for given id.

 <p><strong>OperationId:</strong>getBlockAllocationProcessStatus</p>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param hotelId
 @param blockId Unique OPERA Block ID which is used to find a Block from OPERA. This ID is a primary identification of a Block in OPERA.
 @param requestId
 @return BlockAsyncAPIGetBlockAllocationProcessStatusRequest
*/
func (a *BlockAsyncAPIService) GetBlockAllocationProcessStatus(ctx context.Context, hotelId string, blockId string, requestId string) BlockAsyncAPIGetBlockAllocationProcessStatusRequest {
	return BlockAsyncAPIGetBlockAllocationProcessStatusRequest{
		ApiService: a,
		ctx: ctx,
		hotelId: hotelId,
		blockId: blockId,
		requestId: requestId,
	}
}

// Execute executes the request
func (a *BlockAsyncAPIService) GetBlockAllocationProcessStatusExecute(r BlockAsyncAPIGetBlockAllocationProcessStatusRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodHead
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BlockAsyncAPIService.GetBlockAllocationProcessStatus")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/hotels/{hotelId}/blocks/{blockId}/allocation/{requestId}"
	localVarPath = strings.Replace(localVarPath, "{"+"hotelId"+"}", url.PathEscape(parameterValueToString(r.hotelId, "hotelId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"blockId"+"}", url.PathEscape(parameterValueToString(r.blockId, "blockId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"requestId"+"}", url.PathEscape(parameterValueToString(r.requestId, "requestId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if strlen(r.hotelId) < 1 {
		return nil, reportError("hotelId must have at least 1 elements")
	}
	if strlen(r.hotelId) > 2000 {
		return nil, reportError("hotelId must have less than 2000 elements")
	}
	if strlen(r.blockId) < 1 {
		return nil, reportError("blockId must have at least 1 elements")
	}
	if strlen(r.blockId) > 2000 {
		return nil, reportError("blockId must have less than 2000 elements")
	}
	if strlen(r.requestId) < 1 {
		return nil, reportError("requestId must have at least 1 elements")
	}
	if strlen(r.requestId) > 2000 {
		return nil, reportError("requestId must have less than 2000 elements")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json;charset=UTF-8"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "")
	}
	if r.externalData != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "externalData", r.externalData, "")
	}
	if r.xAppKey != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-app-key", r.xAppKey, "")
	}
	if r.xRequestId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-request-id", r.xRequestId, "")
	}
	if r.xOriginatingApplication != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-originating-application", r.xOriginatingApplication, "")
	}
	if r.xHotelid != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-hotelid", r.xHotelid, "")
	}
	if r.acceptLanguage != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accept-Language", r.acceptLanguage, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if a.client.cfg.ResponseMiddleware != nil {
		err = a.client.cfg.ResponseMiddleware(localVarHTTPResponse, localVarBody)
		if err != nil {
			return localVarHTTPResponse, err
		}
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarHTTPResponse, newErr
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type BlockAsyncAPIGetBlockAllocationSummaryRequest struct {
	ctx context.Context
	ApiService *BlockAsyncAPIService
	requestId string
	hotelId string
	extSystemCode string
	authorization *string
	xAppKey *string
	xHotelid *string
	externalData *string
	xRequestId *string
	xOriginatingApplication *string
	acceptLanguage *string
}

// Bearer token that needs to be passed which is generated post user authentication
func (r BlockAsyncAPIGetBlockAllocationSummaryRequest) Authorization(authorization string) BlockAsyncAPIGetBlockAllocationSummaryRequest {
	r.authorization = &authorization
	return r
}

// Client or Partner&#39;s Application Key
func (r BlockAsyncAPIGetBlockAllocationSummaryRequest) XAppKey(xAppKey string) BlockAsyncAPIGetBlockAllocationSummaryRequest {
	r.xAppKey = &xAppKey
	return r
}

// Mandatory parameter to identify the hotel code where the end user is logged in
func (r BlockAsyncAPIGetBlockAllocationSummaryRequest) XHotelid(xHotelid string) BlockAsyncAPIGetBlockAllocationSummaryRequest {
	r.xHotelid = &xHotelid
	return r
}

// Pass this header as true, if payload needs DVM
func (r BlockAsyncAPIGetBlockAllocationSummaryRequest) ExternalData(externalData string) BlockAsyncAPIGetBlockAllocationSummaryRequest {
	r.externalData = &externalData
	return r
}

// Request Id of an incoming request
func (r BlockAsyncAPIGetBlockAllocationSummaryRequest) XRequestId(xRequestId string) BlockAsyncAPIGetBlockAllocationSummaryRequest {
	r.xRequestId = &xRequestId
	return r
}

// Customer&#39;s Integration Application Id
func (r BlockAsyncAPIGetBlockAllocationSummaryRequest) XOriginatingApplication(xOriginatingApplication string) BlockAsyncAPIGetBlockAllocationSummaryRequest {
	r.xOriginatingApplication = &xOriginatingApplication
	return r
}

// Language code
func (r BlockAsyncAPIGetBlockAllocationSummaryRequest) AcceptLanguage(acceptLanguage string) BlockAsyncAPIGetBlockAllocationSummaryRequest {
	r.acceptLanguage = &acceptLanguage
	return r
}

func (r BlockAsyncAPIGetBlockAllocationSummaryRequest) Execute() ([]BlockAllocationSummaryType, *http.Response, error) {
	return r.ApiService.GetBlockAllocationSummaryExecute(r)
}

/*
GetBlockAllocationSummary This API returns a hotel's block allocation summary for a scheduled process.

This API will fetch Block allocation information for a hotel, and specified date range.  The block allocated inventory, rates and room type statistics are returned as part of the response. <p><strong>OperationId:</strong>getBlockAllocationSummary</p>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param requestId
 @param hotelId
 @param extSystemCode
 @return BlockAsyncAPIGetBlockAllocationSummaryRequest
*/
func (a *BlockAsyncAPIService) GetBlockAllocationSummary(ctx context.Context, requestId string, hotelId string, extSystemCode string) BlockAsyncAPIGetBlockAllocationSummaryRequest {
	return BlockAsyncAPIGetBlockAllocationSummaryRequest{
		ApiService: a,
		ctx: ctx,
		requestId: requestId,
		hotelId: hotelId,
		extSystemCode: extSystemCode,
	}
}

// Execute executes the request
//  @return []BlockAllocationSummaryType
func (a *BlockAsyncAPIService) GetBlockAllocationSummaryExecute(r BlockAsyncAPIGetBlockAllocationSummaryRequest) ([]BlockAllocationSummaryType, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []BlockAllocationSummaryType
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BlockAsyncAPIService.GetBlockAllocationSummary")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/externalSystems/{extSystemCode}/hotels/{hotelId}/blocks/allocationSummary/{requestId}"
	localVarPath = strings.Replace(localVarPath, "{"+"requestId"+"}", url.PathEscape(parameterValueToString(r.requestId, "requestId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"hotelId"+"}", url.PathEscape(parameterValueToString(r.hotelId, "hotelId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"extSystemCode"+"}", url.PathEscape(parameterValueToString(r.extSystemCode, "extSystemCode")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if strlen(r.requestId) < 1 {
		return localVarReturnValue, nil, reportError("requestId must have at least 1 elements")
	}
	if strlen(r.requestId) > 2000 {
		return localVarReturnValue, nil, reportError("requestId must have less than 2000 elements")
	}
	if strlen(r.hotelId) < 1 {
		return localVarReturnValue, nil, reportError("hotelId must have at least 1 elements")
	}
	if strlen(r.hotelId) > 2000 {
		return localVarReturnValue, nil, reportError("hotelId must have less than 2000 elements")
	}
	if strlen(r.extSystemCode) < 1 {
		return localVarReturnValue, nil, reportError("extSystemCode must have at least 1 elements")
	}
	if strlen(r.extSystemCode) > 2000 {
		return localVarReturnValue, nil, reportError("extSystemCode must have less than 2000 elements")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json;charset=UTF-8"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "")
	}
	if r.externalData != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "externalData", r.externalData, "")
	}
	if r.xAppKey != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-app-key", r.xAppKey, "")
	}
	if r.xRequestId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-request-id", r.xRequestId, "")
	}
	if r.xOriginatingApplication != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-originating-application", r.xOriginatingApplication, "")
	}
	if r.xHotelid != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-hotelid", r.xHotelid, "")
	}
	if r.acceptLanguage != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accept-Language", r.acceptLanguage, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if a.client.cfg.ResponseMiddleware != nil {
		err = a.client.cfg.ResponseMiddleware(localVarHTTPResponse, localVarBody)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type BlockAsyncAPIGetBlockAllocationSummaryProcessStatusRequest struct {
	ctx context.Context
	ApiService *BlockAsyncAPIService
	requestId string
	extSystemCode string
	hotelId string
	authorization *string
	xAppKey *string
	xHotelid *string
	externalData *string
	xRequestId *string
	xOriginatingApplication *string
	acceptLanguage *string
}

// Bearer token that needs to be passed which is generated post user authentication
func (r BlockAsyncAPIGetBlockAllocationSummaryProcessStatusRequest) Authorization(authorization string) BlockAsyncAPIGetBlockAllocationSummaryProcessStatusRequest {
	r.authorization = &authorization
	return r
}

// Client or Partner&#39;s Application Key
func (r BlockAsyncAPIGetBlockAllocationSummaryProcessStatusRequest) XAppKey(xAppKey string) BlockAsyncAPIGetBlockAllocationSummaryProcessStatusRequest {
	r.xAppKey = &xAppKey
	return r
}

// Mandatory parameter to identify the hotel code where the end user is logged in
func (r BlockAsyncAPIGetBlockAllocationSummaryProcessStatusRequest) XHotelid(xHotelid string) BlockAsyncAPIGetBlockAllocationSummaryProcessStatusRequest {
	r.xHotelid = &xHotelid
	return r
}

// Pass this header as true, if payload needs DVM
func (r BlockAsyncAPIGetBlockAllocationSummaryProcessStatusRequest) ExternalData(externalData string) BlockAsyncAPIGetBlockAllocationSummaryProcessStatusRequest {
	r.externalData = &externalData
	return r
}

// Request Id of an incoming request
func (r BlockAsyncAPIGetBlockAllocationSummaryProcessStatusRequest) XRequestId(xRequestId string) BlockAsyncAPIGetBlockAllocationSummaryProcessStatusRequest {
	r.xRequestId = &xRequestId
	return r
}

// Customer&#39;s Integration Application Id
func (r BlockAsyncAPIGetBlockAllocationSummaryProcessStatusRequest) XOriginatingApplication(xOriginatingApplication string) BlockAsyncAPIGetBlockAllocationSummaryProcessStatusRequest {
	r.xOriginatingApplication = &xOriginatingApplication
	return r
}

// Language code
func (r BlockAsyncAPIGetBlockAllocationSummaryProcessStatusRequest) AcceptLanguage(acceptLanguage string) BlockAsyncAPIGetBlockAllocationSummaryProcessStatusRequest {
	r.acceptLanguage = &acceptLanguage
	return r
}

func (r BlockAsyncAPIGetBlockAllocationSummaryProcessStatusRequest) Execute() (*http.Response, error) {
	return r.ApiService.GetBlockAllocationSummaryProcessStatusExecute(r)
}

/*
GetBlockAllocationSummaryProcessStatus This API returns the status of asynchronous process scheduled for given id.

 <p><strong>OperationId:</strong>getBlockAllocationSummaryProcessStatus</p>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param requestId
 @param extSystemCode
 @param hotelId
 @return BlockAsyncAPIGetBlockAllocationSummaryProcessStatusRequest
*/
func (a *BlockAsyncAPIService) GetBlockAllocationSummaryProcessStatus(ctx context.Context, requestId string, extSystemCode string, hotelId string) BlockAsyncAPIGetBlockAllocationSummaryProcessStatusRequest {
	return BlockAsyncAPIGetBlockAllocationSummaryProcessStatusRequest{
		ApiService: a,
		ctx: ctx,
		requestId: requestId,
		extSystemCode: extSystemCode,
		hotelId: hotelId,
	}
}

// Execute executes the request
func (a *BlockAsyncAPIService) GetBlockAllocationSummaryProcessStatusExecute(r BlockAsyncAPIGetBlockAllocationSummaryProcessStatusRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodHead
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BlockAsyncAPIService.GetBlockAllocationSummaryProcessStatus")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/externalSystems/{extSystemCode}/hotels/{hotelId}/blocks/allocationSummary/{requestId}"
	localVarPath = strings.Replace(localVarPath, "{"+"requestId"+"}", url.PathEscape(parameterValueToString(r.requestId, "requestId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"extSystemCode"+"}", url.PathEscape(parameterValueToString(r.extSystemCode, "extSystemCode")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"hotelId"+"}", url.PathEscape(parameterValueToString(r.hotelId, "hotelId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if strlen(r.requestId) < 1 {
		return nil, reportError("requestId must have at least 1 elements")
	}
	if strlen(r.requestId) > 2000 {
		return nil, reportError("requestId must have less than 2000 elements")
	}
	if strlen(r.extSystemCode) < 1 {
		return nil, reportError("extSystemCode must have at least 1 elements")
	}
	if strlen(r.extSystemCode) > 2000 {
		return nil, reportError("extSystemCode must have less than 2000 elements")
	}
	if strlen(r.hotelId) < 1 {
		return nil, reportError("hotelId must have at least 1 elements")
	}
	if strlen(r.hotelId) > 2000 {
		return nil, reportError("hotelId must have less than 2000 elements")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json;charset=UTF-8"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "")
	}
	if r.externalData != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "externalData", r.externalData, "")
	}
	if r.xAppKey != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-app-key", r.xAppKey, "")
	}
	if r.xRequestId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-request-id", r.xRequestId, "")
	}
	if r.xOriginatingApplication != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-originating-application", r.xOriginatingApplication, "")
	}
	if r.xHotelid != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-hotelid", r.xHotelid, "")
	}
	if r.acceptLanguage != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accept-Language", r.acceptLanguage, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if a.client.cfg.ResponseMiddleware != nil {
		err = a.client.cfg.ResponseMiddleware(localVarHTTPResponse, localVarBody)
		if err != nil {
			return localVarHTTPResponse, err
		}
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarHTTPResponse, newErr
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type BlockAsyncAPIGetFetchBlockProcessRequest struct {
	ctx context.Context
	ApiService *BlockAsyncAPIService
	hotelId string
	blockId string
	requestId string
	authorization *string
	xAppKey *string
	xHotelid *string
	externalData *string
	xRequestId *string
	xOriginatingApplication *string
	acceptLanguage *string
}

// Bearer token that needs to be passed which is generated post user authentication
func (r BlockAsyncAPIGetFetchBlockProcessRequest) Authorization(authorization string) BlockAsyncAPIGetFetchBlockProcessRequest {
	r.authorization = &authorization
	return r
}

// Client or Partner&#39;s Application Key
func (r BlockAsyncAPIGetFetchBlockProcessRequest) XAppKey(xAppKey string) BlockAsyncAPIGetFetchBlockProcessRequest {
	r.xAppKey = &xAppKey
	return r
}

// Mandatory parameter to identify the hotel code where the end user is logged in
func (r BlockAsyncAPIGetFetchBlockProcessRequest) XHotelid(xHotelid string) BlockAsyncAPIGetFetchBlockProcessRequest {
	r.xHotelid = &xHotelid
	return r
}

// Pass this header as true, if payload needs DVM
func (r BlockAsyncAPIGetFetchBlockProcessRequest) ExternalData(externalData string) BlockAsyncAPIGetFetchBlockProcessRequest {
	r.externalData = &externalData
	return r
}

// Request Id of an incoming request
func (r BlockAsyncAPIGetFetchBlockProcessRequest) XRequestId(xRequestId string) BlockAsyncAPIGetFetchBlockProcessRequest {
	r.xRequestId = &xRequestId
	return r
}

// Customer&#39;s Integration Application Id
func (r BlockAsyncAPIGetFetchBlockProcessRequest) XOriginatingApplication(xOriginatingApplication string) BlockAsyncAPIGetFetchBlockProcessRequest {
	r.xOriginatingApplication = &xOriginatingApplication
	return r
}

// Language code
func (r BlockAsyncAPIGetFetchBlockProcessRequest) AcceptLanguage(acceptLanguage string) BlockAsyncAPIGetFetchBlockProcessRequest {
	r.acceptLanguage = &acceptLanguage
	return r
}

func (r BlockAsyncAPIGetFetchBlockProcessRequest) Execute() (*Block, *http.Response, error) {
	return r.ApiService.GetFetchBlockProcessExecute(r)
}

/*
GetFetchBlockProcess The API returns information about the block retrieval request.

This API will fetch block information requested. <p><strong>OperationId:</strong>getFetchBlockProcess</p>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param hotelId
 @param blockId Unique OPERA Block ID which is used to find a Block from OPERA. This ID is a primary identification of a Block in OPERA.
 @param requestId
 @return BlockAsyncAPIGetFetchBlockProcessRequest
*/
func (a *BlockAsyncAPIService) GetFetchBlockProcess(ctx context.Context, hotelId string, blockId string, requestId string) BlockAsyncAPIGetFetchBlockProcessRequest {
	return BlockAsyncAPIGetFetchBlockProcessRequest{
		ApiService: a,
		ctx: ctx,
		hotelId: hotelId,
		blockId: blockId,
		requestId: requestId,
	}
}

// Execute executes the request
//  @return Block
func (a *BlockAsyncAPIService) GetFetchBlockProcessExecute(r BlockAsyncAPIGetFetchBlockProcessRequest) (*Block, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *Block
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BlockAsyncAPIService.GetFetchBlockProcess")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/hotels/{hotelId}/blocks/{blockId}/async/{requestId}"
	localVarPath = strings.Replace(localVarPath, "{"+"hotelId"+"}", url.PathEscape(parameterValueToString(r.hotelId, "hotelId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"blockId"+"}", url.PathEscape(parameterValueToString(r.blockId, "blockId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"requestId"+"}", url.PathEscape(parameterValueToString(r.requestId, "requestId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if strlen(r.hotelId) < 1 {
		return localVarReturnValue, nil, reportError("hotelId must have at least 1 elements")
	}
	if strlen(r.hotelId) > 2000 {
		return localVarReturnValue, nil, reportError("hotelId must have less than 2000 elements")
	}
	if strlen(r.blockId) < 1 {
		return localVarReturnValue, nil, reportError("blockId must have at least 1 elements")
	}
	if strlen(r.blockId) > 2000 {
		return localVarReturnValue, nil, reportError("blockId must have less than 2000 elements")
	}
	if strlen(r.requestId) < 1 {
		return localVarReturnValue, nil, reportError("requestId must have at least 1 elements")
	}
	if strlen(r.requestId) > 2000 {
		return localVarReturnValue, nil, reportError("requestId must have less than 2000 elements")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json;charset=UTF-8"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "")
	}
	if r.externalData != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "externalData", r.externalData, "")
	}
	if r.xAppKey != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-app-key", r.xAppKey, "")
	}
	if r.xRequestId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-request-id", r.xRequestId, "")
	}
	if r.xOriginatingApplication != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-originating-application", r.xOriginatingApplication, "")
	}
	if r.xHotelid != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-hotelid", r.xHotelid, "")
	}
	if r.acceptLanguage != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accept-Language", r.acceptLanguage, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if a.client.cfg.ResponseMiddleware != nil {
		err = a.client.cfg.ResponseMiddleware(localVarHTTPResponse, localVarBody)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type BlockAsyncAPIGetRecalculateRoomForecastProcessInfoRequest struct {
	ctx context.Context
	ApiService *BlockAsyncAPIService
	hotelId string
	blockId string
	requestId string
	authorization *string
	xAppKey *string
	xHotelid *string
	externalData *string
	xRequestId *string
	xOriginatingApplication *string
	acceptLanguage *string
}

// Bearer token that needs to be passed which is generated post user authentication
func (r BlockAsyncAPIGetRecalculateRoomForecastProcessInfoRequest) Authorization(authorization string) BlockAsyncAPIGetRecalculateRoomForecastProcessInfoRequest {
	r.authorization = &authorization
	return r
}

// Client or Partner&#39;s Application Key
func (r BlockAsyncAPIGetRecalculateRoomForecastProcessInfoRequest) XAppKey(xAppKey string) BlockAsyncAPIGetRecalculateRoomForecastProcessInfoRequest {
	r.xAppKey = &xAppKey
	return r
}

// Mandatory parameter to identify the hotel code where the end user is logged in
func (r BlockAsyncAPIGetRecalculateRoomForecastProcessInfoRequest) XHotelid(xHotelid string) BlockAsyncAPIGetRecalculateRoomForecastProcessInfoRequest {
	r.xHotelid = &xHotelid
	return r
}

// Pass this header as true, if payload needs DVM
func (r BlockAsyncAPIGetRecalculateRoomForecastProcessInfoRequest) ExternalData(externalData string) BlockAsyncAPIGetRecalculateRoomForecastProcessInfoRequest {
	r.externalData = &externalData
	return r
}

// Request Id of an incoming request
func (r BlockAsyncAPIGetRecalculateRoomForecastProcessInfoRequest) XRequestId(xRequestId string) BlockAsyncAPIGetRecalculateRoomForecastProcessInfoRequest {
	r.xRequestId = &xRequestId
	return r
}

// Customer&#39;s Integration Application Id
func (r BlockAsyncAPIGetRecalculateRoomForecastProcessInfoRequest) XOriginatingApplication(xOriginatingApplication string) BlockAsyncAPIGetRecalculateRoomForecastProcessInfoRequest {
	r.xOriginatingApplication = &xOriginatingApplication
	return r
}

// Language code
func (r BlockAsyncAPIGetRecalculateRoomForecastProcessInfoRequest) AcceptLanguage(acceptLanguage string) BlockAsyncAPIGetRecalculateRoomForecastProcessInfoRequest {
	r.acceptLanguage = &acceptLanguage
	return r
}

func (r BlockAsyncAPIGetRecalculateRoomForecastProcessInfoRequest) Execute() (*ProcessDetails, *http.Response, error) {
	return r.ApiService.GetRecalculateRoomForecastProcessInfoExecute(r)
}

/*
GetRecalculateRoomForecastProcessInfo This API returns information about the recalculate room forecast rates process.

This API will fetch recalculate room forecast warnings and errors to be returned as part of the response.<p><strong>OperationId:</strong>getRecalculateRoomForecastProcessInfo</p>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param hotelId
 @param blockId Unique OPERA Block ID which is used to find a Block from OPERA. This ID is a primary identification of a Block in OPERA.
 @param requestId
 @return BlockAsyncAPIGetRecalculateRoomForecastProcessInfoRequest
*/
func (a *BlockAsyncAPIService) GetRecalculateRoomForecastProcessInfo(ctx context.Context, hotelId string, blockId string, requestId string) BlockAsyncAPIGetRecalculateRoomForecastProcessInfoRequest {
	return BlockAsyncAPIGetRecalculateRoomForecastProcessInfoRequest{
		ApiService: a,
		ctx: ctx,
		hotelId: hotelId,
		blockId: blockId,
		requestId: requestId,
	}
}

// Execute executes the request
//  @return ProcessDetails
func (a *BlockAsyncAPIService) GetRecalculateRoomForecastProcessInfoExecute(r BlockAsyncAPIGetRecalculateRoomForecastProcessInfoRequest) (*ProcessDetails, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ProcessDetails
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BlockAsyncAPIService.GetRecalculateRoomForecastProcessInfo")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/hotels/{hotelId}/blocks/{blockId}/recalculateRoomForecast/{requestId}"
	localVarPath = strings.Replace(localVarPath, "{"+"hotelId"+"}", url.PathEscape(parameterValueToString(r.hotelId, "hotelId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"blockId"+"}", url.PathEscape(parameterValueToString(r.blockId, "blockId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"requestId"+"}", url.PathEscape(parameterValueToString(r.requestId, "requestId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if strlen(r.hotelId) < 1 {
		return localVarReturnValue, nil, reportError("hotelId must have at least 1 elements")
	}
	if strlen(r.hotelId) > 20 {
		return localVarReturnValue, nil, reportError("hotelId must have less than 20 elements")
	}
	if strlen(r.blockId) < 1 {
		return localVarReturnValue, nil, reportError("blockId must have at least 1 elements")
	}
	if strlen(r.blockId) > 40 {
		return localVarReturnValue, nil, reportError("blockId must have less than 40 elements")
	}
	if strlen(r.requestId) < 1 {
		return localVarReturnValue, nil, reportError("requestId must have at least 1 elements")
	}
	if strlen(r.requestId) > 2000 {
		return localVarReturnValue, nil, reportError("requestId must have less than 2000 elements")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json;charset=UTF-8"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "")
	}
	if r.externalData != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "externalData", r.externalData, "")
	}
	if r.xAppKey != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-app-key", r.xAppKey, "")
	}
	if r.xRequestId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-request-id", r.xRequestId, "")
	}
	if r.xOriginatingApplication != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-originating-application", r.xOriginatingApplication, "")
	}
	if r.xHotelid != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-hotelid", r.xHotelid, "")
	}
	if r.acceptLanguage != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accept-Language", r.acceptLanguage, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if a.client.cfg.ResponseMiddleware != nil {
		err = a.client.cfg.ResponseMiddleware(localVarHTTPResponse, localVarBody)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type BlockAsyncAPIGetRecalculateRoomForecastProcessStatusRequest struct {
	ctx context.Context
	ApiService *BlockAsyncAPIService
	hotelId string
	blockId string
	requestId string
	authorization *string
	xAppKey *string
	xHotelid *string
	externalData *string
	xRequestId *string
	xOriginatingApplication *string
	acceptLanguage *string
}

// Bearer token that needs to be passed which is generated post user authentication
func (r BlockAsyncAPIGetRecalculateRoomForecastProcessStatusRequest) Authorization(authorization string) BlockAsyncAPIGetRecalculateRoomForecastProcessStatusRequest {
	r.authorization = &authorization
	return r
}

// Client or Partner&#39;s Application Key
func (r BlockAsyncAPIGetRecalculateRoomForecastProcessStatusRequest) XAppKey(xAppKey string) BlockAsyncAPIGetRecalculateRoomForecastProcessStatusRequest {
	r.xAppKey = &xAppKey
	return r
}

// Mandatory parameter to identify the hotel code where the end user is logged in
func (r BlockAsyncAPIGetRecalculateRoomForecastProcessStatusRequest) XHotelid(xHotelid string) BlockAsyncAPIGetRecalculateRoomForecastProcessStatusRequest {
	r.xHotelid = &xHotelid
	return r
}

// Pass this header as true, if payload needs DVM
func (r BlockAsyncAPIGetRecalculateRoomForecastProcessStatusRequest) ExternalData(externalData string) BlockAsyncAPIGetRecalculateRoomForecastProcessStatusRequest {
	r.externalData = &externalData
	return r
}

// Request Id of an incoming request
func (r BlockAsyncAPIGetRecalculateRoomForecastProcessStatusRequest) XRequestId(xRequestId string) BlockAsyncAPIGetRecalculateRoomForecastProcessStatusRequest {
	r.xRequestId = &xRequestId
	return r
}

// Customer&#39;s Integration Application Id
func (r BlockAsyncAPIGetRecalculateRoomForecastProcessStatusRequest) XOriginatingApplication(xOriginatingApplication string) BlockAsyncAPIGetRecalculateRoomForecastProcessStatusRequest {
	r.xOriginatingApplication = &xOriginatingApplication
	return r
}

// Language code
func (r BlockAsyncAPIGetRecalculateRoomForecastProcessStatusRequest) AcceptLanguage(acceptLanguage string) BlockAsyncAPIGetRecalculateRoomForecastProcessStatusRequest {
	r.acceptLanguage = &acceptLanguage
	return r
}

func (r BlockAsyncAPIGetRecalculateRoomForecastProcessStatusRequest) Execute() (*http.Response, error) {
	return r.ApiService.GetRecalculateRoomForecastProcessStatusExecute(r)
}

/*
GetRecalculateRoomForecastProcessStatus This API returns the status of asynchronous process scheduled for given id.

 <p><strong>OperationId:</strong>getRecalculateRoomForecastProcessStatus</p>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param hotelId
 @param blockId Unique OPERA Block ID which is used to find a Block from OPERA. This ID is a primary identification of a Block in OPERA.
 @param requestId
 @return BlockAsyncAPIGetRecalculateRoomForecastProcessStatusRequest
*/
func (a *BlockAsyncAPIService) GetRecalculateRoomForecastProcessStatus(ctx context.Context, hotelId string, blockId string, requestId string) BlockAsyncAPIGetRecalculateRoomForecastProcessStatusRequest {
	return BlockAsyncAPIGetRecalculateRoomForecastProcessStatusRequest{
		ApiService: a,
		ctx: ctx,
		hotelId: hotelId,
		blockId: blockId,
		requestId: requestId,
	}
}

// Execute executes the request
func (a *BlockAsyncAPIService) GetRecalculateRoomForecastProcessStatusExecute(r BlockAsyncAPIGetRecalculateRoomForecastProcessStatusRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodHead
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BlockAsyncAPIService.GetRecalculateRoomForecastProcessStatus")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/hotels/{hotelId}/blocks/{blockId}/recalculateRoomForecast/{requestId}"
	localVarPath = strings.Replace(localVarPath, "{"+"hotelId"+"}", url.PathEscape(parameterValueToString(r.hotelId, "hotelId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"blockId"+"}", url.PathEscape(parameterValueToString(r.blockId, "blockId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"requestId"+"}", url.PathEscape(parameterValueToString(r.requestId, "requestId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if strlen(r.hotelId) < 1 {
		return nil, reportError("hotelId must have at least 1 elements")
	}
	if strlen(r.hotelId) > 20 {
		return nil, reportError("hotelId must have less than 20 elements")
	}
	if strlen(r.blockId) < 1 {
		return nil, reportError("blockId must have at least 1 elements")
	}
	if strlen(r.blockId) > 40 {
		return nil, reportError("blockId must have less than 40 elements")
	}
	if strlen(r.requestId) < 1 {
		return nil, reportError("requestId must have at least 1 elements")
	}
	if strlen(r.requestId) > 2000 {
		return nil, reportError("requestId must have less than 2000 elements")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "")
	}
	if r.externalData != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "externalData", r.externalData, "")
	}
	if r.xAppKey != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-app-key", r.xAppKey, "")
	}
	if r.xRequestId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-request-id", r.xRequestId, "")
	}
	if r.xOriginatingApplication != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-originating-application", r.xOriginatingApplication, "")
	}
	if r.xHotelid != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-hotelid", r.xHotelid, "")
	}
	if r.acceptLanguage != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accept-Language", r.acceptLanguage, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if a.client.cfg.ResponseMiddleware != nil {
		err = a.client.cfg.ResponseMiddleware(localVarHTTPResponse, localVarBody)
		if err != nil {
			return localVarHTTPResponse, err
		}
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type BlockAsyncAPIGetRefreshProjectedRevenuesProcessInfoRequest struct {
	ctx context.Context
	ApiService *BlockAsyncAPIService
	hotelId string
	blockId string
	requestId string
	authorization *string
	xAppKey *string
	xHotelid *string
	externalData *string
	xRequestId *string
	xOriginatingApplication *string
	acceptLanguage *string
}

// Bearer token that needs to be passed which is generated post user authentication
func (r BlockAsyncAPIGetRefreshProjectedRevenuesProcessInfoRequest) Authorization(authorization string) BlockAsyncAPIGetRefreshProjectedRevenuesProcessInfoRequest {
	r.authorization = &authorization
	return r
}

// Client or Partner&#39;s Application Key
func (r BlockAsyncAPIGetRefreshProjectedRevenuesProcessInfoRequest) XAppKey(xAppKey string) BlockAsyncAPIGetRefreshProjectedRevenuesProcessInfoRequest {
	r.xAppKey = &xAppKey
	return r
}

// Mandatory parameter to identify the hotel code where the end user is logged in
func (r BlockAsyncAPIGetRefreshProjectedRevenuesProcessInfoRequest) XHotelid(xHotelid string) BlockAsyncAPIGetRefreshProjectedRevenuesProcessInfoRequest {
	r.xHotelid = &xHotelid
	return r
}

// Pass this header as true, if payload needs DVM
func (r BlockAsyncAPIGetRefreshProjectedRevenuesProcessInfoRequest) ExternalData(externalData string) BlockAsyncAPIGetRefreshProjectedRevenuesProcessInfoRequest {
	r.externalData = &externalData
	return r
}

// Request Id of an incoming request
func (r BlockAsyncAPIGetRefreshProjectedRevenuesProcessInfoRequest) XRequestId(xRequestId string) BlockAsyncAPIGetRefreshProjectedRevenuesProcessInfoRequest {
	r.xRequestId = &xRequestId
	return r
}

// Customer&#39;s Integration Application Id
func (r BlockAsyncAPIGetRefreshProjectedRevenuesProcessInfoRequest) XOriginatingApplication(xOriginatingApplication string) BlockAsyncAPIGetRefreshProjectedRevenuesProcessInfoRequest {
	r.xOriginatingApplication = &xOriginatingApplication
	return r
}

// Language code
func (r BlockAsyncAPIGetRefreshProjectedRevenuesProcessInfoRequest) AcceptLanguage(acceptLanguage string) BlockAsyncAPIGetRefreshProjectedRevenuesProcessInfoRequest {
	r.acceptLanguage = &acceptLanguage
	return r
}

func (r BlockAsyncAPIGetRefreshProjectedRevenuesProcessInfoRequest) Execute() (*ProcessDetails, *http.Response, error) {
	return r.ApiService.GetRefreshProjectedRevenuesProcessInfoExecute(r)
}

/*
GetRefreshProjectedRevenuesProcessInfo This API returns information about the Business Block projected revenues refresh process.

To include as part of response, this API will fetch warnings and/or errors (if any) from Business Block projected revenues refresh process.<p><strong>OperationId:</strong>getRefreshProjectedRevenuesProcessInfo</p>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param hotelId Hotel code where the Business Block resides.
 @param blockId Unique OPERA ID which is used to find a Block in OPERA Cloud. This ID is a primary identification of a Business Block in OPERA Cloud.
 @param requestId
 @return BlockAsyncAPIGetRefreshProjectedRevenuesProcessInfoRequest
*/
func (a *BlockAsyncAPIService) GetRefreshProjectedRevenuesProcessInfo(ctx context.Context, hotelId string, blockId string, requestId string) BlockAsyncAPIGetRefreshProjectedRevenuesProcessInfoRequest {
	return BlockAsyncAPIGetRefreshProjectedRevenuesProcessInfoRequest{
		ApiService: a,
		ctx: ctx,
		hotelId: hotelId,
		blockId: blockId,
		requestId: requestId,
	}
}

// Execute executes the request
//  @return ProcessDetails
func (a *BlockAsyncAPIService) GetRefreshProjectedRevenuesProcessInfoExecute(r BlockAsyncAPIGetRefreshProjectedRevenuesProcessInfoRequest) (*ProcessDetails, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ProcessDetails
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BlockAsyncAPIService.GetRefreshProjectedRevenuesProcessInfo")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/hotels/{hotelId}/blocks/{blockId}/refreshProjectedRevenues/{requestId}"
	localVarPath = strings.Replace(localVarPath, "{"+"hotelId"+"}", url.PathEscape(parameterValueToString(r.hotelId, "hotelId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"blockId"+"}", url.PathEscape(parameterValueToString(r.blockId, "blockId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"requestId"+"}", url.PathEscape(parameterValueToString(r.requestId, "requestId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if strlen(r.hotelId) < 1 {
		return localVarReturnValue, nil, reportError("hotelId must have at least 1 elements")
	}
	if strlen(r.hotelId) > 20 {
		return localVarReturnValue, nil, reportError("hotelId must have less than 20 elements")
	}
	if strlen(r.blockId) < 1 {
		return localVarReturnValue, nil, reportError("blockId must have at least 1 elements")
	}
	if strlen(r.blockId) > 40 {
		return localVarReturnValue, nil, reportError("blockId must have less than 40 elements")
	}
	if strlen(r.requestId) < 1 {
		return localVarReturnValue, nil, reportError("requestId must have at least 1 elements")
	}
	if strlen(r.requestId) > 2000 {
		return localVarReturnValue, nil, reportError("requestId must have less than 2000 elements")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json;charset=UTF-8"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "")
	}
	if r.externalData != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "externalData", r.externalData, "")
	}
	if r.xAppKey != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-app-key", r.xAppKey, "")
	}
	if r.xRequestId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-request-id", r.xRequestId, "")
	}
	if r.xOriginatingApplication != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-originating-application", r.xOriginatingApplication, "")
	}
	if r.xHotelid != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-hotelid", r.xHotelid, "")
	}
	if r.acceptLanguage != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accept-Language", r.acceptLanguage, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if a.client.cfg.ResponseMiddleware != nil {
		err = a.client.cfg.ResponseMiddleware(localVarHTTPResponse, localVarBody)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type BlockAsyncAPIGetRefreshProjectedRevenuesProcessStatusRequest struct {
	ctx context.Context
	ApiService *BlockAsyncAPIService
	hotelId string
	blockId string
	requestId string
	authorization *string
	xAppKey *string
	xHotelid *string
	externalData *string
	xRequestId *string
	xOriginatingApplication *string
	acceptLanguage *string
}

// Bearer token that needs to be passed which is generated post user authentication
func (r BlockAsyncAPIGetRefreshProjectedRevenuesProcessStatusRequest) Authorization(authorization string) BlockAsyncAPIGetRefreshProjectedRevenuesProcessStatusRequest {
	r.authorization = &authorization
	return r
}

// Client or Partner&#39;s Application Key
func (r BlockAsyncAPIGetRefreshProjectedRevenuesProcessStatusRequest) XAppKey(xAppKey string) BlockAsyncAPIGetRefreshProjectedRevenuesProcessStatusRequest {
	r.xAppKey = &xAppKey
	return r
}

// Mandatory parameter to identify the hotel code where the end user is logged in
func (r BlockAsyncAPIGetRefreshProjectedRevenuesProcessStatusRequest) XHotelid(xHotelid string) BlockAsyncAPIGetRefreshProjectedRevenuesProcessStatusRequest {
	r.xHotelid = &xHotelid
	return r
}

// Pass this header as true, if payload needs DVM
func (r BlockAsyncAPIGetRefreshProjectedRevenuesProcessStatusRequest) ExternalData(externalData string) BlockAsyncAPIGetRefreshProjectedRevenuesProcessStatusRequest {
	r.externalData = &externalData
	return r
}

// Request Id of an incoming request
func (r BlockAsyncAPIGetRefreshProjectedRevenuesProcessStatusRequest) XRequestId(xRequestId string) BlockAsyncAPIGetRefreshProjectedRevenuesProcessStatusRequest {
	r.xRequestId = &xRequestId
	return r
}

// Customer&#39;s Integration Application Id
func (r BlockAsyncAPIGetRefreshProjectedRevenuesProcessStatusRequest) XOriginatingApplication(xOriginatingApplication string) BlockAsyncAPIGetRefreshProjectedRevenuesProcessStatusRequest {
	r.xOriginatingApplication = &xOriginatingApplication
	return r
}

// Language code
func (r BlockAsyncAPIGetRefreshProjectedRevenuesProcessStatusRequest) AcceptLanguage(acceptLanguage string) BlockAsyncAPIGetRefreshProjectedRevenuesProcessStatusRequest {
	r.acceptLanguage = &acceptLanguage
	return r
}

func (r BlockAsyncAPIGetRefreshProjectedRevenuesProcessStatusRequest) Execute() (*http.Response, error) {
	return r.ApiService.GetRefreshProjectedRevenuesProcessStatusExecute(r)
}

/*
GetRefreshProjectedRevenuesProcessStatus This API returns the status of asynchronous process scheduled for given id.

 <p><strong>OperationId:</strong>getRefreshProjectedRevenuesProcessStatus</p>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param hotelId Hotel code where the Business Block resides.
 @param blockId Unique OPERA ID which is used to find a Block in OPERA Cloud. This ID is a primary identification of a Business Block in OPERA Cloud.
 @param requestId
 @return BlockAsyncAPIGetRefreshProjectedRevenuesProcessStatusRequest
*/
func (a *BlockAsyncAPIService) GetRefreshProjectedRevenuesProcessStatus(ctx context.Context, hotelId string, blockId string, requestId string) BlockAsyncAPIGetRefreshProjectedRevenuesProcessStatusRequest {
	return BlockAsyncAPIGetRefreshProjectedRevenuesProcessStatusRequest{
		ApiService: a,
		ctx: ctx,
		hotelId: hotelId,
		blockId: blockId,
		requestId: requestId,
	}
}

// Execute executes the request
func (a *BlockAsyncAPIService) GetRefreshProjectedRevenuesProcessStatusExecute(r BlockAsyncAPIGetRefreshProjectedRevenuesProcessStatusRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodHead
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BlockAsyncAPIService.GetRefreshProjectedRevenuesProcessStatus")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/hotels/{hotelId}/blocks/{blockId}/refreshProjectedRevenues/{requestId}"
	localVarPath = strings.Replace(localVarPath, "{"+"hotelId"+"}", url.PathEscape(parameterValueToString(r.hotelId, "hotelId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"blockId"+"}", url.PathEscape(parameterValueToString(r.blockId, "blockId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"requestId"+"}", url.PathEscape(parameterValueToString(r.requestId, "requestId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if strlen(r.hotelId) < 1 {
		return nil, reportError("hotelId must have at least 1 elements")
	}
	if strlen(r.hotelId) > 20 {
		return nil, reportError("hotelId must have less than 20 elements")
	}
	if strlen(r.blockId) < 1 {
		return nil, reportError("blockId must have at least 1 elements")
	}
	if strlen(r.blockId) > 40 {
		return nil, reportError("blockId must have less than 40 elements")
	}
	if strlen(r.requestId) < 1 {
		return nil, reportError("requestId must have at least 1 elements")
	}
	if strlen(r.requestId) > 2000 {
		return nil, reportError("requestId must have less than 2000 elements")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "")
	}
	if r.externalData != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "externalData", r.externalData, "")
	}
	if r.xAppKey != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-app-key", r.xAppKey, "")
	}
	if r.xRequestId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-request-id", r.xRequestId, "")
	}
	if r.xOriginatingApplication != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-originating-application", r.xOriginatingApplication, "")
	}
	if r.xHotelid != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-hotelid", r.xHotelid, "")
	}
	if r.acceptLanguage != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accept-Language", r.acceptLanguage, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if a.client.cfg.ResponseMiddleware != nil {
		err = a.client.cfg.ResponseMiddleware(localVarHTTPResponse, localVarBody)
		if err != nil {
			return localVarHTTPResponse, err
		}
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type BlockAsyncAPIGetShiftBlockProcessInfoRequest struct {
	ctx context.Context
	ApiService *BlockAsyncAPIService
	hotelId string
	blockId string
	requestId string
	authorization *string
	xAppKey *string
	xHotelid *string
	externalData *string
	xRequestId *string
	xOriginatingApplication *string
	acceptLanguage *string
}

// Bearer token that needs to be passed which is generated post user authentication
func (r BlockAsyncAPIGetShiftBlockProcessInfoRequest) Authorization(authorization string) BlockAsyncAPIGetShiftBlockProcessInfoRequest {
	r.authorization = &authorization
	return r
}

// Client or Partner&#39;s Application Key
func (r BlockAsyncAPIGetShiftBlockProcessInfoRequest) XAppKey(xAppKey string) BlockAsyncAPIGetShiftBlockProcessInfoRequest {
	r.xAppKey = &xAppKey
	return r
}

// Mandatory parameter to identify the hotel code where the end user is logged in
func (r BlockAsyncAPIGetShiftBlockProcessInfoRequest) XHotelid(xHotelid string) BlockAsyncAPIGetShiftBlockProcessInfoRequest {
	r.xHotelid = &xHotelid
	return r
}

// Pass this header as true, if payload needs DVM
func (r BlockAsyncAPIGetShiftBlockProcessInfoRequest) ExternalData(externalData string) BlockAsyncAPIGetShiftBlockProcessInfoRequest {
	r.externalData = &externalData
	return r
}

// Request Id of an incoming request
func (r BlockAsyncAPIGetShiftBlockProcessInfoRequest) XRequestId(xRequestId string) BlockAsyncAPIGetShiftBlockProcessInfoRequest {
	r.xRequestId = &xRequestId
	return r
}

// Customer&#39;s Integration Application Id
func (r BlockAsyncAPIGetShiftBlockProcessInfoRequest) XOriginatingApplication(xOriginatingApplication string) BlockAsyncAPIGetShiftBlockProcessInfoRequest {
	r.xOriginatingApplication = &xOriginatingApplication
	return r
}

// Language code
func (r BlockAsyncAPIGetShiftBlockProcessInfoRequest) AcceptLanguage(acceptLanguage string) BlockAsyncAPIGetShiftBlockProcessInfoRequest {
	r.acceptLanguage = &acceptLanguage
	return r
}

func (r BlockAsyncAPIGetShiftBlockProcessInfoRequest) Execute() (*ProcessDetails, *http.Response, error) {
	return r.ApiService.GetShiftBlockProcessInfoExecute(r)
}

/*
GetShiftBlockProcessInfo This API returns information about the shift block process.

This API will fetch shift Block warnings and errors to be returned as part of the response. <p><strong>OperationId:</strong>getShiftBlockProcessInfo</p>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param hotelId
 @param blockId Unique OPERA Block ID which is used to find a Block from OPERA. This ID is a primary identification of a Block in OPERA.
 @param requestId
 @return BlockAsyncAPIGetShiftBlockProcessInfoRequest
*/
func (a *BlockAsyncAPIService) GetShiftBlockProcessInfo(ctx context.Context, hotelId string, blockId string, requestId string) BlockAsyncAPIGetShiftBlockProcessInfoRequest {
	return BlockAsyncAPIGetShiftBlockProcessInfoRequest{
		ApiService: a,
		ctx: ctx,
		hotelId: hotelId,
		blockId: blockId,
		requestId: requestId,
	}
}

// Execute executes the request
//  @return ProcessDetails
func (a *BlockAsyncAPIService) GetShiftBlockProcessInfoExecute(r BlockAsyncAPIGetShiftBlockProcessInfoRequest) (*ProcessDetails, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ProcessDetails
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BlockAsyncAPIService.GetShiftBlockProcessInfo")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/hotels/{hotelId}/blocks/{blockId}/shift/{requestId}"
	localVarPath = strings.Replace(localVarPath, "{"+"hotelId"+"}", url.PathEscape(parameterValueToString(r.hotelId, "hotelId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"blockId"+"}", url.PathEscape(parameterValueToString(r.blockId, "blockId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"requestId"+"}", url.PathEscape(parameterValueToString(r.requestId, "requestId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if strlen(r.hotelId) < 1 {
		return localVarReturnValue, nil, reportError("hotelId must have at least 1 elements")
	}
	if strlen(r.hotelId) > 2000 {
		return localVarReturnValue, nil, reportError("hotelId must have less than 2000 elements")
	}
	if strlen(r.blockId) < 1 {
		return localVarReturnValue, nil, reportError("blockId must have at least 1 elements")
	}
	if strlen(r.blockId) > 2000 {
		return localVarReturnValue, nil, reportError("blockId must have less than 2000 elements")
	}
	if strlen(r.requestId) < 1 {
		return localVarReturnValue, nil, reportError("requestId must have at least 1 elements")
	}
	if strlen(r.requestId) > 2000 {
		return localVarReturnValue, nil, reportError("requestId must have less than 2000 elements")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json;charset=UTF-8"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "")
	}
	if r.externalData != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "externalData", r.externalData, "")
	}
	if r.xAppKey != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-app-key", r.xAppKey, "")
	}
	if r.xRequestId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-request-id", r.xRequestId, "")
	}
	if r.xOriginatingApplication != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-originating-application", r.xOriginatingApplication, "")
	}
	if r.xHotelid != nil {
[...]
