/*
OPERA Cloud Reservation API

APIs to cater for Reservation functionality in OPERA Cloud. <br /><br />OPERA Cloud Reservations provides a complete set of capabilities for creating and updating reservations. Reservations are a central feature of OPERA Cloud. As a key source of information, the reservation specifies a guest&apos;s arrival date, departure date, room type, rate, packages, and many other details. It is also a gateway to dozens of other functions that contribute to the guest&apos;s experience.  All reservations in OPERA Cloud require a guest profile.<br /><br /> You can create profiles while booking a reservation. If a profile already exists, you can look it up (using getProfiles in the Customer Relationship Management module) and attach it to the reservation during the reservation booking process using the profileId.<br /><br /> Compatible with OPERA Cloud release 23.2.<br /><br /><p> This document and all content within is available under the Universal Permissive License v 1.0 (https://oss.oracle.com/licenses/upl). Copyright (c) 2020, 2023 Oracle and/or its affiliates.</p>

API version: 23.2
Contact: hospitality_apis_ww_grp@oracle.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package rsv

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"reflect"
)


// ReservationApiService ReservationApi service
type ReservationApiService service

type ReservationApiChangeReservationLocatorsRequest struct {
	ctx context.Context
	ApiService *ReservationApiService
	locatorId string
	reservationId string
	hotelId string
	authorization *string
	xAppKey *string
	xHotelid *string
	reservationLocatorsInfo *ChangeReservationLocatorsRequest
	xExternalsystem *string
	acceptLanguage *string
}

// Bearer token that needs to be passed which is generated post user authentication
func (r ReservationApiChangeReservationLocatorsRequest) Authorization(authorization string) ReservationApiChangeReservationLocatorsRequest {
	r.authorization = &authorization
	return r
}

// Client or Partner&#39;s Application Key
func (r ReservationApiChangeReservationLocatorsRequest) XAppKey(xAppKey string) ReservationApiChangeReservationLocatorsRequest {
	r.xAppKey = &xAppKey
	return r
}

// Mandatory parameter to identify the hotel code where the end user is logged in
func (r ReservationApiChangeReservationLocatorsRequest) XHotelid(xHotelid string) ReservationApiChangeReservationLocatorsRequest {
	r.xHotelid = &xHotelid
	return r
}

// Request object for changing hotel Notes for hotels.
func (r ReservationApiChangeReservationLocatorsRequest) ReservationLocatorsInfo(reservationLocatorsInfo ChangeReservationLocatorsRequest) ReservationApiChangeReservationLocatorsRequest {
	r.reservationLocatorsInfo = &reservationLocatorsInfo
	return r
}

// External system code.
func (r ReservationApiChangeReservationLocatorsRequest) XExternalsystem(xExternalsystem string) ReservationApiChangeReservationLocatorsRequest {
	r.xExternalsystem = &xExternalsystem
	return r
}

// Language code
func (r ReservationApiChangeReservationLocatorsRequest) AcceptLanguage(acceptLanguage string) ReservationApiChangeReservationLocatorsRequest {
	r.acceptLanguage = &acceptLanguage
	return r
}

func (r ReservationApiChangeReservationLocatorsRequest) Execute() (*ReservationLocatorsStatus, *http.Response, error) {
	return r.ApiService.ChangeReservationLocatorsExecute(r)
}

/*
ChangeReservationLocators Change Reservation Guest Locators

Change a list of Guest Locater for a Reservation. <p><strong>OperationId:</strong>changeReservationLocators</p>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param locatorId
 @param reservationId Unique OPERA reservation ID which is used to find reservation from OPERA. This ID is a primary identification of a reservation in OPERA.
 @param hotelId Unique ID of the hotel where reservation is searched based on reservation ID.
 @return ReservationApiChangeReservationLocatorsRequest
*/
func (a *ReservationApiService) ChangeReservationLocators(ctx context.Context, locatorId string, reservationId string, hotelId string) ReservationApiChangeReservationLocatorsRequest {
	return ReservationApiChangeReservationLocatorsRequest{
		ApiService: a,
		ctx: ctx,
		locatorId: locatorId,
		reservationId: reservationId,
		hotelId: hotelId,
	}
}

// Execute executes the request
//  @return ReservationLocatorsStatus
func (a *ReservationApiService) ChangeReservationLocatorsExecute(r ReservationApiChangeReservationLocatorsRequest) (*ReservationLocatorsStatus, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ReservationLocatorsStatus
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ReservationApiService.ChangeReservationLocators")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/hotels/{hotelId}/reservations/{reservationId}/guestLocators/{locatorId}"
	localVarPath = strings.Replace(localVarPath, "{"+"locatorId"+"}", url.PathEscape(parameterValueToString(r.locatorId, "locatorId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"reservationId"+"}", url.PathEscape(parameterValueToString(r.reservationId, "reservationId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"hotelId"+"}", url.PathEscape(parameterValueToString(r.hotelId, "hotelId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if strlen(r.locatorId) < 1 {
		return localVarReturnValue, nil, reportError("locatorId must have at least 1 elements")
	}
	if strlen(r.locatorId) > 2000 {
		return localVarReturnValue, nil, reportError("locatorId must have less than 2000 elements")
	}
	if strlen(r.reservationId) < 1 {
		return localVarReturnValue, nil, reportError("reservationId must have at least 1 elements")
	}
	if strlen(r.reservationId) > 2000 {
		return localVarReturnValue, nil, reportError("reservationId must have less than 2000 elements")
	}
	if strlen(r.hotelId) < 1 {
		return localVarReturnValue, nil, reportError("hotelId must have at least 1 elements")
	}
	if strlen(r.hotelId) > 2000 {
		return localVarReturnValue, nil, reportError("hotelId must have less than 2000 elements")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json;charset=UTF-8"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json;charset=UTF-8"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xExternalsystem != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-externalsystem", r.xExternalsystem, "")
	}
	if r.acceptLanguage != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accept-Language", r.acceptLanguage, "")
	}
	// body params
	localVarPostBody = r.reservationLocatorsInfo
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ReservationApiDeleteCancellationPolicyRequest struct {
	ctx context.Context
	ApiService *ReservationApiService
	reservationId string
	hotelId string
	policyId *string
	authorization *string
	xAppKey *string
	xHotelid *string
	xExternalsystem *string
	acceptLanguage *string
}

// A unique identifying value assigned by the creating system. The ID attribute may be used to reference a primary-key value within a database or in a particular implementation.
func (r ReservationApiDeleteCancellationPolicyRequest) PolicyId(policyId string) ReservationApiDeleteCancellationPolicyRequest {
	r.policyId = &policyId
	return r
}

// Bearer token that needs to be passed which is generated post user authentication
func (r ReservationApiDeleteCancellationPolicyRequest) Authorization(authorization string) ReservationApiDeleteCancellationPolicyRequest {
	r.authorization = &authorization
	return r
}

// Client or Partner&#39;s Application Key
func (r ReservationApiDeleteCancellationPolicyRequest) XAppKey(xAppKey string) ReservationApiDeleteCancellationPolicyRequest {
	r.xAppKey = &xAppKey
	return r
}

// Mandatory parameter to identify the hotel code where the end user is logged in
func (r ReservationApiDeleteCancellationPolicyRequest) XHotelid(xHotelid string) ReservationApiDeleteCancellationPolicyRequest {
	r.xHotelid = &xHotelid
	return r
}

// External system code.
func (r ReservationApiDeleteCancellationPolicyRequest) XExternalsystem(xExternalsystem string) ReservationApiDeleteCancellationPolicyRequest {
	r.xExternalsystem = &xExternalsystem
	return r
}

// Language code
func (r ReservationApiDeleteCancellationPolicyRequest) AcceptLanguage(acceptLanguage string) ReservationApiDeleteCancellationPolicyRequest {
	r.acceptLanguage = &acceptLanguage
	return r
}

func (r ReservationApiDeleteCancellationPolicyRequest) Execute() (*Status, *http.Response, error) {
	return r.ApiService.DeleteCancellationPolicyExecute(r)
}

/*
DeleteCancellationPolicy Delete a Cancellation policy

Delete an existing cancellation policy for a specific hotel. <p><strong>OperationId:</strong>deleteCancellationPolicy</p>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param reservationId Unique OPERA reservation ID which is used to find reservation from OPERA. This ID is a primary identification of a reservation in OPERA.
 @param hotelId Unique ID of the hotel where reservation is searched based on reservation ID.
 @return ReservationApiDeleteCancellationPolicyRequest
*/
func (a *ReservationApiService) DeleteCancellationPolicy(ctx context.Context, reservationId string, hotelId string) ReservationApiDeleteCancellationPolicyRequest {
	return ReservationApiDeleteCancellationPolicyRequest{
		ApiService: a,
		ctx: ctx,
		reservationId: reservationId,
		hotelId: hotelId,
	}
}

// Execute executes the request
//  @return Status
func (a *ReservationApiService) DeleteCancellationPolicyExecute(r ReservationApiDeleteCancellationPolicyRequest) (*Status, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *Status
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ReservationApiService.DeleteCancellationPolicy")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/hotels/{hotelId}/reservations/{reservationId}/cancellationPolicies"
	localVarPath = strings.Replace(localVarPath, "{"+"reservationId"+"}", url.PathEscape(parameterValueToString(r.reservationId, "reservationId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"hotelId"+"}", url.PathEscape(parameterValueToString(r.hotelId, "hotelId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if strlen(r.reservationId) < 1 {
		return localVarReturnValue, nil, reportError("reservationId must have at least 1 elements")
	}
	if strlen(r.reservationId) > 2000 {
		return localVarReturnValue, nil, reportError("reservationId must have less than 2000 elements")
	}
	if strlen(r.hotelId) < 1 {
		return localVarReturnValue, nil, reportError("hotelId must have at least 1 elements")
	}
	if strlen(r.hotelId) > 2000 {
		return localVarReturnValue, nil, reportError("hotelId must have less than 2000 elements")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "policyId", r.policyId, "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json;charset=UTF-8"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xExternalsystem != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-externalsystem", r.xExternalsystem, "")
	}
	if r.acceptLanguage != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accept-Language", r.acceptLanguage, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ReservationApiDeleteDepositPolicyRequest struct {
	ctx context.Context
	ApiService *ReservationApiService
	reservationId string
	hotelId string
	policyId *string
	authorization *string
	xAppKey *string
	xHotelid *string
	xExternalsystem *string
	acceptLanguage *string
}

// A unique identifying value assigned by the creating system. The ID attribute may be used to reference a primary-key value within a database or in a particular implementation.
func (r ReservationApiDeleteDepositPolicyRequest) PolicyId(policyId string) ReservationApiDeleteDepositPolicyRequest {
	r.policyId = &policyId
	return r
}

// Bearer token that needs to be passed which is generated post user authentication
func (r ReservationApiDeleteDepositPolicyRequest) Authorization(authorization string) ReservationApiDeleteDepositPolicyRequest {
	r.authorization = &authorization
	return r
}

// Client or Partner&#39;s Application Key
func (r ReservationApiDeleteDepositPolicyRequest) XAppKey(xAppKey string) ReservationApiDeleteDepositPolicyRequest {
	r.xAppKey = &xAppKey
	return r
}

// Mandatory parameter to identify the hotel code where the end user is logged in
func (r ReservationApiDeleteDepositPolicyRequest) XHotelid(xHotelid string) ReservationApiDeleteDepositPolicyRequest {
	r.xHotelid = &xHotelid
	return r
}

// External system code.
func (r ReservationApiDeleteDepositPolicyRequest) XExternalsystem(xExternalsystem string) ReservationApiDeleteDepositPolicyRequest {
	r.xExternalsystem = &xExternalsystem
	return r
}

// Language code
func (r ReservationApiDeleteDepositPolicyRequest) AcceptLanguage(acceptLanguage string) ReservationApiDeleteDepositPolicyRequest {
	r.acceptLanguage = &acceptLanguage
	return r
}

func (r ReservationApiDeleteDepositPolicyRequest) Execute() (*Status, *http.Response, error) {
	return r.ApiService.DeleteDepositPolicyExecute(r)
}

/*
DeleteDepositPolicy Delete deposit policy

Delete deposit policy for a property.   <p><strong>OperationId:</strong>deleteDepositPolicy</p>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param reservationId Unique OPERA reservation ID which is used to find reservation from OPERA. This ID is a primary identification of a reservation in OPERA.
 @param hotelId Unique ID of the hotel where reservation is searched based on reservation ID.
 @return ReservationApiDeleteDepositPolicyRequest
*/
func (a *ReservationApiService) DeleteDepositPolicy(ctx context.Context, reservationId string, hotelId string) ReservationApiDeleteDepositPolicyRequest {
	return ReservationApiDeleteDepositPolicyRequest{
		ApiService: a,
		ctx: ctx,
		reservationId: reservationId,
		hotelId: hotelId,
	}
}

// Execute executes the request
//  @return Status
func (a *ReservationApiService) DeleteDepositPolicyExecute(r ReservationApiDeleteDepositPolicyRequest) (*Status, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *Status
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ReservationApiService.DeleteDepositPolicy")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/hotels/{hotelId}/reservations/{reservationId}/depositPolicies"
	localVarPath = strings.Replace(localVarPath, "{"+"reservationId"+"}", url.PathEscape(parameterValueToString(r.reservationId, "reservationId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"hotelId"+"}", url.PathEscape(parameterValueToString(r.hotelId, "hotelId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if strlen(r.reservationId) < 1 {
		return localVarReturnValue, nil, reportError("reservationId must have at least 1 elements")
	}
	if strlen(r.reservationId) > 2000 {
		return localVarReturnValue, nil, reportError("reservationId must have less than 2000 elements")
	}
	if strlen(r.hotelId) < 1 {
		return localVarReturnValue, nil, reportError("hotelId must have at least 1 elements")
	}
	if strlen(r.hotelId) > 2000 {
		return localVarReturnValue, nil, reportError("hotelId must have less than 2000 elements")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "policyId", r.policyId, "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json;charset=UTF-8"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xExternalsystem != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-externalsystem", r.xExternalsystem, "")
	}
	if r.acceptLanguage != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accept-Language", r.acceptLanguage, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ReservationApiDeleteECouponsRequest struct {
	ctx context.Context
	ApiService *ReservationApiService
	reservationId string
	hotelId string
	authorization *string
	xAppKey *string
	xHotelid *string
	eCouponId *string
	xExternalsystem *string
	acceptLanguage *string
}

// Bearer token that needs to be passed which is generated post user authentication
func (r ReservationApiDeleteECouponsRequest) Authorization(authorization string) ReservationApiDeleteECouponsRequest {
	r.authorization = &authorization
	return r
}

// Client or Partner&#39;s Application Key
func (r ReservationApiDeleteECouponsRequest) XAppKey(xAppKey string) ReservationApiDeleteECouponsRequest {
	r.xAppKey = &xAppKey
	return r
}

// Mandatory parameter to identify the hotel code where the end user is logged in
func (r ReservationApiDeleteECouponsRequest) XHotelid(xHotelid string) ReservationApiDeleteECouponsRequest {
	r.xHotelid = &xHotelid
	return r
}

// A unique identifying value assigned by the creating system. The ID attribute may be used to reference a primary-key value within a database or in a particular implementation.
func (r ReservationApiDeleteECouponsRequest) ECouponId(eCouponId string) ReservationApiDeleteECouponsRequest {
	r.eCouponId = &eCouponId
	return r
}

// External system code.
func (r ReservationApiDeleteECouponsRequest) XExternalsystem(xExternalsystem string) ReservationApiDeleteECouponsRequest {
	r.xExternalsystem = &xExternalsystem
	return r
}

// Language code
func (r ReservationApiDeleteECouponsRequest) AcceptLanguage(acceptLanguage string) ReservationApiDeleteECouponsRequest {
	r.acceptLanguage = &acceptLanguage
	return r
}

func (r ReservationApiDeleteECouponsRequest) Execute() (*Status, *http.Response, error) {
	return r.ApiService.DeleteECouponsExecute(r)
}

/*
DeleteECoupons Delete Reservation ECoupons

Delete the Reservation Ecoupons. <p><strong>OperationId:</strong>deleteECoupons</p>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param reservationId Unique OPERA reservation ID which is used to find reservation from OPERA. This ID is a primary identification of a reservation in OPERA.
 @param hotelId Unique ID of the hotel where reservation is searched based on reservation ID.
 @return ReservationApiDeleteECouponsRequest
*/
func (a *ReservationApiService) DeleteECoupons(ctx context.Context, reservationId string, hotelId string) ReservationApiDeleteECouponsRequest {
	return ReservationApiDeleteECouponsRequest{
		ApiService: a,
		ctx: ctx,
		reservationId: reservationId,
		hotelId: hotelId,
	}
}

// Execute executes the request
//  @return Status
func (a *ReservationApiService) DeleteECouponsExecute(r ReservationApiDeleteECouponsRequest) (*Status, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *Status
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ReservationApiService.DeleteECoupons")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/hotels/{hotelId}/reservations/{reservationId}/eCoupons"
	localVarPath = strings.Replace(localVarPath, "{"+"reservationId"+"}", url.PathEscape(parameterValueToString(r.reservationId, "reservationId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"hotelId"+"}", url.PathEscape(parameterValueToString(r.hotelId, "hotelId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if strlen(r.reservationId) < 1 {
		return localVarReturnValue, nil, reportError("reservationId must have at least 1 elements")
	}
	if strlen(r.reservationId) > 2000 {
		return localVarReturnValue, nil, reportError("reservationId must have less than 2000 elements")
	}
	if strlen(r.hotelId) < 1 {
		return localVarReturnValue, nil, reportError("hotelId must have at least 1 elements")
	}
	if strlen(r.hotelId) > 2000 {
		return localVarReturnValue, nil, reportError("hotelId must have less than 2000 elements")
	}

	if r.eCouponId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "eCouponId", r.eCouponId, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json;charset=UTF-8"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xExternalsystem != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-externalsystem", r.xExternalsystem, "")
	}
	if r.acceptLanguage != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accept-Language", r.acceptLanguage, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ReservationApiDeleteGuestMessagesRequest struct {
	ctx context.Context
	ApiService *ReservationApiService
	guestMessageId string
	reservationId string
	hotelId string
	authorization *string
	xAppKey *string
	xHotelid *string
	xExternalsystem *string
	acceptLanguage *string
}

// Bearer token that needs to be passed which is generated post user authentication
func (r ReservationApiDeleteGuestMessagesRequest) Authorization(authorization string) ReservationApiDeleteGuestMessagesRequest {
	r.authorization = &authorization
	return r
}

// Client or Partner&#39;s Application Key
func (r ReservationApiDeleteGuestMessagesRequest) XAppKey(xAppKey string) ReservationApiDeleteGuestMessagesRequest {
	r.xAppKey = &xAppKey
	return r
}

// Mandatory parameter to identify the hotel code where the end user is logged in
func (r ReservationApiDeleteGuestMessagesRequest) XHotelid(xHotelid string) ReservationApiDeleteGuestMessagesRequest {
	r.xHotelid = &xHotelid
	return r
}

// External system code.
func (r ReservationApiDeleteGuestMessagesRequest) XExternalsystem(xExternalsystem string) ReservationApiDeleteGuestMessagesRequest {
	r.xExternalsystem = &xExternalsystem
	return r
}

// Language code
func (r ReservationApiDeleteGuestMessagesRequest) AcceptLanguage(acceptLanguage string) ReservationApiDeleteGuestMessagesRequest {
	r.acceptLanguage = &acceptLanguage
	return r
}

func (r ReservationApiDeleteGuestMessagesRequest) Execute() (*Status, *http.Response, error) {
	return r.ApiService.DeleteGuestMessagesExecute(r)
}

/*
DeleteGuestMessages Delete guest messages

Delete guest messages from a reservation. <p><strong>OperationId:</strong>deleteGuestMessages</p>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param guestMessageId Guest Message Id
 @param reservationId Unique OPERA reservation ID which is used to find reservation from OPERA. This ID is a primary identification of a reservation in OPERA.
 @param hotelId Unique ID of the hotel where reservation is searched based on reservation ID.
 @return ReservationApiDeleteGuestMessagesRequest
*/
func (a *ReservationApiService) DeleteGuestMessages(ctx context.Context, guestMessageId string, reservationId string, hotelId string) ReservationApiDeleteGuestMessagesRequest {
	return ReservationApiDeleteGuestMessagesRequest{
		ApiService: a,
		ctx: ctx,
		guestMessageId: guestMessageId,
		reservationId: reservationId,
		hotelId: hotelId,
	}
}

// Execute executes the request
//  @return Status
func (a *ReservationApiService) DeleteGuestMessagesExecute(r ReservationApiDeleteGuestMessagesRequest) (*Status, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *Status
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ReservationApiService.DeleteGuestMessages")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/hotels/{hotelId}/reservations/{reservationId}/guestMessages/{guestMessageId}"
	localVarPath = strings.Replace(localVarPath, "{"+"guestMessageId"+"}", url.PathEscape(parameterValueToString(r.guestMessageId, "guestMessageId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"reservationId"+"}", url.PathEscape(parameterValueToString(r.reservationId, "reservationId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"hotelId"+"}", url.PathEscape(parameterValueToString(r.hotelId, "hotelId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if strlen(r.guestMessageId) < 1 {
		return localVarReturnValue, nil, reportError("guestMessageId must have at least 1 elements")
	}
	if strlen(r.guestMessageId) > 2000 {
		return localVarReturnValue, nil, reportError("guestMessageId must have less than 2000 elements")
	}
	if strlen(r.reservationId) < 1 {
		return localVarReturnValue, nil, reportError("reservationId must have at least 1 elements")
	}
	if strlen(r.reservationId) > 2000 {
		return localVarReturnValue, nil, reportError("reservationId must have less than 2000 elements")
	}
	if strlen(r.hotelId) < 1 {
		return localVarReturnValue, nil, reportError("hotelId must have at least 1 elements")
	}
	if strlen(r.hotelId) > 2000 {
		return localVarReturnValue, nil, reportError("hotelId must have less than 2000 elements")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json;charset=UTF-8"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xExternalsystem != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-externalsystem", r.xExternalsystem, "")
	}
	if r.acceptLanguage != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accept-Language", r.acceptLanguage, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ReservationApiDeleteMasterAccountRequest struct {
	ctx context.Context
	ApiService *ReservationApiService
	reservationId string
	hotelId string
	authorization *string
	xAppKey *string
	xHotelid *string
	xExternalsystem *string
	acceptLanguage *string
}

// Bearer token that needs to be passed which is generated post user authentication
func (r ReservationApiDeleteMasterAccountRequest) Authorization(authorization string) ReservationApiDeleteMasterAccountRequest {
	r.authorization = &authorization
	return r
}

// Client or Partner&#39;s Application Key
func (r ReservationApiDeleteMasterAccountRequest) XAppKey(xAppKey string) ReservationApiDeleteMasterAccountRequest {
	r.xAppKey = &xAppKey
	return r
}

// Mandatory parameter to identify the hotel code where the end user is logged in
func (r ReservationApiDeleteMasterAccountRequest) XHotelid(xHotelid string) ReservationApiDeleteMasterAccountRequest {
	r.xHotelid = &xHotelid
	return r
}

// External system code.
func (r ReservationApiDeleteMasterAccountRequest) XExternalsystem(xExternalsystem string) ReservationApiDeleteMasterAccountRequest {
	r.xExternalsystem = &xExternalsystem
	return r
}

// Language code
func (r ReservationApiDeleteMasterAccountRequest) AcceptLanguage(acceptLanguage string) ReservationApiDeleteMasterAccountRequest {
	r.acceptLanguage = &acceptLanguage
	return r
}

func (r ReservationApiDeleteMasterAccountRequest) Execute() (*Status, *http.Response, error) {
	return r.ApiService.DeleteMasterAccountExecute(r)
}

/*
DeleteMasterAccount Cancel Master Account

Cancel Master account on a reservation. <p><strong>OperationId:</strong>deleteMasterAccount</p>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param reservationId Unique OPERA reservation ID which is used to find reservation from OPERA. This ID is a primary identification of a reservation in OPERA.
 @param hotelId Unique ID of the hotel where reservation is searched based on reservation ID.
 @return ReservationApiDeleteMasterAccountRequest
*/
func (a *ReservationApiService) DeleteMasterAccount(ctx context.Context, reservationId string, hotelId string) ReservationApiDeleteMasterAccountRequest {
	return ReservationApiDeleteMasterAccountRequest{
		ApiService: a,
		ctx: ctx,
		reservationId: reservationId,
		hotelId: hotelId,
	}
}

// Execute executes the request
//  @return Status
func (a *ReservationApiService) DeleteMasterAccountExecute(r ReservationApiDeleteMasterAccountRequest) (*Status, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *Status
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ReservationApiService.DeleteMasterAccount")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/hotels/{hotelId}/reservations/{reservationId}/masterAccount"
	localVarPath = strings.Replace(localVarPath, "{"+"reservationId"+"}", url.PathEscape(parameterValueToString(r.reservationId, "reservationId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"hotelId"+"}", url.PathEscape(parameterValueToString(r.hotelId, "hotelId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if strlen(r.reservationId) < 1 {
		return localVarReturnValue, nil, reportError("reservationId must have at least 1 elements")
	}
	if strlen(r.reservationId) > 2000 {
		return localVarReturnValue, nil, reportError("reservationId must have less than 2000 elements")
	}
	if strlen(r.hotelId) < 1 {
		return localVarReturnValue, nil, reportError("hotelId must have at least 1 elements")
	}
	if strlen(r.hotelId) > 2000 {
		return localVarReturnValue, nil, reportError("hotelId must have less than 2000 elements")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json;charset=UTF-8"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xExternalsystem != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-externalsystem", r.xExternalsystem, "")
	}
	if r.acceptLanguage != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accept-Language", r.acceptLanguage, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ReservationApiDeletePaymentMethodsRequest struct {
	ctx context.Context
	ApiService *ReservationApiService
	reservationId string
	hotelId string
	authorization *string
	xAppKey *string
	xHotelid *string
	xExternalsystem *string
	acceptLanguage *string
}

// Bearer token that needs to be passed which is generated post user authentication
func (r ReservationApiDeletePaymentMethodsRequest) Authorization(authorization string) ReservationApiDeletePaymentMethodsRequest {
	r.authorization = &authorization
	return r
}

// Client or Partner&#39;s Application Key
func (r ReservationApiDeletePaymentMethodsRequest) XAppKey(xAppKey string) ReservationApiDeletePaymentMethodsRequest {
	r.xAppKey = &xAppKey
	return r
}

// Mandatory parameter to identify the hotel code where the end user is logged in
func (r ReservationApiDeletePaymentMethodsRequest) XHotelid(xHotelid string) ReservationApiDeletePaymentMethodsRequest {
	r.xHotelid = &xHotelid
	return r
}

// External system code.
func (r ReservationApiDeletePaymentMethodsRequest) XExternalsystem(xExternalsystem string) ReservationApiDeletePaymentMethodsRequest {
	r.xExternalsystem = &xExternalsystem
	return r
}

// Language code
func (r ReservationApiDeletePaymentMethodsRequest) AcceptLanguage(acceptLanguage string) ReservationApiDeletePaymentMethodsRequest {
	r.acceptLanguage = &acceptLanguage
	return r
}

func (r ReservationApiDeletePaymentMethodsRequest) Execute() (*Status, *http.Response, error) {
	return r.ApiService.DeletePaymentMethodsExecute(r)
}

/*
DeletePaymentMethods Delete a payment method 

Use this API to delete a payment method from a reservation. <p><strong>OperationId:</strong>deletePaymentMethods</p>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param reservationId Unique OPERA reservation ID which is used to find reservation from OPERA. This ID is a primary identification of a reservation in OPERA.
 @param hotelId Unique ID of the hotel where reservation is searched based on reservation ID.
 @return ReservationApiDeletePaymentMethodsRequest
*/
func (a *ReservationApiService) DeletePaymentMethods(ctx context.Context, reservationId string, hotelId string) ReservationApiDeletePaymentMethodsRequest {
	return ReservationApiDeletePaymentMethodsRequest{
		ApiService: a,
		ctx: ctx,
		reservationId: reservationId,
		hotelId: hotelId,
	}
}

// Execute executes the request
//  @return Status
func (a *ReservationApiService) DeletePaymentMethodsExecute(r ReservationApiDeletePaymentMethodsRequest) (*Status, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *Status
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ReservationApiService.DeletePaymentMethods")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/hotels/{hotelId}/reservations/{reservationId}/paymentMethods"
	localVarPath = strings.Replace(localVarPath, "{"+"reservationId"+"}", url.PathEscape(parameterValueToString(r.reservationId, "reservationId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"hotelId"+"}", url.PathEscape(parameterValueToString(r.hotelId, "hotelId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if strlen(r.reservationId) < 1 {
		return localVarReturnValue, nil, reportError("reservationId must have at least 1 elements")
	}
	if strlen(r.reservationId) > 2000 {
		return localVarReturnValue, nil, reportError("reservationId must have less than 2000 elements")
	}
	if strlen(r.hotelId) < 1 {
		return localVarReturnValue, nil, reportError("hotelId must have at least 1 elements")
	}
	if strlen(r.hotelId) > 2000 {
		return localVarReturnValue, nil, reportError("hotelId must have less than 2000 elements")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json;charset=UTF-8"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xExternalsystem != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-externalsystem", r.xExternalsystem, "")
	}
	if r.acceptLanguage != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accept-Language", r.acceptLanguage, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ReservationApiDeletePreCheckInReservationRequest struct {
	ctx context.Context
	ApiService *ReservationApiService
	reservationId string
	hotelId string
	authorization *string
	xAppKey *string
	xHotelid *string
	resvIDExtension *int32
	arrivalTime *string
	roomNumber *string
	guestPreferredCurrency *string
	allowMobileViewFolio *bool
	paymentMethodDescription *[]string
	paymentMethodFolioView *[]int32
	paymentMethod *[]string
	attachCreditCardToProfile *bool
	cardHolderName *string
	cardNumber *string
	cardNumberLast4Digits *string
	cardNumberMasked *string
	cardOrToken *string
	cardType *string
	expirationDate *string
	expirationDateExpired *bool
	expirationDateMasked *string
	processing *string
	swiped *bool
	userDefinedCardType *string
	cardId *string
	cardIdIDExtension *int32
	cardIdIDContext *string
	cardIdType *string
	currentAuthorizedAmount *float32
	authorizedAmountCurrencyCode *string
	approvalAmountNeeded *float32
	approvalAmountCurrencyCode *string
	balanceAmount *float32
	balanceCurrencyCode *string
	authorizationRuleCode *int32
	authorizationRuleAmount *float32
	authorizationRuleCurrencyCode *string
	authorizationRulePercent *float32
	emailFolio *bool
	emailFolioID *string
	emailFolioIDExtension *int32
	emailFolioIDContext *string
	emailFolioIDType *string
	emailFolioCreateDateTime *string
	emailFolioCreatorID *string
	emailFolioEmailAddress *string
	emailFolioEmailFormat *string
	emailFolioLastModifierID *string
	emailFolioLastModifyDateTime *string
	emailFolioOrderSequence *float32
	emailFolioPrimaryInd *bool
	emailFolioPurgeDate *string
	emailFolioType *string
	emailFolioTypeDescription *string
	arrivalCarrierCode *string
	arrivalDateTime *string
	arrivalStationCode *string
	arrivalTransportCode *string
	arrivalTransportationReqd *bool
	arrivalType *string
	arrivalComments *string
	xExternalsystem *string
	acceptLanguage *string
}

// Bearer token that needs to be passed which is generated post user authentication
func (r ReservationApiDeletePreCheckInReservationRequest) Authorization(authorization string) ReservationApiDeletePreCheckInReservationRequest {
	r.authorization = &authorization
	return r
}

// Client or Partner&#39;s Application Key
func (r ReservationApiDeletePreCheckInReservationRequest) XAppKey(xAppKey string) ReservationApiDeletePreCheckInReservationRequest {
	r.xAppKey = &xAppKey
	return r
}

// Mandatory parameter to identify the hotel code where the end user is logged in
func (r ReservationApiDeletePreCheckInReservationRequest) XHotelid(xHotelid string) ReservationApiDeletePreCheckInReservationRequest {
	r.xHotelid = &xHotelid
	return r
}

// Additional identifying value assigned by the creating system.
func (r ReservationApiDeletePreCheckInReservationRequest) ResvIDExtension(resvIDExtension int32) ReservationApiDeletePreCheckInReservationRequest {
	r.resvIDExtension = &resvIDExtension
	return r
}

// The time at which the guest arrives at the hotel.
func (r ReservationApiDeletePreCheckInReservationRequest) ArrivalTime(arrivalTime string) ReservationApiDeletePreCheckInReservationRequest {
	r.arrivalTime = &arrivalTime
	return r
}

// Room Number to be assigned to the reservation.
func (r ReservationApiDeletePreCheckInReservationRequest) RoomNumber(roomNumber string) ReservationApiDeletePreCheckInReservationRequest {
	r.roomNumber = &roomNumber
	return r
}

// Currency code preferred by guest.
func (r ReservationApiDeletePreCheckInReservationRequest) GuestPreferredCurrency(guestPreferredCurrency string) ReservationApiDeletePreCheckInReservationRequest {
	r.guestPreferredCurrency = &guestPreferredCurrency
	return r
}

// Attribute AllowMobileViewFolio is set to true when the reservation is eligible for viewing folio using mobile device.
func (r ReservationApiDeletePreCheckInReservationRequest) AllowMobileViewFolio(allowMobileViewFolio bool) ReservationApiDeletePreCheckInReservationRequest {
	r.allowMobileViewFolio = &allowMobileViewFolio
	return r
}

func (r ReservationApiDeletePreCheckInReservationRequest) PaymentMethodDescription(paymentMethodDescription []string) ReservationApiDeletePreCheckInReservationRequest {
	r.paymentMethodDescription = &paymentMethodDescription
	return r
}

func (r ReservationApiDeletePreCheckInReservationRequest) PaymentMethodFolioView(paymentMethodFolioView []int32) ReservationApiDeletePreCheckInReservationRequest {
	r.paymentMethodFolioView = &paymentMethodFolioView
	return r
}

func (r ReservationApiDeletePreCheckInReservationRequest) PaymentMethod(paymentMethod []string) ReservationApiDeletePreCheckInReservationRequest {
	r.paymentMethod = &paymentMethod
	return r
}

// Attach the credit card to profile.
func (r ReservationApiDeletePreCheckInReservationRequest) AttachCreditCardToProfile(attachCreditCardToProfile bool) ReservationApiDeletePreCheckInReservationRequest {
	r.attachCreditCardToProfile = &attachCreditCardToProfile
	return r
}

func (r ReservationApiDeletePreCheckInReservationRequest) CardHolderName(cardHolderName string) ReservationApiDeletePreCheckInReservationRequest {
	r.cardHolderName = &cardHolderName
	return r
}

func (r ReservationApiDeletePreCheckInReservationRequest) CardNumber(cardNumber string) ReservationApiDeletePreCheckInReservationRequest {
	r.cardNumber = &cardNumber
	return r
}

func (r ReservationApiDeletePreCheckInReservationRequest) CardNumberLast4Digits(cardNumberLast4Digits string) ReservationApiDeletePreCheckInReservationRequest {
	r.cardNumberLast4Digits = &cardNumberLast4Digits
	return r
}

func (r ReservationApiDeletePreCheckInReservationRequest) CardNumberMasked(cardNumberMasked string) ReservationApiDeletePreCheckInReservationRequest {
	r.cardNumberMasked = &cardNumberMasked
	return r
}

// Simple type for indicating if credit card number is tokenized.
func (r ReservationApiDeletePreCheckInReservationRequest) CardOrToken(cardOrToken string) ReservationApiDeletePreCheckInReservationRequest {
	r.cardOrToken = &cardOrToken
	return r
}

// This is required for Credit Card Payment Methods. This indicates the type of Credit Card associated with this payment method.
func (r ReservationApiDeletePreCheckInReservationRequest) CardType(cardType string) ReservationApiDeletePreCheckInReservationRequest {
	r.cardType = &cardType
	return r
}

// Expiration date of the credit card
func (r ReservationApiDeletePreCheckInReservationRequest) ExpirationDate(expirationDate string) ReservationApiDeletePreCheckInReservationRequest {
	r.expirationDate = &expirationDate
	return r
}

func (r ReservationApiDeletePreCheckInReservationRequest) ExpirationDateExpired(expirationDateExpired bool) ReservationApiDeletePreCheckInReservationRequest {
	r.expirationDateExpired = &expirationDateExpired
	return r
}

// Masked Expiration date of the credit card
func (r ReservationApiDeletePreCheckInReservationRequest) ExpirationDateMasked(expirationDateMasked string) ReservationApiDeletePreCheckInReservationRequest {
	r.expirationDateMasked = &expirationDateMasked
	return r
}

func (r ReservationApiDeletePreCheckInReservationRequest) Processing(processing string) ReservationApiDeletePreCheckInReservationRequest {
	r.processing = &processing
	return r
}

func (r ReservationApiDeletePreCheckInReservationRequest) Swiped(swiped bool) ReservationApiDeletePreCheckInReservationRequest {
	r.swiped = &swiped
	return r
}

// Indicates the user defined credit card type if credit card type from a defined list is not provided
func (r ReservationApiDeletePreCheckInReservationRequest) UserDefinedCardType(userDefinedCardType string) ReservationApiDeletePreCheckInReservationRequest {
	r.userDefinedCardType = &userDefinedCardType
	return r
}

// A unique identifying value assigned by the creating system. The ID attribute may be used to reference a primary-key value within a database or in a particular implementation.
func (r ReservationApiDeletePreCheckInReservationRequest) CardId(cardId string) ReservationApiDeletePreCheckInReservationRequest {
	r.cardId = &cardId
	return r
}

// Additional identifying value assigned by the creating system.
func (r ReservationApiDeletePreCheckInReservationRequest) CardIdIDExtension(cardIdIDExtension int32) ReservationApiDeletePreCheckInReservationRequest {
	r.cardIdIDExtension = &cardIdIDExtension
	return r
}

// Used to identify the source of the identifier (e.g., IATA, ABTA).
func (r ReservationApiDeletePreCheckInReservationRequest) CardIdIDContext(cardIdIDContext string) ReservationApiDeletePreCheckInReservationRequest {
	r.cardIdIDContext = &cardIdIDContext
	return r
}

// A reference to the type of object defined by the UniqueID element.
func (r ReservationApiDeletePreCheckInReservationRequest) CardIdType(cardIdType string) ReservationApiDeletePreCheckInReservationRequest {
	r.cardIdType = &cardIdType
	return r
}

// A monetary amount.
func (r ReservationApiDeletePreCheckInReservationRequest) CurrentAuthorizedAmount(currentAuthorizedAmount float32) ReservationApiDeletePreCheckInReservationRequest {
	r.currentAuthorizedAmount = &currentAuthorizedAmount
	return r
}

// Provides a currency code to reflect the currency in which an amount may be expressed.
func (r ReservationApiDeletePreCheckInReservationRequest) AuthorizedAmountCurrencyCode(authorizedAmountCurrencyCode string) ReservationApiDeletePreCheckInReservationRequest {
	r.authorizedAmountCurrencyCode = &authorizedAmountCurrencyCode
	return r
}

// A monetary amount.
func (r ReservationApiDeletePreCheckInReservationRequest) ApprovalAmountNeeded(approvalAmountNeeded float32) ReservationApiDeletePreCheckInReservationRequest {
	r.approvalAmountNeeded = &approvalAmountNeeded
	return r
}

// Provides a currency code to reflect the currency in which an amount may be expressed.
func (r ReservationApiDeletePreCheckInReservationRequest) ApprovalAmountCurrencyCode(approvalAmountCurrencyCode string) ReservationApiDeletePreCheckInReservationRequest {
	r.approvalAmountCurrencyCode = &approvalAmountCurrencyCode
	return r
}

// A monetary amount.
func (r ReservationApiDeletePreCheckInReservationRequest) BalanceAmount(balanceAmount float32) ReservationApiDeletePreCheckInReservationRequest {
	r.balanceAmount = &balanceAmount
	return r
}

// Provides a currency code to reflect the currency in which an amount may be expressed.
func (r ReservationApiDeletePreCheckInReservationRequest) BalanceCurrencyCode(balanceCurrencyCode string) ReservationApiDeletePreCheckInReservationRequest {
	r.balanceCurrencyCode = &balanceCurrencyCode
	return r
}

// The authorization rule code.
func (r ReservationApiDeletePreCheckInReservationRequest) AuthorizationRuleCode(authorizationRuleCode int32) ReservationApiDeletePreCheckInReservationRequest {
	r.authorizationRuleCode = &authorizationRuleCode
	return r
}

// A monetary amount.
func (r ReservationApiDeletePreCheckInReservationRequest) AuthorizationRuleAmount(authorizationRuleAmount float32) ReservationApiDeletePreCheckInReservationRequest {
	r.authorizationRuleAmount = &authorizationRuleAmount
	return r
}

// Provides a currency code to reflect the currency in which an amount may be expressed.
func (r ReservationApiDeletePreCheckInReservationRequest) AuthorizationRuleCurrencyCode(authorizationRuleCurrencyCode string) ReservationApiDeletePreCheckInReservationRequest {
	r.authorizationRuleCurrencyCode = &authorizationRuleCurrencyCode
	return r
}

// A percentage value if the authorization rule is percentage based.
func (r ReservationApiDeletePreCheckInReservationRequest) AuthorizationRulePercent(authorizationRulePercent float32) ReservationApiDeletePreCheckInReservationRequest {
	r.authorizationRulePercent = &authorizationRulePercent
	return r
}

func (r ReservationApiDeletePreCheckInReservationRequest) EmailFolio(emailFolio bool) ReservationApiDeletePreCheckInReservationRequest {
	r.emailFolio = &emailFolio
	return r
}

// A unique identifying value assigned by the creating system. The ID attribute may be used to reference a primary-key value within a database or in a particular implementation.
func (r ReservationApiDeletePreCheckInReservationRequest) EmailFolioID(emailFolioID string) ReservationApiDeletePreCheckInReservationRequest {
	r.emailFolioID = &emailFolioID
	return r
}

// Additional identifying value assigned by the creating system.
func (r ReservationApiDeletePreCheckInReservationRequest) EmailFolioIDExtension(emailFolioIDExtension int32) ReservationApiDeletePreCheckInReservationRequest {
	r.emailFolioIDExtension = &emailFolioIDExtension
	return r
}

// Used to identify the source of the identifier (e.g., IATA, ABTA).
func (r ReservationApiDeletePreCheckInReservationRequest) EmailFolioIDContext(emailFolioIDContext string) ReservationApiDeletePreCheckInReservationRequest {
	r.emailFolioIDContext = &emailFolioIDContext
	return r
}

// A reference to the type of object defined by the UniqueID element.
func (r ReservationApiDeletePreCheckInReservationRequest) EmailFolioIDType(emailFolioIDType string) ReservationApiDeletePreCheckInReservationRequest {
	r.emailFolioIDType = &emailFolioIDType
	return r
}

// Time stamp of the creation.
func (r ReservationApiDeletePreCheckInReservationRequest) EmailFolioCreateDateTime(emailFolioCreateDateTime string) ReservationApiDeletePreCheckInReservationRequest {
	r.emailFolioCreateDateTime = &emailFolioCreateDateTime
	return r
}

// ID of creator. The creator could be a software system identifier or an identifier of an employee resposible for the creation.
func (r ReservationApiDeletePreCheckInReservationRequest) EmailFolioCreatorID(emailFolioCreatorID string) ReservationApiDeletePreCheckInReservationRequest {
	r.emailFolioCreatorID = &emailFolioCreatorID
	return r
}

// Defines the e-mail address.
func (r ReservationApiDeletePreCheckInReservationRequest) EmailFolioEmailAddress(emailFolioEmailAddress string) ReservationApiDeletePreCheckInReservationRequest {
	r.emailFolioEmailAddress = &emailFolioEmailAddress
	return r
}

// Supported Email format.
func (r ReservationApiDeletePreCheckInReservationRequest) EmailFolioEmailFormat(emailFolioEmailFormat string) ReservationApiDeletePreCheckInReservationRequest {
	r.emailFolioEmailFormat = &emailFolioEmailFormat
	return r
}

// Identifies the last software system or person to modify a record.
func (r ReservationApiDeletePreCheckInReservationRequest) EmailFolioLastModifierID(emailFolioLastModifierID string) ReservationApiDeletePreCheckInReservationRequest {
	r.emailFolioLastModifierID = &emailFolioLastModifierID
	return r
}

// Time stamp of last modification.
func (r ReservationApiDeletePreCheckInReservationRequest) EmailFolioLastModifyDateTime(emailFolioLastModifyDateTime string) ReservationApiDeletePreCheckInReservationRequest {
	r.emailFolioLastModifyDateTime = &emailFolioLastModifyDateTime
	return r
}

// Display Order sequence.
func (r ReservationApiDeletePreCheckInReservationRequest) EmailFolioOrderSequence(emailFolioOrderSequence float32) ReservationApiDeletePreCheckInReservationRequest {
	r.emailFolioOrderSequence = &emailFolioOrderSequence
	return r
}

// When true, indicates a primary information.
func (r ReservationApiDeletePreCheckInReservationRequest) EmailFolioPrimaryInd(emailFolioPrimaryInd bool) ReservationApiDeletePreCheckInReservationRequest {
	r.emailFolioPrimaryInd = &emailFolioPrimaryInd
	return r
}

// Date an item will be purged from a database (e.g., from a live database to an archive).
func (r ReservationApiDeletePreCheckInReservationRequest) EmailFolioPurgeDate(emailFolioPurgeDate string) ReservationApiDeletePreCheckInReservationRequest {
	r.emailFolioPurgeDate = &emailFolioPurgeDate
	return r
}

// Defines the purpose of the e-mail address (e.g. personal, business, listserve).
func (r ReservationApiDeletePreCheckInReservationRequest) EmailFolioType(emailFolioType string) ReservationApiDeletePreCheckInReservationRequest {
	r.emailFolioType = &emailFolioType
	return r
}

// Describes the Type code
func (r ReservationApiDeletePreCheckInReservationRequest) EmailFolioTypeDescription(emailFolioTypeDescription string) ReservationApiDeletePreCheckInReservationRequest {
	r.emailFolioTypeDescription = &emailFolioTypeDescription
	return r
}

func (r ReservationApiDeletePreCheckInReservationRequest) ArrivalCarrierCode(arrivalCarrierCode string) ReservationApiDeletePreCheckInReservationRequest {
	r.arrivalCarrierCode = &arrivalCarrierCode
	return r
}

func (r ReservationApiDeletePreCheckInReservationRequest) ArrivalDateTime(arrivalDateTime string) ReservationApiDeletePreCheckInReservationRequest {
	r.arrivalDateTime = &arrivalDateTime
	return r
}

func (r ReservationApiDeletePreCheckInReservationRequest) ArrivalStationCode(arrivalStationCode string) ReservationApiDeletePreCheckInReservationRequest {
	r.arrivalStationCode = &arrivalStationCode
	return r
}

func (r ReservationApiDeletePreCheckInReservationRequest) ArrivalTransportCode(arrivalTransportCode string) ReservationApiDeletePreCheckInReservationRequest {
	r.arrivalTransportCode = &arrivalTransportCode
	return r
}

func (r ReservationApiDeletePreCheckInReservationRequest) ArrivalTransportationReqd(arrivalTransportationReqd bool) ReservationApiDeletePreCheckInReservationRequest {
	r.arrivalTransportationReqd = &arrivalTransportationReqd
	return r
}

func (r ReservationApiDeletePreCheckInReservationRequest) ArrivalType(arrivalType string) ReservationApiDeletePreCheckInReservationRequest {
	r.arrivalType = &arrivalType
	return r
}

func (r ReservationApiDeletePreCheckInReservationRequest) ArrivalComments(arrivalComments string) ReservationApiDeletePreCheckInReservationRequest {
	r.arrivalComments = &arrivalComments
	return r
}

// External system code.
func (r ReservationApiDeletePreCheckInReservationRequest) XExternalsystem(xExternalsystem string) ReservationApiDeletePreCheckInReservationRequest {
	r.xExternalsystem = &xExternalsystem
	return r
}

// Language code
func (r ReservationApiDeletePreCheckInReservationRequest) AcceptLanguage(acceptLanguage string) ReservationApiDeletePreCheckInReservationRequest {
	r.acceptLanguage = &acceptLanguage
	return r
}

func (r ReservationApiDeletePreCheckInReservationRequest) Execute() (*Status, *http.Response, error) {
	return r.ApiService.DeletePreCheckInReservationExecute(r)
}

/*
DeletePreCheckInReservation Revert a PreCheckIn Reservation

This will cancel or rather revert the pre-checkin action for a guest's reservation. The reservation will return to DUEIN status. <p><strong>OperationId:</strong>deletePreCheckInReservation</p>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param reservationId Unique OPERA reservation ID which is used to find reservation from OPERA. This ID is a primary identification of a reservation in OPERA.
 @param hotelId Unique ID of the hotel where reservation is searched based on reservation ID.
 @return ReservationApiDeletePreCheckInReservationRequest
*/
func (a *ReservationApiService) DeletePreCheckInReservation(ctx context.Context, reservationId string, hotelId string) ReservationApiDeletePreCheckInReservationRequest {
	return ReservationApiDeletePreCheckInReservationRequest{
		ApiService: a,
		ctx: ctx,
		reservationId: reservationId,
		hotelId: hotelId,
	}
}

// Execute executes the request
//  @return Status
func (a *ReservationApiService) DeletePreCheckInReservationExecute(r ReservationApiDeletePreCheckInReservationRequest) (*Status, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *Status
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ReservationApiService.DeletePreCheckInReservation")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/hotels/{hotelId}/reservations/{reservationId}/preCheckIn"
	localVarPath = strings.Replace(localVarPath, "{"+"reservationId"+"}", url.PathEscape(parameterValueToString(r.reservationId, "reservationId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"hotelId"+"}", url.PathEscape(parameterValueToString(r.hotelId, "hotelId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if strlen(r.reservationId) < 1 {
		return localVarReturnValue, nil, reportError("reservationId must have at least 1 elements")
	}
	if strlen(r.reservationId) > 2000 {
		return localVarReturnValue, nil, reportError("reservationId must have less than 2000 elements")
	}
	if strlen(r.hotelId) < 1 {
		return localVarReturnValue, nil, reportError("hotelId must have at least 1 elements")
	}
	if strlen(r.hotelId) > 2000 {
		return localVarReturnValue, nil, reportError("hotelId must have less than 2000 elements")
	}

	if r.resvIDExtension != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "resvIDExtension", r.resvIDExtension, "")
	}
	if r.arrivalTime != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "arrivalTime", r.arrivalTime, "")
	}
	if r.roomNumber != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "roomNumber", r.roomNumber, "")
	}
	if r.guestPreferredCurrency != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "guestPreferredCurrency", r.guestPreferredCurrency, "")
	}
	if r.allowMobileViewFolio != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "allowMobileViewFolio", r.allowMobileViewFolio, "")
	}
	if r.paymentMethodDescription != nil {
		t := *r.paymentMethodDescription
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "paymentMethodDescription", s.Index(i).Interface(), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "paymentMethodDescription", t, "multi")
		}
	}
	if r.paymentMethodFolioView != nil {
		t := *r.paymentMethodFolioView
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "paymentMethodFolioView", s.Index(i).Interface(), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "paymentMethodFolioView", t, "multi")
		}
	}
	if r.paymentMethod != nil {
		t := *r.paymentMethod
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "paymentMethod", s.Index(i).Interface(), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "paymentMethod", t, "multi")
		}
	}
	if r.attachCreditCardToProfile != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "attachCreditCardToProfile", r.attachCreditCardToProfile, "")
	}
	if r.cardHolderName != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "cardHolderName", r.cardHolderName, "")
	}
	if r.cardNumber != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "cardNumber", r.cardNumber, "")
	}
	if r.cardNumberLast4Digits != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "cardNumberLast4Digits", r.cardNumberLast4Digits, "")
	}
	if r.cardNumberMasked != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "cardNumberMasked", r.cardNumberMasked, "")
	}
	if r.cardOrToken != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "cardOrToken", r.cardOrToken, "")
	}
	if r.cardType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "cardType", r.cardType, "")
	}
	if r.expirationDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "expirationDate", r.expirationDate, "")
	}
	if r.expirationDateExpired != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "expirationDateExpired", r.expirationDateExpired, "")
	}
	if r.expirationDateMasked != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "expirationDateMasked", r.expirationDateMasked, "")
	}
	if r.processing != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "processing", r.processing, "")
	}
	if r.swiped != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "swiped", r.swiped, "")
	}
	if r.userDefinedCardType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "userDefinedCardType", r.userDefinedCardType, "")
	}
	if r.cardId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "cardId", r.cardId, "")
	}
	if r.cardIdIDExtension != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "cardIdIDExtension", r.cardIdIDExtension, "")
	}
	if r.cardIdIDContext != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "cardIdIDContext", r.cardIdIDContext, "")
	}
	if r.cardIdType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "cardIdType", r.cardIdType, "")
	}
	if r.currentAuthorizedAmount != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "currentAuthorizedAmount", r.currentAuthorizedAmount, "")
	}
	if r.authorizedAmountCurrencyCode != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "authorizedAmountCurrencyCode", r.authorizedAmountCurrencyCode, "")
	}
	if r.approvalAmountNeeded != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "approvalAmountNeeded", r.approvalAmountNeeded, "")
	}
	if r.approvalAmountCurrencyCode != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "approvalAmountCurrencyCode", r.approvalAmountCurrencyCode, "")
	}
	if r.balanceAmount != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "balanceAmount", r.balanceAmount, "")
	}
	if r.balanceCurrencyCode != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "balanceCurrencyCode", r.balanceCurrencyCode, "")
	}
	if r.authorizationRuleCode != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "authorizationRuleCode", r.authorizationRuleCode, "")
	}
	if r.authorizationRuleAmount != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "authorizationRuleAmount", r.authorizationRuleAmount, "")
	}
	if r.authorizationRuleCurrencyCode != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "authorizationRuleCurrencyCode", r.authorizationRuleCurrencyCode, "")
	}
	if r.authorizationRulePercent != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "authorizationRulePercent", r.authorizationRulePercent, "")
	}
	if r.emailFolio != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "emailFolio", r.emailFolio, "")
	}
	if r.emailFolioID != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "emailFolioID", r.emailFolioID, "")
	}
	if r.emailFolioIDExtension != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "emailFolioIDExtension", r.emailFolioIDExtension, "")
	}
	if r.emailFolioIDContext != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "emailFolioIDContext", r.emailFolioIDContext, "")
	}
	if r.emailFolioIDType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "emailFolioIDType", r.emailFolioIDType, "")
	}
	if r.emailFolioCreateDateTime != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "emailFolioCreateDateTime", r.emailFolioCreateDateTime, "")
	}
	if r.emailFolioCreatorID != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "emailFolioCreatorID", r.emailFolioCreatorID, "")
	}
	if r.emailFolioEmailAddress != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "emailFolioEmailAddress", r.emailFolioEmailAddress, "")
	}
	if r.emailFolioEmailFormat != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "emailFolioEmailFormat", r.emailFolioEmailFormat, "")
	}
	if r.emailFolioLastModifierID != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "emailFolioLastModifierID", r.emailFolioLastModifierID, "")
	}
	if r.emailFolioLastModifyDateTime != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "emailFolioLastModifyDateTime", r.emailFolioLastModifyDateTime, "")
	}
	if r.emailFolioOrderSequence != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "emailFolioOrderSequence", r.emailFolioOrderSequence, "")
	}
	if r.emailFolioPrimaryInd != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "emailFolioPrimaryInd", r.emailFolioPrimaryInd, "")
	}
	if r.emailFolioPurgeDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "emailFolioPurgeDate", r.emailFolioPurgeDate, "")
	}
	if r.emailFolioType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "emailFolioType", r.emailFolioType, "")
	}
	if r.emailFolioTypeDescription != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "emailFolioTypeDescription", r.emailFolioTypeDescription, "")
	}
	if r.arrivalCarrierCode != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "arrivalCarrierCode", r.arrivalCarrierCode, "")
	}
	if r.arrivalDateTime != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "arrivalDateTime", r.arrivalDateTime, "")
	}
	if r.arrivalStationCode != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "arrivalStationCode", r.arrivalStationCode, "")
	}
	if r.arrivalTransportCode != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "arrivalTransportCode", r.arrivalTransportCode, "")
	}
	if r.arrivalTransportationReqd != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "arrivalTransportationReqd", r.arrivalTransportationReqd, "")
	}
	if r.arrivalType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "arrivalType", r.arrivalType, "")
	}
	if r.arrivalComments != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "arrivalComments", r.arrivalComments, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json;charset=UTF-8"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xExternalsystem != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-externalsystem", r.xExternalsystem, "")
	}
	if r.acceptLanguage != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accept-Language", r.acceptLanguage, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ReservationApiDeleteRefundTicketsRequest struct {
	ctx context.Context
	ApiService *ReservationApiService
	reservationId string
	hotelId string
	authorization *string
	xAppKey *string
	xHotelid *string
	xExternalsystem *string
	acceptLanguage *string
}

// Bearer token that needs to be passed which is generated post user authentication
func (r ReservationApiDeleteRefundTicketsRequest) Authorization(authorization string) ReservationApiDeleteRefundTicketsRequest {
	r.authorization = &authorization
	return r
}

// Client or Partner&#39;s Application Key
func (r ReservationApiDeleteRefundTicketsRequest) XAppKey(xAppKey string) ReservationApiDeleteRefundTicketsRequest {
	r.xAppKey = &xAppKey
	return r
}

// Mandatory parameter to identify the hotel code where the end user is logged in
func (r ReservationApiDeleteRefundTicketsRequest) XHotelid(xHotelid string) ReservationApiDeleteRefundTicketsRequest {
	r.xHotelid = &xHotelid
	return r
}

// External system code.
func (r ReservationApiDeleteRefundTicketsRequest) XExternalsystem(xExternalsystem string) ReservationApiDeleteRefundTicketsRequest {
	r.xExternalsystem = &xExternalsystem
	return r
}

// Language code
func (r ReservationApiDeleteRefundTicketsRequest) AcceptLanguage(acceptLanguage string) ReservationApiDeleteRefundTicketsRequest {
	r.acceptLanguage = &acceptLanguage
	return r
}

func (r ReservationApiDeleteRefundTicketsRequest) Execute() (*Status, *http.Response, error) {
	return r.ApiService.DeleteRefundTicketsExecute(r)
}

/*
DeleteRefundTickets Refund Reservation tickets

You can use this API to refund Reservation tickets. <p><strong>OperationId:</strong>deleteRefundTickets</p>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param reservationId Unique OPERA reservation ID which is used to find reservation from OPERA. This ID is a primary identification of a reservation in OPERA.
 @param hotelId Unique ID of the hotel where reservation is searched based on reservation ID.
 @return ReservationApiDeleteRefundTicketsRequest
*/
func (a *ReservationApiService) DeleteRefundTickets(ctx context.Context, reservationId string, hotelId string) ReservationApiDeleteRefundTicketsRequest {
	return ReservationApiDeleteRefundTicketsRequest{
		ApiService: a,
		ctx: ctx,
		reservationId: reservationId,
		hotelId: hotelId,
	}
}

// Execute executes the request
//  @return Status
func (a *ReservationApiService) DeleteRefundTicketsExecute(r ReservationApiDeleteRefundTicketsRequest) (*Status, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *Status
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ReservationApiService.DeleteRefundTickets")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/hotels/{hotelId}/reservations/{reservationId}/tickets/refund"
	localVarPath = strings.Replace(localVarPath, "{"+"reservationId"+"}", url.PathEscape(parameterValueToString(r.reservationId, "reservationId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"hotelId"+"}", url.PathEscape(parameterValueToString(r.hotelId, "hotelId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if strlen(r.reservationId) < 1 {
		return localVarReturnValue, nil, reportError("reservationId must have at least 1 elements")
	}
	if strlen(r.reservationId) > 2000 {
		return localVarReturnValue, nil, reportError("reservationId must have less than 2000 elements")
	}
	if strlen(r.hotelId) < 1 {
		return localVarReturnValue, nil, reportError("hotelId must have at least 1 elements")
	}
	if strlen(r.hotelId) > 2000 {
		return localVarReturnValue, nil, reportError("hotelId must have less than 2000 elements")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json;charset=UTF-8"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xExternalsystem != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-externalsystem", r.xExternalsystem, "")
	}
	if r.acceptLanguage != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accept-Language", r.acceptLanguage, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ReservationApiDeleteReservationAttachmentRequest struct {
	ctx context.Context
	ApiService *ReservationApiService
	attachmentId string
	reservationId string
	hotelId string
	authorization *string
	xAppKey *string
	xHotelid *string
	xExternalsystem *string
	acceptLanguage *string
}

// Bearer token that needs to be passed which is generated post user authentication
func (r ReservationApiDeleteReservationAttachmentRequest) Authorization(authorization string) ReservationApiDeleteReservationAttachmentRequest {
	r.authorization = &authorization
	return r
}

// Client or Partner&#39;s Application Key
func (r ReservationApiDeleteReservationAttachmentRequest) XAppKey(xAppKey string) ReservationApiDeleteReservationAttachmentRequest {
	r.xAppKey = &xAppKey
	return r
}

// Mandatory parameter to identify the hotel code where the end user is logged in
func (r ReservationApiDeleteReservationAttachmentRequest) XHotelid(xHotelid string) ReservationApiDeleteReservationAttachmentRequest {
	r.xHotelid = &xHotelid
	return r
}

// External system code.
func (r ReservationApiDeleteReservationAttachmentRequest) XExternalsystem(xExternalsystem string) ReservationApiDeleteReservationAttachmentRequest {
	r.xExternalsystem = &xExternalsystem
	return r
}

// Language code
func (r ReservationApiDeleteReservationAttachmentRequest) AcceptLanguage(acceptLanguage string) ReservationApiDeleteReservationAttachmentRequest {
	r.acceptLanguage = &acceptLanguage
	return r
}

func (r ReservationApiDeleteReservationAttachmentRequest) Execute() (*Status, *http.Response, error) {
	return r.ApiService.DeleteReservationAttachmentExecute(r)
}

/*
DeleteReservationAttachment Delete Reservation attachments

Delete attachments from a Reservation. <p><strong>OperationId:</strong>deleteReservationAttachment</p>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param attachmentId Unique Id of the attachment to be deleted.
 @param reservationId Unique OPERA reservation ID which is used to find reservation from OPERA. This ID is a primary identification of a reservation in OPERA.
 @param hotelId Unique ID of the hotel where reservation is searched based on reservation ID.
 @return ReservationApiDeleteReservationAttachmentRequest
*/
func (a *ReservationApiService) DeleteReservationAttachment(ctx context.Context, attachmentId string, reservationId string, hotelId string) ReservationApiDeleteReservationAttachmentRequest {
	return ReservationApiDeleteReservationAttachmentRequest{
		ApiService: a,
		ctx: ctx,
		attachmentId: attachmentId,
		reservationId: reservationId,
		hotelId: hotelId,
	}
}

// Execute executes the request
//  @return Status
func (a *ReservationApiService) DeleteReservationAttachmentExecute(r ReservationApiDeleteReservationAttachmentRequest) (*Status, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *Status
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ReservationApiService.DeleteReservationAttachment")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/hotels/{hotelId}/reservations/{reservationId}/attachments/{attachmentId}"
	localVarPath = strings.Replace(localVarPath, "{"+"attachmentId"+"}", url.PathEscape(parameterValueToString(r.attachmentId, "attachmentId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"reservationId"+"}", url.PathEscape(parameterValueToString(r.reservationId, "reservationId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"hotelId"+"}", url.PathEscape(parameterValueToString(r.hotelId, "hotelId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if strlen(r.attachmentId) < 1 {
		return localVarReturnValue, nil, reportError("attachmentId must have at least 1 elements")
	}
	if strlen(r.attachmentId) > 2000 {
[...]
