/*
OPERA Cloud Accounts Receivables API

APIs to cater for Accounts Receivables functionality in OPERA Cloud. <br /><br The OPERA Cloud Accounts Receivable module enables you to manage debtors’ accounts, invoices, and remittance.<br /><br /> Compatible with OPERA Cloud release 22.3.0.0.<br /><br /><p> This document and all content within is available under the Universal Permissive License v 1.0 (https://oss.oracle.com/licenses/upl). Copyright (c) 2020, 2022 Oracle and/or its affiliates.</p>

API version: 22.3.0.0
Contact: hospitality_apis_ww_grp@oracle.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"time"
	"reflect"
)


// AccountsReceivablesApiService AccountsReceivablesApi service
type AccountsReceivablesApiService service

type ApiCompressARInvoicesRequest struct {
	ctx context.Context
	ApiService *AccountsReceivablesApiService
	accountId string
	hotelId string
	authorization *string
	xAppKey *string
	xHotelid *string
	arCompressInvoices *CompressARInvoicesRequest
	xExternalsystem *string
	acceptLanguage *string
}

// Bearer token that needs to be passed which is generated post user authentication
func (r ApiCompressARInvoicesRequest) Authorization(authorization string) ApiCompressARInvoicesRequest {
	r.authorization = &authorization
	return r
}

// Client or Partner’s Application Key
func (r ApiCompressARInvoicesRequest) XAppKey(xAppKey string) ApiCompressARInvoicesRequest {
	r.xAppKey = &xAppKey
	return r
}

// Mandatory parameter to identify the hotel code where the end user is logged in
func (r ApiCompressARInvoicesRequest) XHotelid(xHotelid string) ApiCompressARInvoicesRequest {
	r.xHotelid = &xHotelid
	return r
}

// Request to compress two or more invoices for an Account
func (r ApiCompressARInvoicesRequest) ArCompressInvoices(arCompressInvoices CompressARInvoicesRequest) ApiCompressARInvoicesRequest {
	r.arCompressInvoices = &arCompressInvoices
	return r
}

// External system code.
func (r ApiCompressARInvoicesRequest) XExternalsystem(xExternalsystem string) ApiCompressARInvoicesRequest {
	r.xExternalsystem = &xExternalsystem
	return r
}

// Language code
func (r ApiCompressARInvoicesRequest) AcceptLanguage(acceptLanguage string) ApiCompressARInvoicesRequest {
	r.acceptLanguage = &acceptLanguage
	return r
}

func (r ApiCompressARInvoicesRequest) Execute() (*CompressedARInvoices, *http.Response, error) {
	return r.ApiService.CompressARInvoicesExecute(r)
}

/*
CompressARInvoices Combines Account receivable invoices

Use this API to combine two or more invoices into one invoice <p><strong>OperationId:</strong>compressARInvoices</p>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param accountId Unique ID of the account
 @param hotelId Unique ID of the hotel
 @return ApiCompressARInvoicesRequest
*/
func (a *AccountsReceivablesApiService) CompressARInvoices(ctx context.Context, accountId string, hotelId string) ApiCompressARInvoicesRequest {
	return ApiCompressARInvoicesRequest{
		ApiService: a,
		ctx: ctx,
		accountId: accountId,
		hotelId: hotelId,
	}
}

// Execute executes the request
//  @return CompressedARInvoices
func (a *AccountsReceivablesApiService) CompressARInvoicesExecute(r ApiCompressARInvoicesRequest) (*CompressedARInvoices, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CompressedARInvoices
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AccountsReceivablesApiService.CompressARInvoices")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/hotels/{hotelId}/accounts/{accountId}/compressInvoices"
	localVarPath = strings.Replace(localVarPath, "{"+"accountId"+"}", url.PathEscape(parameterValueToString(r.accountId, "accountId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"hotelId"+"}", url.PathEscape(parameterValueToString(r.hotelId, "hotelId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if strlen(r.accountId) < 1 {
		return localVarReturnValue, nil, reportError("accountId must have at least 1 elements")
	}
	if strlen(r.accountId) > 2000 {
		return localVarReturnValue, nil, reportError("accountId must have less than 2000 elements")
	}
	if strlen(r.hotelId) < 1 {
		return localVarReturnValue, nil, reportError("hotelId must have at least 1 elements")
	}
	if strlen(r.hotelId) > 2000 {
		return localVarReturnValue, nil, reportError("hotelId must have less than 2000 elements")
	}
	if r.authorization == nil {
		return localVarReturnValue, nil, reportError("authorization is required and must be specified")
	}
	if r.xAppKey == nil {
		return localVarReturnValue, nil, reportError("xAppKey is required and must be specified")
	}
	if r.xHotelid == nil {
		return localVarReturnValue, nil, reportError("xHotelid is required and must be specified")
	}
	if r.arCompressInvoices == nil {
		return localVarReturnValue, nil, reportError("arCompressInvoices is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json;charset=UTF-8"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json;charset=UTF-8"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "")
	parameterAddToHeaderOrQuery(localVarHeaderParams, "x-app-key", r.xAppKey, "")
	parameterAddToHeaderOrQuery(localVarHeaderParams, "x-hotelid", r.xHotelid, "")
	if r.xExternalsystem != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-externalsystem", r.xExternalsystem, "")
	}
	if r.acceptLanguage != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accept-Language", r.acceptLanguage, "")
	}
	// body params
	localVarPostBody = r.arCompressInvoices
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCopyARAccountRequest struct {
	ctx context.Context
	ApiService *AccountsReceivablesApiService
	accountId string
	hotelId string
	authorization *string
	xAppKey *string
	xHotelid *string
	arAccountCopy *CopyARAccountRequest
	xExternalsystem *string
	acceptLanguage *string
}

// Bearer token that needs to be passed which is generated post user authentication
func (r ApiCopyARAccountRequest) Authorization(authorization string) ApiCopyARAccountRequest {
	r.authorization = &authorization
	return r
}

// Client or Partner’s Application Key
func (r ApiCopyARAccountRequest) XAppKey(xAppKey string) ApiCopyARAccountRequest {
	r.xAppKey = &xAppKey
	return r
}

// Mandatory parameter to identify the hotel code where the end user is logged in
func (r ApiCopyARAccountRequest) XHotelid(xHotelid string) ApiCopyARAccountRequest {
	r.xHotelid = &xHotelid
	return r
}

// Request to copy AR Account
func (r ApiCopyARAccountRequest) ArAccountCopy(arAccountCopy CopyARAccountRequest) ApiCopyARAccountRequest {
	r.arAccountCopy = &arAccountCopy
	return r
}

// External system code.
func (r ApiCopyARAccountRequest) XExternalsystem(xExternalsystem string) ApiCopyARAccountRequest {
	r.xExternalsystem = &xExternalsystem
	return r
}

// Language code
func (r ApiCopyARAccountRequest) AcceptLanguage(acceptLanguage string) ApiCopyARAccountRequest {
	r.acceptLanguage = &acceptLanguage
	return r
}

func (r ApiCopyARAccountRequest) Execute() (*Status, *http.Response, error) {
	return r.ApiService.CopyARAccountExecute(r)
}

/*
CopyARAccount Copy account receivable account 

Use this API to create account receivable to multiple hotels by copying from source hotel. <p><strong>OperationId:</strong>copyARAccount</p>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param accountId Unique ID of the account
 @param hotelId Unique ID of the hotel
 @return ApiCopyARAccountRequest
*/
func (a *AccountsReceivablesApiService) CopyARAccount(ctx context.Context, accountId string, hotelId string) ApiCopyARAccountRequest {
	return ApiCopyARAccountRequest{
		ApiService: a,
		ctx: ctx,
		accountId: accountId,
		hotelId: hotelId,
	}
}

// Execute executes the request
//  @return Status
func (a *AccountsReceivablesApiService) CopyARAccountExecute(r ApiCopyARAccountRequest) (*Status, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *Status
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AccountsReceivablesApiService.CopyARAccount")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/hotels/{hotelId}/accounts/{accountId}/copyAccount"
	localVarPath = strings.Replace(localVarPath, "{"+"accountId"+"}", url.PathEscape(parameterValueToString(r.accountId, "accountId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"hotelId"+"}", url.PathEscape(parameterValueToString(r.hotelId, "hotelId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if strlen(r.accountId) < 1 {
		return localVarReturnValue, nil, reportError("accountId must have at least 1 elements")
	}
	if strlen(r.accountId) > 2000 {
		return localVarReturnValue, nil, reportError("accountId must have less than 2000 elements")
	}
	if strlen(r.hotelId) < 1 {
		return localVarReturnValue, nil, reportError("hotelId must have at least 1 elements")
	}
	if strlen(r.hotelId) > 2000 {
		return localVarReturnValue, nil, reportError("hotelId must have less than 2000 elements")
	}
	if r.authorization == nil {
		return localVarReturnValue, nil, reportError("authorization is required and must be specified")
	}
	if r.xAppKey == nil {
		return localVarReturnValue, nil, reportError("xAppKey is required and must be specified")
	}
	if r.xHotelid == nil {
		return localVarReturnValue, nil, reportError("xHotelid is required and must be specified")
	}
	if r.arAccountCopy == nil {
		return localVarReturnValue, nil, reportError("arAccountCopy is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json;charset=UTF-8"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json;charset=UTF-8"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "")
	parameterAddToHeaderOrQuery(localVarHeaderParams, "x-app-key", r.xAppKey, "")
	parameterAddToHeaderOrQuery(localVarHeaderParams, "x-hotelid", r.xHotelid, "")
	if r.xExternalsystem != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-externalsystem", r.xExternalsystem, "")
	}
	if r.acceptLanguage != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accept-Language", r.acceptLanguage, "")
	}
	// body params
	localVarPostBody = r.arAccountCopy
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDeleteAccountRequest struct {
	ctx context.Context
	ApiService *AccountsReceivablesApiService
	accountId string
	hotelId string
	authorization *string
	xAppKey *string
	xHotelid *string
	xExternalsystem *string
	acceptLanguage *string
}

// Bearer token that needs to be passed which is generated post user authentication
func (r ApiDeleteAccountRequest) Authorization(authorization string) ApiDeleteAccountRequest {
	r.authorization = &authorization
	return r
}

// Client or Partner’s Application Key
func (r ApiDeleteAccountRequest) XAppKey(xAppKey string) ApiDeleteAccountRequest {
	r.xAppKey = &xAppKey
	return r
}

// Mandatory parameter to identify the hotel code where the end user is logged in
func (r ApiDeleteAccountRequest) XHotelid(xHotelid string) ApiDeleteAccountRequest {
	r.xHotelid = &xHotelid
	return r
}

// External system code.
func (r ApiDeleteAccountRequest) XExternalsystem(xExternalsystem string) ApiDeleteAccountRequest {
	r.xExternalsystem = &xExternalsystem
	return r
}

// Language code
func (r ApiDeleteAccountRequest) AcceptLanguage(acceptLanguage string) ApiDeleteAccountRequest {
	r.acceptLanguage = &acceptLanguage
	return r
}

func (r ApiDeleteAccountRequest) Execute() (*Status, *http.Response, error) {
	return r.ApiService.DeleteAccountExecute(r)
}

/*
DeleteAccount Delete Account 

Use this API to delete account detail for given unique account id. Use get accounts to find account id. <p><strong>OperationId:</strong>deleteAccount</p>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param accountId Unique ID of the account
 @param hotelId Unique ID of the hotel
 @return ApiDeleteAccountRequest
*/
func (a *AccountsReceivablesApiService) DeleteAccount(ctx context.Context, accountId string, hotelId string) ApiDeleteAccountRequest {
	return ApiDeleteAccountRequest{
		ApiService: a,
		ctx: ctx,
		accountId: accountId,
		hotelId: hotelId,
	}
}

// Execute executes the request
//  @return Status
func (a *AccountsReceivablesApiService) DeleteAccountExecute(r ApiDeleteAccountRequest) (*Status, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *Status
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AccountsReceivablesApiService.DeleteAccount")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/hotels/{hotelId}/accounts/{accountId}"
	localVarPath = strings.Replace(localVarPath, "{"+"accountId"+"}", url.PathEscape(parameterValueToString(r.accountId, "accountId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"hotelId"+"}", url.PathEscape(parameterValueToString(r.hotelId, "hotelId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if strlen(r.accountId) < 1 {
		return localVarReturnValue, nil, reportError("accountId must have at least 1 elements")
	}
	if strlen(r.accountId) > 2000 {
		return localVarReturnValue, nil, reportError("accountId must have less than 2000 elements")
	}
	if strlen(r.hotelId) < 1 {
		return localVarReturnValue, nil, reportError("hotelId must have at least 1 elements")
	}
	if strlen(r.hotelId) > 2000 {
		return localVarReturnValue, nil, reportError("hotelId must have less than 2000 elements")
	}
	if r.authorization == nil {
		return localVarReturnValue, nil, reportError("authorization is required and must be specified")
	}
	if r.xAppKey == nil {
		return localVarReturnValue, nil, reportError("xAppKey is required and must be specified")
	}
	if r.xHotelid == nil {
		return localVarReturnValue, nil, reportError("xHotelid is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json;charset=UTF-8"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "")
	parameterAddToHeaderOrQuery(localVarHeaderParams, "x-app-key", r.xAppKey, "")
	parameterAddToHeaderOrQuery(localVarHeaderParams, "x-hotelid", r.xHotelid, "")
	if r.xExternalsystem != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-externalsystem", r.xExternalsystem, "")
	}
	if r.acceptLanguage != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accept-Language", r.acceptLanguage, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDeleteAccountCommentRequest struct {
	ctx context.Context
	ApiService *AccountsReceivablesApiService
	accountId string
	hotelId string
	authorization *string
	xAppKey *string
	xHotelid *string
	id *string
	value *string
	hotel *string
	xExternalsystem *string
	acceptLanguage *string
}

// Bearer token that needs to be passed which is generated post user authentication
func (r ApiDeleteAccountCommentRequest) Authorization(authorization string) ApiDeleteAccountCommentRequest {
	r.authorization = &authorization
	return r
}

// Client or Partner’s Application Key
func (r ApiDeleteAccountCommentRequest) XAppKey(xAppKey string) ApiDeleteAccountCommentRequest {
	r.xAppKey = &xAppKey
	return r
}

// Mandatory parameter to identify the hotel code where the end user is logged in
func (r ApiDeleteAccountCommentRequest) XHotelid(xHotelid string) ApiDeleteAccountCommentRequest {
	r.xHotelid = &xHotelid
	return r
}

// A unique identifying value assigned by the creating system. The ID attribute may be used to reference a primary-key value within a database or in a particular implementation.
func (r ApiDeleteAccountCommentRequest) Id(id string) ApiDeleteAccountCommentRequest {
	r.id = &id
	return r
}

// Property Value
func (r ApiDeleteAccountCommentRequest) Value(value string) ApiDeleteAccountCommentRequest {
	r.value = &value
	return r
}

// If specified comment belongs to the Hotel, otherwise it is a global comment.
func (r ApiDeleteAccountCommentRequest) Hotel(hotel string) ApiDeleteAccountCommentRequest {
	r.hotel = &hotel
	return r
}

// External system code.
func (r ApiDeleteAccountCommentRequest) XExternalsystem(xExternalsystem string) ApiDeleteAccountCommentRequest {
	r.xExternalsystem = &xExternalsystem
	return r
}

// Language code
func (r ApiDeleteAccountCommentRequest) AcceptLanguage(acceptLanguage string) ApiDeleteAccountCommentRequest {
	r.acceptLanguage = &acceptLanguage
	return r
}

func (r ApiDeleteAccountCommentRequest) Execute() (*Status, *http.Response, error) {
	return r.ApiService.DeleteAccountCommentExecute(r)
}

/*
DeleteAccountComment Delete Account Comment

Use this API to delete notes from a given account id. Use get account with an instruction to get note id. <p><strong>OperationId:</strong>deleteAccountComment</p>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param accountId Unique ID of the account
 @param hotelId Unique ID of the hotel
 @return ApiDeleteAccountCommentRequest
*/
func (a *AccountsReceivablesApiService) DeleteAccountComment(ctx context.Context, accountId string, hotelId string) ApiDeleteAccountCommentRequest {
	return ApiDeleteAccountCommentRequest{
		ApiService: a,
		ctx: ctx,
		accountId: accountId,
		hotelId: hotelId,
	}
}

// Execute executes the request
//  @return Status
func (a *AccountsReceivablesApiService) DeleteAccountCommentExecute(r ApiDeleteAccountCommentRequest) (*Status, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *Status
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AccountsReceivablesApiService.DeleteAccountComment")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/hotels/{hotelId}/accounts/{accountId}/comments"
	localVarPath = strings.Replace(localVarPath, "{"+"accountId"+"}", url.PathEscape(parameterValueToString(r.accountId, "accountId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"hotelId"+"}", url.PathEscape(parameterValueToString(r.hotelId, "hotelId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if strlen(r.accountId) < 1 {
		return localVarReturnValue, nil, reportError("accountId must have at least 1 elements")
	}
	if strlen(r.accountId) > 2000 {
		return localVarReturnValue, nil, reportError("accountId must have less than 2000 elements")
	}
	if strlen(r.hotelId) < 1 {
		return localVarReturnValue, nil, reportError("hotelId must have at least 1 elements")
	}
	if strlen(r.hotelId) > 2000 {
		return localVarReturnValue, nil, reportError("hotelId must have less than 2000 elements")
	}
	if r.authorization == nil {
		return localVarReturnValue, nil, reportError("authorization is required and must be specified")
	}
	if r.xAppKey == nil {
		return localVarReturnValue, nil, reportError("xAppKey is required and must be specified")
	}
	if r.xHotelid == nil {
		return localVarReturnValue, nil, reportError("xHotelid is required and must be specified")
	}

	if r.id != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id", r.id, "")
	}
	if r.value != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "value", r.value, "")
	}
	if r.hotel != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "hotel", r.hotel, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json;charset=UTF-8"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "")
	parameterAddToHeaderOrQuery(localVarHeaderParams, "x-app-key", r.xAppKey, "")
	parameterAddToHeaderOrQuery(localVarHeaderParams, "x-hotelid", r.xHotelid, "")
	if r.xExternalsystem != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-externalsystem", r.xExternalsystem, "")
	}
	if r.acceptLanguage != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accept-Language", r.acceptLanguage, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDeleteAccountFixedChargeRequest struct {
	ctx context.Context
	ApiService *AccountsReceivablesApiService
	fixedChargeId string
	accountId string
	hotelId string
	authorization *string
	xAppKey *string
	xHotelid *string
	xExternalsystem *string
	acceptLanguage *string
}

// Bearer token that needs to be passed which is generated post user authentication
func (r ApiDeleteAccountFixedChargeRequest) Authorization(authorization string) ApiDeleteAccountFixedChargeRequest {
	r.authorization = &authorization
	return r
}

// Client or Partner’s Application Key
func (r ApiDeleteAccountFixedChargeRequest) XAppKey(xAppKey string) ApiDeleteAccountFixedChargeRequest {
	r.xAppKey = &xAppKey
	return r
}

// Mandatory parameter to identify the hotel code where the end user is logged in
func (r ApiDeleteAccountFixedChargeRequest) XHotelid(xHotelid string) ApiDeleteAccountFixedChargeRequest {
	r.xHotelid = &xHotelid
	return r
}

// External system code.
func (r ApiDeleteAccountFixedChargeRequest) XExternalsystem(xExternalsystem string) ApiDeleteAccountFixedChargeRequest {
	r.xExternalsystem = &xExternalsystem
	return r
}

// Language code
func (r ApiDeleteAccountFixedChargeRequest) AcceptLanguage(acceptLanguage string) ApiDeleteAccountFixedChargeRequest {
	r.acceptLanguage = &acceptLanguage
	return r
}

func (r ApiDeleteAccountFixedChargeRequest) Execute() (*Status, *http.Response, error) {
	return r.ApiService.DeleteAccountFixedChargeExecute(r)
}

/*
DeleteAccountFixedCharge Delete fixed charges 

Use this API to delete fixed charges for a given account receivable id. Use getaccounts to find an account id. <p><strong>OperationId:</strong>deleteAccountFixedCharge</p>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param fixedChargeId ID of the fixed charge
 @param accountId Unique ID of the account
 @param hotelId Unique ID of the hotel
 @return ApiDeleteAccountFixedChargeRequest
*/
func (a *AccountsReceivablesApiService) DeleteAccountFixedCharge(ctx context.Context, fixedChargeId string, accountId string, hotelId string) ApiDeleteAccountFixedChargeRequest {
	return ApiDeleteAccountFixedChargeRequest{
		ApiService: a,
		ctx: ctx,
		fixedChargeId: fixedChargeId,
		accountId: accountId,
		hotelId: hotelId,
	}
}

// Execute executes the request
//  @return Status
func (a *AccountsReceivablesApiService) DeleteAccountFixedChargeExecute(r ApiDeleteAccountFixedChargeRequest) (*Status, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *Status
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AccountsReceivablesApiService.DeleteAccountFixedCharge")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/hotels/{hotelId}/accounts/{accountId}/fixedCharges/{fixedChargeId}"
	localVarPath = strings.Replace(localVarPath, "{"+"fixedChargeId"+"}", url.PathEscape(parameterValueToString(r.fixedChargeId, "fixedChargeId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"accountId"+"}", url.PathEscape(parameterValueToString(r.accountId, "accountId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"hotelId"+"}", url.PathEscape(parameterValueToString(r.hotelId, "hotelId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if strlen(r.fixedChargeId) < 1 {
		return localVarReturnValue, nil, reportError("fixedChargeId must have at least 1 elements")
	}
	if strlen(r.fixedChargeId) > 2000 {
		return localVarReturnValue, nil, reportError("fixedChargeId must have less than 2000 elements")
	}
	if strlen(r.accountId) < 1 {
		return localVarReturnValue, nil, reportError("accountId must have at least 1 elements")
	}
	if strlen(r.accountId) > 2000 {
		return localVarReturnValue, nil, reportError("accountId must have less than 2000 elements")
	}
	if strlen(r.hotelId) < 1 {
		return localVarReturnValue, nil, reportError("hotelId must have at least 1 elements")
	}
	if strlen(r.hotelId) > 2000 {
		return localVarReturnValue, nil, reportError("hotelId must have less than 2000 elements")
	}
	if r.authorization == nil {
		return localVarReturnValue, nil, reportError("authorization is required and must be specified")
	}
	if r.xAppKey == nil {
		return localVarReturnValue, nil, reportError("xAppKey is required and must be specified")
	}
	if r.xHotelid == nil {
		return localVarReturnValue, nil, reportError("xHotelid is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json;charset=UTF-8"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "")
	parameterAddToHeaderOrQuery(localVarHeaderParams, "x-app-key", r.xAppKey, "")
	parameterAddToHeaderOrQuery(localVarHeaderParams, "x-hotelid", r.xHotelid, "")
	if r.xExternalsystem != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-externalsystem", r.xExternalsystem, "")
	}
	if r.acceptLanguage != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accept-Language", r.acceptLanguage, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDeleteAccountTraceRequest struct {
	ctx context.Context
	ApiService *AccountsReceivablesApiService
	accountId string
	hotelId string
	authorization *string
	xAppKey *string
	xHotelid *string
	traceID *string
	traceOn *time.Time
	traceText *string
	xExternalsystem *string
	acceptLanguage *string
}

// Bearer token that needs to be passed which is generated post user authentication
func (r ApiDeleteAccountTraceRequest) Authorization(authorization string) ApiDeleteAccountTraceRequest {
	r.authorization = &authorization
	return r
}

// Client or Partner’s Application Key
func (r ApiDeleteAccountTraceRequest) XAppKey(xAppKey string) ApiDeleteAccountTraceRequest {
	r.xAppKey = &xAppKey
	return r
}

// Mandatory parameter to identify the hotel code where the end user is logged in
func (r ApiDeleteAccountTraceRequest) XHotelid(xHotelid string) ApiDeleteAccountTraceRequest {
	r.xHotelid = &xHotelid
	return r
}

// A unique identifying value assigned by the creating system. The ID attribute may be used to reference a primary-key value within a database or in a particular implementation.
func (r ApiDeleteAccountTraceRequest) TraceID(traceID string) ApiDeleteAccountTraceRequest {
	r.traceID = &traceID
	return r
}

// Date of the trace.
func (r ApiDeleteAccountTraceRequest) TraceOn(traceOn time.Time) ApiDeleteAccountTraceRequest {
	r.traceOn = &traceOn
	return r
}

// The information this trace contains.
func (r ApiDeleteAccountTraceRequest) TraceText(traceText string) ApiDeleteAccountTraceRequest {
	r.traceText = &traceText
	return r
}

// External system code.
func (r ApiDeleteAccountTraceRequest) XExternalsystem(xExternalsystem string) ApiDeleteAccountTraceRequest {
	r.xExternalsystem = &xExternalsystem
	return r
}

// Language code
func (r ApiDeleteAccountTraceRequest) AcceptLanguage(acceptLanguage string) ApiDeleteAccountTraceRequest {
	r.acceptLanguage = &acceptLanguage
	return r
}

func (r ApiDeleteAccountTraceRequest) Execute() (*Status, *http.Response, error) {
	return r.ApiService.DeleteAccountTraceExecute(r)
}

/*
DeleteAccountTrace This API facilitates deletion of account traces.

 <p><strong>OperationId:</strong>deleteAccountTrace</p>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param accountId Unique ID of the account
 @param hotelId Unique ID of the hotel
 @return ApiDeleteAccountTraceRequest
*/
func (a *AccountsReceivablesApiService) DeleteAccountTrace(ctx context.Context, accountId string, hotelId string) ApiDeleteAccountTraceRequest {
	return ApiDeleteAccountTraceRequest{
		ApiService: a,
		ctx: ctx,
		accountId: accountId,
		hotelId: hotelId,
	}
}

// Execute executes the request
//  @return Status
func (a *AccountsReceivablesApiService) DeleteAccountTraceExecute(r ApiDeleteAccountTraceRequest) (*Status, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *Status
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AccountsReceivablesApiService.DeleteAccountTrace")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/hotels/{hotelId}/accounts/{accountId}/traces"
	localVarPath = strings.Replace(localVarPath, "{"+"accountId"+"}", url.PathEscape(parameterValueToString(r.accountId, "accountId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"hotelId"+"}", url.PathEscape(parameterValueToString(r.hotelId, "hotelId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if strlen(r.accountId) < 1 {
		return localVarReturnValue, nil, reportError("accountId must have at least 1 elements")
	}
	if strlen(r.accountId) > 2000 {
		return localVarReturnValue, nil, reportError("accountId must have less than 2000 elements")
	}
	if strlen(r.hotelId) < 1 {
		return localVarReturnValue, nil, reportError("hotelId must have at least 1 elements")
	}
	if strlen(r.hotelId) > 2000 {
		return localVarReturnValue, nil, reportError("hotelId must have less than 2000 elements")
	}
	if r.authorization == nil {
		return localVarReturnValue, nil, reportError("authorization is required and must be specified")
	}
	if r.xAppKey == nil {
		return localVarReturnValue, nil, reportError("xAppKey is required and must be specified")
	}
	if r.xHotelid == nil {
		return localVarReturnValue, nil, reportError("xHotelid is required and must be specified")
	}

	if r.traceID != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "traceID", r.traceID, "")
	}
	if r.traceOn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "traceOn", r.traceOn, "")
	}
	if r.traceText != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "traceText", r.traceText, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json;charset=UTF-8"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "")
	parameterAddToHeaderOrQuery(localVarHeaderParams, "x-app-key", r.xAppKey, "")
	parameterAddToHeaderOrQuery(localVarHeaderParams, "x-hotelid", r.xHotelid, "")
	if r.xExternalsystem != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-externalsystem", r.xExternalsystem, "")
	}
	if r.acceptLanguage != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accept-Language", r.acceptLanguage, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDeleteAccountsReceivableServiceCacheRequest struct {
	ctx context.Context
	ApiService *AccountsReceivablesApiService
	authorization *string
	xAppKey *string
	xHotelid *string
	xExternalsystem *string
	acceptLanguage *string
}

// Bearer token that needs to be passed which is generated post user authentication
func (r ApiDeleteAccountsReceivableServiceCacheRequest) Authorization(authorization string) ApiDeleteAccountsReceivableServiceCacheRequest {
	r.authorization = &authorization
	return r
}

// Client or Partner’s Application Key
func (r ApiDeleteAccountsReceivableServiceCacheRequest) XAppKey(xAppKey string) ApiDeleteAccountsReceivableServiceCacheRequest {
	r.xAppKey = &xAppKey
	return r
}

// Mandatory parameter to identify the hotel code where the end user is logged in
func (r ApiDeleteAccountsReceivableServiceCacheRequest) XHotelid(xHotelid string) ApiDeleteAccountsReceivableServiceCacheRequest {
	r.xHotelid = &xHotelid
	return r
}

// External system code.
func (r ApiDeleteAccountsReceivableServiceCacheRequest) XExternalsystem(xExternalsystem string) ApiDeleteAccountsReceivableServiceCacheRequest {
	r.xExternalsystem = &xExternalsystem
	return r
}

// Language code
func (r ApiDeleteAccountsReceivableServiceCacheRequest) AcceptLanguage(acceptLanguage string) ApiDeleteAccountsReceivableServiceCacheRequest {
	r.acceptLanguage = &acceptLanguage
	return r
}

func (r ApiDeleteAccountsReceivableServiceCacheRequest) Execute() (*Status, *http.Response, error) {
	return r.ApiService.DeleteAccountsReceivableServiceCacheExecute(r)
}

/*
DeleteAccountsReceivableServiceCache Clears service level cache

This API facilitates clearing of cache in account receivable services. <p><strong>OperationId:</strong>deleteAccountsReceivableServiceCache</p>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiDeleteAccountsReceivableServiceCacheRequest
*/
func (a *AccountsReceivablesApiService) DeleteAccountsReceivableServiceCache(ctx context.Context) ApiDeleteAccountsReceivableServiceCacheRequest {
	return ApiDeleteAccountsReceivableServiceCacheRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return Status
func (a *AccountsReceivablesApiService) DeleteAccountsReceivableServiceCacheExecute(r ApiDeleteAccountsReceivableServiceCacheRequest) (*Status, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *Status
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AccountsReceivablesApiService.DeleteAccountsReceivableServiceCache")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/services/accountReceivables/cache"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.authorization == nil {
		return localVarReturnValue, nil, reportError("authorization is required and must be specified")
	}
	if r.xAppKey == nil {
		return localVarReturnValue, nil, reportError("xAppKey is required and must be specified")
	}
	if r.xHotelid == nil {
		return localVarReturnValue, nil, reportError("xHotelid is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json;charset=UTF-8"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "")
	parameterAddToHeaderOrQuery(localVarHeaderParams, "x-app-key", r.xAppKey, "")
	parameterAddToHeaderOrQuery(localVarHeaderParams, "x-hotelid", r.xHotelid, "")
	if r.xExternalsystem != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-externalsystem", r.xExternalsystem, "")
	}
	if r.acceptLanguage != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accept-Language", r.acceptLanguage, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDeletePaymentsFromInvoiceRequest struct {
	ctx context.Context
	ApiService *AccountsReceivablesApiService
	transactionId string
	invoiceId string
	hotelId string
	trxNo *[]float32
	accountId *string
	authorization *string
	xAppKey *string
	xHotelid *string
	cashierID *float32
	invoiceNo *float32
	xExternalsystem *string
	acceptLanguage *string
}

// Unique Transaction Identifier of the Payment.
func (r ApiDeletePaymentsFromInvoiceRequest) TrxNo(trxNo []float32) ApiDeletePaymentsFromInvoiceRequest {
	r.trxNo = &trxNo
	return r
}

// A unique identifying value assigned by the creating system. The ID attribute may be used to reference a primary-key value within a database or in a particular implementation.
func (r ApiDeletePaymentsFromInvoiceRequest) AccountId(accountId string) ApiDeletePaymentsFromInvoiceRequest {
	r.accountId = &accountId
	return r
}

// Bearer token that needs to be passed which is generated post user authentication
func (r ApiDeletePaymentsFromInvoiceRequest) Authorization(authorization string) ApiDeletePaymentsFromInvoiceRequest {
	r.authorization = &authorization
	return r
}

// Client or Partner’s Application Key
func (r ApiDeletePaymentsFromInvoiceRequest) XAppKey(xAppKey string) ApiDeletePaymentsFromInvoiceRequest {
	r.xAppKey = &xAppKey
	return r
}

// Mandatory parameter to identify the hotel code where the end user is logged in
func (r ApiDeletePaymentsFromInvoiceRequest) XHotelid(xHotelid string) ApiDeletePaymentsFromInvoiceRequest {
	r.xHotelid = &xHotelid
	return r
}

// The Cashier ID of the Cashier who is currently processing the transaction(s).
func (r ApiDeletePaymentsFromInvoiceRequest) CashierID(cashierID float32) ApiDeletePaymentsFromInvoiceRequest {
	r.cashierID = &cashierID
	return r
}

// Invoice No after the folio is generated. Same invoice number may be referred in multiple folios
func (r ApiDeletePaymentsFromInvoiceRequest) InvoiceNo(invoiceNo float32) ApiDeletePaymentsFromInvoiceRequest {
	r.invoiceNo = &invoiceNo
	return r
}

// External system code.
func (r ApiDeletePaymentsFromInvoiceRequest) XExternalsystem(xExternalsystem string) ApiDeletePaymentsFromInvoiceRequest {
	r.xExternalsystem = &xExternalsystem
	return r
}

// Language code
func (r ApiDeletePaymentsFromInvoiceRequest) AcceptLanguage(acceptLanguage string) ApiDeletePaymentsFromInvoiceRequest {
	r.acceptLanguage = &acceptLanguage
	return r
}

func (r ApiDeletePaymentsFromInvoiceRequest) Execute() (*Status, *http.Response, error) {
	return r.ApiService.DeletePaymentsFromInvoiceExecute(r)
}

/*
DeletePaymentsFromInvoice Delete payments from invoice

Delete payments from invoice.<br><p><strong><mark>This API is deprecated. Please use removePaymentsFromInvoice instead</mark></strong></p> <p><strong>OperationId:</strong>deletePaymentsFromInvoice</p>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param transactionId Unique ID of the transaction
 @param invoiceId Unique ID of the invoice
 @param hotelId Unique ID of the hotel
 @return ApiDeletePaymentsFromInvoiceRequest

Deprecated
*/
func (a *AccountsReceivablesApiService) DeletePaymentsFromInvoice(ctx context.Context, transactionId string, invoiceId string, hotelId string) ApiDeletePaymentsFromInvoiceRequest {
	return ApiDeletePaymentsFromInvoiceRequest{
		ApiService: a,
		ctx: ctx,
		transactionId: transactionId,
		invoiceId: invoiceId,
		hotelId: hotelId,
	}
}

// Execute executes the request
//  @return Status
// Deprecated
func (a *AccountsReceivablesApiService) DeletePaymentsFromInvoiceExecute(r ApiDeletePaymentsFromInvoiceRequest) (*Status, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *Status
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AccountsReceivablesApiService.DeletePaymentsFromInvoice")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/hotels/{hotelId}/invoices/{invoiceId}/transactions/{transactionId}/paymentsFromInvoice"
	localVarPath = strings.Replace(localVarPath, "{"+"transactionId"+"}", url.PathEscape(parameterValueToString(r.transactionId, "transactionId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"invoiceId"+"}", url.PathEscape(parameterValueToString(r.invoiceId, "invoiceId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"hotelId"+"}", url.PathEscape(parameterValueToString(r.hotelId, "hotelId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if strlen(r.transactionId) < 1 {
		return localVarReturnValue, nil, reportError("transactionId must have at least 1 elements")
	}
	if strlen(r.transactionId) > 2000 {
		return localVarReturnValue, nil, reportError("transactionId must have less than 2000 elements")
	}
	if strlen(r.invoiceId) < 1 {
		return localVarReturnValue, nil, reportError("invoiceId must have at least 1 elements")
	}
	if strlen(r.invoiceId) > 2000 {
		return localVarReturnValue, nil, reportError("invoiceId must have less than 2000 elements")
	}
	if strlen(r.hotelId) < 1 {
		return localVarReturnValue, nil, reportError("hotelId must have at least 1 elements")
	}
	if strlen(r.hotelId) > 2000 {
		return localVarReturnValue, nil, reportError("hotelId must have less than 2000 elements")
	}
	if r.trxNo == nil {
		return localVarReturnValue, nil, reportError("trxNo is required and must be specified")
	}
	if r.accountId == nil {
		return localVarReturnValue, nil, reportError("accountId is required and must be specified")
	}
	if r.authorization == nil {
		return localVarReturnValue, nil, reportError("authorization is required and must be specified")
	}
	if r.xAppKey == nil {
		return localVarReturnValue, nil, reportError("xAppKey is required and must be specified")
	}
	if r.xHotelid == nil {
		return localVarReturnValue, nil, reportError("xHotelid is required and must be specified")
	}

	{
		t := *r.trxNo
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "trxNo", s.Index(i), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "trxNo", t, "multi")
		}
	}
	parameterAddToHeaderOrQuery(localVarQueryParams, "accountId", r.accountId, "")
	if r.cashierID != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "cashierID", r.cashierID, "")
	}
	if r.invoiceNo != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "invoiceNo", r.invoiceNo, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json;charset=UTF-8"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "")
	parameterAddToHeaderOrQuery(localVarHeaderParams, "x-app-key", r.xAppKey, "")
	parameterAddToHeaderOrQuery(localVarHeaderParams, "x-hotelid", r.xHotelid, "")
	if r.xExternalsystem != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-externalsystem", r.xExternalsystem, "")
	}
	if r.acceptLanguage != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accept-Language", r.acceptLanguage, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetARAgingCyclesRequest struct {
	ctx context.Context
	ApiService *AccountsReceivablesApiService
	hotelId string
	authorization *string
	xAppKey *string
	xHotelid *string
	xExternalsystem *string
	acceptLanguage *string
}

// Bearer token that needs to be passed which is generated post user authentication
func (r ApiGetARAgingCyclesRequest) Authorization(authorization string) ApiGetARAgingCyclesRequest {
	r.authorization = &authorization
	return r
}

// Client or Partner’s Application Key
func (r ApiGetARAgingCyclesRequest) XAppKey(xAppKey string) ApiGetARAgingCyclesRequest {
	r.xAppKey = &xAppKey
	return r
}

// Mandatory parameter to identify the hotel code where the end user is logged in
func (r ApiGetARAgingCyclesRequest) XHotelid(xHotelid string) ApiGetARAgingCyclesRequest {
	r.xHotelid = &xHotelid
	return r
}

// External system code.
func (r ApiGetARAgingCyclesRequest) XExternalsystem(xExternalsystem string) ApiGetARAgingCyclesRequest {
	r.xExternalsystem = &xExternalsystem
	return r
}

// Language code
func (r ApiGetARAgingCyclesRequest) AcceptLanguage(acceptLanguage string) ApiGetARAgingCyclesRequest {
	r.acceptLanguage = &acceptLanguage
	return r
}

func (r ApiGetARAgingCyclesRequest) Execute() (*ArAgingCycles, *http.Response, error) {
	return r.ApiService.GetARAgingCyclesExecute(r)
}

/*
GetARAgingCycles Get given AR account's aging detail

Use this API to get account receivable profile's aging summary including account name, summary, credit limit, total outstanding balance, etc. per aging bucket. <p><strong>OperationId:</strong>getARAgingCycles</p>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param hotelId Unique ID of the hotel
 @return ApiGetARAgingCyclesRequest
*/
func (a *AccountsReceivablesApiService) GetARAgingCycles(ctx context.Context, hotelId string) ApiGetARAgingCyclesRequest {
	return ApiGetARAgingCyclesRequest{
		ApiService: a,
		ctx: ctx,
		hotelId: hotelId,
	}
}

// Execute executes the request
//  @return ArAgingCycles
func (a *AccountsReceivablesApiService) GetARAgingCyclesExecute(r ApiGetARAgingCyclesRequest) (*ArAgingCycles, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ArAgingCycles
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AccountsReceivablesApiService.GetARAgingCycles")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/hotels/{hotelId}/agingCycles"
	localVarPath = strings.Replace(localVarPath, "{"+"hotelId"+"}", url.PathEscape(parameterValueToString(r.hotelId, "hotelId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if strlen(r.hotelId) < 1 {
		return localVarReturnValue, nil, reportError("hotelId must have at least 1 elements")
	}
	if strlen(r.hotelId) > 2000 {
		return localVarReturnValue, nil, reportError("hotelId must have less than 2000 elements")
	}
	if r.authorization == nil {
		return localVarReturnValue, nil, reportError("authorization is required and must be specified")
	}
	if r.xAppKey == nil {
		return localVarReturnValue, nil, reportError("xAppKey is required and must be specified")
	}
	if r.xHotelid == nil {
		return localVarReturnValue, nil, reportError("xHotelid is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json;charset=UTF-8"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "")
	parameterAddToHeaderOrQuery(localVarHeaderParams, "x-app-key", r.xAppKey, "")
	parameterAddToHeaderOrQuery(localVarHeaderParams, "x-hotelid", r.xHotelid, "")
	if r.xExternalsystem != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-externalsystem", r.xExternalsystem, "")
	}
	if r.acceptLanguage != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accept-Language", r.acceptLanguage, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetARCreditCardPaymentsRequest struct {
	ctx context.Context
	ApiService *AccountsReceivablesApiService
	transactionId string
	hotelId string
	authorization *string
	xAppKey *string
	xHotelid *string
	endDate *string
	startDate *string
	xExternalsystem *string
	acceptLanguage *string
}

// Bearer token that needs to be passed which is generated post user authentication
func (r ApiGetARCreditCardPaymentsRequest) Authorization(authorization string) ApiGetARCreditCardPaymentsRequest {
	r.authorization = &authorization
	return r
}

// Client or Partner’s Application Key
func (r ApiGetARCreditCardPaymentsRequest) XAppKey(xAppKey string) ApiGetARCreditCardPaymentsRequest {
	r.xAppKey = &xAppKey
	return r
}

// Mandatory parameter to identify the hotel code where the end user is logged in
func (r ApiGetARCreditCardPaymentsRequest) XHotelid(xHotelid string) ApiGetARCreditCardPaymentsRequest {
	r.xHotelid = &xHotelid
	return r
}

// The ending value of the date range.
func (r ApiGetARCreditCardPaymentsRequest) EndDate(endDate string) ApiGetARCreditCardPaymentsRequest {
	r.endDate = &endDate
	return r
}

// The starting value of the date range.
func (r ApiGetARCreditCardPaymentsRequest) StartDate(startDate string) ApiGetARCreditCardPaymentsRequest {
	r.startDate = &startDate
	return r
}

// External system code.
func (r ApiGetARCreditCardPaymentsRequest) XExternalsystem(xExternalsystem string) ApiGetARCreditCardPaymentsRequest {
	r.xExternalsystem = &xExternalsystem
	return r
}

// Language code
func (r ApiGetARCreditCardPaymentsRequest) AcceptLanguage(acceptLanguage string) ApiGetARCreditCardPaymentsRequest {
	r.acceptLanguage = &acceptLanguage
	return r
}

func (r ApiGetARCreditCardPaymentsRequest) Execute() (*ArCreditCardPayments, *http.Response, error) {
	return r.ApiService.GetARCreditCardPaymentsExecute(r)
}

/*
GetARCreditCardPayments Get account receivable folios which are paid using credit cards

Use this API to get lists of folios for guests who checked out using a credit card payment transaction code that has an account receivable associated with it. It also lists payments made prior to check out if the payment was made using a credit card transaction code that has a an account receivable associated with it. <p><strong>OperationId:</strong>getARCreditCardPayments</p>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param transactionId Unique ID of the transaction
 @param hotelId Unique ID of the hotel
 @return ApiGetARCreditCardPaymentsRequest
*/
func (a *AccountsReceivablesApiService) GetARCreditCardPayments(ctx context.Context, transactionId string, hotelId string) ApiGetARCreditCardPaymentsRequest {
	return ApiGetARCreditCardPaymentsRequest{
		ApiService: a,
		ctx: ctx,
		transactionId: transactionId,
		hotelId: hotelId,
	}
}

// Execute executes the request
//  @return ArCreditCardPayments
func (a *AccountsReceivablesApiService) GetARCreditCardPaymentsExecute(r ApiGetARCreditCardPaymentsRequest) (*ArCreditCardPayments, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ArCreditCardPayments
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AccountsReceivablesApiService.GetARCreditCardPayments")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/hotels/{hotelId}/transactions/{transactionId}/creditcard/payments"
	localVarPath = strings.Replace(localVarPath, "{"+"transactionId"+"}", url.PathEscape(parameterValueToString(r.transactionId, "transactionId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"hotelId"+"}", url.PathEscape(parameterValueToString(r.hotelId, "hotelId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if strlen(r.transactionId) < 1 {
		return localVarReturnValue, nil, reportError("transactionId must have at least 1 elements")
	}
	if strlen(r.transactionId) > 2000 {
		return localVarReturnValue, nil, reportError("transactionId must have less than 2000 elements")
	}
	if strlen(r.hotelId) < 1 {
		return localVarReturnValue, nil, reportError("hotelId must have at least 1 elements")
	}
	if strlen(r.hotelId) > 2000 {
		return localVarReturnValue, nil, reportError("hotelId must have less than 2000 elements")
	}
	if r.authorization == nil {
		return localVarReturnValue, nil, reportError("authorization is required and must be specified")
	}
	if r.xAppKey == nil {
		return localVarReturnValue, nil, reportError("xAppKey is required and must be specified")
	}
	if r.xHotelid == nil {
		return localVarReturnValue, nil, reportError("xHotelid is required and must be specified")
	}

	if r.endDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "endDate", r.endDate, "")
	}
	if r.startDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "startDate", r.startDate, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json;charset=UTF-8"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "")
	parameterAddToHeaderOrQuery(localVarHeaderParams, "x-app-key", r.xAppKey, "")
	parameterAddToHeaderOrQuery(localVarHeaderParams, "x-hotelid", r.xHotelid, "")
	if r.xExternalsystem != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-externalsystem", r.xExternalsystem, "")
	}
	if r.acceptLanguage != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accept-Language", r.acceptLanguage, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetARFolioPrintersRequest struct {
	ctx context.Context
	ApiService *AccountsReceivablesApiService
	accountId string
	hotelId string
	authorization *string
	xAppKey *string
	xHotelid *string
	balance *float32
	overrideCreditHoldCheck *bool
	cashierId *float32
	profileId *string
	accountNo *string
	accountName *string
	guestProfileId *string
	guestProfileIdContext *string
	guestProfileType *string
	folioWindowNo *[]int32
	chargeCashierId *[]float32
	chargeTransactionCode *[]string
	articleCode *[]string
	amount *float32
	currencyCode *string
	postingQuantity *[]int32
	postingReference *[]string
	postingRemark *[]string
	checkNumber *[]string
	arrangementCode *[]string
	applyRoutingInstructions *[]bool
	usePackageAllowance *[]bool
	autoPosting *[]bool
	financialTransactionId *[]string
	financialTransactionIdContext *[]string
	financialTransactionType *[]string
	reference *string
	remark *string
	folioType *string
	generateFiscalFolio *bool
	queueName *string
	xExternalsystem *string
	acceptLanguage *string
}

// Bearer token that needs to be passed which is generated post user authentication
func (r ApiGetARFolioPrintersRequest) Authorization(authorization string) ApiGetARFolioPrintersRequest {
	r.authorization = &authorization
	return r
}

// Client or Partner’s Application Key
func (r ApiGetARFolioPrintersRequest) XAppKey(xAppKey string) ApiGetARFolioPrintersRequest {
	r.xAppKey = &xAppKey
	return r
}

// Mandatory parameter to identify the hotel code where the end user is logged in
func (r ApiGetARFolioPrintersRequest) XHotelid(xHotelid string) ApiGetARFolioPrintersRequest {
	r.xHotelid = &xHotelid
	return r
}

func (r ApiGetARFolioPrintersRequest) Balance(balance float32) ApiGetARFolioPrintersRequest {
	r.balance = &balance
	return r
}

func (r ApiGetARFolioPrintersRequest) OverrideCreditHoldCheck(overrideCreditHoldCheck bool) ApiGetARFolioPrintersRequest {
	r.overrideCreditHoldCheck = &overrideCreditHoldCheck
	return r
}

// The Cashier ID of the Cashier who is currently processing the transaction(s).
func (r ApiGetARFolioPrintersRequest) CashierId(cashierId float32) ApiGetARFolioPrintersRequest {
	r.cashierId = &cashierId
	return r
}

// A unique identifying value assigned by the creating system. The ID attribute may be used to reference a primary-key value within a database or in a particular implementation.
func (r ApiGetARFolioPrintersRequest) ProfileId(profileId string) ApiGetARFolioPrintersRequest {
	r.profileId = &profileId
	return r
}

// Account Number for the AR Account.
func (r ApiGetARFolioPrintersRequest) AccountNo(accountNo string) ApiGetARFolioPrintersRequest {
	r.accountNo = &accountNo
	return r
}

// Account Name for the AR Account.
func (r ApiGetARFolioPrintersRequest) AccountName(accountName string) ApiGetARFolioPrintersRequest {
	r.accountName = &accountName
	return r
}

// A unique identifying value assigned by the creating system. The ID attribute may be used to reference a primary-key value within a database or in a particular implementation.
func (r ApiGetARFolioPrintersRequest) GuestProfileId(guestProfileId string) ApiGetARFolioPrintersRequest {
	r.guestProfileId = &guestProfileId
	return r
}

// Used to identify the source of the identifier (e.g., IATA, ABTA).
func (r ApiGetARFolioPrintersRequest) GuestProfileIdContext(guestProfileIdContext string) ApiGetARFolioPrintersRequest {
	r.guestProfileIdContext = &guestProfileIdContext
	return r
}

// A reference to the type of object defined by the UniqueID element.
func (r ApiGetARFolioPrintersRequest) GuestProfileType(guestProfileType string) ApiGetARFolioPrintersRequest {
	r.guestProfileType = &guestProfileType
	return r
}

func (r ApiGetARFolioPrintersRequest) FolioWindowNo(folioWindowNo []int32) ApiGetARFolioPrintersRequest {
	r.folioWindowNo = &folioWindowNo
	return r
}

// The Cashier ID of the Cashier who is currently processing the transaction(s).
func (r ApiGetARFolioPrintersRequest) ChargeCashierId(chargeCashierId []float32) ApiGetARFolioPrintersRequest {
	r.chargeCashierId = &chargeCashierId
	return r
}

// Transaction Code to post.
func (r ApiGetARFolioPrintersRequest) ChargeTransactionCode(chargeTransactionCode []string) ApiGetARFolioPrintersRequest {
	r.chargeTransactionCode = &chargeTransactionCode
	return r
}

// Article ID.
func (r ApiGetARFolioPrintersRequest) ArticleCode(articleCode []string) ApiGetARFolioPrintersRequest {
	r.articleCode = &articleCode
	return r
}

// A monetary amount.
func (r ApiGetARFolioPrintersRequest) Amount(amount float32) ApiGetARFolioPrintersRequest {
	r.amount = &amount
	return r
}

// Provides a currency code to reflect the currency in which an amount may be expressed.
func (r ApiGetARFolioPrintersRequest) CurrencyCode(currencyCode string) ApiGetARFolioPrintersRequest {
	r.currencyCode = &currencyCode
	return r
}

// Quantity to post to the folio.
func (r ApiGetARFolioPrintersRequest) PostingQuantity(postingQuantity []int32) ApiGetARFolioPrintersRequest {
	r.postingQuantity = &postingQuantity
	return r
}

// User-defined posting reference.
func (r ApiGetARFolioPrintersRequest) PostingReference(postingReference []string) ApiGetARFolioPrintersRequest {
	r.postingReference = &postingReference
	return r
}

// User-defined posting remark.
func (r ApiGetARFolioPrintersRequest) PostingRemark(postingRemark []string) ApiGetARFolioPrintersRequest {
	r.postingRemark = &postingRemark
	return r
}

// Indicates the Cheque number.
func (r ApiGetARFolioPrintersRequest) CheckNumber(checkNumber []string) ApiGetARFolioPrintersRequest {
	r.checkNumber = &checkNumber
	return r
}

// Corrected arrangement code from the package associated to this transaction.
func (r ApiGetARFolioPrintersRequest) ArrangementCode(arrangementCode []string) ApiGetARFolioPrintersRequest {
	r.arrangementCode = &arrangementCode
	return r
}

// Apply room routing when making this posting.
func (r ApiGetARFolioPrintersRequest) ApplyRoutingInstructions(applyRoutingInstructions []bool) ApiGetARFolioPrintersRequest {
	r.applyRoutingInstructions = &applyRoutingInstructions
	return r
}

// Use the applicable package allowance when making this posting.
func (r ApiGetARFolioPrintersRequest) UsePackageAllowance(usePackageAllowance []bool) ApiGetARFolioPrintersRequest {
	r.usePackageAllowance = &usePackageAllowance
	return r
}

// True indicates the Transaction Code is allowed to be posted automatically.
func (r ApiGetARFolioPrintersRequest) AutoPosting(autoPosting []bool) ApiGetARFolioPrintersRequest {
	r.autoPosting = &autoPosting
	return r
}

// A unique identifying value assigned by the creating system. The ID attribute may be used to reference a primary-key value within a database or in a particular implementation.
func (r ApiGetARFolioPrintersRequest) FinancialTransactionId(financialTransactionId []string) ApiGetARFolioPrintersRequest {
	r.financialTransactionId = &financialTransactionId
	return r
}

// Used to identify the source of the identifier (e.g., IATA, ABTA).
func (r ApiGetARFolioPrintersRequest) FinancialTransactionIdContext(financialTransactionIdContext []string) ApiGetARFolioPrintersRequest {
	r.financialTransactionIdContext = &financialTransactionIdContext
	return r
}

// A reference to the type of object defined by the UniqueID element.
func (r ApiGetARFolioPrintersRequest) FinancialTransactionType(financialTransactionType []string) ApiGetARFolioPrintersRequest {
	r.financialTransactionType = &financialTransactionType
	return r
}

// User-defined invoice reference.
func (r ApiGetARFolioPrintersRequest) Reference(reference string) ApiGetARFolioPrintersRequest {
	r.reference = &reference
	return r
}

// User-defined invoice remark.
func (r ApiGetARFolioPrintersRequest) Remark(remark string) ApiGetARFolioPrintersRequest {
	r.remark = &remark
	return r
}

// Folio Type to be assigned to generated folio. This is a country requirement.
func (r ApiGetARFolioPrintersRequest) FolioType(folioType string) ApiGetARFolioPrintersRequest {
	r.folioType = &folioType
	return r
}

// Fiscal folio flag to call fiscal folio web service after folio generation.
func (r ApiGetARFolioPrintersRequest) GenerateFiscalFolio(generateFiscalFolio bool) ApiGetARFolioPrintersRequest {
	r.generateFiscalFolio = &generateFiscalFolio
	return r
}

// Folio Queue name.
func (r ApiGetARFolioPrintersRequest) QueueName(queueName string) ApiGetARFolioPrintersRequest {
	r.queueName = &queueName
	return r
}

// External system code.
func (r ApiGetARFolioPrintersRequest) XExternalsystem(xExternalsystem string) ApiGetARFolioPrintersRequest {
	r.xExternalsystem = &xExternalsystem
	return r
}

// Language code
func (r ApiGetARFolioPrintersRequest) AcceptLanguage(acceptLanguage string) ApiGetARFolioPrintersRequest {
	r.acceptLanguage = &acceptLanguage
	return r
}

func (r ApiGetARFolioPrintersRequest) Execute() (*ArFolioPrinters, *http.Response, error) {
	return r.ApiService.GetARFolioPrintersExecute(r)
}

/*
GetARFolioPrinters Get list of account receivable folio printers

Use this API to find account receivable folio printers <p><strong>OperationId:</strong>getARFolioPrinters</p>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param accountId Unique ID of the account
 @param hotelId Unique ID of the hotel
 @return ApiGetARFolioPrintersRequest
*/
func (a *AccountsReceivablesApiService) GetARFolioPrinters(ctx context.Context, accountId string, hotelId string) ApiGetARFolioPrintersRequest {
	return ApiGetARFolioPrintersRequest{
		ApiService: a,
		ctx: ctx,
		accountId: accountId,
		hotelId: hotelId,
	}
}

// Execute executes the request
//  @return ArFolioPrinters
func (a *AccountsReceivablesApiService) GetARFolioPrintersExecute(r ApiGetARFolioPrintersRequest) (*ArFolioPrinters, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ArFolioPrinters
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AccountsReceivablesApiService.GetARFolioPrinters")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/hotels/{hotelId}/accounts/{accountId}/folioPrinters"
	localVarPath = strings.Replace(localVarPath, "{"+"accountId"+"}", url.PathEscape(parameterValueToString(r.accountId, "accountId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"hotelId"+"}", url.PathEscape(parameterValueToString(r.hotelId, "hotelId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if strlen(r.accountId) < 1 {
		return localVarReturnValue, nil, reportError("accountId must have at least 1 elements")
	}
	if strlen(r.accountId) > 2000 {
		return localVarReturnValue, nil, reportError("accountId must have less than 2000 elements")
	}
	if strlen(r.hotelId) < 1 {
		return localVarReturnValue, nil, reportError("hotelId must have at least 1 elements")
	}
	if strlen(r.hotelId) > 2000 {
		return localVarReturnValue, nil, reportError("hotelId must have less than 2000 elements")
	}
	if r.authorization == nil {
		return localVarReturnValue, nil, reportError("authorization is required and must be specified")
	}
	if r.xAppKey == nil {
		return localVarReturnValue, nil, reportError("xAppKey is required and must be specified")
	}
	if r.xHotelid == nil {
		return localVarReturnValue, nil, reportError("xHotelid is required and must be specified")
	}

	if r.balance != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "balance", r.balance, "")
	}
	if r.overrideCreditHoldCheck != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "overrideCreditHoldCheck", r.overrideCreditHoldCheck, "")
	}
	if r.cashierId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "cashierId", r.cashierId, "")
	}
	if r.profileId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "profileId", r.profileId, "")
	}
	if r.accountNo != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "accountNo", r.accountNo, "")
	}
	if r.accountName != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "accountName", r.accountName, "")
	}
	if r.guestProfileId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "guestProfileId", r.guestProfileId, "")
	}
	if r.guestProfileIdContext != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "guestProfileIdContext", r.guestProfileIdContext, "")
	}
	if r.guestProfileType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "guestProfileType", r.guestProfileType, "")
	}
	if r.folioWindowNo != nil {
		t := *r.folioWindowNo
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "folioWindowNo", s.Index(i), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "folioWindowNo", t, "multi")
		}
	}
	if r.chargeCashierId != nil {
		t := *r.chargeCashierId
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "chargeCashierId", s.Index(i), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "chargeCashierId", t, "multi")
		}
	}
	if r.chargeTransactionCode != nil {
		t := *r.chargeTransactionCode
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "chargeTransactionCode", s.Index(i), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "chargeTransactionCode", t, "multi")
		}
	}
	if r.articleCode != nil {
		t := *r.articleCode
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "articleCode", s.Index(i), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "articleCode", t, "multi")
		}
	}
	if r.amount != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "amount", r.amount, "")
	}
	if r.currencyCode != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "currencyCode", r.currencyCode, "")
	}
	if r.postingQuantity != nil {
		t := *r.postingQuantity
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "postingQuantity", s.Index(i), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "postingQuantity", t, "multi")
		}
	}
	if r.postingReference != nil {
		t := *r.postingReference
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "postingReference", s.Index(i), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "postingReference", t, "multi")
		}
	}
	if r.postingRemark != nil {
		t := *r.postingRemark
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "postingRemark", s.Index(i), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "postingRemark", t, "multi")
		}
	}
	if r.checkNumber != nil {
		t := *r.checkNumber
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "checkNumber", s.Index(i), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "checkNumber", t, "multi")
		}
	}
	if r.arrangementCode != nil {
		t := *r.arrangementCode
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "arrangementCode", s.Index(i), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "arrangementCode", t, "multi")
		}
	}
	if r.applyRoutingInstructions != nil {
		t := *r.applyRoutingInstructions
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "applyRoutingInstructions", s.Index(i), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "applyRoutingInstructions", t, "multi")
		}
	}
	if r.usePackageAllowance != nil {
		t := *r.usePackageAllowance
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "usePackageAllowance", s.Index(i), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "usePackageAllowance", t, "multi")
		}
	}
	if r.autoPosting != nil {
		t := *r.autoPosting
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
[...]
