/*
Opera Cloud Rate Plan Asynchronous Service API

APIs catering to the Rate Plan asynchronous related functionality in a hotel.  This includes adding/updating daily rates&apos; pricing schedules and best available rates by day or length of stay. <p>This API follows an async pattern where</p><ul><li>You make an initial request, which returns a Location header</li><li>You poll HEAD on the Location header returned to obtain the status of the process</li><li>Once the process completes HEAD will return in the Location header the URL that must be called to obtain the results of the process</li><li>You call the URL to obtain the results of the process</li></ul><br /><br /> Compatible with OPERA Cloud release 26.2.0.0.<br /><br /><p> This document and all content within is available under the Universal Permissive License v 1.0 (https://oss.oracle.com/licenses/upl). Copyright (c) 2020, 2026 Oracle and/or its affiliates.</p>

API version: 26.2.0.0
Contact: hospitality_apis_ww_grp@oracle.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package rtpasync

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// RatePlanAsyncAPIService RatePlanAsyncAPI service
type RatePlanAsyncAPIService service

type RatePlanAsyncAPIGetBestAvailableRatePlansRequest struct {
	ctx context.Context
	ApiService *RatePlanAsyncAPIService
	requestId string
	hotelId string
	extSystemCode string
	authorization *string
	xAppKey *string
	xHotelid *string
	externalData *string
	xRequestId *string
	xOriginatingApplication *string
	acceptLanguage *string
}

// Bearer token that needs to be passed which is generated post user authentication
func (r RatePlanAsyncAPIGetBestAvailableRatePlansRequest) Authorization(authorization string) RatePlanAsyncAPIGetBestAvailableRatePlansRequest {
	r.authorization = &authorization
	return r
}

// Client or Partner&#39;s Application Key
func (r RatePlanAsyncAPIGetBestAvailableRatePlansRequest) XAppKey(xAppKey string) RatePlanAsyncAPIGetBestAvailableRatePlansRequest {
	r.xAppKey = &xAppKey
	return r
}

// Mandatory parameter to identify the hotel code where the end user is logged in
func (r RatePlanAsyncAPIGetBestAvailableRatePlansRequest) XHotelid(xHotelid string) RatePlanAsyncAPIGetBestAvailableRatePlansRequest {
	r.xHotelid = &xHotelid
	return r
}

// Pass this header as true, if payload needs DVM
func (r RatePlanAsyncAPIGetBestAvailableRatePlansRequest) ExternalData(externalData string) RatePlanAsyncAPIGetBestAvailableRatePlansRequest {
	r.externalData = &externalData
	return r
}

// Request Id of an incoming request
func (r RatePlanAsyncAPIGetBestAvailableRatePlansRequest) XRequestId(xRequestId string) RatePlanAsyncAPIGetBestAvailableRatePlansRequest {
	r.xRequestId = &xRequestId
	return r
}

// Customer&#39;s Integration Application Id
func (r RatePlanAsyncAPIGetBestAvailableRatePlansRequest) XOriginatingApplication(xOriginatingApplication string) RatePlanAsyncAPIGetBestAvailableRatePlansRequest {
	r.xOriginatingApplication = &xOriginatingApplication
	return r
}

// Language code
func (r RatePlanAsyncAPIGetBestAvailableRatePlansRequest) AcceptLanguage(acceptLanguage string) RatePlanAsyncAPIGetBestAvailableRatePlansRequest {
	r.acceptLanguage = &acceptLanguage
	return r
}

func (r RatePlanAsyncAPIGetBestAvailableRatePlansRequest) Execute() (*BestAvailableRatePlansStatus, *http.Response, error) {
	return r.ApiService.GetBestAvailableRatePlansExecute(r)
}

/*
GetBestAvailableRatePlans Get results of a daily rate plan schedule process

Use this API to get the result of the process to set best available rate plans, which will include details of any data that has been failed to process. You can get the value of the summaryId from the Location header returned by the getBestAvailableRatePlansProcessStatus operation after the process is completed. <p><strong>OperationId:</strong>getBestAvailableRatePlans</p>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param requestId
 @param hotelId
 @param extSystemCode
 @return RatePlanAsyncAPIGetBestAvailableRatePlansRequest
*/
func (a *RatePlanAsyncAPIService) GetBestAvailableRatePlans(ctx context.Context, requestId string, hotelId string, extSystemCode string) RatePlanAsyncAPIGetBestAvailableRatePlansRequest {
	return RatePlanAsyncAPIGetBestAvailableRatePlansRequest{
		ApiService: a,
		ctx: ctx,
		requestId: requestId,
		hotelId: hotelId,
		extSystemCode: extSystemCode,
	}
}

// Execute executes the request
//  @return BestAvailableRatePlansStatus
func (a *RatePlanAsyncAPIService) GetBestAvailableRatePlansExecute(r RatePlanAsyncAPIGetBestAvailableRatePlansRequest) (*BestAvailableRatePlansStatus, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *BestAvailableRatePlansStatus
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RatePlanAsyncAPIService.GetBestAvailableRatePlans")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/externalSystems/{extSystemCode}/hotels/{hotelId}/ratePlans/bestAvailableLOS/{requestId}"
	localVarPath = strings.Replace(localVarPath, "{"+"requestId"+"}", url.PathEscape(parameterValueToString(r.requestId, "requestId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"hotelId"+"}", url.PathEscape(parameterValueToString(r.hotelId, "hotelId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"extSystemCode"+"}", url.PathEscape(parameterValueToString(r.extSystemCode, "extSystemCode")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if strlen(r.requestId) < 1 {
		return localVarReturnValue, nil, reportError("requestId must have at least 1 elements")
	}
	if strlen(r.requestId) > 2000 {
		return localVarReturnValue, nil, reportError("requestId must have less than 2000 elements")
	}
	if strlen(r.hotelId) < 1 {
		return localVarReturnValue, nil, reportError("hotelId must have at least 1 elements")
	}
	if strlen(r.hotelId) > 2000 {
		return localVarReturnValue, nil, reportError("hotelId must have less than 2000 elements")
	}
	if strlen(r.extSystemCode) < 1 {
		return localVarReturnValue, nil, reportError("extSystemCode must have at least 1 elements")
	}
	if strlen(r.extSystemCode) > 2000 {
		return localVarReturnValue, nil, reportError("extSystemCode must have less than 2000 elements")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json;charset=UTF-8"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "")
	}
	if r.externalData != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "externalData", r.externalData, "")
	}
	if r.xAppKey != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-app-key", r.xAppKey, "")
	}
	if r.xRequestId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-request-id", r.xRequestId, "")
	}
	if r.xOriginatingApplication != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-originating-application", r.xOriginatingApplication, "")
	}
	if r.xHotelid != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-hotelid", r.xHotelid, "")
	}
	if r.acceptLanguage != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accept-Language", r.acceptLanguage, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if a.client.cfg.ResponseMiddleware != nil {
		err = a.client.cfg.ResponseMiddleware(localVarHTTPResponse, localVarBody)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type RatePlanAsyncAPIGetBestAvailableRatePlansProcessStatusRequest struct {
	ctx context.Context
	ApiService *RatePlanAsyncAPIService
	requestId string
	extSystemCode string
	hotelId string
	authorization *string
	xAppKey *string
	xHotelid *string
	externalData *string
	xRequestId *string
	xOriginatingApplication *string
	acceptLanguage *string
}

// Bearer token that needs to be passed which is generated post user authentication
func (r RatePlanAsyncAPIGetBestAvailableRatePlansProcessStatusRequest) Authorization(authorization string) RatePlanAsyncAPIGetBestAvailableRatePlansProcessStatusRequest {
	r.authorization = &authorization
	return r
}

// Client or Partner&#39;s Application Key
func (r RatePlanAsyncAPIGetBestAvailableRatePlansProcessStatusRequest) XAppKey(xAppKey string) RatePlanAsyncAPIGetBestAvailableRatePlansProcessStatusRequest {
	r.xAppKey = &xAppKey
	return r
}

// Mandatory parameter to identify the hotel code where the end user is logged in
func (r RatePlanAsyncAPIGetBestAvailableRatePlansProcessStatusRequest) XHotelid(xHotelid string) RatePlanAsyncAPIGetBestAvailableRatePlansProcessStatusRequest {
	r.xHotelid = &xHotelid
	return r
}

// Pass this header as true, if payload needs DVM
func (r RatePlanAsyncAPIGetBestAvailableRatePlansProcessStatusRequest) ExternalData(externalData string) RatePlanAsyncAPIGetBestAvailableRatePlansProcessStatusRequest {
	r.externalData = &externalData
	return r
}

// Request Id of an incoming request
func (r RatePlanAsyncAPIGetBestAvailableRatePlansProcessStatusRequest) XRequestId(xRequestId string) RatePlanAsyncAPIGetBestAvailableRatePlansProcessStatusRequest {
	r.xRequestId = &xRequestId
	return r
}

// Customer&#39;s Integration Application Id
func (r RatePlanAsyncAPIGetBestAvailableRatePlansProcessStatusRequest) XOriginatingApplication(xOriginatingApplication string) RatePlanAsyncAPIGetBestAvailableRatePlansProcessStatusRequest {
	r.xOriginatingApplication = &xOriginatingApplication
	return r
}

// Language code
func (r RatePlanAsyncAPIGetBestAvailableRatePlansProcessStatusRequest) AcceptLanguage(acceptLanguage string) RatePlanAsyncAPIGetBestAvailableRatePlansProcessStatusRequest {
	r.acceptLanguage = &acceptLanguage
	return r
}

func (r RatePlanAsyncAPIGetBestAvailableRatePlansProcessStatusRequest) Execute() (*http.Response, error) {
	return r.ApiService.GetBestAvailableRatePlansProcessStatusExecute(r)
}

/*
GetBestAvailableRatePlansProcessStatus Check status of setting best available rate plans process

Use this API to check whether the setting of best available rate plans process is completed. You can get value of summaryId from the Location header returned by the startSetBestAvailableRatePlansProcess operation.<p><strong>OperationId:</strong>getBestAvailableRatePlansProcessStatus</p>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param requestId
 @param extSystemCode
 @param hotelId
 @return RatePlanAsyncAPIGetBestAvailableRatePlansProcessStatusRequest
*/
func (a *RatePlanAsyncAPIService) GetBestAvailableRatePlansProcessStatus(ctx context.Context, requestId string, extSystemCode string, hotelId string) RatePlanAsyncAPIGetBestAvailableRatePlansProcessStatusRequest {
	return RatePlanAsyncAPIGetBestAvailableRatePlansProcessStatusRequest{
		ApiService: a,
		ctx: ctx,
		requestId: requestId,
		extSystemCode: extSystemCode,
		hotelId: hotelId,
	}
}

// Execute executes the request
func (a *RatePlanAsyncAPIService) GetBestAvailableRatePlansProcessStatusExecute(r RatePlanAsyncAPIGetBestAvailableRatePlansProcessStatusRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodHead
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RatePlanAsyncAPIService.GetBestAvailableRatePlansProcessStatus")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/externalSystems/{extSystemCode}/hotels/{hotelId}/ratePlans/bestAvailableLOS/{requestId}"
	localVarPath = strings.Replace(localVarPath, "{"+"requestId"+"}", url.PathEscape(parameterValueToString(r.requestId, "requestId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"extSystemCode"+"}", url.PathEscape(parameterValueToString(r.extSystemCode, "extSystemCode")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"hotelId"+"}", url.PathEscape(parameterValueToString(r.hotelId, "hotelId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if strlen(r.requestId) < 1 {
		return nil, reportError("requestId must have at least 1 elements")
	}
	if strlen(r.requestId) > 2000 {
		return nil, reportError("requestId must have less than 2000 elements")
	}
	if strlen(r.extSystemCode) < 1 {
		return nil, reportError("extSystemCode must have at least 1 elements")
	}
	if strlen(r.extSystemCode) > 2000 {
		return nil, reportError("extSystemCode must have less than 2000 elements")
	}
	if strlen(r.hotelId) < 1 {
		return nil, reportError("hotelId must have at least 1 elements")
	}
	if strlen(r.hotelId) > 2000 {
		return nil, reportError("hotelId must have less than 2000 elements")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json;charset=UTF-8"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "")
	}
	if r.externalData != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "externalData", r.externalData, "")
	}
	if r.xAppKey != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-app-key", r.xAppKey, "")
	}
	if r.xRequestId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-request-id", r.xRequestId, "")
	}
	if r.xOriginatingApplication != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-originating-application", r.xOriginatingApplication, "")
	}
	if r.xHotelid != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-hotelid", r.xHotelid, "")
	}
	if r.acceptLanguage != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accept-Language", r.acceptLanguage, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if a.client.cfg.ResponseMiddleware != nil {
		err = a.client.cfg.ResponseMiddleware(localVarHTTPResponse, localVarBody)
		if err != nil {
			return localVarHTTPResponse, err
		}
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarHTTPResponse, newErr
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type RatePlanAsyncAPIGetCopyRatePlansProcessSummaryRequest struct {
	ctx context.Context
	ApiService *RatePlanAsyncAPIService
	hotelId string
	requestId string
	authorization *string
}

// Bearer token that needs to be passed which is generated post user authentication
func (r RatePlanAsyncAPIGetCopyRatePlansProcessSummaryRequest) Authorization(authorization string) RatePlanAsyncAPIGetCopyRatePlansProcessSummaryRequest {
	r.authorization = &authorization
	return r
}

func (r RatePlanAsyncAPIGetCopyRatePlansProcessSummaryRequest) Execute() (*CopyRatePlansSummaryType, *http.Response, error) {
	return r.ApiService.GetCopyRatePlansProcessSummaryExecute(r)
}

/*
GetCopyRatePlansProcessSummary Get result of rate plans copy async process.

API to fetch result of rate plans copy process.<p><strong>OperationId:</strong>getCopyRatePlansProcessSummary</p>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param hotelId Hotel ID
 @param requestId Async job request id
 @return RatePlanAsyncAPIGetCopyRatePlansProcessSummaryRequest
*/
func (a *RatePlanAsyncAPIService) GetCopyRatePlansProcessSummary(ctx context.Context, hotelId string, requestId string) RatePlanAsyncAPIGetCopyRatePlansProcessSummaryRequest {
	return RatePlanAsyncAPIGetCopyRatePlansProcessSummaryRequest{
		ApiService: a,
		ctx: ctx,
		hotelId: hotelId,
		requestId: requestId,
	}
}

// Execute executes the request
//  @return CopyRatePlansSummaryType
func (a *RatePlanAsyncAPIService) GetCopyRatePlansProcessSummaryExecute(r RatePlanAsyncAPIGetCopyRatePlansProcessSummaryRequest) (*CopyRatePlansSummaryType, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CopyRatePlansSummaryType
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RatePlanAsyncAPIService.GetCopyRatePlansProcessSummary")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/hotels/{hotelId}/ratePlans/copy/{requestId}"
	localVarPath = strings.Replace(localVarPath, "{"+"hotelId"+"}", url.PathEscape(parameterValueToString(r.hotelId, "hotelId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"requestId"+"}", url.PathEscape(parameterValueToString(r.requestId, "requestId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if a.client.cfg.ResponseMiddleware != nil {
		err = a.client.cfg.ResponseMiddleware(localVarHTTPResponse, localVarBody)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type RatePlanAsyncAPIGetDailyRatePlanSchedulesRequest struct {
	ctx context.Context
	ApiService *RatePlanAsyncAPIService
	requestId string
	hotelId string
	extSystemCode string
	authorization *string
	xAppKey *string
	xHotelid *string
	externalData *string
	xRequestId *string
	xOriginatingApplication *string
	acceptLanguage *string
}

// Bearer token that needs to be passed which is generated post user authentication
func (r RatePlanAsyncAPIGetDailyRatePlanSchedulesRequest) Authorization(authorization string) RatePlanAsyncAPIGetDailyRatePlanSchedulesRequest {
	r.authorization = &authorization
	return r
}

// Client or Partner&#39;s Application Key
func (r RatePlanAsyncAPIGetDailyRatePlanSchedulesRequest) XAppKey(xAppKey string) RatePlanAsyncAPIGetDailyRatePlanSchedulesRequest {
	r.xAppKey = &xAppKey
	return r
}

// Mandatory parameter to identify the hotel code where the end user is logged in
func (r RatePlanAsyncAPIGetDailyRatePlanSchedulesRequest) XHotelid(xHotelid string) RatePlanAsyncAPIGetDailyRatePlanSchedulesRequest {
	r.xHotelid = &xHotelid
	return r
}

// Pass this header as true, if payload needs DVM
func (r RatePlanAsyncAPIGetDailyRatePlanSchedulesRequest) ExternalData(externalData string) RatePlanAsyncAPIGetDailyRatePlanSchedulesRequest {
	r.externalData = &externalData
	return r
}

// Request Id of an incoming request
func (r RatePlanAsyncAPIGetDailyRatePlanSchedulesRequest) XRequestId(xRequestId string) RatePlanAsyncAPIGetDailyRatePlanSchedulesRequest {
	r.xRequestId = &xRequestId
	return r
}

// Customer&#39;s Integration Application Id
func (r RatePlanAsyncAPIGetDailyRatePlanSchedulesRequest) XOriginatingApplication(xOriginatingApplication string) RatePlanAsyncAPIGetDailyRatePlanSchedulesRequest {
	r.xOriginatingApplication = &xOriginatingApplication
	return r
}

// Language code
func (r RatePlanAsyncAPIGetDailyRatePlanSchedulesRequest) AcceptLanguage(acceptLanguage string) RatePlanAsyncAPIGetDailyRatePlanSchedulesRequest {
	r.acceptLanguage = &acceptLanguage
	return r
}

func (r RatePlanAsyncAPIGetDailyRatePlanSchedulesRequest) Execute() (*DailyRatePlanSchedulesStatus, *http.Response, error) {
	return r.ApiService.GetDailyRatePlanSchedulesExecute(r)
}

/*
GetDailyRatePlanSchedules Get results of a daily rate plan schedule process

Use this API to get the result of the daily rate plans schedule process, which will include details of any data that has failed to process. You can get the value of the summaryId from the Location header returned by the getDailyRatePlanSchedulesProcessStatus operation after the process is completed. <p><strong>OperationId:</strong>getDailyRatePlanSchedules</p>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param requestId
 @param hotelId
 @param extSystemCode
 @return RatePlanAsyncAPIGetDailyRatePlanSchedulesRequest
*/
func (a *RatePlanAsyncAPIService) GetDailyRatePlanSchedules(ctx context.Context, requestId string, hotelId string, extSystemCode string) RatePlanAsyncAPIGetDailyRatePlanSchedulesRequest {
	return RatePlanAsyncAPIGetDailyRatePlanSchedulesRequest{
		ApiService: a,
		ctx: ctx,
		requestId: requestId,
		hotelId: hotelId,
		extSystemCode: extSystemCode,
	}
}

// Execute executes the request
//  @return DailyRatePlanSchedulesStatus
func (a *RatePlanAsyncAPIService) GetDailyRatePlanSchedulesExecute(r RatePlanAsyncAPIGetDailyRatePlanSchedulesRequest) (*DailyRatePlanSchedulesStatus, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *DailyRatePlanSchedulesStatus
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RatePlanAsyncAPIService.GetDailyRatePlanSchedules")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/externalSystems/{extSystemCode}/hotels/{hotelId}/ratePlans/dailySchedules/{requestId}"
	localVarPath = strings.Replace(localVarPath, "{"+"requestId"+"}", url.PathEscape(parameterValueToString(r.requestId, "requestId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"hotelId"+"}", url.PathEscape(parameterValueToString(r.hotelId, "hotelId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"extSystemCode"+"}", url.PathEscape(parameterValueToString(r.extSystemCode, "extSystemCode")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if strlen(r.requestId) < 1 {
		return localVarReturnValue, nil, reportError("requestId must have at least 1 elements")
	}
	if strlen(r.requestId) > 2000 {
		return localVarReturnValue, nil, reportError("requestId must have less than 2000 elements")
	}
	if strlen(r.hotelId) < 1 {
		return localVarReturnValue, nil, reportError("hotelId must have at least 1 elements")
	}
	if strlen(r.hotelId) > 2000 {
		return localVarReturnValue, nil, reportError("hotelId must have less than 2000 elements")
	}
	if strlen(r.extSystemCode) < 1 {
		return localVarReturnValue, nil, reportError("extSystemCode must have at least 1 elements")
	}
	if strlen(r.extSystemCode) > 2000 {
		return localVarReturnValue, nil, reportError("extSystemCode must have less than 2000 elements")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json;charset=UTF-8"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "")
	}
	if r.externalData != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "externalData", r.externalData, "")
	}
	if r.xAppKey != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-app-key", r.xAppKey, "")
	}
	if r.xRequestId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-request-id", r.xRequestId, "")
	}
	if r.xOriginatingApplication != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-originating-application", r.xOriginatingApplication, "")
	}
	if r.xHotelid != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-hotelid", r.xHotelid, "")
	}
	if r.acceptLanguage != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accept-Language", r.acceptLanguage, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if a.client.cfg.ResponseMiddleware != nil {
		err = a.client.cfg.ResponseMiddleware(localVarHTTPResponse, localVarBody)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type RatePlanAsyncAPIGetDailyRatePlanSchedulesProcessStatusRequest struct {
	ctx context.Context
	ApiService *RatePlanAsyncAPIService
	requestId string
	extSystemCode string
	hotelId string
	authorization *string
	xAppKey *string
	xHotelid *string
	externalData *string
	xRequestId *string
	xOriginatingApplication *string
	acceptLanguage *string
}

// Bearer token that needs to be passed which is generated post user authentication
func (r RatePlanAsyncAPIGetDailyRatePlanSchedulesProcessStatusRequest) Authorization(authorization string) RatePlanAsyncAPIGetDailyRatePlanSchedulesProcessStatusRequest {
	r.authorization = &authorization
	return r
}

// Client or Partner&#39;s Application Key
func (r RatePlanAsyncAPIGetDailyRatePlanSchedulesProcessStatusRequest) XAppKey(xAppKey string) RatePlanAsyncAPIGetDailyRatePlanSchedulesProcessStatusRequest {
	r.xAppKey = &xAppKey
	return r
}

// Mandatory parameter to identify the hotel code where the end user is logged in
func (r RatePlanAsyncAPIGetDailyRatePlanSchedulesProcessStatusRequest) XHotelid(xHotelid string) RatePlanAsyncAPIGetDailyRatePlanSchedulesProcessStatusRequest {
	r.xHotelid = &xHotelid
	return r
}

// Pass this header as true, if payload needs DVM
func (r RatePlanAsyncAPIGetDailyRatePlanSchedulesProcessStatusRequest) ExternalData(externalData string) RatePlanAsyncAPIGetDailyRatePlanSchedulesProcessStatusRequest {
	r.externalData = &externalData
	return r
}

// Request Id of an incoming request
func (r RatePlanAsyncAPIGetDailyRatePlanSchedulesProcessStatusRequest) XRequestId(xRequestId string) RatePlanAsyncAPIGetDailyRatePlanSchedulesProcessStatusRequest {
	r.xRequestId = &xRequestId
	return r
}

// Customer&#39;s Integration Application Id
func (r RatePlanAsyncAPIGetDailyRatePlanSchedulesProcessStatusRequest) XOriginatingApplication(xOriginatingApplication string) RatePlanAsyncAPIGetDailyRatePlanSchedulesProcessStatusRequest {
	r.xOriginatingApplication = &xOriginatingApplication
	return r
}

// Language code
func (r RatePlanAsyncAPIGetDailyRatePlanSchedulesProcessStatusRequest) AcceptLanguage(acceptLanguage string) RatePlanAsyncAPIGetDailyRatePlanSchedulesProcessStatusRequest {
	r.acceptLanguage = &acceptLanguage
	return r
}

func (r RatePlanAsyncAPIGetDailyRatePlanSchedulesProcessStatusRequest) Execute() (*http.Response, error) {
	return r.ApiService.GetDailyRatePlanSchedulesProcessStatusExecute(r)
}

/*
GetDailyRatePlanSchedulesProcessStatus Check status of setting daily rate plan schedule process

Use this API to check whether the rate plan pricing schedule process is completed. You can get value of summaryId from the Location header returned by the startSetDailyRatePlanSchedulesProcess operation.<p><strong>OperationId:</strong>getDailyRatePlanSchedulesProcessStatus</p>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param requestId
 @param extSystemCode
 @param hotelId
 @return RatePlanAsyncAPIGetDailyRatePlanSchedulesProcessStatusRequest
*/
func (a *RatePlanAsyncAPIService) GetDailyRatePlanSchedulesProcessStatus(ctx context.Context, requestId string, extSystemCode string, hotelId string) RatePlanAsyncAPIGetDailyRatePlanSchedulesProcessStatusRequest {
	return RatePlanAsyncAPIGetDailyRatePlanSchedulesProcessStatusRequest{
		ApiService: a,
		ctx: ctx,
		requestId: requestId,
		extSystemCode: extSystemCode,
		hotelId: hotelId,
	}
}

// Execute executes the request
func (a *RatePlanAsyncAPIService) GetDailyRatePlanSchedulesProcessStatusExecute(r RatePlanAsyncAPIGetDailyRatePlanSchedulesProcessStatusRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodHead
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RatePlanAsyncAPIService.GetDailyRatePlanSchedulesProcessStatus")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/externalSystems/{extSystemCode}/hotels/{hotelId}/ratePlans/dailySchedules/{requestId}"
	localVarPath = strings.Replace(localVarPath, "{"+"requestId"+"}", url.PathEscape(parameterValueToString(r.requestId, "requestId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"extSystemCode"+"}", url.PathEscape(parameterValueToString(r.extSystemCode, "extSystemCode")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"hotelId"+"}", url.PathEscape(parameterValueToString(r.hotelId, "hotelId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if strlen(r.requestId) < 1 {
		return nil, reportError("requestId must have at least 1 elements")
	}
	if strlen(r.requestId) > 2000 {
		return nil, reportError("requestId must have less than 2000 elements")
	}
	if strlen(r.extSystemCode) < 1 {
		return nil, reportError("extSystemCode must have at least 1 elements")
	}
	if strlen(r.extSystemCode) > 2000 {
		return nil, reportError("extSystemCode must have less than 2000 elements")
	}
	if strlen(r.hotelId) < 1 {
		return nil, reportError("hotelId must have at least 1 elements")
	}
	if strlen(r.hotelId) > 2000 {
		return nil, reportError("hotelId must have less than 2000 elements")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json;charset=UTF-8"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "")
	}
	if r.externalData != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "externalData", r.externalData, "")
	}
	if r.xAppKey != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-app-key", r.xAppKey, "")
	}
	if r.xRequestId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-request-id", r.xRequestId, "")
	}
	if r.xOriginatingApplication != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-originating-application", r.xOriginatingApplication, "")
	}
	if r.xHotelid != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-hotelid", r.xHotelid, "")
	}
	if r.acceptLanguage != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accept-Language", r.acceptLanguage, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if a.client.cfg.ResponseMiddleware != nil {
		err = a.client.cfg.ResponseMiddleware(localVarHTTPResponse, localVarBody)
		if err != nil {
			return localVarHTTPResponse, err
		}
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarHTTPResponse, newErr
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type RatePlanAsyncAPIGetHurdleRatesRequest struct {
	ctx context.Context
	ApiService *RatePlanAsyncAPIService
	hotelId string
	extSystemCode string
	requestId string
	authorization *string
	xAppKey *string
	xHotelid *string
	externalData *string
	xRequestId *string
	xOriginatingApplication *string
	acceptLanguage *string
}

// Bearer token that needs to be passed which is generated post user authentication
func (r RatePlanAsyncAPIGetHurdleRatesRequest) Authorization(authorization string) RatePlanAsyncAPIGetHurdleRatesRequest {
	r.authorization = &authorization
	return r
}

// Client or Partner&#39;s Application Key
func (r RatePlanAsyncAPIGetHurdleRatesRequest) XAppKey(xAppKey string) RatePlanAsyncAPIGetHurdleRatesRequest {
	r.xAppKey = &xAppKey
	return r
}

// Mandatory parameter to identify the hotel code where the end user is logged in
func (r RatePlanAsyncAPIGetHurdleRatesRequest) XHotelid(xHotelid string) RatePlanAsyncAPIGetHurdleRatesRequest {
	r.xHotelid = &xHotelid
	return r
}

// Pass this header as true, if payload needs DVM
func (r RatePlanAsyncAPIGetHurdleRatesRequest) ExternalData(externalData string) RatePlanAsyncAPIGetHurdleRatesRequest {
	r.externalData = &externalData
	return r
}

// Request Id of an incoming request
func (r RatePlanAsyncAPIGetHurdleRatesRequest) XRequestId(xRequestId string) RatePlanAsyncAPIGetHurdleRatesRequest {
	r.xRequestId = &xRequestId
	return r
}

// Customer&#39;s Integration Application Id
func (r RatePlanAsyncAPIGetHurdleRatesRequest) XOriginatingApplication(xOriginatingApplication string) RatePlanAsyncAPIGetHurdleRatesRequest {
	r.xOriginatingApplication = &xOriginatingApplication
	return r
}

// Language code
func (r RatePlanAsyncAPIGetHurdleRatesRequest) AcceptLanguage(acceptLanguage string) RatePlanAsyncAPIGetHurdleRatesRequest {
	r.acceptLanguage = &acceptLanguage
	return r
}

func (r RatePlanAsyncAPIGetHurdleRatesRequest) Execute() (*HurdleRatesStatus, *http.Response, error) {
	return r.ApiService.GetHurdleRatesExecute(r)
}

/*
GetHurdleRates This API facilitates fetching of status for configured hurdle rates.

 <p><strong>OperationId:</strong>getHurdleRates</p>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param hotelId Unique ID of Hotel in OPERA.
 @param extSystemCode Unique code of the external system.
 @param requestId Unique ID to fetch status of configured hurdle rates.
 @return RatePlanAsyncAPIGetHurdleRatesRequest
*/
func (a *RatePlanAsyncAPIService) GetHurdleRates(ctx context.Context, hotelId string, extSystemCode string, requestId string) RatePlanAsyncAPIGetHurdleRatesRequest {
	return RatePlanAsyncAPIGetHurdleRatesRequest{
		ApiService: a,
		ctx: ctx,
		hotelId: hotelId,
		extSystemCode: extSystemCode,
		requestId: requestId,
	}
}

// Execute executes the request
//  @return HurdleRatesStatus
func (a *RatePlanAsyncAPIService) GetHurdleRatesExecute(r RatePlanAsyncAPIGetHurdleRatesRequest) (*HurdleRatesStatus, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *HurdleRatesStatus
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RatePlanAsyncAPIService.GetHurdleRates")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/externalSystems/{extSystemCode}/hotels/{hotelId}/rates/hurdles/{requestId}"
	localVarPath = strings.Replace(localVarPath, "{"+"hotelId"+"}", url.PathEscape(parameterValueToString(r.hotelId, "hotelId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"extSystemCode"+"}", url.PathEscape(parameterValueToString(r.extSystemCode, "extSystemCode")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"requestId"+"}", url.PathEscape(parameterValueToString(r.requestId, "requestId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if strlen(r.hotelId) < 1 {
		return localVarReturnValue, nil, reportError("hotelId must have at least 1 elements")
	}
	if strlen(r.hotelId) > 2000 {
		return localVarReturnValue, nil, reportError("hotelId must have less than 2000 elements")
	}
	if strlen(r.extSystemCode) < 1 {
		return localVarReturnValue, nil, reportError("extSystemCode must have at least 1 elements")
	}
	if strlen(r.extSystemCode) > 2000 {
		return localVarReturnValue, nil, reportError("extSystemCode must have less than 2000 elements")
	}
	if strlen(r.requestId) < 1 {
		return localVarReturnValue, nil, reportError("requestId must have at least 1 elements")
	}
	if strlen(r.requestId) > 2000 {
		return localVarReturnValue, nil, reportError("requestId must have less than 2000 elements")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json;charset=UTF-8"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "")
	}
	if r.externalData != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "externalData", r.externalData, "")
	}
	if r.xAppKey != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-app-key", r.xAppKey, "")
	}
	if r.xRequestId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-request-id", r.xRequestId, "")
	}
	if r.xOriginatingApplication != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-originating-application", r.xOriginatingApplication, "")
	}
	if r.xHotelid != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-hotelid", r.xHotelid, "")
	}
	if r.acceptLanguage != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accept-Language", r.acceptLanguage, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if a.client.cfg.ResponseMiddleware != nil {
		err = a.client.cfg.ResponseMiddleware(localVarHTTPResponse, localVarBody)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type RatePlanAsyncAPIGetHurdleRatesProcessStatusRequest struct {
	ctx context.Context
	ApiService *RatePlanAsyncAPIService
	requestId string
	extSystemCode string
	hotelId string
	authorization *string
	xAppKey *string
	xHotelid *string
	externalData *string
	xRequestId *string
	xOriginatingApplication *string
	acceptLanguage *string
}

// Bearer token that needs to be passed which is generated post user authentication
func (r RatePlanAsyncAPIGetHurdleRatesProcessStatusRequest) Authorization(authorization string) RatePlanAsyncAPIGetHurdleRatesProcessStatusRequest {
	r.authorization = &authorization
	return r
}

// Client or Partner&#39;s Application Key
func (r RatePlanAsyncAPIGetHurdleRatesProcessStatusRequest) XAppKey(xAppKey string) RatePlanAsyncAPIGetHurdleRatesProcessStatusRequest {
	r.xAppKey = &xAppKey
	return r
}

// Mandatory parameter to identify the hotel code where the end user is logged in
func (r RatePlanAsyncAPIGetHurdleRatesProcessStatusRequest) XHotelid(xHotelid string) RatePlanAsyncAPIGetHurdleRatesProcessStatusRequest {
	r.xHotelid = &xHotelid
	return r
}

// Pass this header as true, if payload needs DVM
func (r RatePlanAsyncAPIGetHurdleRatesProcessStatusRequest) ExternalData(externalData string) RatePlanAsyncAPIGetHurdleRatesProcessStatusRequest {
	r.externalData = &externalData
	return r
}

// Request Id of an incoming request
func (r RatePlanAsyncAPIGetHurdleRatesProcessStatusRequest) XRequestId(xRequestId string) RatePlanAsyncAPIGetHurdleRatesProcessStatusRequest {
	r.xRequestId = &xRequestId
	return r
}

// Customer&#39;s Integration Application Id
func (r RatePlanAsyncAPIGetHurdleRatesProcessStatusRequest) XOriginatingApplication(xOriginatingApplication string) RatePlanAsyncAPIGetHurdleRatesProcessStatusRequest {
	r.xOriginatingApplication = &xOriginatingApplication
	return r
}

// Language code
func (r RatePlanAsyncAPIGetHurdleRatesProcessStatusRequest) AcceptLanguage(acceptLanguage string) RatePlanAsyncAPIGetHurdleRatesProcessStatusRequest {
	r.acceptLanguage = &acceptLanguage
	return r
}

func (r RatePlanAsyncAPIGetHurdleRatesProcessStatusRequest) Execute() (*http.Response, error) {
	return r.ApiService.GetHurdleRatesProcessStatusExecute(r)
}

/*
GetHurdleRatesProcessStatus This API returns the status of asynchronous process scheduled for given id.

 <p><strong>OperationId:</strong>getHurdleRatesProcessStatus</p>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param requestId Unique ID to fetch status of configured hurdle rates.
 @param extSystemCode Unique code of the external system.
 @param hotelId Unique ID of Hotel in OPERA.
 @return RatePlanAsyncAPIGetHurdleRatesProcessStatusRequest
*/
func (a *RatePlanAsyncAPIService) GetHurdleRatesProcessStatus(ctx context.Context, requestId string, extSystemCode string, hotelId string) RatePlanAsyncAPIGetHurdleRatesProcessStatusRequest {
	return RatePlanAsyncAPIGetHurdleRatesProcessStatusRequest{
		ApiService: a,
		ctx: ctx,
		requestId: requestId,
		extSystemCode: extSystemCode,
		hotelId: hotelId,
	}
}

// Execute executes the request
func (a *RatePlanAsyncAPIService) GetHurdleRatesProcessStatusExecute(r RatePlanAsyncAPIGetHurdleRatesProcessStatusRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodHead
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RatePlanAsyncAPIService.GetHurdleRatesProcessStatus")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/externalSystems/{extSystemCode}/hotels/{hotelId}/rates/hurdles/{requestId}"
	localVarPath = strings.Replace(localVarPath, "{"+"requestId"+"}", url.PathEscape(parameterValueToString(r.requestId, "requestId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"extSystemCode"+"}", url.PathEscape(parameterValueToString(r.extSystemCode, "extSystemCode")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"hotelId"+"}", url.PathEscape(parameterValueToString(r.hotelId, "hotelId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if strlen(r.requestId) < 1 {
		return nil, reportError("requestId must have at least 1 elements")
	}
	if strlen(r.requestId) > 2000 {
		return nil, reportError("requestId must have less than 2000 elements")
	}
	if strlen(r.extSystemCode) < 1 {
		return nil, reportError("extSystemCode must have at least 1 elements")
	}
	if strlen(r.extSystemCode) > 2000 {
		return nil, reportError("extSystemCode must have less than 2000 elements")
	}
	if strlen(r.hotelId) < 1 {
		return nil, reportError("hotelId must have at least 1 elements")
	}
	if strlen(r.hotelId) > 2000 {
		return nil, reportError("hotelId must have less than 2000 elements")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json;charset=UTF-8"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "")
	}
	if r.externalData != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "externalData", r.externalData, "")
	}
	if r.xAppKey != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-app-key", r.xAppKey, "")
	}
	if r.xRequestId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-request-id", r.xRequestId, "")
	}
	if r.xOriginatingApplication != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-originating-application", r.xOriginatingApplication, "")
	}
	if r.xHotelid != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-hotelid", r.xHotelid, "")
	}
	if r.acceptLanguage != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accept-Language", r.acceptLanguage, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if a.client.cfg.ResponseMiddleware != nil {
		err = a.client.cfg.ResponseMiddleware(localVarHTTPResponse, localVarBody)
		if err != nil {
			return localVarHTTPResponse, err
		}
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarHTTPResponse, newErr
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type RatePlanAsyncAPIGetRatePlanDeletionProcessSummaryRequest struct {
	ctx context.Context
	ApiService *RatePlanAsyncAPIService
	requestId string
	hotelId string
	authorization *string
	xAppKey *string
	xHotelid *string
	externalData *string
	acceptLanguage *string
}

// Bearer token that needs to be passed which is generated post user authentication
func (r RatePlanAsyncAPIGetRatePlanDeletionProcessSummaryRequest) Authorization(authorization string) RatePlanAsyncAPIGetRatePlanDeletionProcessSummaryRequest {
	r.authorization = &authorization
	return r
}

// Client or Partner&#39;s Application Key
func (r RatePlanAsyncAPIGetRatePlanDeletionProcessSummaryRequest) XAppKey(xAppKey string) RatePlanAsyncAPIGetRatePlanDeletionProcessSummaryRequest {
	r.xAppKey = &xAppKey
	return r
}

// Mandatory parameter to identify the hotel code where the end user is logged in
func (r RatePlanAsyncAPIGetRatePlanDeletionProcessSummaryRequest) XHotelid(xHotelid string) RatePlanAsyncAPIGetRatePlanDeletionProcessSummaryRequest {
	r.xHotelid = &xHotelid
	return r
}

// Pass this header as true, if payload needs DVM
func (r RatePlanAsyncAPIGetRatePlanDeletionProcessSummaryRequest) ExternalData(externalData string) RatePlanAsyncAPIGetRatePlanDeletionProcessSummaryRequest {
	r.externalData = &externalData
	return r
}

// Language code
func (r RatePlanAsyncAPIGetRatePlanDeletionProcessSummaryRequest) AcceptLanguage(acceptLanguage string) RatePlanAsyncAPIGetRatePlanDeletionProcessSummaryRequest {
	r.acceptLanguage = &acceptLanguage
	return r
}

func (r RatePlanAsyncAPIGetRatePlanDeletionProcessSummaryRequest) Execute() (*DeleteRatePlansSummaryType, *http.Response, error) {
	return r.ApiService.GetRatePlanDeletionProcessSummaryExecute(r)
}

/*
GetRatePlanDeletionProcessSummary Get results of delete Rate Plans process.

This API returns a summary of the delete Rate Plans process. You can get the value of requestId from the process API response (under header location). <p><strong>OperationId:</strong>getRatePlanDeletionProcessSummary</p>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param requestId Unique ID of delete Rate Plans process
 @param hotelId Unique ID of a Hotel
 @return RatePlanAsyncAPIGetRatePlanDeletionProcessSummaryRequest
*/
func (a *RatePlanAsyncAPIService) GetRatePlanDeletionProcessSummary(ctx context.Context, requestId string, hotelId string) RatePlanAsyncAPIGetRatePlanDeletionProcessSummaryRequest {
	return RatePlanAsyncAPIGetRatePlanDeletionProcessSummaryRequest{
		ApiService: a,
		ctx: ctx,
		requestId: requestId,
		hotelId: hotelId,
	}
}

// Execute executes the request
//  @return DeleteRatePlansSummaryType
func (a *RatePlanAsyncAPIService) GetRatePlanDeletionProcessSummaryExecute(r RatePlanAsyncAPIGetRatePlanDeletionProcessSummaryRequest) (*DeleteRatePlansSummaryType, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *DeleteRatePlansSummaryType
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RatePlanAsyncAPIService.GetRatePlanDeletionProcessSummary")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/hotels/{hotelId}/ratePlans/deletions/{requestId}"
	localVarPath = strings.Replace(localVarPath, "{"+"requestId"+"}", url.PathEscape(parameterValueToString(r.requestId, "requestId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"hotelId"+"}", url.PathEscape(parameterValueToString(r.hotelId, "hotelId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if strlen(r.requestId) < 1 {
		return localVarReturnValue, nil, reportError("requestId must have at least 1 elements")
	}
	if strlen(r.requestId) > 2000 {
		return localVarReturnValue, nil, reportError("requestId must have less than 2000 elements")
	}
	if strlen(r.hotelId) < 1 {
		return localVarReturnValue, nil, reportError("hotelId must have at least 1 elements")
	}
	if strlen(r.hotelId) > 20 {
		return localVarReturnValue, nil, reportError("hotelId must have less than 20 elements")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json;charset=UTF-8", "application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "")
	}
	if r.externalData != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "externalData", r.externalData, "")
	}
	if r.xAppKey != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-app-key", r.xAppKey, "")
	}
	if r.xHotelid != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-hotelid", r.xHotelid, "")
	}
	if r.acceptLanguage != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accept-Language", r.acceptLanguage, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if a.client.cfg.ResponseMiddleware != nil {
		err = a.client.cfg.ResponseMiddleware(localVarHTTPResponse, localVarBody)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type RatePlanAsyncAPIGetRatePlanRoomTypesModifyProcessSummaryRequest struct {
	ctx context.Context
	ApiService *RatePlanAsyncAPIService
	requestId string
	hotelId string
	authorization *string
	xAppKey *string
	xHotelid *string
	externalData *string
	xRequestId *string
	xOriginatingApplication *string
	acceptLanguage *string
}

// Bearer token that needs to be passed which is generated post user authentication
func (r RatePlanAsyncAPIGetRatePlanRoomTypesModifyProcessSummaryRequest) Authorization(authorization string) RatePlanAsyncAPIGetRatePlanRoomTypesModifyProcessSummaryRequest {
	r.authorization = &authorization
	return r
}

// Client or Partner&#39;s Application Key
func (r RatePlanAsyncAPIGetRatePlanRoomTypesModifyProcessSummaryRequest) XAppKey(xAppKey string) RatePlanAsyncAPIGetRatePlanRoomTypesModifyProcessSummaryRequest {
	r.xAppKey = &xAppKey
	return r
}

// Mandatory parameter to identify the hotel code where the end user is logged in
func (r RatePlanAsyncAPIGetRatePlanRoomTypesModifyProcessSummaryRequest) XHotelid(xHotelid string) RatePlanAsyncAPIGetRatePlanRoomTypesModifyProcessSummaryRequest {
	r.xHotelid = &xHotelid
	return r
}

// Pass this header as true, if payload needs DVM
func (r RatePlanAsyncAPIGetRatePlanRoomTypesModifyProcessSummaryRequest) ExternalData(externalData string) RatePlanAsyncAPIGetRatePlanRoomTypesModifyProcessSummaryRequest {
	r.externalData = &externalData
	return r
}

// Request Id of an incoming request
func (r RatePlanAsyncAPIGetRatePlanRoomTypesModifyProcessSummaryRequest) XRequestId(xRequestId string) RatePlanAsyncAPIGetRatePlanRoomTypesModifyProcessSummaryRequest {
	r.xRequestId = &xRequestId
	return r
}

// Customer&#39;s Integration Application Id
func (r RatePlanAsyncAPIGetRatePlanRoomTypesModifyProcessSummaryRequest) XOriginatingApplication(xOriginatingApplication string) RatePlanAsyncAPIGetRatePlanRoomTypesModifyProcessSummaryRequest {
	r.xOriginatingApplication = &xOriginatingApplication
	return r
}

// Language code
func (r RatePlanAsyncAPIGetRatePlanRoomTypesModifyProcessSummaryRequest) AcceptLanguage(acceptLanguage string) RatePlanAsyncAPIGetRatePlanRoomTypesModifyProcessSummaryRequest {
	r.acceptLanguage = &acceptLanguage
	return r
}

func (r RatePlanAsyncAPIGetRatePlanRoomTypesModifyProcessSummaryRequest) Execute() (*ModifyRatePlanRoomTypesSummaryType, *http.Response, error) {
	return r.ApiService.GetRatePlanRoomTypesModifyProcessSummaryExecute(r)
}

/*
GetRatePlanRoomTypesModifyProcessSummary Get results of add/remove Room Types process.

This API returns a summary of the add/remove Room Types process. You can get the value of requestId from the process API response (under header location). <p><strong>OperationId:</strong>getRatePlanRoomTypesModifyProcessSummary</p>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param requestId Unique ID of add/remove Room Types process
 @param hotelId Unique ID of a Hotel
 @return RatePlanAsyncAPIGetRatePlanRoomTypesModifyProcessSummaryRequest
*/
func (a *RatePlanAsyncAPIService) GetRatePlanRoomTypesModifyProcessSummary(ctx context.Context, requestId string, hotelId string) RatePlanAsyncAPIGetRatePlanRoomTypesModifyProcessSummaryRequest {
	return RatePlanAsyncAPIGetRatePlanRoomTypesModifyProcessSummaryRequest{
		ApiService: a,
		ctx: ctx,
		requestId: requestId,
		hotelId: hotelId,
	}
}

// Execute executes the request
//  @return ModifyRatePlanRoomTypesSummaryType
func (a *RatePlanAsyncAPIService) GetRatePlanRoomTypesModifyProcessSummaryExecute(r RatePlanAsyncAPIGetRatePlanRoomTypesModifyProcessSummaryRequest) (*ModifyRatePlanRoomTypesSummaryType, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ModifyRatePlanRoomTypesSummaryType
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RatePlanAsyncAPIService.GetRatePlanRoomTypesModifyProcessSummary")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/hotels/{hotelId}/ratePlans/roomTypes/{requestId}"
	localVarPath = strings.Replace(localVarPath, "{"+"requestId"+"}", url.PathEscape(parameterValueToString(r.requestId, "requestId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"hotelId"+"}", url.PathEscape(parameterValueToString(r.hotelId, "hotelId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if strlen(r.requestId) < 1 {
		return localVarReturnValue, nil, reportError("requestId must have at least 1 elements")
	}
	if strlen(r.requestId) > 2000 {
		return localVarReturnValue, nil, reportError("requestId must have less than 2000 elements")
	}
	if strlen(r.hotelId) < 1 {
		return localVarReturnValue, nil, reportError("hotelId must have at least 1 elements")
	}
	if strlen(r.hotelId) > 20 {
		return localVarReturnValue, nil, reportError("hotelId must have less than 20 elements")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json;charset=UTF-8", "application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "")
	}
	if r.externalData != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "externalData", r.externalData, "")
	}
	if r.xAppKey != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-app-key", r.xAppKey, "")
	}
	if r.xRequestId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-request-id", r.xRequestId, "")
	}
	if r.xOriginatingApplication != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-originating-application", r.xOriginatingApplication, "")
	}
	if r.xHotelid != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-hotelid", r.xHotelid, "")
	}
	if r.acceptLanguage != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accept-Language", r.acceptLanguage, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if a.client.cfg.ResponseMiddleware != nil {
		err = a.client.cfg.ResponseMiddleware(localVarHTTPResponse, localVarBody)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type RatePlanAsyncAPIGetRatePlanScheduleDeletionProcessSummaryRequest struct {
	ctx context.Context
	ApiService *RatePlanAsyncAPIService
	hotelId string
	requestId string
	authorization *string
	xAppKey *string
	xHotelid *string
	externalData *string
	acceptLanguage *string
}

// Bearer token that needs to be passed which is generated post user authentication
func (r RatePlanAsyncAPIGetRatePlanScheduleDeletionProcessSummaryRequest) Authorization(authorization string) RatePlanAsyncAPIGetRatePlanScheduleDeletionProcessSummaryRequest {
	r.authorization = &authorization
	return r
}

// Client or Partner&#39;s Application Key
func (r RatePlanAsyncAPIGetRatePlanScheduleDeletionProcessSummaryRequest) XAppKey(xAppKey string) RatePlanAsyncAPIGetRatePlanScheduleDeletionProcessSummaryRequest {
	r.xAppKey = &xAppKey
	return r
}

// Mandatory parameter to identify the hotel code where the end user is logged in
func (r RatePlanAsyncAPIGetRatePlanScheduleDeletionProcessSummaryRequest) XHotelid(xHotelid string) RatePlanAsyncAPIGetRatePlanScheduleDeletionProcessSummaryRequest {
	r.xHotelid = &xHotelid
	return r
}

// Pass this header as true, if payload needs DVM
func (r RatePlanAsyncAPIGetRatePlanScheduleDeletionProcessSummaryRequest) ExternalData(externalData string) RatePlanAsyncAPIGetRatePlanScheduleDeletionProcessSummaryRequest {
	r.externalData = &externalData
	return r
}

// Language code
func (r RatePlanAsyncAPIGetRatePlanScheduleDeletionProcessSummaryRequest) AcceptLanguage(acceptLanguage string) RatePlanAsyncAPIGetRatePlanScheduleDeletionProcessSummaryRequest {
	r.acceptLanguage = &acceptLanguage
	return r
}

func (r RatePlanAsyncAPIGetRatePlanScheduleDeletionProcessSummaryRequest) Execute() (*DeleteRatePlanSchedulesSummaryType, *http.Response, error) {
	return r.ApiService.GetRatePlanScheduleDeletionProcessSummaryExecute(r)
}

/*
GetRatePlanScheduleDeletionProcessSummary Get results of delete Rate Plan Schedules process.

This API returns a summary of the delete Rate Plan Schedules process. You can get the value of requestId from the process API response (under header location). <p><strong>OperationId:</strong>getRatePlanScheduleDeletionProcessSummary</p>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param hotelId Unique ID of a Hotel
 @param requestId Unique ID of delete Rate Plan Schedules process
 @return RatePlanAsyncAPIGetRatePlanScheduleDeletionProcessSummaryRequest
*/
func (a *RatePlanAsyncAPIService) GetRatePlanScheduleDeletionProcessSummary(ctx context.Context, hotelId string, requestId string) RatePlanAsyncAPIGetRatePlanScheduleDeletionProcessSummaryRequest {
	return RatePlanAsyncAPIGetRatePlanScheduleDeletionProcessSummaryRequest{
		ApiService: a,
		ctx: ctx,
		hotelId: hotelId,
		requestId: requestId,
	}
}

// Execute executes the request
//  @return DeleteRatePlanSchedulesSummaryType
func (a *RatePlanAsyncAPIService) GetRatePlanScheduleDeletionProcessSummaryExecute(r RatePlanAsyncAPIGetRatePlanScheduleDeletionProcessSummaryRequest) (*DeleteRatePlanSchedulesSummaryType, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *DeleteRatePlanSchedulesSummaryType
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RatePlanAsyncAPIService.GetRatePlanScheduleDeletionProcessSummary")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/hotels/{hotelId}/ratePlans/schedules/deletions/{requestId}"
	localVarPath = strings.Replace(localVarPath, "{"+"hotelId"+"}", url.PathEscape(parameterValueToString(r.hotelId, "hotelId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"requestId"+"}", url.PathEscape(parameterValueToString(r.requestId, "requestId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if strlen(r.hotelId) < 1 {
		return localVarReturnValue, nil, reportError("hotelId must have at least 1 elements")
	}
	if strlen(r.hotelId) > 20 {
		return localVarReturnValue, nil, reportError("hotelId must have less than 20 elements")
	}
	if strlen(r.requestId) < 1 {
		return localVarReturnValue, nil, reportError("requestId must have at least 1 elements")
	}
	if strlen(r.requestId) > 2000 {
		return localVarReturnValue, nil, reportError("requestId must have less than 2000 elements")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json;charset=UTF-8", "application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "")
	}
	if r.externalData != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "externalData", r.externalData, "")
	}
	if r.xAppKey != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-app-key", r.xAppKey, "")
	}
	if r.xHotelid != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-hotelid", r.xHotelid, "")
	}
	if r.acceptLanguage != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accept-Language", r.acceptLanguage, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if a.client.cfg.ResponseMiddleware != nil {
		err = a.client.cfg.ResponseMiddleware(localVarHTTPResponse, localVarBody)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type RatePlanAsyncAPIGetRatePlanSchedulesSyncProcessSummaryRequest struct {
	ctx context.Context
	ApiService *RatePlanAsyncAPIService
	hotelId string
	requestId string
	authorization *string
}

// Bearer token that needs to be passed which is generated post user authentication
func (r RatePlanAsyncAPIGetRatePlanSchedulesSyncProcessSummaryRequest) Authorization(authorization string) RatePlanAsyncAPIGetRatePlanSchedulesSyncProcessSummaryRequest {
	r.authorization = &authorization
	return r
}

func (r RatePlanAsyncAPIGetRatePlanSchedulesSyncProcessSummaryRequest) Execute() (*RatePlanSchedulesSyncSummaryType, *http.Response, error) {
	return r.ApiService.GetRatePlanSchedulesSyncProcessSummaryExecute(r)
}

/*
GetRatePlanSchedulesSyncProcessSummary Get result of rate plan schedules sync async process.

API to fetch result of pricing schedules sync process.<p><strong>OperationId:</strong>getRatePlanSchedulesSyncProcessSummary</p>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param hotelId Hotel ID
 @param requestId Async job request id
 @return RatePlanAsyncAPIGetRatePlanSchedulesSyncProcessSummaryRequest
*/
func (a *RatePlanAsyncAPIService) GetRatePlanSchedulesSyncProcessSummary(ctx context.Context, hotelId string, requestId string) RatePlanAsyncAPIGetRatePlanSchedulesSyncProcessSummaryRequest {
	return RatePlanAsyncAPIGetRatePlanSchedulesSyncProcessSummaryRequest{
		ApiService: a,
		ctx: ctx,
		hotelId: hotelId,
		requestId: requestId,
	}
}

// Execute executes the request
//  @return RatePlanSchedulesSyncSummaryType
func (a *RatePlanAsyncAPIService) GetRatePlanSchedulesSyncProcessSummaryExecute(r RatePlanAsyncAPIGetRatePlanSchedulesSyncProcessSummaryRequest) (*RatePlanSchedulesSyncSummaryType, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *RatePlanSchedulesSyncSummaryType
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RatePlanAsyncAPIService.GetRatePlanSchedulesSyncProcessSummary")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/hotels/{hotelId}/ratePlans/schedules/sync/{requestId}"
	localVarPath = strings.Replace(localVarPath, "{"+"hotelId"+"}", url.PathEscape(parameterValueToString(r.hotelId, "hotelId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"requestId"+"}", url.PathEscape(parameterValueToString(r.requestId, "requestId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if a.client.cfg.ResponseMiddleware != nil {
		err = a.client.cfg.ResponseMiddleware(localVarHTTPResponse, localVarBody)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type RatePlanAsyncAPIGetRatePlansHeadersRequest struct {
	ctx context.Context
	ApiService *RatePlanAsyncAPIService
	hotelId string
	extSystemCode string
	requestId string
	authorization *string
	xAppKey *string
	xHotelid *string
	externalData *string
	xRequestId *string
	xOriginatingApplication *string
	acceptLanguage *string
}

// Bearer token that needs to be passed which is generated post user authentication
func (r RatePlanAsyncAPIGetRatePlansHeadersRequest) Authorization(authorization string) RatePlanAsyncAPIGetRatePlansHeadersRequest {
	r.authorization = &authorization
	return r
}

// Client or Partner&#39;s Application Key
func (r RatePlanAsyncAPIGetRatePlansHeadersRequest) XAppKey(xAppKey string) RatePlanAsyncAPIGetRatePlansHeadersRequest {
	r.xAppKey = &xAppKey
	return r
}

// Mandatory parameter to identify the hotel code where the end user is logged in
func (r RatePlanAsyncAPIGetRatePlansHeadersRequest) XHotelid(xHotelid string) RatePlanAsyncAPIGetRatePlansHeadersRequest {
	r.xHotelid = &xHotelid
	return r
}

// Pass this header as true, if payload needs DVM
func (r RatePlanAsyncAPIGetRatePlansHeadersRequest) ExternalData(externalData string) RatePlanAsyncAPIGetRatePlansHeadersRequest {
	r.externalData = &externalData
	return r
}

// Request Id of an incoming request
func (r RatePlanAsyncAPIGetRatePlansHeadersRequest) XRequestId(xRequestId string) RatePlanAsyncAPIGetRatePlansHeadersRequest {
	r.xRequestId = &xRequestId
	return r
}

// Customer&#39;s Integration Application Id
func (r RatePlanAsyncAPIGetRatePlansHeadersRequest) XOriginatingApplication(xOriginatingApplication string) RatePlanAsyncAPIGetRatePlansHeadersRequest {
	r.xOriginatingApplication = &xOriginatingApplication
	return r
}

// Language code
func (r RatePlanAsyncAPIGetRatePlansHeadersRequest) AcceptLanguage(acceptLanguage string) RatePlanAsyncAPIGetRatePlansHeadersRequest {
	r.acceptLanguage = &acceptLanguage
	return r
}

func (r RatePlanAsyncAPIGetRatePlansHeadersRequest) Execute() (*HurdleRatesStatus, *http.Response, error) {
	return r.ApiService.GetRatePlansHeadersExecute(r)
}

/*
GetRatePlansHeaders This API facilitates fetching of status for configured rate plans.

 <p><strong>OperationId:</strong>getRatePlansHeaders</p>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param hotelId Unique ID of Hotel in OPERA.
 @param extSystemCode Unique code of the external system.
 @param requestId Unique ID to fetch status of configured rate plans.
 @return RatePlanAsyncAPIGetRatePlansHeadersRequest
*/
func (a *RatePlanAsyncAPIService) GetRatePlansHeaders(ctx context.Context, hotelId string, extSystemCode string, requestId string) RatePlanAsyncAPIGetRatePlansHeadersRequest {
	return RatePlanAsyncAPIGetRatePlansHeadersRequest{
		ApiService: a,
		ctx: ctx,
		hotelId: hotelId,
		extSystemCode: extSystemCode,
		requestId: requestId,
	}
}

// Execute executes the request
//  @return HurdleRatesStatus
func (a *RatePlanAsyncAPIService) GetRatePlansHeadersExecute(r RatePlanAsyncAPIGetRatePlansHeadersRequest) (*HurdleRatesStatus, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *HurdleRatesStatus
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RatePlanAsyncAPIService.GetRatePlansHeaders")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/externalSystems/{extSystemCode}/hotels/{hotelId}/ratePlans/headers/{requestId}"
	localVarPath = strings.Replace(localVarPath, "{"+"hotelId"+"}", url.PathEscape(parameterValueToString(r.hotelId, "hotelId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"extSystemCode"+"}", url.PathEscape(parameterValueToString(r.extSystemCode, "extSystemCode")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"requestId"+"}", url.PathEscape(parameterValueToString(r.requestId, "requestId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if strlen(r.hotelId) < 1 {
		return localVarReturnValue, nil, reportError("hotelId must have at least 1 elements")
	}
	if strlen(r.hotelId) > 2000 {
		return localVarReturnValue, nil, reportError("hotelId must have less than 2000 elements")
	}
	if strlen(r.extSystemCode) < 1 {
		return localVarReturnValue, nil, reportError("extSystemCode must have at least 1 elements")
	}
	if strlen(r.extSystemCode) > 2000 {
		return localVarReturnValue, nil, reportError("extSystemCode must have less than 2000 elements")
	}
	if strlen(r.requestId) < 1 {
		return localVarReturnValue, nil, reportError("requestId must have at least 1 elements")
	}
	if strlen(r.requestId) > 2000 {
		return localVarReturnValue, nil, reportError("requestId must have less than 2000 elements")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json;charset=UTF-8"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "")
	}
	if r.externalData != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "externalData", r.externalData, "")
	}
	if r.xAppKey != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-app-key", r.xAppKey, "")
	}
	if r.xRequestId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-request-id", r.xRequestId, "")
	}
	if r.xOriginatingApplication != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-originating-application", r.xOriginatingApplication, "")
	}
	if r.xHotelid != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-hotelid", r.xHotelid, "")
	}
	if r.acceptLanguage != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accept-Language", r.acceptLanguage, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if a.client.cfg.ResponseMiddleware != nil {
		err = a.client.cfg.ResponseMiddleware(localVarHTTPResponse, localVarBody)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type RatePlanAsyncAPIGetRatePlansHeadersProcessStatusRequest struct {
	ctx context.Context
	ApiService *RatePlanAsyncAPIService
	requestId string
	extSystemCode string
	hotelId string
	authorization *string
	xAppKey *string
	xHotelid *string
	externalData *string
	xRequestId *string
	xOriginatingApplication *string
	acceptLanguage *string
}

// Bearer token that needs to be passed which is generated post user authentication
func (r RatePlanAsyncAPIGetRatePlansHeadersProcessStatusRequest) Authorization(authorization string) RatePlanAsyncAPIGetRatePlansHeadersProcessStatusRequest {
	r.authorization = &authorization
	return r
}

// Client or Partner&#39;s Application Key
func (r RatePlanAsyncAPIGetRatePlansHeadersProcessStatusRequest) XAppKey(xAppKey string) RatePlanAsyncAPIGetRatePlansHeadersProcessStatusRequest {
	r.xAppKey = &xAppKey
	return r
}

// Mandatory parameter to identify the hotel code where the end user is logged in
func (r RatePlanAsyncAPIGetRatePlansHeadersProcessStatusRequest) XHotelid(xHotelid string) RatePlanAsyncAPIGetRatePlansHeadersProcessStatusRequest {
	r.xHotelid = &xHotelid
	return r
}

// Pass this header as true, if payload needs DVM
func (r RatePlanAsyncAPIGetRatePlansHeadersProcessStatusRequest) ExternalData(externalData string) RatePlanAsyncAPIGetRatePlansHeadersProcessStatusRequest {
	r.externalData = &externalData
	return r
}

// Request Id of an incoming request
func (r RatePlanAsyncAPIGetRatePlansHeadersProcessStatusRequest) XRequestId(xRequestId string) RatePlanAsyncAPIGetRatePlansHeadersProcessStatusRequest {
	r.xRequestId = &xRequestId
	return r
}

// Customer&#39;s Integration Application Id
func (r RatePlanAsyncAPIGetRatePlansHeadersProcessStatusRequest) XOriginatingApplication(xOriginatingApplication string) RatePlanAsyncAPIGetRatePlansHeadersProcessStatusRequest {
	r.xOriginatingApplication = &xOriginatingApplication
	return r
}

// Language code
func (r RatePlanAsyncAPIGetRatePlansHeadersProcessStatusRequest) AcceptLanguage(acceptLanguage string) RatePlanAsyncAPIGetRatePlansHeadersProcessStatusRequest {
	r.acceptLanguage = &acceptLanguage
	return r
}

func (r RatePlanAsyncAPIGetRatePlansHeadersProcessStatusRequest) Execute() (*http.Response, error) {
	return r.ApiService.GetRatePlansHeadersProcessStatusExecute(r)
}

/*
GetRatePlansHeadersProcessStatus This API returns the status of asynchronous process scheduled for given id.

 <p><strong>OperationId:</strong>getRatePlansHeadersProcessStatus</p>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param requestId Unique ID to fetch status of configured rate plans.
 @param extSystemCode Unique code of the external system.
 @param hotelId Unique ID of Hotel in OPERA.
 @return RatePlanAsyncAPIGetRatePlansHeadersProcessStatusRequest
*/
func (a *RatePlanAsyncAPIService) GetRatePlansHeadersProcessStatus(ctx context.Context, requestId string, extSystemCode string, hotelId string) RatePlanAsyncAPIGetRatePlansHeadersProcessStatusRequest {
	return RatePlanAsyncAPIGetRatePlansHeadersProcessStatusRequest{
		ApiService: a,
		ctx: ctx,
		requestId: requestId,
		extSystemCode: extSystemCode,
		hotelId: hotelId,
	}
}

// Execute executes the request
func (a *RatePlanAsyncAPIService) GetRatePlansHeadersProcessStatusExecute(r RatePlanAsyncAPIGetRatePlansHeadersProcessStatusRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodHead
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RatePlanAsyncAPIService.GetRatePlansHeadersProcessStatus")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

[...]
