/*
OPERA Cloud Reservation API

APIs to cater for Reservation functionality in OPERA Cloud. <br /><br />OPERA Cloud Reservations provides a complete set of capabilities for creating and updating reservations. Reservations are a central feature of OPERA Cloud. As a key source of information, the reservation specifies a guest's arrival date, departure date, room type, rate, packages, and many other details. It is also a gateway to dozens of other functions that contribute to the guest's experience.  All reservations in OPERA Cloud require a guest profile.  <br /><br /> You can create profiles while booking a reservation. If a profile already exists, you can look it up (using getProfiles in CRM module) and attach it to the reservation during the reservation booking process using the Profile ID.<br /><br /> Compatible with OPERA Cloud release 26.2.0.0.<br /><br /><p> This document and all content within is available under the Universal Permissive License v 1.0 (https://oss.oracle.com/licenses/upl). Copyright (c) 2020, 2026 Oracle and/or its affiliates.</p>

API version: 26.2.0.0
Contact: hospitality_apis_ww_grp@oracle.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package rsv

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


// ReservationExternalAPIService ReservationExternalAPI service
type ReservationExternalAPIService service

type ReservationExternalAPIPingReservationExternalServiceRequest struct {
	ctx context.Context
	ApiService *ReservationExternalAPIService
	authorization *string
	xAppKey *string
	xHotelid *string
	externalData *string
	xRequestId *string
	xOriginatingApplication *string
	xExternalsystem *string
	acceptLanguage *string
}

// Bearer token that needs to be passed which is generated post user authentication
func (r ReservationExternalAPIPingReservationExternalServiceRequest) Authorization(authorization string) ReservationExternalAPIPingReservationExternalServiceRequest {
	r.authorization = &authorization
	return r
}

// Client or Partner&#39;s Application Key
func (r ReservationExternalAPIPingReservationExternalServiceRequest) XAppKey(xAppKey string) ReservationExternalAPIPingReservationExternalServiceRequest {
	r.xAppKey = &xAppKey
	return r
}

// Mandatory parameter to identify the hotel code where the end user is logged in
func (r ReservationExternalAPIPingReservationExternalServiceRequest) XHotelid(xHotelid string) ReservationExternalAPIPingReservationExternalServiceRequest {
	r.xHotelid = &xHotelid
	return r
}

// Pass this header as true, if payload needs DVM
func (r ReservationExternalAPIPingReservationExternalServiceRequest) ExternalData(externalData string) ReservationExternalAPIPingReservationExternalServiceRequest {
	r.externalData = &externalData
	return r
}

// Request Id of an incoming request
func (r ReservationExternalAPIPingReservationExternalServiceRequest) XRequestId(xRequestId string) ReservationExternalAPIPingReservationExternalServiceRequest {
	r.xRequestId = &xRequestId
	return r
}

// Customer&#39;s Integration Application Id
func (r ReservationExternalAPIPingReservationExternalServiceRequest) XOriginatingApplication(xOriginatingApplication string) ReservationExternalAPIPingReservationExternalServiceRequest {
	r.xOriginatingApplication = &xOriginatingApplication
	return r
}

// External system code.
func (r ReservationExternalAPIPingReservationExternalServiceRequest) XExternalsystem(xExternalsystem string) ReservationExternalAPIPingReservationExternalServiceRequest {
	r.xExternalsystem = &xExternalsystem
	return r
}

// Language code
func (r ReservationExternalAPIPingReservationExternalServiceRequest) AcceptLanguage(acceptLanguage string) ReservationExternalAPIPingReservationExternalServiceRequest {
	r.acceptLanguage = &acceptLanguage
	return r
}

func (r ReservationExternalAPIPingReservationExternalServiceRequest) Execute() (*OperaVersion, *http.Response, error) {
	return r.ApiService.PingReservationExternalServiceExecute(r)
}

/*
PingReservationExternalService Ping

Get the version for Reservation External Service <p><strong>OperationId:</strong>pingReservationExternalService</p>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ReservationExternalAPIPingReservationExternalServiceRequest
*/
func (a *ReservationExternalAPIService) PingReservationExternalService(ctx context.Context) ReservationExternalAPIPingReservationExternalServiceRequest {
	return ReservationExternalAPIPingReservationExternalServiceRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return OperaVersion
func (a *ReservationExternalAPIService) PingReservationExternalServiceExecute(r ReservationExternalAPIPingReservationExternalServiceRequest) (*OperaVersion, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *OperaVersion
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ReservationExternalAPIService.PingReservationExternalService")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/services/reservationExternal/status"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json;charset=UTF-8"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "")
	}
	if r.externalData != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "externalData", r.externalData, "")
	}
	if r.xAppKey != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-app-key", r.xAppKey, "")
	}
	if r.xRequestId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-request-id", r.xRequestId, "")
	}
	if r.xOriginatingApplication != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-originating-application", r.xOriginatingApplication, "")
	}
	if r.xHotelid != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-hotelid", r.xHotelid, "")
	}
	if r.xExternalsystem != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-externalsystem", r.xExternalsystem, "")
	}
	if r.acceptLanguage != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accept-Language", r.acceptLanguage, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if a.client.cfg.ResponseMiddleware != nil {
		err = a.client.cfg.ResponseMiddleware(localVarHTTPResponse, localVarBody)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
