/*
OPERA Cloud Cashiering Asynchronous API

APIs to cater for Cashiering related asynchronous functionality in OPERA Cloud.<br /><br /> Compatible with OPERA Cloud release 26.2.0.0.<br /><br /><p> This document and all content within is available under the Universal Permissive License v 1.0 (https://oss.oracle.com/licenses/upl). Copyright (c) 2020, 2026 Oracle and/or its affiliates.</p>

API version: 26.2.0.0
Contact: hospitality_apis_ww_grp@oracle.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package cshasync

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// CashieringAPIService CashieringAPI service
type CashieringAPIService service

type CashieringAPIGetFinancialPostingsAsyncRequest struct {
	ctx context.Context
	ApiService *CashieringAPIService
	hotelId string
	statusId string
	authorization *string
	xAppKey *string
	xHotelid *string
	externalData *string
	xRequestId *string
	xOriginatingApplication *string
	xExternalsystem *string
	acceptLanguage *string
}

// Bearer token that needs to be passed which is generated post user authentication
func (r CashieringAPIGetFinancialPostingsAsyncRequest) Authorization(authorization string) CashieringAPIGetFinancialPostingsAsyncRequest {
	r.authorization = &authorization
	return r
}

// Client or Partner&#39;s Application Key
func (r CashieringAPIGetFinancialPostingsAsyncRequest) XAppKey(xAppKey string) CashieringAPIGetFinancialPostingsAsyncRequest {
	r.xAppKey = &xAppKey
	return r
}

// Mandatory parameter to identify the hotel code where the end user is logged in
func (r CashieringAPIGetFinancialPostingsAsyncRequest) XHotelid(xHotelid string) CashieringAPIGetFinancialPostingsAsyncRequest {
	r.xHotelid = &xHotelid
	return r
}

// Pass this header as true, if payload needs DVM
func (r CashieringAPIGetFinancialPostingsAsyncRequest) ExternalData(externalData string) CashieringAPIGetFinancialPostingsAsyncRequest {
	r.externalData = &externalData
	return r
}

// Request Id of an incoming request
func (r CashieringAPIGetFinancialPostingsAsyncRequest) XRequestId(xRequestId string) CashieringAPIGetFinancialPostingsAsyncRequest {
	r.xRequestId = &xRequestId
	return r
}

// Customer&#39;s Integration Application Id
func (r CashieringAPIGetFinancialPostingsAsyncRequest) XOriginatingApplication(xOriginatingApplication string) CashieringAPIGetFinancialPostingsAsyncRequest {
	r.xOriginatingApplication = &xOriginatingApplication
	return r
}

// External system code.
func (r CashieringAPIGetFinancialPostingsAsyncRequest) XExternalsystem(xExternalsystem string) CashieringAPIGetFinancialPostingsAsyncRequest {
	r.xExternalsystem = &xExternalsystem
	return r
}

// Language code
func (r CashieringAPIGetFinancialPostingsAsyncRequest) AcceptLanguage(acceptLanguage string) CashieringAPIGetFinancialPostingsAsyncRequest {
	r.acceptLanguage = &acceptLanguage
	return r
}

func (r CashieringAPIGetFinancialPostingsAsyncRequest) Execute() (*FinancialPostingsNetVat, *http.Response, error) {
	return r.ApiService.GetFinancialPostingsAsyncExecute(r)
}

/*
GetFinancialPostingsAsync Get results of Financial Postings with Net and Vat breakdown.

This API returns response for the process initiated with startFinancialPostingsAsync. You can get the value of statusId with getFinancialPostingsProcessStatusAsync API response (under header location). <p><strong>OperationId:</strong>getFinancialPostingsAsync</p>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param hotelId Unique ID of the hotel
 @param statusId
 @return CashieringAPIGetFinancialPostingsAsyncRequest
*/
func (a *CashieringAPIService) GetFinancialPostingsAsync(ctx context.Context, hotelId string, statusId string) CashieringAPIGetFinancialPostingsAsyncRequest {
	return CashieringAPIGetFinancialPostingsAsyncRequest{
		ApiService: a,
		ctx: ctx,
		hotelId: hotelId,
		statusId: statusId,
	}
}

// Execute executes the request
//  @return FinancialPostingsNetVat
func (a *CashieringAPIService) GetFinancialPostingsAsyncExecute(r CashieringAPIGetFinancialPostingsAsyncRequest) (*FinancialPostingsNetVat, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *FinancialPostingsNetVat
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CashieringAPIService.GetFinancialPostingsAsync")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/hotels/{hotelId}/financialPostingsNetVat/{statusId}"
	localVarPath = strings.Replace(localVarPath, "{"+"hotelId"+"}", url.PathEscape(parameterValueToString(r.hotelId, "hotelId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"statusId"+"}", url.PathEscape(parameterValueToString(r.statusId, "statusId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if strlen(r.hotelId) < 1 {
		return localVarReturnValue, nil, reportError("hotelId must have at least 1 elements")
	}
	if strlen(r.hotelId) > 2000 {
		return localVarReturnValue, nil, reportError("hotelId must have less than 2000 elements")
	}
	if strlen(r.statusId) < 1 {
		return localVarReturnValue, nil, reportError("statusId must have at least 1 elements")
	}
	if strlen(r.statusId) > 2000 {
		return localVarReturnValue, nil, reportError("statusId must have less than 2000 elements")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json;charset=UTF-8"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "")
	}
	if r.externalData != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "externalData", r.externalData, "")
	}
	if r.xAppKey != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-app-key", r.xAppKey, "")
	}
	if r.xRequestId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-request-id", r.xRequestId, "")
	}
	if r.xOriginatingApplication != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-originating-application", r.xOriginatingApplication, "")
	}
	if r.xHotelid != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-hotelid", r.xHotelid, "")
	}
	if r.xExternalsystem != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-externalsystem", r.xExternalsystem, "")
	}
	if r.acceptLanguage != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accept-Language", r.acceptLanguage, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if a.client.cfg.ResponseMiddleware != nil {
		err = a.client.cfg.ResponseMiddleware(localVarHTTPResponse, localVarBody)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
