/*
OPERA Cloud Cashiering Asynchronous API

APIs to cater for Cashiering related asynchronous functionality in OPERA Cloud.<br /><br /> Compatible with OPERA Cloud release 26.2.0.0.<br /><br /><p> This document and all content within is available under the Universal Permissive License v 1.0 (https://oss.oracle.com/licenses/upl). Copyright (c) 2020, 2026 Oracle and/or its affiliates.</p>

API version: 26.2.0.0
Contact: hospitality_apis_ww_grp@oracle.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package cshasync

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// CashieringAsyncAPIService CashieringAsyncAPI service
type CashieringAsyncAPIService service

type CashieringAsyncAPIGetFinancialPostingsProcessStatusAsyncRequest struct {
	ctx context.Context
	ApiService *CashieringAsyncAPIService
	statusId string
	hotelId string
	authorization *string
	xAppKey *string
	xHotelid *string
	externalData *string
	xRequestId *string
	xOriginatingApplication *string
	acceptLanguage *string
}

// Bearer token that needs to be passed which is generated post user authentication
func (r CashieringAsyncAPIGetFinancialPostingsProcessStatusAsyncRequest) Authorization(authorization string) CashieringAsyncAPIGetFinancialPostingsProcessStatusAsyncRequest {
	r.authorization = &authorization
	return r
}

// Client or Partner&#39;s Application Key
func (r CashieringAsyncAPIGetFinancialPostingsProcessStatusAsyncRequest) XAppKey(xAppKey string) CashieringAsyncAPIGetFinancialPostingsProcessStatusAsyncRequest {
	r.xAppKey = &xAppKey
	return r
}

// Mandatory parameter to identify the hotel code where the end user is logged in
func (r CashieringAsyncAPIGetFinancialPostingsProcessStatusAsyncRequest) XHotelid(xHotelid string) CashieringAsyncAPIGetFinancialPostingsProcessStatusAsyncRequest {
	r.xHotelid = &xHotelid
	return r
}

// Pass this header as true, if payload needs DVM
func (r CashieringAsyncAPIGetFinancialPostingsProcessStatusAsyncRequest) ExternalData(externalData string) CashieringAsyncAPIGetFinancialPostingsProcessStatusAsyncRequest {
	r.externalData = &externalData
	return r
}

// Request Id of an incoming request
func (r CashieringAsyncAPIGetFinancialPostingsProcessStatusAsyncRequest) XRequestId(xRequestId string) CashieringAsyncAPIGetFinancialPostingsProcessStatusAsyncRequest {
	r.xRequestId = &xRequestId
	return r
}

// Customer&#39;s Integration Application Id
func (r CashieringAsyncAPIGetFinancialPostingsProcessStatusAsyncRequest) XOriginatingApplication(xOriginatingApplication string) CashieringAsyncAPIGetFinancialPostingsProcessStatusAsyncRequest {
	r.xOriginatingApplication = &xOriginatingApplication
	return r
}

// Language code
func (r CashieringAsyncAPIGetFinancialPostingsProcessStatusAsyncRequest) AcceptLanguage(acceptLanguage string) CashieringAsyncAPIGetFinancialPostingsProcessStatusAsyncRequest {
	r.acceptLanguage = &acceptLanguage
	return r
}

func (r CashieringAsyncAPIGetFinancialPostingsProcessStatusAsyncRequest) Execute() (*http.Response, error) {
	return r.ApiService.GetFinancialPostingsProcessStatusAsyncExecute(r)
}

/*
GetFinancialPostingsProcessStatusAsync Check status of financial postings process

Use this to check whether the response is ready yet. You can get  the value of statusId with startFinancialPostingsAsync API response (under header location). <p><strong>OperationId:</strong>getFinancialPostingsProcessStatusAsync</p>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param statusId
 @param hotelId Unique ID of the hotel
 @return CashieringAsyncAPIGetFinancialPostingsProcessStatusAsyncRequest
*/
func (a *CashieringAsyncAPIService) GetFinancialPostingsProcessStatusAsync(ctx context.Context, statusId string, hotelId string) CashieringAsyncAPIGetFinancialPostingsProcessStatusAsyncRequest {
	return CashieringAsyncAPIGetFinancialPostingsProcessStatusAsyncRequest{
		ApiService: a,
		ctx: ctx,
		statusId: statusId,
		hotelId: hotelId,
	}
}

// Execute executes the request
func (a *CashieringAsyncAPIService) GetFinancialPostingsProcessStatusAsyncExecute(r CashieringAsyncAPIGetFinancialPostingsProcessStatusAsyncRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodHead
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CashieringAsyncAPIService.GetFinancialPostingsProcessStatusAsync")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/hotels/{hotelId}/financialPostingsNetVat/{statusId}"
	localVarPath = strings.Replace(localVarPath, "{"+"statusId"+"}", url.PathEscape(parameterValueToString(r.statusId, "statusId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"hotelId"+"}", url.PathEscape(parameterValueToString(r.hotelId, "hotelId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if strlen(r.statusId) < 1 {
		return nil, reportError("statusId must have at least 1 elements")
	}
	if strlen(r.statusId) > 2000 {
		return nil, reportError("statusId must have less than 2000 elements")
	}
	if strlen(r.hotelId) < 1 {
		return nil, reportError("hotelId must have at least 1 elements")
	}
	if strlen(r.hotelId) > 2000 {
		return nil, reportError("hotelId must have less than 2000 elements")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "")
	}
	if r.externalData != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "externalData", r.externalData, "")
	}
	if r.xAppKey != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-app-key", r.xAppKey, "")
	}
	if r.xRequestId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-request-id", r.xRequestId, "")
	}
	if r.xOriginatingApplication != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-originating-application", r.xOriginatingApplication, "")
	}
	if r.xHotelid != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-hotelid", r.xHotelid, "")
	}
	if r.acceptLanguage != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accept-Language", r.acceptLanguage, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if a.client.cfg.ResponseMiddleware != nil {
		err = a.client.cfg.ResponseMiddleware(localVarHTTPResponse, localVarBody)
		if err != nil {
			return localVarHTTPResponse, err
		}
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type CashieringAsyncAPIStartFinancialPostingsAsyncRequest struct {
	ctx context.Context
	ApiService *CashieringAsyncAPIService
	hotelId string
	authorization *string
	xAppKey *string
	xHotelid *string
	netvatcriteriatype *Netvatcriteriatype
	externalData *string
	xRequestId *string
	xOriginatingApplication *string
	acceptLanguage *string
}

// Bearer token that needs to be passed which is generated post user authentication
func (r CashieringAsyncAPIStartFinancialPostingsAsyncRequest) Authorization(authorization string) CashieringAsyncAPIStartFinancialPostingsAsyncRequest {
	r.authorization = &authorization
	return r
}

// Client or Partner&#39;s Application Key
func (r CashieringAsyncAPIStartFinancialPostingsAsyncRequest) XAppKey(xAppKey string) CashieringAsyncAPIStartFinancialPostingsAsyncRequest {
	r.xAppKey = &xAppKey
	return r
}

// Mandatory parameter to identify the hotel code where the end user is logged in
func (r CashieringAsyncAPIStartFinancialPostingsAsyncRequest) XHotelid(xHotelid string) CashieringAsyncAPIStartFinancialPostingsAsyncRequest {
	r.xHotelid = &xHotelid
	return r
}

// Request object for fetching financial postings with net vat asynchronously.
func (r CashieringAsyncAPIStartFinancialPostingsAsyncRequest) Netvatcriteriatype(netvatcriteriatype Netvatcriteriatype) CashieringAsyncAPIStartFinancialPostingsAsyncRequest {
	r.netvatcriteriatype = &netvatcriteriatype
	return r
}

// Pass this header as true, if payload needs DVM
func (r CashieringAsyncAPIStartFinancialPostingsAsyncRequest) ExternalData(externalData string) CashieringAsyncAPIStartFinancialPostingsAsyncRequest {
	r.externalData = &externalData
	return r
}

// Request Id of an incoming request
func (r CashieringAsyncAPIStartFinancialPostingsAsyncRequest) XRequestId(xRequestId string) CashieringAsyncAPIStartFinancialPostingsAsyncRequest {
	r.xRequestId = &xRequestId
	return r
}

// Customer&#39;s Integration Application Id
func (r CashieringAsyncAPIStartFinancialPostingsAsyncRequest) XOriginatingApplication(xOriginatingApplication string) CashieringAsyncAPIStartFinancialPostingsAsyncRequest {
	r.xOriginatingApplication = &xOriginatingApplication
	return r
}

// Language code
func (r CashieringAsyncAPIStartFinancialPostingsAsyncRequest) AcceptLanguage(acceptLanguage string) CashieringAsyncAPIStartFinancialPostingsAsyncRequest {
	r.acceptLanguage = &acceptLanguage
	return r
}

func (r CashieringAsyncAPIStartFinancialPostingsAsyncRequest) Execute() (*http.Response, error) {
	return r.ApiService.StartFinancialPostingsAsyncExecute(r)
}

/*
StartFinancialPostingsAsync Get Financial Postings with Net and Vat breakdown.

You can use this API to get Financial postings with Net and Vat breakdown. <p><strong>OperationId:</strong>startFinancialPostingsAsync</p> <p>This API allows a time span of <strong>15</strong> days.</p>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param hotelId Unique ID of the hotel
 @return CashieringAsyncAPIStartFinancialPostingsAsyncRequest
*/
func (a *CashieringAsyncAPIService) StartFinancialPostingsAsync(ctx context.Context, hotelId string) CashieringAsyncAPIStartFinancialPostingsAsyncRequest {
	return CashieringAsyncAPIStartFinancialPostingsAsyncRequest{
		ApiService: a,
		ctx: ctx,
		hotelId: hotelId,
	}
}

// Execute executes the request
func (a *CashieringAsyncAPIService) StartFinancialPostingsAsyncExecute(r CashieringAsyncAPIStartFinancialPostingsAsyncRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CashieringAsyncAPIService.StartFinancialPostingsAsync")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/hotels/{hotelId}/financialPostingsNetVat"
	localVarPath = strings.Replace(localVarPath, "{"+"hotelId"+"}", url.PathEscape(parameterValueToString(r.hotelId, "hotelId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if strlen(r.hotelId) < 1 {
		return nil, reportError("hotelId must have at least 1 elements")
	}
	if strlen(r.hotelId) > 2000 {
		return nil, reportError("hotelId must have less than 2000 elements")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json;charset=UTF-8"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "")
	}
	if r.externalData != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "externalData", r.externalData, "")
	}
	if r.xAppKey != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-app-key", r.xAppKey, "")
	}
	if r.xRequestId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-request-id", r.xRequestId, "")
	}
	if r.xOriginatingApplication != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-originating-application", r.xOriginatingApplication, "")
	}
	if r.xHotelid != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-hotelid", r.xHotelid, "")
	}
	if r.acceptLanguage != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accept-Language", r.acceptLanguage, "")
	}
	// body params
	localVarPostBody = r.netvatcriteriatype
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if a.client.cfg.ResponseMiddleware != nil {
		err = a.client.cfg.ResponseMiddleware(localVarHTTPResponse, localVarBody)
		if err != nil {
			return localVarHTTPResponse, err
		}
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
