/*
OPERA Cloud Front Desk Configuration API

APIs to cater for Front Desk Configuration in OPERA Cloud. Here you can find operations to get, post, put and delete front desk codes such as commission codes, transaction groups, codes & subgroups, articles, payment methods and credit card types.<br /><br />Compatible with OPERA Cloud release 26.2.0.0.<br /><br /><p>This document and all content within is available under the Universal Permissive License v 1.0 (https://oss.oracle.com/licenses/upl). Copyright (c) 2020,2023 Oracle and/or its affiliates.</p><br /><br /> Compatible with OPERA Cloud release 20.99.99.99.<br /><br /><p> This document and all content within is available under the Universal Permissive License v 1.0 (https://oss.oracle.com/licenses/upl). Copyright (c) 2020, 2026 Oracle and/or its affiliates.</p>

API version: 26.2.0.0
Contact: hospitality_apis_ww_grp@oracle.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package fofcfg

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


// EndOfDayConfigAPIService EndOfDayConfigAPI service
type EndOfDayConfigAPIService service

type EndOfDayConfigAPIPingEndOfDayConfigServicesRequest struct {
	ctx context.Context
	ApiService *EndOfDayConfigAPIService
	authorization *string
	xAppKey *string
	xHotelid *string
	operaPingInput *string
	externalData *string
	xRequestId *string
	xOriginatingApplication *string
	xExternalsystem *string
	acceptLanguage *string
}

// Bearer token that needs to be passed which is generated post user authentication
func (r EndOfDayConfigAPIPingEndOfDayConfigServicesRequest) Authorization(authorization string) EndOfDayConfigAPIPingEndOfDayConfigServicesRequest {
	r.authorization = &authorization
	return r
}

// Client or Partner&#39;s Application Key
func (r EndOfDayConfigAPIPingEndOfDayConfigServicesRequest) XAppKey(xAppKey string) EndOfDayConfigAPIPingEndOfDayConfigServicesRequest {
	r.xAppKey = &xAppKey
	return r
}

// Mandatory parameter to identify the hotel code where the end user is logged in
func (r EndOfDayConfigAPIPingEndOfDayConfigServicesRequest) XHotelid(xHotelid string) EndOfDayConfigAPIPingEndOfDayConfigServicesRequest {
	r.xHotelid = &xHotelid
	return r
}

// Opera Ping request input type
func (r EndOfDayConfigAPIPingEndOfDayConfigServicesRequest) OperaPingInput(operaPingInput string) EndOfDayConfigAPIPingEndOfDayConfigServicesRequest {
	r.operaPingInput = &operaPingInput
	return r
}

// Pass this header as true, if payload needs DVM
func (r EndOfDayConfigAPIPingEndOfDayConfigServicesRequest) ExternalData(externalData string) EndOfDayConfigAPIPingEndOfDayConfigServicesRequest {
	r.externalData = &externalData
	return r
}

// Request Id of an incoming request
func (r EndOfDayConfigAPIPingEndOfDayConfigServicesRequest) XRequestId(xRequestId string) EndOfDayConfigAPIPingEndOfDayConfigServicesRequest {
	r.xRequestId = &xRequestId
	return r
}

// Customer&#39;s Integration Application Id
func (r EndOfDayConfigAPIPingEndOfDayConfigServicesRequest) XOriginatingApplication(xOriginatingApplication string) EndOfDayConfigAPIPingEndOfDayConfigServicesRequest {
	r.xOriginatingApplication = &xOriginatingApplication
	return r
}

// External system code.
func (r EndOfDayConfigAPIPingEndOfDayConfigServicesRequest) XExternalsystem(xExternalsystem string) EndOfDayConfigAPIPingEndOfDayConfigServicesRequest {
	r.xExternalsystem = &xExternalsystem
	return r
}

// Language code
func (r EndOfDayConfigAPIPingEndOfDayConfigServicesRequest) AcceptLanguage(acceptLanguage string) EndOfDayConfigAPIPingEndOfDayConfigServicesRequest {
	r.acceptLanguage = &acceptLanguage
	return r
}

func (r EndOfDayConfigAPIPingEndOfDayConfigServicesRequest) Execute() (*OperaVersion, *http.Response, error) {
	return r.ApiService.PingEndOfDayConfigServicesExecute(r)
}

/*
PingEndOfDayConfigServices Operation to ping.

 <p><strong>OperationId:</strong>pingEndOfDayConfigServices</p>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return EndOfDayConfigAPIPingEndOfDayConfigServicesRequest
*/
func (a *EndOfDayConfigAPIService) PingEndOfDayConfigServices(ctx context.Context) EndOfDayConfigAPIPingEndOfDayConfigServicesRequest {
	return EndOfDayConfigAPIPingEndOfDayConfigServicesRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return OperaVersion
func (a *EndOfDayConfigAPIService) PingEndOfDayConfigServicesExecute(r EndOfDayConfigAPIPingEndOfDayConfigServicesRequest) (*OperaVersion, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *OperaVersion
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EndOfDayConfigAPIService.PingEndOfDayConfigServices")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/services/endOfDayConfig/status"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.operaPingInput != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "operaPingInput", r.operaPingInput, "")
  }
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json;charset=UTF-8"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "")
	}
	if r.externalData != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "externalData", r.externalData, "")
	}
	if r.xAppKey != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-app-key", r.xAppKey, "")
	}
	if r.xRequestId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-request-id", r.xRequestId, "")
	}
	if r.xOriginatingApplication != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-originating-application", r.xOriginatingApplication, "")
	}
	if r.xHotelid != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-hotelid", r.xHotelid, "")
	}
	if r.xExternalsystem != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-externalsystem", r.xExternalsystem, "")
	}
	if r.acceptLanguage != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accept-Language", r.acceptLanguage, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if a.client.cfg.ResponseMiddleware != nil {
		err = a.client.cfg.ResponseMiddleware(localVarHTTPResponse, localVarBody)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
