/*
OPERA Cloud Event Configuration API

This API caters for Event Configuration in OPERA Cloud. <br /><There are operations to post, update, fetch and delete codes such as item inventory, function spaces, menu items and many more.<br /><br /> Compatible with OPERA Cloud release 23.2.<br /><br /><p> This document and all content within is available under the Universal Permissive License v 1.0 (https://oss.oracle.com/licenses/upl). Copyright (c) 2020, 2023 Oracle and/or its affiliates.</p>

API version: 23.2
Contact: hospitality_apis_ww_grp@oracle.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package evmcfg

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"reflect"
)


// ResourceConfigApiService ResourceConfigApi service
type ResourceConfigApiService service

type ResourceConfigApiCheckDiscountAvailableRequest struct {
	ctx context.Context
	ApiService *ResourceConfigApiService
	hotelId string
	authorization *string
	xAppKey *string
	xHotelid *string
	xExternalsystem *string
	acceptLanguage *string
}

// Bearer token that needs to be passed which is generated post user authentication
func (r ResourceConfigApiCheckDiscountAvailableRequest) Authorization(authorization string) ResourceConfigApiCheckDiscountAvailableRequest {
	r.authorization = &authorization
	return r
}

// Client or Partner&#39;s Application Key
func (r ResourceConfigApiCheckDiscountAvailableRequest) XAppKey(xAppKey string) ResourceConfigApiCheckDiscountAvailableRequest {
	r.xAppKey = &xAppKey
	return r
}

// Mandatory parameter to identify the hotel code where the end user is logged in
func (r ResourceConfigApiCheckDiscountAvailableRequest) XHotelid(xHotelid string) ResourceConfigApiCheckDiscountAvailableRequest {
	r.xHotelid = &xHotelid
	return r
}

// External system code.
func (r ResourceConfigApiCheckDiscountAvailableRequest) XExternalsystem(xExternalsystem string) ResourceConfigApiCheckDiscountAvailableRequest {
	r.xExternalsystem = &xExternalsystem
	return r
}

// Language code
func (r ResourceConfigApiCheckDiscountAvailableRequest) AcceptLanguage(acceptLanguage string) ResourceConfigApiCheckDiscountAvailableRequest {
	r.acceptLanguage = &acceptLanguage
	return r
}

func (r ResourceConfigApiCheckDiscountAvailableRequest) Execute() (*CheckedDiscountAvailable, *http.Response, error) {
	return r.ApiService.CheckDiscountAvailableExecute(r)
}

/*
CheckDiscountAvailable Check if discount is available

Check if discount is available <p><strong>OperationId:</strong>checkDiscountAvailable</p>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param hotelId Unique OPERA Hotel Id
 @return ResourceConfigApiCheckDiscountAvailableRequest
*/
func (a *ResourceConfigApiService) CheckDiscountAvailable(ctx context.Context, hotelId string) ResourceConfigApiCheckDiscountAvailableRequest {
	return ResourceConfigApiCheckDiscountAvailableRequest{
		ApiService: a,
		ctx: ctx,
		hotelId: hotelId,
	}
}

// Execute executes the request
//  @return CheckedDiscountAvailable
func (a *ResourceConfigApiService) CheckDiscountAvailableExecute(r ResourceConfigApiCheckDiscountAvailableRequest) (*CheckedDiscountAvailable, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CheckedDiscountAvailable
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ResourceConfigApiService.CheckDiscountAvailable")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/hotels/{hotelId}/discountAvailable/check"
	localVarPath = strings.Replace(localVarPath, "{"+"hotelId"+"}", url.PathEscape(parameterValueToString(r.hotelId, "hotelId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if strlen(r.hotelId) < 1 {
		return localVarReturnValue, nil, reportError("hotelId must have at least 1 elements")
	}
	if strlen(r.hotelId) > 2000 {
		return localVarReturnValue, nil, reportError("hotelId must have less than 2000 elements")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json;charset=UTF-8"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xExternalsystem != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-externalsystem", r.xExternalsystem, "")
	}
	if r.acceptLanguage != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accept-Language", r.acceptLanguage, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ResourceConfigApiCopyCateringMenuItemClassesRequest struct {
	ctx context.Context
	ApiService *ResourceConfigApiService
	cateringMenuItemClassesCode string
	authorization *string
	xAppKey *string
	xHotelid *string
	cateringMenuItemClassesCopy *CopyCateringMenuItemClassesRequest
	xExternalsystem *string
	acceptLanguage *string
}

// Bearer token that needs to be passed which is generated post user authentication
func (r ResourceConfigApiCopyCateringMenuItemClassesRequest) Authorization(authorization string) ResourceConfigApiCopyCateringMenuItemClassesRequest {
	r.authorization = &authorization
	return r
}

// Client or Partner&#39;s Application Key
func (r ResourceConfigApiCopyCateringMenuItemClassesRequest) XAppKey(xAppKey string) ResourceConfigApiCopyCateringMenuItemClassesRequest {
	r.xAppKey = &xAppKey
	return r
}

// Mandatory parameter to identify the hotel code where the end user is logged in
func (r ResourceConfigApiCopyCateringMenuItemClassesRequest) XHotelid(xHotelid string) ResourceConfigApiCopyCateringMenuItemClassesRequest {
	r.xHotelid = &xHotelid
	return r
}

// Request object for Copying Menu Item Classes.
func (r ResourceConfigApiCopyCateringMenuItemClassesRequest) CateringMenuItemClassesCopy(cateringMenuItemClassesCopy CopyCateringMenuItemClassesRequest) ResourceConfigApiCopyCateringMenuItemClassesRequest {
	r.cateringMenuItemClassesCopy = &cateringMenuItemClassesCopy
	return r
}

// External system code.
func (r ResourceConfigApiCopyCateringMenuItemClassesRequest) XExternalsystem(xExternalsystem string) ResourceConfigApiCopyCateringMenuItemClassesRequest {
	r.xExternalsystem = &xExternalsystem
	return r
}

// Language code
func (r ResourceConfigApiCopyCateringMenuItemClassesRequest) AcceptLanguage(acceptLanguage string) ResourceConfigApiCopyCateringMenuItemClassesRequest {
	r.acceptLanguage = &acceptLanguage
	return r
}

func (r ResourceConfigApiCopyCateringMenuItemClassesRequest) Execute() (*Status, *http.Response, error) {
	return r.ApiService.CopyCateringMenuItemClassesExecute(r)
}

/*
CopyCateringMenuItemClasses Copy menu item classes

You can use this API to copy menu item classes. <p><strong>OperationId:</strong>copyCateringMenuItemClasses</p>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param cateringMenuItemClassesCode Unique Menu Item Class Id
 @return ResourceConfigApiCopyCateringMenuItemClassesRequest
*/
func (a *ResourceConfigApiService) CopyCateringMenuItemClasses(ctx context.Context, cateringMenuItemClassesCode string) ResourceConfigApiCopyCateringMenuItemClassesRequest {
	return ResourceConfigApiCopyCateringMenuItemClassesRequest{
		ApiService: a,
		ctx: ctx,
		cateringMenuItemClassesCode: cateringMenuItemClassesCode,
	}
}

// Execute executes the request
//  @return Status
func (a *ResourceConfigApiService) CopyCateringMenuItemClassesExecute(r ResourceConfigApiCopyCateringMenuItemClassesRequest) (*Status, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *Status
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ResourceConfigApiService.CopyCateringMenuItemClasses")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/cateringMenuItemClasses/{cateringMenuItemClassesCode}/copy"
	localVarPath = strings.Replace(localVarPath, "{"+"cateringMenuItemClassesCode"+"}", url.PathEscape(parameterValueToString(r.cateringMenuItemClassesCode, "cateringMenuItemClassesCode")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if strlen(r.cateringMenuItemClassesCode) < 1 {
		return localVarReturnValue, nil, reportError("cateringMenuItemClassesCode must have at least 1 elements")
	}
	if strlen(r.cateringMenuItemClassesCode) > 2000 {
		return localVarReturnValue, nil, reportError("cateringMenuItemClassesCode must have less than 2000 elements")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json;charset=UTF-8"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json;charset=UTF-8"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xExternalsystem != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-externalsystem", r.xExternalsystem, "")
	}
	if r.acceptLanguage != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accept-Language", r.acceptLanguage, "")
	}
	// body params
	localVarPostBody = r.cateringMenuItemClassesCopy
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ResourceConfigApiCopyCateringMenuItemsRequest struct {
	ctx context.Context
	ApiService *ResourceConfigApiService
	hotelId string
	authorization *string
	xAppKey *string
	xHotelid *string
	cateringMenuItemsCopy *CopyCateringMenuItemsRequest
	xExternalsystem *string
	acceptLanguage *string
}

// Bearer token that needs to be passed which is generated post user authentication
func (r ResourceConfigApiCopyCateringMenuItemsRequest) Authorization(authorization string) ResourceConfigApiCopyCateringMenuItemsRequest {
	r.authorization = &authorization
	return r
}

// Client or Partner&#39;s Application Key
func (r ResourceConfigApiCopyCateringMenuItemsRequest) XAppKey(xAppKey string) ResourceConfigApiCopyCateringMenuItemsRequest {
	r.xAppKey = &xAppKey
	return r
}

// Mandatory parameter to identify the hotel code where the end user is logged in
func (r ResourceConfigApiCopyCateringMenuItemsRequest) XHotelid(xHotelid string) ResourceConfigApiCopyCateringMenuItemsRequest {
	r.xHotelid = &xHotelid
	return r
}

// Request object for Copying Menu Items.
func (r ResourceConfigApiCopyCateringMenuItemsRequest) CateringMenuItemsCopy(cateringMenuItemsCopy CopyCateringMenuItemsRequest) ResourceConfigApiCopyCateringMenuItemsRequest {
	r.cateringMenuItemsCopy = &cateringMenuItemsCopy
	return r
}

// External system code.
func (r ResourceConfigApiCopyCateringMenuItemsRequest) XExternalsystem(xExternalsystem string) ResourceConfigApiCopyCateringMenuItemsRequest {
	r.xExternalsystem = &xExternalsystem
	return r
}

// Language code
func (r ResourceConfigApiCopyCateringMenuItemsRequest) AcceptLanguage(acceptLanguage string) ResourceConfigApiCopyCateringMenuItemsRequest {
	r.acceptLanguage = &acceptLanguage
	return r
}

func (r ResourceConfigApiCopyCateringMenuItemsRequest) Execute() (*Status, *http.Response, error) {
	return r.ApiService.CopyCateringMenuItemsExecute(r)
}

/*
CopyCateringMenuItems Operation to copy catering menu items.

 <p><strong>OperationId:</strong>copyCateringMenuItems</p>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param hotelId Unique OPERA Hotel Id
 @return ResourceConfigApiCopyCateringMenuItemsRequest
*/
func (a *ResourceConfigApiService) CopyCateringMenuItems(ctx context.Context, hotelId string) ResourceConfigApiCopyCateringMenuItemsRequest {
	return ResourceConfigApiCopyCateringMenuItemsRequest{
		ApiService: a,
		ctx: ctx,
		hotelId: hotelId,
	}
}

// Execute executes the request
//  @return Status
func (a *ResourceConfigApiService) CopyCateringMenuItemsExecute(r ResourceConfigApiCopyCateringMenuItemsRequest) (*Status, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *Status
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ResourceConfigApiService.CopyCateringMenuItems")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/hotels/{hotelId}/cateringMenuItems/copy"
	localVarPath = strings.Replace(localVarPath, "{"+"hotelId"+"}", url.PathEscape(parameterValueToString(r.hotelId, "hotelId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if strlen(r.hotelId) < 1 {
		return localVarReturnValue, nil, reportError("hotelId must have at least 1 elements")
	}
	if strlen(r.hotelId) > 2000 {
		return localVarReturnValue, nil, reportError("hotelId must have less than 2000 elements")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json;charset=UTF-8"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json;charset=UTF-8"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xExternalsystem != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-externalsystem", r.xExternalsystem, "")
	}
	if r.acceptLanguage != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accept-Language", r.acceptLanguage, "")
	}
	// body params
	localVarPostBody = r.cateringMenuItemsCopy
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ResourceConfigApiCopyCateringMenusRequest struct {
	ctx context.Context
	ApiService *ResourceConfigApiService
	cateringMenuId string
	hotelId string
	authorization *string
	xAppKey *string
	xHotelid *string
	cateringMenusCopy *CopyCateringMenusRequest
	xExternalsystem *string
	acceptLanguage *string
}

// Bearer token that needs to be passed which is generated post user authentication
func (r ResourceConfigApiCopyCateringMenusRequest) Authorization(authorization string) ResourceConfigApiCopyCateringMenusRequest {
	r.authorization = &authorization
	return r
}

// Client or Partner&#39;s Application Key
func (r ResourceConfigApiCopyCateringMenusRequest) XAppKey(xAppKey string) ResourceConfigApiCopyCateringMenusRequest {
	r.xAppKey = &xAppKey
	return r
}

// Mandatory parameter to identify the hotel code where the end user is logged in
func (r ResourceConfigApiCopyCateringMenusRequest) XHotelid(xHotelid string) ResourceConfigApiCopyCateringMenusRequest {
	r.xHotelid = &xHotelid
	return r
}

// Request object for copying a Menu.
func (r ResourceConfigApiCopyCateringMenusRequest) CateringMenusCopy(cateringMenusCopy CopyCateringMenusRequest) ResourceConfigApiCopyCateringMenusRequest {
	r.cateringMenusCopy = &cateringMenusCopy
	return r
}

// External system code.
func (r ResourceConfigApiCopyCateringMenusRequest) XExternalsystem(xExternalsystem string) ResourceConfigApiCopyCateringMenusRequest {
	r.xExternalsystem = &xExternalsystem
	return r
}

// Language code
func (r ResourceConfigApiCopyCateringMenusRequest) AcceptLanguage(acceptLanguage string) ResourceConfigApiCopyCateringMenusRequest {
	r.acceptLanguage = &acceptLanguage
	return r
}

func (r ResourceConfigApiCopyCateringMenusRequest) Execute() (*Status, *http.Response, error) {
	return r.ApiService.CopyCateringMenusExecute(r)
}

/*
CopyCateringMenus Copy a menu

Copy a menu for a property. <p><strong>OperationId:</strong>copyCateringMenus</p>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param cateringMenuId Unique ID of Catering Menu
 @param hotelId Unique OPERA Hotel Id
 @return ResourceConfigApiCopyCateringMenusRequest
*/
func (a *ResourceConfigApiService) CopyCateringMenus(ctx context.Context, cateringMenuId string, hotelId string) ResourceConfigApiCopyCateringMenusRequest {
	return ResourceConfigApiCopyCateringMenusRequest{
		ApiService: a,
		ctx: ctx,
		cateringMenuId: cateringMenuId,
		hotelId: hotelId,
	}
}

// Execute executes the request
//  @return Status
func (a *ResourceConfigApiService) CopyCateringMenusExecute(r ResourceConfigApiCopyCateringMenusRequest) (*Status, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *Status
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ResourceConfigApiService.CopyCateringMenus")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/hotels/{hotelId}/cateringMenus/{cateringMenuId}/copy"
	localVarPath = strings.Replace(localVarPath, "{"+"cateringMenuId"+"}", url.PathEscape(parameterValueToString(r.cateringMenuId, "cateringMenuId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"hotelId"+"}", url.PathEscape(parameterValueToString(r.hotelId, "hotelId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if strlen(r.cateringMenuId) < 1 {
		return localVarReturnValue, nil, reportError("cateringMenuId must have at least 1 elements")
	}
	if strlen(r.cateringMenuId) > 2000 {
		return localVarReturnValue, nil, reportError("cateringMenuId must have less than 2000 elements")
	}
	if strlen(r.hotelId) < 1 {
		return localVarReturnValue, nil, reportError("hotelId must have at least 1 elements")
	}
	if strlen(r.hotelId) > 2000 {
		return localVarReturnValue, nil, reportError("hotelId must have less than 2000 elements")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json;charset=UTF-8"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json;charset=UTF-8"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xExternalsystem != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-externalsystem", r.xExternalsystem, "")
	}
	if r.acceptLanguage != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accept-Language", r.acceptLanguage, "")
	}
	// body params
	localVarPostBody = r.cateringMenusCopy
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ResourceConfigApiCopyEventForecastsRequest struct {
	ctx context.Context
	ApiService *ResourceConfigApiService
	authorization *string
	xAppKey *string
	xHotelid *string
	eventForecastsCopy *CopyEventForecastsRequest
	xExternalsystem *string
	acceptLanguage *string
}

// Bearer token that needs to be passed which is generated post user authentication
func (r ResourceConfigApiCopyEventForecastsRequest) Authorization(authorization string) ResourceConfigApiCopyEventForecastsRequest {
	r.authorization = &authorization
	return r
}

// Client or Partner&#39;s Application Key
func (r ResourceConfigApiCopyEventForecastsRequest) XAppKey(xAppKey string) ResourceConfigApiCopyEventForecastsRequest {
	r.xAppKey = &xAppKey
	return r
}

// Mandatory parameter to identify the hotel code where the end user is logged in
func (r ResourceConfigApiCopyEventForecastsRequest) XHotelid(xHotelid string) ResourceConfigApiCopyEventForecastsRequest {
	r.xHotelid = &xHotelid
	return r
}

// Request object for Copying Event Forecasts to multiple hotels.
func (r ResourceConfigApiCopyEventForecastsRequest) EventForecastsCopy(eventForecastsCopy CopyEventForecastsRequest) ResourceConfigApiCopyEventForecastsRequest {
	r.eventForecastsCopy = &eventForecastsCopy
	return r
}

// External system code.
func (r ResourceConfigApiCopyEventForecastsRequest) XExternalsystem(xExternalsystem string) ResourceConfigApiCopyEventForecastsRequest {
	r.xExternalsystem = &xExternalsystem
	return r
}

// Language code
func (r ResourceConfigApiCopyEventForecastsRequest) AcceptLanguage(acceptLanguage string) ResourceConfigApiCopyEventForecastsRequest {
	r.acceptLanguage = &acceptLanguage
	return r
}

func (r ResourceConfigApiCopyEventForecastsRequest) Execute() (*Status, *http.Response, error) {
	return r.ApiService.CopyEventForecastsExecute(r)
}

/*
CopyEventForecasts Copy event forecasts

This API will allow you to copy an Event Forecast from a property to another. <p><strong>OperationId:</strong>copyEventForecasts</p>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ResourceConfigApiCopyEventForecastsRequest
*/
func (a *ResourceConfigApiService) CopyEventForecasts(ctx context.Context) ResourceConfigApiCopyEventForecastsRequest {
	return ResourceConfigApiCopyEventForecastsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return Status
func (a *ResourceConfigApiService) CopyEventForecastsExecute(r ResourceConfigApiCopyEventForecastsRequest) (*Status, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *Status
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ResourceConfigApiService.CopyEventForecasts")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/EventForecasts/copy"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json;charset=UTF-8"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json;charset=UTF-8"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xExternalsystem != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-externalsystem", r.xExternalsystem, "")
	}
	if r.acceptLanguage != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accept-Language", r.acceptLanguage, "")
	}
	// body params
	localVarPostBody = r.eventForecastsCopy
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ResourceConfigApiCopyInventoryItemsRequest struct {
	ctx context.Context
	ApiService *ResourceConfigApiService
	sourceHotelId string
	authorization *string
	xAppKey *string
	xHotelid *string
	inventoryItemsCopy *CopyInventoryItemsRequest
	xExternalsystem *string
	acceptLanguage *string
}

// Bearer token that needs to be passed which is generated post user authentication
func (r ResourceConfigApiCopyInventoryItemsRequest) Authorization(authorization string) ResourceConfigApiCopyInventoryItemsRequest {
	r.authorization = &authorization
	return r
}

// Client or Partner&#39;s Application Key
func (r ResourceConfigApiCopyInventoryItemsRequest) XAppKey(xAppKey string) ResourceConfigApiCopyInventoryItemsRequest {
	r.xAppKey = &xAppKey
	return r
}

// Mandatory parameter to identify the hotel code where the end user is logged in
func (r ResourceConfigApiCopyInventoryItemsRequest) XHotelid(xHotelid string) ResourceConfigApiCopyInventoryItemsRequest {
	r.xHotelid = &xHotelid
	return r
}

// Request object for copying Inventory Items Setup configuration
func (r ResourceConfigApiCopyInventoryItemsRequest) InventoryItemsCopy(inventoryItemsCopy CopyInventoryItemsRequest) ResourceConfigApiCopyInventoryItemsRequest {
	r.inventoryItemsCopy = &inventoryItemsCopy
	return r
}

// External system code.
func (r ResourceConfigApiCopyInventoryItemsRequest) XExternalsystem(xExternalsystem string) ResourceConfigApiCopyInventoryItemsRequest {
	r.xExternalsystem = &xExternalsystem
	return r
}

// Language code
func (r ResourceConfigApiCopyInventoryItemsRequest) AcceptLanguage(acceptLanguage string) ResourceConfigApiCopyInventoryItemsRequest {
	r.acceptLanguage = &acceptLanguage
	return r
}

func (r ResourceConfigApiCopyInventoryItemsRequest) Execute() (*Status, *http.Response, error) {
	return r.ApiService.CopyInventoryItemsExecute(r)
}

/*
CopyInventoryItems Copy Item Inventories

This API will allow you to select multiple Item Inventories from the Source Property and copy to the Target Property. <p><strong>OperationId:</strong>copyInventoryItems</p>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param sourceHotelId Unique ID of source hotel.
 @return ResourceConfigApiCopyInventoryItemsRequest
*/
func (a *ResourceConfigApiService) CopyInventoryItems(ctx context.Context, sourceHotelId string) ResourceConfigApiCopyInventoryItemsRequest {
	return ResourceConfigApiCopyInventoryItemsRequest{
		ApiService: a,
		ctx: ctx,
		sourceHotelId: sourceHotelId,
	}
}

// Execute executes the request
//  @return Status
func (a *ResourceConfigApiService) CopyInventoryItemsExecute(r ResourceConfigApiCopyInventoryItemsRequest) (*Status, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *Status
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ResourceConfigApiService.CopyInventoryItems")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/hotels/{sourceHotelId}/inventoryItems/copy"
	localVarPath = strings.Replace(localVarPath, "{"+"sourceHotelId"+"}", url.PathEscape(parameterValueToString(r.sourceHotelId, "sourceHotelId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if strlen(r.sourceHotelId) < 1 {
		return localVarReturnValue, nil, reportError("sourceHotelId must have at least 1 elements")
	}
	if strlen(r.sourceHotelId) > 2000 {
		return localVarReturnValue, nil, reportError("sourceHotelId must have less than 2000 elements")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json;charset=UTF-8"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json;charset=UTF-8"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xExternalsystem != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-externalsystem", r.xExternalsystem, "")
	}
	if r.acceptLanguage != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accept-Language", r.acceptLanguage, "")
	}
	// body params
	localVarPostBody = r.inventoryItemsCopy
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ResourceConfigApiCopyItemClassesRequest struct {
	ctx context.Context
	ApiService *ResourceConfigApiService
	authorization *string
	xAppKey *string
	xHotelid *string
	itemClassesCopy *UNKNOWN_BASE_TYPE
	xExternalsystem *string
	acceptLanguage *string
}

// Bearer token that needs to be passed which is generated post user authentication
func (r ResourceConfigApiCopyItemClassesRequest) Authorization(authorization string) ResourceConfigApiCopyItemClassesRequest {
	r.authorization = &authorization
	return r
}

// Client or Partner&#39;s Application Key
func (r ResourceConfigApiCopyItemClassesRequest) XAppKey(xAppKey string) ResourceConfigApiCopyItemClassesRequest {
	r.xAppKey = &xAppKey
	return r
}

// Mandatory parameter to identify the hotel code where the end user is logged in
func (r ResourceConfigApiCopyItemClassesRequest) XHotelid(xHotelid string) ResourceConfigApiCopyItemClassesRequest {
	r.xHotelid = &xHotelid
	return r
}

// List of the Item Class to be copied.
func (r ResourceConfigApiCopyItemClassesRequest) ItemClassesCopy(itemClassesCopy UNKNOWN_BASE_TYPE) ResourceConfigApiCopyItemClassesRequest {
	r.itemClassesCopy = &itemClassesCopy
	return r
}

// External system code.
func (r ResourceConfigApiCopyItemClassesRequest) XExternalsystem(xExternalsystem string) ResourceConfigApiCopyItemClassesRequest {
	r.xExternalsystem = &xExternalsystem
	return r
}

// Language code
func (r ResourceConfigApiCopyItemClassesRequest) AcceptLanguage(acceptLanguage string) ResourceConfigApiCopyItemClassesRequest {
	r.acceptLanguage = &acceptLanguage
	return r
}

func (r ResourceConfigApiCopyItemClassesRequest) Execute() (*Status, *http.Response, error) {
	return r.ApiService.CopyItemClassesExecute(r)
}

/*
CopyItemClasses Copy item classes

You can use this API to copy item classes. <p><strong>OperationId:</strong>copyItemClasses</p>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ResourceConfigApiCopyItemClassesRequest
*/
func (a *ResourceConfigApiService) CopyItemClasses(ctx context.Context) ResourceConfigApiCopyItemClassesRequest {
	return ResourceConfigApiCopyItemClassesRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return Status
func (a *ResourceConfigApiService) CopyItemClassesExecute(r ResourceConfigApiCopyItemClassesRequest) (*Status, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *Status
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ResourceConfigApiService.CopyItemClasses")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/itemClasses/copy"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json;charset=UTF-8"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json;charset=UTF-8"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xExternalsystem != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-externalsystem", r.xExternalsystem, "")
	}
	if r.acceptLanguage != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accept-Language", r.acceptLanguage, "")
	}
	// body params
	localVarPostBody = r.itemClassesCopy
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ResourceConfigApiDeleteCateringContainersRequest struct {
	ctx context.Context
	ApiService *ResourceConfigApiService
	cateringContainersCode string
	authorization *string
	xAppKey *string
	xHotelid *string
	xExternalsystem *string
	acceptLanguage *string
}

// Bearer token that needs to be passed which is generated post user authentication
func (r ResourceConfigApiDeleteCateringContainersRequest) Authorization(authorization string) ResourceConfigApiDeleteCateringContainersRequest {
	r.authorization = &authorization
	return r
}

// Client or Partner&#39;s Application Key
func (r ResourceConfigApiDeleteCateringContainersRequest) XAppKey(xAppKey string) ResourceConfigApiDeleteCateringContainersRequest {
	r.xAppKey = &xAppKey
	return r
}

// Mandatory parameter to identify the hotel code where the end user is logged in
func (r ResourceConfigApiDeleteCateringContainersRequest) XHotelid(xHotelid string) ResourceConfigApiDeleteCateringContainersRequest {
	r.xHotelid = &xHotelid
	return r
}

// External system code.
func (r ResourceConfigApiDeleteCateringContainersRequest) XExternalsystem(xExternalsystem string) ResourceConfigApiDeleteCateringContainersRequest {
	r.xExternalsystem = &xExternalsystem
	return r
}

// Language code
func (r ResourceConfigApiDeleteCateringContainersRequest) AcceptLanguage(acceptLanguage string) ResourceConfigApiDeleteCateringContainersRequest {
	r.acceptLanguage = &acceptLanguage
	return r
}

func (r ResourceConfigApiDeleteCateringContainersRequest) Execute() (*Status, *http.Response, error) {
	return r.ApiService.DeleteCateringContainersExecute(r)
}

/*
DeleteCateringContainers Delete Catering container

This API allows you to delete an existing Menu Item Catering Container code. <p><strong>OperationId:</strong>deleteCateringContainers</p>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param cateringContainersCode Unique Catering Container Code
 @return ResourceConfigApiDeleteCateringContainersRequest
*/
func (a *ResourceConfigApiService) DeleteCateringContainers(ctx context.Context, cateringContainersCode string) ResourceConfigApiDeleteCateringContainersRequest {
	return ResourceConfigApiDeleteCateringContainersRequest{
		ApiService: a,
		ctx: ctx,
		cateringContainersCode: cateringContainersCode,
	}
}

// Execute executes the request
//  @return Status
func (a *ResourceConfigApiService) DeleteCateringContainersExecute(r ResourceConfigApiDeleteCateringContainersRequest) (*Status, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *Status
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ResourceConfigApiService.DeleteCateringContainers")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/cateringContainers/{cateringContainersCode}"
	localVarPath = strings.Replace(localVarPath, "{"+"cateringContainersCode"+"}", url.PathEscape(parameterValueToString(r.cateringContainersCode, "cateringContainersCode")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if strlen(r.cateringContainersCode) < 1 {
		return localVarReturnValue, nil, reportError("cateringContainersCode must have at least 1 elements")
	}
	if strlen(r.cateringContainersCode) > 2000 {
		return localVarReturnValue, nil, reportError("cateringContainersCode must have less than 2000 elements")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json;charset=UTF-8"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xExternalsystem != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-externalsystem", r.xExternalsystem, "")
	}
	if r.acceptLanguage != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accept-Language", r.acceptLanguage, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ResourceConfigApiDeleteCateringItemRatesRequest struct {
	ctx context.Context
	ApiService *ResourceConfigApiService
	cateringItemRatesCode string
	authorization *string
	xAppKey *string
	xHotelid *string
	xExternalsystem *string
	acceptLanguage *string
}

// Bearer token that needs to be passed which is generated post user authentication
func (r ResourceConfigApiDeleteCateringItemRatesRequest) Authorization(authorization string) ResourceConfigApiDeleteCateringItemRatesRequest {
	r.authorization = &authorization
	return r
}

// Client or Partner&#39;s Application Key
func (r ResourceConfigApiDeleteCateringItemRatesRequest) XAppKey(xAppKey string) ResourceConfigApiDeleteCateringItemRatesRequest {
	r.xAppKey = &xAppKey
	return r
}

// Mandatory parameter to identify the hotel code where the end user is logged in
func (r ResourceConfigApiDeleteCateringItemRatesRequest) XHotelid(xHotelid string) ResourceConfigApiDeleteCateringItemRatesRequest {
	r.xHotelid = &xHotelid
	return r
}

// External system code.
func (r ResourceConfigApiDeleteCateringItemRatesRequest) XExternalsystem(xExternalsystem string) ResourceConfigApiDeleteCateringItemRatesRequest {
	r.xExternalsystem = &xExternalsystem
	return r
}

// Language code
func (r ResourceConfigApiDeleteCateringItemRatesRequest) AcceptLanguage(acceptLanguage string) ResourceConfigApiDeleteCateringItemRatesRequest {
	r.acceptLanguage = &acceptLanguage
	return r
}

func (r ResourceConfigApiDeleteCateringItemRatesRequest) Execute() (*Status, *http.Response, error) {
	return r.ApiService.DeleteCateringItemRatesExecute(r)
}

/*
DeleteCateringItemRates Remove catering item rates

Remove catering item rates code <p><strong>OperationId:</strong>deleteCateringItemRates</p>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param cateringItemRatesCode Unique Catering Item Rates Codes
 @return ResourceConfigApiDeleteCateringItemRatesRequest
*/
func (a *ResourceConfigApiService) DeleteCateringItemRates(ctx context.Context, cateringItemRatesCode string) ResourceConfigApiDeleteCateringItemRatesRequest {
	return ResourceConfigApiDeleteCateringItemRatesRequest{
		ApiService: a,
		ctx: ctx,
		cateringItemRatesCode: cateringItemRatesCode,
	}
}

// Execute executes the request
//  @return Status
func (a *ResourceConfigApiService) DeleteCateringItemRatesExecute(r ResourceConfigApiDeleteCateringItemRatesRequest) (*Status, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *Status
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ResourceConfigApiService.DeleteCateringItemRates")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/cateringItemRates/{cateringItemRatesCode}"
	localVarPath = strings.Replace(localVarPath, "{"+"cateringItemRatesCode"+"}", url.PathEscape(parameterValueToString(r.cateringItemRatesCode, "cateringItemRatesCode")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if strlen(r.cateringItemRatesCode) < 1 {
		return localVarReturnValue, nil, reportError("cateringItemRatesCode must have at least 1 elements")
	}
	if strlen(r.cateringItemRatesCode) > 2000 {
		return localVarReturnValue, nil, reportError("cateringItemRatesCode must have less than 2000 elements")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json;charset=UTF-8"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xExternalsystem != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-externalsystem", r.xExternalsystem, "")
	}
	if r.acceptLanguage != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accept-Language", r.acceptLanguage, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ResourceConfigApiDeleteCateringMenuClassesRequest struct {
	ctx context.Context
	ApiService *ResourceConfigApiService
	menuClassesId string
	authorization *string
	xAppKey *string
	xHotelid *string
	menuClassListIDExtension *[]int32
	menuClassListIdContext *[]string
	menuClassListUniqueIdType *[]string
	xExternalsystem *string
	acceptLanguage *string
}

// Bearer token that needs to be passed which is generated post user authentication
func (r ResourceConfigApiDeleteCateringMenuClassesRequest) Authorization(authorization string) ResourceConfigApiDeleteCateringMenuClassesRequest {
	r.authorization = &authorization
	return r
}

// Client or Partner&#39;s Application Key
func (r ResourceConfigApiDeleteCateringMenuClassesRequest) XAppKey(xAppKey string) ResourceConfigApiDeleteCateringMenuClassesRequest {
	r.xAppKey = &xAppKey
	return r
}

// Mandatory parameter to identify the hotel code where the end user is logged in
func (r ResourceConfigApiDeleteCateringMenuClassesRequest) XHotelid(xHotelid string) ResourceConfigApiDeleteCateringMenuClassesRequest {
	r.xHotelid = &xHotelid
	return r
}

// Additional identifying value assigned by the creating system.
func (r ResourceConfigApiDeleteCateringMenuClassesRequest) MenuClassListIDExtension(menuClassListIDExtension []int32) ResourceConfigApiDeleteCateringMenuClassesRequest {
	r.menuClassListIDExtension = &menuClassListIDExtension
	return r
}

// Used to identify the source of the identifier (e.g., IATA, ABTA).
func (r ResourceConfigApiDeleteCateringMenuClassesRequest) MenuClassListIdContext(menuClassListIdContext []string) ResourceConfigApiDeleteCateringMenuClassesRequest {
	r.menuClassListIdContext = &menuClassListIdContext
	return r
}

// A reference to the type of object defined by the UniqueID element.
func (r ResourceConfigApiDeleteCateringMenuClassesRequest) MenuClassListUniqueIdType(menuClassListUniqueIdType []string) ResourceConfigApiDeleteCateringMenuClassesRequest {
	r.menuClassListUniqueIdType = &menuClassListUniqueIdType
	return r
}

// External system code.
func (r ResourceConfigApiDeleteCateringMenuClassesRequest) XExternalsystem(xExternalsystem string) ResourceConfigApiDeleteCateringMenuClassesRequest {
	r.xExternalsystem = &xExternalsystem
	return r
}

// Language code
func (r ResourceConfigApiDeleteCateringMenuClassesRequest) AcceptLanguage(acceptLanguage string) ResourceConfigApiDeleteCateringMenuClassesRequest {
	r.acceptLanguage = &acceptLanguage
	return r
}

func (r ResourceConfigApiDeleteCateringMenuClassesRequest) Execute() (*Status, *http.Response, error) {
	return r.ApiService.DeleteCateringMenuClassesExecute(r)
}

/*
DeleteCateringMenuClasses Delete menu classes

You can use this API to delete menu classes. <p><strong>OperationId:</strong>deleteCateringMenuClasses</p>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param menuClassesId Unique Catering Menu Class ID
 @return ResourceConfigApiDeleteCateringMenuClassesRequest
*/
func (a *ResourceConfigApiService) DeleteCateringMenuClasses(ctx context.Context, menuClassesId string) ResourceConfigApiDeleteCateringMenuClassesRequest {
	return ResourceConfigApiDeleteCateringMenuClassesRequest{
		ApiService: a,
		ctx: ctx,
		menuClassesId: menuClassesId,
	}
}

// Execute executes the request
//  @return Status
func (a *ResourceConfigApiService) DeleteCateringMenuClassesExecute(r ResourceConfigApiDeleteCateringMenuClassesRequest) (*Status, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *Status
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ResourceConfigApiService.DeleteCateringMenuClasses")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/menuClasses/{menuClassesId}/cateringMenuClasses"
	localVarPath = strings.Replace(localVarPath, "{"+"menuClassesId"+"}", url.PathEscape(parameterValueToString(r.menuClassesId, "menuClassesId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if strlen(r.menuClassesId) < 1 {
		return localVarReturnValue, nil, reportError("menuClassesId must have at least 1 elements")
	}
	if strlen(r.menuClassesId) > 2000 {
		return localVarReturnValue, nil, reportError("menuClassesId must have less than 2000 elements")
	}

	if r.menuClassListIDExtension != nil {
		t := *r.menuClassListIDExtension
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "menuClassListIDExtension", s.Index(i).Interface(), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "menuClassListIDExtension", t, "multi")
		}
	}
	if r.menuClassListIdContext != nil {
		t := *r.menuClassListIdContext
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "menuClassListIdContext", s.Index(i).Interface(), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "menuClassListIdContext", t, "multi")
		}
	}
	if r.menuClassListUniqueIdType != nil {
		t := *r.menuClassListUniqueIdType
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "menuClassListUniqueIdType", s.Index(i).Interface(), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "menuClassListUniqueIdType", t, "multi")
		}
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json;charset=UTF-8"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xExternalsystem != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-externalsystem", r.xExternalsystem, "")
	}
	if r.acceptLanguage != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accept-Language", r.acceptLanguage, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ResourceConfigApiDeleteCateringMenuItemClassesRequest struct {
	ctx context.Context
	ApiService *ResourceConfigApiService
	cateringMenuItemClassesCode string
	authorization *string
	xAppKey *string
	xHotelid *string
	menuItemClassesIdExtension *[]int32
	menuItemClassesIdContext *[]string
	menuItemClassesUniqueIdType *[]string
	xExternalsystem *string
	acceptLanguage *string
}

// Bearer token that needs to be passed which is generated post user authentication
func (r ResourceConfigApiDeleteCateringMenuItemClassesRequest) Authorization(authorization string) ResourceConfigApiDeleteCateringMenuItemClassesRequest {
	r.authorization = &authorization
	return r
}

// Client or Partner&#39;s Application Key
func (r ResourceConfigApiDeleteCateringMenuItemClassesRequest) XAppKey(xAppKey string) ResourceConfigApiDeleteCateringMenuItemClassesRequest {
	r.xAppKey = &xAppKey
	return r
}

// Mandatory parameter to identify the hotel code where the end user is logged in
func (r ResourceConfigApiDeleteCateringMenuItemClassesRequest) XHotelid(xHotelid string) ResourceConfigApiDeleteCateringMenuItemClassesRequest {
	r.xHotelid = &xHotelid
	return r
}

// Additional identifying value assigned by the creating system.
func (r ResourceConfigApiDeleteCateringMenuItemClassesRequest) MenuItemClassesIdExtension(menuItemClassesIdExtension []int32) ResourceConfigApiDeleteCateringMenuItemClassesRequest {
	r.menuItemClassesIdExtension = &menuItemClassesIdExtension
	return r
}

// Used to identify the source of the identifier (e.g., IATA, ABTA).
func (r ResourceConfigApiDeleteCateringMenuItemClassesRequest) MenuItemClassesIdContext(menuItemClassesIdContext []string) ResourceConfigApiDeleteCateringMenuItemClassesRequest {
	r.menuItemClassesIdContext = &menuItemClassesIdContext
	return r
}

// A reference to the type of object defined by the UniqueID element.
func (r ResourceConfigApiDeleteCateringMenuItemClassesRequest) MenuItemClassesUniqueIdType(menuItemClassesUniqueIdType []string) ResourceConfigApiDeleteCateringMenuItemClassesRequest {
	r.menuItemClassesUniqueIdType = &menuItemClassesUniqueIdType
	return r
}

// External system code.
func (r ResourceConfigApiDeleteCateringMenuItemClassesRequest) XExternalsystem(xExternalsystem string) ResourceConfigApiDeleteCateringMenuItemClassesRequest {
	r.xExternalsystem = &xExternalsystem
	return r
}

// Language code
func (r ResourceConfigApiDeleteCateringMenuItemClassesRequest) AcceptLanguage(acceptLanguage string) ResourceConfigApiDeleteCateringMenuItemClassesRequest {
	r.acceptLanguage = &acceptLanguage
	return r
}

func (r ResourceConfigApiDeleteCateringMenuItemClassesRequest) Execute() (*Status, *http.Response, error) {
	return r.ApiService.DeleteCateringMenuItemClassesExecute(r)
}

/*
DeleteCateringMenuItemClasses Delete menu item classes

You can use this API to delete menu item classes. <p><strong>OperationId:</strong>deleteCateringMenuItemClasses</p>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param cateringMenuItemClassesCode Unique Menu Item Class ID
 @return ResourceConfigApiDeleteCateringMenuItemClassesRequest
*/
func (a *ResourceConfigApiService) DeleteCateringMenuItemClasses(ctx context.Context, cateringMenuItemClassesCode string) ResourceConfigApiDeleteCateringMenuItemClassesRequest {
	return ResourceConfigApiDeleteCateringMenuItemClassesRequest{
		ApiService: a,
		ctx: ctx,
		cateringMenuItemClassesCode: cateringMenuItemClassesCode,
	}
}

// Execute executes the request
//  @return Status
func (a *ResourceConfigApiService) DeleteCateringMenuItemClassesExecute(r ResourceConfigApiDeleteCateringMenuItemClassesRequest) (*Status, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *Status
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ResourceConfigApiService.DeleteCateringMenuItemClasses")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/cateringMenuItemClasses/{cateringMenuItemClassesCode}"
	localVarPath = strings.Replace(localVarPath, "{"+"cateringMenuItemClassesCode"+"}", url.PathEscape(parameterValueToString(r.cateringMenuItemClassesCode, "cateringMenuItemClassesCode")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if strlen(r.cateringMenuItemClassesCode) < 1 {
		return localVarReturnValue, nil, reportError("cateringMenuItemClassesCode must have at least 1 elements")
	}
	if strlen(r.cateringMenuItemClassesCode) > 2000 {
		return localVarReturnValue, nil, reportError("cateringMenuItemClassesCode must have less than 2000 elements")
	}

	if r.menuItemClassesIdExtension != nil {
		t := *r.menuItemClassesIdExtension
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "menuItemClassesIdExtension", s.Index(i).Interface(), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "menuItemClassesIdExtension", t, "multi")
		}
	}
	if r.menuItemClassesIdContext != nil {
		t := *r.menuItemClassesIdContext
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "menuItemClassesIdContext", s.Index(i).Interface(), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "menuItemClassesIdContext", t, "multi")
		}
	}
	if r.menuItemClassesUniqueIdType != nil {
		t := *r.menuItemClassesUniqueIdType
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "menuItemClassesUniqueIdType", s.Index(i).Interface(), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "menuItemClassesUniqueIdType", t, "multi")
		}
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json;charset=UTF-8"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xExternalsystem != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-externalsystem", r.xExternalsystem, "")
	}
	if r.acceptLanguage != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accept-Language", r.acceptLanguage, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ResourceConfigApiDeleteCateringMenuItemsRequest struct {
	ctx context.Context
	ApiService *ResourceConfigApiService
	cateringMenuItemId string
	hotelId string
	authorization *string
	xAppKey *string
	xHotelid *string
	xExternalsystem *string
	acceptLanguage *string
}

// Bearer token that needs to be passed which is generated post user authentication
func (r ResourceConfigApiDeleteCateringMenuItemsRequest) Authorization(authorization string) ResourceConfigApiDeleteCateringMenuItemsRequest {
	r.authorization = &authorization
	return r
}

// Client or Partner&#39;s Application Key
func (r ResourceConfigApiDeleteCateringMenuItemsRequest) XAppKey(xAppKey string) ResourceConfigApiDeleteCateringMenuItemsRequest {
	r.xAppKey = &xAppKey
	return r
}

// Mandatory parameter to identify the hotel code where the end user is logged in
func (r ResourceConfigApiDeleteCateringMenuItemsRequest) XHotelid(xHotelid string) ResourceConfigApiDeleteCateringMenuItemsRequest {
	r.xHotelid = &xHotelid
	return r
}

// External system code.
func (r ResourceConfigApiDeleteCateringMenuItemsRequest) XExternalsystem(xExternalsystem string) ResourceConfigApiDeleteCateringMenuItemsRequest {
	r.xExternalsystem = &xExternalsystem
	return r
}

// Language code
func (r ResourceConfigApiDeleteCateringMenuItemsRequest) AcceptLanguage(acceptLanguage string) ResourceConfigApiDeleteCateringMenuItemsRequest {
	r.acceptLanguage = &acceptLanguage
	return r
}

func (r ResourceConfigApiDeleteCateringMenuItemsRequest) Execute() (*Status, *http.Response, error) {
	return r.ApiService.DeleteCateringMenuItemsExecute(r)
}

/*
DeleteCateringMenuItems Operation to remove catering menu items.

 <p><strong>OperationId:</strong>deleteCateringMenuItems</p>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param cateringMenuItemId Unique Catering Menu Item Id
 @param hotelId Unique OPERA Hotel Id
 @return ResourceConfigApiDeleteCateringMenuItemsRequest
*/
func (a *ResourceConfigApiService) DeleteCateringMenuItems(ctx context.Context, cateringMenuItemId string, hotelId string) ResourceConfigApiDeleteCateringMenuItemsRequest {
	return ResourceConfigApiDeleteCateringMenuItemsRequest{
		ApiService: a,
		ctx: ctx,
		cateringMenuItemId: cateringMenuItemId,
		hotelId: hotelId,
	}
}

// Execute executes the request
//  @return Status
func (a *ResourceConfigApiService) DeleteCateringMenuItemsExecute(r ResourceConfigApiDeleteCateringMenuItemsRequest) (*Status, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *Status
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ResourceConfigApiService.DeleteCateringMenuItems")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/hotels/{hotelId}/cateringMenuItems/{cateringMenuItemId}"
	localVarPath = strings.Replace(localVarPath, "{"+"cateringMenuItemId"+"}", url.PathEscape(parameterValueToString(r.cateringMenuItemId, "cateringMenuItemId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"hotelId"+"}", url.PathEscape(parameterValueToString(r.hotelId, "hotelId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if strlen(r.cateringMenuItemId) < 1 {
		return localVarReturnValue, nil, reportError("cateringMenuItemId must have at least 1 elements")
	}
	if strlen(r.cateringMenuItemId) > 2000 {
		return localVarReturnValue, nil, reportError("cateringMenuItemId must have less than 2000 elements")
	}
	if strlen(r.hotelId) < 1 {
		return localVarReturnValue, nil, reportError("hotelId must have at least 1 elements")
	}
	if strlen(r.hotelId) > 2000 {
		return localVarReturnValue, nil, reportError("hotelId must have less than 2000 elements")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json;charset=UTF-8"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xExternalsystem != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-externalsystem", r.xExternalsystem, "")
	}
	if r.acceptLanguage != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accept-Language", r.acceptLanguage, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ResourceConfigApiDeleteCateringMenuItemsByChainRequest struct {
	ctx context.Context
	ApiService *ResourceConfigApiService
	cateringMenuItemId string
	authorization *string
	xAppKey *string
	xHotelid *string
	hotelId *string
	xExternalsystem *string
	acceptLanguage *string
}

// Bearer token that needs to be passed which is generated post user authentication
func (r ResourceConfigApiDeleteCateringMenuItemsByChainRequest) Authorization(authorization string) ResourceConfigApiDeleteCateringMenuItemsByChainRequest {
	r.authorization = &authorization
	return r
}

// Client or Partner&#39;s Application Key
func (r ResourceConfigApiDeleteCateringMenuItemsByChainRequest) XAppKey(xAppKey string) ResourceConfigApiDeleteCateringMenuItemsByChainRequest {
	r.xAppKey = &xAppKey
	return r
}

// Mandatory parameter to identify the hotel code where the end user is logged in
func (r ResourceConfigApiDeleteCateringMenuItemsByChainRequest) XHotelid(xHotelid string) ResourceConfigApiDeleteCateringMenuItemsByChainRequest {
	r.xHotelid = &xHotelid
	return r
}

// The Hotel code which the Catering Menu Items belongs to.
func (r ResourceConfigApiDeleteCateringMenuItemsByChainRequest) HotelId(hotelId string) ResourceConfigApiDeleteCateringMenuItemsByChainRequest {
	r.hotelId = &hotelId
	return r
}

// External system code.
func (r ResourceConfigApiDeleteCateringMenuItemsByChainRequest) XExternalsystem(xExternalsystem string) ResourceConfigApiDeleteCateringMenuItemsByChainRequest {
	r.xExternalsystem = &xExternalsystem
	return r
}

// Language code
func (r ResourceConfigApiDeleteCateringMenuItemsByChainRequest) AcceptLanguage(acceptLanguage string) ResourceConfigApiDeleteCateringMenuItemsByChainRequest {
	r.acceptLanguage = &acceptLanguage
	return r
}

func (r ResourceConfigApiDeleteCateringMenuItemsByChainRequest) Execute() (*Status, *http.Response, error) {
	return r.ApiService.DeleteCateringMenuItemsByChainExecute(r)
}

/*
DeleteCateringMenuItemsByChain Operation to remove catering menu items by chain.

 <p><strong>OperationId:</strong>deleteCateringMenuItemsByChain</p>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param cateringMenuItemId Unique Catering Menu Item Id
 @return ResourceConfigApiDeleteCateringMenuItemsByChainRequest
*/
func (a *ResourceConfigApiService) DeleteCateringMenuItemsByChain(ctx context.Context, cateringMenuItemId string) ResourceConfigApiDeleteCateringMenuItemsByChainRequest {
	return ResourceConfigApiDeleteCateringMenuItemsByChainRequest{
		ApiService: a,
		ctx: ctx,
		cateringMenuItemId: cateringMenuItemId,
	}
}

// Execute executes the request
//  @return Status
func (a *ResourceConfigApiService) DeleteCateringMenuItemsByChainExecute(r ResourceConfigApiDeleteCateringMenuItemsByChainRequest) (*Status, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *Status
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ResourceConfigApiService.DeleteCateringMenuItemsByChain")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/cateringMenuItems/{cateringMenuItemId}"
	localVarPath = strings.Replace(localVarPath, "{"+"cateringMenuItemId"+"}", url.PathEscape(parameterValueToString(r.cateringMenuItemId, "cateringMenuItemId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if strlen(r.cateringMenuItemId) < 1 {
		return localVarReturnValue, nil, reportError("cateringMenuItemId must have at least 1 elements")
	}
	if strlen(r.cateringMenuItemId) > 2000 {
		return localVarReturnValue, nil, reportError("cateringMenuItemId must have less than 2000 elements")
	}

	if r.hotelId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "hotelId", r.hotelId, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json;charset=UTF-8"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xExternalsystem != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-externalsystem", r.xExternalsystem, "")
	}
	if r.acceptLanguage != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accept-Language", r.acceptLanguage, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ExceptionDetailType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ResourceConfigApiDeleteCateringMenuMultiCoursesRequest struct {
	ctx context.Context
	ApiService *ResourceConfigApiService
	coursesId string
	hotelId string
	authorization *string
	xAppKey *string
	xHotelid *string
	courseIdListUniqueIdExtension *[]int32
	courseIdListUniqueIdContext *[]string
	courseIdListUniqueIdType *[]string
	xExternalsystem *string
	acceptLanguage *string
}

// Bearer token that needs to be passed which is generated post user authentication
func (r ResourceConfigApiDeleteCateringMenuMultiCoursesRequest) Authorization(authorization string) ResourceConfigApiDeleteCateringMenuMultiCoursesRequest {
	r.authorization = &authorization
	return r
}

// Client or Partner&#39;s Application Key
func (r ResourceConfigApiDeleteCateringMenuMultiCoursesRequest) XAppKey(xAppKey string) ResourceConfigApiDeleteCateringMenuMultiCoursesRequest {
	r.xAppKey = &xAppKey
	return r
}

// Mandatory parameter to identify the hotel code where the end user is logged in
func (r ResourceConfigApiDeleteCateringMenuMultiCoursesRequest) XHotelid(xHotelid string) ResourceConfigApiDeleteCateringMenuMultiCoursesRequest {
	r.xHotelid = &xHotelid
	return r
}

// Additional identifying value assigned by the creating system.
func (r ResourceConfigApiDeleteCateringMenuMultiCoursesRequest) CourseIdListUniqueIdExtension(courseIdListUniqueIdExtension []int32) ResourceConfigApiDeleteCateringMenuMultiCoursesRequest {
	r.courseIdListUniqueIdExtension = &courseIdListUniqueIdExtension
	return r
}

// Used to identify the source of the identifier (e.g., IATA, ABTA).
func (r ResourceConfigApiDeleteCateringMenuMultiCoursesRequest) CourseIdListUniqueIdContext(courseIdListUniqueIdContext []string) ResourceConfigApiDeleteCateringMenuMultiCoursesRequest {
	r.courseIdListUniqueIdContext = &courseIdListUniqueIdContext
	return r
}

// A reference to the type of object defined by the UniqueID element.
func (r ResourceConfigApiDeleteCateringMenuMultiCoursesRequest) CourseIdListUniqueIdType(courseIdListUniqueIdType []string) ResourceConfigApiDeleteCateringMenuMultiCoursesRequest {
	r.courseIdListUniqueIdType = &courseIdListUniqueIdType
	return r
}

// External system code.
func (r ResourceConfigApiDeleteCateringMenuMultiCoursesRequest) XExternalsystem(xExternalsystem string) ResourceConfigApiDeleteCateringMenuMultiCoursesRequest {
	r.xExternalsystem = &xExternalsystem
	return r
}

// Language code
func (r ResourceConfigApiDeleteCateringMenuMultiCoursesRequest) AcceptLanguage(acceptLanguage string) ResourceConfigApiDeleteCateringMenuMultiCoursesRequest {
	r.acceptLanguage = &acceptLanguage
	return r
}

func (r ResourceConfigApiDeleteCateringMenuMultiCoursesRequest) Execute() (*Status, *http.Response, error) {
	return r.ApiService.DeleteCateringMenuMultiCoursesExecute(r)
}

/*
[...]
