name: Publish latest change to NPM

on:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest-4-cores

    env:
      HOSPITALITY_API_DOCS_DIR: hospitality-api-docs
      HOSPITALITY_API_DOCS_BRANCH: property_23.2.0.0

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Checkout hospitality-api-docs
        uses: actions/checkout@v3
        with:
          repository: oracle/hospitality-api-docs
          path: ${{ env.HOSPITALITY_API_DOCS_DIR }}
          ref: ${{ env.HOSPITALITY_API_DOCS_BRANCH }}

      - uses: actions/setup-node@v3
        timeout-minutes: 2
        with:
          node-version: 20

      - name: Install deps
        run: yarn install

      - name: Get hospitality-api-docs's commit sha
        id: ohip_docs
        run: |
          echo "commit_sha=$(git --git-dir=${{ env.HOSPITALITY_API_DOCS_DIR }}/.git rev-parse HEAD)" >> $GITHUB_OUTPUT

      - name: Create Release
        uses: softprops/action-gh-release@v1
        with:
          prerelease: false
          files: dist/*
          tag_name: ${{ env.HOSPITALITY_API_DOCS_BRANCH }}
          body: |
            Updated to match commit `${{ steps.ohip_docs.outputs.commit_sha }}` 
            - https://github.com/oracle/hospitality-api-docs/commit/${{ steps.ohip_docs.outputs.commit_sha }}
